[2020-04-26 02:45] #1144 closed

[2020-04-26 08:11] #1163 closed

[2020-04-27 02:06] gaocegege commented on #906
@czheng94 Thanks for your comment.

I have one question about your proposal: Where does the user define the trial job? Is it in TrialTemplate.Tfjob?

[2020-04-27 02:21] gaocegege commented on #1167
Ref https://github.com/caicloud/katib/pull/9

[2020-04-27 03:59] hyeonsangjeon commented on #1075
I'll close this issue

[2020-04-27 03:59] #1075 closed

[2020-04-27 04:12] hyeonsangjeon opened #1171 "How can I run an experiment in a namespace other than kubeflow?"
How can I run an experiment in a namespace other than kubeflow?

In the Experiment Monitor UI, there is a screen to search experiments by namespace. However, when I ran experiment in namespace 'default', I got the following error.

CMD
[code]

API
[code]

[2020-04-27 04:17] gaocegege commented on #1171
You need to add a label for the ns, then you can create experiments in that ns.

katib-metricscollector-injection: enabled

[2020-04-27 04:51] hyeonsangjeon commented on #1171
Wow. It works just perfectly as you say.
I made test namespace below,
[code]
then,
[code]

[2020-04-27 08:08] #1160 closed

[2020-04-27 14:51] czheng94 commented on #906
@gaocegege yes.
The advantage of that is you will have strongly-typed job specs to make user's life easier.
And if we are doing that, we should also make those template choices mutually exclusive ( between `TrialTemplate.TfJob` and `TrialTemplate.PytorchJob`, etc.), maybe with a CR validation webhook.

[2020-04-28 08:08] johnugeorge commented on #1170
@jlewi  Can you explain more on the invalid experiment specs that get created? Katib already has a validating webhook

[2020-04-28 10:19] gaocegege commented on #1170
Kubebuilder supports generating OpenAPI schema for CRDs. I think we can support it in the next API version. (v1beta1, maybe)

[2020-04-28 12:46] johnugeorge commented on #1128
related:https://github.com/kubeflow/katib/pull/1150#discussion_r409626967

[2020-04-29 00:20] jlewi commented on #1170
I believe the customer was passing names which were too long for the experiments and this caused the controller to stop working.

[2020-04-29 03:07] gaocegege opened #1173 "[feature request] Show search results in TensorBoard"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Ref https://www.tensorflow.org/tensorboard/hyperparameter_tuning_with_hparams

Tensorboard has a plugin for hyperparameter tuning:

[code]

And it is similar to Katib UI. I think we can investigate if we could show the katib results in TensorBoard.

**Anything else you would like to a

[2020-04-29 03:07] gaocegege commented on #1173
![图片](https://user-images.githubusercontent.com/5100735/80557485-a1ac8c00-8a09-11ea-9536-f0784b16245e.png)

[2020-04-29 03:09] gaocegege commented on #1173
https://rllib.readthedocs.io/en/latest/tune.html Ray Tune already supports it.

[2020-04-29 14:01] hyeonsangjeon commented on #1171
I've close it

[2020-04-29 14:01] #1171 closed

[2020-04-29 14:13] hyeonsangjeon opened #1174 "How do I run an experiment on a k8s cluster with taint?"
I have a question about katib excution of on k8s taint cluster.
I ran katib on k8s with 5 clusters.
Currently, all 5 clusters have a taint.
When experiment is executed, it was not working with the pending state.

Can you tell me how can run the experiment on If you have a all the taint k8s?
Can put the toleration setting in the experiment yaml?

[code]

[code]

I ran the test yaml below this, but

[2020-04-30 12:59] andreyvelich commented on #1061
Close this issue, since PR is merged.
/close

[2020-04-30 12:59] #1061 closed

[2020-04-30 13:00] andreyvelich commented on #1062
/priority p0

[2020-05-04 16:11] andreyvelich commented on #1062
@johnugeorge @gaocegege What do you think about saving Suggestion states using object serialisation, e.g pickle in Python: https://docs.python.org/3/library/pickle.html.
I believe Fairing also uses pickle to serialise training code.

In that case, if `ResumeExperiment: Always`, after each GetSuggestion call, Suggestion can create pickle file with the current object state. Each suggestion has `<Alg

[2020-05-05 12:05] gaocegege commented on #1062
The approach LGTM if the suggestion is implemented in Python. But I prefer a general solution for different languages.

[2020-05-05 20:05] andreyvelich commented on #1167
Check-list to integrate DARTS in Katib:

1. [ ] DARTS Suggestion + Training Container
2. [ ] Build image in the CI, update `katib-config`
3. [ ] Add tests for the service
4. [ ] Update documentation for DARTS

[2020-05-06 02:22] gaocegege commented on #1167
Ref https://github.com/kubeflow/katib/pull/1175

[2020-05-06 21:56] andreyvelich commented on #906
After discussion about Trial template we made few suggestions.

Using Tekton might be a problem in Katib. For Tekton tasks we still need to define Specification for different jobs (TFJob, MPIJob, PytorchJob), since they have different API structure. Also, using Tekton tasks as Trial Template would need huge Katib controller changes. Another point, Tekton is not part of Kubeflow project, which make

[2020-05-07 02:40] gaocegege commented on #906
LGTM. I think we can come to the agreement.

[2020-05-07 03:33] jlewi commented on #906
Thanks. Some questions (not blocking; please consider me just a bystander).

* Why have a single TrialTemplate resource with a union of types as opposed to multiple CR's all adhering to the same model? e.g.

   * type TFJobTemplate {}
   * type PyTorchTemplate{}

* Why  do we need ParametersInjectPolicy? Can we follow what tekton does and then just look for strings `$(parameter.name)` in various p

[2020-05-07 15:51] andreyvelich commented on #906
That because operators specification have different structure. For example, TF Operator (https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/tensorflow/v1/types.go#L47) and MPI Operator (https://github.com/kubeflow/mpi-operator/blob/master/pkg/apis/kubeflow/v1/types.go#L40). I think we want to support all operators functionalities in Trial Template.

In that case we should again convert `

[2020-05-07 16:17] jlewi commented on #906
So there are two ways to support this

1. Have a single Trial resource that is a union of all operator types
1. Have multiple Trial resource types; 1 for each operator

    * Your experiment could then be a reference to the specific resource
       * It looks like you are currently inlining trialTemplate into Experiment (https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/tfjob-example

[2020-05-07 16:43] andreyvelich commented on #906
Is it common in Kubernetes to use API resource as lambda function to support any kind of Operators/Jobs which follow the way of Katib Trial Template?
Can you give an example, how API will be in that case?

Yes, because Trial Template is the part of Experiment API.

[2020-05-07 23:36] andreyvelich commented on #1168
Thank you for your issue @czheng94.
Yes, hyperband suggestion can't generate new Trials after first run. @gaocegege Is it possible for hyperband to create `request number` of Trials in the second `getSuggestion` call ?

[2020-05-08 01:45] gaocegege commented on #906
In this case, I am not sure how to define the spec of the TFJob.

[2020-05-08 10:20] YuxiJin-tobeyjin opened #1181 "Katib doesn't support mpijob"
/kind bug

**What steps did you take and what happened:**
Deploy katib and mpi-operator in my local kubernetes cluster，
[code]
Use kubectl to create an experiment using MPIJob, the creating result is failed, log is as follows:
[code]
**What did you expect to happen:**
Experiment created successfully, Trial and MPIJob can run properly.

**Anything else you would like to add:**
[Miscellaneous inform

[2020-05-08 10:23] YuxiJin-tobeyjin commented on #1181
I'm working on it, and i can summit a PR if needed.

[2020-05-08 14:47] jlewi commented on #906
I think duck typing is a common pattern. Here's a [doc from knative](https://docs.google.com/document/d/16j8C91jML4fQRQPhnHihNJUJDcbvW0RM1YAX2REHgyY/edit#). I think the problem statement is a really good explanation of why it might be valuable for Katib.

In particular, I would like to promote loose coupling between Katib and other bits of Kubeflow (e.g. the Job operators).

I'm not aware of anyon

[2020-05-08 15:43] andreyvelich commented on #1167
Close this since DARTS is implemented to Katib.

[2020-05-08 15:43] #1167 closed

[2020-05-08 16:52] andreyvelich commented on #906
What is the advantages for Katib to create separate resource for each job, e.g TFJobTrialRun for TFOperator and PytorchJobTrialRun for PytorchOperator?

Trial in Katib has unique structure and difference between various operators only in RunSpec: https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/trials/v1alpha3/trial_types.go#L35.

[2020-05-08 21:04] jlewi commented on #906
The advantage is to make Katib loosely coupled with the individual operators. Right now it is not loosely decoupled. i.e. Katib needs to be explicitly updated to add support for each type of resource.

I'm not familiar with the specifics of your API to know where you separate things out so maybe its not Trial maybe its Runspec. I'm a little confused because I don't see Experiment in trial_types.go

[2020-05-08 21:09] jlewi commented on #906
So looking at the current example:
https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1alpha3/random-example.yaml

It looks like the custom resource is Experiment which embeds TrialTemplate. If we we follow that, I would suggest changing it to something like

[code]

The experiment controller would then create TfJobTrialRuns from the TFJobTrialTemplate for each trial.

I think this

[2020-05-08 22:56] andreyvelich commented on #692
I have an idea how we can implement Early Stopping in current Katib functionality.

Maybe instead of creating independent service for Early Stopping, try to Mutate another container to Trial Pod, like we are doing with metrics collector, and stop main training process when Trial needs to be early stopped.

This is an example for median stopping rule:

1. Katib is training and reporting metrics for

[2020-05-08 23:46] andreyvelich commented on #906
It is because each Experiment CR includes created Trial resources.
In Experiment user defines search space, algorithm and specification for Training job (Trial Template).

In that case, these custom resources should be installing to the cluster in advance? E.g TfJobTrialRuns for TFJobs. Or I misunderstand something?
Also, I still can't understand how API will look, if we want to support any user r

[2020-05-09 08:06] gaocegege commented on #1181
@YuxiJin-tobeyjin

Thanks. But prefer to have a proposal about it to illustrate that it works.

Thanks for your contribution! :tada: :+1:

[2020-05-09 08:10] gaocegege commented on #692
It will be hard to implement some complex logic this way. I think. There are many early stopping algorithms.

[2020-05-09 09:43] YuxiJin-tobeyjin commented on #1181
@gaocegege Thanks for your reply.

OK, thanks to https://github.com/kubeflow/katib/issues/341 , now supporting mpijpb or other kubeflow jobs are not very complicated。
As for mpijob the modifications are listed as follows:
1.  Modify katib-controller clusterRole to add mpijobs.
2.  Add mpijob defination in katib const and related handling during job init.
3.  As mpijob has no master, it only consis

[2020-05-09 15:34] andreyvelich commented on #692
@gaocegege Is there any early stopping algorithms where analysing logs from Training Container can be not enough ?

[2020-05-10 05:02] johnugeorge commented on #692
Failing a Job might be wrong as it gives a wrong meaning to the user.

From what you told, why don't we follow the same route as the metric collector.  Katib controller in each iteration  takes the decision whether early stopping condition is met and marks the experiment successful with message saying that early stopping condition is met.

[2020-05-10 14:48] andreyvelich commented on #692
In case of early stopping, Job will be succeeded.

How Katib controller can get information about each iteration? Currently, metrics collector parses logs only ones Training Job is completed. And Trial controller watches only for Training Job changes: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1alpha3/trial/trial_controller.go#L97.

[2020-05-11 01:34] gaocegege commented on #1181
OK, LGTM. Welcome contributions!

/cc @johnugeorge @andreyvelich

[2020-05-11 04:58] johnugeorge commented on #1181
LGTM.
Thanks @YuxiJin-tobeyjin for your contribution

[2020-05-11 10:41] devxoxo opened #1182 "trial status is False"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The status of all trials is False.
After running `get trial` and checking, it seems that the metrics are not collected well.
But I don't know the exact reason.
The yaml file I used is [here](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml).
I used the

[2020-05-11 13:00] andreyvelich commented on #1182
@devxoxo I think your Trial Pod doesn't have metrics collector container.
How did you install Katib?

[2020-05-11 13:05] jieunchoi1120 commented on #1182
I installed Katib using [deploy.sh](https://github.com/kubeflow/katib/blob/master/scripts/v1alpha3/deploy.sh)

[2020-05-11 13:08] devxoxo commented on #1182
Thank you for your answer, I installed Katib using [deploy.sh](https://github.com/kubeflow/katib/blob/master/scripts/v1alpha3/deploy.sh)

[2020-05-11 13:29] andreyvelich commented on #1182
@devxoxo Can you check your webhook: `kubectl get mutatingwebhookconfigurations katib-mutating-webhook-config` and describe kubeflow namespace: `kubectl describe ns kubeflow`?

[2020-05-12 00:14] jlewi commented on #906
@andreyvelich Do you want to add to the agenda for an upcoming community and we can discuss in person?

In Experiment user defines search space, algorithm and specification for Training job (Trial Template)

Ok so TrialTemplate is a field in [Experiment](https://github.com/kubeflow/katib/blob/99de8f8b44c43ac79d883c2b6593f9e120bfd912/pkg/apis/controller/experiments/v1alpha3/experiment_types.go#L35)

[2020-05-12 01:18] devxoxo commented on #1182
The results are followed

[code]
[code]

[2020-05-12 01:49] gaocegege commented on #1182
Seems that the webhook does not work well.

[2020-05-12 05:00] sperlingxx opened #1186 "Pull Request #1176 broke backward compatibility"
/kind bug

**What steps did you take and what happened:**
The refactoring of metric schema in this [commit](https://github.com/kubeflow/katib/commit/2d35d5583e033645848c7d585628c6212b47cc2c) made the schema of `TrialStatus.Observation` incompatible with legacy trials (because float metric value in legacy trials can't be parsed as string value).  So, the trial controller will crash after updating t

[2020-05-12 06:57] gaocegege commented on #1186
How about creating a new version v1beta1 @johnugeorge @andreyvelich

[2020-05-12 07:10] devxoxo commented on #1182
If the webhook is not working well, what is the solution?

[2020-05-12 10:58] andreyvelich commented on #906
@jlewi Sure, let's discuss it on Kubeflow meeting.

[2020-05-12 12:00] andreyvelich commented on #1182
@devxoxo Try to uninstall all Katib components: https://github.com/kubeflow/katib/blob/master/scripts/v1alpha3/undeploy.sh.
Check that `mutatingwebhookconfigurations` and `validatingwebhookconfigurations` was deleted.

After that deploy Katib again: https://github.com/kubeflow/katib/blob/master/scripts/v1alpha3/deploy.sh.
Webhooks should be created by Katib controller. Check it:
[code]

[2020-05-12 12:43] andreyvelich commented on #1186
Good point @sperlingxx.

I am not sure that we should duplicate parameters in API. That can increase API complexity.
Currently, we don't have stable Katib API and versions update mechanism, Katib is in alpha version.
I think, if users don't want to use Kubeflow 1.0 version with 0.8 Katib version and use latest Katib release, they should restart running Experiment or they can have more errors.

I a

[2020-05-13 01:44] gaocegege commented on #1186
SGTM

[2020-05-13 01:54] sperlingxx commented on #1186
@andreyvelich  The approach ( "reverting this commit from upstream now and push it to the new version (v1beta1)" ) looks great. And when we setup v1beta1?

[2020-05-13 08:29] devxoxo commented on #1182
I reinstalled Katib and checked if the webhooks is created well.
[code]

But, this time Trial Pod is stuck in `Running` and it seems that it doesn't have metrics collector container again.

[code]
[code]

[code]

[2020-05-13 19:57] andreyvelich commented on #1182
@devxoxo Maybe on your cluster you have old image for Katib controller, Manager, etc.
Try to change `imagePullPolicy: Always` and install it again.
Which k8s cluster are you using?

[2020-05-13 19:59] andreyvelich commented on #1186
@johnugeorge @gaocegege Do we want to try to resolve some p0/p1 tasks before new release?

[2020-05-14 01:03] devxoxo commented on #1182
When I reinstalled Katib, I already changed imagePullPolicy from `IfNotPresent` to `Always` as followed.

[code]

I think the latest image for katib-controller is pulled well.
[code]

[code]

[2020-05-14 01:37] gaocegege commented on #1186
I think we can do it now and start developing on v1beta1. WDYT @johnugeorge

[2020-05-14 04:24] #1112 closed

[2020-05-14 12:59] andreyvelich commented on #1182
@devxoxo Can you describe one of your training pods?

[2020-05-14 22:03] sadeel opened #1188 "additionalMetricNames does not seem to work for TensorFlowEvent"
/kind bug

**What steps did you take and what happened:**
I have an experiment, which looks like this:
[code]

Individual trials do not seem to report the objective metric or other the additional metrics. However, if I remove the additionalMetricNames altogether, it seems to work fine.
![none](https://user-images.githubusercontent.com/5696932/81990384-10dece80-960d-11ea-8dae-545ce508efb4.png)

**W

[2020-05-15 05:51] #1186 closed

[2020-05-15 05:54] gaocegege commented on #1188
Thanks for your report. We will have a look.

[2020-05-15 05:54] gaocegege commented on #1188
/priority p2

[2020-05-15 16:42] andreyvelich opened #1190 "String Metric values in the new Katib version"
/kind feature

Since we reverted commit to support string metrics values: https://github.com/kubeflow/katib/pull/1189.
See this issue: https://github.com/kubeflow/katib/issues/1186.

We should add this feature in the new Katib release.

[2020-05-15 18:32] johnugeorge commented on #1186
Agree. @gaocegege Lets work on v1beta1 api and get all new api changes in v1beta1

[2020-05-18 01:31] devxoxo commented on #1182
The results are as follows.
[code]

[2020-05-18 17:13] andreyvelich commented on #1188
@sadeel Thank you for reporting this!

Yes, I think we have a bug there.
We add additional metrics to metrics collector container using ";" (https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1alpha3/pod/inject_webhook.go#L177).
In TF Event Metrics Collector we use "," to split these metrics: https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/v1alpha3/tfevent-metricscollect

[2020-05-18 22:33] andreyvelich commented on #1182
Thanks @devxoxo.
Can you also run this: `kubectl describe pod random-experiment-tk6bjrmn -n kubeflow`?

[2020-05-19 02:10] devxoxo commented on #1182
In Ibm Private Cloud, there was no pod named `random-experiment-tk6bjrmn` from scratch.
[code]

Additionally when I tried it in minikube, these kinds of pods were created as follows.
[code]

[2020-05-19 02:33] #1188 closed

[2020-05-19 08:54] devxoxo commented on #1182
The pod has been deleted and reproduced.
Please note that pod name is different from before.

As you can see, no pod named `random-example-q6dx7pgx` or  `random-example-tng2kzpq` was created.

[code]

[2020-05-19 10:23] andreyvelich commented on #1182
@devxoxo As I can see Trials were created, but Trial pods didn't, right?
It is strange, can you try to delete Experiment `random-example` and submit it again.
After that, check logs from `katib-controller`, please.

[2020-05-19 12:24] Pallavi-28 opened #1193 "Katib tfjob example experiment worker pods go to crashloopbackoff state"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am trying to run https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/tfjob-example.yaml experiment. I am seeing sometime , when worker pods  try to collect logs , it restarts and goes to crashloop back off state and than coming to run state.

 kubectl get pods -n admin -w
N

[2020-05-19 12:44] nrchakradhar commented on #1193
@andreyvelich Any views?
In the cluster, random-example works fine always.

[2020-05-19 13:55] andreyvelich commented on #1193
@Pallavi-28 @nrchakradhar Did you change something in TFJob Example in addition to namespace from `kubeflow` to `admin` ?
What version of Katib images are you using?
Can you check logs from Trial Training Job `tensorflow` container:
`kubectl logs -f tfjob-12-b9n7qbjh-worker-0 -n admin -c tensorflow`.

[2020-05-20 01:54] devxoxo commented on #1182
@andreyvelich I deleted `random-example` and submit `random-example0520` again.
Logs from `katib-controller` are followed.
[code]

[2020-05-20 05:22] Pallavi-28 commented on #1193
Yes, I have added one serviceaccount  to  give proper permission to worker pod to come up . Here is my tfjob-example.yaml

`
apiVersion: "kubeflow.org/v1alpha3"
kind: Experiment
metadata:
  namespace: admin
  name: tfjob-13
spec:
  parallelTrialCount: 1
  maxTrialCount: 8
  maxFailedTrialCount: 1
  objective:
    type: maximize
    goal: 0.99
    objectiveMetricName: accuracy_1
  algorithm:
    al

[2020-05-20 09:38] Pallavi-28 commented on #1193
I had even tried running in kubeflow nampespace after removing contol-plane=kubeflow tag..but the issue remain same

[2020-05-20 18:06] andreyvelich commented on #1182
@devxoxo For some reason, Katib controller can't create Trials that already have been created.

Try to delete Experiment `random-example0520`.
After that make sure that all resources have been deleted.
Commands bellow must return `No resources found`
1. `kubectl get experiment -n kubeflow`
2. `kubectl get suggestion -n kubeflow`
3. `kubectl get trials -n kubeflow`

Then, delete all Katib component

[2020-05-20 18:12] andreyvelich commented on #1193
The logs from `tensorflow` container looks good.
@Pallavi-28 Can you try to submit this TFJob on your cluster and see if this job be succeeded?
I believe you can use TFJob yaml:
apiVersion: "kubeflow.org/v1"
kind: TFJob
metadata:
name: test-tfjob
namespace: admin
spec:
tfReplicaSpecs:
Worker:
replicas: 1
restartPolicy: OnFailure
template:
spec:
serviceAccountName: default
containers:
- name: tenso

[2020-05-21 00:02] gaocegege commented on #461
https://github.com/microsoft/onnxruntime/tree/master/orttraining ONNX runtime supports training ONNX. Maybe we could have a look.

/cc @andreyvelich

[2020-05-21 05:33] Pallavi-28 commented on #1193
@andreyvelich tfjob ran successfully. Here is the update  :
kubectl get tfjob -n admin
NAME         STATE       AGE
test-tfjob   Succeeded   85s

Description of tfjob:
kubectl describe tfjob test-tfjob -n admin
Name:         test-tfjob
Namespace:    admin
Labels:       <none>
Annotations:  <none>
API Version:  kubeflow.org/v1
Kind:         TFJob
Metadata:
  Creation Timestamp:  2020-05-21T05:24:56

[2020-05-21 15:27] andreyvelich commented on #906
I was checking the knative duck implementation and I think that can be one more problem with it.
We can’t specify JSON path in JSON patch for various Kubeflow resources (http://jsonpatch.com/#the-patch).

For example, to reach container for TFJob we need to go to `tfReplicaSpecs.worker.template.spec.container[0]`, but for PytorchJob:
`pytorchReplicaSpecs.worker.template.spec.container[0]`.

If you

[2020-05-21 16:16] andreyvelich commented on #1193
@Pallavi-28 Thanks, it looks good!

It can be the problem with reporting metrics from metrics collector container to DB (https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/v1alpha3/tfevent-metricscollector/main.py#L51).
Can you check logs from `katib-db-manger` and `katib-mysql` pod.

If everything is working, try to execute on `katib-mysql` pod:
`kubectl exec -it <katib-mysql pod

[2020-05-22 01:25] gaocegege commented on #906
LGTM. I prefer this approach. :tada:

[2020-05-22 05:43] devxoxo commented on #1182
@andreyvelich I reinstalled katib as follows. Could you please check it?

1. I deleted `random-example0520` and checked all resources have been deleted.
[code]

2. I uninstalled katib with `sh undeploy.sh`
[code]

3. I checked all Katib components and Katib CRDs were deleted.
[code]

4. I reinstalled katib with `sh deploy.sh` and checked all Katib components are running
[code]

5. But the results

[2020-05-22 12:21] Pallavi-28 commented on #1193
### logs of katib db manager
kubectl logs -f katib-db-manager-7675b69455-mzmhj -n kubeflow
I0519 10:39:42.241627       1 init.go:11] Initializing v1alpha3 DB schema
I0519 10:39:44.803244       1 main.go:92] Start Katib manager: 0.0.0.0:6789

### logs of mysql pod
 kubectl logs -f katib-mysql-65479787d6-nkpxw -n kubeflow
2020-05-19 10:44:13+00:00 [Note] [Entrypoint]: Entrypoint script for MySQL Ser

[2020-05-24 17:23] jlewi commented on #906
Looks good

[2020-05-25 05:25] sakaia opened #1196 "Katib Experiment Graph is not shown"
/kind bug

**What steps did you take and what happened:**
I can successfully execute the random-experiment but graph is not shown (empty).
But I can see result of execution in text

<img width="809" alt="katib" src="https://user-images.githubusercontent.com/144597/82780526-6aa78a00-9e92-11ea-9ac7-89dd16073924.png">
<img width="809" alt="katib1" src="https://user-images.githubusercontent.com/144597

[2020-05-25 09:09] devxoxo commented on #1182
I saw [this answer](https://github.com/kubeflow/katib/issues/981#issuecomment-599665362).
I also installed istio, is there anything else I need to set up?
like as follows.
[code]
[code]

[2020-05-26 10:38] andreyvelich commented on #1196
@sakaia Can you check logs from `katib-ui` pod, please?

[2020-05-26 10:42] andreyvelich commented on #1193
@Pallavi-28 I can see that logs have been reported to the table. Do you have information from all Trials pods in `observation_logs` table?

[2020-05-26 11:23] andreyvelich commented on #1182
@devxoxo By default `annotations: sidecar.istio.io/inject: "false"` should be added to all Trial jobs.
 See this: https://github.com/kubeflow/katib/pull/1050.

Can you show output (`Events` in the bottom) of these command:

`kubectl describe trial random-example-pbn5t6n2 -n kubeflow`
`kubectl describe job random-example-pbn5t6n2 -n kubeflow`

[2020-05-26 11:26] andreyvelich commented on #1182
Also, can you try to run just a simple Trial Job on your cluster, you can use this Yaml:
[code]

[2020-05-26 23:48] sakaia commented on #1196
Thank you My katib-ui pod logs are follows. but, still graph is not shown.

[code]

[code]

[2020-05-27 00:48] andreyvelich commented on #1196
@sakaia Thanks, logs are looking good.

Try to update this page few times and check errors inside the Google Chrome console.
Also, try to click on any Trial name and see if Metrics Graph is shown.

[2020-05-27 02:10] devxoxo commented on #1182
The result is:

[code]

How can I solve the problem caused by this error?
`Error creating: pods "random-example-sn8kw9vr-gkhw9" is forbidden: unable to validate against any pod security policy: []`

According to the results of `describe job`, `annotations: sidecar.istio.io/inject: "false"` is added well.
I used this yaml:
[code]

[2020-05-27 07:44] sakaia commented on #1196
Thank you for your suggestion.

It seems following file problem (on jsx). Is there any good way to monitor it?

pkg/ui/v1alpha3/frontend/src/components/HP/Monitor/HPJobInfo.jsx

(react-ploty.js seems drwaring soft for graph?)

[2020-05-27 16:45] andreyvelich commented on #1182
@devxoxo I guess the problem is with pod security policy on your cluster. See this: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#create-a-policy-and-a-pod. So Batch Jobs can't create Pods.
Check your PodSecurityPolicy:
`kubectl get PodSecurityPolicy --all-namespaces`

Maybe you need to setup role, etc.
Are you admin of the cluster?

[2020-05-27 16:57] andreyvelich commented on #1196
@sakaia Yes, we are using `react-plotly.js` to draw this plot.
I think you can check frontend errors in the browser console.
Maybe you need to enable JS in your browser?

Or try to disable cache in the console and refresh page:
<img width="1079" alt="Screenshot 2020-05-27 at 17 55 10" src="https://user-images.githubusercontent.com/31112157/83049762-725a6080-a043-11ea-83e7-911e26f0d287.png">

[2020-05-28 01:45] sakaia commented on #1196
Thank you for your suggestion.
I try to disable cache but the problem still remain.
app bundle returns 503. Is there any way to digging this?

<img width="926" alt="katibhpgithub" src="https://user-images.githubusercontent.com/144597/83088981-25709b80-a0d0-11ea-95ef-fb119192ba05.PNG">

[2020-05-28 01:51] gaocegege commented on #1196
Can you show us the request detail of the 503 request?

[2020-05-28 01:56] sakaia commented on #1196
Is this view help to investigate?

<img width="924" alt="katibgithub2" src="https://user-images.githubusercontent.com/144597/83089668-d9bef180-a0d1-11ea-8dd0-fcac2c015422.PNG">

[2020-05-28 08:02] sakaia commented on #1196
PS. I can see nas graph. but I still cannot see HP graph.

<img width="859" alt="katibnas1" src="https://user-images.githubusercontent.com/144597/83115165-f4f72480-a104-11ea-92ba-5e254062b35b.PNG">

[2020-05-28 08:39] nielsmeima commented on #1081
@gaocegege for us this is a use case as well. We would like to be able to tune parameters of arbitrary chains of Docker containers, e.g. executed as an Argo workflow. In such a workflow we could easily mix various languages to achieve our needs, instead of relying on a single container or a specific language. I will try to come up with an implementation, and try to commit back / propose a design i

[2020-05-28 08:44] gaocegege commented on #1081
@nielsmeima Thanks for your interest! Now we have a new abstraction `Provider` in pkg/job/v1beta1/provider.go. You just need to implement the provider for argo, then it should work.

[2020-05-28 08:45] gaocegege opened #1199 "[feature request] Update new-trial-kind doc"
Now it is outdated. We need to update it with the new interface Provider.

[2020-05-28 08:47] nielsmeima commented on #1081
@gaocegege Thanks, I will give it a go.

[2020-05-28 10:06] andreyvelich commented on #1196
@sakaia Can you try to update your `katib-ui` deployment image to the latest. You don't need to redeploy all Kubeflow components, just run: `kubectl edit deploy katib-ui -n kubeflow` and modify the container image to: `gcr.io/kubeflow-images-public/katib/v1alpha3/katib-ui`.
After that, the `katib-ui` pod will be restarting.

Then, try to access Katib UI using port-forwarding:
`kubectl port-forward

[2020-05-28 11:25] andreyvelich commented on #1081
@nielsmeima We are also working on the new Trial Template implementation for the new version: https://github.com/kubeflow/katib/issues/906#issuecomment-632149834.
After that, you should be able to specify any type of resource as Trial Template.

[2020-05-28 13:06] nielsmeima commented on #1081
@andreyvelich Thanks for letting me know, that looks like a much better approach. just FYI: implementing the provider interface for Argo is very straightforward, however when using the `Workflow` type from Argo as a dependency some issues arise. Argo depends on a different (incompatible) version of  `k8s.io/apimachinery`, therefore it is not possible to compile (since Katib relies on a more recent

[2020-05-29 03:23] #1190 closed

[2020-05-29 05:20] sakaia commented on #1196
Thank you after updating from v0.8.0 to nothing.
Web UI error is changed to follows.
Even I enable WebGL on chrome,  the problem still keeps

<img width="857" alt="katibhpgithub2" src="https://user-images.githubusercontent.com/144597/83223770-b91c9780-a1b6-11ea-9e38-4f1c55bf9bb3.PNG">

My environment is follows.

Google Chrome | 81.0.4044.138 (Official Build) （64 ビット）
-- | --
変更履歴 | 8c6c7ba89cc945

[2020-05-30 20:43] andreyvelich commented on #1196
@sakaia Thanks, at least we can see the error now.
Maybe try to disable `--enable-webgl-draft-extensions --enable-webgl2-compute-context` flags.
Try to visit https://get.webgl.org/ to see if WebGL works in your browser after it.

[2020-06-02 19:18] andreyvelich opened #1203 "Rename algorithm setting in manager"
/kind bug

I think we should rename `algorithm_setting` to `algorithm_settings` in manager (https://github.com/kubeflow/katib/blob/master/pkg/apis/manager/v1beta1/api.proto#L107) to be consistent with other `repeated` values.

We also named it `algorithmSettings` in Experiment API (https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1beta1/common_types.go#L26).

We can make t

[2020-06-03 01:53] gaocegege commented on #1203
LGTM

[2020-06-03 11:42] andreyvelich commented on #1203
/assign @andreyvelich

[2020-06-03 15:10] #1203 closed

[2020-06-03 19:10] vpavlin opened #1206 "Broken Examples on OpenShift"
/kind bug

**What steps did you take and what happened:**
The examples are failing to run on OpenShift 4 because the containers run as an unprivileged user by default and the code in examples tries to write to inaccessible directories

**What did you expect to happen:**
Examples run and finish successfully

**Anything else you would like to add:**
I will provide a PR to fix this, but I am not sure

[2020-06-03 19:45] andreyvelich commented on #1206
Hi @vpavlin, thank you for testing this.

I think you can make changes for Katib Manifest and Dockerfile in one PR since it is related to one problem.

During e2e testing, new build image will be used: https://github.com/kubeflow/katib/blob/master/test/scripts/v1beta1/check-katib-ready.sh#L63-L82.

If you also want to change training container images (e.g mnist example https://github.com/kubeflow/

[2020-06-05 01:29] gaocegege opened #1207 "[feature] Support log-uniform scale in search space definition"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubeflow/katib/pull/1205#issuecomment-639200522

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-06-05 01:29] gaocegege commented on #1207
/cc @sperlingxx @andreyvelich

[2020-06-05 05:55] sperlingxx commented on #1207
@gaocegege
In my opinion, we need to add additional field `Distribution`  in `FeasibleSpace`.  The `FeasibleSpace` definition could be changed to:
[code]

[2020-06-05 05:56] gaocegege commented on #1207
SGTM. I think it is one possible approach.

[2020-06-05 09:12] elikatsis commented on #1122
Hi @andreyvelich,
thank you for holding kubeflow/katib#1205.
I'm writing to describe our (Arrikto) proposal to tackle this issue.

We've seen that the controller speaks gRPC with the algorithm service, but their communication is limited to passing suggestions and _successful answers_ independently to what actually happens inside the algorithm service.

To tackle this, and potentially more issues,

[2020-06-05 09:34] gaocegege commented on #1122
Generally LGTM. It works only if the algorithms has the `Exhausted` state like grid search, right?

[2020-06-05 09:44] elikatsis commented on #1122
Hello @gaocegege,
thanks for reading the proposal!

Yes, this change shouldn't affect other algorithms, except if they also _speak the same code_.
What I mean is that we will decide a way for the service to notify the controller that it is exhausted. What we propose is a gRPC error with a specific code.
If this happens with other services as well, then they can be extended and return the same thin

[2020-06-05 09:47] gaocegege commented on #1122
Gotcha. SGTM. Maybe it is related to #1061

[2020-06-05 09:48] gaocegege commented on #1122
/cc @andreyvelich @sperlingxx @johnugeorge

[2020-06-05 09:58] andreyvelich commented on #1122
Thank you for writing this @ellistarn.
I am just worried that this change will be specific to Grid. I can't find problems in any other algorithms when `maxTrialCount` must be modified.
The same story for Hyperband, `parallelTrialCount` should be < `maxParallelCount` depends on AlgorithmSettings: https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1beta1/hyperband/service.py#L217. In that

[2020-06-05 12:43] andreyvelich opened #1208 "Support new Trial Template in v1beta1"
/kind feature

To support new Trial Template API in v1beta1 we need to make few changes:
- [x] Submit new API changes (https://github.com/kubeflow/katib/pull/1202).
- [x] Change Controller logic to support new Template. Also, modify Trial CR API (https://github.com/kubeflow/katib/pull/1202).
- [x] Change examples according to the new API (https://github.com/kubeflow/katib/pull/1202).
- [x] Enable

[2020-06-05 12:47] andreyvelich commented on #1208
I will start work on the second step.

@gaocegege @johnugeorge What do you think about [`RunSpec`](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/trials/v1beta1/trial_types.go#L35) in Trial CR API, should we make it `unstructured` and store current Trial specification?

[2020-06-05 13:21] elikatsis commented on #1122
Unfortunately, I'm not familiar with the Hyperband algorithm. Could you give some more context? What's the main idea of the algorithm? What are `eta`, `r_l`, and `maxParallelCount`?

Reading it diagonally and seeing the following lines, it looks like Hyperband could also use an `Exhausted` state, but I may be wrong:
https://github.com/kubeflow/katib/blob/c2c5288f4ff8ddf2c8fbabaf1e955eee9fae8c38/pk

[2020-06-05 14:06] terrytangyuan opened #1209 "Katib Acceleration using FPGAs"
Per Chris Kachris from InAccel:

Let's continue our discussion here so it's transparent to the community.

/kind feature

[2020-06-05 14:09] andreyvelich commented on #1122
I believe Hyperband has strictly restrictions on parallel Trials: https://github.com/kubeflow/katib/blob/c2c5288f4ff8ddf2c8fbabaf1e955eee9fae8c38/pkg/suggestion/v1beta1/hyperband/service.py#L215-L216.
<img width="741" alt="Screenshot 2020-06-05 at 15 04 45" src="https://user-images.githubusercontent.com/31112157/83885281-0ad89b00-a73e-11ea-8057-c4bc91cc9a50.png">

So Smax controls Parallel Trial C

[2020-06-05 14:33] terrytangyuan commented on #1209
cc @johnugeorge @richardsliu @gaocegege @hougangliu @andreyvelich

[2020-06-06 02:20] gaocegege commented on #1208
I think we should use unstructured.

[2020-06-08 17:12] andreyvelich opened #1211 "Katib cut release for Kubeflow 1.1"
/kind feature

We should make new release for Kubeflow 1.1. We need to update manifests and website documentation.

1. For manifests my suggestion is to take this commit: https://github.com/kubeflow/katib/commit/5df1bd2836f1b9ba1e7c4c4a5c6ab48ae21c62b0. It is the latest commit when we build images for v1alpha3 (https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/katib/v1alpha

[2020-06-08 17:53] johnugeorge commented on #1211
What does it mean by TODO list? We just need to update the latest built images in manifest. right?

[2020-06-08 17:54] c-bata commented on #1211
Thank you for mentioning me. Recently I'm busy. So can someone handle https://github.com/kubeflow/website/pull/1907 on behalf of me?

[2020-06-08 18:20] andreyvelich commented on #1211
To keep manifests and website documentation up-to-date, I think we should make these changes.

[2020-06-09 02:31] ijackcy opened #1212 "katib-mysql pod :Access denied for user 'root'@'localhost' (using password: YES)"
/kind bug

**What steps did you take and what happened:**

When I deployed kubeflow1.0, katib-db-manager-849b858bc8-4h8c9  and katib-mysql-7f99dfd774-gc4qp  don't work well.

katib-db-manager-849b858bc8-4h8c9                              0/1     ImagePullBackOff   0          11h
katib-mysql-7f99dfd774-gc4qp                                   0/1     Running            1          11h was

when i che

[2020-06-09 05:04] gaocegege commented on #1212
May I ask how you install the katib?

[2020-06-09 10:08] kachris commented on #1209
Thanks Terry.
you can find detailed instructions on how to test it on your own here:
https://docs.inaccel.com/labs/kubeflow/

[2020-06-09 15:49] elikatsis commented on #1122
Thanks for this, indeed I had missed that. I changed the code to take it into consideration.
I opened kubeflow/katib#1213. The PR could be split into distinct PRs. For starters we wanted to show you the full picture of the implementation in an easy/compact way.

[2020-06-10 17:31] andreyvelich opened #1214 "[Feature] Modify Job provider to support any kind of Kubernetes CRDs"
/kind feature

After migrating to the new Trial Template design (https://github.com/kubeflow/katib/pull/1202), we want to extend current Job provider to support any kind of Kubernetes CRDs that follow Trial job patterns (e.g Argo template: https://github.com/kubeflow/katib/issues/1081).

Currently, Job provider supports only `batch` Jobs and Kubeflow Jobs.

We can extend Trial Template API with th

[2020-06-11 00:26] andreyvelich commented on #1214
Thank you! You are more than welcome to contribute. This is great that Argo Workflow works with Katib.
I think any new changes that we will make should be done in v1beta1. We will release v1alpha3 soon.

Did you check what was the list in [`pids`](https://github.com/kubeflow/katib/blob/master/pkg/metricscollector/v1beta1/common/pns.go#L61). Why do you need to add `proc.Executable() == "argoexec"`?

[2020-06-12 07:00] ijackcy commented on #1212
When I installed kubeflow, automatically  started katib pod

[2020-06-15 08:25] gaocegege commented on #460
https://github.com/microsoft/nni/blob/master/docs/en_US/Compressor/Overview.md

Maybe it is helpful.

[2020-06-15 15:31] andreyvelich commented on #1211
All website and manifest changes have been merged.
Do we need to cut new release (https://github.com/kubeflow/katib/releases) ?
What do you think @gaocegege @johnugeorge ?

[2020-06-16 01:40] gaocegege commented on #1211
SGTM.

[2020-06-16 09:20] andreyvelich commented on #1211
@gaocegege @johnugeorge Any ideas about the name? Should we name it v0.9.0-alpha, sine the latest image tag was v0.8.0 ?

[2020-06-16 11:13] andreyvelich commented on #1211
I published new release v0.9.0: https://github.com/kubeflow/katib/releases/tag/v0.9.0.
@gaocegege @johnugeorge If you want to add some more information to description, let me know.

[2020-06-16 11:45] andreyvelich opened #1217 "[UI Feature] Support new Trial template in Katib UI"
/kind feature

We should modify submit Experiment by parameters in the UI to support new Trial template implementation.

/area front-end

[2020-06-16 11:45] andreyvelich commented on #1217
/assign @andreyvelich

[2020-06-16 11:46] andreyvelich commented on #1208
We can close this issue, since we fully implemented this.

[2020-06-16 11:46] #1208 closed

[2020-06-16 11:51] andreyvelich commented on #511
@epa095 If it is still relevant, please try out new Trial template API: https://github.com/kubeflow/katib/issues/1208.
This is an example: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/random-example.yaml#L38-L65.

I think it should work well with your case.

[2020-06-16 12:02] andreyvelich commented on #857
We can close this, we are using new Trial template now: https://github.com/kubeflow/katib/issues/1208

[2020-06-16 12:02] #857 closed

[2020-06-16 12:06] andreyvelich commented on #906
We can close this, we are using new Trial template now: https://github.com/kubeflow/katib/issues/1208.

[2020-06-16 12:06] #906 closed

[2020-06-16 12:38] andreyvelich commented on #1212
@ijackcy Can you check that `MYSQL_ROOT_PASSWORD` env is set on katib-mysql pod.
Execute on katib-mysql pod and run `echo $MYSQL_ROOT_PASSWORD`

Also, can you show the logs and describe `katib-db-manager-849b858bc8-4h8c9` pod, please.

[2020-06-16 14:15] johnugeorge commented on #1211
LGTM

[2020-06-17 17:01] andreyvelich opened #1220 "[UI Feature] Support metric strategies in submit Experiment page"
/kind feature

User should be able to set metric strategies (https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1beta1/common_types.go#L55) in submit Experiment page.

/area front-end

[2020-06-17 17:02] andreyvelich opened #1221 "[UI Feature] Support resume experiment in submit Experiment page"
/kind feature

User should be able to set resume policy (https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L54) in submit Experiment page.

/area front-end

[2020-06-18 04:15] gaocegege opened #1222 "[bug] Runtime panic in v1alpha3 when deleting extra trials"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

No panic. We should check the length of the slice.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube version:
- Kubernetes version: (u

[2020-06-18 13:35] jlewi commented on #1211
* the apps cd pipelines have been fixed
* application owners please review PRs to update your apps and ensure they get merged
    * https://github.com/kubeflow/manifests/pulls/kubeflow-bot

[2020-06-18 18:21] andreyvelich commented on #1222
@gaocegege How did you get this error?
From my understanding, `deleteCount` can't be > than `len(trials)`: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1alpha3/experiment/experiment_controller.go#L290.

We can check that `deleteCount <= len(trials)` before running the loop: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1alpha3/experiment/experiment_controller.go#L3

[2020-06-19 02:07] gaocegege commented on #1222
Yeah, I am working on it. I do not really understand why we can meet it.

/assign

[2020-06-19 02:25] gaocegege commented on #1222
Full log is here, not sure if it is related to the webhook failure.

[code]

[2020-06-19 07:17] devxoxo commented on #1182
It's not completely resolved, but as you said, it seems to be caused by PodSecurityPolicy.
I close this issue because I have checked that trial pods are well generated in other cloud environments except IBM cloud.
Thanks for your help!

[2020-06-19 07:17] #1182 closed

[2020-06-19 10:46] andreyvelich commented on #1222
@gaocegege I can't see all the latest prints in your logs.
For example: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1alpha3/experiment/suggestion/suggestion.go#L43, it should be printed after you submitting the experiment.
Which version are you using?

[2020-06-19 10:48] gaocegege commented on #1222
It is recreated about 100 times, thus no log like it.

[2020-06-19 11:02] andreyvelich commented on #1222
@gaocegege Can you show experiment/experiments that you have submitted?

[2020-06-19 11:05] gaocegege commented on #1222
[code]

I think it is not caused by misconfiguration.

[2020-06-19 14:44] johnugeorge commented on #1222
We have to figure out the condition that caused it.  Looks like some corner case issue

[2020-06-20 00:39] andreyvelich opened #1227 "Unable to parse NaN value in Trial CR"
/kind bug

I tried to run Experiment with additional metric names that were not collected from the Trial pod.

Because of that, in Trial Controller we try to write [`math.NaN()`](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/trial/trial_controller_util.go#L175-L176) value to observation and Trial can't be updated.

I got error [here](https://github.com/kubeflow/katib/blob/ma

[2020-06-20 02:40] sperlingxx commented on #1227
In addition, I think we should fail the trial if job is succeed without any ObservationLog, which are usually caused by incorrect metrics collecting configuration. Currently, trial status will be locked at pending under this situation.

[2020-06-22 07:02] devxoxo opened #1228 "Failed to reconcile: no matches for kind "TFJob" in version "kubeflow.org/v1""
/kind bug

I tried to use TFJob and PyTorchJob on **GKE cluster**, but having the following issue.
`Failed to reconcile: no matches for kind "TFTJob" in version "kubeflow.org/v1"`

[code]

I also tried to change apiVersion from "kubeflow.org/v1" to "kubeflow.org/v1beta2" referring to this [link](https://github.com/kubeflow/katib/issues/661).
But the result is the same.
`Failed to reconcile: no mat

[2020-06-22 16:48] andreyvelich commented on #1228
That is because you have to install Operators before installing Katib.
As you can see here: https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/addtoscheme_tfjob_v1.go#L21,
we try to add tf-operator CRD when Katib controller is starting.

So if Katib controller started without pre-installed TF Operator CRD, you can't run appropriate jobs.

Try to re-deploy Katib. If your cluster has

[2020-06-22 16:58] andreyvelich commented on #1227
@sperlingxx As you can see here: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/trial/trial_controller_util.go#L126-L139, we convert Trial to succeeded state only if any observation was reported.

My suggestion for this issue is to convert all API metrics parameters to "string".
1. As you can see here: https://github.com/kubernetes-sigs/controller-tools/issues/245 it is recom

[2020-06-22 22:15] xuhdev opened #1229 "Error when setting a hyperparamter in a list of doubles"
/kind bug

**What steps did you take and what happened:**

In hyperparamter tuning, I selected `random` algorithm, and set a sole hyperparamter `--learning_rate`, typed `double`, and set it to a list of two numbers, 0.01 and 0.001. All of `ParallelTrialCount`, `MaxTrialCount`, and `MaxFailedTrialCount` are set to 1.

In the log, the following error is shown:

[code]

**What did you expect to happe

[2020-06-23 01:28] gaocegege commented on #1227
SGTM.

[2020-06-23 10:05] andreyvelich commented on #1229
Hi @xuhdev!
Can you show your experiment yaml, please?

[2020-06-23 17:43] xuhdev commented on #1229
Here you go!

[code]

[2020-06-23 22:22] andreyvelich opened #1233 "[UI Feature] Change lib to display NAS graph"
/kind feature

Currently, we are using Graphviz to show NAS graph https://github.com/kubeflow/katib/blob/master/pkg/ui/v1beta1/frontend/src/components/NAS/Monitor/NASJobStepInfo.jsx#L7. That lib requires a lot of `node` memory (in some cases we need to set `--max_old_space_size=4096`) while building the Frontend.
Ref: https://www.npmjs.com/package/graphviz-react#install.

I think, we should switch

[2020-06-24 02:33] evonit opened #1234 "adding trial template error if there is no previous trial template"
/kind bug

**What steps did you take and what happened:**
In Katib UI, Ive deleted my previous (provided by default) trial template.
and when I tried to add a new one, then there is no change.
when I checked the chrome developer console, I found that the url /katib/update_template got 503 error response.
So, I started to debug from where I got the error, and I found using by k8s dashboard in katib

[2020-06-24 10:39] andreyvelich commented on #1229
@xuhdev This is a Trial template.
You can view submitted experiment by running: `kubectl get experiment <experiment-name> -n <namespace> -o yaml`

[2020-06-24 10:41] andreyvelich commented on #1234
@evonit Thank you for reporting this!
What version of `katib-ui` image are you using ?

[2020-06-24 16:30] johnugeorge commented on #1227
Sgtm

[2020-06-24 16:44] andreyvelich commented on #1227
Will make this change.
/assign @andreyvelich

[2020-06-24 18:09] andreyvelich opened #1236 "Fake suggestion interfaces needless"
/kind question

Do we need fake implementation of [`Suggestion` interface](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/experiment/suggestion/fake/fake.go) and [`Suggestion Client` interface](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/suggestion/suggestionclient/fake/fake.go)?

I can see that `Suggestion` interface was added in: https://github.com/

[2020-06-24 21:00] xuhdev commented on #1229
Here you go!

[code]

[2020-06-25 00:15] devxoxo commented on #1228
@andreyvelich After re-deployment it works!
Thanks for the help.

[2020-06-25 00:15] #1228 closed

[2020-06-25 06:11] sakaia commented on #1044
It seems noting progress. Does Any API  exist for getting best trial for Python?

[2020-06-25 15:01] andreyvelich commented on #1236
@gaocegege In that case, I will delete it.

[2020-06-25 20:25] andreyvelich commented on #1044
Hi @sakaia, yes we created python SDK for Katib: https://github.com/kubeflow/katib/tree/master/sdk/python.

Currently, we support only v1alpha3, but later we will add SDK for v1beta1 also.
This API: https://github.com/kubeflow/katib/blob/master/sdk/python/docs/KatibClient.md#get_optimal_hyperparmeters, gives you current optimal Trial for the Experiment.

I close this issue, @nrchakradhar @timothyj

[2020-06-25 20:25] #1044 closed

[2020-06-25 21:07] andreyvelich commented on #1229
Thank you for sharing this.
I believe you made a mistake in `--learning_rate` parameter. If you want to define list of parameters, you have to use `parameterType: categorical` like here: https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml#L31-L37.

We can add validation for it.
For example:
1. If `ParameterType` = `Categorical` or `Discrete`, `FeasibleSpace` must be

[2020-06-25 21:50] andreyvelich opened #1239 "[Documentation] Add information about Katib controller flags"
/kind feature

As we can see here: https://github.com/kubeflow/katib/blob/master/cmd/katib-controller/v1beta1/main.go#L48-L55, user can specify flags for the Katib Controller.
I think it would be good if we can document this information in Kubeflow website or in [developer guide](https://github.com/kubeflow/katib/blob/master/docs/developer-guide.md).

/good-first-issue
/area docs

[2020-06-25 21:54] andreyvelich commented on #1165
This was merged by https://github.com/kubeflow/manifests/pull/1239.

[2020-06-25 21:54] #1165 closed

[2020-06-25 22:00] andreyvelich commented on #1236
/assign @andreyvelich

[2020-06-26 01:17] #1236 closed

[2020-06-26 01:18] gaocegege commented on #1229
SGTM. I think we can add the validation.

[2020-06-26 11:18] vpavlin commented on #1206
Sorry @andreyvelich finally got back to this..PR is submitted, let me know what do you need from me to progress this

[2020-06-26 12:00] evonit commented on #1234
@andreyvelich
I am using kubeflow 1.0.1 in which katib 0.8.0 version is running.

[2020-06-26 12:27] andreyvelich commented on #1229
/assign @andreyvelich

[2020-06-26 12:31] andreyvelich commented on #1234
@evonit Please, try to use latest Kubeflow release on master.
It has all latest Katib UI fixes with the new view for Trial template editor: https://github.com/kubeflow/manifests/blob/master/katib/katib-controller/base/kustomization.yaml#L32-L33.

[2020-06-26 15:02] vpavlin opened #1242 "Katib crashed with invalid memory reference error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Deployed Katib via Kubeflow, added `darts` in to `katib-config` and submitted darts example resource

[code]

**What did you expect to happen:**
The controller does not fail

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**E

[2020-06-26 15:07] gaocegege commented on #1242
cc @andreyvelich

[2020-06-26 15:11] andreyvelich commented on #1242
@vpavlin Which Kubeflow version did you deploy? If you are using master branch, `katib-config` already contains `darts`: https://github.com/kubeflow/manifests/blob/master/katib/katib-controller/base/katib-configmap.yaml#L52-L54.

Also, can you show the experiment please.

[2020-06-26 17:09] andreyvelich opened #1244 "DB Manager service name"
We renamed `katib-manager` component to `katib-db-manager`: https://github.com/kubeflow/katib/pull/1006, but in gRPC API we still name related service `Manager`: https://github.com/kubeflow/katib/blob/master/pkg/apis/manager/v1beta1/api.proto#L16-L34.

Maybe we should rename this service to `DBManager`  to avoid confusions, since we add only DB-related API there?

This APIs services are under `/ap

[2020-06-27 00:20] andreyvelich opened #1247 "[UI Feature] Show Trial metric values based on strategies"
/kind feature
/area front-end

Currently, in HP Experiment monitor page we show metric values based on `ObjectiveType`.
User can't view max, min and latest metric there and can't see correct values in the plots.

1. In Experiment plot Trial metric values must be selected according to Trial `metricStrategies`. For example, if `metricStrategies[metricIdx].value = min`, we should show `min` value fro

[2020-06-29 23:33] jlewi commented on #1211
@andreyvelich @johnugeorge any update?

[2020-06-30 01:43] andreyvelich commented on #1211
@jlewi It was done 2 weeks ago, we can close it.

[2020-06-30 01:43] #1211 closed

[2020-06-30 11:46] andreyvelich opened #1249 "[UI Feature] Show notification if metrics are not available"
/kind feature

See comment: https://github.com/kubeflow/katib/pull/1245#issuecomment-651247243.
In some cases Trials can be succeeded without reporting metrics.

We should show that metrics are unavailable in Trials information table.
If **objective** metrics were not reported from all Trials, user should see appropriate message.

[2020-06-30 12:38] #1227 closed

[2020-06-30 13:42] andreyvelich commented on #692
After Katib meeting discussion we have few thoughts about this issue:

1. Create Katib Python SDK for Early Stopping.
Users can directly push appropriate parameters from the Trial training container pod to the Early Stopping service.
After that, service can terminate pod.
In that approach, users need to manually change training container code and create docker image for it.

2. Try to release sugg

[2020-06-30 14:30] c-bata commented on #692
In Optuna, user reports intermediate values via Python API, then stop to train models if pruner is triggered.

[code]

https://github.com/optuna/optuna/blob/master/examples/pytorch_simple.py

[2020-06-30 16:21] andreyvelich opened #1250 "Save Suggestion state in persistent volume"
/kind feature

To continue idea proposed here: https://github.com/kubeflow/katib/issues/1062.
We would like to attach persistent volume to every deployed suggestion to save suggestion state after corresponding pod is deleted.
To implement this we should follow these steps:

1. Extend [`ResumePolicyType`](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experime

[2020-06-30 16:22] andreyvelich commented on #1062
Let's discuss implementation here: https://github.com/kubeflow/katib/issues/1250.

[2020-06-30 16:22] #1062 closed

[2020-06-30 16:50] andreyvelich commented on #692
Thank you for this example! As I can see, they also have some sort of SDK for it.

Do you know, how do they stop the training and mark Trials `Pruned`?
To stop they just raise `optuna.exceptions.TrialPruned()` exception in the `objective` function?

[2020-06-30 17:18] c-bata commented on #692
Yes. They just raise TrialPruned exception inside their objective function, then Optuna catch it and mark the trial `Pruned` at following lines.

https://github.com/optuna/optuna/blob/6a1674666a5d8d778b39b902627ff40e98e14c48/optuna/study.py#L685-L700

[2020-07-03 01:28] #1095 closed

[2020-07-03 01:53] evonit commented on #1234
@andreyvelich
Ive tried to re-install the latest version of kubeflow, 1.0.2.
Still I got the same problem that If I remove all the trial template then I cannot add a new one.

[2020-07-03 15:55] andreyvelich commented on #1234
@evonit Can you check version of image for `katib-ui` deploy ?
`kubectl describe deploy katib-ui -n kubeflow`

[2020-07-06 04:48] evonit commented on #1234
katib 0.8.0 @andreyvelich

[2020-07-06 12:43] jlewi commented on #1250
Why use pickling to store data as opposed to YAMl?
Im lacking some backgeound. What precisely does persisting a suggestion mean? Is a suggestion just a set of hyperparameters?

If you use PDs are you going to have to manage disks?

Could you persist to object store or some other easily managed datastore?

Would it make sense to treat this data as metadata and store in metadata store?

[2020-07-06 16:41] andreyvelich commented on #1234
@evonit Please, try to use this latest kfdef to deploy Kubeflow: https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml.
It should use latests images for Katib v1alpha3 with working Trial template editor for Katib UI.

[2020-07-06 17:06] johnugeorge commented on #1250
Wrt to 1,  we will need  to have  consistent naming with other values
@gaocegege   Wrt to 2(Adding new storage class yaml), How is it handled?

[2020-07-06 17:41] andreyvelich commented on #1250
Thanks for the comment @jlewi.

Suggestion is just a Kubernetes deployment with running script for HP or NAS algorithm to produce new Trial parameters (in case of HP tunning - hyperparameters) from the Search Space.

Currently, when user submits Experiment, controller creates this Suggestion deployment. When Experiment is finished Suggestion deployment can be deleted or can be always-running (if u

[2020-07-06 23:45] andreyvelich commented on #1211
I have updated `v0.9.0` Katib images tags to correct [Release commit - 917164a](https://github.com/kubeflow/katib/commit/917164a3cb2b1f246abd6396172a2b232e672a7d) for this release in the GCR.
Before that, `v0.9.0` tag was pointed to wrong commit.

For example, `katib-controller` images: https://console.cloud.google.com/gcr/images/kubeflow-images-public/GLOBAL/katib/v1alpha3/katib-controller?projec

[2020-07-07 01:06] evonit commented on #1234
@andreyvelich I already use the latest version using by the official kubeflow guide
https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_istio_dex.v1.0.2.yaml

[2020-07-07 01:14] andreyvelich commented on #1234
@evonit Yeah, because Kubeflow website is not updated yet to 1.1 version: https://www.kubeflow.org/docs/started/getting-started/#configuration-quick-reference. With config that you mentioned your Katib version is v0.8.0.

If you want to use istio-dex config, please try to use this kfdef: https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_istio_dex.yaml, which is referenced to

[2020-07-07 01:29] evonit commented on #1234
@andreyvelich do you mean that I need to downgrade from 1.0.2 to 1.0.0?

[2020-07-07 01:46] andreyvelich commented on #1234
How did you deploy Kubeflow, using website or CLI?

[2020-07-07 02:24] evonit commented on #1234
@andreyvelich I followed this guide, https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/
installing on linux using by cli shell command

[2020-07-07 02:53] gaocegege opened #1255 "[feature request] Evaluate Katib on state-of-art models (e.g. Bert, Yolov3)"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I think we should evaluate katib on state-of-art models (e.g. Bert, Yolov3) to illustrate if katib works in industries.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-07-07 13:05] andreyvelich commented on #1234
Can you follow these steps:
1. On [step 1](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#prepare-your-environment) download kfctl 1.1: https://github.com/kubeflow/kfctl/releases/tag/v1.1-rc.0, instead of kfctl v1.0.2.
2. On [step 1](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#prepare-your-environment), when you setup **`${CONFIG_URI}`**, please set it to: https://raw.gi

[2020-07-07 14:35] jlewi commented on #1250
Why is the experiment manager managing internal storage of individual HP algorithms? Why not adopt a microservice architecture?  What if different algorithms require different types of internal storage?

e.g. Suppose one algorithm needs to store a couple meta parameters and a YAML file works well vs. another algorithm which needs to store timeseries using a timeseries database?

Why can't HP Tuner

[2020-07-07 14:59] andreyvelich commented on #1250
This is exactly what we want to do, but use [`kaitb-config`](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/katib-controller/katib-config.yaml#L24-L56) for it. User can specify various parameters for storage backend. First of all, we can start with different PVCs (e.g. Local Storage, GCEPersistentDisk, etc.). Later we can support others storage backend, like SQL database, if it's

[2020-07-07 17:11] andreyvelich commented on #1209
@kachris Thank you for the presentation today.

As I said before, I think it would be great if you can add your Katib Experiment yaml and maybe README with link to your example to the `examples/` folder. So others can see that they can use FPGAs with Katib.

Also, if you have any ideas about improving Katib UI, please let me know.

[2020-07-08 17:29] #1229 closed

[2020-07-08 21:01] andreyvelich commented on #692
I was testing this approach: https://github.com/kubeflow/katib/issues/692#issuecomment-626054238.
For file metrics collector and StdOut, it was working and we can implement it.

Here: https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/v1beta1/file-metricscollector/main.go#L67-L83, we can analyse require information for the Early Stopping and Kill appropriate running training proces

[2020-07-09 01:08] kylepad opened #1258 "Standalone Katib deployment: creating a new experiment fails due to the MutatingWebhook timing out"
/kind bug

**Hi I am trying to setup a standalone deployment of Katib v1beta1 on GKE.**  It is very possible I am doing something totally wrong here, or missing something obvious and that's why I'm coming to you for help.

TL;DR: I have tried deploying katib via the `deploy.sh` script and also via Terraform.  No matter how I deploy everything seems fine, all of `katib-controller`, `katib-db-manage

[2020-07-09 12:11] andreyvelich commented on #1258
@kylepad Thank you for the issue.
According to this: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#prerequisites, admission webhooks v1beta1 (which we are using) should work on Kubernetes > v1.9 by default on GKE if you didn't disable it manually.

To follow this: https://github.com/kubeflow/katib/issues/1160, did you check that Kubeflow namespace has `k

[2020-07-09 13:04] #1147 closed

[2020-07-09 17:22] kylepad commented on #1258
Hey thanks for a quick response, the label is in fact set on the kubeflow namespace:
[code]

[2020-07-09 19:56] jlewi opened #1261 "Katib webhooks blocking pod creation in kubeflow namespace"
/kind bug

A GCP customer reported a problem where the katib webhooks were blocking pod creation in the kubeflow namespace. Deleting the webhooks unblocked pod creation.

The root cause of why the webhooks were failing is still unknown.

Is it expected that the katib webhooks are

1. Applying to the kubeflow namespace
1. Applying to all pods

Do we already have an issue tracking ensuring the webho

[2020-07-09 21:11] andreyvelich commented on #1261
@jlewi Was it block by validation webhook or by mutating webhook?

We have 3 webooks in Katib.
1. Validation webhook - https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/webhook.go#L80.
Which is applying only for Katib Experiment CR. It is used for Experiment validation.

2. Experiment Mutating webook  - https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/webhook.go#L9

[2020-07-09 22:07] andreyvelich commented on #1258
@kylepad
1. Do you have something installed in your cluster besides Katib that can block webhooks?
2. Run: `kubectl api-versions` to check if `admissionregistration.k8s.io/v1beta1` is among the results.
3. Try to expose `katib-controller` service (webhook server) `kubectl port-forward svc/katib-controller -n kubeflow 8080:443` and run `curl localhost:8080/mutate-experiments`

[2020-07-09 22:43] andreyvelich commented on #1258
@kylepad If you are using Private GKE cluster (you can check here: https://console.cloud.google.com/kubernetes, clicking on your cluster), it might be the same problem as here: https://github.com/kubernetes/kubernetes/issues/79739.

[2020-07-10 01:16] #1088 closed

[2020-07-10 04:26] jlewi commented on #1261
I don't think so. The user never finished deploying Kubeflow because of the issue so they never got to running an experiment.
It was other kubeflow applications that ended up getting blocked e.g. central dashboard.

Is `katib-metricscollector-injection: enabled` set on the kubeflow namespace?

[2020-07-10 04:28] gaocegege commented on #1261
From the design of the metrics collector, we have to watch all the pods to determine if the pod is owned by a Katib experiment, then we decide if we should inject. I think what we can do now is to set the webhook `ignore`

[2020-07-10 04:35] jlewi commented on #1250
@andreyvelich I would suggest talking to the KFServing folks to better understand knative autoscaling.

[2020-07-10 04:40] jlewi commented on #1250
@andreyvelich Is [katib-config](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/katib-controller/katib-config.yaml#L24-L56) providing the config for the suggestion microservices? Did you consider a micro-service architecture? e.g. for each suggestion service have a set of YAML file describing its configuration (e.g Deployment, ConfigMap, PVCs if needed).

The other parts of Katib e

[2020-07-10 17:42] andreyvelich commented on #1261
Right now, yes, but is that correct @gaocegege @johnugeorge ?
If we take a look at this issue: https://github.com/kubeflow/kubeflow/issues/4730, users can't submit Experiment on Kubeflow namespace like @jlewi commented.

What is the reason to keep `katib-metricscollector-injection: enabled` label on Kubeflow namespace, if we need this label only on user's Profile namespace, which is currently Prof

[2020-07-10 17:54] andreyvelich commented on #1250
Yes, it was created to give user additional control over Suggestion service/deployment: https://www.kubeflow.org/docs/components/hyperparameter-tuning/katib-config/#suggestion-settings.
And we can easily extend it with different storage backend settings that we would like to support.

[2020-07-10 19:34] andreyvelich opened #1263 "Custom Metrics Collector example"
/kind feature

After https://github.com/kubeflow/katib/pull/1241#issuecomment-656832730 and https://github.com/kubeflow/katib/pull/1197#issuecomment-634831996 we disabled e2e test for Custom Metrics Collector that was added here: https://github.com/kubeflow/katib/pull/908.

We should try to find and modify source code for that image: `docker.io/kubeflowkatib/custom-metrics-collector` or create new

[2020-07-11 00:35] RoyerRamirez commented on #1261
Hi @andreyvelich, we believe it was the _**katib-mutating-webhook-config**_ in combination with the _**admission-webhook**_ that was preventing deployments from triggering a scale up in the kubeflow namespace.

These webhooks were preventing new pods from being created in the kubeflow namespace.  Our node-pools are set to autoscale  based upon load, and when a scale-up was triggered on the node-po

[2020-07-11 18:33] yashjakhotiya opened #1264 "Experiments submitted from Katib Web UI fail with NotImplementedError"
/kind bug

**What steps did you take and what happened:**
Launched a hyperparameter tuning experiment from the Katib Web UI. All experiments failed. Google Cloud error reporting showed this -
[code]
Running the same experiment via Python SDK completes successfully.

**What did you expect to happen:**
The experiments to run without errors.

**Anything else you would like to add:**
[Miscellaneous in

[2020-07-11 19:14] yashjakhotiya commented on #1264
/assign @johnugeorge

[2020-07-12 02:14] andreyvelich commented on #1261
Hi @RoyerRamirez, thank you for this information.

How did you deploy Kubeflow? Are you using private GKE cluster? If yes, it can be the problem with Firewall, check this issue (https://github.com/kubernetes/kubernetes/issues/79739).

Please try to remove `katib-metricscollector-injection=enabled` label from Kubeflow namespace.

As I mentioned before, it is not necessary to have this label on Kube

[2020-07-13 12:38] andreyvelich commented on #1264
@yashjakhotiya Thank you for reporting this.
This error should be fine, it just said that we don't have validation method in Suggestion.
Even with this error, Experiment should be succeeded.

How did you submit Experiment from the UI?
Can you show yaml file, that you used?

[2020-07-13 13:50] #1206 closed

[2020-07-13 14:02] jlewi commented on #1250
Why doesn't the operator (person deploying the suggestion services) just configure the service/deployment directly. What's the point of creating a layer of abstraction around that with a ConfigMap.

e.g. suppose I have two suggestion services

* NAS
* GridSearch

Each of these may have different backend requirements. Lets suppose NAS uses an SQL DB and GridSearch uses an object store. So each of t

[2020-07-13 14:17] jlewi commented on #1261
@andreyvelich its possible kubernetes/kubernetes#79739 was blocking the proper functioning of the katib collector. But its still a bug IMO if the katib admission hook is improperly affecting pods unrelated to Katib.

So there's two additional issues here

1. If katib shouldn't be applied to the kubeflow namespace can we disable the admission hook in that namespace
1. Starting in Kubernetes 1.X it

[2020-07-13 14:22] jlewi commented on #1261
@Tomcli added a unittest to validate webhooks: https://github.com/Tomcli/manifests/blob/b358d8898859a1aa2b6caab33c87142739a61645/tests/validate_resources_test.go but since Katib is dynamically creating its webhooks the test isn't getting applied.

[2020-07-13 14:43] andreyvelich commented on #1261
I can see your comment here: https://github.com/kubeflow/kfserving/issues/568#issuecomment-557686115 and this issue: https://github.com/kubeflow/kubeflow/issues/4730, users should not submit Katib Experiments in Kubeflow namespace.
I can't see any reason to have `katib-metricscollector-injection: enabled` on Kubeflow namespace.
WDYT @johnugeorge @gaocegege ?

Found this comment: https://github.com

[2020-07-13 15:22] andreyvelich commented on #1250
@jlewi We are not giving functionality to define whole YAML manifest for Suggestion resource to the user. To make it very easy to submit Katib Experiment and get results. Controller creates k8s deployment and service automatically for Suggestion.

For users that would like to modify default Suggestion installation we provide few settings, e.g. Service Account name.

And my thought is to add anothe

[2020-07-13 20:09] kylepad commented on #1258
Hey thanks for your help! We are using a Private GKE Cluster with a VPC.  Creating a firewall rule allowing traffic via TCP:8443 and specifying the source range as the master plane CIDR fixed the problem 👍
[code]
Might be a good idea to document this somewhere.  Could save somebody else a lot of time 🤷‍♂️

[2020-07-13 20:09] #1258 closed

[2020-07-14 01:20] jlewi commented on #1261
It looks like we have katib collector enabled here on kubeflow namespace
https://github.com/kubeflow/manifests/blob/5cc6fd3ca0eac7c46aad116c04713d6944f249fd/namespaces/base/namespaces.yaml#L8

This file was introduced after 1.0 so I don't think that's what the user was using.  Should we update that to disable metrics collector in Kubeflow namespace?

[2020-07-14 01:57] gaocegege commented on #1261
WDYT @johnugeorge @gaocegege ?

SGTM

[2020-07-14 21:45] andreyvelich opened #1266 "[Documentation] Katib webhook information"
/kind feature

We should document how admission Kubernetes webhooks is used in Katib.

Also, add information about private GKE clusters, see comment: https://github.com/kubeflow/katib/issues/1258#issuecomment-657765517.

[2020-07-14 21:47] andreyvelich commented on #1266
/good-first-issue

[2020-07-15 01:32] #1087 closed

[2020-07-15 01:38] gaocegege commented on #1214
We will have a meeting at https://www.timeanddate.com/worldclock/meetingdetails.html?year=2020&month=6&day=30&hour=13&min=0&sec=0&p1=136&p2=438&p3=237&p4=179

Feel free to join if you are interested in the feature.

[2020-07-15 11:38] andreyvelich commented on #1214
Meeting will be on 16th of July at the above time (1pm UTC).
Join #katib Slack channel for more information.

[2020-07-16 00:53] evonit commented on #1234
@andreyvelich
Hi, I have installed the latest version of Katib.
It is totally changed, applied the multi-user feature into Katib, Good!
Could you tell me when kubeflow 1.1 ga is going to be released? ( I saw the roadmap page, was planned late June.)

[2020-07-16 12:02] andreyvelich commented on #1234
@evonit Great!
I am not sure about the date, maybe end of the July.
It will be released when all Kubeflow components will be ready.
You can track this issue: https://github.com/kubeflow/kubeflow/issues/5022 for the status.

[2020-07-16 12:59] czheng94 commented on #1214
Some thoughts I have:

1. How to get succeeded state of the Job

The original logic is [here](https://github.com/kubeflow/katib/blob/82679294ecaecd83dba30d42f9ce9e36f732cd89/pkg/controller.v1alpha3/trial/trial_controller.go#L238)
and [here](https://github.com/kubeflow/katib/blob/82679294ecaecd83dba30d42f9ce9e36f732cd89/pkg/controller.v1alpha3/trial/trial_controller_util.go#L162-L172)

To support a

[2020-07-16 14:44] czheng94 opened #1270 "Support Custom Suggestion Algorithms"
/kind feature

Katib should support custom suggestion algorithms that adheres to a contract, so that users don't always need to rely on Katib to catch up with latest advancements in hypertuning / AutoML, but can take advantage of all the Katib infrastructure.

To accomplish that, we need to come up with:

1. A contract (maybe service schema) for the suggestion algorithm. This should be generic, bu

[2020-07-16 15:15] andreyvelich opened #1271 "Trial Pod's ownership to inject metrics collector sidecar container"
/kind bug

See comment: https://github.com/kubeflow/katib/issues/1261#issuecomment-656353477.

Currently, we compare pod's ownership name with Trial name and inject metrics collector sidecar if names are equal.
Name equality is not required condition when Trial owns the Pod.

We should check all sequence of Pod's ownership and see if Katib Trial resource is there.

/cc @gaocegege @johnugeorge

[2020-07-16 15:57] andreyvelich commented on #1250
Few thoughts after discussion on the Katib meeting:

1. As @gaocegege mentioned Kubernetes HPA and knative autoscaling is designed for the stateless services, but most Katib Suggestion services are stateful.
Some Suggestion has their own DB to store internal data. Because of that, having external storage for the Suggestion service state make sense.

2. To avoid problems with supporting different p

[2020-07-16 19:39] andreyvelich opened #1272 "Tags for Training container images"
/kind feature

Currently, we don't have any tags and version control for our images in Docker registry: [`docker.io/kubeflowkatib/`](https://hub.docker.com/u/kubeflowkatib).
Therefore, PRs for changing training containers source code (e.g https://github.com/kubeflow/katib/pull/1241) affect on all examples, because we are using the latest tag.

Do you have any ideas how we can control versions of t

[2020-07-16 22:41] andreyvelich commented on #1214
@czheng94 @gaocegege @johnugeorge Thanks for attending Katib meeting today and driving this.

From my understanding, these steps should cover new feature:

1. - [ ] Trial controller must Watch for the each CRs that user wants to use in Template, like now it watches for [TFJob and PytorchJob](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/trial/trial_controller.go#L107-L125).

[2020-07-17 00:33] gaocegege commented on #1250
LGTM

[2020-07-17 00:36] gaocegege commented on #1214
Can we have a proposal for the feature? Ppl like Jeremy and @sperlingxx may be interested in it too.

[2020-07-17 02:14] crazy-canux commented on #1212
got the same issue here.

k8s@ubuntu2:~/k8s/kubeflow$ kubectl describe pod katib-db-manager-54b64f99b-nmtzv -n kubeflow
Name:         katib-db-manager-54b64f99b-nmtzv
Namespace:    kubeflow
Priority:     0
Node:         ubuntu4/10.103.238.34
Start Time:   Thu, 16 Jul 2020 08:32:27 +0000
Labels:       app=katib
              app.kubernetes.io/component=katib
              app.kubernetes.io/instance

[2020-07-17 16:55] andreyvelich commented on #1212
@crazy-canux Can you try to execute on your mysql pod `kubectl exec -it <katib-mysql-pod-name>  -n kubeflow -- /bin/bash`?

[2020-07-17 22:17] andreyvelich commented on #1214
@gaocegege Ok, I will submit proposal.

[2020-07-18 14:30] crazy-canux commented on #1212
@andreyvelich Yes, I can see the password is "test" when execuch "echo $MYSQL_ROOT_PASSWORD".

[2020-07-20 12:39] andreyvelich commented on #1212
@crazy-canux Can you try to check if mysql DB works.
Run:  `mysql -D ${MYSQL_DATABASE} -u root -p${MYSQL_ROOT_PASSWORD} -e 'SELECT 1'` on `katib-mysql` pod.

Also, try to delete `/tmp/katib` directory if you are using host path for mysql PV on your cluster and restart Katib.

[2020-07-22 02:05] crazy-canux commented on #1212
@andreyvelich  after restart katib-mysql, error changed.

[code]

[code]

[2020-07-22 02:49] gaocegege commented on #889
We can use https://golang.org/src/encoding/json/decode.go#L187 json.Number.

[2020-07-22 16:57] andreyvelich commented on #1212
@crazy-canux Did you check that PVC is properly bounded:
`kubectl get pvc katib-mysql -n kubeflow` ?

Which volume are you using for the mysql PV ?
If it is local hostPath, did you try to delete directory on the k8s cluster node that I mentioned above?

[2020-07-22 16:59] andreyvelich commented on #889
@gaocegege Is it better than just a simple `string`, like we did with [metrics values](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1beta1/common_types.go#L89) ?

[2020-07-22 18:06] andreyvelich commented on #1261
Fixed by https://github.com/kubeflow/manifests/pull/1387 and https://github.com/kubeflow/manifests/pull/1388.

[2020-07-22 18:06] #1261 closed

[2020-07-23 01:46] gaocegege commented on #889
json.Number is a wrapper of string. We can use string, too.

[2020-07-24 18:33] andreyvelich opened #1277 "[UI Feature] Reconsider Katib UI design"
/kind feature

See comment: https://github.com/kubeflow/katib/issues/972#issuecomment-565782468.

I think we should try to optimise Katib UI design to make Kubeflow User Experience more uniform and clear.

We already use Material UI, which make components similar to other Kubeflow UI application.

We can start with colours and try to use [Kubeflow style guide](https://github.com/kubeflow/kubeflow/

[2020-07-24 18:42] andreyvelich opened #1278 "[UI Feature] Monitor Experiment dynamically"
/kind feature

Currently, on Experiments monitor and Experiment info page user has to refresh page to see updated information.

We can add timer on these pages to automatically fetch new information every "x" seconds.

[2020-07-25 01:36] #1244 closed

[2020-07-25 13:29] StefanoFioravanzo commented on #1277
Hey @andreyvelich this is a great idea. I think that just starting to change the theme colour would help in making Katib feel more integrated. Also, it's weird that when Katib is embedded in the Centraldashboard's iframe, the top banner has some padding from the top. Also, the main body has a margin on all sides, so that top bar does not adhere to the iframe borders. It's a bit strange and it's qu

[2020-07-27 15:32] #1250 closed

[2020-07-27 16:34] andreyvelich commented on #1277
Hi @StefanoFioravanzo thank you for the comment!

I think that is because we have padding and margin for root element (https://github.com/kubeflow/katib/blob/master/pkg/ui/v1beta1/frontend/src/components/App.jsx#L25-L27), we can remove it, but we need to fix other pages also, they are dependent with this style.

Do you mean that in Menu we left 3 sections: HP, NAS, Trial Template?
That makes sense

[2020-07-27 16:41] StefanoFioravanzo commented on #1277
Exactly!

Another improvements that I think would align Katib to what KFP does, is having a page with *all* the Trials. Each row would have a link to the experiment page, and vice versa. It would be very useful in case you have multiple experiments running, so you have a view over what actual Trials are running concurrently.

[2020-07-27 16:42] StefanoFioravanzo commented on #1277
@andreyvelich What are these "other pages"?

[2020-07-27 16:48] andreyvelich opened #1280 "[Documentation] Information about Trial meta injection in template"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1259, user can use Trial metadata in Trial parameters.
We should explain how to use substitution in template for metadata parameters.

[2020-07-27 17:15] idahoakl commented on #1222
I'm seeing the same issue pop up every once in a while.  The logic that `ReconcileTrials` uses to make its decision on what to delete is based on the status of the `Experiment` instance.  It looks like the status of the experiment is only updated if there are actually trials that are found within the cluster (https://github.com/kubeflow/katib/blob/master/pkg/controller.v1alpha3/experiment/experime

[2020-07-27 17:38] andreyvelich commented on #1277
Maybe we could add this list to the main page also in addition to Experiment list?

[2020-07-27 17:44] andreyvelich commented on #1277
We need to investigate in which pages we need to add this margin, because they are all under root element: https://github.com/kubeflow/katib/blob/master/pkg/ui/v1beta1/frontend/src/components/App.jsx#L34-L45 and, if we disable margin from the root element, all other components will move.
For example TabPanel: https://github.com/kubeflow/katib/blob/master/pkg/ui/v1beta1/frontend/src/components/Comm

[2020-07-27 18:20] andreyvelich commented on #1222
@idahoakl Thank you for the comment.
Yes, that makes sense to me now.

Maybe if `len(trialSlice) < expected`, we should at least delete `len(trialSlice)` trials: https://github.com/kubeflow/katib/pull/1223/files#diff-1921218c9156947874b3589005049e2aR370.
What do you think @gaocegege @johnugeorge ?

[2020-07-28 01:16] gaocegege commented on #1222
SGTM. BTW, should we fix it in v1alpha3?

[2020-07-28 02:11] idahoakl commented on #1222
Fixing it in v1alpha3 would be nice since if the bug is hit Katib is pretty much useless until manual intervention.  A lot of my users have code that creates v1alpha3 objects and getting them to change over will take some time.

[2020-07-28 02:19] gaocegege commented on #1222
@idahoakl I think so. https://github.com/kubeflow/katib/pull/1223 PTAL

[2020-07-28 07:03] StefanoFioravanzo commented on #1277
I would advocate for a brand new page that just shows all the Trials, just like the "Runs" page in KFP shows all the pipelines. Then the Home page could show just the "Running" Trials

[2020-07-28 19:55] c-bata opened #1283 "Upgrade Goptuna to v0.8.0 which supports IPOP-CMA-ES and BIPOP-CMA-ES."
/kind feature

**Describe the solution you'd like**

I've just released [Goptuna v0.6.0](https://github.com/c-bata/goptuna/releases/tag/v0.6.0). It includes IPOP-CMA-ES and BIPOP-CMA-ES supports. As the benchmark results of two-dimensional [Rastrigin function](https://www.sfu.ca/~ssurjano/rastr.html) shows, these algorithms outperforms on multimodal functions.

![rastrigin-function-dim-2-1a14f4610

[2020-07-28 19:55] c-bata commented on #1283
/assign @c-bata

[2020-07-28 23:37] andreyvelich commented on #1283
@c-bata Thank you very much for contributing with this!

I think you can directly add changes for v1beta1 version, since v1alpha3 has been already released and we have plans to release v1beta1 later.

[2020-07-28 23:58] andreyvelich commented on #1277
Why do you think it is better to create separate page with trial list instead of adding this list to Main page?

Looking for KFP UI in pipelines page user can upload/delete pipelines, but with Trials user can't make any manipulations.
On the main page we can also show trial status, create date, which experiment is owned Trial and link to the appropriate experiment info.

[2020-07-29 01:46] gaocegege commented on #1283
Cool! Thanks for the awesome work.

[2020-07-29 06:52] StefanoFioravanzo commented on #1277
Because the "main page" of a web app is supposed to be a collection of quick actions, summary of the state of the app and it's resources etc.. Since we don't even have a single view of all the running (and past) Trials, it would make sense to start from there.

All of this information can be shows in the Trials page, and then we can recycle some of this logic in the main page to show just the runn

[2020-07-29 19:32] avdaredevil commented on #1277
One thing I'd like to add is that aside from the style-guide we also created an SDK for namespace sync for Kubeflow sub-apps. This SDK will allow the app to know whether or not it's running in an iframe, and what namespace is currently selected, along with event binding for said namespace selector.

- Docs: [Client-Side Library](https://github.com/kubeflow/kubeflow/tree/master/components/centralda

[2020-07-30 23:07] andreyvelich opened #1286 "[Documentation] Controller logic for defaults Experiment API parameters"
/kind feature

We should document that `parallelTrialCount`, `maxTrialCount` and `maxFailedTrialCount` parameters can be omitted in experiment yaml and explain how Katib works in that case.

Default value for `parallelTrialCount` is 3, defined [here](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_defaults.go#L41).

If `maxTrialCount` is omitted, ex

[2020-07-31 08:41] StefanoFioravanzo commented on #1277
@avdaredevil Absolutely, even KFP uses the Centraldashboard's shared library to automatically receive the current namespace. It should be quite simple to integrate the Katib UI with this. (KFP example: https://github.com/kubeflow/pipelines/blob/8a7ea0fa0d868a95396c1f843f6676c8025c982a/frontend/src/lib/KubeflowClient.tsx)

[2020-07-31 10:35] #1222 closed

[2020-07-31 11:43] andreyvelich commented on #1277
I got your point @StefanoFioravanzo, thanks. Do we want to have just a list of Trials or also add some action when user clicks on the Trial?
@gaocegege @johnugeorge @sperlingxx What do you think about having the page with all Trials there?

[2020-07-31 11:48] andreyvelich commented on #1277
@avdaredevil We have already integrated this SDK to Katib UI: https://github.com/kubeflow/katib/blob/master/pkg/ui/v1beta1/frontend/src/components/KubeflowDashboard.jsx#L15-L28 (ref PR: https://github.com/kubeflow/katib/pull/982).
The related work there, is to how deal with user's refresh page (ref https://github.com/kubeflow/katib/issues/1136).
When user updates page on Katib UI, the Kubeflow nam

[2020-07-31 17:21] avdaredevil commented on #1136
The SDK has an event that you can bind to, to pick up on namespace changes.
It seems like you are using it [here](https://github.com/kubeflow/katib/blob/master/pkg/ui/v1alpha3/frontend/src/components/KubeflowDashboard.jsx#L21): as `cdeh.onNamespaceSelected = handler`

This event can be expected to be fired multiple times (as the user chooses different namespaces)

[2020-08-04 18:00] kylepad opened #1289 "Trial metrics-logger-and-collector breaks GKE Node-Pool Autoscaling"
/kind bug

Hello! 
**TL;DR:** the ephemeral storage requests in the metrics logger container that is part of the Trial pod prevents GKE node-pool autoscaling from scaling up if current scale is 0.

**What steps did you take and what happened:**
In order to get the best possible results from our HPO training and also keep costs low we want to run Trials on auto-scaling GPU node-pools in GKE.  By de

[2020-08-04 19:24] andreyvelich commented on #1289
Thank you for the issue @kylepad.

Yes, you can easily control `Limits` and `Requests` for your metrics collector using `katib-config`.
Check here: https://master.kubeflow.org/docs/components/hyperparameter-tuning/katib-config/#metrics-collector-sidecar-settings.
You just need to modify `katib-config` configMap with require values for your metrics collector (StdOut, File, etc..) and submit experim

[2020-08-04 19:50] kylepad commented on #1289
Awesome let me test this out and confirm it works!

[2020-08-04 20:38] kylepad commented on #1289
@andreyvelich I appreciate the quick response, however this does not solve the problem we are encountering.
In order to solve our problem we need to drop the `ephemeral-storage` request and limit altogether from the metrics container.  Our problem is not in how much or how little we are requesting, if we request `ephemeral-storage` at all, it will break our ability to scale these node pools. Exclu

[2020-08-04 21:26] andreyvelich commented on #1289
@kylepad Your use-case requires only drop `ephemeral-storage` or, also, `memory` and `cpu` ?

Since `Resource` [is parsed](https://github.com/kubeflow/katib/blob/master/pkg/util/v1beta1/katibconfig/config.go#L27-L31) to `corev1.ResourceRequirements` we can set any value for `ephemeral-storage` that satisfies `resource.Quantity`.

Maybe we can define some value (represent infinitive value) that use

[2020-08-04 23:21] kylepad commented on #1289
@andreyvelich Yes just `ephemeral-storage`. The GKE docs specify that the autoscaler will not be able to scale a node-pool up from 0 if is requesting any resource beyond `cpu`, `memory` and `gpu`.

I believe this solution would solve our problem!

[2020-08-05 21:56] andreyvelich opened #1292 "[Documentation] Resume Experiment feature"
/kind feature

We implemented new feature: resuming Experiment from volume: https://github.com/kubeflow/katib/pull/1275.

We should document that Experiment can be resumed after completion.
In Experiment yaml user can specify 3 different [resume policies](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L165-L175), we should explain what doe

[2020-08-05 22:41] andreyvelich opened #1293 "Example with saving Suggestion state to the volume"
/kind feature

We should have at least one example, when suggestion state can be restored from volume.
We can take algorithm when suggestion saves additional information during experiment run.

For example, we can use https://joblib.readthedocs.io/en/latest/generated/joblib.dump.html to store python object in file and try to restore suggestion when experiment is restarting.

Skopt uses this lib to

[2020-08-06 07:49] rmard90 opened #1294 "[katib]Is it possible to run a trial on multiple nodes at the same time instead of just one node?"
**Is it possible to run a trial on multiple nodes at the same time instead of just one node?:**
I am trying to run katib HP experiment in a cluster gpu environment.
When I run experiment, it runs only on one node. So, trials die due to OOM error.
Should I do distributed learning using TFJob or are there other ways?

*random-experiment-katib.yaml*
<pre>
<code>
apiVersion: "kubeflow.org/v1alpha3"
ki

[2020-08-06 10:03] philwinder opened #1295 "Controller should work in namespaced or role-only mode"
/kind feature

In multi-tenant clusters, I don't want users to have cluster-level access to objects. The crude approach is to replace all ClusterRoles (and bindings) with Roles. This works fine for the 0.9.0 UI, because it falls back to requesting experiments/etc. from the current namespace.

However, many parts of the controller codebase assume that there is only a single instance of the controll

[2020-08-06 10:32] andreyvelich opened #1296 "Disable unit test in travis-ci.org"
/kind feature

See comment: https://github.com/kubeflow/katib/pull/1288#issuecomment-668307242.
Currently, Katib unit tests are running on [`travis-ci.com`](https://travis-ci.com/github/kubeflow/katib/builds) and [`travis-ci.org`](https://travis-ci.org/github/kubeflow/katib/builds).
We should disable `travis-ci.org` tests since it is outdated version.

/cc @gaocegege @johnugeorge

[2020-08-06 13:19] andreyvelich commented on #1294
@rmard90 You can assign particular Node for the Trial's pod execution: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/.
Also, you can define GPU that you want to use for your Trial's pod: https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#node-labeller.

Katib doesn't support BatchJob execution on more than one Pod, but you can use TFJob or PyTorch Job.

[2020-08-10 23:24] kylepad commented on #1294
@rmard90 Kubernetes is scheduling all of your Trials on the same node because you are not setting resource constraints for the Trial. (read more here: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)

Without a `resource` block present, Kubernetes assumes that your pods are using 0 vcpu and 0 memory, so an infinite amount of these pods should fit on one Node.

You ca

[2020-08-12 00:09] sperlingxx opened #1300 "[python SDK] add examples for v1beta1 python SDK"
Currently, notebook examples for v1beta1 python SDK is missing, which is quite helpful for users to get the main idea of katib python SDK in minutes.

/assign @andreyvelich @gaocegege @prem0912

[2020-08-14 01:47] devxoxo opened #1301 "What is the role of the additional metric?"
/kind feature

I referenced [the source code](https://github.com/kubeflow/katib/blob/8aaf8647725a458d963376da0747f4f3d6bdc44a/pkg/ui/v1alpha3/hp.go).
But I couldn't fully understand what the additional metric does.

In this case, which trial does Katib recognize as OptimalTrial?
* random algorithm
* f1_score is an objective metric and accuracy is an additional metric

trial | f1_score | accuracy
t

[2020-08-14 14:43] andreyvelich commented on #1301
@devxoxo Additional metrics is used just for metrics collector to save additional values to the DB and show in the UI in Trial information plot.

In your example, `f1_score` is used to find Optimal Trial and `accuracy` should be collected from training container to the `observation_logs` mysql DB table.

[2020-08-18 07:09] rmard90 commented on #1294
Thanks to @andreyvelich @kylepad
I wasn't familiar with k8s.
I was able to solve this problem with your help.

This is my setting.
`
apiVersion: "kubeflow.org/v1alpha3"
kind: Experiment
metadata:
  namespace: admin
  labels:
    controller-tools.k8s.io: "1.0"
  name: katib-experiment-30trial-for99
spec:
  nodeSelector:
    system: gpu
  parallelTrialCount: 5
  maxTrialCount: 30
  maxFailedTrialCou

[2020-08-18 07:10] #1294 closed

[2020-08-19 08:43] devxoxo commented on #1301
@andreyvelich Thank you. It was really helpful!

[2020-08-19 08:43] #1301 closed

[2020-08-21 00:44] Gilbert88 opened #1309 "Katib controller cannot get container info from registry using Istio 1.6.5"
/kind bug

**What steps did you take and what happened:**
Deploy an experiment of tfjob or pytorchjob using a container image without `command` defined (so image entrypoint will be used). Katib controller would try to reach out to the registry but returns a failure message. E.g.,
[code]

same error for pytorch job
[code]

Logs from katib-controller
[code]

**What did you expect to happen:**
Experi

[2020-08-21 18:50] andreyvelich opened #1310 "[Documentation] Metrics strategies information"
/kind feature

We should document how user can specify [`MetricStrategies`](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1beta1/common_types.go#L55) in Experiment.

/cc @sperlingxx @johnugeorge @gaocegege

[2020-08-25 01:05] sperlingxx commented on #1310
Great idea! And I can take this job if necessary.

[2020-08-25 01:32] gaocegege commented on #1310
LGTM

[2020-08-25 10:59] andreyvelich commented on #1310
That would be awesome, thanks @sperlingxx!
I think you can submit PR directly to Kubeflow website.

[2020-08-25 15:50] jimmy-hawkfish opened #1314 "TPE suggestion service failing to provide proposals for new trials"
/kind bug

I am running an experiment with algorithm tpe and the following search space:

`[
  {
    "feasibleSpace": {
      "max": "1",
      "min": "0"
    },
    "name": "r1",
    "parameterType": "double"
  },
  {
    "feasibleSpace": {
      "max": "1",
      "min": "0"
    },
    "name": "r2",
    "parameterType": "double"
  },
  {
    "feasibleSpace": {
      "max": "1",
      "min": "0"

[2020-08-26 17:24] andreyvelich commented on #1314
@jimmy-hawkfish Thank you for reporting this!
I was able to run example with this [search space](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/tpe-example.yaml#L20-L37) for 3180 Trials at least.
<img width="312" alt="Screenshot 2020-08-26 at 18 22 43" src="https://user-images.githubusercontent.com/31112157/91336046-36ad6f00-e7c9-11ea-9d3c-b097e6d5e522.png">

Does suggestion pod ha

[2020-08-26 17:24] andreyvelich commented on #1314
/cc @gaocegege

[2020-08-26 17:48] terrykong commented on #1280
Hi @andreyvelich . After the merge of the new trial template, is there still a mechanism to get the trial name? For reference, the gotemplate way of referencing it was https://github.com/kubeflow/katib/pull/1202/files#diff-82dc48b655cb8b5eff0c7fe15d75607bL47, but all v1beta1 examples don't have that field anymore. Is there a way of referencing that variable?

The use case here is when running a tr

[2020-08-26 19:06] andreyvelich commented on #1280
Hi @terrykong, yes it is possible.

@sperlingxx implemented it in https://github.com/kubeflow/katib/pull/1259.

You can get data from `metadata.name`, `metadata.namespace`, `Kind`, `APIVersion `, `metadata.labels[x]`, `metadata.annotations[x]` from Trial running Job and use it for substitution.

We need to document it.
I will submit PR with example, how you can use these values.

[2020-08-26 19:23] andreyvelich commented on #1314
I faced with your issue, when my Suggestion pod was `OOMKilling` after 3815 succeeded trials.

I believe the issue is that.
After restart Suggestion `is_first_run=True` and `self.hyperopt_algorithm()` returns only one trial, instead of `request_number` trials.
Only for `n_startup_jobs` times `self.hyperopt_algorithm()` can return more than one trial in the same time.

You can increase your suggest

[2020-08-26 20:13] terrykong commented on #1280
Cool, looking forward to the documentation. Thanks for pointing out the relevant PR.

So I was a little impatient and went ahead and tried to do it myself. Following https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/experiment/manifest/generator_test.go I got it to work, but I'm curious if this design was intended. To make things work I need to specify all the metadata variables

[2020-08-26 20:18] terrykong commented on #1280
Actually apologies, there was already quite a bit of discussion about this in https://github.com/kubeflow/katib/pull/1259. I jumped the gun early before reading. I understand the reasoning now. It's not too much of an issue to lay out all the metadata params a user plans on using, I was merely curious~

[2020-08-26 20:25] jimmy-hawkfish commented on #1314
Thanks for the reply @andreyvelich! Yes, I see multiple restarts for the experiment and the explanation sounds reasonable. I'll try your fixes. Let me know if there are any settings you would still be interested in seeing.

[2020-08-27 02:21] gaocegege commented on #1314
Thanks for the issue.

One question here, why do we have OOM in hyperopt? /cc @andreyvelich

[2020-08-27 12:35] andreyvelich commented on #1314
@gaocegege I think because we specify default memory, cpu and disk storage for the hyperopt suggestion's pod.
When Experiment is large, hyperopt might need more memory to execute.

[2020-09-01 00:47] kylepad opened #1318 "Metrics-logger-and-collector breaks GKE logs, makes them unsearchable in stackdriver"
/kind bug

This might both a bug and a feature requests.

**TL;DR:**
- normally in GKE each node runs a FluentD sidecar which reads the STDOUT and STDERR of each container and emits these to Stackdriver
- it appears the `metrics-logger-and-collector` is somehow intercepting these logs and consuming them before FluentD can read them
- FluentD then reads the logs being emitted from the `metrics-logg

[2020-09-01 22:15] andreyvelich commented on #1318
Thanks for submitting this @kylepad.

Have you tried to use [file-metrics-collector](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/file-metricscollector-example.yaml) ?
This MC does not parse metrics from your StdOut and it does not redirect training container output to a specific file.

Can you read logs from the specific container in StackDriver? If yes, can you ignore metrics c

[2020-09-01 23:48] kylepad commented on #1318
This MC does not parse metrics from your StdOut and it does not redirect training container output to a specific file.

I have now, and it solved my problem! Thanks @andreyvelich !

[2020-09-02 14:13] andreyvelich opened #1320 "Refactoring Supported Job List"
/kind feature

After implementing custom CRD (https://github.com/kubeflow/katib/issues/1214), `SupportedJobList` parameter can be omitted since Katib supports any Kind of CRD.

In some cases users want to manually modify controller source code to Mutate Trial Job before submission, see discussion: https://github.com/kubeflow/katib/pull/1302#issuecomment-679452285 and https://github.com/kubeflow/ka

[2020-09-02 18:59] #1318 closed

[2020-09-03 14:09] #1271 closed

[2020-09-03 16:18] maganaluis opened #1322 "Katib UI allows you to delete experiments when no namespace is selected on central dashboard"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Katib UI allows you to delete experiments in other namespaces where the user is not authorized. This happens when the user does not select a namespace in the central dashboard.

**What did you expect to happen:**
If there is no namespace selected in the central dashboard no experiments s

[2020-09-03 18:29] andreyvelich commented on #1322
Thank you for submitting this @maganaluis.

Yes, this is the current problem when you are using Katib UI as part of Kubeflow dashboard.
We should think about better way of handling global namespace.
Related issue: https://github.com/kubeflow/katib/issues/1136.

Maybe we should not let user enter Katib UI if namespace is not selected.

/cc @gaocegege @johnugeorge
/priority p1

[2020-09-05 15:39] sm-hawkfish opened #1328 "Unable to scale to large number of concurrent Katib Experiments / Trials"
/kind bug

**What steps did you take and what happened:**

We launched 120 Katib Experiments simultaneously, each configured with `Parallel Trial Count:     30`. While monitoring the cluster via `kubectl -n kubeflow get pods | grep -v Completed | wc -l`, we saw no more than 160 pods running concurrently.

**What did you expect to happen:**

We expected 120 * 30 = 3600 pods to be running concurrent

[2020-09-05 17:38] yanniszark commented on #1322
@andreyvelich we (Arrikto) have also noticed this issue with Katib. This issue is common in every web app (eg jupyter). We have contributed the Kubeflow Authentication and Authorization guidelines which prescribes certain best practices for securing web apps in kubernetes. Katib should also follow these best practices to secure its web app:
https://github.com/kubeflow/community/blob/master/guideli

[2020-09-06 20:08] sm-hawkfish commented on #1328
For a concrete example, here is the `status` subresource from a completed trial:

[code]

A couple of notes:

- The suggestion service responded with the param assignments at `2020-09-04 19:58:54.677 EDT`, which I believe coincides with when the `Trial` resource itself was created.
- **35 minutes later**, the status sub-resource is updated to `TrialCreated`
- **15 minutes after that**, the `trial-

[2020-09-07 11:25] ever1022 opened #1329 "TPE suggestion gives same parameters sets in one getSuggestions call."
/kind bug

**What steps did you take and what happened:**
Invoke getSuggestions( with request_number > 1) of HyperoptService with TPE algorithm,
it returns "request_number" sets of parameters set, but the parameters sets are all the same.

**What did you expect to happen:**
Return different parameters sets.

**Anything else you would like to add:**
For first run, TPE getSuggestions gives different

[2020-09-08 18:29] andreyvelich opened #1330 "Early stopping implementation"
/kind feature

To continue idea proposed here: https://github.com/kubeflow/katib/issues/692#issuecomment-626054238, we have to implement these steps:

1. I propose these API changes in [Suggestion](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/suggestions/v1beta1/suggestion_types.go):
[code]
I propose these API changes in [Trial](https://github.com/kubeflow/katib/blob/master/pk

[2020-09-08 22:22] andreyvelich commented on #1329
Thank you to notice this @ever1022.
That is because [hyperopt `suggest`](https://github.com/hyperopt/hyperopt/blob/master/hyperopt/tpe.py#L916) method produces only one Trial per request. We can't generate more than one Trial in one call.

I am not sure how we can update fmin with the generated Trial, since we don't have Trial results once it is created.

Can we use [`insert_trial_doc`](https://gi

[2020-09-08 22:53] andreyvelich commented on #1328
Thank you for reporting this @sm-hawkfish. Few questions:
1. Which algorithm have you run?
2. Do you have any errors in Katib controller?
3. Do you have any warnings in your Kubernetes node pool ?

/cc @johnugeorge @gaocegege

[2020-09-09 11:16] andreyvelich opened #1331 "Maintaining python SDK versions"
/kind feature

How we want to maintain our python SDK package version located here: https://pypi.org/project/kubeflow-katib/?
Do we want to change version for each time when we update SDK or upload only release version of API?

As well, @prem0912 can you give us Owner permission to manage this package, please?
Currently, I can't give new permissions or view the package options.

/cc @sperlingxx @g

[2020-09-09 12:28] prem0912 commented on #1331
@andreyvelich  given Owner permission

[2020-09-09 12:28] andreyvelich commented on #1331
Thank you for your help @prem0912!

[2020-09-09 16:08] andreyvelich commented on #1214
@nielsmeima Can you give more insights how you were using Argo workflows with Katib, please?

The problem that I can see that `wait` container deletes all sidecar once `main` is finised (ref: https://github.com/argoproj/argo/blob/master/cmd/argoexec/commands/wait.go#L33).

We injected metrics collector as a sidecar and it will be deleted once main is finished, whether we Wait for all processes or

[2020-09-10 13:15] andreyvelich opened #1332 "Long term solution for AutoML CI/CD test infrastructure"
/kind feature

We need to figure out a long term plan to run CI test infrastructure under AutoML projects.
Right now, we use Travis to run our unit and integration tests, `kubeflow-ci` and `automl-ci` project to run our e2e tests, using Prow.
During Prow test we follow these steps:

- We submit Argo workflow from ksonnet app to `kubeflow-testing` cluster in `kubeflow-ci` project. Do we want to ref

[2020-09-10 13:15] andreyvelich commented on #1332
/priority p1

[2020-09-10 21:38] andreyvelich commented on #1295
Thank you for pointing this @philwinder.

I believe it was designed by that because Katib is installed as part of Kubeflow. In Kubeflow you should submit Experiments only in your user profile namespace. Also see this: https://github.com/kubeflow/katib/issues/162.

On the other hand, Katib can be also stand-alone deployment where not giving cluster-role access is possible.
That requires some compon

[2020-09-11 15:03] neolunar7 opened #1334 "Katib Controller failing"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I am getting the error log below, from katib-controller. It took very long time to delete the experiments and trials. But controller pod keeps failing though I deleted and restarted the pod.
I ran an Katib Experiment with the script below. I submitted the yaml file from the Katib UI (gen

[2020-09-11 15:38] andreyvelich commented on #1334
Thank you for submitting the issue @neolunar7.
I think there are 2 problems:
1. You should specify HP parameter Go template right after your training container `commands` to make proper substitution.
2. If you want to use more than one container in your Job template, first one should be the training, [see this](https://github.com/kubeflow/katib/blob/master/pkg/job/v1alpha3/job.go#L66).

I believe

[2020-09-11 15:45] neolunar7 commented on #1334
@andreyvelich Oh, understood. But as my katib-controller is in crashloopbackoff state, should I be trying out your suggestion in a new cluster? I think the controller will not be able to receive the new job. Am I correct?

[2020-09-11 15:52] andreyvelich commented on #1334
Yes, it is better to use new cluster.
Or you can try to manually delete all Experiment and Trial resources by removing `metadata.finalizers` and, if experiment is completely deleted, delete controller pod.

[2020-09-11 17:47] andreyvelich commented on #1330
As discussed on the meeting, we will:
- Move [`EarlyStoppingSpec`](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1beta1/common_types.go#L27) under [`ExperimentSpec`](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L25).
- Use `EarlyStopping` GRPC service API to change Trial status. We need to add rbac for Suggest

[2020-09-11 17:48] andreyvelich commented on #1332
As discussed on the meeting, we should try to investigate GitHub actions in Katib e2e workflow.
@gaocegege Can you show repo example with GitHub action and k8s server that you mentioned before?

[2020-09-11 18:05] andreyvelich commented on #1073
@JackDallas I apologize for the long reply.
I am sure which manifests microk8s is using and why katib-ui Cluster Role is not part of it. I would recommend open this issue under [microk8s](https://github.com/ubuntu/microk8s/issues) and cc me.

/cc @knkski

[2020-09-11 18:10] JackDallas commented on #1073
@andreyvelich I ended up on the k8s slack and resolved this but honestly I can't for the life of me remember what the issue was. I believe I ended up using a new version of k8s or kubeflow though

[2020-09-11 18:13] andreyvelich commented on #1073
Thank you for the confirmation @JackDallas.
I close this, feel free to open if this issue is raised again.

[2020-09-11 18:13] #1073 closed

[2020-09-13 03:48] neolunar7 commented on #1334
Thanks Andrey. I'll try it out and notify you.

[2020-09-13 06:32] neolunar7 commented on #1334
@andreyvelich Hi Andrey. I must have train data mounted first, and I am curious whether init container works.

[2020-09-14 10:48] advancedwebdeveloper opened #1336 "Building Katib using gollvm"
/kind bug

Hi.
I tried to clone https://github.com/kubeflow/katib/ repo - and was investigation (indirect?) build options.

I am sticking to an experimental [gollvm](https://go.googlesource.com/gollvm/) project.

**What steps did you take and what happened:**

This step is a pretty obvious one

Not sure if this should be involved - so I moved forward.

It is predictive to get some errors, related

[2020-09-14 11:18] advancedwebdeveloper commented on #1336
I am confirming that was built [Go-MySQL-Driver](https://github.com/go-sql-driver/) successfully.

I was able to run all package's tests (via 'go test') and end-user test app was compilable both as a shared link. executable and [as a statically linked](https://go.googlesource.com/gollvm/#buildstatic) one.
I didn't try to build github.com/go-sql-driver package itself as a statically linked one - bu

[2020-09-14 11:39] advancedwebdeveloper commented on #1336
I had some success with [github.com/awalterschulze/gographviz](https://github.com/awalterschulze/gographviz) :

No output, by default (verbosity should be enabled?).

Same here.
Entering the source folder, to run some bundled tests:

My proof of that the package was built:

Ivan

[2020-09-14 11:54] advancedwebdeveloper commented on #1336
Caught a purely gollvm bug, while building [github.com/c-bata/goptuna/tpe](https://github.com/c-bata/goptuna/tree/master/tpe) :

[2020-09-14 11:54] advancedwebdeveloper commented on #1336
[goptuna is not compiling using gollvm. asm level bugs caught](https://github.com/c-bata/goptuna/issues/154) - referencing related bug.

Ivan

[2020-09-14 13:24] advancedwebdeveloper commented on #1336
I am starting  to think that there are some [gonum](https://github.com/gonum/gonum) related bugs - tracked that down, during build attempt for [github.com/c-bata/goptuna/cmaes](https://github.com/c-bata/goptuna/cmaes) :

[2020-09-14 14:10] jlewi commented on #1332
@kubeflow/wg-automl-leads What is an ETA for migrating off shared infra? Is 4 weeks enough time? If not please suggest an alternative.

[2020-09-14 14:38] andreyvelich commented on #1334
@neolunar7 You can try to use init container since it is iterating only over [`spec.containers`](https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1alpha3/pod/inject_webhook.go#L295).

[2020-09-14 14:41] advancedwebdeveloper commented on #1336
Surprisingly no errors with [k8s.io/apimachinery/pkg/watch](https://github.com/kubernetes/apimachinery/tree/master/pkg/watch) :

Ivan

[2020-09-14 22:40] sm-hawkfish commented on #1328
Hi @andreyvelich , thanks for following up.

1. I am running the `tpe` algorithm. I don't think this is the root cause, as the `Trial` objects themselves are getting created no problem (with valid hyperparameter sets), it's just that the Trials do not quickly move into `Created` or `Running` state

2. Every once in a while the `katib-controller` will display an error like:

[code]

But they are in

[2020-09-14 23:07] sm-hawkfish commented on #1328
We just kicked off 12 concurrent experiments, each with parallelTrialCount of 10. Here are some Prometheus snapshots showing that the trial-controller in particular seems to be struggling to keep up:

![Screen Shot 2020-09-14 at 6 59 20 PM](https://user-images.githubusercontent.com/58445518/93146492-fa30ad00-f6bc-11ea-84e3-259699564afb.png)

![Screen Shot 2020-09-14 at 6 59 28 PM](https://user-ima

[2020-09-15 13:55] andreyvelich commented on #1328
@sm-hawkfish You can try to run: `kubectl describe nodes` to see if your nodes have any warnings.
So `katib-controller` hasn't restarted during this run, right ?

Basically, controller reconciles only experiment's trial [to get optimal HP](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1alpha3/experiment/util/status_util.go#L66-L108).

Once you deleted experiment it is better to wai

[2020-09-16 06:49] c-bata commented on #1336
I think we can close this issue because this is not an issue on Katib. See the following comments:

* https://github.com/gonum/gonum/issues/1452#issuecomment-692080376
* https://github.com/c-bata/goptuna/issues/154#issuecomment-692208358
* https://github.com/golang/go/issues/41399#issuecomment-692697171

[2020-09-16 06:52] gaocegege commented on #1336
I am closing it. Thanks to @c-bata

If you have questions please leave here.

[2020-09-16 06:52] #1336 closed

[2020-09-16 21:13] andreyvelich opened #1341 "[Documentation] New Trial template design"
/area docs

We should document our new trial template design and how to use new CRD in the Trial template.

Since user doesn't need to manually modify controller source code to support new CRD, do we need [new-trial-kind](https://github.com/kubeflow/katib/blob/master/docs/new-trial-kind.md) in our Katib repository ?
Or it is better to add this information under https://www.kubeflow.org/ website ?

[2020-09-17 22:44] #1289 closed

[2020-09-18 13:46] andreyvelich commented on #1332
@jlewi We are waiting for the @Jeffwan implementation with AWS restructuring.
@PatrickXYS has already created the initial PR: https://github.com/kubeflow/testing/pull/755.
Once the AWS infra will be ready, we will give ETA for the Katib project.

At the meantime, we were thinking about switch to GitHub actions. I debugged it here: https://github.com/andreyvelich/katib/pull/3 and that can work for

[2020-09-18 13:50] andreyvelich opened #1343 "Metrics unavailable Trial condition"
/kind feature

Currently, if metrics are unavailable we switch Trial to `Succeeded` condition with `Status: False`.
To be more clear, we should create another condition: `MetricsUnavailable` and set Trial to that condition.

[2020-09-18 14:31] jlewi commented on #1332
@andreyvelich that is an insufficient committement from the @kubeflow/wg-automl-leads. @Jeffwan and @PatrickXYS are not AutoML leads; they are not responsible for @kubeflow/wg-automl-leads test and CI release.

Absent another agreed upon deadline, the default will be 4 weeks from now, October 17.  That will be 3 months from the original kubeflow/testing#737

I have configured the IAM permissions f

[2020-09-21 14:32] andreyvelich commented on #1332
@jlewi October 17 as a deadline looks good for us.
We verified that GitHub actions can work.

If we don't switch to AWS test infra until the deadline, we will use GitHub actions.
/cc @johnugeorge @gaocegege

[2020-09-22 14:09] jlewi commented on #1332
Fantastic thank you!

[2020-09-23 15:10] Pallavi-28 opened #1346 "Critical vulnerabilities"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version (`kfctl version`):
- Minikube version (`minikube version`):
- Kubernetes version: (use `kubectl version`)

[2020-09-23 19:28] sadeel opened #1347 "Katib standalone deployment has certificate issues"
/kind bug

**What steps did you take and what happened:**

1.  I installed Katib (standalone) on my GKE cluster using the following commands:
git clone git@github.com:kubeflow/katib.git
bash katib/scripts/v1beta1/deploy.sh

2. I launched a sample hyperparameter tuning job and ran into the following issue with the katib-controller

{"level":"info","ts":1600888893.660251,"logger":"trial-controller",

[2020-09-25 08:13] ChenjunZou opened #1350 "running deploy.sh twice, and katib-mutating-webhook-config is not created."
when I run scripts/v1beta1/deploy.sh
katib-validating-webhook-config & katib-mutating-webhook-config are created
![image](https://user-images.githubusercontent.com/2654887/94242867-3c71ae00-ff49-11ea-95cb-371a7a594832.png)

but when I run the deploy.sh again，these webhooks are deleted and not being created.
I don't know why.

![image](https://user-images.githubusercontent.com/2654887/94243319-d043

[2020-09-28 09:09] ChenjunZou commented on #1350
Close it, because it seems not to be the root cause.

[2020-09-28 09:09] #1350 closed

[2020-09-29 17:20] connorlwilkes commented on #1266
With respect to private GKE and webhooks this will be really useful across the board for Kubeflow.

[2020-10-01 22:25] daftping opened #1354 "Update deprecated api apiextensions.k8s.io/v1beta1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Update deprecated api group apiextensions.k8s.io/v1beta1 - [code](https://github.com/kubeflow/katib/search?q=%22apiextensions.k8s.io%2Fv1beta1%22).

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals
The apiextensions.k8s.io/v1beta1

[2020-10-05 06:41] Utkagr commented on #1212
@andreyvelich I'm facing the same error. I checked the cluster nodes and there's no such directories `/tmp/katib` to delete in the first place.

[2020-10-06 13:38] andreyvelich commented on #1212
@Utkagr Can you check that PVC was bounded successfully?
How did you deploy Katib?

[2020-10-06 13:44] andreyvelich commented on #1347
@sadeel If you are using private GKE it might be this problem: https://github.com/kubeflow/katib/issues/1258#issuecomment-656386139.
You need to create firewall rule to enable webhooks.

[2020-10-06 14:17] Utkagr commented on #1212
@andreyvelich The PVC is bounded successfully and I deployed katib using the kubeflow manifest v1.1 only which is the standard setup recommended. Would you please check the logs here https://github.com/kubeflow/manifests/issues/1565 and see what could be a potential issue? Thanks a lot.

[2020-10-06 19:22] andreyvelich commented on #1212
Thanks @Utkagr.
Try this:
1. Add `imagePullPolicy: Always` in mysql-db [deployment](https://github.com/kubeflow/manifests/blob/master/katib/katib-controller/base/katib-mysql-deployment.yaml#L25).
This error: `2020-09-30T08:22:02.975759Z 0 [ERROR] [MY-011947] [InnoDB] Cannot open '/var/lib/mysql/datadir/ib_buffer_pool' for reading: No such file or directory` can happen when you try to upgrade MySQL

[2020-10-07 04:54] Utkagr commented on #1212
@andreyvelich Thanks for your comment.  On trying 1, katib-mysql pod is going crashloopbackoff with these logs
[code]
On trying 2(changed path to `/var/lib/katib-mysql` wherever required in katib-mysql-deployment.yaml), pod is still in crashloopbackoff with the same logs.

On this point, since I'm using manifests repo to setup katib, I can only see this pvc definition inside katib base directory
[

[2020-10-07 20:00] andreyvelich commented on #1332
For the AutoML we are waiting for the resolving this comment: https://github.com/kubeflow/internal-acls/issues/348#issuecomment-704614217.
After set the webhook we can start to use AWS test infra.

@kubeflow/google-admins Since you have admin access to all repositories, can you help us with the webhook set-up?

/cc @johnugeorge

[2020-10-15 05:50] Utkagr commented on #1212
Resolved using https://github.com/kubeflow/katib/tree/master/manifests/v1alpha3/pv manifests. Thanks @andreyvelich

[2020-10-15 20:42] andreyvelich commented on #1212
@Utkagr It's good to hear!
Btw, what cluster are you using to run Kubeflow?
What is your dynamic volume provisioner?

[2020-10-16 00:32] Utkagr commented on #1212
It's rook-ceph and we've our on prem setup with 1 master 3 workers

[2020-10-16 02:08] andreyvelich commented on #1212
You might need some additional setup for running mysql with this Provisioner.
Maybe this solution: https://github.com/kubeflow/katib/issues/1156.

[2020-10-16 23:29] andreyvelich commented on #1214
This feature is implemented in upstream.

[2020-10-16 23:29] #1214 closed

[2020-10-16 23:37] andreyvelich commented on #182
@AnberLu Currently Katib isolates user's resources by profile namespace, like other training operators.

[2020-10-16 23:37] #182 closed

[2020-10-16 23:44] #272 closed

[2020-10-16 23:46] andreyvelich commented on #240
We created [Python SDK](https://github.com/kubeflow/katib/tree/master/sdk/python/v1beta1) for Katib to run Experiments.

[2020-10-16 23:46] #240 closed

[2020-10-16 23:46] #511 closed

[2020-10-17 00:01] #902 closed

[2020-10-17 00:02] #1181 closed

[2020-10-17 00:08] andreyvelich commented on #955
We will update doc with this info. See comment: https://github.com/kubeflow/katib/pull/1338#issuecomment-708108674.

[2020-10-17 00:08] #955 closed

[2020-10-17 00:10] #968 closed

[2020-10-17 00:13] andreyvelich commented on #987
This was implemented.

[2020-10-17 00:13] #987 closed

[2020-10-17 00:16] andreyvelich commented on #1029
@fedeesku1 Can you verify that metrics are reported to the DB? If you have any problems, feel free to create new issue.

Corresponding issue about new Trial status with metrics unavailable: https://github.com/kubeflow/katib/issues/1343.

[2020-10-17 00:16] #1029 closed

[2020-10-17 00:20] #1080 closed

[2020-10-17 00:22] andreyvelich commented on #1084
@hyeonsangjeon As well, you can use our Python SDK: https://github.com/kubeflow/katib/tree/master/sdk/python/v1beta1.
Feel free to create an issue if you want to see any other API call there.

[2020-10-17 00:22] #1084 closed

[2020-10-17 01:00] andreyvelich commented on #1209
Examples was created. We can close it.

[2020-10-17 01:00] #1209 closed

[2020-10-17 01:01] andreyvelich commented on #1212
Feel free to re-open issue if you have this problem again.

[2020-10-17 01:01] #1212 closed

[2020-10-17 01:03] andreyvelich commented on #1217
/area release
/priority p1

[2020-10-17 01:08] andreyvelich commented on #1220
/area release
/priority p1

[2020-10-17 01:09] andreyvelich commented on #1221
/area release
/priority p1

[2020-10-17 01:10] #1234 closed

[2020-10-17 01:11] andreyvelich commented on #1247
/priority p2

[2020-10-17 01:11] andreyvelich commented on #1249
/priority p2

[2020-10-17 01:12] andreyvelich commented on #1264
@yashjakhotiya If you are still facing this problem feel free to re-open the issue.

[2020-10-17 01:12] #1264 closed

[2020-10-17 01:14] andreyvelich commented on #1277
/priority p2

[2020-10-17 01:15] andreyvelich commented on #1278
/priority p1

[2020-10-17 01:16] andreyvelich commented on #1280
/priority p1
/area release

[2020-10-17 01:24] andreyvelich commented on #1286
/area release
/priority p1

[2020-10-17 01:25] andreyvelich commented on #1292
/area release
/priority p1

[2020-10-17 01:27] andreyvelich commented on #1300
Ref: https://github.com/kubeflow/katib/pull/1337.

[2020-10-17 01:27] #1300 closed

[2020-10-17 01:28] andreyvelich commented on #1310
/area release
/priority p1

[2020-10-17 01:34] andreyvelich opened #1358 "[Documentation] Disable ephemeral storage for Suggestion and metrics collector resources"
After this PR: https://github.com/kubeflow/katib/pull/1312, user can remove ephemeral storage from Suggestion or metrics collector resources.
We should document it.

/cc @gaocegege @johnugeorge @khersey

/area docs
/area release
/priority p1

[2020-10-17 01:36] andreyvelich commented on #1314
Feel free to re-open the issue if you face the problem again.

[2020-10-17 01:36] #1314 closed

[2020-10-17 01:38] andreyvelich commented on #692
Let's continue discussion in https://github.com/kubeflow/katib/issues/1330.

[2020-10-17 01:38] #692 closed

[2020-10-17 01:40] andreyvelich commented on #1341
/area release
/priority p1

[2020-10-17 01:55] andreyvelich commented on #1354
Thanks for the information @daftping.
@gaocegege @johnugeorge Should we fix it before the 1.2 release?

I am concerned that we use other deprecated APIs. For example, [`admissionregistration.k8s.io/v1beta1`](https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/webhook.go#L20)

[2020-10-17 02:12] andreyvelich opened #1359 "[Documentation] Annotation to disable istio sidecar container"
/area docs

See comment: https://github.com/kubeflow/katib/pull/1338#issuecomment-708108674.
While running Katib + Istio user should manually add `sidecar.istio.io/inject: "false"` annotation to Trial Template.
We should document it.

/cc @gaocegege @johnugeorge

/area release
/priority p1

[2020-10-17 02:25] andreyvelich opened #1360 "[Release] Katib 0.10 release for Kubeflow 1.2"
This is track issue for Katib 0.10 release for Kubeflow 1.2.
Related: https://github.com/kubeflow/kubeflow/issues/5224.

### Main features:
1. Release v1beta1 Katib version.
1. New Trial template design (https://github.com/kubeflow/katib/issues/1208).
1. Extracting metrics in multiple ways (https://github.com/kubeflow/katib/pull/1140).
1. Resume Experiment from volume (https://github.com/kubeflow/

[2020-10-17 02:26] andreyvelich commented on #1330
/area release

[2020-10-21 11:44] philwinder commented on #1295
Hi @andreyvelich. Just stumbled across my own issue again. :-)

Yes, you're right, and that is a problem with Kubeflow too. It expects a single kubeflow instance and the ability to create/control namespaces. For many of my clients that is not acceptable. Namespaces are locked down.

But yes, a simple solution would be to provide the ability to create a webhook with the namespace name in the name o

[2020-10-22 05:21] gaocegege commented on #1341
LGTM

[2020-10-22 06:28] gaocegege commented on #1354
I think we should have a detailed review for this.

[2020-10-22 10:39] philwinder opened #1365 "Kubeflow 1.0.2 Katib NAS default example fails due to overwritten container"
/kind bug

**What steps did you take and what happened:**
- Using a vanilla Kubeflow 1.0.2 install.
- Click on NAS->Submit->Params
- Run the default NAS example in a namespace.

The trial pods fail due to a change in the underlying mnist dockerfile.

[code]

I tried to find an older version of the container here: https://hub.docker.com/r/kubeflowkatib/mxnet-mnist/tags, but only one exists, and it

[2020-10-22 10:41] philwinder commented on #1295
Just a quick update on this to help future me/people. In the end I have written a script/pod that proactively scrapes for the hardcoded mutating and validating configs, deletes them, then creates new ones with non-clashing equivalents.

[2020-10-22 12:49] andreyvelich commented on #1365
@philwinder Can you check which Trial template you use in the UI? I assume, you use template for mxnet-mnist HP example. You should use [`nas-template`](https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/katib-controller/trialTemplateConfigmapLabeled.yaml#L31-L53).

If you want to use out-of-the-box NAS, it's better to use at least Kubeflow 1.1.
It should have stable examples: https:

[2020-10-22 12:54] andreyvelich commented on #1295
@philwinder If we disable mutating webhook, metrics collector doesn't work.
We can add webhook YAMLs to the manifests once user deploys Katib.
In that case, controller doesn't need to deploy webhooks.

Do you want to attend one of the upcoming AutoML meetings to discuss questions of using Katib without cluster-role access ?

/cc @gaocegege @johnugeorge

[2020-10-23 23:15] terrykong commented on #1168
Perhaps this should be a separate issue, but I'm curious if it's possible to decouple `maxTrialCount`, `r_l`, and `parallelTrialCount`? In particular, I have a use case where I don't want to make `parallelTrialCount` too high, but I still want a large initial bracket (`r_l`).

Part of my issue is setting `parallelTrialCount` too high might not be possible since I don't have enough GPUs.

[2020-10-23 23:30] terrykong opened #1366 "Hyperband Example v1beta doesn't work as expected"
/kind bug

**What steps did you take and what happened:**
I was trying out the [hyperband example](https://github.com/kubeflow/katib/blob/8ebba43c0d42d7697afadbc94bed33f7b4f94be0/examples/v1beta1/hyperband-example.yaml). For reference, I have a standalone deployment of katib at this revision `2ceed7d5b74ec26128fe882decb1624f08ef9614`

I expected the optimization to continue until getting above 0.9

[2020-10-24 05:33] terrykong commented on #1366
Actually, I mistakenly overlooked `maxTrialCount=9`. I guess this particular example works as intended, but I guess if I want subsequent brackets, I guess this issue needs to be resolved: https://github.com/kubeflow/katib/issues/1168

[2020-10-24 05:33] #1366 closed

[2020-10-24 05:41] terrykong commented on #1366
I guess, this is a dup of https://github.com/kubeflow/katib/issues/690

[2020-10-24 05:43] terrykong commented on #690
Is there any update here? This appears to still be broken in v1beta1

[2020-10-26 13:00] jlewi opened #1367 "AutoML WG needs to take ownership of its release infrastructure, process, and artifacts"
Opening this issue to discuss the possibility of the @kubeflow/wg-automl-leads creating their own GitHub org.

Per kubeflow/testing#737 our current approach to relying on shared infrastructure is not scalable or resilient. I think to continue to grow each WG will need to position itself to take on more responsibility for its infrastructure.

This has come up recently for Katib in terms of both its

[2020-10-26 15:06] andreyvelich commented on #690
Hi @terrykong.
I think Hyperband needs to be refactored once we implement Early Stopping: https://github.com/kubeflow/katib/pull/1344.

I will work on this after Katib 0.10 is released.
/cc @gaocegege @johnugeorge

[2020-10-26 19:51] jlewi commented on #1332
@andreyvelich per my earlier [comment](https://github.com/kubeflow/katib/issues/1332#issuecomment-694904085) permissions for publishing to kubeflow-images-public have now expired.

[2020-10-26 20:57] jlewi commented on #1332
@andreyvelich it looks like the cloudbuild service account 593963025935@cloudbuild.gserviceaccount.com for project kubeflow-ci should also have had its permissions removed as part of the lockdown of kubeflow-images-public.
I have updated it to expire on 11/02

[2020-10-27 11:21] #1217 closed

[2020-10-27 11:25] #1220 closed

[2020-10-27 11:30] #1221 closed

[2020-10-27 12:33] jlewi commented on #1367
Related issue: kubeflow/katib#1332

[2020-10-27 13:11] nlarusstone commented on #971
This is also a question we have been having -- how are we intended to access the trial logs currently?

[2020-10-27 13:33] andreyvelich commented on #971
@nlarusstone Right now, you can access Trial logs using `kubectl` or K8s APIs with corresponding training container.
In the future releases we have plans to add this feature on the UI as well.
/priority p2

[2020-10-27 13:54] nlarusstone commented on #971
Forgive my ignorance, but where is the training container actually run? I can't seem to run `kubectl logs <trial-name>`

[2020-10-27 14:13] andreyvelich commented on #971
@nlarusstone No worries!
If you want to save Trial's pods after completion, you have to specify `retain: True` in Experiment, e.g. [like here](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/tekton/pipeline-run.yaml#L32).

After that, you should be able to check logs from the created pods even if Trial is complete.
Trial's job should run in the same namespace as your Experiment.

[2020-10-28 03:52] gaocegege commented on #690
SGTM Thanks

[2020-10-29 07:53] fvde opened #1369 "Allow running KFP components as Katib Experiments"
/kind feature

**Describe the solution you'd like**
As a user of kubeflow pipelines, there is quite a gap between KFP and Katib. Clean KFP code dictates that I put my operations in isolated components, such as ([XGBoost Training](https://github.com/kubeflow/pipelines/tree/master/components/XGBoost/Train)). Katib on the other hand requires me to dockerize my training. As a katib _and_ KFP user it w

[2020-10-29 07:55] gaocegege commented on #1369
/cc @johnugeorge @andreyvelich

I think it should be our highest priority task in the next release. Thanks for the issue!

[2020-10-29 16:26] andreyvelich commented on #1369
Thank you for creating the issue @fvde.
We will start work on that after the 0.10 release.

/cc @Bobgy @jlewi

[2020-11-02 21:35] nlarusstone commented on #1295
I have a similar, but slightly different ask -- I want Katib to have true multi-user support. For me, that means that I can have different configurations for Katib in each namespace (I'm ok with having a centralized controller though).

This would allow me to customize, for example, the Katib configmap in each namespace to use a different service account for each namespace. This would also entail

[2020-11-02 21:40] andreyvelich commented on #1295
/priority p2

[2020-11-03 10:32] philwinder commented on #1295
Hi @andreyvelich ,
Thanks for your comments.

Yes, I understand. I was proposing that we stop hardcoding the name of the webooks. In my case, I am deleting the created webhooks and recreating them with team-friendly names. That works.

Yes, that would work too. Although that would stop the UI-generated job from working, since that expects the webhook to mutate the request. But yes, adding a flag t

[2020-11-03 10:35] philwinder commented on #1365
Hi @andreyvelich. Yes it was the `nas-template`. The problem is that the container has been overwritten to work with KF 1.1, like you said, which has broken the previous example.

Yes, that's a valid solution, but this particular cluster is stuck on 1.0.2 for the moment.

Thanks again!

[2020-11-03 12:34] robbertvdg opened #1374 "Allow istio sidecar injection to trial pods"
/kind feature

**Describe the solution you'd like**
At the moment the trial pods are hardcoded with the "sidecar.istio.io/inject=false" annotation. For security reasons we would like to enable istio for our experiments. I would suggest an optional parameter `trial_istio_enabled` with default false so the current flow is not interrupted.

**Anything else you would like to add:**
I already implement

[2020-11-03 13:03] andreyvelich commented on #1374
Hi @robbertvdg.

For v1beta1 it is already possible.
We don't attach `sidecar.istio.io/inject=false` annotation to Trial's Jobs by default.
Users need to do it manually, if they want it (https://github.com/kubeflow/website/pull/2320).

We will release Katib 0.10 soon.

[2020-11-03 13:10] andreyvelich commented on #1365
Sorry for that. We have added tags to training container images in this PR: https://github.com/kubeflow/katib/pull/1372 to avoid this problem.

Just for your information, you can update Katib version for your Kubeflow cluster without deleting other Kubeflow components.
1. Delete all Katib experiments: `kubectl delete experiment --all-namespaces --all`

2. Use these manifests: https://github.com/ku

[2020-11-03 13:58] robbertvdg commented on #1374
Ah I am currently using v1alpha3. I will check out v1beta1 and try to make it work!

[2020-11-03 13:58] #1374 closed

[2020-11-03 14:00] nlarusstone commented on #1295
@philwinder I agree that Kubeflow isn't intended to run multiple instances on the same cluster, but there is definitely an intent to allow `multi-user isolation` (see docs here: https://www.kubeflow.org/docs/components/multi-tenancy/). While Katib supports that on the UI, I would like to see more in depth support of it on the cluster level by allowing us to schedule resources in separate namespace

[2020-11-03 14:08] andreyvelich commented on #1295
@philwinder What do you mean by: "stop the UI-generated job from working"?
I believe, we create [webhook](https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/webhook.go#L103-L113) when Katib controller is created.

If we community wants to see role-level access in Katib, we can make it for the standalone installation.
When you use Katib outside of Kubeflow.

[2020-11-03 15:23] andreyvelich commented on #1330
Implemented by: https://github.com/kubeflow/katib/pull/1344.

[2020-11-03 15:23] #1330 closed

[2020-11-03 15:26] andreyvelich commented on #919
We use AWS infra now.

[2020-11-03 15:26] #919 closed

[2020-11-04 01:52] #1272 closed

[2020-11-04 19:57] jlewi opened #1376 "Remove use of ksonnet in tests #1608"
/kind bug
ksonnet was deprecated over a year ago the tests should no longer be using ksonnet to define tests.

Related to #774

[2020-11-05 17:04] andreyvelich opened #1377 "Observation is not available for early stopping Trials with retain: false"
/kind bug

If Trial is early stopped and `retain` parameter is equal to `false`, Trial observation is not available.

Currently, early stopping condition is [complete condition](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/trials/v1beta1/util.go#L96) for the Trial. We update Trial condition in [early stopping service](https://github.com/kubeflow/katib/blob/master/pkg/earlystop

[2020-11-06 09:32] robbertvdg commented on #1360
@andreyvelich I deployed the new v1beta1 version with kubeflow manifests, but when deploying the example I get:

`admission webhook "validating.experiment.katib.kubeflow.org" denied the request: Don't support algorithm random: invalid character '"' after object key:value pair.`

I tried deleting both webhooks and reinstalling, however that didn't work.

[2020-11-06 12:15] ssiegel95 commented on #248
How does one download as CSV?

[2020-11-06 13:16] andreyvelich commented on #1360
@robbertvdg Can you show me your `katib-config`, please?
[code]
And which example are you running ?
Are you using YAML and `kubectl` to create experiment ?

[2020-11-06 13:16] #1331 closed

[2020-11-06 13:32] robbertvdg commented on #1360
Your comment about the configmap made me realise what was wrong. I added a serviceaccount to the suggestion config, but forgot it was JSON.. I fixed it and now it works 👍
Thanks for your quick response!

[2020-11-06 14:29] andreyvelich commented on #248
Hi @ssiegel95.
We haven't implemented it yet.
Follow this issue to track it: https://github.com/kubeflow/katib/issues/642.

[2020-11-06 16:14] robbertvdg opened #1379 "Refresh in HP monitor UI lets me see and select all namespaces and their experiments"
/kind bug

**What steps did you take and what happened:**
From Kubeflow central dashboard go to Katib -> HP monitor. I see only my own experiments and namespace selector is read only.
I reload the page, and can select all namespaces and see all experiments.

**What did you expect to happen:**
See only my own experiments and readonly namespace selector field after a reload.

**Anything else you wou

[2020-11-06 17:53] andreyvelich commented on #1360
@gaocegege @johnugeorge I have released Katib 0.10: https://github.com/kubeflow/katib/releases/tag/v0.10.0.
Please let me know, if we need to add/remove something.

/cc @Jeffwan

[2020-11-06 18:00] andreyvelich commented on #1379
Thank you for pointing this @robbertvdg.
Yes, it is a known issue: https://github.com/kubeflow/katib/issues/1322.
We have plans to fix it.

/area front-end
/priority p1

[2020-11-08 10:53] #1341 closed

[2020-11-08 15:44] jerriezhou opened #1381 "make problem"
[root@VM-92-93-centos ~/going/going_proj/src/github.com/kubeflow/katib]# make build
dep ensure -v
go generate ./pkg/... ./cmd/...
go: finding module for package sigs.k8s.io/controller-runtime/pkg/webhook/admission/types
go: finding module for package sigs.k8s.io/controller-runtime/pkg/webhook/admission/builder
Generating clients for experiments:v1alpha3,v1beta1 suggestions:v1alpha3,v1beta1 trials:

[2020-11-09 10:09] romeokienzler opened #1382 "Support for PBT (Population Based Training)"
/kind feature

**Support for PBT (Population Based Training)**
Ray tune recently came out with support for PBT, Deepmind showed exceptional performance. Are we considering to support PBT in Katib as well?

https://arxiv.org/abs/1711.09846
https://deepmind.com/blog/article/population-based-training-neural-networks

[2020-11-09 14:40] robbertvdg opened #1383 "Skip non-root user processes when waiting for main proces to end"
/kind bug

**What steps did you take and what happened:**
Metrics cannot be collected while running trials with Istio enabled. The metrics pod keeps running without sending metrics to the db-manager. After debugging I found out that the function `GetMainProcesses()` waits forever for the Istio sidecar (envoy proxy) to finish. The istio sidecar does not run as root and should therefore be skipped i

[2020-11-09 23:08] andreyvelich opened #1385 "Metrics Collector verifies one more metric after Early Stopping step"
/kind bug

[Here](https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/v1beta1/file-metricscollector/main.go#L233) we should verify that `metricStartStep[metricName]` is not equal to `0`.
We have to compare metrics **at Step S**, but we make additional step before applying Early Stopping rule.

[2020-11-10 12:33] andreyvelich commented on #1382
Thank you for this information @romeokienzler, I think it's very exciting.

We definitely should investigate it and try to adopt it in Katib.
What do you think @gaocegege @johnugeorge ?

[2020-11-10 12:49] andreyvelich commented on #1381
Hi @jerriezhou.
It seems that you have used the wrong version of `code-generator`.

Can you try to clone latest Katib repo. And, without `dep ensure`, try to run:
`go generate ./pkg/... ./cmd/...`.

[2020-11-10 16:31] jsga commented on #1174
Hi @hyeonsangjeon,
it was a while since you opened the issue. Did you manage to solve it?

[2020-11-11 08:29] #1383 closed

[2020-11-11 11:21] #1385 closed

[2020-11-11 11:52] andreyvelich opened #1387 "Add WaitAll metrics collector flag to the Katib config"
/kind feature

See: https://github.com/kubeflow/katib/pull/1384#issuecomment-724900041.
User should be able to set wait all flag for the Metrics Collector using Katib config.
My name suggestion is: `WaitAllProcesses`, the default value is `true`.

What do you think @robbertvdg @johnugeorge @gaocegege ?

[2020-11-13 13:56] #1358 closed

[2020-11-13 14:00] #1310 closed

[2020-11-13 14:00] #1359 closed

[2020-11-13 14:00] #1286 closed

[2020-11-13 14:32] robbertvdg commented on #1322
Hi guys, any progress on this? For us it is a blocking issue unfortunately.

[2020-11-13 20:00] andreyvelich commented on #1322
Hi @robbertvdg, we've prioritised this task and we would be grateful if our community could help with this problem.
I think the next release can be our target.

In the meantime, Profile Controller is maintained by Notebook WG.
@kubeflow/wg-notebook-leads Do you have any plans to change the Authentication and Authorization for the Kubeflow Applications ?
Does this guide: https://github.com/kubeflow

[2020-11-13 20:02] andreyvelich commented on #1322
/help

[2020-11-13 21:02] andreyvelich commented on #1365
@philwinder I close this issue, feel free to re-open if you have any other questions.

[2020-11-13 21:02] #1365 closed

[2020-11-13 21:04] andreyvelich commented on #1280
This has been done in: https://github.com/kubeflow/website/pull/2332.

[2020-11-13 21:04] #1280 closed

[2020-11-13 21:20] andreyvelich commented on #1334
@neolunar7 I close this issue, feel free to re-open if you have any other questions.

[2020-11-13 21:20] #1334 closed

[2020-11-13 21:25] andreyvelich commented on #1332
We are using the AWS test infra currently: https://github.com/kubeflow/katib/pull/1356.
Let's continue discussion for the release infra and removing `ksonnet` in: https://github.com/kubeflow/katib/issues/1367, https://github.com/kubeflow/katib/issues/1376.

[2020-11-13 21:25] #1332 closed

[2020-11-13 21:34] andreyvelich commented on #1199
We support any Kubernetes CRD kind in the Trial template.
Ref doc: https://www.kubeflow.org/docs/components/katib/trial-template/#use-custom-kubernetes-resource-as-a-trial-template.

[2020-11-13 21:34] #1199 closed

[2020-11-13 21:35] andreyvelich commented on #1242
@vpavlin I close this issue, feel free to re-open if you have any other questions.

[2020-11-13 21:35] #1242 closed

[2020-11-13 21:39] andreyvelich commented on #1128
Resuming Experiment was implemented, feed free to re-open the issue if you have any other questions.

[2020-11-13 21:39] #1128 closed

[2020-11-13 21:43] andreyvelich commented on #1033
I close this issue, feel free to re-open if you have any other questions.

[2020-11-13 21:43] #1033 closed

[2020-11-13 21:56] andreyvelich commented on #1174
@hyeonsangjeon @jsga Currently you can't specify tolerations for the Experiment Suggestion's Pod, but you can do it for the Experiment Trials' pods since it is just a template.

Check here: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#concepts how you can remove taint from one of your Nodes.

[2020-11-13 21:57] andreyvelich commented on #943
I close this issue, feel free to re-open if you have any other questions.
Related issue: https://github.com/kubeflow/katib/issues/1174.

[2020-11-13 21:57] #943 closed

[2020-11-13 22:04] andreyvelich commented on #934
@wstian Right now, you can modify running Experiment (e.g. decrease `maxTrialCount`)  and use Resume Experiment feature.
Check the documentation here: https://github.com/kubeflow/website/pull/2324.

[2020-11-13 22:04] #934 closed

[2020-11-13 22:10] andreyvelich commented on #888
The latest version should work well with `kfctl`. Feel free to re-open this if you have any other problems.

[2020-11-13 22:10] #888 closed

[2020-11-13 22:14] andreyvelich commented on #854
I close this issue, feel free to re-open if you have any other questions.

[2020-11-13 22:14] #854 closed

[2020-11-13 22:15] andreyvelich commented on #744
@goswamig New Katib version works on EKS. Feel free to re-open if you have any other problems.

[2020-11-13 22:15] #744 closed

[2020-11-13 22:17] andreyvelich commented on #719
Right now we have Katib in the webhook name: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/webhook.go#L76.

[2020-11-13 22:17] #719 closed

[2020-11-13 22:23] andreyvelich opened #1389 "Refactor Hyperband Suggestion"
/kind feature

The Hyperband implementation in Katib has few problems: https://github.com/kubeflow/katib/issues/1168, https://github.com/kubeflow/katib/issues/690.
We should refactor it since we support Early Stopping.

Let's continue discussion in this issue.

/cc @gaocegege @johnugeorge @czheng94 @terrykong @asispatra
/priority p1

[2020-11-13 22:24] andreyvelich commented on #1168
Ref issue: https://github.com/kubeflow/katib/issues/1389.

[2020-11-13 22:24] #1168 closed

[2020-11-13 22:24] andreyvelich commented on #690
Ref issue: #1389.

[2020-11-13 22:24] #690 closed

[2020-11-13 22:28] andreyvelich commented on #162
Ref issue: https://github.com/kubeflow/katib/issues/1295

[2020-11-13 22:28] #162 closed

[2020-11-14 02:19] #1292 closed

[2020-11-14 03:43] andreyvelich commented on #1360
We have updated the required documentation and Kubeflow manifests.
Katib v0.10.0 has been officially released.
We can close this track issue.

/cc @Jeffwan @gaocegege @johnugeorge

[2020-11-14 03:43] #1360 closed

[2020-11-14 15:27] yanniszark commented on #1322
I'm not sure what this means, but Profiles are orthogonal to authentication and authorization for Kubeflow web apps. Profiles are a way to group together a bunch of resources needed for namespace initialization.

@andreyvelich we (Arrikto) have a lot of experience on getting Kubeflow applications to work with proper auth. For example, the Jupyter Web App or the recent move of KFP to SubjectAccessR

[2020-11-16 17:57] andreyvelich commented on #1322
@yanniszark That would be great, thank you!
Let me know once you can help us with the details.

[2020-11-17 14:47] philwinder commented on #1295
Hi @andreyvelich,
Sorry, I mean that when you specify an experiment, it has to be mutated in order to work. I.e. you need to inject the metrics collector. If it doesn't go through that mutation then you won't see results.

Not quite, the webhook is created by the controller itself, in the go code. It's not created by the user during the install of the manifests, for instance. If it was created dur

[2020-11-17 14:49] andreyvelich commented on #1296
@Bobgy @jlewi Can you help us to disable `travis-ci.org` for Katib here: https://travis-ci.org/organizations/kubeflow/repositories, please?
It seems I don't have sufficient permissions to do it.

Currently, under Katib the CI runs 2 Travis: `travis-ci.org` and `travis-ci.com`.

[2020-11-17 15:10] andreyvelich commented on #1295
Yes, that is correct. Probably we should add the manifests for the webhooks, like mentioned here: https://github.com/kubeflow/manifests/issues/1379.

The question is, how we make sure that user's webhooks have the unique names.

[2020-11-18 07:16] Bobgy commented on #1296
Hi @andreyvelich! I've disabled it.
Let me know if it doesn't work

[2020-11-18 14:08] tenzen-y opened #1395 "x509: certificate relies on legacy Common Name field"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. Download release 0.10.0.
2. I installed Katib using the following commands.
```bash scripts/v1beta1/deploy.sh```
3. I have started the sample experiment by running the following commands.
[code]

**What did you expect to happen:**
I expected the experiment to start.

**Anything else y

[2020-11-18 18:43] andreyvelich commented on #1296
As I can see it was removed: https://github.com/kubeflow/katib/pull/1391. It uses only `travis-ci.com`.
Thank you so much @Bobgy!

[2020-11-18 18:43] #1296 closed

[2020-11-18 21:09] Tomcli opened #1397 "Support v1beta1 API on KFP component"
/kind feature

**Describe the solution you'd like**
Current the Katib component in KFP is still using v1alpha3. Is there a plan to move this to v1beta1? Thanks.
https://github.com/kubeflow/pipelines/tree/master/components/kubeflow/katib-launcher

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-11-18 21:31] andreyvelich commented on #1397
Hi @Tomcli,
Yes, we are planning to integrate the new component on this week on earlier next week.
Corresponding issue: https://github.com/kubeflow/katib/issues/1369

[2020-11-18 21:34] Tomcli commented on #1397
Thanks @andreyvelich

[2020-11-19 18:00] andreyvelich commented on #1395
Hi @tenzen-y, thank you for creating this.

I think this problem happens because K8s 1.19 is using Go 1.15.
Which cluster are you using: GCP, AWS, on-prem ?
Also check this: https://github.com/golang/go/issues/39568#issuecomment-671424481.

/cc @gaocegege @johnugeorge

[2020-11-19 20:43] tenzen-y commented on #1395
@andreyvelich

I'm using on-prem.

Also check this: golang/go#39568 (comment).

Does that mean that Katib is using some certificates that does not contain SANs?

Thanks.

[2020-11-22 16:02] imilos commented on #1395
Same problem here. I'm using on-prem MicroK8s 1.19 probably built using Go 1.15. Any workaround?

Thx in advance!

[2020-11-24 11:56] andreyvelich commented on #1058
/lifecycle frozen

[2020-11-24 11:56] andreyvelich commented on #1207
/lifecycle frozen

[2020-11-24 11:56] andreyvelich commented on #1233
/lifecycle frozen

[2020-11-24 11:57] andreyvelich commented on #461
/lifecycle frozen

[2020-11-24 11:58] andreyvelich commented on #1127
/lifecycle frozen

[2020-11-24 11:58] andreyvelich commented on #1173
/lifecycle frozen

[2020-11-24 11:58] andreyvelich commented on #1270
/lifecycle frozen

[2020-11-24 11:59] andreyvelich commented on #1090
/lifecycle frozen

[2020-11-24 12:00] andreyvelich commented on #1081
/lifecycle frozen
Related issue: https://github.com/argoproj/argo/issues/4545.

[2020-11-24 12:01] andreyvelich commented on #1283
/lifecycle frozen

[2020-11-24 12:01] andreyvelich commented on #1263
/lifecycle frozen

[2020-11-24 12:02] andreyvelich commented on #1126
/lifecycle frozen

[2020-11-24 12:03] andreyvelich commented on #1255
/lifecycle frozen

[2020-11-24 12:04] andreyvelich commented on #1293
/lifecycle frozen

[2020-11-24 12:05] andreyvelich commented on #643
/lifecycle frozen

[2020-11-24 12:05] andreyvelich commented on #889
/lifecycle frozen

[2020-11-24 12:06] andreyvelich commented on #1136
/lifecycle frozen

[2020-11-24 12:06] andreyvelich commented on #1239
/lifecycle frozen

[2020-11-24 12:08] andreyvelich commented on #460
/lifecycle frozen

[2020-11-25 03:56] andreyvelich commented on #475
/lifecycle frozen

[2020-11-25 03:56] andreyvelich commented on #59
/lifecycle frozen

[2020-11-25 03:57] andreyvelich commented on #641
/lifecycle frozen

[2020-11-25 03:59] andreyvelich commented on #862
/lifecycle frozen

[2020-11-25 03:59] andreyvelich commented on #639
/lifecycle frozen

[2020-11-25 04:01] andreyvelich commented on #882
/lifecycle frozen

[2020-11-25 04:01] andreyvelich commented on #866
/lifecycle frozen

[2020-11-25 04:03] andreyvelich commented on #693
Let's continue discussion here: https://github.com/kubeflow/katib/issues/1295.

[2020-11-25 04:03] #693 closed

[2020-11-25 15:03] andreyvelich commented on #905
/lifecycle frozen

[2020-11-25 15:04] andreyvelich commented on #915
/lifecycle frozen

[2020-11-25 15:04] andreyvelich commented on #892
/lifecycle frozen

[2020-11-25 15:05] andreyvelich commented on #929
/lifecycle frozen

[2020-11-25 15:08] andreyvelich commented on #983
Let's continue discussion here: https://github.com/kubeflow/katib/issues/1207.

[2020-11-25 15:08] #983 closed

[2020-11-25 15:10] andreyvelich commented on #1067
/lifecycle frozen

[2020-11-25 15:10] andreyvelich commented on #1037
/lifecycle frozen

[2020-11-25 16:38] andreyvelich opened #1398 "[Documentation] Enable to specify wait all process parameter in Katib config"
/kind feature

We [should document](https://master.kubeflow.org/docs/components/katib/katib-config/#metrics-collector-sidecar-settings) that user can set the `waitAllProcesses` parameter in Katib config.
Ref PR: https://github.com/kubeflow/katib/pull/1394.

/cc @robbertvdg @gaocegege @johnugeorge

[2020-11-25 19:34] yarikoptic opened #1399 "Consider "using" duecredit"
I saw katib listed among duecredit dependents: https://github.com/duecredit/duecredit/network/dependents?package_id=UGFja2FnZS01MjAzODE5OA%3D%3D  but apparently it is only present in the "frozen" requirements.txt specs.  So thought to alert that you might as well consider "using" it and provide citation , see https://github.com/duecredit/duecredit#duecredit for more info.

[2020-11-26 00:04] andreyvelich opened #1400 "Update Katib Bundle for Juju"
/kind feature

The [Katib bundle](https://github.com/juju-solutions/bundle-katib) should be up-to-date with the latest manifests changes for the Katib 0.10 version.
We can take the latest manifests from here: https://github.com/kubeflow/manifests/tree/v1.2-branch/katib.
Let's continue discussion how we want to keep it updated under this issue.

In the meantime, that would be great if we can update

[2020-11-26 01:37] zuiurs commented on #1395
Same problem.

This may be due to an older version of the vendored controller-runtime library.

As workaround, I create a Secret called `katib-controller` with a self-signed certificate embedded (it has fields of `ca-cert.pem`, `ca-key.pem`, `cert.pem`, and `key.pem`) in `kubeflow` namespace. The certificate generation process by Webhook Bootstrap uses an existing Secret, if one exists.

[2020-11-26 01:57] andreyvelich commented on #1395
Sorry for the long reply @tenzen-y.

Thank you @zuiurs, it makes sense. We use [0.1.9](https://github.com/kubeflow/katib/blob/master/Gopkg.toml#L58) controller-runtime version, which is pretty old. For the default bootstrapping, certificate for the webhook server is located in `katib-controller` secret in `kubeflow` namespace.

Although, you can use your local file system to generate cert, check [

[2020-11-26 10:15] RFMVasconcelos commented on #1400
Hey @andreyvelich,

Thank you for creating this and sharing the latest manifests! I have added us to Adopters.

[2020-11-26 12:27] tenzen-y commented on #1395
@zuiurs
Thank you for the workaround suggestions!
We succeeded in starting the experiment using the Secret created using the certificates generated by cfssl.

@andreyvelich
Now I understand the cause of the error. And thank you for working on a solution to the problem.

For those who have encountered the same problem, here are the steps I took.

1. Create the certificates by cfssl. (Specify katib-

[2020-11-26 12:42] #1395 closed

[2020-11-26 22:59] andreyvelich commented on #355
/lifecycle frozen

[2020-11-26 23:01] andreyvelich commented on #241
/lifecycle frozen

[2020-11-26 23:04] andreyvelich commented on #183
/lifecycle frozen

[2020-11-26 23:08] andreyvelich commented on #175
/lifecycle frozen

[2020-11-27 02:28] gaocegege commented on #1400
Should we maintain it in Katib?

[2020-11-27 11:30] RFMVasconcelos commented on #1400
Sounds great @gaocegege!

[2020-11-27 11:31] RFMVasconcelos commented on #1400
I'll make a PR

[2020-11-27 11:40] andreyvelich commented on #1400
I thought we want to maintain it under https://github.com/juju-solutions/bundle-katib and we add the link from the Katib README ? Or it's better to have this bundle under Katib repo ?

@RFMVasconcelos Are you planning to push these bundles in Kubeflow upstream ?
What do you think @RFMVasconcelos @gaocegege @johnugeorge ?

[2020-11-27 11:56] RFMVasconcelos commented on #1400
Hey @andreyvelich!

We are quite open to contributing this code under Katib if that makes the process to collaborate on them easier. They are in essence 3 python scripts and 1 yaml file. If that's ok with you, it might be more efficient than having a repo for that purpose.

WDYT?

[2020-11-27 12:01] andreyvelich commented on #1400
@RFMVasconcelos I think that should work, we can create an OWNERS file under this folder.
Any ideas where we should locate this code ?
What do you think @gaocegege ?

[2020-11-27 12:29] RFMVasconcelos commented on #1400
Looking at the current folder structure and the widespread terminology of [Kubernetes operators](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/), I would propose creating a `operators` folder with an OWNERS file, as @andreyvelich proposes.

This will create a space for other operators that might be contributed by the community in the future. 🚀

[2020-11-27 13:26] gaocegege commented on #1400
SGTM

Thanks for your contribution! :tada: :+1:

[2020-11-27 13:37] RFMVasconcelos commented on #1400
Awesome, I will try to do the PR still today!

[2020-11-30 16:56] aronchick commented on #1400
This is terrific, thanks for your contribution!

[2020-12-01 01:09] andreyvelich opened #1405 "Disable dynamic webhook creation in the Katib controller"
/kind feature

Currently, Katib controller automatically [creates admission webhooks](https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/webhook.go#L74-L113).
As a result, we have several issues:
- https://github.com/kubeflow/manifests/issues/1379
- https://github.com/kubeflow/katib/issues/1395
- Kubebuilder 2.0 doesn't support dynamic webhooks.
- The Juju operator needs to manually

[2020-12-01 01:26] andreyvelich commented on #1387
Fixed by: https://github.com/kubeflow/katib/pull/1394.

[2020-12-01 01:26] #1387 closed

[2020-12-01 01:30] andreyvelich commented on #1399
Hi @yarikoptic.
Thank you to point this.

@gaocegege @johnugeorge Do we need this package in our Suggestions ?
I think we can remove it, I was able to generate citation only for the `numpy` package.

[2020-12-01 06:27] gaocegege commented on #1399
I have no objection to it.

Thanks

[2020-12-01 06:28] gaocegege commented on #1405
SGTM. One question here: How to setup a dev environment easily without this feature?

[2020-12-01 19:11] terrykong commented on #1086
seems like this is still an issue in v1beta1
https://github.com/kubeflow/katib/blob/master/pkg/metricscollector/v1beta1/common/const.go#L41

[2020-12-02 01:25] andreyvelich commented on #1086
Thank you for this info @terrykong!
Have you tried to specify custom RegEx?
For example, for your above examples like this:
[code]

[2020-12-02 02:25] andreyvelich commented on #1405
Do you mean without `cert-manager` ?

[2020-12-02 08:54] #1051 closed

[2020-12-03 09:49] #1399 closed

[2020-12-03 15:25] #1400 closed

[2020-12-11 10:31] thomas-mueller opened #1410 "Conda package"
/kind feature

In addition to the existing pip package it would be nice to publish a conda package. Such packages already exist for other parts of kubeflow, e.g. pipelines.

[2020-12-15 06:49] #1397 closed

[2020-12-16 22:51] ssiegel95 opened #1412 "UI doesn't show graph and all trials stay in running state"
/kind bug

**What steps did you take and what happened:**
I created an experiment using [this](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/random-example.yaml) verbatim.

**What did you expect to happen:**

To see the results of each trial along with the usual graph of results.

**Anything else you would like to add:**
I see the same behavior with any experiment I run, using ran

[2020-12-16 23:01] ssiegel95 commented on #1412
[code]

All of the associated pods successfully terminated and I presume printed out the metrics correctly.

[2020-12-16 23:14] ssiegel95 commented on #1412
I do see the following in the katib-controller log:

[code]

[2020-12-16 23:16] ssiegel95 commented on #1412
and from the katib-ui

[code]

[2020-12-19 05:57] #198 closed

[2020-12-19 05:57] #112 closed

[2020-12-19 05:57] #224 closed

[2020-12-19 05:57] #259 closed

[2020-12-19 05:57] #388 closed

[2020-12-19 05:57] #506 closed

[2020-12-19 05:57] #584 closed

[2020-12-19 05:57] #612 closed

[2020-12-19 05:57] #849 closed

[2020-12-19 05:57] #856 closed

[2020-12-19 05:57] #922 closed

[2020-12-19 05:57] #976 closed

[2020-12-19 05:57] #977 closed

[2020-12-19 05:57] #928 closed

[2020-12-19 05:57] #921 closed

[2020-12-19 05:57] #924 closed

[2020-12-19 05:57] #997 closed

[2020-12-19 05:57] #1076 closed

[2020-12-19 05:57] #1115 closed

[2020-12-19 05:57] #1120 closed

[2020-12-19 05:57] #1099 closed

[2020-12-19 05:57] #1170 closed

[2020-12-19 05:57] #1193 closed

[2020-12-19 05:57] #1196 closed

[2020-12-19 05:57] #1122 closed

[2020-12-19 05:57] #1309 closed

[2020-12-20 06:15] adhilcodes commented on #1099
I would like to work on this issue @elviraux

[2020-12-22 13:50] andreyvelich commented on #1099
@adhilcodes Thank you for your interest in this issue.
We are planing to work on the new Katib UI design, see this: https://github.com/kubeflow/katib/issues/1277.
Please attend one of the AutoML community meeting after the New Year and we can discuss how we can collaborate on this.

[2020-12-23 16:25] shantanuVerma7 commented on #1395
Thanks, @tenzen-y @zuiurs and @andreyvelich
I was stuck for a long time at this and creating a  **self-signed certificate** using cfssl helped me too.
Just to save time, here is the quick process of creating certificates using cfssl:
1. Download the cfssl executables, save them to /usr/local/bin & make them executable
2. We will need 4 *.pem files viz CA certificate, CA private key and Server/Host

[2020-12-24 19:49] mavencode01 commented on #1156
@andreyvelich - having same issue, how did you change the probe interval and threshhold ?

[2020-12-28 01:49] gaocegege commented on #1382
My colleague @ezioliao is working on our internal AutoML system and he is interested in this issue.

[2020-12-28 02:00] ezioliao commented on #1382
PBT is already implemented in our own AutoML system and  I'm willing to solve it.

[2020-12-28 07:43] edikmkoyan commented on #917
/reopen the same is true for azure k8s service.

[2020-12-29 05:48] hjkkhj123 commented on #1156
i think it's depend on your server spec

i just try to increase liveness probe and readyness probe 2times

[2020-12-31 19:31] #1329 closed

[2021-01-04 10:44] andreyvelich commented on #1266
/lifecycle frozen

[2021-01-04 11:16] andreyvelich commented on #917
/lifecycle frozen

[2021-01-04 11:16] andreyvelich commented on #1382
That would be great!
Thank you @ezioliao, let us know if you need any help.

[2021-01-04 11:20] andreyvelich commented on #1320
/lifecycle frozen

[2021-01-04 11:21] andreyvelich commented on #1346
/lifecycle frozen

[2021-01-05 12:38] andreyvelich commented on #1412
Thank you for creating this @ssiegel95.
I believe, your mutation webhook which set [default values](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_defaults.go#L30-L36) doesn't work.
Did you change `kubeflow` namespace to your profile namespace, like described [here](https://www.kubeflow.org/docs/components/katib/hyperparameter/#example-using-random

[2021-01-05 18:48] ssiegel95 commented on #1412
Hi @andreyvelich . Thanks for the reply.

I'm using the multi_user install described [here](https://www.kubeflow.org/docs/ibm/deploy/install-kubeflow/#multi-user-auth-enabled) which went off without a hitch and was well-documented (kudos to the folks managing those docs!). Thus when logging into the dashboard the first time, I indirectly created a new namespace for my user and when submitting [the

[2021-01-06 01:37] ssiegel95 commented on #1412
I've also tried running an [sdk sample notebook](https://github.com/kubeflow/katib/blob/master/sdk/python/v1beta1/examples/nas-with-darts.ipynb) and get similar results, the experiment stays in the the running phase forever.

BTW, I think there's a minor bug in the above notebook, In cell `9` I think you need:
[code]
(`primary_container_name` specified)

[2021-01-06 21:12] andreyvelich commented on #1412
Thank you for this information @ssiegel95.
Can you show me your submitted experiment, please?
- `kubectl get experiment random-example -o yaml -n <your-namespace>`

[2021-01-07 15:42] ssiegel95 commented on #1412
[code]

[2021-01-08 10:48] anneum opened #1415 "katib-mysql: Access denied for user 'root'@'localhost' (using password: YES)"
/kind bug

**What steps did you take and what happened:**
Installed Kubeflow on an onpremise kubenetes cluster.
Multiple Pods stuck in CrashLoopBackOff
katib-db-manager
katib-mysql

**What did you expect to happen:**
Expect that the pods start normal

**Anything else you would like to add:**
As mentioned in #1156 I increased liveness probe and readiness probe.
I think, that the katib-db-manager al

[2021-01-08 13:18] andreyvelich commented on #1412
Thanks @ssiegel95!
As I can see, `metricsCollectorSpec` was added to the experiment, so mutation webhook is working.
Can you show me one of the created Trial?
`kubectl get trial random-example-2zwthwzx -n stus -o yaml`

[2021-01-08 14:25] ssiegel95 commented on #1412
[code]

[2021-01-08 18:52] andreyvelich commented on #1412
@ssiegel95 As I can see, `metricsCollector` is also added to Trial so it should work correct.

Do you still have this error in the Katib controller ?
[code]

Can you also check what image are you using for the Katib controller?
- ` kubectl get pod <katib-controller-pod-name> -n kubeflow -o yaml | grep image`

[2021-01-08 19:17] andreyvelich commented on #1415
Thank you for creating this @anneum.
As I can see your mysql pod is running, correct ?

Can you show me the logs from `katib-db-manager` pod ?

[2021-01-08 20:53] ssiegel95 commented on #1412
[code]

my katib-controller log  pretty clean now (the error is gone). All I see related to this experiment is:
[code]

[2021-01-08 21:26] andreyvelich commented on #1412
@ssiegel95 Can you check if the Trials were successful and the logs from the Suggestion's pod with `random` algorithm?

[2021-01-08 22:03] ssiegel95 commented on #1412
I'm not entirely sure what you're asking me to check, but I'll take a (somewhat) educated :-)

[code]
(all three trials are in running state)

[code]

[code]
(single line in the log)

BTW, the following is definitely not good, I had assumed that failures of this sort would show as a fail and given enough of them the experiment itself would eventually fail. This failure could be a red herring howev

[2021-01-08 22:05] ssiegel95 commented on #1412
BTW, I've replicated this behavior on docker desktop's kubernetes instance too. If I remove kubeflow there and install katib from the current master as standalone things work just fine. I tried installed kubeflow without katib by commenting out the relevant parts in the manifest and then installing katib manually but that fails.

[2021-01-09 15:35] anneum commented on #1415
Thank you @andreyvelich for your reply.
No, the ``katib-mysql`` pod is not ready (Readiness probe failed):
[code]

The logs for the ``katib-db-manager`` pod:
[code]

[2021-01-09 23:03] #1328 closed

[2021-01-11 12:25] anneum commented on #1415
I have manually created a mysql container and inside this container the katib database is created.
Also the readiness and liveness probe commands work.
So I think, that something about the creation of the pod is not working as it should.
[code]
readinessProbe
[code]
livenessProbe
[code]

[2021-01-11 12:29] andreyvelich commented on #1412
@ssiegel95 That error might occur because you haven't disabled Istio sidecar injection on your Trial Worker's pods.
Can you follow [step 3 of this guide](https://www.kubeflow.org/docs/components/katib/hyperparameter/#example-using-random-algorithm) to add annotation to your Trial template, so Istio will not add another container to created pods.

[2021-01-11 12:34] andreyvelich commented on #1415
Do you mean you have manually run mysql docker container and `katib-db-manager` works properly ?
`katib` DB and all tables are created by `katib-db-manager`

[2021-01-11 12:37] andreyvelich commented on #1415
Which provisioner are you using to dynamically create PV for your PVC ?
Have you tried to manually create PV [(with host path)](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/pv/pv.yaml) and PVC for your mysql pod ?

[2021-01-11 12:45] anneum commented on #1415
I manualy created a mysql container (only for test purpose) and the readiness and liveness probe commands inside this container works unlike the katib-mysql pod.
I use a nfs-client provisioner.
No, I don't tried the manual creation of a pv.

[code]

[2021-01-11 12:54] andreyvelich commented on #1415
@anneum Is that all information that you can see from the `katib-mysql` pod's logs when it is CrashLoopBackOff?

[code]

[2021-01-11 13:04] anneum commented on #1415
Yes, those are the only log messages I can see.
When I connect to the mysql pod, I can't open mysql with the MYSQL_ROOT_PASSWORD, but without a password and I see that no katib database is created.
So I think something is weird during the creation process.
[code]
BTW thank you for your support @andreyvelich

[2021-01-11 13:21] anneum commented on #1415
For testing purposes I created the mysql deployment with the [mysql-db/deployment.yaml](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/mysql-db/deployment.yaml) but without the volume.
With this the pod enters the running state.

[2021-01-11 13:27] andreyvelich commented on #1415
Once mysql pod enters the running state, does `katib-db-manager` pod create `katib` DB and appropriate tables or it still fails with: `Failed to open db connection: DB open failed: Timeout waiting for DB conn successfully opened.
goroutine 1 [running]:` ?

[2021-01-11 13:33] anneum commented on #1415
It still fails with ``Failed to open db connection: DB open failed: Timeout waiting for DB conn successfully opened.`` and the katib database is also emtpy.
Is it possible that there are impairments because of our proxy?

[2021-01-11 14:14] andreyvelich commented on #1415
Yes, that can be possible.

Do you know, are you able to ping or get access from one pod to another ?

[2021-01-11 16:12] anneum commented on #1415
I can ping the ``katib-mysql`` from the ``katib-db-manager`` but I get no answer on port 3306.
Also tried to add the complete 10.233.0.0/16 to the no_proxy environment but with no success.
It seems like the ``katib-mysql`` did not answer to the db-manager.

[2021-01-11 18:21] andreyvelich commented on #1415
@anneum Can you try to install only Katib on your K8s cluster to verify other Kubernetes resources don't affect this connection ?
To install Katib standalone you can simply run [make deploy](https://github.com/kubeflow/katib#katib).

[2021-01-12 08:33] MLXQ opened #1416 "Katib stuck on the first trial and the experiment keeps running without creating the next trial"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I've created an experiment using the script below. Experiment, trials, suggestion, pods are running fine.

However,  the katib only created one trial and stuck on it without trying a second trial with new parameter from suggestion. there was no new suggestion after first trial.

Here ar

[2021-01-12 10:28] andreyvelich commented on #1416
@MLXQ Thank you for creating this!
I think you should add annotation to your Trial template with TFJob to disable Istio sidecar injection.
Follow [step 3 of this guide](https://www.kubeflow.org/docs/components/katib/hyperparameter/#tensorflow-example) to specify annotation.

[2021-01-12 11:08] yanniszark commented on #1405
@andreyvelich is there any remaining work to figure out before moving certificate creation out of the Katib controller? Regarding:

I don't think Katib should care about this. Katib should IMO provide a way to do this with `cert-manager` (as this is pretty standard and `kubebuilder` does it as well) and allow the consumer of the manifests to specify another way if required. This could be done by p

[2021-01-12 13:45] anneum commented on #1415
Thank you @andreyvelich . The katib pods are now running as expected.
I see a difference in the storage class between the katib-mysql pvc configs.

kubeflow: [https://github.com/kubeflow/manifests/blob/v1.2.0/katib/katib-controller/base/katib-mysql-pvc.yaml](https://github.com/kubeflow/manifests/blob/v1.2.0/katib/katib-controller/base/katib-mysql-pvc.yaml)
[code]
katib: [https://github.com/kubeflo

[2021-01-12 14:03] MLXQ commented on #1416
@andreyvelich Thank you for the reply

I've just disabled Istio sidecar Injection by adding the code below following the guide

    trialSpec:
      apiVersion: "kubeflow.org/v1"
      kind: TFJob
      spec:
        tfReplicaSpecs:
          Worker:
            replicas: 1
            restartPolicy: OnFailure
            template:
              metadata:
                annotations:

[2021-01-13 13:13] andreyvelich commented on #1405
@yanniszark In that case all Katib users should install `cert-manager` on their clusters. In that case, we should maintain some version of this CRD and be consistent with other Kubeflow apps, e.g. KFServing.

Once we add webhooks to the manifests we should refactor controller to not create webhook during controller start: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/webhook.go

[2021-01-13 13:25] andreyvelich commented on #1416
@MLXQ How do you print metrics in your training container: `seungkyulee/kn_tf_gpu_no_template:2.0` ?
Are you using [TF summary](https://www.tensorflow.org/api_docs/python/tf/summary) to save metrics or just print the results in the output ?

[2021-01-13 13:41] MLXQ commented on #1416
@andreyvelich

ah.. I just print the results in the output from using those three pieces of codes

---
    history = model.fit(
        train_ds,
        validation_data=val_ds,
        epochs=args.epochs)
 ---
    model.compile(optimizer='adam',
                  loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
                  metrics=['accuracy'])
---
print(history.history

[2021-01-13 14:09] andreyvelich commented on #1416
@MLXQ It seems that your metrics are printed in this way: `val_loss: 0.8957`.
So it is not the [default way of extracting metrics](https://www.kubeflow.org/docs/components/katib/experiment/#metrics-collector) (`metric-name=metric-value`).

Try to change your metrics collector spec in the Experiment like bellow:
[code]

[2021-01-13 14:10] andreyvelich commented on #1416
It is up to you, you can use StdOut metrics collector or Tensorflow events.

[2021-01-13 14:41] andreyvelich commented on #1405
Any thoughts @gaocegege @johnugeorge ?

[2021-01-13 18:17] ssiegel95 commented on #1412
@andreyvelich That worked. Ugh, how did I manage to miss  [step 3](https://www.kubeflow.org/docs/components/katib/hyperparameter/#example-using-random-algorithm)! I'm sorry I took your time on this and thank you for all the help. Closing issue.

[2021-01-13 18:17] #1412 closed

[2021-01-13 18:28] andreyvelich commented on #1412
@ssiegel95 No worries! You are welcome.

[2021-01-14 02:53] gaocegege commented on #1405
I think we should have such a configuration to allow users to remove webhook logic.

[2021-01-14 08:42] MLXQ commented on #1416
@andreyvelich

I tried with your advice and the result comes out like below

ubuntu@ip-172-16-1-204:~/katib$ kubectl apply -f katib_tfjob_kdn_updated.yaml
error: error parsing katib_tfjob_kdn_updated.yaml: error converting YAML to JSON: yaml: line 20: found unknown escape character

[2021-01-14 14:30] andreyvelich commented on #1405
@gaocegege Do you mean we should leave dynamic webhook creation in the controller for some cases ?
I think after we add manifests for the Webhooks, we have only problem with the certificate.

What do you think about `cert-manager` ?

[2021-01-14 14:35] andreyvelich commented on #1416
@MLXQ You are right sorry, your RegEx should look like this in the YAML:
[code]

[2021-01-16 01:20] gaocegege commented on #1405
Oh SGTM.

[2021-01-16 19:51] andreyvelich commented on #1247
/lifecycle frozen

[2021-01-16 21:03] andreyvelich commented on #1249
/lifecycle frozen

[2021-01-16 21:03] andreyvelich commented on #1277
/lifecycle frozen

[2021-01-16 21:04] andreyvelich commented on #1278
/lifecycle frozen

[2021-01-16 21:04] andreyvelich commented on #1343
/lifecycle frozen

[2021-01-18 10:29] StevenReitsma commented on #1322
Any news?

[2021-01-18 12:35] andreyvelich commented on #1322
@kimwnasptd is currently working on the new Katib UI where user should have an access only to the profile namespace.
@StevenReitsma You can check proposal for the new UI here: https://docs.google.com/document/d/14cfGYJiTl32GWBUTbYQHzXC4UWA7r_ysgWYSWsxcDvU/edit

[2021-01-19 06:39] kimwnasptd commented on #1322
Thank you for summing it up @andreyvelich. The UI effort is progressing as expected and I'm confident we will meet our set goal of having a first PR by the end of this week.

Wrt the issue of the Namespace, we are aiming to make the app comply with Kubeflow's authnz mechanisms. In case Katib UI will be deployed inside Kubeflow, and not as a standalone app, then
1. The web app will perform `Subject

[2021-01-19 10:08] StevenReitsma commented on #1322
That's great to hear, thanks for the information! I'm excited to see the results.

[2021-01-19 13:24] Pallavi-28 opened #1418 "Worker pod goes to error state while running median-stop.yaml example experiment"
Hi,
I am trying to run https://github.com/kubeflow/katib/blob/master/examples/v1beta1/early-stopping/median-stop.yaml ,
but worker pod goes to error state with below log,

Here is my yaml file with some changes

apiVersion: "kubeflow.org/v1beta1"
kind: Experiment
metadata:
  **namespace: kf**
  name: median-stop
spec:
  objective:
    type: maximize
    goal: 0.99
    objectiveMetricName: Validati

[2021-01-19 16:17] andreyvelich commented on #1418
Thank you for creating this @Pallavi-28.

1. Do you get this error every time when you run the median stop Experiment ?
2. Did you try to install Katib standalone without Kubeflow and run median stop example ?

[2021-01-19 16:30] Pallavi-28 commented on #1418
Hi @andreyvelich ,
yes I am getting this error every time I run this experiment.
No, katib(0.10.0) is installed as part of kubeflow-1.2.

[2021-01-19 16:42] andreyvelich commented on #1418
@Pallavi-28 Can you share the config that you used to install Kubeflow 1.2 please?

[2021-01-19 16:45] Pallavi-28 commented on #1418
you mean kfdef file ?

[2021-01-19 16:46] andreyvelich commented on #1418
Yeah

[2021-01-19 17:03] Pallavi-28 commented on #1418
I am installing katib by calling kustomization.yaml file in this path https://github.com/kubeflow/manifests/tree/master/katib/installs/katib-external-db

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../admission-webhook/webhook/v3
  - ../../common/centraldashboard/overlays/stacks
  - ../../kubeflow-roles/base
  - ../../jupyter/jupyter-web-ap

[2021-01-21 03:00] Lee-Yeongjae opened #1419 "About a behavior when metrics collector is None."
I'm using Katib v0.10.0.
When the metrics collector is None, both experiments and trials remain in the "Running" state even though the pod state is "Completed".
Is there a way to verify the end state of the experiment successfully?

**Information**
- Experiments
[code]
- Suggestions
[code]
- Trials
[code]
- Pods
[code]

- Manifest
[code]

**Environment:**
- On-prem
- Kubeflow version (`kfctl versi

[2021-01-21 13:21] andreyvelich commented on #1354
/lifecycle frozen

[2021-01-21 13:29] andreyvelich commented on #1418
So you didn't use one of the [kfdef configs](https://github.com/kubeflow/manifests/tree/master/kfdef) and `kfctl` to install Kubeflow?
Did you use one of the [existing stacks](https://github.com/kubeflow/manifests/tree/master/stacks) or you have your own Kustomization file to install necessary Kubeflow components ?

[2021-01-21 14:19] andreyvelich commented on #1419
Hi @Lee-Yeongjae, thank you for creating this.
You are getting this message in the controller after your training container is finished, right?
[code]

If you don't want to use metrics collector you should manually report training container's metrics to the Katib mysql DB to the `observation_logs` table.

Optimisation process for the HP tuning should know the results from each run to show you the

[2021-01-21 17:03] rushins commented on #1395
any ideas how to fix you mentioned create certificates ,i get the same issue today on rancher 2.5 with kubernetes 1.19.6

[2021-01-21 17:23] rushins commented on #1395
@shantanuVerma7 : I tried your steps creating 1-5 steps but get error at step 5 as below
---
open  -ca=ca.pem: no such file or directory
Failed to parse input: unexpected end of JSON input
----

any ideas, i see the file exist in my current folder.

[2021-01-22 04:17] Lee-Yeongjae commented on #1419
Hi @andreyvelich, thank you for your reply.

Yes, that right. I got this message.
[code]

This means that I need to implement something which reports the training container's metrics to the Katib DB, right?
You don`t have the plan to implement some function for when Metrics Collector is None, right?

[2021-01-22 09:03] Pallavi-28 commented on #1418
Hi @andreyvelich
 we used a file-collector image which was incorrect during our build. With the proper file collector image containing shell access, its working. (Probably  file-collector image needs a shell to start child process to impose early stopping.)
Thank you for your support
May be you can close this ticket

[2021-01-25 09:38] kuikuikuizzZ commented on #1405
@gaocegege  @andreyvelich  Is possible to use a job to take over the creation/remove of the certificate like spark-operator did ? ref: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/charts/spark-operator-chart/templates/webhook-init-job.yaml#L29 ?

[2021-01-25 18:48] kimwnasptd opened #1421 "Create a new Katib UI"
/kind feature

**Describe the solution you'd like**
Create a new Katib UI, as we've discussed in the [shared doc](https://docs.google.com/document/d/14cfGYJiTl32GWBUTbYQHzXC4UWA7r_ysgWYSWsxcDvU/edit).

We can use this as a tracking issue to track the progress of this effort as well as design decisions. I'll also be linking future issues to this one to keep everything organized and linked together.

[2021-01-26 14:41] andreyvelich commented on #1419
You don`t have the plan to implement some function for when Metrics Collector is None, right?

Yes, that is correct.
Since Katib controller does optimisation steps, you have to report metrics to the DB somehow.
You can use the current Metrics Collector options or use your custom one.
Which logic are you observe when Metrics Collector is None ?

[2021-01-26 16:04] andreyvelich commented on #1418
@Pallavi-28 It's good to hear!
Let us know if you face any other issues.

[2021-01-26 16:04] #1418 closed

[2021-01-26 16:06] andreyvelich commented on #1421
Thank you for your great work @kimwnasptd!
Sounds good to me.

[2021-01-26 20:10] PatrickXYS opened #1422 "[Test] Migrate to new test-infra"
**Description of your changes:**
Migrate kubeflow/katib to new test-infra, there's no difference between old test-infra and new test-infra from users' perspective.

Part of https://github.com/kubeflow/testing/issues/861

/cc @andreyvelich

[2021-01-26 20:10] PatrickXYS commented on #1422
/assign

[2021-01-27 11:24] gaocegege commented on #1421
Thanks for your contribution! :tada: :+1:

[2021-01-27 14:13] andreyvelich commented on #1369
We updated Katib component for KFP.
@fvde Check few examples here: https://github.com/kubeflow/pipelines/tree/master/samples/contrib/kubeflow-katib.

[2021-01-27 14:13] #1369 closed

[2021-01-27 14:16] andreyvelich commented on #1277
We can close this issues since we are creating new Katib UI: https://github.com/kubeflow/katib/issues/1421.

[2021-01-27 14:16] #1277 closed

[2021-01-27 14:17] andreyvelich commented on #1421
/area front-end
/priority p1

[2021-01-27 19:22] knkski commented on #1405
I opened #1424, which addresses the issue of allowing someone to disable the dynamic webhook creation. It doesn't directly add a replacement method, as that's handled separately in the operators [here](https://github.com/kubeflow/katib/blob/master/operators/katib-controller/reactive/katib_controller.py#L29).

[2021-01-28 02:00] Lee-Yeongjae commented on #1419
If Metrics collector is None, I think that it is helpful to be able to monitor where the PV is mounted using mutating webhook or disable the report to the Metrics DB. Please consider it.
If it's difficult to do that, I will use custom metrics collector.

[2021-01-28 17:13] #1422 closed

[2021-01-28 17:15] kimwnasptd commented on #1090
I've been thinking about how to implement this page while working on #1421 and also working on https://github.com/kubeflow/kubeflow/issues/5566.

As @johnugeorge mentioned the main caveat with this page is that is it shouldn't be just available to any user. From my understanding this is a two folded problem:
1. We need a mechanism to identify which user is using the web app
2. After we know which

[2021-01-29 12:38] andreyvelich commented on #1419
But mounted PV doesn't not guarantee that metrics are reported to the DB.
I think `None` Metrics Collector can be used when you directly access the DB from your training container and report metrics.
WDYT @gaocegege @johnugeorge ?

[2021-01-29 12:59] andreyvelich commented on #1405
Do you know, when they start this Job, once they install Spark Operator on the K8s cluster?

[2021-01-29 13:22] andreyvelich commented on #1090
@kimwnasptd Does Kubeflow support admin user? As you mentioned before, we can give the admin user access to the `katib-config` ConfigMap in `kubeflow` namespace.

I think we should start with **No authn mechanism installed** in the Standalone app.

So Katib UI will have `ClusterRole` RBAC with access to all Experiments, Pods, ConfigMap and other necessary k8s resources.

If later we see requests f

[2021-01-30 08:57] kuikuikuizzZ commented on #1405
@an

Yes, this job will setup when "helm install", and it has another job to cleanup the configmap when "helm uninstall" and "helm upgrade“
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/charts/spark-operator-chart/templates/webhook-cleanup-job.yaml#L7

[2021-01-30 10:58] #1347 closed

[2021-01-31 10:55] azarezade opened #1425 "Katib example in docs is not working"
/kind bug

**What steps did you take and what happened:**
I have a running Kubernetes (two nodes on-prem) cluster and installed Kubeflow using [kfctl_k8s_istio config](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/). Followed [Getting Started with Katib](https://www.kubeflow.org/docs/components/katib/hyperparameter/), I have created a TensorFlow example and go through all 3 steps. This

[2021-02-01 05:12] rky0930 commented on #1416
@andreyvelich I have the same problem with random-example.yaml
In the first trials, the pod controlled by the job is completed, the trials do not end and the next trials do not run.
when I check the log of katib-controller, a `runtime error: invalid memory address or nil pointer dereference` error occurred.
It looks like an error occurs in katib-controller when collecting metrics.

I tested with i

[2021-02-01 07:28] gaocegege commented on #1090
Yeah, I think maybe we can follow the design of k8s dashboard:

<img width="828" alt="截屏2021-02-01 下午3 28 39" src="https://user-images.githubusercontent.com/5100735/106427295-141f3080-64a2-11eb-8812-4947b7528c93.png">

[2021-02-01 13:29] kimwnasptd commented on #1090
I'll first try to expose my understanding and then I'll reiterate what I propose as next steps.

Kubeflow does not expect the existence of specific users, like a user named `admin`. It only expects that
1. there will be an authentication mechanism in front of the Kubeflow cluster
2. this mechanism will be adding the name of the user to a header in each request that goes to Kubeflow and they underl

[2021-02-01 13:30] kimwnasptd commented on #1090
Based on the above explanation and understanding I think we should include this permission in the `kubeflow-admin` cluster role. Then it's up to the cluster admin to give this permission to individual users.

But this solution works only in case Kubeflow in installed, in order for these `ClusterRoles` to exist.

For the **standalone** mode, where we don't distinguish between who is using the app,

[2021-02-01 13:31] kimwnasptd commented on #1090
Definitely! This will happen independently of whether the app is deployed as **standalone** or as part of **kubeflow**. The web app will always be the one that makes the requests to k8s so it should have such cluster-wide permissions.

The difference in the **kubeflow** mode is that the app/backend knows which user wants to make the request to k8s. If the backend would not take this information in

[2021-02-01 13:40] kimwnasptd commented on #1090
So what I propose is:
* Always respect the K8s RBAC
* The app/backend must have always all the permissions for every namespace and CR [relative to AutoML WG]
* The UI should only allow a user to view the page for editing this `ConfigMap` only to those who have the k8s RBAC permissions
    * if we the UI is deployed with Kubeflow then it can figure out if a user has the required permissions, with `

[2021-02-01 16:24] andreyvelich commented on #971
/lifecycle frozen

[2021-02-02 10:02] chinmay22897 commented on #1415
@anneum Can you please tell me what are the steps you took to resolve the issue, or you were only able to make it run after doing only the katib stand alone deployment. All the logs and errors are same for me only difference is that my storage class is standard (on minikube host path). And I couldn't do the manual creation of pv as first I am deleting the already existing pvc katib-mysql which is

[2021-02-02 12:26] andreyvelich commented on #1090
Thank you for the explanation @kimwnasptd!

Thus, even in the Kubeflow mode we can include Katib config to the frontend ? Since we can give the appropriate permission to the user.

Sorry if I missed it before, but do we have any sign to the backend to notify that Katib UI is in Kubeflow mode ?

Sounds good, thank you @kimwnasptd!

[2021-02-02 12:49] anneum commented on #1415
@chinmay22897 I cloned the katib repro an do the following steps.
[code]
I have not been able to get it run with my default sc.
If there is still a solution to this I would be very happy .

[2021-02-03 07:04] Gorosia commented on #1425
Hello, azarezade  !

Have you solved this problem?

I have the same error. 😢

[2021-02-03 09:03] azarezade commented on #1425
Hi @Gorosia, no success yet. Do you have Kubernetes on a on-premise cluster, or a single node machine. I suspect the issue may be related to the connection between pods, since I have a two node cluster (install, and my pods that run experiments are in different node that katib-controller pod.