[2019-03-02 20:59] jdplatt commented on #407
The long list of algorithms in #15 and https://github.com/tobegit3hub/advisor was what led me to suggest merging all of the suggestion services into a single service. I definitely see the benefit of users being able to add a custom algorithm without needing to recreate the deployment. However, if every algorithm runs in it's own pod it will require the user to do a lot of extra work to test a new

[2019-03-02 21:01] jdplatt commented on #407
To be clear I don't think we need to decide on this now so I'll keep everything separate.

[2019-03-04 02:01] hougangliu commented on #412
/close
close it since related fix has been merged in master branch

[2019-03-04 02:01] #412 closed

[2019-03-04 09:37] johnugeorge commented on #317
Except watch, everything else is moved to unstructured type. Since dynamic watch is introduced in the   newer controller runtime version(
https://github.com/kubernetes-sigs/kubebuilder/issues/422) ,  unstructured watch can be dynamically created once the controller runtime version is upgraded.

[2019-03-04 09:40] johnugeorge commented on #317
Currently controllers don't crash if operators are not installed. However, a restart is needed after CRD is installed.  We will keep this issue open till dynamic watch is implemented.

[2019-03-04 09:41] johnugeorge commented on #341
All operator specific code is moved to unstructured. Watch will be made dynamic in next controller runtime version which is tracked in #317.

Closing this as #387 is merged.

[2019-03-04 09:43] johnugeorge commented on #341
/close

[2019-03-04 09:43] #341 closed

[2019-03-05 23:48] #372 closed

[2019-03-06 01:48] #396 closed

[2019-03-06 21:05] richardsliu commented on #317
@johnugeorge Should we rename this issue? The controllers aren't crashing anymore.

[2019-03-07 02:26] johnugeorge opened #422 "Create a dynamic watch on Job operators"
Currently, we have static watches added on operators during the init.  We need to move it to a dynamic mechanism where watch is created when corresponding CRDs are installed. However, it needs controller runtime 1.8+   Currently, a short term fix has been added in #317 which has to be removed when dynamic watch is introduced,

Related: #317, #341

[2019-03-07 02:55] johnugeorge commented on #317
I will close this issue then as it is no more valid. Opened #422 to track the operator watch

[2019-03-07 02:55] johnugeorge commented on #317
/close

[2019-03-07 02:55] #317 closed

[2019-03-07 15:12] metrofun commented on #353
I'm also using latest Kubeflow v0.4.1 and suffering from the same issue

[2019-03-07 19:12] andreyvelich commented on #413
@hougangliu @YujiOshima @richardsliu
What do you think about this name?

[2019-03-07 22:58] hougangliu commented on #413
is EndSuggestionLifecycle better and more unambiguous?

[2019-03-07 23:06] andreyvelich commented on #413
I am good with this name.
@johnugeorge What do you think?

[2019-03-08 00:14] hougangliu commented on #331
/close
https://github.com/kubeflow/pipelines/pull/754

[2019-03-08 00:14] #331 closed

[2019-03-08 01:43] richardsliu commented on #413
I would also like to know if NAS requires us to move toward more stateful APIs. Also in the new API design, we avoided the term `suggestion` and instead used less ambiguous terms like `algorithm` and `assignment`.

What is the broader problem that we are solving here? As I understand from reading the above, the real objective is to modify the suggestion service after the last trial - is this corre

[2019-03-08 02:02] hougangliu commented on #413
@richardsliu correct.
nas-rl suggestion service stores LSTM model for each suggestion. when studyjob (change to non `Running` state) stops to ask request from the service, it should send a signal to  nas-rl suggestion service so that the service can make the LSTM model  unload from memory. otherwise, nas-rl suggestion service will exhaust host memory

[2019-03-08 02:27] YujiOshima opened #423 "gRpc API v2"
Now we merged v2 CRD API https://github.com/kubeflow/katib/pull/381
We need a new version of gRpc API which comples with the CRD.

[2019-03-08 02:27] YujiOshima commented on #423
/assign YujiOshima

[2019-03-08 02:32] andreyvelich commented on #413
@richardsliu @hougangliu We can name it like `EndAlgorithmProcess` or `EndAlgorithmLifecycle` since we are moving to `Algorithm` from `Suggestion`

[2019-03-08 02:45] YujiOshima commented on #413
I prefer `EndAlgorithmLifecycle` .
Or as @johnugeorge , we can consider another way to solve this.
One way, Watching studyjobCR in suggestion service. When the status of studyjob become `complete` or `fail`, the suggestion service finalizes a corresponding process.
WDYT? @andreyvelich @hougangliu @johnugeorge @richardsliu

[2019-03-08 06:23] johnugeorge commented on #413
IMO, APIs should not overloaded and must be simple. AFAIK, it is meant for the system users.  Adding stateful apis in this case is not the ideal solution and doesn't go well with k8s philosophy too. eg:  what happens if suggestion service missed this api call because of some temporary issue, how to scale suggestion pods in this case etc

I feel, each suggestion algorithm should handle its requirem

[2019-03-08 06:50] andreyvelich commented on #413
@johnugeorge I agree with you, but right now we have only two functions to run Suggestion service from Controller. There are GetSuggestion and ValidateSuggestionParameters. I don't think that 2 functions can handle all problems.

[2019-03-08 07:44] llegolas commented on #353
something along the lines below fixed it for me, apply them before deploying katib
[code]
replace <repo> with name if you are using internal one as in my case

[2019-03-08 17:26] richardsliu commented on #423
Also need to create a new version of database schema.

[2019-03-10 22:45] jlewi commented on #355
What's the likelihood this will land for 0.5? Should we move to 0.6 and focus on higher priority issues?

[2019-03-10 22:46] jlewi commented on #370
Now that #381 is merged what is the remaining work here?

[2019-03-10 22:49] jlewi commented on #356
Is this on track to land in 0.5 or should move it to 0.6?

[2019-03-10 22:51] jlewi commented on #343
@johnugeorge @YujiOshima @richardsliu Are we planning on fixing this as part of 0.5 or should we move it to 0.6?

Is this P1 or P2?

[2019-03-10 22:52] jlewi commented on #351
It looks like this is fixed by #367.

[2019-03-10 22:52] #351 closed

[2019-03-10 22:52] jlewi commented on #334
@johnugeorge @YujiOshima @richardsliu Any plans to fix this in time for 0.5? Or should we move it into 0.6?

[2019-03-10 22:53] jlewi commented on #161
Duplicate of #370

[2019-03-10 22:53] #161 closed

[2019-03-10 23:06] jlewi commented on #291
This seems like its working as intended to me.

Once a job reaches a terminal state (failed or succeseded) updates to the job should not be allowed.
This is consistent with how native K8s jobs work.

If a user wants to update the spec they could create a new job.

/cc @johnugeorge @richardsliu

[2019-03-10 23:07] jlewi commented on #249
@richardsliu what is the priority of this issue? Are we likely to get it done in 0.5 or should we move it to 0.6?

[2019-03-11 17:16] richardsliu commented on #370
I think we should keep this issue open until the implementation is done. In any case this should be moved to 0.6.

[2019-03-11 17:38] richardsliu commented on #355
Moved to 0.6.0

[2019-03-11 17:43] richardsliu commented on #356
We can close this one since the design for v1alpha2 API covers this. Implementation will be completed in 0.6.

/close

[2019-03-11 17:43] #356 closed

[2019-03-11 17:54] richardsliu commented on #344
We can close this one since the design for v1alpha2 API covers this. Implementation will be completed in 0.6.

/close

[2019-03-11 17:54] #344 closed

[2019-03-11 17:55] richardsliu commented on #122
We can close this one since the design for v1alpha2 API covers this. Implementation will be completed in 0.6.

/close

[2019-03-11 17:55] #122 closed

[2019-03-11 18:07] richardsliu commented on #249
Depending on how we implement metrics in v1alpha2, this may be obsolete. I'll move it to 0.6.0 for now.

[2019-03-11 23:00] richardsliu commented on #136
We should rename components to katib instead of vizier. In v1alpha2 the implementation would be somewhat diverged from Vizier, so the name can be confusing.

[2019-03-11 23:03] ddutta commented on #136
Since we are also including NAS, I am hoping vizier would be ok too?

On Mon, Mar 11, 2019 at 4:00 PM Richard Liu <notifications@github.com>
wrote:

--
-Debo~

[2019-03-12 01:54] johnugeorge commented on #371
Closing this issue. Implementation is tracked in #370

/close

[2019-03-12 01:54] #371 closed

[2019-03-14 22:43] andreyvelich commented on #413
@richardsliu @YujiOshima @hougangliu @johnugeorge
We think about that issue a bit. Johnu told us a way how that can be solved without changing API.
What if we send requestNumber as a parameter inside SuggestionParameters, like with SuggestionCount, right now?
 https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/katib_api_util.go#L79

[2019-03-14 23:00] andreyvelich opened #433 "Checking failed Trials by Katib Controller"
Katib Controller can't check wether Trials were failed or not.
In some cases Trials can be failed. It can be because of incorrect training container code or insufficient cluster resources.
In that case, Controller just run GetSuggestion method again and Suggestion will have an empty results of the previous run if all Trials were failed.
I think, if we have that situation, Controller should try to

[2019-03-15 13:04] jlewi commented on #230
@YujiOshima any update on this?

[2019-03-15 13:50] jdplatt commented on #230
@jlewi This got merged in #406

[2019-03-15 14:10] YujiOshima commented on #230
@jdplatt Thanks!
/close

[2019-03-15 14:10] #230 closed

[2019-03-17 00:25] jdplatt commented on #42
Can we close this now #406 is merged?

[2019-03-18 05:45] johnugeorge commented on #42
Closing this as #406 is merged.  Moving algorithms to Python is tracked in #407

/close

[2019-03-18 05:45] #42 closed

[2019-03-18 07:09] YujiOshima commented on #433
It should be handled by Job (, TFJjob, and PytorchJob) operator.
For example, when you use a k8s Job, you can set `restartPolicy = "OnFailure"` and `backofflimit=5'. The Trial will be restart 5time. Then, its status would be `Failed` when all retry is failed.

[2019-03-19 01:57] andreyvelich commented on #433
@YujiOshima If we setup right here https://github.com/kubeflow/katib/blob/master/examples/random-example.yaml#L58 these params, Trials will restart for backofflimit times ?

[2019-03-19 04:11] johnugeorge commented on #433
To be precise, each job has a backoffLimit. See https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy

In a similar manner, backOffLimit is proposed for custom job resources. See issue https://github.com/kubeflow/tf-operator/issues/550

[2019-03-20 17:12] richardsliu commented on #343
Moved out of 0.5.

[2019-03-20 17:14] richardsliu commented on #334
Moving this out of 0.5.

[2019-03-20 21:46] andreyvelich commented on #433
I have tried to setup `backofflimit` and `restartPolicy` inside `Random Example` here: https://github.com/kubeflow/katib/blob/master/examples/random-example.yaml#L43.
Training jobs stoped to spawn training pods after they reached backOffLimit times but StudyJob was still running. As well, job from MetricsCollector started to spawn pods to collect metrics and they were failed automatically.
Probabl

[2019-03-21 17:52] johnugeorge commented on #433
Individual jobs will report failed when `backOffLimit` number of retries are completed.  However, I don't think we are making StudyJob to be failed in such a case.
We can think of adding `MaxFailedTrials` to indicate maximum number fo failed trials in a StudyJob. Once it is reached,  Studyjob is marked as failed.
@richardsliu

[2019-03-21 17:56] johnugeorge commented on #413
Algorithms can set custom key-value parameters in AlgorithmSetting based on its implementation. See this field in v1alpha2 https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/experiment/v1alpha2/types.go#L174

[2019-03-21 19:02] andreyvelich commented on #433
Is it possible to access `backOffLimit` from Controller somewhere?

[2019-03-21 19:14] andreyvelich commented on #413
@johnugeorge What should we do in v1alpha1 ?

[2019-03-22 00:26] gyliu513 commented on #331
/cc @animeshsingh

[2019-03-22 02:36] YujiOshima commented on #433
I agree with @johnugeorge. Studyjob should tolerate failed in individual jobs.
`MaxFailedTrials` or `FailedTrialsLimit` would be useful.

@andreyvelich The controller can get a spec of individual jobs and the backOffLimit is included in the spec.

[2019-03-22 05:34] johnugeorge commented on #433
@andreyvelich Btw, why do you need `backOffLimit` from controllers?

[2019-03-22 08:26] johnugeorge commented on #291
Agree.  K8s job works in the same way.

[2019-03-22 17:43] andreyvelich commented on #433
@johnugeorge I just need to access to `backOffLimit` of the Workers job. After that, we can check inside Controller wether it reached `MaxFailedTrials` or not.

[2019-03-23 06:58] johnugeorge commented on #433
To avoid confusion, I will refer to trial instead of worker job(as in v1alpha2)

@andreyvelich `backOffLimit` in the TrialTemplate(https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/experiment/v1alpha2/types.go#L187) defines the number of retries before a single Trial is marked as failed.  However, proposed `MaxFailedTrials` defines the max number of failed Trials(limit) in a Stu

[2019-03-25 15:10] DurivetMatthias opened #437 "katib - failed to get studyConf"
# mnist on katib

I am trying to run a very simple hyperparameter search on katib. I use a basic mnist model.
I have deployed kubeflow using the https://deploy.kubeflow.cloud/#/deploy click-to-deploy.
Its deployed on a google kubernetes engine in a cluster called full-kfmatthias
katib recognizes the created studyjob in the ui but never shows the results.
In my case i'm trying to see how params aff

[2019-03-25 20:51] andreyvelich commented on #433
@johnugeorge We don't have `MaxFailedTrials` here: https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/studyjob/v1alpha1/studyjob_types.go.
Should we do something in v1alpha1 to handle this?

[2019-03-26 03:49] jlewi commented on #423
@richardsliu @YujiOshima @johnugeorge It looks like the PR is still in WIP. Since we are planning on cutting tomorrow I'm going to say this isn't going to make 0.5 so I'm moving it to 0.6.

[2019-03-27 01:54] YujiOshima commented on #437
Please add the `-m` option to metrics collector template.
like below.

[code]

[2019-03-27 06:51] johnugeorge commented on #423
Closing this PR as GRPC PR is merged
/close

[2019-03-27 06:51] #423 closed

[2019-03-27 06:53] johnugeorge commented on #349
Closing this issue as fields are included in v1alpha2 API
/close

[2019-03-27 06:53] #349 closed

[2019-03-27 09:14] DurivetMatthias commented on #437
I added:
[code]
I can't see any failed pods in my kubernetes cluster but these errors appear in the studyjob-controller:

![afbeelding](https://user-images.githubusercontent.com/26407191/55063245-dd8f5800-5077-11e9-93dd-831e19e6ad68.png)

![afbeelding](https://user-images.githubusercontent.com/26407191/55063210-c94b5b00-5077-11e9-92d5-7087ad076bfe.png)

in the last image the pod with job-name=n101

[2019-03-27 11:48] Niuxiaotong opened #439 "studyjob-controller ImagePullBackOff"
[root@k8s-master ~]# kubectl get pod -n kubeflow
NAME                                                      READY   STATUS             RESTARTS   AGE
ambassador-784d4d757-9764g                                1/1     Running            0          8h
ambassador-784d4d757-mbqwj                                1/1     Running            0          8h
ambassador-784d4d757-ph9v7

[2019-03-27 16:51] johnugeorge commented on #433
@andreyvelich I think, we can fix it in v1alpha2 directly.

[2019-03-27 20:44] richardsliu commented on #380
Duplicate of #370
/close

[2019-03-27 20:44] #380 closed

[2019-03-27 20:47] richardsliu opened #440 "[v1alpha2] Data store interface"
Implementation of the new abstract data store interface.

PR: https://github.com/kubeflow/katib/pull/431

[2019-03-27 20:49] richardsliu opened #441 "[v1alpha2] Controller implementation"

[2019-03-27 20:49] richardsliu opened #442 "[v1alpha2] Metrics collection"

[2019-03-27 20:50] richardsliu opened #443 "[v1alpha2] New UI"

[2019-03-28 03:32] Niuxiaotong commented on #439
20190328:
change studyjobcontroller.libsonnet imagePullPoilcy :IfNotPresent
docker images
gcr.io/kubeflow-images-public/katib/studyjob-controller v0.4.0 63d4250ec85e
appear similar erro:
kubectl describe pod studyjob-controller-565c864549-2nf6w -n kubeflow

  Normal   Pulling         73s (x2 over 2m24s)   kubelet, k8s-master  pulling image "gcr.io/kubeflow-images-public/katib/studyjob-controller:v

[2019-03-28 07:19] WestonLu opened #445 "how to use early stopping"
may i ask how to define the early stopping spec in my yaml file? Is there any example about this?thx

[2019-03-28 07:21] johnugeorge commented on #445
It is not yet supported. It will be added in the 0.6 release

[2019-03-29 04:50] #347 closed

[2019-03-31 01:11] gaocegege commented on #441
@johnugeorge Are you working on this issue?

[2019-03-31 07:51] johnugeorge commented on #441
Yes. I will add the initial implementation once #448 is merged.

[2019-04-01 12:13] jdplatt commented on #273
I think we can close this now that #436 is merged.

[2019-04-01 12:26] johnugeorge commented on #273
Thanks @jdplatt . Closing as PR #436  is merged.
/close

[2019-04-01 12:26] #273 closed

[2019-04-02 22:43] wronk commented on #263
@janvdvegt, can you elaborate on how you fixed it? I'm also getting this error now when pulling logs from the vizier-core with `kubectl -n kubeflow logs vizier-core-7f7f765d56-8685h`

[2019-04-04 02:07] johnugeorge commented on #441
/assign

[2019-04-05 17:39] richardsliu commented on #441
@johnugeorge Can we break this item up into smaller issues? So community members can work on this together.

[2019-04-06 00:38] gaocegege commented on #441
Agree. Or could you please open a WIP PR then we can review it earlier.

[2019-04-08 06:34] johnugeorge commented on #441
Sure. I was waiting for #435 to get merged as GetSuggestions needs to be implemented first. Also, few  GRPC apis also need to be implemented and @YujiOshima is working on it.
I will anyways raise my current changes in 1-2 days.

[2019-04-08 21:46] richardsliu commented on #441
@YujiOshima Do you have a PR for the gRPC changes?

[2019-04-08 21:49] richardsliu commented on #442
@YujiOshima @johnugeorge @gaocegege
Per our discussion last week, until the metadata store is ready, the least costly solution would be to keep metrics collection as-is (i.e. using cron jobs). We will migrate to the new push model when the metadata APIs are ready.

[2019-04-09 00:40] YujiOshima commented on #441
I'm working on it. I will open PR this week.

[2019-04-09 21:23] richardsliu commented on #407
@jdplatt Can you do a quick write up of the steps needed to implement a new algorithm after your changes? It would help others understand the issue and the PR. Thanks!

[2019-04-09 21:44] andreyvelich commented on #443
As we discussed today, after we will merge this PR: https://github.com/kubeflow/katib/pull/438, we should start to work on v1alpha2 version of that New UI.
Is that correct @richardsliu @johnugeorge ?

[2019-04-10 04:12] johnugeorge commented on #443
i was suggesting to directly make changes for v1alpha2 once grpc apis are merged(this week or early next week). UI has dependency only with APIs and they can even be tested with mock data.

I feel that it might be a waste of effort by fixing for v1alpha1 and then again making new changes to v1alpha2 again.

[2019-04-10 18:11] andreyvelich commented on #443
@johnugeorge Alright

[2019-04-15 02:49] WestonLu opened #454 "CreateStudy Error rpc error: code = Unknown desc = Error 1136: Column count doesn't match value count at row 1"
Hi, I just create a simple study demo, but I got this error below.

[code]

and  my pods are

[code]

I don't know why this error occurs, can anyone give an idea how to fix it ? Thx

[2019-04-15 06:33] gaocegege commented on #370
Hi, all

Could we do the jobs parallel? It seems that the process is blocked by #435

BTW I am free these days and can work on some items.

[2019-04-15 18:04] richardsliu commented on #454
Seems like several of your pods are in CrashLoopBackoff. What do the pod events say?

[2019-04-15 18:09] richardsliu commented on #249
/close since this is now obsolete.

[2019-04-15 18:09] #249 closed

[2019-04-16 08:10] WestonLu commented on #454
seems that i forgot to create the pv.
i reinstall the kubeflow and create enough pv, everything goes right now.
https://www.kubeflow.org/docs/other-guides/troubleshooting/

[2019-04-16 15:28] #454 closed

[2019-04-16 19:09] richardsliu commented on #370
There are a few PRs in flight:
- #435
- #456
- #457
- #438

I think after #457 is merged we can split up the remainder of the work.

[2019-04-18 12:38] WestonLu opened #459 "how to save the files of the best trial"
may i ask, how can i save my files of the best trial?  For example, at each trial, i save a tf model or keras model，but when the job is done, how can i get the model file of the best trial? Thank you.

[2019-04-19 08:53] gaocegege opened #460 "[feature request] Support AutoMC in Katib"
AutoMC (Automatic Model Compression) is yet another tech about AutoML. Here are some references:

- [AMC: AutoML for Model Compressionand Acceleration on Mobile Devices](http://openaccess.thecvf.com/content_ECCV_2018/papers/Yihui_He_AMC_Automated_Model_ECCV_2018_paper.pdf)
- [PocketFlow: An Automated Framework forCompressing and Accelerating Deep Neural Networks](https://openreview.net/pdf?id=H1fW

[2019-04-19 09:13] gaocegege opened #461 "[discussion] Intermediate representation of graph in NAS"
Now we are using a custom IR (architecture + nn_config) to represent a candidate model, which may be insufficiently expressive, I think.

I think we should use mature IRs such as Relay IR or ONNX to represent the candidate model.

/cc @DeeperMind @andreyvelich

[2019-04-19 09:13] gaocegege commented on #461
Ref https://github.com/dmlc/tvm/issues/1673

[2019-04-20 09:41] wukong1992 opened #462 "error to list *v1beta1.TFJob"
I follow the ‘Getting Started’，however, the tfexpamle  studyjob is failed, the log in the studyjob-controller is "github.com/kubeflow/katib/vendor/sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:126: Failed to list *v1beta1.TFJob: the server could not find the requested resource (get tfjobs.kubeflow.org)". I didn't figure where goes wrong

[2019-04-20 09:43] gaocegege commented on #462
Did you register the CRD of TFJob v1beta1?

[2019-04-20 09:52] wukong1992 commented on #462
sorry, I configure wrong, I configure the v1beta2.

[2019-04-20 09:52] #462 closed

[2019-04-20 17:07] johnugeorge opened #463 "GetSuggestion API change"
Currently  GetSuggestionsRequest and GetSuggestionsReply structure are as follows
[code]
1. Currently, GetSuggestions and ValidateAlgorithmSettings API calls are called to corresponding suggestion service via Manager Service. (https://github.com/kubeflow/katib/blob/master/cmd/manager/v1alpha2/main.go#L138) Is it actually needed? Why can't the controller directly connect to the suggestion service?

[2019-04-21 00:18] richardsliu commented on #463
I agree, returning ParameterAssignments is more consist with the semantics of a Get API. Also since we are defining Trial as its own resource type, its lifecycle should be handled by a controller.

[2019-04-22 12:17] jlewi commented on #441
@richardsliu @johnugeorge @YujiOshima How's this coming?

[2019-04-22 14:30] johnugeorge commented on #441
@jlewi  #457 is in the final review. It should be merged in 1-2 days

[2019-04-22 22:39] andreyvelich commented on #463
1. Is it possible to call this functions from controller directly?
2. As well, we send StudyID in Trial structure. You can see it here: https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha1/nasrl_service.py#L356.
We can define this structure like that:

[code]
What do you think @johnugeorge ?

[2019-04-22 22:41] richardsliu commented on #463
@andreyvelich For NAS wouldn't the GetSuggestionsReply need to contain the architecture and operations?

[2019-04-22 23:01] andreyvelich commented on #463
@richardsliu Yes, but we store it in two different categorical parameters, architecture and nn_config:
https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha1/nasrl_service.py#L357

[2019-04-22 23:11] andreyvelich commented on #460
@gaocegege Is the main idea for AutoMC is to find neural network architecture ?

[2019-04-23 01:24] gaocegege commented on #460
@andreyvelich Similar to NAS while not the same. It is to compress the network to achieve lower latency. It is mainly for mobile devices.

[2019-04-23 01:30] andreyvelich commented on #460
We need to think, is it possible to send all necessary information inside NasConfig for AutoMC.

[2019-04-23 01:37] gaocegege commented on #460
@andreyvelich Sure. Actually, I think the IR we defined for NAS in CRD is insufficiently expressive. Ref https://github.com/kubeflow/katib/issues/461

As for Automatic Model Compression, I think we could reuse the architecture if the IR is expressive. We can refer to the implementation here. https://github.com/Tencent/PocketFlow

[2019-04-23 02:30] hougangliu commented on #459
import file in https://github.com/kubeflow/katib/tree/master/pkg/api/v1alpha1/python and then call below method to get best trial for a studyjob_instance

def get_best_trial(studyjob_instace):
    trial_id = studyjob_instace["status"]["bestTrialId"]
    if not (studyjob_instace and studyjob_instace.status and studyjob_instace.status. bestTrialId):
        return None
    vizier_core = "vizier-core

[2019-04-23 09:36] gaocegege commented on #463
I think we could eliminate manager as a GRPC server. I am working on a proposal for it.

[2019-04-23 09:47] gaocegege opened #464 "[RFC] Katib Revised Edition"
In v1alpha2, we abstract Experiment and Trial as Kubernetes CRD, in the meanwhile, store experiments, trials, metrics and algorithm settings in MySQL.

When we are investigating katib to adopt it into production, we find that katib requires a MySQL instance, which limits the availability and reduces the usability of the system. This motivates our refactor design of katib. We eliminate **katib-mana

[2019-04-23 09:48] gaocegege commented on #463
@johnugeorge I have a proposal to eliminate katib-manager as a proxy between suggestion and experiment, PTAL #464

[2019-04-23 09:51] gaocegege commented on #464
/cc @terrytangyuan Maybe you are interested in it, too.

[2019-04-23 11:47] johnugeorge commented on #463
/assign

[2019-04-23 17:36] richardsliu commented on #464
/cc @jdplatt
/cc @achalshant
/cc @mpvartak

[2019-04-23 18:29] andreyvelich commented on #461
@gaocegege This is make sense. What changes in API do we need to make IR like Relay IR or ONNX. And what will be the best for the NAS tasks?
/cc @johnugeorge @richardsliu @hougangliu @YujiOshima

[2019-04-23 23:22] #441 closed

[2019-04-24 01:36] gaocegege commented on #461
We need to investigate which IR works well for the case. [microsoft/nni](github.com/microsoft/nni) uses ONNX. While I think ONNX is not expressive.

@anchovYu is working on this issue.

[2019-04-24 01:48] andreyvelich commented on #461
That is cool! Just let us know which structure you want to use and will our definition of Neural Network work for that. For RL you can find it [here](https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha1/NAS_Reinforcement_Learning/README.md).

[2019-04-24 01:53] gaocegege commented on #461
@andreyvelich Yeah, sure. Maybe we could discuss it in the katib meeting. Actually, we are not sure about the choice, too.

There are several ways to represent the search space of NAS: chain-structured (what we are using now), chain-structured with jumps and other advanced links, and cell-structured. I cannot figure a way to represent such complex space definition, even via ONNX or Relay IR or oth

[2019-04-24 02:27] andreyvelich commented on #461
Alright, let discuss at Katib meeting in this week.
/cc @DeeperMind

[2019-04-24 07:09] WestonLu commented on #459
thank you

[2019-04-24 07:52] WestonLu opened #466 "Docs about params of each suggestion algorithm"
Hi, may I ask if there were any docs about the suggestion algorithms?
Especially the docs about params of each suggestion algorithm.

For example,  what does 'DefaultGrid 'and '--lr' mean in this example https://github.com/kubeflow/katib/blob/b25422ab1af0c5140013b325f2de7c9e3996fee0/examples/v1alpha1/grid-example.yaml ?

if '--lr' means the '--lr' param will be suggested with grid search, what wil

[2019-04-24 07:57] gaocegege commented on #466
Unfortunately, I think we do not have such documentation. But I think we need it.

[2019-04-24 07:58] #445 closed

[2019-04-24 07:58] #459 closed

[2019-04-24 08:09] gaocegege commented on #439
Hi

Sorry for the late reply. It seems that you cannot access gcr.io/kubeflow-images-public/katib/studyjob-controller:v0.4.0. Maybe you can try if you could pull other images in gcr.io (gcr.io is banned in China.)

[2019-04-24 08:11] gaocegege commented on #390
@hougangliu Do you mean the trail worker or the worker in the distributed training jobs?

[2019-04-24 08:15] gaocegege commented on #466
@jlewi Should we maintain docs about katib in kubeflow/website or here?

[2019-04-24 08:20] gaocegege commented on #353
I am closing the issue. Feel free to leave comments if there are similar problems

[2019-04-24 08:20] #353 closed

[2019-04-24 08:23] gaocegege commented on #212
I think it depends on the deployment and scalability of the arch. I am closing it since it is stale. Maybe when v1alpha2 is ready we can do a pressure test

[2019-04-24 08:23] #212 closed

[2019-04-24 08:24] gaocegege commented on #197
@wukong1992 Same idea with you. PTAL #464

[2019-04-24 08:24] #197 closed

[2019-04-24 08:25] #169 closed

[2019-04-24 08:26] gaocegege commented on #24
dup with #257

[2019-04-24 08:26] #24 closed

[2019-04-24 08:27] #144 closed

[2019-04-24 08:28] #172 closed

[2019-04-24 08:28] hougangliu commented on #390
Yes,  but as @johnugeorge mentioned above, it seems we can handle it by setting backofflimit (or else) for the job

[2019-04-24 08:29] #390 closed

[2019-04-24 08:31] gaocegege commented on #211
Closing since it is stale

[2019-04-24 08:31] #211 closed

[2019-04-24 16:53] andreyvelich commented on #384
What do you think about using `Go module`, instead of `go dep` ?
Pipelines have already migrated on it:
https://github.com/kubeflow/pipelines/pull/581

[2019-04-24 17:14] richardsliu commented on #384
We are using go module in the common repo: https://github.com/kubeflow/common

The only requirement is moving to Golang 1.11 or above. I find it easier than vendoring.

[2019-04-24 18:06] andreyvelich commented on #384
I think, we can switch to go module when v1alpha2 components will be merge.
What do you think ?

[2019-04-24 20:01] terrytangyuan commented on #464
Thanks @gaocegege. Just left some comments in the doc.

[2019-04-24 23:38] #374 closed

[2019-04-25 01:35] gaocegege commented on #384
SGTM, but I think we should come to an agreement at the community level.

[2019-04-25 02:02] gaocegege opened #471 "[discussion][feature request] Experiment Specific Suggestion Support"
There are some algorithms that cannot be running as a long-running service. It needs to be trained first and serve for the specific NAS tasks.

Currently, we create the suggestion services before we run the system, the approach may not work for the case. We may create some suggestions dynamically during the running.

/cc @andreyvelich @DeeperMind

[2019-04-25 02:57] YujiOshima commented on #463
@johnugeorge
I agree.
You can call GetSuggestion from controller same as the manager do now. In GetSuggestion process, the manager is just a proxy.
And only contain Assignments in GetSuggestionsReply will be more efficient.

[2019-04-25 02:59] hougangliu opened #472 "trigger corresponding test workflow"
for now, we have test workflow for v1alpha2 and v1alpha1, v1alpha1 test workflow should be triggered only when v1alpha1 code changed, so does v1alpha2

[2019-04-25 04:40] johnugeorge commented on #384
we can do it at a later point when all components are merged and before the current release in July.

[2019-04-25 22:38] andreyvelich commented on #471
It is a good idea. For current RL suggestion https://github.com/kubeflow/katib/tree/master/pkg/suggestion/v1alpha1/NAS_Reinforcement_Learning it will work. This Suggestion can be running not as a long-running service. We can run this suggestion during live of one Experiment.

[2019-04-26 04:47] richardsliu commented on #355
This is unlikely to happen in 0.6. The user experience should be improved with the new UI, so this can be lower in priority.

@johnugeorge @gaocegege @YujiOshima FYI

[2019-04-26 04:53] richardsliu commented on #440
@mpvartak @achalshant Are you still interested in taking on this item for the v1alpha2 release?

[2019-04-26 05:33] johnugeorge commented on #433
Added to v1alpha2: https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/experiment/v1alpha2/experiment_types.go#L45

@andreyvelich  close this PR?

[2019-04-26 05:35] andreyvelich commented on #433
Yes, now it is fine!

[2019-04-26 05:35] #433 closed

[2019-04-26 07:10] bigdimple commented on #340
I am running exactly same issue too,but if I install kubeflow v0.3.0,everything has been working fine, vizier-db image is mysql:8.0.3 version too. if I install v0.4.0, vizier-db not working.

[2019-04-27 00:11] richardsliu opened #475 "[feature request] Support automated feature engineering in Katib"
Possible areas of exploration:
- Feature selection
- Feature transformation
- Feature crosses

Relevant papers:
- https://arxiv.org/pdf/1709.07150.pdf
- https://hal.inria.fr/inria-00484049/document

[2019-04-27 00:15] richardsliu commented on #475
@ddutta What do you think about this?

[2019-04-27 01:30] richardsliu commented on #464
Update after meeting on 4/25:

- Top priority from this proposal is removing the dependency on MySQL
- Proposed solution (from @gaocegege ):
     * Store/track trial status from CRD. Controller will be responsible for this.
     * Similarly, best trial will also be stored in the Experiment status.
     * This means that no DB writes are done during main workflow.
     * Writing to data store can b

[2019-04-29 19:10] jlewi commented on #443
Any update on this issue?

[2019-04-29 19:38] richardsliu opened #479 "Create demo script for katib 0.6"

[2019-04-29 20:09] andreyvelich commented on #443
@jlewi We have finished UI for v1alpha1 version, we just need to use new API for v1alpha2 and it will work.
@richardsliu Should we do it with 0.6 release or we can finish it to the middle of May?

[2019-04-29 20:39] richardsliu commented on #443
@andreyvelich The PR can be merged as soon as it is ready. It will be released as part of 0.6.

[2019-05-03 16:25] lucasc896 commented on #466
+1 for some documentation about these parameters. I'm assuming in the above example that the parameters for `--lr` will be divided into a set with gaps of `(max-min)/4` and the others will just be just be sets of `[min, max]`?

[2019-05-05 06:03] gaocegege commented on #232
Recently I am working on the prototype of katib, in the prototype, I introduce a unified service called advisor, which will do some pre and post work to wrap GetSuggestionRequest to study and trials that advisor is defined https://github.com/tobegit3hub/advisor/blob/master/advisor_server/suggestion/algorithm/abstract_algorithm.py#L9

We need to update the code of suggestions in advisor, mainly to

[2019-05-05 06:05] gaocegege commented on #475
Hi is there any progress?

[2019-05-05 07:45] tobegit3hub commented on #232
Thanks @gaocegege . It may work if we pass the study config to generate the `suggestion` without reading the `advisor db`. However, now we use `db` to store the `study config` and the `trial result`. The `Bayesian optimizer` relies on the previous `trial result` to generate new `trial` which is different from `Random search`.

I'm not sure if we want to refactor the project as the standalone libra

[2019-05-05 08:13] gaocegege commented on #232
In the prototype, I am trying to pass all information needed by the suggestion (study config, previous trials) to suggestion services. And the information will be stored in K8s apiserver as CRDs (Study CRD, Trial CRD).

As for the self-maintained DB, katib v1alpha2 follows the similar design of advisor and vizier, which introduces a DB to store studies, trials and metrics. But the abstraction and

[2019-05-06 01:45] gaocegege commented on #257
https://github.com/Microsoft/nni/blob/b6cf7cee0e72671672b7845ab24fcdc5aed9ed48/docs/en_US/GeneralNasInterfaces.md#example-enas-macro-search-space

NNI developed by MSRA has a document about their design decisions on NAS. It is really helpful for us.

[2019-05-06 02:17] gaocegege opened #487 "[question] What happened if we do not watch TFJob and PyTorchJob"
I found that we do not watch TFJob and PyTorchJob in trial v1alpha2 implementation. Then I am wondering how to sync the TFJob/PyTorchJob status to trial status. For example, if the TFJob is failed, the controller does not get the event from apiserver, then the trial controller cannot update the trial status.

Is there anything I misunderstand? I'd appreciate it if someone could help me, thanks.

/

[2019-05-06 02:40] johnugeorge commented on #487
@gaocegege Implementation of default batch job is only added currently. I am adding support for custom operators in a separate PR soon

[2019-05-06 03:32] gaocegege commented on #487
Gotcha, thanks.

[2019-05-06 03:32] #487 closed

[2019-05-06 12:21] hougangliu commented on #464
@gaocegege Sorry that something of the design confuses me. Can you please help clarify it?
As for `We can also implement suggestions as a CRD`, does it mean each suggestion service corresponds to a suggestion CR?
If yes, which controller creates the suggestion CRs? when create it? when delete it?

in design doc,  it says `A Suggestion contains a service and a deployment, it exports the services in

[2019-05-06 12:29] hougangliu commented on #439
@richardsliu @jlewi
do we have any plan to publish kubeflow released images in docker hub? AFAIK, a lot of kubeflow early adopters in China encounter the same gcr.io reject problem.

[2019-05-06 17:20] richardsliu commented on #475
I am working on a design for this. It got delayed due to some other higher priority items. Hoping to get back on this by middle of May.

[2019-05-07 01:39] gaocegege commented on #464
@hougangliu

For HP tuning, it is similar to the current design. It is long-running. But, there are some cases reuqire experiment specific suggestions. See https://github.com/kubeflow/katib/issues/471

Making suggestion a CRD is a potential solution and I am working on the prototype. Feel free to leave comments in https://github.com/kubeflow/katib/issues/471 if you have other suggestions.

[2019-05-07 06:22] hougangliu commented on #464
@gaocegege Thanks for clarifying. Maybe we can talk about it in meeting

[2019-05-09 05:20] gaocegege commented on #472
Agree, we could update https://github.com/kubeflow/katib/blob/master/prow_config.yaml#L32 include_dirs to do it. Could you please help us?

[2019-05-09 06:48] gaocegege opened #495 "[RFC] Directory Refactor"
Now the directory layout is a little confusing:

[code]

I propose some changes:

- Move `pkg/mock/modelstore` to `pkg/mock/v1alpha1/db`. Maybe we need to change the generate script to do it automatically.
- Move `pkg/manager/modelstore` to `pkg/manager/v1alpha1`, since it is version specific implementation. And it will be changed in v1alpha2.
- Change `pkg/controller/v1alpha2/experiment` to `pkg/

[2019-05-09 06:51] gaocegege commented on #495
/cc @richardsliu @YujiOshima @johnugeorge @hougangliu

[2019-05-09 07:01] YujiOshima commented on #495
Though currently, health is only used in the manager, it can be used in all services.
It is based on the offical grpc health check service https://github.com/grpc/grpc/blob/master/doc/health-checking.md

[2019-05-09 07:03] gaocegege commented on #495
@YujiOshima Make sense. Then I think we should keep it. I updated the proposal, Thanks for your reminder

[2019-05-09 07:28] hougangliu commented on #495
it can make katib directory style consistent now.
`modelstore` is not in use now, should we drop it? or make a `backup` directory in root path to store it momentarily since I am not sure if modeldb storage plugin can reuse part of the code

[2019-05-09 07:48] gaocegege commented on #495
Is modelstore used in v1alpha1?

[2019-05-09 08:05] johnugeorge commented on #495
Model store is currently not used. Most of the code is obsolete and it is written for v1alpha1 api. I don't think, we need to keep the code. @YujiOshima

[2019-05-09 08:27] gaocegege commented on #495
Then maybe we could just delete it. model store interface confuses me for a long time.

[2019-05-09 19:07] richardsliu commented on #495
Do we need to do this for v1alpha2? This can cause a lot of conflicts with ongoing PRs.

[2019-05-10 01:28] gaocegege commented on #495
It is just a suggestion. We can do it after v1alpha2 is released.

[2019-05-10 01:58] YujiOshima commented on #495
@johnugeorge Yes, the Model store was used before v0.4. We can drop it.
@gaocegege Agree, we should do this after making v1alpha2 stable.

[2019-05-10 07:33] hougangliu opened #497 "remove db dependency in katib CR reconcile main workflow"
katib CR (now experiment and trial) reconcile main workflow should remove db-write operation, a new controller need to be added to handle experiment and trial related info persistence in DB.

[2019-05-10 07:33] hougangliu commented on #497
/assign @hougangliu

[2019-05-10 13:57] gaocegege commented on #497
Thanks for the issue. Really looking forward to it.

[2019-05-13 01:41] jlewi commented on #442
@johnugeorge  @richardsliu Could you provide an update for this issue please?

[2019-05-13 01:41] jlewi commented on #440
@mpvartak @achalshant any update?

[2019-05-13 01:42] jlewi commented on #370
@richardsliu @johnugeorge @gaocegege Any update on this issue?

[2019-05-13 01:44] jlewi commented on #443
@andreyvelich What is the remaining work to close out this issue? Are we waiting on #486 to be merged?

Do we need to create a separate issue to update the kustomize manifests to use the new UI?

[2019-05-13 01:46] gaocegege opened #499 "[feature] Add Trials in Experiment Spec"
https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/experiment/v1alpha2/experiment_types.go

We have TrialsSucceeded, TrialsFailed and other fields, but we do not have a field for the total number of the trials. We need it.

[2019-05-13 01:46] gaocegege commented on #499
/feature

[2019-05-13 01:52] hougangliu commented on #370
@jlewi we're still working on UI #438 and suggestion services #435 (maybe a new PR will replace it to take over), plan to make them done by the end of this week.

[2019-05-13 02:52] andreyvelich commented on #443
@jlewi Add comment here: https://github.com/kubeflow/katib/pull/486#issuecomment-491658792.
I will add kustomize manifest after I finish the UI.

[2019-05-13 03:05] gyliu513 opened #503 "Update quickstart to kustomize"
The quick start for katib still using `ks` at https://github.com/kubeflow/katib#quickstart-to-run-tfjob-and-pytorch-operator-jobs-in-katib , can we update this to kustomize? This can also align with https://github.com/kubeflow/manifests

/cc @hougangliu @richardsliu

[2019-05-13 04:06] johnugeorge commented on #442
@jlewi This is done.
/close

[2019-05-13 04:06] #442 closed

[2019-05-13 04:17] johnugeorge commented on #440
PR: #498

[2019-05-13 05:21] gaocegege commented on #495
https://github.com/kubeflow/katib/pull/502#discussion_r283186792

We should do it, too.

[2019-05-13 05:26] hougangliu commented on #503
@gyliu513 Thanks, we will update it later

[2019-05-13 06:49] gaocegege commented on #497
Currently, We decided to use a backup controller, which watches experiments and trials, then does DB write requests.

[2019-05-13 07:00] hougangliu commented on #497
Per discuss with team,  we will implement this feature after release 0.6

[2019-05-13 07:07] gyliu513 opened #506 "Use klog for katib"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Use the permanent forked version of glog for kubernetes instead of log.

ref:
kubernetes/kubernetes#70264
https://github.com/kubernetes/klog/blob/master/README.md

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/cc @hougang

[2019-05-13 07:09] gaocegege commented on #506
I think we are using it now, with the help of kube-builder.

[2019-05-13 07:11] hougangliu commented on #506
https://github.com/kubeflow/katib/issues/112 traced log solution

[2019-05-13 07:13] gyliu513 commented on #506
@gaocegege The `klog` was not used by katib but using `log`. Now all of the kubernetes projects are migrating to `klog`, I think katib should also move this way?

[2019-05-13 07:14] hougangliu commented on #506
#388 also traces it, we can keep one about log solution

[2019-05-13 07:19] gyliu513 commented on #506
@YujiOshima @richardsliu look forward to more comments from you as well.

[2019-05-13 07:23] hougangliu commented on #506
I think `klog` is good solution for me

[2019-05-13 07:24] johnugeorge opened #507 "Redesign Suggestion service design"
Proposal is to make new Suggestion CR  to serve suggestion requests from the experiment controller. Currently, experiment controller directly talks to suggestion service and gets suggestions.

In the new design,
Experiment controller creates Suggestion CR for each experiment to get suggestion results.Suggestion controller picks it up and talks to right algorithm service(as currently) and updates t

[2019-05-13 07:28] gaocegege commented on #507
/addition feature

[2019-05-13 07:33] YujiOshima commented on #506
SGTM. klog is the standard logging in k8s ecosystem and developed actively.

[2019-05-13 07:45] gyliu513 commented on #506
/assign

[2019-05-13 08:02] johnugeorge commented on #506
@gyliu513 Katib v1alpha2 version uses log solution that is provided by controller-runtime and it is not the standard `log` package..  It is a flexible package where users can configure their own logger.   See the current usage:  https://github.com/kubeflow/katib/blob/master/cmd/katib-controller/v1alpha2/main.go#L35 configures zap logger

It can support Klog also.  https://github.com/kubernetes-sig

[2019-05-13 09:42] gyliu513 commented on #506
@johnugeorge I actually want to use `klog` instead of using `klog` in `controller-runtime`, using `klog` directly can always enable us to upgrade as we want to leverage the latest feature in klog. Comments?

[2019-05-13 10:12] johnugeorge commented on #506
Sorry. I didn't understand. Why can't `klog` be upgraded in the latter case?  Can you please explain the difference between both?

Another side effect is that logs in controller-runtime will get hidden(including error logs) if the log library is not initialized.  https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/controller/controller.go#L41

[2019-05-13 10:42] gyliu513 commented on #506
@johnugeorge If I want to upgrade `klog`, do I need to upgrade `controller-runtime`? Let me check more detail for how does federation v2 works https://github.com/kubernetes-sigs/federation-v2/pull/857

[2019-05-13 15:11] hougangliu opened #510 "DB operations for v1alpha2"
- [x] RegisterExperiment when Experiment CR created #509
- [x] DeleteExperiment when Experiment CR deleted and `RetainHistoricalData` is false #519
- [x] UpdateExperimentStatus when Experiment CR status changed #534
- [x] RegisterTrial when TrialCR created #530
- [x] DeleteTrial when Trial CR deleted and `RetainHistoricalData` is false (I think when delete experiment, its trials will be deleted in

[2019-05-13 17:13] johnugeorge commented on #506
No. You don't need to upgrade controller-runtime. Klog will be an external dependency.

[2019-05-13 17:55] andreyvelich commented on #443
/assign

[2019-05-13 18:03] epa095 opened #511 "Make "HyperParameters" a map"
/kind feature

**Describe the solution you'd like**
I would like to extract the value of a single hyper-parameter inside a worker template. All the examples I see are of the type
[code]
but I think it would make sense to be able to do something like `{{ index HyperParameters "lr" }}` or `{{ $HyperParameters.lr }}`. It might already be possible, but I did not manage to figure out how, and it seems

[2019-05-13 18:16] johnugeorge commented on #510
Can you group these issues? It will be easier to track i feel

[2019-05-13 18:30] mpvartak commented on #440
@achalshant recently started a new role and not sure he has bandwidth to
take this on at the moment.

We are also fully booked on the Verta side unfortunately. We should have
more cycles in June if that works // happy to review PRs in the interim.

On Sun, May 12, 2019 at 9:18 PM Johnu George <notifications@github.com>
wrote:

[2019-05-13 18:45] richardsliu commented on #440
@achalshant @mpvartak
Johnu and I should have some free cycles to take on this item. If you don't have the bandwidth then we can patch the PR and merge it. Let us know if you are ok with this.

[2019-05-13 19:40] jlewi commented on #370
What are the remaining changes to be code complete for v1alpha2?
Is someone working on porting over the suggestion algorithms to the new API?

[2019-05-13 19:44] johnugeorge commented on #370
@jlewi  Yes. I have started on it

[2019-05-13 20:05] mpvartak commented on #440
Sounds good, thanks!

On Mon, May 13, 2019 at 11:45 AM Richard Liu <notifications@github.com>
wrote:

[2019-05-14 03:00] richardsliu opened #513 "Create kustomize packages for v1alpha2 version"
/kind feature

[2019-05-14 03:01] richardsliu opened #514 "Add e2e tests for v1alpha2"

[2019-05-14 04:05] gaocegege opened #515 "[bug] Fail to run unit test for v1alpha2 in kubenetes 1.12+"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

Ref https://github.com/kubernetes-sigs/controller-runtime/issues/318

We cannot run the test with kubernetes 1.12+

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubefl

[2019-05-14 06:31] #472 closed

[2019-05-14 08:11] gaocegege commented on #511
Could you please explain more about the use case? We use list, then add the lists to the arguments. And it works well, IMO.

[2019-05-14 10:45] epa095 commented on #511
Our usecase is that we have a generall model builder which can take in the model-config as a json (e.g. a json representation of a scikit learn pipeline) like this:
[code]
And we would like to HP tune over those parameters. I would like to be able to write:

[code]

Today we have to have the model-builder read the config as a string, expand it as a jinja template and then load the json. The result

[2019-05-14 13:51] gaocegege commented on #511
Make sense.

WDYT @richardsliu @johnugeorge

[2019-05-14 17:11] johnugeorge commented on #440
Thanks for the update

[2019-05-14 17:56] johnugeorge commented on #511
Shall we delay this to next release?

[2019-05-14 18:01] richardsliu commented on #511
I wonder if we can create a lightweight tool or UI to create the Experiment spec from simple Python code. That way we don't need to wait until a new API release.

[2019-05-15 01:17] gaocegege commented on #511
If we want it, it should be in the next release. As for the simple wrapper for experiment spec, I think UI can help us. Do we have plan to support it in the new UI?

[2019-05-15 01:24] andreyvelich commented on #511
In the UI we can submit Experiment from yaml file or by parameters.
In the future we can add support to create Experiment from Python code.

[2019-05-15 03:00] gaocegege opened #522 "[discussion] Increase the availability of CI in katib"
/kind discussion

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Now CI hurts the development of katib, we need to find a way to solve the problem.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/cc @richardsliu @johnugeorge @hougangliu

[2019-05-15 03:01] gaocegege commented on #522
Some suggestion:

-  btwn , do we need to build images in parallel ?. i don't think, it will make a huge difference in build time. we can fix this later. From @johnugeorge
- Should we build the code instead of building the image in the CI? From @gaocegege

[2019-05-15 03:04] richardsliu commented on #522
List of issues we have seen in the past couple of days:

- RESOURCE_EXHAUSTED: Quota exceeded for quota metric 'cloudbuild.googleapis.com/get_requests' and limit 'GetRequestsPerMinutePerUser' of service '
cloudbuild.googleapis.com' for consumer 'project_number:593963025935'.

This one seems to be resolved for the moment after requesting quota increase.

- Exception occurred: HTTPSConnectionPool(ho

[2019-05-15 03:15] hougangliu commented on #522
maybe we can make katib build-*.sh wiser, only build corresponding new images when related files changed. saying if only pkg/db/* changed, only katib-manager image should be built

[2019-05-15 04:00] gaocegege opened #523 "[bug] unit test is broken in github.com/kubeflow/katib/pkg/db/v1alpha2"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-rele

[2019-05-15 06:41] #523 closed

[2019-05-15 09:16] gaocegege commented on #522
We do not need GPU cluster, thus we can release the constraints.

[2019-05-15 23:03] andreyvelich commented on #510
@hougangliu I will take `RegisterTrial when TrialCR created` from this list.
/cc @johnugeorge

[2019-05-16 02:15] #499 closed

[2019-05-16 02:33] gaocegege commented on #522
After #525 , The building time is reduced to 10-20mins.

[2019-05-16 02:40] andreyvelich commented on #522
What if we move to go modules, in that case we don't need vendor folder and `dep ensure`?

[2019-05-16 02:42] gaocegege commented on #522
Go module also need download packages from the remote. I prefer storing vendor whether we use dep or not.

[2019-05-16 03:27] gaocegege opened #531 "[bug] Side effect in Trial controller spawnMetricsCollector"
/kind bug

Run trial controller and create a trial, the metrics collector will be created multiple times. We do not check if the resource is created in the cluster. Thus it will return an error and run the endless reconcile loop

/assign

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube ver

[2019-05-16 04:40] naseemkullah opened #533 "make katib-db configurable"
https://github.com/kubeflow/katib/blob/3cbb5654042cf73b164685a0cf6f2f30e6286c8b/pkg/db/v1alpha2/interface.go#L21

Please make `katib-db:3306` configurable with  os.Getenv("MYSQL_HOST") and os.Getenv("MYSQL_PORT")

[2019-05-16 04:42] gaocegege commented on #533
We expected that katib mysql is running in k8s, thus we use katib-db directly. But we should make it configurable. I agree.

[2019-05-16 04:57] naseemkullah commented on #533
Thanks. I am working on a [helm chart](https://github.com/helm/charts/pull/13454) now, and it is not guaranteed that the name of the service will be `katib-db` for the helm release. In fact it probably won't be. This would really help!!

[2019-05-16 05:00] gaocegege commented on #533
@naseemkullah Oh I really love helm chart! Do you have a deadline for it? We will release a new version at the end of this month maybe.

[2019-05-16 05:02] naseemkullah commented on #533
Thanks! :) :)
Also want to shoutout @dodizzle who has been helping out.

I think I can have it ready soon, need some fixes in code change, mostly parameterizations for MYSQLs and such!

[2019-05-16 05:07] gaocegege commented on #533
@naseemkullah @dodizzle Thanks for your work!

Are you packaging v1alpha1 or v1alpha2 for katib?

[2019-05-16 05:09] naseemkullah commented on #533
I was confused about that actually.

https://github.com/kubeflow/katib/tree/master/manifests

Which should be ported?

So far we have the following workloads (please ignore helm generated prefix)
[code]

[2019-05-16 05:12] naseemkullah commented on #533
I was confused about that actually. Never used kubeflow, really approaching this from Ops perspective.

https://github.com/kubeflow/katib/tree/master/manifests

Which should be ported?

So far we have the following workloads (please ignore helm generated prefix)

lumbering-pika-katib-core
lumbering-pika-katib-core-rest
lumbering-pika-katib-studyjob-controller
lumbering-pika-katib-suggestion-bayesi

[2019-05-16 05:14] gaocegege commented on #533
Now we are working on v1alpha2. Thus we recommend doing it after v1alpha2 is released.

If you want to run v1alpha1, you should install all the components in manifests/v1alpha1

[2019-05-16 05:15] gaocegege commented on #533
[code]

Here missed a DB

[2019-05-16 05:18] naseemkullah commented on #533
yes we have deployed with the helm mysql chart, as a dependency: https://github.com/helm/charts/blob/d87d8c7b7f4a374e39f152d3a9334ffc3d80c437/incubator/kubeflow/charts/katib/requirements.yaml
it generated `lumbering-pika-mysql` service...

Also created a temp service `katib-db` to bypass lack of configuration:
https://github.com/helm/charts/blob/d87d8c7b7f4a374e39f152d3a9334ffc3d80c437/incubator/k

[2019-05-16 05:20] gaocegege commented on #533
Then I think it should work. If the url is configurable.

[2019-05-16 10:25] #531 closed

[2019-05-16 13:44] gyliu513 commented on #506
@johnugeorge  I see, so we do not need to add `klog` to `Gopkg.toml` but depending on `klog` in `controller-runtime` is good enough. Comments?

[2019-05-17 02:35] gaocegege commented on #522
There is one thing we can do: Jeremy suggested batching the request to gcloud container builds.

Now we send single-image building requests one by one. Jeremy said we can do it in one request.

[2019-05-17 02:37] richardsliu commented on #510
@hougangliu This is done now, right?

[2019-05-17 03:07] hougangliu commented on #510
right, maybe we can close it now

[2019-05-17 04:59] richardsliu commented on #510
/close

[2019-05-17 04:59] #510 closed

[2019-05-17 06:25] gaocegege commented on #522
Find a note in https://cloud.google.com/sdk/gcloud/reference/builds/submit:

You can also run a build locally using the separate component: gcloud components install cloud-build-local.

These variants are also available:

  $ gcloud alpha builds submit
  $ gcloud beta builds submit

[2019-05-17 07:12] #373 closed

[2019-05-17 10:10] hougangliu opened #549 "v1alpha2 default metricCollector Pod fails to work"
default metricCollector Pod always goes `ERROR` with below logs:
[code]

[2019-05-17 10:45] hougangliu opened #551 "implement UpdateTrialStatusObservation"
Now UpdateTrialStatusObservation does nothing, we need it to fill-back trial.Status.Observation

[2019-05-19 23:41] #549 closed

[2019-05-20 05:05] sdgs72 opened #557 "Hyperband example doesn't terminate"
/kind bug

**What steps did you take and what happened:**
I tried running the hyperband example(katib/examples/v1alpha1/hypb-example.yaml) by running
[code]
in my local minikube cluster. (I tried running other algorithm’s such as random and it terminates)

Currently the hyperband study keeps running non stop and doesn’t seem to increase the resource size(num-epochs) at all (i waited for 2 hours an

[2019-05-20 12:53] hougangliu opened #565 "ignore Retain field"
in experiment.spec.trialTemplate and experiment.spec.metricsCollectorSpec, `Retain` filed is defined, which is used to delete worker job and metricCollecoter job when trial completed, but now we ignore the field when create new trial( Trial struct has no counterpart field of  the two kind of `Retain`)

should we drop `Retain` in experiment and always delete worker job and metricCollecoter job when

[2019-05-20 13:01] gaocegege commented on #565
I have a question may not be related to the issue. How to support the case that the users want to create new trials for the completed experiment? Do we plan to support it? Ref https://github.com/kubeflow/katib/issues/346

[2019-05-21 07:56] #551 closed

[2019-05-21 08:15] johnugeorge commented on #223
v1alpha2 API supports asynchronous suggestion requests.

[2019-05-21 08:15] johnugeorge commented on #223
Closing the issue as #381 is merged.
/close

[2019-05-21 08:15] #223 closed

[2019-05-21 08:21] johnugeorge commented on #136
Vizier is changed to Katib from v1alpha2.
Closing the issue
/close

[2019-05-21 08:21] #136 closed

[2019-05-21 18:33] johnugeorge commented on #565
I think, `Retain` is not needed now.  `RetainHistoricalData` serves the same purpose from the experiment level. Right?

[2019-05-22 02:34] hougangliu commented on #565
We need discuss it more in next meeting or in #346. Anyway, I think the feature may be not included in release 0.6

[2019-05-22 02:34] hougangliu commented on #565
/assign

[2019-05-22 03:11] johnugeorge commented on #565
Other k8s objects follow the same convention right?  eg: K8s Job

[2019-05-23 08:53] gaocegege commented on #507
According to the experiment, I found that we can support grid search with the new design. We can get all grids each time and calculate which grids will be used according to the numbers of succeeded trials. The idea is inspired by advisor here: https://github.com/tobegit3hub/advisor/blob/master/advisor_server/suggestion/algorithm/grid_search.py#L65

[2019-05-23 09:21] gaocegege commented on #443
Did #486 solve the issue?

[2019-05-23 10:07] gaocegege commented on #464
Maybe we can use https://github.com/directxman12/k8s-prometheus-adapter and prometheus to support early stopping. We can  store the metrics in prometheus and expose the metrics using custom.metrics.k8s.io

Ref https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-metrics-apis

I will work on it in our prototype caicloud/katib

[2019-05-23 10:20] johnugeorge commented on #464
How will you handled[ this issue ](https://github.com/kubeflow/tf-operator/issues/722#issuecomment-405669269) if you are using prometheus?

[2019-05-23 10:25] gaocegege commented on #464
I think these two issues are different. For periodical metrics in the trial, it is just like CPU/memory utilization. And it is only used to stop the trial earlier. metrics server works well for this case.

Actually, I am thinking if we need to maintain all periodical metrics. I am thinking if we could store the latest metrics in CRD status and update it in a reasonable interval. As we know, early

[2019-05-23 23:20] andreyvelich commented on #443
Yes. We can close this issue. I will test our new UI.
/close

[2019-05-23 23:20] #443 closed

[2019-05-24 02:35] gaocegege opened #577 "[Enhancement Request] Metrics Collector Push-based Implementation"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Now the design of metrics collector is based on pull. We have a metrics collector cron job for one trial. And it collects logs according to the pods log. Then it parses the log and persist the logs in MySQL.

The design has some problems (https://github.com/kubeflow/tf-operator/issues

[2019-05-24 02:37] gaocegege commented on #577
I am glad to discuss it after v1alpha2 is released.

[2019-05-24 05:10] johnugeorge commented on #577
Yes. This is a long standing need :) Lets take this up during next api design phase

[2019-05-24 05:26] gyliu513 opened #578 "Add undeploy.sh to delete katib"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
We only have a `deploy.sh` at https://github.com/kubeflow/katib/blob/master/scripts/v1alpha2/deploy.sh but no scripts to delete, it is better add a file to delete the katib to facilitate development process.

/cc @hougangliu @gaocegege @richardsliu

/a

[2019-05-24 05:27] gaocegege commented on #578
SGTM

[2019-05-24 05:29] gyliu513 commented on #506
There is an issue for klog at https://github.com/kubernetes/klog/issues/22 , the klog cannot handle the case of some sort with a predefined set of variables which are used as suffix for each log line.

Will hold on for some files in katib like https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/experiment/experiment_util.go#L24 etc.

[2019-05-24 05:35] hougangliu commented on #565
/close since #572 merged

[2019-05-24 05:35] gaocegege commented on #506
I think it may affect us deeply. We rely on this feature in many files.

[2019-05-24 05:35] hougangliu commented on #565
/close

[2019-05-24 05:35] #565 closed

[2019-05-24 05:41] gyliu513 commented on #506
@gaocegege I will check how we can workaround for this, but meantime, can we avoid try to using child logger for future new added files?

[2019-05-24 05:47] gaocegege commented on #506
I have no objection on it, LGTM

[2019-05-24 06:00] gyliu513 opened #580 "Fine grained docker image build"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We are now using https://github.com/kubeflow/katib/blob/master/scripts/v1alpha2/build.sh to build all of the katib images at one time, it is better to update makefile by introducing fine grained docker image build. Like I can use `make katib-controller` to build katib controller etc, th

[2019-05-24 06:03] gaocegege commented on #580
SGTM

[2019-05-24 06:26] hougangliu opened #581 "hyperband suggestion service for v1alpha2"
we need hyperband suggestion service for v1alpha2, implemented by python

[2019-05-24 06:26] hougangliu commented on #581
/assign

[2019-05-24 06:26] hougangliu commented on #581
/kind feature

[2019-05-24 06:30] gaocegege opened #582 "[feature] BO suggestion in v1alpha2"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Support BO algorithm in v1alpha2

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-24 06:42] gaocegege opened #583 "[feature] NASRL in v1alpha2"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Support NASRL in v1alpha2

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-24 06:50] #578 closed

[2019-05-24 06:51] andreyvelich commented on #583
/assign

Will make changes for v1alpha2.

[2019-05-24 06:54] gaocegege commented on #583
Thank you @andreyvelich

[2019-05-24 06:55] gaocegege opened #584 "[feature] Nasenvelopenet suggestion in v1alpha2"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Support nasenvelopenet algorithm in v1alpha2

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-27 01:38] gaocegege commented on #343
I think we still cannot solve it in 0.6

[2019-05-27 01:39] gaocegege commented on #440
Will we solve it in 0.6?

[2019-05-27 01:49] gaocegege opened #589 "[feature][0.6] Upgrade pytorchjob and tfjob from v1beta1 to v1"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We do not have v1beta1 anymore, thus I think we should upgrade it to v1.

WDYT @richardsliu @johnugeorge @hougangliu

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-27 03:56] johnugeorge commented on #440
do we need this in 0.6? Else, we can push it to the next release since we don't have any other backends for now.

[2019-05-27 03:57] gaocegege commented on #440
Agree with @johnugeorge

[2019-05-27 03:57] johnugeorge commented on #343
Yes. There is no cleaner way to solve it using current metric collector design

[2019-05-27 03:59] gaocegege commented on #343
Yeah, then we could put the issue in 0.7

[2019-05-27 04:47] johnugeorge commented on #589
I feel that we can upgrade it to v1 version closer to 0.6 release when all fixes are in.

[2019-05-27 04:47] johnugeorge commented on #589
/assign

[2019-05-27 18:19] richardsliu commented on #343
Moved to 0.7.0.

[2019-05-28 03:31] gaocegege commented on #582
/assign

If no one pick up the issue, I can do it.

[2019-05-28 03:32] gaocegege commented on #580
@gyliu513 Can you help us on the issue?

[2019-05-28 03:51] gyliu513 commented on #580
/assign

[2019-05-28 06:27] hougangliu commented on #557
/assign

[2019-05-28 10:11] gaocegege opened #597 "[bug or feature] Job pods cannot be deleted"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Create a experiment with job, and delete it. The pods created by the job cannot be deleted. I am not sure if it is a bug or a feature of k8s job.

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving

[2019-05-28 10:13] gaocegege opened #598 "[bug or feature] Cannot run grpc probe in manager"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In my env, proble is always failed. Maybe it is caused by ELF.

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube version:
- Kubernetes

[2019-05-28 10:13] gaocegege opened #599 "[bug or feature] Cannot run grpc probe in manager"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In my env, proble is always failed. Maybe it is caused by ELF.

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube version:
- Kubernetes

[2019-05-28 10:13] #599 closed

[2019-05-28 13:51] johnugeorge opened #604 "Fix flaky unit tests"
/kind bug

Currently, unit tests are flaky with frequent errors during its run.

--- FAIL: TestReconcileExperiment (6.29s)
   experiment_controller_suite_test.go:76:
       Expected error:
           <*errors.errorString | 0xc00053a850>: {
               s: "an empty namespace may not be set during creation",
           }
           an empty namespace may not be set during creation
       not to h

[2019-05-29 02:06] gyliu513 opened #607 "Add make check to travis"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

There are often some errors for `make check`, it is better to put the checking to CI.

Related issues for `make check` at https://github.com/kubeflow/katib/pull/606

/cc @hougangliu @gaocegege @richardsliu

**What did you expect to happen:**

**Anything else you would like to add:**
[Mi

[2019-05-29 02:16] #580 closed

[2019-05-29 02:19] gyliu513 commented on #607
@hougangliu not clear how to enable `make check` in katib prow at https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubeflow/kubeflow-presubmits.yaml#L82-L92 , do you have any comments for this?

[code]

[2019-05-29 02:32] gaocegege commented on #604
Can you reproduce it? I think we have CI to run tests for every PR. Thus unit test should be passed.

I tried locally and does not meet any error.

[2019-05-29 02:43] hougangliu commented on #607
you can follow how "run-tests" enabled

[2019-05-29 02:44] johnugeorge commented on #607
What do you mean by enabling in prow? You mean, in  presubmit workflow? Alternate solution is to add gometalinter in travis

[2019-05-29 02:47] gyliu513 commented on #607
@johnugeorge  I mean adding this to CI, so that the CI will run `make check` to help us detect some coding issues.

[2019-05-29 02:49] gaocegege commented on #607
@gyliu513 Maybe we could add make check in Travis.

@johnugeorge gometalinter is not maintained any more.

[2019-05-29 02:53] gyliu513 commented on #607
@gaocegege seems adding to travis is more simple, let me fix this in travis instead.

[2019-05-29 02:54] johnugeorge commented on #607
LGTM

[2019-05-29 05:54] #607 closed

[2019-05-30 22:38] andreyvelich opened #610 "Name of the Trial from Suggestion"
Right now, in v1alpha2, we generate name of the Trial here: https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/experiment/experiment_util.go#L27 with experiment name + random string of 8 symbols.

In `GetSuggestionsReply` we can return the name of the Trial: https://github.com/kubeflow/katib/blob/master/pkg/api/v1alpha2/api.proto#L525.

I think, we should provide functionality,

[2019-05-31 01:42] gaocegege commented on #610
SGTM

[2019-05-31 03:12] andreyvelich opened #611 "Clean Trial pods when Experiment is deleted"
My experiment spawns Trial and that Trial was failed. I tried to delete this Experiment, but my Trial pod was not deleted. Do we need to add additional finalizers here: https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/experiment/experiment_util.go#L95 for Trial pods ?
/cc @johnugeorge @hougangliu @gaocegege
/kind bug

[2019-05-31 03:19] andreyvelich opened #612 "Handle failed Trials in v1alpha2"
Right now, if all Trials were failed, in any case, we will run `GetSuggestions` and `GetObservationLog` will return 0. For example, if GPU resources not available, Trials won't run.
Do we need to handle failed trails in the controller before running `GetSuggestions` again?

In NAS RL Suggestion, if the results from previous run return 0, we spawn failed Trails again. You can find logic here: https

[2019-05-31 03:29] gaocegege commented on #612
I think we should implement MaxFailedTrialCount. Now we missed the implementation.

[2019-05-31 03:31] johnugeorge commented on #612
it is already implemented: https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/experiment/util/status_util.go#L157

[2019-05-31 03:35] gaocegege commented on #611
Maybe related to https://github.com/kubeflow/katib/issues/597.

[2019-05-31 03:35] gaocegege commented on #612
Then I think the current design works for me.

[2019-05-31 03:56] andreyvelich commented on #611
@gaocegege You are right, the same issue. We can close it.
/close

[2019-05-31 03:56] #611 closed

[2019-05-31 03:57] andreyvelich commented on #597
In v1alpha all components of StudyJob are deleted when StudyJob is deleted. I think, we have missed something in the Experiment controller.

[2019-05-31 04:00] andreyvelich commented on #612
However, do we need to run `GetSuggestions` again, if we spawn 3 Trial and all of them were failed.
In that case, e.g, `MaxFailedTrialCount` = 12.

[2019-05-31 04:43] gaocegege commented on #612
What can we do to avoid the problem?

[2019-05-31 04:53] andreyvelich opened #615 "Check Metrics Collector before mark Trial succeeded"
Here https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/trial/trial_controller_util.go#L49 we mark Trial succeeded right after corresponding Trial job finished.
After that, we run GetSuggestion and inside Suggestion we, probably, have empty results, if Metrics Collector didn't collect logs.

I think, we should check that Metrics from the Trial were collected and saved in DB befo

[2019-05-31 05:02] gaocegege commented on #615
Yeah, I think we should have a condition in Trial for metrics collector, for example, metrics-collected. We should check the condition before we set the trial succeeded.

[2019-05-31 08:21] johnugeorge commented on #615
`trial.status.Observation` field check should be good enough to verify if metric collection is completed

[2019-05-31 10:03] gaocegege opened #619 "[feature request] Remove request validation in unit test"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

checking if we get expected requests is hard in unit tests. We should remove it.

/cc @johnugeorge

/assign

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-05-31 10:59] johnugeorge commented on #612
@andreyvelich  Isn't this behavior correct? Can you explain more?

[2019-05-31 17:57] andreyvelich commented on #612
@gaocegege We can restart Trials from the controller, for example, if we don't have any observation log from them.

 @johnugeorge It depends on the approach that we want to follow in Katib. I am not sure that it is correct to run `GetSuggestions` from the controller, if we don't have any results from the previous run.

[2019-05-31 23:21] #615 closed

[2019-06-03 13:05] hougangliu commented on #581
busy on personal affairs now. I will fix it by this weekend

[2019-06-03 17:46] andreyvelich commented on #610
/assign

[2019-06-04 02:51] richardsliu opened #625 "Dashboard should not plot a trial if it is not finished"
Currently the UI will plot the graph even if the trials have not finished, with the objective metric assumed to be 0.

This can be misleading - say if we are trying to minimize the error, it would appear as if we've found a set of hyperparameters that leads to 0 error.

[2019-06-04 03:17] #582 closed

[2019-06-04 03:19] gaocegege commented on #583
Can we close the issue after #614 is merged?

[2019-06-04 03:25] andreyvelich commented on #583
Yea.
/close

[2019-06-04 03:25] #583 closed

[2019-06-04 03:37] johnugeorge commented on #625
/assign @andreyvelich

[2019-06-04 08:51] gaocegege opened #629 "[bug] Add finalizer to trial to avoid problems caused by DB"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

We have finalizer in the experiment, and we need it in the trial, too.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube version:
- Kubernetes

[2019-06-04 08:51] gaocegege commented on #629
/assign

[2019-06-04 18:13] #597 closed

[2019-06-06 23:29] richardsliu opened #636 "Clicking on a panel item doesn't close the panel"
If I select an item from the leftside panel (.e.g "HP -> Monitor"), the panel stays open. I then need to click on the right side to proceed to the page.

It would be nicer if selecting an item from the panel closes the panel afterwards.

[2019-06-06 23:31] richardsliu opened #637 "UI: Objective -> Type should be a dropdown menu instead of text box"
We only have two choices, so it should be a selection.

[2019-06-06 23:44] richardsliu opened #638 "Bayesian optimization is not selectable on the UI"

[2019-06-06 23:52] richardsliu opened #639 "UI: Autogenerate yaml previews"
On the experiment creationg page, the changes I made in the Parameters tab are not reflected when I switch to "YAML", and vice versa.

We should allow the user to preview the generated yaml if possible.

[2019-06-06 23:59] richardsliu opened #640 "UI: Delete experiment doesn't work"
Attempting to delete an experiment doesn't work. The request doesn't capture the experiment name or namespace:
`http://localhost:8080/katib/delete_experiment/?experimentName=undefined`

[2019-06-07 00:24] richardsliu opened #641 ""Adding a template" usability issues"
1. The text box for the template name isn't clearly labelled.

2. Attempting to save without entering a template name would close the window without any errors, so users have no idea if the template is actually created.

3. A lot of this should be auto-generated. For example, every Job (not counting TFJob or PytorchJob) contain these fields:
[code]

Only the image and command fields require custom

[2019-06-07 00:31] richardsliu opened #642 "Experiment summary page enhancements"
The experiment summary page should support:
- Sorting on column names
- Exporting as csv
- Changing how many results to display per page
- Should be able to get the original YAML file from this page

[2019-06-07 00:32] richardsliu commented on #636
On a related note - submitting an experiment should also take the user to the monitoring view directly.

[2019-06-07 01:06] richardsliu opened #643 "Cannot identify if trials have failed or still running"
In the experiment page, there is no state information about the trials. So user cannot tell if any trials have failed or still running.

[2019-06-07 03:46] #479 closed

[2019-06-09 23:06] hougangliu commented on #581
/close #631

[2019-06-09 23:06] hougangliu commented on #557
/close

[2019-06-09 23:06] #557 closed

[2019-06-10 02:12] johnugeorge commented on #581
closing as #631 is merged
/close

[2019-06-10 02:12] #581 closed

[2019-06-10 13:30] jlewi commented on #513
Here's the manifest
https://github.com/kubeflow/manifests/blob/91c22388f5d1d9bf0f337185dcb36aca5c0f5ee8/katib/base/studyjob-crd.yaml#L7

It looks like it is still referring to v1alpha1.

Are there other changes that need to be made?

[2019-06-10 13:38] jlewi commented on #513
Is anyone planning on picking this up?

[2019-06-10 13:39] jlewi commented on #514
@richardsliu @johnugeorge Any update on this? Is anyone planning on picking this up?

[2019-06-10 14:14] johnugeorge commented on #513
@jlewi https://github.com/kubeflow/manifests/pull/112

[2019-06-10 18:33] richardsliu commented on #257
Any more remaining work here?

[2019-06-10 18:39] johnugeorge commented on #514
we have some basic tests  added in https://github.com/kubeflow/katib/blob/master/test/e2e/v1alpha2/test-katib-manager.py

 we can also add one entire experiment run in the presubmit

[2019-06-11 19:59] andreyvelich commented on #257
@richardsliu I think we can close this issue, since we support NAS in v1alpha1 and v1alpha2.
For any other NAS improvements we can create another issue.

[2019-06-11 20:22] richardsliu commented on #257
/close

[2019-06-11 20:22] #257 closed

[2019-06-11 22:19] andreyvelich commented on #638
/assign

[2019-06-11 22:27] andreyvelich commented on #640
@richardsliu Do we need to add this in 0.6?
To support experiment deleting, we need to extend Katib client.

[2019-06-11 23:31] #638 closed

[2019-06-12 16:02] #619 closed

[2019-06-13 00:14] andreyvelich commented on #637
/area front-end

[2019-06-13 02:16] richardsliu commented on #641
We should at least try to fix issue 1. The rest can be fixed later depending on difficulty.

[2019-06-13 02:48] richardsliu commented on #407
This is done now.
/close

[2019-06-13 02:48] #407 closed

[2019-06-13 05:58] #625 closed

[2019-06-13 08:15] hougangliu opened #649 "Doc for v1alpha2"
For now, nearly all docs are for v1alpha1, we need refactor the docs for v1alpha2

[2019-06-14 21:21] andreyvelich commented on #637
/assign

[2019-06-14 23:00] andreyvelich commented on #641
/assign

[2019-06-14 23:00] andreyvelich commented on #640
/assign

[2019-06-16 06:21] johnugeorge commented on #604
This happens much more frequently now

`2019-06-16T11:32:15.530+0530	ERROR	kubebuilder.controller	controller/controller.go:144	Could not wait for Cache to sync	{"Controller": "experiment-controller", "error": "failed to wait for experiment-controller caches to sync"}
github.com/kubeflow/katib/vendor/github.com/go-logr/zapr.(*zapLogger).Error
	/Users/johnugeo/GO-ROOT/src/github.com/kubeflow/katib/v

[2019-06-16 06:21] johnugeorge commented on #604
Related: #652

[2019-06-17 02:00] gaocegege commented on #604
/assign

[2019-06-17 18:20] asispatra opened #658 "ERROR initializing app: reading app configuration: error unmarshaling JSON: parsing semver: kfdef.apps.kubeflow.org/v1alpha1: Invalid character(s) found in major number "kfdef""
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
Whay it is failing?

**Environment:**

- Kubeflow version: 0.5.1
- Kubernetes version: (use `kubectl version`): 1.14.3
- OS (e.g. from `/etc/os-release`): Ubuntu 18.04.2 LTS

[2019-06-18 00:26] #513 closed

[2019-06-18 08:19] dakl commented on #658
Same here.
[code]

[code]

OS: MacOS 10.14.3

[2019-06-18 08:28] asispatra commented on #658
@dakl, I have found from the [Katib document](https://github.com/kubeflow/katib) that you need to be in "Ksonnet app root".

[code]
After that you try those commands.

Thanks.

[2019-06-18 08:32] dakl commented on #658
Ah, that worked. thanks!

[2019-06-18 08:33] #658 closed

[2019-06-18 11:34] epa095 opened #659 "Metric-collector cronjob spawns unlimited jobs"
/kind bug

**What steps did you take and what happened:**
Run a "high" amount of paralell jobs relative to your cluster size.

**What did you expect to happen:**
Things to work, but slowly.

**What happened:**
The metric-collector cron jobs created by katib keeps spawning new jobs, which don't complete before the new ones are created (since the cluster is under pressure).

**Proposed solution:**
I

[2019-06-18 15:48] asispatra opened #661 "Katib pytorchjob-example is failed"
/kind bug
I was trying to run `pytorchjob-example` example from the [katib document](https://github.com/kubeflow/katib/blob/master/README.md). But it failed.

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
It should not fail.

**Anything else you would like to add:**
[code]

**Environment:**

- Kubeflow version: 0.5.1
- Kubernetes version: (use `kubectl v

[2019-06-18 15:50] asispatra opened #662 "Katib tfjob-example is failed"
/kind bug
I was trying to run `tfjob-example` example from the [katib document](https://github.com/kubeflow/katib/blob/master/README.md). But it failed.

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
It should not fail.

**Anything else you would like to add:**
[code]

**Environment:**

- Kubeflow version: 0.5.1
- Kubernetes version: (use `kubectl versio

[2019-06-18 15:57] johnugeorge commented on #661
Can you look at controller logs ?

[2019-06-18 15:57] johnugeorge commented on #662
Can you look at controller logs ?

[2019-06-18 16:27] asispatra commented on #662
@johnugeorge , Do you mean `studyjob-controller`? After the above experiment I have tried other things as well. so it's a long log.

Thanks.

[code]

[2019-06-18 17:05] johnugeorge commented on #662
no matches for kind "TFJob" in version "kubeflow.org/v1"

Have you installed TFJob in your cluster? If yes, what version have you installed?

[2019-06-18 17:10] asispatra commented on #662
As per the documentation, "The Kubeflow implementation of TFJob is in tf-operator".

For installing tfjob operator, I have followed the following steps:
[code]

Thanks.

[2019-06-18 17:10] asispatra commented on #662
Is there any way to verify it?

[2019-06-18 17:11] johnugeorge commented on #662
kubectl get crd tfjobs.kubeflow.org -o yaml

[2019-06-18 17:21] asispatra commented on #662
Thanks.

[code]

[2019-06-18 17:27] johnugeorge commented on #662
https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/tfjob-example.yaml#L31 Can you change to `kubeflow.org/v1beta1` and try out the same example? You have to delete the example and reapply again

[2019-06-18 17:34] asispatra commented on #662
WOW :)
Now it's in running state.
[code]

[2019-06-18 17:36] johnugeorge commented on #662
Great. Master is already updated for the upcoming Katib release

[2019-06-18 17:42] asispatra commented on #661
@johnugeorge, I think this is the same as #662 issue.
`Job Create error no matches for kind "PyTorchJob" in version "kubeflow.org/v1"`

[code]

Similarly, shall I change https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/pytorchjob-example.yaml#L32 to `kubeflow.org/v1beta2` ?

Thanks.

[2019-06-18 17:44] asispatra commented on #662
@johnugeorge Thanks for the quick reply and make it working.

Closing this issue.

[2019-06-18 17:44] #662 closed

[2019-06-18 17:47] johnugeorge commented on #661
yes. It should work

[2019-06-18 17:51] asispatra commented on #661
@johnugeorge,  it is running now.

Thanks for the great help.

Closing this issue.

[2019-06-18 17:51] #661 closed

[2019-06-18 18:01] asispatra opened #663 "How to run Hyperparameter Tuning (Katib) for Tensorflow and Pytorch Deep Learning models from NVIDIA NGC container."
/kind bug
I am able to run `tfjob-example` and `pytorchjob-example` for Hyperparameter Tuning (Katib) from [katib example](https://github.com/kubeflow/katib/tree/master/examples/v1alpha1).

How to run Hyperparameter Tuning (Katib) for Tensorflow and Pytorch Deep Learning models from [NVIDIA NGC container](https://ngc.nvidia.com/catalog/containers?orderBy=modifiedDESC&query=&quickFilter=deep-learni

[2019-06-18 19:17] #637 closed

[2019-06-18 20:57] andreyvelich opened #664 "Make build for the Katib UI inside Dockerfile"
Right now, we have build for the UI inside Katib repository here: https://github.com/kubeflow/katib/tree/master/pkg/ui/v1alpha2/frontend/build.
In that case, if we make any changes in the UI we need to make a new build for that changes in the new PRs.
I think, it is not necessary. We can try to create build inside docker container, when we are building image for the Katib UI.

/assign
/cc @johnuge

[2019-06-19 01:47] richardsliu commented on #514
@johnugeorge This is done right?

[2019-06-19 02:05] johnugeorge commented on #514
Yes. Closing this as #652  is merged

[2019-06-19 02:05] johnugeorge commented on #514
/close

[2019-06-19 02:05] #514 closed

[2019-06-19 03:00] #640 closed

[2019-06-19 05:19] richardsliu commented on #370
This should be done now.
/close

[2019-06-19 05:19] #370 closed

[2019-06-19 07:08] emmayang commented on #340
Still seeing this issue in latest 0.5.1, and the odd thing is I found

1. initially the `vizier` database is not there, so I created it by myself.
2. then I called `mysql -D vizier -u root -e 'SELECT 1'` and it gave me output of:
[code]
while adding the password `-p $MY_PASS` in the command will shown and error like:
`ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: Y

[2019-06-19 13:07] asispatra commented on #663
I have tried as followed. but it's failing. Can anyone help?
FYI: Here I have mounted Host /data to the container /data to access dataset.

Thanks.

[code]

[2019-06-19 13:10] asispatra commented on #663
@johnugeorge, Can you help me on this?

[2019-06-19 18:00] warf34 opened #666 "Help Wanted: I want to run a tensorflow code."
I am using katib on Linux.
This code works well on the docker.
However, using katib does not work.
I don't know why not
Please tell me how to fix it.

tensor_test.py
[code]

tensor_test.yaml
[code]
Dockerfile
[code]

Running the Docker on my desktop
[code]

[2019-06-19 18:04] warf34 commented on #666
Well ... I made a mistake.
I will close this issue.

[2019-06-19 18:05] #666 closed

[2019-06-20 21:17] wuyinzhenjun opened #667 "if worker failed/pending, merics job will be created each min"
/kind bug

**What steps did you take and what happened:**
when studyjob worker status is pending/error, metric-collector cronjob spawns unlimited jobs

**What did you expect to happen:**
one metric collect job with loop inside, check status/collect metrics in the loop. or maybe push collect [#577](https://github.com/kubeflow/katib/issues/577)

[2019-06-20 21:36] wuyinzhenjun opened #668 "Need to add namespace to katib, cluster level scope is not necessary"
/kind bug

**What steps did you take and what happened:**
try to launch katib to a ns limit k8s, seems ns should be set for controller and clusterRole change to Role also works

**What did you expect to happen:**
add ns, remove cluster level scope

[2019-06-21 03:27] johnugeorge commented on #667
Are you referring to https://github.com/kubeflow/katib/pull/660 ?

[2019-06-25 02:59] endurancetest20380119 commented on #658
I also troubled the error when I studied the Goolgle's QWIKLABS tutorial "Kubeflow End to End".
Thank you very much!!

[2019-06-25 16:26] warf34 opened #670 "HELP WANTED: MNIST Error"
Hello, I would like to test the MNIST code with katib.
I tested it with the code below, but it does not produce any results.
What is the problem? Please tell me why.

p.s. It works very well in the docker.

mnist.yaml
[code]

mnist.py
[code]

Dockerfile
[code]

[2019-06-25 16:57] johnugeorge commented on #670
Can you look at logs of study job controller?

[2019-06-25 17:19] warf34 commented on #670
How do I look the logs of study job controllers?

[2019-06-25 17:49] warf34 commented on #670
I found this log.
[code]

[2019-06-27 03:04] johnugeorge commented on #670
are all katib services running?

[2019-06-27 05:39] #659 closed

[2019-06-28 01:33] #664 closed

[2019-06-28 21:03] andreyvelich commented on #670
@warf34 Why did you name  `objectivevaluename: "A"`.
I believe, it should be `objectivevaluename: "Accuracy"` and you should print the results like this:
[code]
If you want to collect that metric.

[2019-06-30 16:47] warf34 commented on #670
Yes, all katib services are running.
But suddenly it works correctly.
After redeploying Minikube, I get the result.
Do you know why?

[2019-06-30 16:52] warf34 commented on #670
You are right.
I just decided "A" because this is a test code.

[2019-07-01 14:58] emmayang commented on #340
Finally figured it out, and solved it by:
1. manually create the `vizier` database if it's not there
2. add `user` and `--skip-name-resolve` option in startup args like below:

[code]

3. in readiness probe part, also add the `user` option, like below:
[code]

Hope this can help someone with similar issue.

[2019-07-01 19:34] andreyvelich commented on #670
@warf34 Metrics Collector will parse metrics from the Training Container only for `objectiveValueName`. In that case, from your first yaml file, it collects nothing from the Training Container.
You can see, how Metrics Collector works [here](https://www.kubeflow.org/docs/components/hyperparameter/), in Metrics Collector definition.

[2019-07-03 02:26] gfyulx commented on #340
@emmayang i also set root password and create database vizier manually,and the vizier-db pod has run success. but the vizier-core pod still faild by throws “failed to  connect service :"6789" within 1s.

[2019-07-03 02:57] gfyulx commented on #340
when i try create user root@'%' on vizier-db  pod and restart vizier-core ,it begin to  working fine.

[2019-07-03 03:29] andreyvelich commented on #340
@gfyulx Can you check the logs from your Kubernetes api server and dns in `kube-system` namespace?

[2019-07-03 12:31] asispatra opened #674 "While running PytorchStudyJob with larger requestNumber getting "rpc error" for few random workerid pods"
/kind bug

**What steps did you take and what happened:**
While running PytorchStudyJob with larger requestNumber getting "rpc error" for few random workerid pods. In the study-job ..yaml file I mention requestNumber=256 to create more number of jobs. as a result I am seeing the error.
[code]

**Environment:**

- Kubeflow version: 0.5.1
- Kubernetes version: (use `kubectl version`): 1.14.3
- OS (e

[2019-07-04 08:19] hougangliu commented on #668
@wuyinzhenjun can you detail more about what this issue is about? Have no idea about what `add namespace to katib` mean
Thanks

[2019-07-07 12:09] warf34 opened #676 "HELP WANTED: bayesian optimization"
I would like to use the Bayesian optimizer algorithm.
I ran the file bayseopt-example.yaml like random-example.yaml in v1alpha1.
`kubectl apply -f bayseopt-example.yaml`

But when I enter kubectl -n kubeflow get studyjob, it fails.
Like this,
[code]

And these are logs.
[code]

How can I use bayseopt-example.yaml?
Should I install something else?

+
I tried to "hypb-example.yaml" but it is not ran

[2019-07-07 12:12] warf34 commented on #670
Thanks all!
I have solved the problem.
So, i will close this issue.

[2019-07-07 12:12] #670 closed

[2019-07-08 04:38] hougangliu commented on #676
@warf34 how do you install katib, and if you install katib by install kubeflow, which version of kubeflow do you install? it says there is no "cpuWorkerTemplate.yaml" in worker-template configmap of kubeflow namespace.

[2019-07-08 04:55] warf34 commented on #676
I have used "Minikube" and kubectl version is 1.14 and i installed "katib" this way
`wget https://github.com/kubeflow/katib/archive/master.zip`
i ran "deploy.sh" in "katib-master\examples\v1alpha1\MinikubeDemo"

And do you know how bayesian solves?

[2019-07-08 05:10] hougangliu commented on #676
add below into `worker-template` configmap of kubeflow namespace, and try again.
[code]

[2019-07-08 05:32] warf34 commented on #676
oh... I have worked in "Minikube" like this "Simple Minikube Demo"
https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/README.md
so i could not find "worker-template" in my desktop
is it impossible in "Minikube"?

[2019-07-08 05:32] warf34 commented on #676
add below into worker-template configmap of kubeflow namespace, and try again.
oh... I have worked in "Minikube" like this "Simple Minikube Demo"
https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/README.md
so i could not find "worker-template" in my desktop
is it impossible in "Minikube"?

[2019-07-08 05:49] hougangliu commented on #676
kubectl edit configmap worker-template -n kubeflow

[2019-07-08 08:10] asispatra opened #677 "How to use suggestionAlgorithm as "hyperband" and what all suggestionParameters it has?"

[2019-07-08 08:11] johnugeorge commented on #677
See examples section: https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/hypb-example.yaml for v1alpha1 and  https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/hyperband-example.yaml for v1alpha2

[2019-07-08 08:14] asispatra commented on #677
Thanks for quick reply. I was looking this example: https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/hypb-example.yaml and got the following "suggestionParameters". Is there any other suggestionParameters parameters? and Where shall I get details about the suggestionParameters keys and values?
[code]

[2019-07-08 08:23] asispatra opened #678 "How to get details about keys and values mentionrd in the examples .yaml file?"
I was looking into the the Katib example provided in the github. But I did not get any details about the keys and values to specify.

For example:
In this example https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/random-example.yaml, the following things are mentioned. So here what is `optimizationgoal`? Is there any suggestion parameters for `random` algorithm?
[code]

Thanks

[2019-07-08 08:37] johnugeorge commented on #677
Sorry. Our documentation is incomplete atm: https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha2/hyperband_service.py#L85

[2019-07-08 14:49] radics93 opened #679 "I need your help please, How to use bayesian optimization?"
Hello, I want to use "bayesian optimization".
i ran it in "katib-master\examples\v1alpha1\MinikubeDemo" but it failed.
my error like this #676
why this error is thrown?
how to use bayesian optimization?

[2019-07-08 23:47] hougangliu commented on #663
please check the logs of worker pod to see what happens

[2019-07-09 05:50] warf34 commented on #676
hmm... Do you know how to solve  bayesian optimization problem?
If you know this solution, please tell me.

[2019-07-09 06:03] hougangliu commented on #676
sorry to make you confused, I mean:
use `kubectl edit configmap worker-template -n kubeflow` to add `cpuWorkerTemplate.yaml` as above content into  worker-template, then you can try `kubectl apply -f bayseopt-example.yaml`

[2019-07-09 09:34] emmayang commented on #340
@gfyulx thanks, and if I remember correctly, I followed instructions above to change image from `mysql:8.0.3` to `mariadb`, and switched it back afterwards finding it not working. Not sure if the root user is created during that process. Ideally I think the root user should be set up by installation process, and manual create is valid & useful but a work around.

[2019-07-09 10:23] bandi900811 commented on #676
I can see the same issue with kubeflow 5.1 (installed with kfctl)

[2019-07-09 13:55] ahmed-menshawy opened #680 "Katib Experiment Graph and Metrics are not shown"
/kind bug

Hello,

I was testing Katib v1alpha2:

- Used the deploy script to deploy katib to my existing k8s cluster(on-prem)
- Ran the tfjob example inside the examples folder of v1alpha2
- Experiment complete successfully

But the Katib dashboard is not showing the metrics graph when I click on the successfully complete experiment.

Screenshots:
-  https://ibb.co/drKjBNm
- https://ibb.co/y5WNLt

[2019-07-09 16:57] warf34 commented on #676
I really appreciate your kind reply.
but, I did not understand it right.
I want to know how to use both "bayesian" and "hyperband".

this is bayesian optimization error
[code]

and this is hyperband optimization error
`Error from server: error when creating "hypb-example.yaml": admission webhook "validating.studyjob.kubeflow.org" denied the request: No worker template name cpuWorkerTemplate.yaml`

[2019-07-09 20:39] andreyvelich commented on #680
@ahmed-menshawy Thank you for your issue!
I think, the problem with the tf-event metrics collector, because, in the UI, I see empty results from the Katib mysql database for the TFjob experiment.
Here https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/tfjob-example.yaml#L13, we have `objectiveMetricName: accuracy_1`, but I checked the logs from the training containers of this example

[2019-07-09 23:49] hougangliu commented on #676
I think you did right
for bayseopt-example case, I think your env uses old data somehow(maybe you delete your kubelfow, with old studyjob info persisted, and when you reinstall a new one, DB uses old PV), you can delete bayseopt-example studyjob and rename it to another name such as "bayseopt-example-1"
For hyperband case, it says "cpuWorkerTemplate.yaml not in worker-template" (but you did add it

[2019-07-10 02:51] johnugeorge commented on #680
@andreyvelich tf-event metrics collector parses the generated tf events file( instead of stdout as in case of default metric collector) and then writes to DB.

[2019-07-10 06:32] warf34 commented on #676
well... i need how to use bayesian optimization more than hyperband optimization
therefore i ask a question about bayesian first.

I reinstall kubectl, minikube, and redownload this zip file
`https://github.com/kubeflow/katib/archive/master.zip`
(kubectl version: 1.15.0, minikube version: 1.2.0)

next, i ran deploy in katib-master/examples/v1alpha1/MinikubeDemo
and "bayseopt-example.yaml" like thi

[2019-07-10 07:11] asispatra commented on #263
@janvdvegt and @wronk
I am also getting the same issue. How to fix this?

Thanks.

[2019-07-10 15:35] wronk commented on #263
@asispatra, I don't remember exactly how, but I was able to fix this. I think it _was_ an issue with incorrect versioning. IIRC, I went back through the kubeflow examples and made sure I specified all the right params in my study config for the `metricsCollectorSpec` (especially the gcr image being pulled).

[2019-07-11 02:16] warf34 commented on #676
Could you let me know if you found a solution?

[2019-07-11 03:13] hougangliu commented on #676
sorry that I doesn't notice you followed https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/README.md to deploy katib, the doc is actually out of date, we will fix it soon about how to install katib individually instead of a component of kubeflow

[2019-07-11 03:18] johnugeorge commented on #679
how did you deploy katib? which version?

[2019-07-11 03:29] radics93 commented on #679
I downloaded this zip file in this github and unzip.
next, i entered like this
`bash katib-master/examples/v1alpha1/MinikubeDemo/deploy.sh`

i reinstalled just now, my kubectl is 1.15 version, minikube is 1.2.0

[2019-07-11 03:58] warf34 commented on #676
I think there are many mathods to install katib and kubeflow.
Is there a recommended method to install katib and kubeflow?

[2019-07-11 04:00] warf34 commented on #676
I think there are many mathods to install katib and kubeflow.
Is there a recommended method?

[2019-07-11 09:02] warf34 commented on #676
I think there are other mathods to install katib and kubeflow.
Is there a recommended method?

[2019-07-11 23:25] hougangliu commented on #676
we think you can install kubeflow (kabit will be installed by default, too) as [here](https://www.kubeflow.org/docs/started/getting-started/), all images are released.

[2019-07-12 02:35] hougangliu opened #685 "katib metrics collector solution"
- [X] metricsCollector API #697
- [x] Pod level webhook for sidecar
- [ ] Job level webhook for sidecar (traced by #928)
- [x] StdOutCollector metricsCollector executor
- [x]	FileCollector metricsCollector executor
- [x] TfEventCollector metricsCollector executor
- [ ] PrometheusMetricCollector metricsCollector executor  **P2**  (traced by #929)

[2019-07-14 20:14] warf34 commented on #676
I installed "MiniKF", and I successfully ran "random-example".
However, it was failed to run bayesian optimization.
Why can't I run it? Is 'Generated StudyJob YAML' wrong?

I created StudyJob in `http://10.10.10.10:8080/_/katib-dashboard`
This is my StudyJob YAML.
[code]

[2019-07-15 12:04] hougangliu commented on #676
@warf34 maybe you'd better try v1alpha2 katib including running bayesian optimization. refer to https://github.com/hougangliu/katib/tree/add-example-doc-v1alpha2/examples/v1alpha2 about the tutorials.

[2019-07-18 03:58] asispatra opened #690 "SuccessiveHalving and early-stopping not working for Katib Hyperband algorithm"
SuccessiveHalving and early-stopping not working for Katib Hyperband algorithm.
Any idea how to enable SuccessiveHalving and early-stopping features in Katib Hyperband algorithm?

Thanks.

[2019-07-18 04:23] johnugeorge commented on #690
which katib version are you using?

[2019-07-18 04:23] johnugeorge commented on #690
/cc @hougangliu

[2019-07-18 05:10] hougangliu commented on #690
@asispatra can you detail more about what you mean? saying what's your experiment yaml look like and so on.

[2019-07-18 05:16] hougangliu commented on #678
it's v1alpha1 example and there is indeed some confusing field name
can you try [v1alpha2](https://github.com/kubeflow/katib/tree/master/examples/v1alpha2)?

[2019-07-18 06:06] asispatra commented on #690
@hougangliu,

Hyperband related config in the yaml is as below:
[code]
This launches 9 jobs together at the first time. Once these all are completed, the experiment status is completed. Currently I am not seeing anything related to SuccessiveHalving and early-stopping.

Lets say my each Deep-learning job will run for 10 epochs which requires 1 GPU and I have 8 GPUs in total. For hyper-parameter op

[2019-07-18 07:25] hougangliu commented on #685
## Overview
This solution key ideas are:
1. Inject collector container as a sidecar into `Job`/`Tfjob`/`PytorchJob` Pod. Collector container collects metrics from worker container by parsing file or http based on metrics source, and persist metrics into persistent server, such as `katib-db` by `Katib-manager` or `metadata server`;
2. Introduce `TrialMetrics` CRD to trace metrics of trial by Kubern

[2019-07-18 10:05] asispatra commented on #690
Kubeflow version: 0.5.1
Kubernetes version: (use kubectl version): 1.14.3
OS (e.g. from /etc/os-release): Ubuntu 18.04.2 LTS

@johnugeorge, How to get the katib version?

[2019-07-18 14:11] hougangliu commented on #690
@asispatra hyperband in kubeflow 0.5.1 cannot work well.
The fix has been merged in Katib master or 0.6 branch.
You can try it as https://github.com/kubeflow/katib/tree/master/examples/v1alpha2

[2019-07-19 00:31] hougangliu opened #691 "report katib metrics by Prometheus"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Metrics being targeted to track by HTTP endpoint in Prometheus metrics format: 
Report katib metrics:
- [x] Experiment/Trial  creation/deletion #870
- [x] Trial/Experiments success/failure #870
- [x] Katib-controller metrics such as Total number of reconcilation errors per controller,

[2019-07-19 00:32] hougangliu commented on #691
/assign

[2019-07-19 01:11] gaocegege commented on #685
LGTM, generally. Let's discuss it today

[2019-07-19 02:24] #589 closed

[2019-07-19 07:47] hougangliu opened #692 "support early stop feature"
Early stop should not only consider goal metrics, but also epoch, step and so on

[2019-07-21 13:26] naseemkullah commented on #533
bump

[2019-07-22 02:19] gaocegege commented on #692
/0.7.0

[2019-07-23 07:50] hougangliu opened #693 "Namespaced scope to monitor experiments."
/kind feature

we should make Katib-controller support to monitor namespaced scope experiments/trial.

[2019-07-23 07:50] hougangliu commented on #693
/kind feature

[2019-07-23 11:41] hougangliu opened #694 "wrong end state for trial whose worker is tfjob or pytorchjob"
/kind bug
 for a experiment whose worker job is PytorchJob or TFJob, a trial has Succeeded, but its last state is not `Succeeded` as below.
[code]

[2019-07-23 11:41] hougangliu commented on #694
/assign

[2019-07-25 07:03] #694 closed

[2019-07-25 13:48] kimchitsigai opened #696 "katib-manager Pod crashes (Kubeflow 0.6)"
**What steps did you take and what happened:**
I've installed Kubeflow 0.6 on a Kubernetes on-premise cluster (1.14) with MetalLB.
Katib-manager pod crashes with the follow log:
[code]

**What did you expect to happen:**
katib-manager pod starts successfully.

**Anything else you would like to add:**
This is the YAML for katib-manager:
[code]
YAML for katib-db:
[code]
This the log from katib-db Po

[2019-07-25 14:24] kimchitsigai commented on #696
Additional info:

[code]

[2019-07-25 17:42] johnugeorge commented on #696
Can you list the pod status of  katib pods?
Can you check the status of mysql PVC?

[2019-07-25 19:22] johnugeorge commented on #507
Draft of the Suggestion CRD:
  The main idea is that we keep the state of the suggestions(per experiment) as CR without any external dependency.

[code]
Once an experiment is created, Experiment controller during its reconcile creates a Suggestion CR. The SuggestionCR is deleted only when experiment is deleted. Hence it is possible to resume the experiment as the state is maintained in the CR.
Whe

[2019-07-26 03:02] johnugeorge commented on #507
Questions:
1. Can all suggestions work only with final metrics of Trials?
2. How to handle update algorithm settings from experiment config?
3. How to handle update algorithm settings from suggestion algorithm? do we need it?

[2019-07-26 06:19] wuchunghsuan commented on #685
For injecting metrics collector sidecar, @gaocegege and I have another implementation:
The MutatingWebHook of metrics collector can decide which pod to be injected sidecar based on labels,  for example, the label like `kubeflow.org/replica-role: master`. The labels are tagged by job operators (e.x. TFjob/PyTorchjob). The sidecar will be injected only if the webhook recognize this label.

In this n

[2019-07-26 06:52] kimchitsigai commented on #696
katib-mysql pvc:
[code]

mysql-pv-claim (just in case):
[code]

katib-controller Pod:
[code]

katib-db Pod:
[code]

katib-manager:
[code]

katib-suggestion-bayesianoptimization Pod:
[code]

katib-suggestion-grid Pod:
[code]

katib-suggestion-hyperband Pod:
[code]

katib-suggestion-nasrl Pod:
[code]

katib-suggestion-random Pod:
[code]

katib-ui Pod:
[code]

[2019-07-26 07:55] johnugeorge commented on #696
App pods except manager are in running phase.  But manger pod is not able to connect with db pod .

I am not sure about this env. MetalLB does some magic here?

To check if it is a network issue. Try do a curl to katib-db inside the cluster.

what is the output of
[code]
Does it resolve correctly?

Also, what is the output of `kubectl get svc katib-db -n kubeflow`

[2019-07-26 07:58] johnugeorge commented on #685
Can you explain what component is referred to "MutatingWebHook of metrics collector"?

[2019-07-26 08:20] kimchitsigai commented on #696
[code]

[code]

$ nslookup katib-db
Server:         8.8.8.8
Address:        8.8.8.8#53

** server can't find katib-db: NXDOMAIN

[code]

[code]

Names are not resolved. You're right, maybe this is related to using MetalLB (https://metallb.universe.tf/) which provides an external load-balancer for on-premise K8s clusters with Istio.

[2019-07-26 08:36] johnugeorge commented on #696
Where did you run nslookup? I see an `exit`. The command has to be executed inside the pod.

[2019-07-26 08:57] gaocegege commented on #685
@johnugeorge I think we should say `Mutating Webhook Server of Katib`

[2019-07-26 11:12] kimchitsigai commented on #696
Apologies.
Output of nslookup from the pod:

[code]

[2019-07-26 11:22] johnugeorge commented on #696
Inside the pod, can you try telnet katib-db 3306 and see if you connect?

[2019-07-26 11:28] kimchitsigai commented on #696
No answer to telnet katib-db 3306

[2019-07-26 11:45] johnugeorge commented on #696
This seems to be the problem.  If mysql db is up, it is strange that it is not able to connect.

Is this due to some extra settings of your env?

[2019-07-26 13:27] kimchitsigai commented on #696
Something strange when I run ps -ef on the K8s worker node:

[code]

I don't know how polkitd has become the owner of mysqld, and how to stop it...

[2019-07-28 23:35] hougangliu opened #699 "build-ui for v1alpha2 fail"
build-ui for v1alpha2 in Katib CI is always likely to fail somehow, but it can succeed if we trigger it many times.
@andreyvelich can you please take a look?

[2019-07-29 04:06] gaocegege commented on #507
As for the first question, I looked through all the algorithms in advisor and katib. I think the final metrics is the only thing that a suggestion needs.

[2019-07-29 04:08] gaocegege commented on #507
As for the second question, if we make the suggestion stateless, we can safely update the suggestion service, and make maxUnavailable 0. Then it will be rolling updated.

[2019-07-29 04:17] gaocegege commented on #507
As for the third question, I think we should not support the feature. If the suggestion needs some backend to persist state. We should use pvc to do it. We should not support such a feature because it is not a good practice, IMO.

[2019-07-29 07:36] kimchitsigai commented on #696
In the container (mysql:8.0.3 image for katib-db pod), I have:
[root@moonshot-master ~]# docker run -it mysql:8.0.3 /bin/bash
[code]

On the host, I have:
[code]

Can it be an issue if polkitd on the host and mysql in the container have the same uids ?

[2019-07-30 01:46] gaocegege commented on #685
Summary: In the worst case, we use a pod level webhook to inject sidecar into pod. In Kubernetes 1.5, the webhook supports objectSelector, then we do not have the performance problem.

[2019-07-30 01:52] gaocegege commented on #507
From @hougangliu

[2019-07-30 02:16] hougangliu commented on #507
for now, we only call new suggestion create API when previous trials (final metrics filled in), so I think at least for now,  all suggestions can work only with final metrics of Trials

at first, we need it in some algorithms, for example hyperband, it need store some intermediate value about the algorithm.
I think suggestion CR should store the algorithm settings each time after a suggestion algo

[2019-07-30 02:35] hougangliu commented on #685
In istio solution, if a namespace has "istio-injection=enabled" label, all pods in the namespace will be injected by pod level webhook and its performance influence is little.

So I think maybe we can handle it by like this:
1. if a namespace has "katib-metrics-collector-injection=enabled" label, we can just inject sidecar container in pod level.
2. if  a namespace has no "katib-metrics-collector-

[2019-07-30 02:35] gaocegege commented on #685
Yeah, I think so. In the current version, it is the best way I think.

[2019-07-30 02:38] hougangliu commented on #685
then @wuchunghsuan please update sidecar injection solution in design doc in two level as above. thanks

[2019-07-30 02:39] wuchunghsuan commented on #685
OK, I got it.

[2019-07-30 02:40] gaocegege commented on #475
https://github.com/microsoft/nni/pull/1387/files?short_path=e3f023f#diff-e3f023f64e145ea2265625c21ae30799

NNI has an example for using NNI to run auto feature engineering

[2019-07-30 02:43] hougangliu commented on #685
Per talk by slack, in this solution, we just focus on metricsCollector:
1. metricsCollector will collect and persist metrics into persistent layer (for now katib-manager)
2. when a worker completed, trial controller will call DB to fill back final metrics key/value into trial status.

So periodic metrics will be discussed in early-stopping topic and `TrialMetrics` also be dropped here.

[2019-07-30 03:14] cyzhangchenya opened #701 "Objective metric name not found in v1alpha2/tfjob-example.yaml"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I followed exactly https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/tfjob-example.yaml.

Only changed the `trialTemplate` to some code I have already tested successfully in a separate yaml file.

Also added `persistentVolumeClaim`.

The model code we use is not the one bu

[2019-07-30 05:39] cyzhangchenya commented on #701
I think the error is caused by https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/experiment/util/status_util.go#L126.

I checked the code from https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/trial/v1alpha2/trial_types.go#L65.

Our experiment keeps running at the below stage. We see its pods running to completion very quickly, 9 seconds, and didn't get a cha

[2019-07-30 06:02] gaocegege commented on #701
@cyzhangchenya Can you show us the trial status?

[2019-07-30 06:05] cyzhangchenya commented on #701
I restarted another one and it is also always running... @gaocegege
[code]

[2019-07-30 06:08] gaocegege commented on #701
Yeah, can you run `kubectl -n kubeflow get trial katib-mnist-with-summaries-from-hdfs-677p6nvk -o yaml` and post the output here?

[2019-07-30 06:10] cyzhangchenya commented on #701
[code]

I think it would be really helpful if we could throw some error messages in the controller on why the Observation Metrics is nil... :)

[2019-07-30 06:12] gaocegege commented on #701
@cyzhangchenya Yeah, actually we are designing the next generation metrics collector. And we definitely output some errors somewhere.

[2019-07-30 07:18] asispatra opened #702 "Katib v1alpha2 pytorchjob-example.yaml is failing"
Katib v1alpha2 pytorchjob-example.yaml is failing.

Please find the log as below:
[code]

- Kubeflow version: 0.6.1
- Kubernetes version: (use `kubectl version`): v1.15.1
- OS (e.g. from `/etc/os-release`): Ubuntu 18.04.2 LTS

[2019-07-30 07:21] asispatra commented on #702
[code]

[2019-07-30 07:41] johnugeorge commented on #702
Can you share the experiment yaml?

[2019-07-30 07:50] asispatra commented on #702
[code]

[2019-07-30 09:46] hougangliu commented on #691
v0.1.18 controller-runtime had introduced [prometheus metrics to internal controller](https://github.com/kubernetes-sigs/controller-runtime/pull/132), and v0.1.18 controller-runtime depends on kubernetes-1.12.3 package api as [here](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.1.8/Gopkg.toml)
for now pytorch-operator and tf-operator depend on kubernetes-1.11.2

If we upgrades cont

[2019-07-30 09:50] gaocegege commented on #691
I really suggest updating the dep version of the operators, but I am not sure if we can.

/cc @richardsliu

[2019-07-30 12:10] asispatra opened #704 "v1alpha2 does not show any data immediately after starting a katib experiment in the HP monitor UI."
v1alpha2 does not show any data immediately after starting a katib experiment. We can only see the the experiment entry in the HP monitor. If I click on experiment, It's empty. should I wait till the experiment done?

But v1alpha1 shows the all the trials lists immediately in the UI, once you start a studyjob.

- Kubeflow version: 0.6.1
- Kubernetes version: (use `kubectl version`): v1.15.1
- OS (

[2019-07-30 12:13] asispatra commented on #690
@hougangliu, in v1alpha2, the pytorch example is not even working. #702

[2019-07-30 13:19] johnugeorge commented on #691
I can try

[2019-07-30 13:22] johnugeorge commented on #702
Do you have pytorch-operator pod running?

[2019-07-30 13:23] johnugeorge commented on #699
@andreyvelich is unavailable for a week or two. Can you paste the error?

[2019-07-30 13:29] asispatra commented on #702
@johnugeorge , Looks like not running. What shall I do to make it running?
Does not it comes with Katib? Do I need to install it separately?

[code]
Thanks.

[2019-07-30 13:33] asispatra commented on #702
@johnugeorge , Shall I run this to get pytorch-operator? OR there is some other steps to get this?

[code]
Thanks.

[2019-07-30 13:38] cyzhangchenya commented on #701
@gaocegege I think another thing we hope to check with you is what are some possible reasons that the Objective Metric in Status could be nil. Should it capture the information at the beginning which means that the configuration can be wrong, or should it get the information after the Trial(s) is successful so it hides some errors away from the controller?

My current plan is to relaunch the exper

[2019-07-30 13:56] johnugeorge commented on #702
how did you install katib? through kfctl?

[2019-07-30 14:13] johnugeorge commented on #701
Can you check all katib pods are running? Especially katib-db

Trials are not completed until trial metrics are persisted in DB.  There is a metric collector cronjob per trial that spawns every 1 minute which collects the metrics and write into DB. Can you check if it works?

[2019-07-30 14:29] asispatra commented on #702
@johnugeorge , I have install katib using the [deploy.sh](https://github.com/kubeflow/katib/blob/master/scripts/v1alpha2/deploy.sh) script.

Thanks.

[2019-07-30 14:32] johnugeorge commented on #702
you could install pytorch crd and operators from https://github.com/kubeflow/manifests/tree/master/pytorch-job using customize

[2019-07-31 04:26] cyzhangchenya commented on #701
Hi @johnugeorge @gaocegege,

Below is the full log for experiment `katib-mnist-with-summaries-from-hdfs-2` from the Katib Controller.
We found the exception: `Duplicate entry 'katib-mnist-with-summaries-from-hdfs-2' for key 'name'"` when creating an experiment in DB. A MySQL error.

We tried to use different experiment name to avoid duplication but the error persists. Do you know which process und

[2019-07-31 07:24] warf34 opened #705 "How to use tensorflow-gpu?"
I would like to use katib in Minikube with tensorflow-gpu.
I downloaded katib [here](https://github.com/kubeflow/katib) and run this [deploy.sh](https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/MinikubeDemo/deploy.sh)
it works well In docker, but does not work in katib
how to use katib with tensorflow-gpu?
Do I need to install additional?

below are my files

Dockerfile
[code]

mnis

[2019-07-31 07:32] gaocegege commented on #705
You need to define resources in rawTemplate to require GPUs for the container.

[2019-07-31 12:24] warf34 commented on #705
I saw nasjob-example-RL.yaml and changed the container as shown below.
But it does not work. Is this wrong?
[code]

[2019-07-31 22:33] pranasblk opened #706 "Running not neural network framework workloads"
It would not be nice to use framework for custom implementations (not only well known neural network frameworks). Thanks for consideration.

**Describe the solution you'd like**
Specify kind of job custom and write results to the form framework understands e.g. pipe custom output to formatting program specific to katib.

[2019-08-01 02:58] johnugeorge commented on #706
Can you explain your needs in more detail?

[2019-08-01 05:38] cyzhangchenya opened #707 "Duplicate entry '[Experiment Name]' for key 'name' in Katib DB"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

First Step:
We cleared all existing experiments. Katib DB - experiments is empty.
[code]

Second Step:
Launched a new experiment.
[code]

One new record in the DB:
[code]

In the Katib controller, we will see the error log `Duplicate entry 'katib-mnist-with-summaries-from-hdfs-3' for ke

[2019-08-01 06:00] warf34 commented on #676
Thanks for your kind reply.
If you don't mind, can you tell me [how to use tensorflow-gpu?](https://github.com/kubeflow/katib/issues/705)
I tried katib(v1alpha2) in minikube with tensorflow-gpu. but it was failed.

[2019-08-01 06:12] johnugeorge commented on #676
what do you mean by it failed?

[2019-08-01 06:47] hougangliu commented on #705
can you show us the related Pod by "kubectl describe"?

[2019-08-01 06:50] hougangliu commented on #699
the build stopped during docker build, but each time it may fail in different step. katib-ui build takes some time, so I wonder if there is timeout of argo step to cause this error

[2019-08-01 07:42] johnugeorge commented on #699
There is chance for it. may be resource limitation too

[2019-08-01 09:18] warf34 commented on #705
If i entered command "kubectl get po -n kubeflow", it show like below
[code]

logs are below
[code]

[2019-08-01 09:18] warf34 commented on #676
If i entered command "kubectl get po -n kubeflow", it show like below
[code]

logs are below
[code]

[2019-08-01 10:39] johnugeorge commented on #676
Can you check the events of pod to see why it is pending?
` kubectl describe pod random-mnist-gpu-psgqx427-z985z `

[2019-08-01 10:43] johnugeorge commented on #705
Lets see one issue to track this.

Can you check the events of pod to see why it is pending?
kubectl describe pod random-mnist-gpu-psgqx427-z985z

[2019-08-01 11:17] warf34 commented on #705
An error message is displayed.
Error from server (NotFound): pods "random-mnist-gpu-psgqx427-z985z" not found

and if i entered "kubectl get trials -n kubeflow", all experiment is running
[code]

[2019-08-01 11:23] johnugeorge commented on #707
Are you seeing any issues due to this error?

[2019-08-01 12:17] pranasblk commented on #706
Hi George,

I'd love to run hyper parameters optimisation of JVM process with specific
fitness functions e.g. Sortino for automated trading strategy replaying
historical/simulated input data on Kubernetes cluster.

Let me know what you think about using existing toolset outside of
ANN/Python environments.

Thanks

On Thu., 1 Aug. 2019, 12:58 pm Johnu George, <notifications@github.com>
wrote:

[2019-08-01 12:50] johnugeorge commented on #706
It does not depend on ANNs. You could provide container image and command in https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/random-example.yaml#L20 I haven't tried it though, it should work.
The only requirement is that container should emit metric (stdout) in metric_name=metric_value (eg: https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/mnist.py#L64)

[2019-08-01 12:51] johnugeorge commented on #705
you didn't provide namespace i guess.
`kubectl describe pod random-mnist-gpu-psgqx427-z985z -n kubeflow`

[2019-08-01 13:22] warf34 commented on #705
It is printed as follows.
[code]

[2019-08-01 13:34] johnugeorge commented on #705
Nodes are not detected with GPU. Hence, it is waiting  to get scheduled

[2019-08-01 13:54] warf34 commented on #705
How to detect a node on my GPU?
i already installed cuda 10.0 and nvidia-docker2
my code works fine in nvidia-docker.
Is there anything to install or configure?

[2019-08-01 14:21] cyzhangchenya commented on #707
Yes @johnugeorge, we are blocked by this exception because the experiment cannot be finished.

[code]

[code]

btw. There is one additional `Trial` in the katib.trials DB though:
[code]

[code]

In the Katib controller log, following the above exception, we found many lines of
[code]

The error should be caused by:
- https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/experiment/

[2019-08-01 14:37] cyzhangchenya commented on #707
Some additional information on the `Trial` table if needed @johnugeorge :

[code]

[2019-08-01 14:41] johnugeorge commented on #707
That is strange. Can you list status of all katib pods? kubectl get pods

[2019-08-01 14:45] cyzhangchenya commented on #707
Yes @johnugeorge, we also found it very strange... almost running out of ways to debug this.

All pods are in `Running` status.

[code]
[code]

[2019-08-01 14:51] johnugeorge commented on #707
Can you provide me a dump of controller logs?

[2019-08-01 14:54] cyzhangchenya commented on #707
Yes @johnugeorge, btw. thanks for helping us!!

[code]

[2019-08-01 15:02] johnugeorge commented on #707
This looks good IMO. Can you check if there is a cronjob per trial? And each should spawn jobs every 1 minute.  Can you check logs of these pods of the spawned job(anyone should be suffficient)?  There is a max limit kept for successful/failed jobs in cronjob.  So, it will get deleted once limit is reached

[2019-08-01 15:07] cyzhangchenya commented on #707
Sure @johnugeorge

[code]

[code]

[2019-08-01 15:17] johnugeorge commented on #707
This does not seem to the right pod logs. Are you in the Kubeflow slack?

[2019-08-01 15:21] johnugeorge commented on #705
Please have a look at kubernetes doc https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

[2019-08-01 15:28] asispatra opened #708 "Once the Katib experiments are done trial pods are not shown in the pod list."
I am using Katib [v1alpha2](https://github.com/kubeflow/katib/tree/master/examples/v1alpha2) examples. Once I launce the experiment example, things are running. I can see the pods in running state using `kubectl get pods -n kubeflow`. But once the rods are completed their job. No longer visible using `kubectl get pods -n kubeflow`.

somehow only for one experiment is can see the completed pod list

[2019-08-01 15:35] johnugeorge commented on #708
Trials are deleted by default by default. If you want to retain, set Retain flag in TrialTemplate

[2019-08-01 15:36] johnugeorge commented on #707
https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/experiment/v1alpha2/experiment_types.go#L182

[2019-08-01 15:43] asispatra commented on #708
Thanks @johnugeorge , It works as you mentioned.
[code]

Closing the issue.

[2019-08-01 15:43] #708 closed

[2019-08-01 15:45] johnugeorge commented on #707
I am doubting if metric collector jobs can read logs from trial pods and write to DB.

[2019-08-01 16:33] cyzhangchenya commented on #707
Hey @johnugeorge

Are we looking for the Trial’s pod logs? This is one thing we found strange though. After launching the experiment, we didn’t see any running pods for the experiment itself by ‘kubectl get pods’. No running status of the pod, failure or whatever. We can only see the experiment and Trial names listed out by ‘kubectl get experiment/Trial’. Is this expected?

Also, what do we mean b

[2019-08-01 17:43] asispatra opened #709 "Hyperband r_l value is forcing to change parallelTrialCount"
I am using Katib [v1alpha2](https://github.com/kubeflow/katib/tree/master/examples/v1alpha2) examples.

If I change the `r_l` for hyberpand algo, it is forcing me to change the `parallelTrialCount`. Is there is way That I wan to set `parallelTrialCount: 2` and `r_l: 9` ?

- Kubeflow version: 0.6.1
- Kubernetes version: (use `kubectl version`): v1.15.1
- OS (e.g. from `/etc/os-release`): Ubuntu 18.

[2019-08-02 02:56] gaocegege commented on #507
Now we only have the first question.

We support it via suggestion CRD.

We do not need it. For these suggestions, we will introduce a DB to store the state. (mainly NAS algorithms)

[2019-08-02 03:08] johnugeorge commented on #707
Sorry for being late.

There should be pods(metric collector) that should created and deleted every 1 minute which will fetch logs and write it into DB.
One of my earlier question, do you have a custom metric collector?

Yes. slack channel is public. kubeflow.slack.com
Feel free to ping me.

[2019-08-02 03:25] hougangliu commented on #685
- [X] metricsCollector API #697
- [ ] Pod level webhook for sidecar
- [ ] Job level webhook for sidecar
- [ ] StdOutCollector metricsCollector executor
- [ ]	FileCollector metricsCollector executor
- [ ] TfEventCollector metricsCollector executor
- [ ] PrometheusMetricCollector metricsCollector executor  **P2**

[2019-08-02 05:16] hougangliu commented on #709
For hyperband, parallelTrialCount should be

[2019-08-02 17:25] asispatra opened #710 "Katib UI is not getting updated always"
I have installed Katib using [deploy.sh](https://github.com/kubeflow/katib/blob/master/scripts/v1alpha2/deploy.sh) script and using Katib [v1alpha2](https://github.com/kubeflow/katib/tree/master/examples/v1alpha2) examples.

It looks like Katib UI is not getting updated always for all the trials.
How to resolve this?

- Kubeflow version: 0.6.1
- Kubernetes version: (use `kubectl version`): v1.15.1

[2019-08-05 08:18] warf34 opened #712 "Help wanted! Does not show UI and Experiment is not completed continuously."
i would like to run tensorflow-gpu in Minikube like [this](https://github.com/kubeflow/katib/issues/705) but it does not working!

so, i try to run tensorflow by only cpu.
however, it did not working too...

my code
[code]

random.yaml
[code]
if i enter this command `kubectl get trials -n kubeflow`,
result is
[code]
but i enter this command `kubectl -n kubeflow get pods`, result is
[code]

and ent

[2019-08-05 08:32] warf34 commented on #705
i installed NVIDIA driver-430 and nvidia-docker 2.0.
my default runtime in '/etc/docker/daemon.json' is nvidia
like this
[code]
 and last, i entered `kubectl create -f https://raw.githubusercontent.com/NVIDIA/k8s-device-plugin/1.0.0-beta/nvidia-device-plugin.yml` after [deploy](https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/MinikubeDemo/deploy.sh)

but STATUS is still pending and

[2019-08-05 08:34] gaocegege commented on #705
@warf34 I suggest running a simple job to test if GPU is enabled in your cluster. katib is not the first option to test if it works.

[2019-08-05 08:38] warf34 commented on #676
Thank you for your response.
I will close this issue and continue with the issues below.
[GPU](https://github.com/kubeflow/katib/issues/705)
[CPU](https://github.com/kubeflow/katib/issues/712)

[2019-08-05 08:38] #676 closed

[2019-08-05 08:49] warf34 commented on #705
oh, my miskate... I forgot to write down
i did change Dockerfile
[code]
and i try to run my code using docker like this
`docker run warf34/mnist-gpu:latest python3 mnist.py --lr=0.001`
`nvidia-docker run warf34/mnist-gpu:latest python3 mnist.py --lr=0.001`
and `docker run --runtime=nvidia warf34/mnist-gpu:latest python3 mnist.py --lr=0.001`
this three command's result is same because using nvidia-

[2019-08-07 05:23] warf34 commented on #705
oh... i found why GPU is not running,
if i enter this plugin `kubectl create -f https://raw.githubusercontent.com/NVIDIA/k8s-device-plugin/1.0.0-beta/nvidia-device-plugin.yml`,
it applied minikube like this
[code]
And when I check the GPU
`kubectl get nodes "-o=custom-columns=NAME:.metadata.name,GPU:.status.allocatable.nvidia\.com/gpu"`

result is
[code]

[2019-08-07 15:18] Kloempi opened #713 "Katib gpu-example fails"
**What steps did you take and what happened:**
I wanted to try the gpu-example.yaml that can be found [here](https://github.com/kubeflow/katib/blob/master/examples/v1alpha1/gpu-example.yaml)

After starting the example with kubectl apply -f gpu-example.yaml I could see a lot pods in "Error" states.

Further inspection showed the following error (the timestamp doesnt match the one of the studyjob-c

[2019-08-08 05:06] cyzhangchenya opened #714 ""Katib is not a valid page" from Kubeflow Central Dashboard"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We try to install Kubeflow on the Azure Kubernetes Service (https://azure.microsoft.com/en-us/services/kubernetes-service/) clusters, following https://www.kubeflow.org/docs/azure/deploy/install-kubeflow/.

We use Ambassador to do load balancing and we can open up Kubeflow Central Dashb

[2019-08-08 08:10] warf34 commented on #705
if you don't mind, can you tell me how to solve [this problem](https://github.com/kubeflow/katib/issues/712#issue-476719680)?

[2019-08-09 08:23] hmtai opened #715 "Build UI image on power failed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]
Seems that the `node:10.16.0-jessie`image can not support Power

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube version:
- Kubernetes

[2019-08-12 04:15] gaocegege commented on #685
Can you take the task @wuchunghsuan

[2019-08-13 02:08] gaocegege commented on #701
@cyzhangchenya Sorry for the late reply. Does not have the bandwidth for the issue.

Could you have a try on 0.6? We have some refactoring work in 0.6

BTW, in 0.6, the code which may cause the error is here: https://github.com/kubeflow/katib/blob/master/pkg/controller/v1alpha2/experiment/managerclient/managerclient.go#L29

[2019-08-13 21:32] warf34 commented on #712
i solved this issue.

[2019-08-13 21:32] #712 closed

[2019-08-14 07:31] RoterDL opened #718 "How to train my own model with katib on kubeflow"
I want to use my own data to train on kubeflow, but I know less about K8S. Where should I put my data set so that the program can read it? Thanks!

[2019-08-14 07:39] gaocegege commented on #718
Hi

Where are your data? If your data is in HDFS, you can read it in the code. If your data is in the disk, you need to create a PV and claim a PVC. In katib, you can mount the PVC. Then you can use the data with file IO.

[2019-08-14 08:12] RoterDL commented on #718
Thank you for your reply.I confirm that I have mounted the PVC.  This is my yaml file.
`apiVersion: "kubeflow.org/v1alpha2"
kind: Experiment
metadata:T
  namespace: kubeflow
  name: random-experiment
spec:
  parallelTrialCount: 3
  maxTrialCount: 12
  maxFailedTrialCount: 3
  objective:
    type: maximize
    goal: 0.99
    objectiveMetricName: accuracy
  algorithm:
    algorithmName: random
  tri

[2019-08-14 08:14] cleveryg commented on #718
apiVersion: "kubeflow.org/v1alpha2"
kind: Experiment
metadata:
  namespace: kubeflow
  name: luote-py
spec:
  parallelTrialCount: 3
  maxTrialCount: 12
  maxFailedTrialCount: 3
  objective:
    type: maximize
    goal: 0.99
    objectiveMetricName: accuracy
  algorithm:
    algorithmName: random
  trialTemplate:
    retain: true
    goTemplate:
        rawTemplate: |-
          apiVersion: "kubefl

[2019-08-14 08:15] cleveryg commented on #718
apiVersion: "kubeflow.org/v1alpha2"
kind: Experiment
metadata:
  namespace: kubeflow
  name: random-experiment
spec:
  parallelTrialCount: 3
  maxTrialCount: 12
  maxFailedTrialCount: 3
  objective:
    type: maximize
    goal: 0.99
    objectiveMetricName: accuracy
  algorithm:
    algorithmName: random
  trialTemplate:
    retain: true
    goTemplate:
        rawTemplate: |-
          apiVersion

[2019-08-14 08:18] johnugeorge commented on #718
here is one example that you use volumes in TrialSpec(uses TFJob in this example)

https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/tfjob-example.yaml#L59

[2019-08-14 08:38] cleveryg commented on #718
error":"rpc error: code = Unknown desc = Exception calling application: AbortionError(code=StatusCode.UNAVAILABLE, details=\"Connection reset by peer\")"

[2019-08-15 03:31] gaocegege opened #719 "[enhancement] Update the group name in katib"
https://github.com/kubeflow/katib/pull/716#discussion_r314155907

[2019-08-16 08:33] kimchitsigai commented on #696
I've reinstalled K8s 1.15, Kubeflow 0.6.1 with existing_arrikto.yaml, nfs provisioner and metallb.
The katib error has disappeared.
Closing the issue.
Thank you.

[2019-08-16 08:33] #696 closed

[2019-08-16 11:30] johnugeorge commented on #710
Can you add more details? Status of pods?

[2019-08-19 11:23] kimchitsigai opened #722 "KAtib UI doc (KubeFlow v0.6.1)"
/kind feature

**Describe the solution you'd like**
An User Guide or Tutorial for the Katib UI (installed with KubeFlow v0.6.1 and kfctl_existing_arrikto.yaml).

**Anything else you would like to add:**
I don't understand how to use the Katib UI, as shown in this screenshot:

![katib_ui](https://user-images.githubusercontent.com/5181623/63261753-85eec480-c284-11e9-97cf-0408656d0511.PNG)

[2019-08-20 14:07] andreyvelich commented on #699
@hougangliu Sorry for the long reply.
Is it still failing in PreSubmit? In that case, we can remove npm build script from Dockerfile and manually npm build every time, when we change Katib UI.

[2019-08-21 08:49] Eric-Zhang1990 opened #723 "[katib] Cannot support PyTorchJob; Please install the CRD and restart studyjob-controller"
/kind bug

1、when I run "kubectl create -f https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1alpha1/pytorchjob-example.yaml", it shows:
![深度截图_选择区域_20190821164344](https://user-images.githubusercontent.com/24602893/63417145-49ad9680-c433-11e9-9b23-fa049d1b8b06.png)
2、when I run kubectl create -f https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1alpha2/pytorchjob-e

[2019-08-21 09:03] gaocegege commented on #723
If you want to use v1alpha2, you need to create the CRDs first. It seems that you did not register the CRDs thus the k8s cannot deal with the kind Experiment

[2019-08-22 02:31] Eric-Zhang1990 commented on #723
@gaocegege  Hi, can you tell me how to create CRDs in the k8s? Thank you.

[2019-08-22 04:40] gaocegege commented on #685
Can talk to apiserver, but have some problems
- When a sidecar is injected, cannot finish the training
- How to control the retry behaviour
  - In-container
  - Using K8s mechanism

[2019-08-22 16:06] johnugeorge commented on #723
You could delete v1alpha1 and then install v1alpha2 using  https://github.com/kubeflow/katib/blob/master/scripts/v1alpha2/deploy.sh

[2019-08-23 02:19] gaocegege commented on #723
/close

After chat with @Eric-Zhang1990 we already solve the problem.

Thanks @johnugeorge

[2019-08-23 02:19] #723 closed

[2019-08-23 02:22] gaocegege commented on #715
@hmtai

Will you solve the problem?

[2019-08-23 05:12] hmtai commented on #715
@gaocegege I can try to resolve it.

[2019-08-23 09:20] hegand opened #724 "Katib ui without internet connection"
Currently katib ui v1alpha2 is not working in an environment without internet connection.

Could it be possible to use local version of the external javascript libraries:
* https://code.jquery.com/jquery-3.2.1.slim.min.js
* https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js
* https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js
* https://d3js.org/d3.v5.min.js

[2019-08-23 23:16] Tomcli opened #725 "Katib-db stuck at login as root"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I try to deploy Katib on IBM Cloud and use IBM Cloud NFS storage as the persistent volume. However, the Katib-db always stuck at
[code]

One thing I do realize is our persistent storage doesn't allow nonroot user to write files. Although the deployment is working if we try to use hostpat

[2019-08-23 23:17] Tomcli commented on #725
/assign @hougangliu
/assign @animeshsingh

[2019-08-24 00:09] gaocegege commented on #725
Can you remove the pwd in the katib-db then have another try?

[2019-08-24 10:37] johnugeorge commented on #724
/assign @andreyvelich

[2019-08-26 06:19] hougangliu commented on #699
@andreyvelich I had disabled the katib-ui build (katib-ui build nearly always fails), need your help to fix it. thanks

[2019-08-26 23:15] hougangliu opened #728 "0.7 release trace"
- [x] #685
- [x] #507
- [x] #691
- [x] #498
- [x] Clear Bug

[2019-08-26 23:19] hougangliu commented on #685
@jlewi I open #728 to trace what we plan to deliver in 0.7

[2019-08-26 23:43] hougangliu commented on #725
@Tomcli you can try solution 1): add "runAsUser: 0" in katib-db deployment as below; 2) add "no_root_squash" in nfs share dir
[code]

[2019-08-27 01:46] gaocegege commented on #728
SGTM

[2019-08-27 14:43] hougangliu commented on #725
when I replace katib-db image with `mysql:5`, it seems to work well.
@Tomcli please verify it

[2019-08-28 01:13] hougangliu commented on #725
I have no idea if there is any permission change from mysql:5 to 8.0.3.
AFAIK, Katib using basic feature of mysql, I don't think there is any problem working with mysql:5, but anyway, we need more test

[2019-08-29 06:34] johnugeorge commented on #680
@ahmed-menshawy Are you still seeing this issue?

[2019-08-30 08:25] johnugeorge commented on #507
Related doc: #726

[2019-09-05 03:43] goswamig opened #744 "[Installation steps not working] "katib-ui" is invalid"
/kind bug

**What steps did you take and what happened:**
I am using steps mentioned in the doc [here](https://github.com/kubeflow/katib#quickstart-to-run-tfjob-and-pytorch-operator-jobs-in-katib)

It failed with following error.
[code]

**What did you expect to happen:**
I expected the smooth installation of Katib.

**Anything else you would like to add:**

**Environment:**
EKS

- Kubeflow versio

[2019-09-05 04:51] johnugeorge commented on #744
Can you use 0.6 release of Kubeflow release?

[2019-09-05 05:54] hougangliu opened #746 "pytorchjob and Tfjob labels changed"
https://github.com/kubeflow/tf-operator/pull/1064
https://github.com/kubeflow/pytorch-operator/pull/204

Above PRs update pytorchjob and tfjob pod labels, and now katib depends on these labels. For backward compatibility, now katib support both the old  and new version of labels.

In future, when pytorchjob and Tfjob  repo drops the old one, we should update katib related code, too.

[2019-09-06 02:20] wukong1992 opened #748 "what the objective metrics format should be"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I start a experiment， the backend pod is completed, but the status of trial did not change, i guess the objective metrics's format may be wrong, but when i find the correct one, i cann't find in the docs.

**What did you expect to happen:**
the objective metrics' format should be given i

[2019-09-06 02:22] gaocegege commented on #748
https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/v1alpha2/main.go#L18

If you think it does not fit your requirements, you could write your own metrics collector.

[2019-09-06 03:42] wukong1992 commented on #748
it should be explained clearly in doc.

[2019-09-06 04:45] gaocegege commented on #748
Yes, I think so. We are refactoring the metrics collection. After the refactor, I think we should enhance the doc

[2019-09-06 04:45] gaocegege commented on #748
Thanks for your issue

[2019-09-06 06:30] #748 closed

[2019-09-09 06:11] gaocegege commented on #495
/close by #737

[2019-09-09 06:11] #495 closed

[2019-09-09 06:13] gaocegege commented on #507
Supported Algorithms with the new design:

- random search(katib, hyperopt)
- hyperband(katib)
- TPE(hyperopt)
- bayesian optimization(skopt)

[2019-09-11 15:17] hougangliu commented on #685
for this solution, we add a metricCollector sidecar container into worker Pod. metricCollector sidecar container need collect the metrics, it also need know that worker container has finished so that it can exit, too. otherwise the Pod will keep `Running` since metricCollector sidecar container is running.
So we should notify metricCollector sidecar container when to exit. maybe we can implement i

[2019-09-12 01:00] vanillakola commented on #724
yes, i also meet this problem.

[2019-09-12 01:29] gaocegege commented on #685
Thanks for the research!

I am not sure about it.

Personally, I prefer the first option.

[2019-09-12 02:16] hougangliu commented on #685
Per talk with team, we decide to choose **share process namespace** solution to solve this problem

[2019-09-12 03:29] johnugeorge commented on #685
Option 1 seems to the best option as it has no other dependency and it is specifically meant for the same purpose.

[2019-09-16 07:01] warf34 opened #757 "[Help wanted] I want use gpu in minikube"
hello, i want use tensorflow gpu.
but this [manual](https://github.com/kubeflow/katib/blob/master/README.md#v1alpha1) don't have how to use gpu!
can you tell me how to use gpu?
i have to use only minikube

[2019-09-16 07:14] gaocegege commented on #757
First, you need to make sure that kubelet has the GPU support in minikube. Then you can use resource.limit to use GPU.

[2019-09-16 07:15] gaocegege commented on #757
https://minikube.sigs.k8s.io/docs/tutorials/nvidia_gpu/ may be helpful

[2019-09-16 09:43] md-shabbir opened #759 "Experiment and trial are not failing if its corresponding job fails"
/kind bug

**What steps did you take and what happened:**

- Installed kubeflow 0.6.2 using kfctl [https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/](https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/)
- Tried this example [https://github.com/kubeflow/katib#running-examples](https://github.com/kubeflow/katib#running-examples) (v1alpha2) with few modification. Changed few field val

[2019-09-16 09:49] gaocegege commented on #759
Thanks for the issue, I will take a look.

[2019-09-17 04:12] gaocegege opened #762 "[enhancement] Add validate algorithm in v1alpha3"
/assign @johnugeorge

[2019-09-17 04:13] gaocegege opened #763 "[enhancement] Use assignment instead of trial in Suggestion GRPC API"

[2019-09-17 04:13] gaocegege opened #764 "[enhancement] Add unit test for algorithms in CI"
/assign @gaocegege

[2019-09-17 06:49] gaocegege commented on #763
/assign

[2019-09-17 08:07] gaocegege commented on #463
/close by #743

[2019-09-17 08:07] gaocegege commented on #463
/close

[2019-09-17 08:07] #463 closed

[2019-09-17 08:08] gaocegege commented on #464
/close

[2019-09-17 08:08] #464 closed

[2019-09-17 08:10] gaocegege commented on #522
/close

[2019-09-17 08:10] #522 closed

[2019-09-17 08:11] gaocegege commented on #471
/close

We can support it with v1alpha3

[2019-09-17 08:11] #471 closed

[2019-09-17 08:12] #228 closed

[2019-09-17 08:12] gaocegege commented on #228
V1alpha1 is deprecated

[2019-09-17 08:12] gaocegege commented on #71
/assign

I will work on it when v1alpha3 is ready

[2019-09-17 08:13] gaocegege commented on #34
/close

We will support multiple backends

[2019-09-17 08:13] #34 closed

[2019-09-17 09:07] johnugeorge opened #768 "[enhancement] Validate Experiment editable fields"
Add web hook validation for fields that are editable.

Only editable fields should be ParallelTrialCount, MaxTrialCount, MaxFailedTrialCount

[2019-09-17 09:18] #764 closed

[2019-09-18 02:20] luckyskg opened #771 "Katib Trial is not getting succeeded even if the Metrics is captured"
/kind bug

**What steps did you take and what happened:**
Though katib trial execution logic is completed as evident from the Metrics being captured for the trial , the trial status is not getting succeeded. It's stuck at TrialRunning.
Sometimes the status changes to succeeded after a while and other times status remains stuck at TrialRunning

Status:
  Conditions:
    Last Transition Time:  2019-

[2019-09-18 02:56] johnugeorge commented on #771
Can you paste your config? What is the status of underlying job?

[2019-09-18 02:57] johnugeorge commented on #771
What are the steps to reproduce the issue

[2019-09-18 03:02] luckyskg commented on #771
Name:         cnn-exp-d002e0d5-5swrc4bv
Namespace:    kubeflow
Labels:       experiment=cnn-exp-d002e0d5
Annotations:  <none>
API Version:  kubeflow.org/v1alpha2
Kind:         Trial
Metadata:
  Creation Timestamp:  2019-09-18T01:13:03Z
  Generation:          1
  Owner References:
    API Version:           kubeflow.org/v1alpha2
    Block Owner Deletion:  true
    Controller:            true
    Ki

[2019-09-18 03:16] luckyskg commented on #771
I had added step in kubeflow pipeline which trains a CNN model using Katib.
First Issue is It takes around 20 minutes to schedule pod for the katib experiment in kubenetes cluster
Second Issue is even after Trial has picked the metrics from the run, the status never changes to succeeded.

The following is the job config

apiVersion: v1
kind: Pod
metadata:
  annotations:
    workflows.argoproj.io/n

[2019-09-18 03:23] johnugeorge commented on #771
Can you check the status of Jobs ? I suspect that jobs haven’t been terminated

[2019-09-18 21:28] Jeffwan opened #774 "Can not find experiments in frontend if namespace is not kubeflow"
/kind bug

**What steps did you take and what happened:**
I am new to katib and not sure if this is an issue.

Based on my finding, I notice if I submit experiments in different namespaces other than kubeflow. There're two problems

1. Can not find experiments on UI
2. Sometimes experiment never get done. Seems pod are done but `experiment` status are not updated. Checked status using command `kub

[2019-09-19 07:28] gaocegege opened #778 "[enhancement] Add grpc health check against suggestion port to report it being ready."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-19 07:28] gaocegege commented on #763
Closed by #767

[2019-09-19 07:28] #763 closed

[2019-09-19 09:11] gaocegege commented on #778
Example here https://github.com/grpc/grpc/blob/master/src/python/grpcio_health_checking/grpc_health/v1/health.py

[2019-09-19 10:04] gaocegege commented on #778
/assign

[2019-09-19 12:36] johnugeorge commented on #778
Similar check in manager:

https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/manager/deployment.yaml#L37
https://github.com/kubeflow/katib/blob/master/cmd/manager/v1alpha3/main.go#L139

[2019-09-22 06:55] johnugeorge commented on #771
Any update on this?

[2019-09-22 06:56] johnugeorge commented on #778
Merged as part of https://github.com/kubeflow/katib/pull/779

[2019-09-22 06:56] johnugeorge commented on #778
Closing this issue

[2019-09-22 06:56] #778 closed

[2019-09-22 06:58] johnugeorge commented on #762
Merged as part of https://github.com/kubeflow/katib/pull/770

[2019-09-22 06:58] johnugeorge commented on #762
Closinfg this issue as PR is merged

[2019-09-22 06:58] #762 closed

[2019-09-22 07:16] luckyskg commented on #771
Unfortunately the job was deleted. And i am not able to reproduce the issue with sub sequent runs. So we can close the issue

[2019-09-22 07:16] #771 closed

[2019-09-22 08:07] SatyaNarayan1 commented on #774
facing the same issue kubeflow version 0.6.2. Cant see any thing in experiments UI also experiments/trials in running state.

[2019-09-22 08:45] johnugeorge commented on #774
Yes. This is a known issue. This issue will be solved in upcoming 0.7 release

[2019-09-22 08:54] gaocegege opened #788 "[enhancement] Make e2e test parallel"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-22 08:55] gaocegege commented on #788
Can I assign this issue to you? @johnugeorge

I am not quite familiar with GKE.

[2019-09-22 09:00] SatyaNarayan1 commented on #774
@johnugeorge is there any earlier version in which experiment UI is working?

[2019-09-22 10:13] johnugeorge commented on #788
/assign

[2019-09-22 10:13] johnugeorge commented on #774
I was referring to issue where Katib job and services are in different namespaces:

Related: https://github.com/kubeflow/katib/issues/343

[2019-09-22 10:14] johnugeorge commented on #774
@SatyaNarayan1 Do you have them in different namespaces?

[2019-09-23 01:25] #724 closed

[2019-09-23 03:01] #759 closed

[2019-09-23 03:33] #788 closed

[2019-09-23 06:57] SatyaNarayan1 commented on #774
@johnugeorge I tried both approach
1) Keeping in same namespace "kubeflow"
2) Keeping in two different namespace in both cases experiment UI is blank

<img width="1378" alt="Screen Shot 2019-09-23 at 12 25 38 PM" src="https://user-images.githubusercontent.com/6360289/65406498-67d53080-ddfd-11e9-8cf4-70997681d3d6.png">
<img width="1375" alt="Screen Shot 2019-09-23 at 12 25 24 PM" src="https://user-

[2019-09-23 09:33] johnugeorge opened #797 "Add validation to grid search"
Add validation for double type parameters.

[2019-09-25 08:50] gaocegege opened #804 "[enhancement] Update conditions when reconcile has an error"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-25 09:40] gaocegege opened #805 "[enhancement] Add e2e test for TPE"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-25 09:40] gaocegege commented on #805
/assign

[2019-09-25 09:55] gaocegege opened #807 "[enhancement] Add e2e test cases for different metrics collector kinds"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

/cc @hougangliu

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-25 09:58] johnugeorge opened #808 "[enhancement] Ensure that metrics are deleted when experiment is deleted"
When experiment is deleted, metrics should be deleted

[2019-09-25 10:06] gaocegege opened #810 "[enhancement] Show logs of trials using kubectl logs"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

/assign @hougangliu

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-25 10:09] gaocegege commented on #808
/priority p0

[2019-09-25 10:10] gaocegege commented on #810
/priority p0

[2019-09-25 10:11] gaocegege commented on #807
/priority p3

[2019-09-25 10:11] gaocegege commented on #804
/priority p1

[2019-09-25 10:11] gaocegege commented on #797
/kind feature
/priority p1

[2019-09-25 10:14] johnugeorge commented on #804
/assign

[2019-09-25 10:15] gaocegege commented on #808
/assign

[2019-09-25 10:15] johnugeorge commented on #807
Do we have examples for each metric collector?

[2019-09-25 10:15] gaocegege commented on #797
/assign

[2019-09-25 10:16] gaocegege commented on #807
/assign @hougangliu

[2019-09-25 10:16] gaocegege opened #811 "[enhancement] Update manifests in kubeflow/manifests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

/priority p0

/assign @johnugeorge

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-25 10:38] johnugeorge commented on #805
Fixed as part of #809

[2019-09-25 10:39] johnugeorge commented on #805
Closing this issue
/close

[2019-09-25 10:39] #805 closed

[2019-09-26 01:29] gaocegege commented on #797
Ref #812

[2019-09-26 02:28] gaocegege commented on #808
We come to an agreement that we should implement the feature in Trial level. I am going to add a finalizer in Trial CRD and an API in manager to implement it.

[2019-09-26 02:30] gaocegege commented on #709
/close

[2019-09-26 02:30] #709 closed

[2019-09-26 02:30] gaocegege commented on #705
@warf34

AWS or GCP will be easy.

[2019-09-26 02:31] gaocegege commented on #705
/close

I am closing the issue since it is not a problem caused by katib. But feel free to add new comments if you still have problems on it.

[2019-09-26 02:31] #705 closed

[2019-09-26 02:32] gaocegege commented on #722
/priority p2
/kind feature

[2019-09-26 02:59] gaocegege opened #815 "[enhancement] Support step in UI for grid search"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-26 02:59] gaocegege commented on #815
/assign

[2019-09-26 03:25] gaocegege commented on #774
So, current implementation is such that we do not provide namespace, it is uses the namespace of the deployment (which is KF)

From @johnugeorge

[2019-09-26 08:41] #810 closed

[2019-09-26 14:09] Jeffwan commented on #774
@gaocegege @johnugeorge

New to Katib project and do we have an estimate on work to support different namespace. Since most important components are moved to multi-tenancy mode, I hope users can submit their katib experiment in their own namespace.  Otherwise, user may not have permission on kubeflow in most of the enterprise envs. This should be a high priority improvement.

[2019-09-26 18:20] johnugeorge commented on #815
#821  is merged

[2019-09-26 18:20] johnugeorge commented on #815
Closing this issue

[2019-09-26 18:20] #815 closed

[2019-09-26 18:24] johnugeorge opened #823 "Metric collector containers are not added when deployed in non kubeflow namespace"
/kind bug

/assign @hougangliu

[2019-09-27 01:51] hougangliu commented on #823
For now, metrics-collector sidecar container is only injected into the namespace with label `katib-metricscollector-injection: enabled` by design

[2019-09-27 01:52] gaocegege commented on #823
Yeah, I think it is a feature to avoid performance issues.

[2019-09-27 01:54] gaocegege commented on #774
Hi @Jeffwan
/cc @johnugeorge

I think we are going to give katib cluster scoped access and show all the experiments in all namespaces.

And I will work on it. Does it work for you?

[2019-09-27 01:55] gaocegege commented on #774
/assign

[2019-09-27 02:05] gaocegege commented on #808
We dropped the useless APIs in GRPC #818 , then we need to add a new API to let trial controllers delete the metrics when the trial is deleted.

[2019-09-27 03:47] gaocegege commented on #823
We decided to add a validation webhook to avoid silent failure.

[2019-09-27 03:48] gaocegege opened #825 "[enhancement] Add e2e test case for File Metrics Collector"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

/assign @hougangliu

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-27 03:49] gaocegege commented on #811
We should make sure that namespace label is added in Kubeflow.

[2019-09-27 20:25] Jeffwan commented on #774
@gaocegege That makes sense. Show all experiments is good enough now.

[2019-09-28 00:20] gaocegege commented on #808
/unassign
/assign

[2019-09-28 00:21] gaocegege commented on #808
/assign @hougangliu
/unassign @gaocegege

[2019-09-28 00:22] gaocegege commented on #823
I think we could close it. https://github.com/kubeflow/katib/pull/828 fixed it.

/close

[2019-09-28 00:22] #823 closed

[2019-09-28 00:23] gaocegege commented on #807
dup with #825

[2019-09-28 00:23] #807 closed

[2019-09-29 01:43] #804 closed

[2019-09-29 03:19] #808 closed

[2019-09-29 03:28] gaocegege opened #834 "[enhancement] Support customized trial template name in UI"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-09-29 03:28] gaocegege commented on #834
/area front-end
/priority p3

[2019-09-29 03:34] gaocegege commented on #774
/area front-end

[2019-09-29 04:02] gaocegege commented on #316
/close

Thanks for the issue. We now have a new UI for v1alpha3.

[2019-09-29 04:02] #316 closed

[2019-09-29 05:58] hougangliu commented on #825
/close
#832

[2019-09-29 05:58] #825 closed

[2019-09-29 05:59] hougangliu commented on #725
/close

[2019-09-29 05:59] #725 closed

[2019-09-29 07:49] gautamkmr commented on #744
I tried this with `0.6-branch` as well but issue is still same

[code]

## Installing Katib
[code]

#### Error
[code]

[2019-09-29 10:06] johnugeorge commented on #699
UI is enabled again. Currently, we are not seeing any problems.

[2019-09-29 10:07] johnugeorge commented on #699
Closing the issue for now.

[2019-09-29 10:07] #699 closed

[2019-09-29 10:13] johnugeorge commented on #679
Closing this issue as bayesian example works well in the CI tests

https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/bayesianoptimization-example.yaml

[2019-09-29 10:13] #679 closed

[2019-09-30 07:34] gaocegege opened #840 "[bug] Same name in different namespaces causes error in DB"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Consider this case: There are two experiments, one is `experiment-1` in `kubeflow`, other is `experiment-1` in `kubeflow-user`. It will cause problems in DB. Because we do not make namespace as a primary key.

**What did you expect to happen:**

**Anything else you would like to add:**

[2019-09-30 07:35] gaocegege commented on #774
/close

#835 #827 #839 fixed this issue.

[2019-09-30 07:35] #774 closed

[2019-09-30 08:05] johnugeorge commented on #840
Which DB table are you referring to?

[2019-09-30 08:07] gaocegege commented on #840
Observation, I think.

[2019-09-30 08:09] johnugeorge commented on #840
It doesn't have experiment info - https://github.com/kubeflow/katib/blob/master/pkg/db/v1alpha3/mysql/init.go#L9

[2019-09-30 08:14] johnugeorge commented on #497
DB dependency is removed from the main workflow in v1alpha3 with the new Suggestion CR implementation

[2019-09-30 08:15] johnugeorge commented on #497
Closing this issue as https://github.com/kubeflow/katib/pull/742 is merged

[2019-09-30 08:15] #497 closed

[2019-09-30 08:16] johnugeorge commented on #343
This issue is resolved with new metric collector implementation in v1alpha3

[2019-09-30 08:16] johnugeorge commented on #343
Closing this issue as https://github.com/kubeflow/katib/pull/738 is merged.

Proposal: https://github.com/kubeflow/katib/pull/732

[2019-09-30 08:16] #343 closed

[2019-09-30 08:19] johnugeorge commented on #507
New suggestion CR is introduced in https://github.com/kubeflow/katib/pull/740

[2019-09-30 08:19] johnugeorge commented on #507
Closing this PR as controller is merged in https://github.com/kubeflow/katib/pull/742

[2019-09-30 08:19] #507 closed

[2019-09-30 08:22] gaocegege commented on #840
Yeah, if the trial name is the same, then we will have problems. Although it is hard to meet.

[2019-09-30 08:23] gaocegege commented on #840
Maybe we do not need to fix it. After thinking, I think even in one same namespace, we also may have the problem.

[2019-09-30 08:23] #840 closed

[2019-09-30 08:25] gaocegege commented on #746
Should we fix it before 0.7? @johnugeorge @hougangliu

[2019-09-30 08:43] johnugeorge commented on #746
In this release, katib will use older labels while job operators supports both(old and new) labels.

Post 0.7 release, katib should use newer labels.  We can keep this PR open to track this.

[2019-09-30 22:46] Jeffwan commented on #774
Great! Thanks @gaocegege

[2019-10-01 01:42] gaocegege commented on #774
Thanks for the issue! @Jeffwan

[2019-10-02 01:35] jlewi opened #841 "metrics-collector service account doesn't exist in profile created namespace"
/kind bug

Using 0.6.2 I try to launch a Katib Experiment in the namespace associated with my profile.
The metrics collector jobs are not able to start because of the following error

[code]

It looks like the problem is that the metrics collector jobs are trying to use the metrics-collector service account which doesn't automatically exist in my namespace.

There are at least two ways to fix this

[2019-10-02 07:38] johnugeorge commented on #841
@jlewi

This is a known design limitation with v1alpha2 API.  Corresponding issue is https://github.com/kubeflow/kubeflow/issues/2311

However, this issue is resolved in 0.7 as we have a new metric collector design. It is no more having separate metric collector cronjob. Instead, there is a metric collector side car, which collects the metrics and writes to DB. Details are added in https://github.

[2019-10-02 07:46] jlewi commented on #841
Thanks @johnugeorge what if people what if people want to directly instrument their code to report metrics rather than printing to stdout and relying on stdout to collect metrics?

In particular, now that we have KFMD, if I add a logging statement to record metrics to KFMD, can Katib get the metrics directly from KFMD?

/cc @richardsliu @zhenghuiwang

[2019-10-02 07:57] jlewi opened #842 "Multiple trials spawned with the same parameters when using RANDOM search"
/kind bug

Multiple trials appeared to be spawned using the same hyperparameters.

The search space is

[code]

I see 2 trials both of which are setting the hyperparameter TF_EPOCHS to 2.

[2019-10-02 08:29] jlewi commented on #704
I'm not seeing any data in the Katib Monitoring UI even though I have experiments running.

[code]
![katib](https://user-images.githubusercontent.com/777219/66029238-7f18ca00-e531-11e9-973b-d974990ddbdf.png)

I'm using Kubeflow 0.6..2

I've been working on adding HPTuning to the xgboost_synthetic example and you should be able to use that to repo this.
https://github.com/jlewi/examples/commit/621f

[2019-10-02 08:37] jlewi opened #843 "Can't create Experiment from notebook - default-editor doesn't have sufficient permission"
/kind bug

Using 0.6.2 I'm trying to create a Katib Experiment from a notebook using the K8s python client library.

I get an RBAC error because the service account for the notebook doesn't have permission to create experiments.

[code]

We should fix this as part of the work @krishnadurai is doing in 0.7 to clean up the Kubeflow roles using role aggregation.

We should ensure the kubeflow-editor

[2019-10-02 09:28] johnugeorge commented on #841
The design doc supports push based approach too(logging directly from training container)  - https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1alpha3/common_types.go#L133

DB backend is made pluggable in this release(https://github.com/kubeflow/katib/pull/760) . Inorder to support KFMD(or any other DB), we just need to implement the KatibDBInterface(https://github.com/kube

[2019-10-02 12:30] johnugeorge commented on #704
Currently, UI doesn't show trials till metrics are reported for at least one trial.  Till then, UI doesn't show any data.

[2019-10-02 12:40] johnugeorge commented on #842
How many trials have you configured? MaxTrials and MaxParallelTrials

[2019-10-02 22:16] yeya24 commented on #834
Can you explain this feature request a little bit?

[2019-10-03 00:54] gaocegege commented on #834
@yeya24

https://github.com/kubeflow/katib/blob/master/pkg/ui/v1alpha3/frontend/src/components/HP/Create/HPParameters.jsx#L130

In front-end, the configmap name is hard-coded. The list only contains the templates defined in the hard-coded configmap.

[2019-10-03 01:02] gaocegege commented on #843
@johnugeorge Do we have a notebook in katib deployment?

[2019-10-03 01:36] jlewi opened #845 "Trial stuck running - job failed backoff limit reached"
/kind bug

I submitted a Katib job. Some of the trials ended up launching trials for which the corresponding training job reached the backoff limit and thus will never succeed.

Yet the trial remains in the running state.

Here's the job spec. I elided some details but left the status to show the job is in the failed state.

[code]

Here's the corresponding trial

[code]

So the status is stuck in

[2019-10-03 01:45] jlewi commented on #845
## Workaround

I deleted the stuck trials and Katib spawned new trials. So manually deleting the stuck trials appears to unjam the experiment.

[2019-10-03 01:47] gaocegege commented on #845
/assign

[2019-10-03 01:51] gaocegege commented on #845
Thanks for the issue. I will fix it soon.

[2019-10-03 01:51] gaocegege commented on #842
Cannot reproduce it. How many trials have you configured?

[2019-10-03 01:55] jlewi commented on #842
I think maxTrials was like 10 and maxParallelTrials was 3. This was bigger than the search space.

[2019-10-03 02:00] jlewi opened #848 "Better explanation of why trials failed - Trial is missing K8s events and failure condition could use a better reason"
/kind feature

**Describe the solution you'd like**

I have a trial in the failed state.

[code]
It is unclear why the trial is failed. This is especially confusing since an observation metric is reported which would suggest that the trial succeeded.

I looked for Kubernetes events associated with the trial and actually found none. I would have expected Kubernetes events to be associated with the

[2019-10-03 02:05] gaocegege commented on #848
Can we aggregate the job/tfjob/pytorchjob 's event into trial's event? Does it work for you?

[2019-10-03 02:08] gaocegege commented on #842
I tried an experiment with 100-110 batch-size and it does not have the problem:

[code]

[2019-10-03 02:09] gaocegege commented on #842
I think it is caused by the random algorithm implemented by https://github.com/hyperopt/hyperopt

Now we does not maintain an implementation of random search. We reuse the implementation in hyperopt.

[2019-10-03 02:22] gaocegege commented on #704
@jlewi Do you see the experiment in the UI?

Maybe like this.

![Screenshot from 2019-10-03 10-22-05](https://user-images.githubusercontent.com/5100735/66094764-b934ab00-e5c7-11e9-80fb-d9922e6b0587.png)

[2019-10-03 02:28] johnugeorge commented on #842
I may be missing out something. In the example provided by @jlewi, TF_EPOCHS vary from 1 to 5 (integer- 5 possible values) but you had 10 trials configured? Did you have any other parameters?

[2019-10-03 03:28] johnugeorge commented on #848
@jlewi Did the job actually error out when you see the status of job?

[2019-10-03 07:25] jlewi commented on #848
@johnugeorge the jobs were deleted presumably by the trial when it entered the failed state. The events for the Job show pods created but that's it. I looked at the pods and it looks like the container may not have started because of "failed to set up sandbox container".

@gaocegege My expectation is that a trial should emit events corresponding to the actions it takes. So when a trial creates a j

[2019-10-03 07:29] jlewi commented on #842
@johnugeorge no other parameters.

[2019-10-03 07:35] jlewi opened #849 "trial stuck because metrics collector doesn't report metric because of job failures - v1alpha2 - kubeflow 0.6.2"
/kind bug

I had a trial which was stuck in the Running state even though the training job had completed.

When I looked at the metric collector pod it had a log

[code]

So it looked like the metric collector wasn't reporting any metrics for the job and that's what caused the trial to get stuck in the running state.

It looked like the training job had 1 successfullly completed pod and a couple f

[2019-10-03 07:38] gaocegege commented on #849
Please add a tag to show it is from v1alpha2 or 0.6.

[2019-10-03 09:55] jlewi commented on #849
@gaocegege Do you mean labels? I don't see any existing labels for v1alpha2.

[2019-10-03 10:19] johnugeorge commented on #849
If you could add the version, it would be helpful.
Some of the issues that you have raised are resolved in v1alpha3

[2019-10-03 10:49] gaocegege commented on #849
@jlewi No, I mean the issue labels. Since we do not have the permission to add labels, I'd apprecaite it if you could add the issues 0.6 label since as Johnu said, some of them are fixed in v1alpha3(0.7)

[2019-10-03 13:14] #845 closed

[2019-10-03 13:33] johnugeorge commented on #843
@gaocegege from the Notebooks deployed in Kubeflow

This issue should be tracked in Kubeflow repo as the fix lies outside.

[2019-10-03 21:38] gautamkmr commented on #744
any update.

[2019-10-03 23:04] goswamig opened #854 "Document example does not work."
/kind bug

**What steps did you take and what happened:**
I ran the steps mentioned in [Katib's documentation](https://www.kubeflow.org/docs/components/hyperparameter-tuning/hyperparameter/)

**Command I ran**
[code]

**What did you expect to happen:**
there is no status for it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environm

[2019-10-04 00:26] jlewi commented on #849
I created the label katib v1alpha2 and also added it to project 0.6. We use projects not labels to associate issues with releases.

[2019-10-04 00:28] jlewi opened #855 "Bug Or Feature - Experiment enters failed state but trials left running"
/kind bug

**What steps did you take and what happened:**
I'm not sure if this is a bug or a feature.

I had an experiment enter a failed state because too many trials failed.

All of the existing trials that were in the running state continued to run.

I can see advantages and disadvantages to not terminating existing trials when an experiment fails

[2019-10-04 01:43] jlewi opened #856 "Trials from previous experiment not available in database after deleting experiment and recreating it"
/kind bug

**What steps did you take and what happened:**

1. I ran an experiment using v1alpha2 which had some trials succeed but a bunch of trials failed
1. Experiment was marked failed because max number of trial failures reached
1. I deleted the experiment and created a new experiment with the exact same name in an effort to resume the experiment
1. I used the gRPC API to list all trials from

[2019-10-04 02:43] #848 closed

[2019-10-04 07:17] jlewi opened #857 "Go Templates are hard to work with programmatically"
/kind feature

**Describe the solution you'd like**
Katib currently uses go templates to define the training jobs.  In the random example
https://github.com/kubeflow/katib/blob/4e96b94600a598e1786ea7c88778a84747268a4d/examples/v1alpha2/random-example.yaml#L20

The training job template is set to

[code]

The problem with using go templates is that the manifest is no longer valid yaml. So you can't

[2019-10-04 10:31] johnugeorge commented on #857
@jlewi  I think, Parameter substitutions can be worked out by exposing params  like `image` outside the template. However, GO template necessity comes from  the need of supporting multiple job types - batch job, Tfjob, PyTorchJob etc

[2019-10-04 14:30] krishnadurai commented on #841
/assign @krishnadurai

[2019-10-05 02:29] jlewi commented on #857
@johnugeorge why does supporting other job types necessitate the use of GO Templates? Could we come up with a substitution style that down't neccesarily break with yaml parsing e.g.

[code]

[2019-10-05 05:19] jlewi commented on #704
@gaocegege no I didn't see any experiment in the UI.

Could this be an issue with multi-user and missing service accounts? I was running my experiments in a namespace other than the Kubeflow namespace.

As part of that I ran into problems with service accounts missing (e.g kubeflow/katib#843) so one possibility is that the katib backend either isn't listing experiments in other namespace or else i

[2019-10-05 09:16] johnugeorge commented on #704
@jlewi The support for non kubeflow namespace in UI was added recently in v1alpha3. It is not supported in v1alpha2.   In v1alpha2, experiments are listed only from Kubeflow namespace

 Issue: https://github.com/kubeflow/katib/issues/774

[2019-10-05 13:34] johnugeorge commented on #854
How did you install katib?

Can you verify the crds?
kubectl get crd experiments.kubeflow.org -o yaml
kubectl get crd  trials.kubeflow.org -o yaml

Can you verify if Katib pods are running?

Kubectl get pods -n  kubeflow

[2019-10-05 13:35] johnugeorge commented on #855
Currently, the behavior is same as you described.  Do you have any particular use case?

[2019-10-05 13:36] johnugeorge commented on #849
1. metrics collector doesn't properly handle the case where there are more than 1 pod for the training job

trial controller will potentially wait forever if metrics collector doesn't collect and report metrics
This is fixed in

[2019-10-08 02:58] johnugeorge commented on #857
I get what you are trying to do.  I was trying to say that I couldn't find any alternative other than keeping trial spec as string(though not the best user experience) .

With respect to your suggestion to make spec as yaml, I feel that  it is possible to implement it. Currently, it is bit tricky because  hyper parameters is variable number of key-value pairs. We will need to have our own paramete

[2019-10-08 15:22] jlewi commented on #857
@johnugeorge Do go templates allow referring to hyperparameters by name e.g. can I do something like this

[code]

So in my go template I don't need to iterate over the hyperameters.

As the author of the Experiment I already have to know the names of my hyper parameters because I have to list them in my Experiment. So If I can explicitly to the hyparameters by name in the go template then I think

[2019-10-08 15:24] jlewi commented on #855
I don't have a specific use case to warrant one behavior or the other.

Training jobs can run for a long time so if training jobs have been running for 10 hours you don't necessarily want to just abort them; you might want to let them continue to run and finish.

I guess if the user wants to kill them they can always do explicitly. Wheras if they are killed automatically resuming the jobs may not

[2019-10-08 15:34] jlewi opened #862 "Use Kubeflow metadata for metrics collection"
/kind feature

**Describe the solution you'd like**
Right now Katib depends on logging the metrics to stdout (see #685).

It would be nice if instead Katib could be configured to use Kubeflow metadata to obtain the metrics.

Here's a strawman for how this might work

1. User adds logging statement to their code to log metrics to metadata with an appropriate set of labels (e.g. experiment & trial)

[2019-10-08 20:38] wdhorton commented on #696
Facing a similar issue with my AWS EKS installation, seeing timeout on katib-manager even though katib-db is running

[2019-10-09 05:57] hougangliu commented on #862
In fact, all metrics has been persisted into Katib DB. and we can implement a new DB driver for kubeflow metadata, just like mysql counterpart.

[2019-10-09 06:07] hougangliu commented on #857
@gaocegege @johnugeorge
for now, we can use concrete hyperparameter and value pairs to replace go template counterpart in trial by argument or environment var.
we can enhance it by introducing a `hyperparamater-inject-kind` field (now its value can be `argument` and "env-var") and fill  hyperparameter and value pairs to worker container when generating worker job automatically based on it.
In futu

[2019-10-09 06:09] jlewi commented on #862
Out of the box integration with metadata would be awesome.

[2019-10-09 06:10] gaocegege commented on #857
SGTM. Actually, I have researched if we could inject hyperparameters by rewriting Python AST.

https://github.com/caicloud/katib/blob/056cc36515052156fa2ada681d7ff487441eedc0/py/hypertransformer/README.md

NNI follows this way. I think it is better to be extensible. We could support multiples approaches.

[2019-10-09 06:12] gaocegege commented on #862
Not sure the requirements of metadata. Now we only use katib-db to store metrics. If metadata does not require any other abstraction, I think it should be easy to support it.

[2019-10-09 06:16] hougangliu commented on #857
yes, AST can be one another `hyperparamater-inject-kind`, the `hyperparamater-inject-kind` must keep consistent with user source code.

[2019-10-09 06:23] gaocegege commented on #855
@johnugeorge Did we fix it in #861

[2019-10-09 06:50] johnugeorge commented on #862
Related: https://github.com/kubeflow/katib/issues/841#issuecomment-537413455

[2019-10-09 06:52] johnugeorge commented on #855
Yes. Currently, we keep existing running trials to continue and complete even if it has entered a terminal state.

[2019-10-09 06:53] johnugeorge commented on #855
Closing the issue as it works as expected

[2019-10-09 06:53] #855 closed

[2019-10-09 07:09] hougangliu commented on #849
In katib design, for Job kind worker, only logs of the first container of the Pod is collected and parsed.

[2019-10-09 07:16] hougangliu commented on #849
@gaocegege @johnugeorge do you think we should fix the gaps for v1alpha2?
in kubeflow 0.7 release, katib will release v1alpha3, which uses totally different way to collect metrics. In v1alpha3, #841 and this issue will all be gone. @jlewi WDYT?

[2019-10-09 07:21] hougangliu commented on #842
based on above, it seems it is normal behavior since after all values in the valid range applied, dup value will be applied again in new cycle.

[2019-10-09 07:24] johnugeorge commented on #849
I think, we can skip v1alpha2 fixes. Even v1alpha2 manifests are deleted from the kubeflow/manifests.

[2019-10-09 07:37] hougangliu commented on #843
/assign

[2019-10-09 10:06] johnugeorge commented on #811
Merged as part of https://github.com/kubeflow/manifests/pull/442 and https://github.com/kubeflow/manifests/pull/406

[2019-10-09 10:06] johnugeorge commented on #811
Closing as PRs are merged

[2019-10-09 10:06] #811 closed

[2019-10-09 16:33] krishnadurai commented on #843
@hougangliu here is the reference for the ClusterRoles being added for Katib:
https://github.com/kubeflow/manifests/pull/448

You may have to associate the service account with this role ref.

P.S. The ClusterRole was unfortunately removed with the new Katib manifests being merged.

[2019-10-09 23:35] hougangliu commented on #843
@krishnadurai cool. Updated https://github.com/kubeflow/manifests/pull/471

[2019-10-10 02:09] gaocegege commented on #841
/area katib-v1alpha2

[2019-10-10 02:25] hougangliu commented on #843
https://github.com/kubeflow/manifests/pull/448 had fixed it.
thanks @krishnadurai

[2019-10-10 02:32] johnugeorge commented on #841
Shall we close this as it is resolved in v1alpha3

[2019-10-10 02:51] gaocegege commented on #841
I think so.

/close

[2019-10-10 02:51] #841 closed

[2019-10-10 03:09] johnugeorge commented on #843
Closing this issue

[2019-10-10 03:09] #843 closed

[2019-10-10 03:47] jlewi commented on #842
@hougangliu Could we just terminate after the cycle rather than retrying some values?

[2019-10-10 04:10] hougangliu commented on #842
@gaocegege @johnugeorge
based on @jlewi requirement, we need enhance suggestion service to check if the new assignment has been tried (we can pass suggestion status.suggestions to algorithm service). I think the effort is not big and we can cover it soon (all algorithm service can share same function to verify new assignment) WDYT?

[2019-10-10 05:07] johnugeorge commented on #842
@hougangliu  This operation looks expensive(O(n^2)). Also does it work for types other than integer?

[2019-10-10 05:26] hougangliu commented on #842
1. I don't think n is very big to introduce performance issue.
2. also to reduce potential performance issue, we can verify it only when the length of suggestion.status.suggestions is  bigger than all potential feasibleSpace range such as int, categorical and discrete type

[2019-10-10 05:50] gaocegege opened #866 "[feature] Check Assignments for Similarity"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

While some think that this check's scenario is rare. We do not decide if we need it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-10 05:54] gaocegege commented on #866
cc @hougangliu @johnugeorge

[2019-10-10 06:03] hougangliu commented on #842
@jlewi we need more suggestion/comment about the feature of avoiding duplicate HP assignments, please feel free to comment #866

[2019-10-10 08:55] #232 closed

[2019-10-10 08:58] gaocegege commented on #199
/close

Now we have our own UI.

[2019-10-10 09:01] gaocegege commented on #701
@cyzhangchenya Suggest using v1alpha3. Now we do not involve a DB in main workflow.

/close

[2019-10-10 09:01] #701 closed

[2019-10-10 09:03] #757 closed

[2019-10-10 09:04] #437 closed

[2019-10-10 09:05] gaocegege commented on #439
/close

It is stale. But feel free to ask here.

[2019-10-10 09:05] #439 closed

[2019-10-10 09:05] gaocegege commented on #422
/close

[2019-10-10 09:05] #422 closed

[2019-10-10 09:07] gaocegege commented on #332
/close

Does not need ModelDB now.

[2019-10-10 09:07] #332 closed

[2019-10-10 09:07] gaocegege commented on #291
/close

We deprecated v1alpha1.

[2019-10-10 09:07] #291 closed

[2019-10-10 09:09] gaocegege commented on #71
We already have it #769

/close

[2019-10-10 09:09] #71 closed

[2019-10-10 09:10] #668 closed

[2019-10-10 09:11] gaocegege commented on #639
Do not think we can implement it before 0.7

I have no idea about how to implement it.

[2019-10-10 09:12] gaocegege commented on #604
/close

It was fixed.

[2019-10-10 09:13] gaocegege commented on #598
/close

It is fixed by #851

[2019-10-10 09:13] #598 closed

[2019-10-10 09:13] #663 closed

[2019-10-10 09:14] gaocegege commented on #649
/close

We are going to have well-documented support for v1alpha3.

[2019-10-10 09:14] #649 closed

[2019-10-10 09:17] gaocegege commented on #713
/close

It is stale. But feel free to ask here.

[2019-10-10 09:17] #713 closed

[2019-10-10 09:18] gaocegege commented on #707
/close

It is stale. But feel free to ask here.

[2019-10-10 09:18] #707 closed

[2019-10-10 09:18] gaocegege commented on #710
/close

It is stale. But feel free to ask here.

[2019-10-10 09:19] gaocegege commented on #384
/close

We have vendor now.

[2019-10-10 09:19] #384 closed

[2019-10-10 09:20] gaocegege commented on #377
/close

It is stale. But feel free to ask here.

[2019-10-10 09:20] #377 closed

[2019-10-10 09:21] gaocegege commented on #346
Trial is already a CRD. But we still cannot create trials for a finished experiment.

[2019-10-10 09:22] #220 closed

[2019-10-10 09:23] gaocegege commented on #702
/close

It is stale. But feel free to ask here.

[2019-10-10 09:23] #702 closed

[2019-10-10 09:24] gaocegege commented on #680
/close

It is stale. But feel free to ask here.

[2019-10-10 09:24] #680 closed

[2019-10-10 09:28] gaocegege commented on #629
Closed by https://github.com/kubeflow/katib/pull/830

/close

[2019-10-10 09:28] #629 closed

[2019-10-10 09:29] gaocegege commented on #533
/assign

[2019-10-10 11:19] #466 closed

[2019-10-11 02:31] gaocegege commented on #610
/priority p3

[2019-10-11 02:32] gaocegege commented on #503
@johnugeorge @hougangliu Can we close the issue?

[2019-10-11 02:33] gaocegege commented on #413
In the new design, we will have one suggestion for one experiment, thus we do not need the API now.

/close

[2019-10-11 02:33] #413 closed

[2019-10-11 02:36] gaocegege commented on #440
@johnugeorge @hougangliu

Do we still need it? I think we can close it since we only store metrics in DB now

[2019-10-11 02:53] gaocegege commented on #334
MySQL liveness probe requires mysqladmin.

https://github.com/helm/charts/blob/master/stable/mysql/templates/deployment.yaml#L122

In our MySQL image, we missed mysqladmin

Ref https://github.com/docker-library/mysql/issues/410

Thus it is hard to add a liveness probe. Going to replace the image with a new one with mysqladmin.

[2019-10-11 02:53] gaocegege commented on #334
/assign

[2019-10-11 02:56] hougangliu commented on #503
we can close it now

[2019-10-11 02:59] hougangliu commented on #440
in fact, #760 had implemented it. I think we can close it now

[2019-10-11 03:01] johnugeorge commented on #503
I have added in readme

[2019-10-11 03:03] gaocegege commented on #854
/area katib-v1alpha2

[2019-10-11 03:04] gaocegege commented on #856
/area katib-v1alpha2

[2019-10-11 03:05] gaocegege commented on #842
/area katib-v1alpha2

[2019-10-11 03:06] gaocegege commented on #718
/close

It is stale, but feel free to leave comments here.

[2019-10-11 03:06] #718 closed

[2019-10-11 03:07] gaocegege commented on #744
@gautamkmr Please try v1alpha3 following the readme.

[2019-10-11 03:07] gaocegege commented on #693
/kind feature

[2019-10-11 03:07] gaocegege commented on #692
/kind feature

[2019-10-11 03:08] gaocegege commented on #690
/area katib-v1alpha2
/priority p1
/kind bug

[2019-10-11 03:09] gaocegege commented on #677
/close

[2019-10-11 03:09] #677 closed

[2019-10-11 03:09] gaocegege commented on #706
/close

[2019-10-11 03:09] #706 closed

[2019-10-11 03:10] gaocegege commented on #440
/close

[2019-10-11 03:10] #440 closed

[2019-10-11 03:11] gaocegege commented on #306
@johnugeorge Can we close it?

[2019-10-11 03:13] #20 closed

[2019-10-11 03:15] gaocegege commented on #68
Now we keep one suggestion for one experiment. But we still need #33 .

/close

[2019-10-11 03:15] #68 closed

[2019-10-11 03:16] gaocegege opened #872 "[feature] Support random state in random search"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-11 03:38] gaocegege commented on #872
/assign

[2019-10-11 03:39] gaocegege opened #874 "[enhancement] Add docs about quick start"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Reference: https://nni.readthedocs.io/en/latest/Tutorial/QuickStart.html

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-11 03:42] gaocegege commented on #874
/assign

dibs

[2019-10-11 04:09] #334 closed

[2019-10-11 05:17] #533 closed

[2019-10-11 07:51] #691 closed

[2019-10-11 08:37] #872 closed

[2019-10-11 10:42] johnugeorge commented on #306
This Issue is no more valid in v1alpha3

[2019-10-11 10:42] #306 closed

[2019-10-12 02:09] gaocegege commented on #704
As @johnugeorge said, we recently support multi-namespace. I think you should be able to get experiments on UI in v1alpha3.

Ref https://github.com/kubeflow/katib/issues/774

[2019-10-12 02:09] gaocegege commented on #704
/close

[2019-10-12 02:09] #704 closed

[2019-10-12 06:23] johnugeorge commented on #728
Closing this as all related issues are merged

[2019-10-12 06:23] #728 closed

[2019-10-12 06:25] johnugeorge commented on #577
This is fixed with new metric collector design in v1alpha3.

[2019-10-12 06:25] johnugeorge commented on #577
Closing the issue

[2019-10-12 06:27] johnugeorge commented on #610
This is no more needed as suggestion service gets the list of trials in each GetSuggestions call

[2019-10-12 06:27] johnugeorge commented on #610
Closing the issue

[2019-10-12 06:27] #610 closed

[2019-10-12 06:29] johnugeorge commented on #515
Unit tests are consisently passing now

[2019-10-12 06:29] johnugeorge commented on #515
Closing the issue as it is no more valid

[2019-10-12 06:29] #515 closed

[2019-10-12 06:37] johnugeorge commented on #33
Suggestion is a CR in v1alpha3 which has algorithm settings in Status. This is the latest settings provided in the GetSuggestions response.

[2019-10-12 06:37] johnugeorge commented on #33
Closing the issue as it is fixed in v1alpha3

[2019-10-12 06:37] #33 closed

[2019-10-14 08:36] gaocegege opened #877 "[bug] Deadline Exceeded in TFEvent Metrics Collector"
[code]

When I run the TFJob example, I got the error in metrics collector sidecar during the training.

[2019-10-14 08:37] gaocegege commented on #877
Not sure if it is a bug in my dev env now.

/cc @hougangliu

[2019-10-14 08:37] gaocegege commented on #877
/kind bug

[2019-10-15 00:59] hougangliu commented on #877
lt looks error occurs when persisting metrics into DB by katib-manager ReportObservationLog API. Can you try if https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/tfjob-example.yaml works well in your env?

[2019-10-15 01:30] gaocegege commented on #877
I will have a look. BTW, what's the expected behavior when there is an error in metrics collector?

[2019-10-15 02:21] johnugeorge commented on #877
We need to have a retry. Also should we call ReportObservationLog in batches rather than single call?

[2019-10-15 02:53] gaocegege commented on #877
@johnugeorge It could be a feature or enhancement for metrics collector. I will open an issue for it.

This issue will be fixed by #881 We should have a longer timeout in tf metrics collector.

[2019-10-15 02:54] johnugeorge commented on #877
SGTM

[2019-10-15 02:59] gaocegege opened #882 "[feature] Add GRPC Retry Logic to Metrics Collector"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Metrics collector collects the metrics from main container and report them to manager via GRPC. We should have sort of retry logic for GRPC calls.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-15 03:02] gaocegege commented on #882
From johnugeorge@

[2019-10-15 03:02] gaocegege commented on #882
/priority p3

[2019-10-15 03:02] gaocegege commented on #866
/priority p3

[2019-10-15 03:06] gaocegege commented on #674
V1alpha1 is deprecated now, please try v1alpha3 in 0.7 release

[2019-10-15 03:06] gaocegege commented on #674
/close

[2019-10-15 03:06] #674 closed

[2019-10-15 03:13] gaocegege commented on #719
/kind feature
/priority p3

[2019-10-15 03:37] #877 closed

[2019-10-15 06:05] gaocegege opened #884 "[bug] Show the best metrics instead of latest in UI"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-15 06:06] gaocegege commented on #884
/kind bug

[2019-10-16 12:52] mannuscript opened #886 "Unable to deploy using deploy.sh"
/kind bug

**What steps did you take and what happened:**
I am trying to deploy katib on minikube using [deploy.sh](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/MinikubeDemo/deploy.sh) provided in the [examples](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/README.md). But there seems to be a problem:
[code]

**Anything else you would like to add:**
But it work