[2019-10-16 14:05] johnugeorge commented on #886
Support for extensions/v1beta1 as the API group  is removed in 1.16
https://kubernetes.io/blog/2019/09/18/kubernetes-1-16-release-announcement/

[2019-10-17 15:29] shaunc opened #888 "kfctl delete does not remove katib"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Tried to install kubeflow on docker-for-mac. Got errors. Tried to remove and reinstall different version. First got errors with Istio. After removing Istio-system namespace, now getting error on generate:
[code]

**What did you expect to happen:**

katib components should be removed by

[2019-10-22 05:03] hougangliu commented on #693
/assign @dreamryx

[2019-10-22 06:04] gaocegege opened #889 "[enhancement] Should not use Float in CRD definition."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Ref https://github.com/kubernetes-sigs/controller-tools/issues/245

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-22 10:11] alishaIBM opened #890 "Unable to build katib on ppc64le"
/kind bug

**What steps did you take and what happened:**
- Dockerfile used to build Katib :
https://github.com/kubeflow/katib/blob/master/cmd/manager/v1alpha3/Dockerfile

- Got the following error :
[code]

**Environment:**
- Dockerfile is built on :
[code]

VM :
9.47.73.84 root / passw0rd
Dockerfile is at /root/

[2019-10-22 10:13] jinchihe commented on #890
/cc @hougangliu @hmtai

[2019-10-22 11:30] hougangliu commented on #890
@alishaIBM how do you build it.
In my test, it works well as below:
[code]

[2019-10-22 11:33] hougangliu commented on #890
@alishaIBM you must run `docker build -t liuhougangxa/katib-manager -f cmd/manager/v1alpha3/Dockerfile .` under top directory of katib

[2019-10-23 08:06] alishaIBM commented on #890
thanks @hougangliu ! I was able to build the dockerfile successfully.

[2019-10-23 08:09] gaocegege commented on #890
There may be a problem: https://github.com/kubeflow/katib/pull/779#discussion_r337413401

[2019-10-23 08:39] alishaIBM commented on #890
@gaocegege , re-opening the issue.

[2019-10-23 08:40] gaocegege commented on #890
Sure. Help wanted.

[2019-10-23 09:03] gaocegege opened #891 "[feature] Add new trials to a succeeded Experiment"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Now we cannot achieve it because of:

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-23 09:08] johnugeorge commented on #891
Yes. We have to add extra check when we support resuming trials

[2019-10-23 09:33] gaocegege opened #892 "[feature] Specify parameter values for one Trial"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-24 01:45] hougangliu commented on #892
can you detail more about what you plan to do for this? @gaocegege

[2019-10-24 01:53] gaocegege commented on #892
I have no idea about it. But it is a useful feature, I think.

[2019-10-24 01:53] gaocegege commented on #892
Ref https://optuna.readthedocs.io/en/latest/reference/trial.html#optuna.trial.FixedTrial

[2019-10-24 02:09] hougangliu commented on #892
Get it. Maybe it is useful when a user just want to compare a set of known hyperparameter combination

[2019-10-24 02:22] gaocegege commented on #892
Yeah, but not sure how to support it in katib and do not know if it can help users a lot.

[2019-10-24 06:57] hougangliu opened #896 "cannot support training job restart"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When a training container exit abnormally, metrics collector will go on parsing metrics file and reporting the metrics with exit 0. And even `Restart policy` make the the training container restart, the  metrics collector container will never restart

**What did you expect to happen:**
m

[2019-10-24 06:57] hougangliu commented on #896
/assign

[2019-10-30 04:06] #896 closed

[2019-10-30 09:26] moonyoung430 opened #902 "error when creating "katib/examples/v1alpha2/tfjob-example.yaml":"
When I run kubectl apply -f tfjob-example.yaml in katib/examples/v1alpha2/,I got this

Error from server: error when creating "tfjob-example.yaml": admission webhook "validating.experiment.kubeflow.org" denied the request: Fail to check record for the experiment in DB: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "tran

[2019-10-30 09:50] gaocegege commented on #902
Can you try our v1alpha3 version, which is included in kubeflow 0.7? v1alpha2 is deprecated. It seems that there is something wrong in your DB.

[2019-10-30 09:58] moonyoung430 commented on #902
@gaocegege thanks for your reply
I just upgraded to v0.6 T.T few days ago ,Can I use v1alpha3 in v0.6??
and Can you talk about DB in detail? I'm just getting started, Thanks

[2019-10-31 00:03] arun-gupta opened #903 "Katib to wikipedia"
/kind feature

Add katib to https://en.wikipedia.org/wiki/Hyperparameter_optimization

[2019-10-31 01:48] gaocegege commented on #902
You can install v1alpha3 using the manifests in our repo.

[2019-10-31 01:53] gaocegege commented on #903
Thanks for the suggestion. Can you help us add katib into the wiki?

/priority p3

Help wanted

[2019-10-31 04:24] arun-gupta commented on #903
Sure, how about the following lines?

In `Grid search` category:

`Katib is a Kubernetes-native system which includes grid search`

In `Random search` category:

`Katib is a Kubernetes-native system which includes random search`

In `Bayesian` category:

`Katib is a Kubernetes-native system which includes bayesian optimization`

In `Other` category:

`Katib is a Kubernetes-native system which incl

[2019-10-31 04:45] gaocegege commented on #903
LGTM. Thanks for your help! :tada:

[2019-10-31 05:58] hougangliu opened #905 "Handle condition for suggestion CR error"
/kind bug

In suggestion controller, it will try to create algorithm deployment/service, if fail to make the algorithm deployment/service available, now the related `Experiment` and `Suggestion` CR have no any status change. for example `Experiment` will keep `Created` forever

[2019-10-31 06:13] gaocegege commented on #905
SGTM

[2019-10-31 06:23] gaocegege opened #906 "[feature] Reconsider the design of Trial Template"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We need to marshal the TFJob to JSON string then use it to create experiments if we are using K8s client-go. It is not good. And, go template is ugly, too.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-31 07:45] #874 closed

[2019-11-01 01:35] gaocegege commented on #903
/close

@arun-gupta Thanks!

[2019-11-01 01:35] #903 closed

[2019-11-04 02:35] #890 closed

[2019-11-05 00:02] gabrielwen commented on #888
I was not able to reproduce this..  could you try to run `kfctl build -f && kfctl apply -f` with the latest 0.7 RC and delete it with `kfctl delete -f` to see if the bug is still there?

[2019-11-07 22:26] jlewi commented on #685
@hougangliu @johnugeorge any update on this?

[2019-11-07 22:55] wronk commented on #642
@richardsliu, is there a workaround for exporting the csv? You mentioned one [here](https://github.com/kubeflow/katib/issues/248), but I don't see how to do it

[2019-11-07 23:26] hougangliu commented on #685
@jlewi for now, metrics collector can work well by pod level metricsCollector container sidecar injection (also included in 0.7.0 release).
considering potential performance impact, we plan to also support to inject metricsCollector container in Job/TfJob/PytorchJob level in next release (will start to discuss in katib weekly meeting)

[2019-11-08 01:34] gaocegege commented on #685
I think we can safely remove 0.7 label and add 1.0 since high priority features are implemented now.

[2019-11-08 10:03] x28646510 opened #915 "Support PostgreSQL"
/kind feature

Hello, I'd like to request a feature for manager to register logs to PostgreSQL. Do you have any plan?

**Describe the solution you'd like**
Current, only MySQL is supported as Log DB. So, I would like a feature for manager to register logs to PostgreSQL because PostgreSQL is major database as much as MySQL.

[2019-11-09 02:01] gaocegege commented on #915
If there is enough interest (upvotes needed), then this could be part of this project's roadmap.

And, also welcome your contribution!

[2019-11-09 02:45] texasmichelle opened #916 "UI not showing experiment results"
/kind feature

**Describe the solution you'd like**
It would be useful to have more than a blank screen in the Katib UI for PyTorch jobs.
I ran the [PyTorch example](https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/pytorchjob-example.yaml) on a fresh Kubeflow cluster created using [C2D](https://deploy.kubeflow.cloud/#/deploy) with v0.6.2.
It appears to run fine since the containers

[2019-11-09 03:01] gaocegege commented on #916
Sounds reasonable

[2019-11-11 01:57] texasmichelle opened #917 "ReadWriteMany unsupported for PVCs on GCP"
/kind bug

**What steps did you take and what happened:**
When creating [tfevent-pvc](https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/tfevent-volume/tfevent-pvc.yaml), it fails on GCP with this error:
`Failed to provision volume with StorageClass "standard": invalid AccessModes [ReadWriteMany]: only AccessModes [ReadWriteOnce ReadOnlyMany] are supported`

**What did you expect to h

[2019-11-11 01:58] gaocegege commented on #917
Thanks for the issue.

/cc @hougangliu

[2019-11-11 01:59] texasmichelle commented on #917
Fix incoming 🚀

[2019-11-11 02:10] texasmichelle commented on #916
I thought this issue was limited to PyTorch, but it appears to be broader. I just tried running [tfjob-example](https://github.com/kubeflow/katib/blob/master/examples/v1alpha2/tfjob-example.yaml) as well and am not seeing any visuals in the UI. Perhaps it's something not configured properly, but I'm using the default C2D installation, which runs this image:
gcr.io/kubeflow-images-public/katib/v1al

[2019-11-11 02:11] texasmichelle commented on #916
/kind bug

It's probably something with the configuration, but we should make sure that the default installation picks up components that work together properly.

[2019-11-11 02:19] gaocegege commented on #916
@texasmichelle Can you show us the screenshot of UI?

[2019-11-11 03:30] hougangliu commented on #917
this example is for minikube assuming that the PVC with `ReadWriteMany` can be created
Since multiple trials/jobs can run in parallel to write TensorFlow event to the PV, and multiple tf-metricscollector Pod will read the data, so the PVC must be  `ReadWriteMany`.
I think default  GCP storage class is gcePersistentDisk driver, which can only be mounted by a single consumer in read-write mode - no

[2019-11-11 03:40] texasmichelle commented on #917
Oh - we only have examples for minikube? Because HP tuning is so resource-intensive and I've had trouble just getting barebones KF to run on its own locally, it didn't even occur to me to try minikube. I think it would be worthwhile to have a cloud version of the examples.

@richardsliu what do you suggest for pvc config on gke?

C2D = [click-to-deploy](https://deploy.kubeflow.cloud)

[2019-11-11 03:57] hougangliu commented on #917
sorry to mislead you, the example can work in most platforms including minikube, and in most platform, `ReadWriteMany` PVC can be created.
I think GCP also should have solution to support `ReadWriteMany` PVC (for now I guess default storageclass is gcePersistentDisk, can you try if there is other storageclass in GCP to support `ReadWriteMany`, if there is, just make the example pvc storageclass as

[2019-11-11 04:14] gaocegege commented on #917
ReadWriteMany is common, I think GCP should support it. Ref https://cloud.google.com/kubernetes-engine/docs/concepts/persistent-volumes

[2019-11-11 19:10] zhenghuiwang opened #919 "Move Katib E2E tests to use kubeflow-ci-deployment project"
/kind bug

**What steps did you take and what happened:**

As part of Katib e2e tests, a GKE cluster is created in kubeflow-ci project. The problem is`kubeflow-ci` is supposed to host only Argo workflows for e2e tests; and only `kubeflow-ci-deployment` has the cron job to properly reclaim resources.

**What did you expect to happen:**
The GKE clusters for E2E tests in Katib are created in kubeflow

[2019-11-12 03:35] gaocegege commented on #906
/priority p0

/cc @johnugeorge @hougangliu @richardsliu

We can discuss here.

[2019-11-12 03:39] gaocegege commented on #915
/priority p3

[2019-11-12 03:40] gaocegege commented on #916
/priority p2

[2019-11-12 03:40] gaocegege commented on #892
/priority p3

[2019-11-12 03:40] gaocegege commented on #891
/priority p3

[2019-11-12 03:41] gaocegege commented on #889
/priority p3

[2019-11-12 03:41] gaocegege commented on #692
/priority p1

[2019-11-12 06:53] hougangliu commented on #906
based on the proposal https://github.com/kubeflow/katib/issues/857#issuecomment-539849490, I refactor struct as below:

[code]

[2019-11-13 01:03] richardsliu commented on #917
Katib-mysql is ReadWriteOnce, how does it work?
https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/pv/pv.yaml

[2019-11-13 01:11] richardsliu commented on #917
Standard storage class provisoner is GKE PD which doesn't support ReadWriteMany:
[code]
https://cloud.google.com/kubernetes-engine/docs/concepts/persistent-volumes

So another solution is to try a different storage class.

[2019-11-13 01:50] hougangliu commented on #917
Only one Pod is running for katib-mysql.

[2019-11-19 08:50] RochanMehrotra commented on #886
@mannuscript  workaround works for me!

[2019-11-20 08:02] wjddyd66 commented on #916
I have Same issue.

I run hyperparameter tunning example) tfjob-example
Kubeflow Version: v0.7.0
kubernetes Version: v1.15.0

Result CLI
[code]

But UI is
![image](https://user-images.githubusercontent.com/37298751/69219971-5919b880-0bb7-11ea-9df9-c699465631c7.png)

And Result is
![image](https://user-images.githubusercontent.com/37298751/69220019-68990180-0bb7-11ea-910d-9b06ec1f4287.png)

[2019-11-20 12:32] xaniasd opened #921 "Make db deployment optional"
/kind feature

**Describe the solution you'd like**
n the current setup, katib deploys a database in the base layer. This database is insecurely configured (e.g. root password "test"). Production deployments will (hopefully) want to use a different setup; especially for cloud deployments, managed SQL services such as RDS in AWS are good replacement candidates.

It is possible to customize the kati

[2019-11-20 18:53] pavan-infiswift opened #922 "Kaitb experiment error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I have deployed katib as part of kubeflow and ran the following example:
https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml
This example successfully ran.

 I changed the image name to custom image from private gcr registry and added ImagePullSecrets in

[2019-11-21 08:11] wjddyd66 commented on #916
@texasmichelle

Hey I solved This Problem

I think Your Server in CLI Mode(Ubuntu, Linux)

I Run same Example in GUI Mode(Ubuntu, Linux)

![image](https://user-images.githubusercontent.com/37298751/69319133-f2ad9c80-0c81-11ea-896d-c27151e9c1c3.png)

**It's Work**

[2019-11-21 08:21] cleveryg opened #923 "collect metrics information"
/kind bug

Training can be automated but katib cannot collect metrics information
katib-controller Log an error：
request":"mykubeflow/bayseopt-example","error":"Operation cannot be fulfilled on experiments.kubeflow.org \"bayseopt-example\": the object has been modified; please apply your changes to the latest version and try again"

**What steps did you take and what happened:**
[A clear and conci

[2019-11-21 11:09] gaocegege commented on #906
Should we support structured template? E.g. TFJob and PyTorchJob.

[2019-11-21 12:18] karlschriek opened #924 "TensorBoard logs: "Unexpected error: corrupted record at 0""
/kind bug

**What steps did you take and what happened:**

I am trying to construct a simple example MNIST example that makes use Keras with TFJob and logs out metrics using the TensorBoard callback. However, the `TensorFlowEvent` collector is unable to pick up the logs.

The workers reach `completed` stage. Calling `kubectl -n kubeflow logs pod/tfjob-example-tf-events-xxxxxxx-worker-0 metrics-col

[2019-11-21 18:21] richardsliu commented on #906
@hougangliu Can you add examples of what a template would look like?

[2019-11-22 00:47] hougangliu commented on #906
Here list the `goTemplate`, `envVar`, and `args` kind

1. `goTemplate`: keep same as current behavior, the template from ConfigMap or rawTemplate will be handled in go template way by making hyperParameters set fill `.HyperParameters` placeholder.
[code]

2. `envVar`: hyperParameters set will be append into `env` of containers in the template from ConfigMap or rawTemplate; this kind is used in the

[2019-11-22 06:11] wjddyd66 opened #926 "Katib Doesn't make Trials"
/kind bug
Please check if I missed anything.

1. Make Python File
[code]

It's Work in Jupyter Notebook in Kubeflow
![image](https://user-images.githubusercontent.com/37298751/69401524-a1acaf80-0d38-11ea-89aa-2c278a2b8285.png)

And It Makes tfevents File well in /train Folder
![image](https://user-images.githubusercontent.com/37298751/69401807-62cb2980-0d39-11ea-89f8-c2bb7440e101.png)

2. Build Im

[2019-11-22 06:15] gaocegege commented on #926
Can you show us `kubectl -s kubeflow describe experiments`

[2019-11-22 06:31] wjddyd66 commented on #926
@gaocegege

[code]

**Here is my out**

I don't know What's Missing

In my Eviroment, ttfob-example.yaml is Work!...

What is Different?

[2019-11-22 06:33] gaocegege commented on #926
Sorry, my mistake.

The command should be `kubectl -n kubeflow describe experiments`

[2019-11-22 06:34] wjddyd66 commented on #926
@gaocegege

[code]

[2019-11-22 06:36] gaocegege commented on #926
The experiment is created. Can you test

`kubectl -n kubeflow describe suggestions`

[2019-11-22 06:39] wjddyd66 commented on #926
[code]

Is this not possible Parameter Type float?

[2019-11-22 06:40] gaocegege commented on #926
Yeah, we do not support float, we support double

[2019-11-22 06:48] wjddyd66 commented on #926
@gaocegege
Ok Thank you It Works!
![image](https://user-images.githubusercontent.com/37298751/69404031-82655080-0d3f-11ea-82d3-6998bd5ce1d9.png)

[2019-11-22 06:54] gaocegege commented on #926
Can you run

[code]

To see if it works? It seems that the command returns exit code 1

[2019-11-22 07:24] wjddyd66 commented on #926
[code]

I think It has problem in Using Hangul......

[2019-11-22 07:26] gaocegege commented on #926
@wjddyd66 Yeah I think so. Prefer English here.

[2019-11-22 07:50] wjddyd66 commented on #926
@gaocegege
It Works... Thank you

My Last Question is:

Yout Eaxmplt .yaml File Here
[code]
And  I Think Original Python Code Link is Here: https://github.com/kubeflow/tf-operator/blob/master/examples/v1/mnist_with_summaries/mnist_with_summaries.py
But there is no     objectiveMetricName: accuracy_1
only **accuracy**

What's mean accuracy_1????

[2019-11-22 07:58] gaocegege commented on #926
It is the metric name in tfevent, I think. You can change it if there is another name in your TFEvent.

[2019-11-22 08:21] gaocegege opened #927 "[feature] Support Resources for Suggestions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Now we do not set resources for suggestions. We should support it.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-11-22 23:41] richardsliu commented on #906
For Job-type trials, do we actually need anything more than "image" and "command"?

[code]

So I think we can cut all of this down to just:
[code]

For distributed jobs it can be more complicated, but still most of the spec can be auto-generated:
[code]

What do you think?

[2019-11-23 00:01] jlewi commented on #685
@gaocegege and @hougangliu should we file more fine grained issues for the remaining work and then close this issue?

[2019-11-23 12:06] johnugeorge commented on #927
In certain class of suggestion algorithms, all trials are not run with same set of resources.  This feature is useful in such cases

[2019-11-24 23:55] hougangliu opened #928 "Job level webhook for metrics collector sidecar container"
/kind feature
/P2
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
for now, we inject metrics collector sidecar container in Pod webhook, we can consider metrics collector sidecar container in Job webhook level for performance.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-11-24 23:57] hougangliu opened #929 "PrometheusMetricCollector metricsCollector executor"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
For now, we implement std/file/tensorflowevent/custom MetricsCollector, we can try to implement  PrometheusMetricCollector.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-11-24 23:58] hougangliu commented on #685
@jlewi #929 and #928 trace the remaining two issue.

[2019-11-24 23:58] #685 closed

[2019-11-25 01:28] gaocegege commented on #927
@johnugeorge

The feature you suggested is not actually the same as this one. This is to add resource requirements for suggestion deployment. Your idea is to let suggestions provide resource requirements for the trial if I do not misunderstand it.

[2019-11-25 01:30] gaocegege commented on #906
Prefer not to have our own spec with image and command. If users want to set resource requirements, our abstraction will limit this scenerio.

[2019-11-25 02:43] cleveryg opened #930 "how to collect the indicator of training results???"
/kind bug

  After completion of bayesianoptimization automated training, the corresponding indicator results cannot be collected. Could you please tell me how to collect the indicator of training results.
  My yaml file is as follows:
apiVersion: "kubeflow.org/v1alpha3"
kind: Experiment
metadata:
  namespace: kubeflow
  labels:
    controller-tools.k8s.io: "1.0"
  name: bayesianoptimization-examp

[2019-11-25 02:54] cleveryg opened #931 "how to collect the indicator of training results???"
/kind bug

how to collect the indicator of training results???
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

   After bayesianoptimization automatic training is completed, katib cannot collect the training indicator result. Katib UI always shows the training status as running. Could you please tell me how to collect the training indicator and

[2019-11-25 02:55] cleveryg commented on #931
kubeflow 0.7.0
kubenrnetes 1.15.4
OS:CentOS Linux release 7.7.1908 (Core)

[2019-11-25 03:20] gaocegege commented on #930
Do you mean how to collect the training metrics (e.g. accuracy) during the training process?

[2019-11-25 03:27] gaocegege commented on #930
Do you mean how to collect the training metrics (e.g. accuracy) during the training process?

[2019-11-25 03:38] cleveryg commented on #930
yes,I currently use bayesianoptimization automated training. The training can be done smoothly, but the training metrics cannot be collected by katib. My training code prints the following information:
epoch 1:
Training-Accuracy=0.9721897840499878
Training-Loss=0.0755957584742627
Validation-Accuracy=0.986607015132904
Validation-Loss=0.03495273049741121

  I saw that the image collected by katib-co

[2019-11-25 03:39] gaocegege commented on #930
Do you mean how to collect the training metrics (e.g. accuracy) during the training process?

[2019-11-25 03:51] gaocegege commented on #930
We do not use pod to collect it. We use a sidecar container in the training pod. Did you have 2 containers in your training pod?

[2019-11-25 03:54] cleveryg commented on #930
NO,my training pod have 1 containers,For example:image: docker.io/katib/mxnet-mnist-example.
  How to have 2 containers,How to write yaml files???

[2019-11-25 03:55] gaocegege commented on #930
Did you have the namespace label `katib-metricscollector-injection: enabled`?

[code]

[2019-11-25 03:56] gaocegege commented on #931
dup with #930

[2019-11-25 03:56] gaocegege commented on #931
/close

[2019-11-25 03:56] #931 closed

[2019-11-25 04:00] cleveryg commented on #930
Name:         kubeflow
Labels:       katib-metricscollector-injection=enabled
Annotations:  <none>
Status:       Active

[2019-11-25 04:02] cleveryg commented on #930
namespaces have lable katib-metricscollector-injection: enabled but train pod have one containers

[2019-11-25 04:09] gaocegege commented on #930
Then could you have a look at katib-controller's log

[2019-11-25 04:11] cleveryg commented on #930
yes,i can.
  {"level":"error","ts":1574655081.875393,"logger":"experiment-controller","msg":"Update experiment instance status error","Experiment":"mykubeflow/bayseopt-example5","error":"Operation cannot be fulfilled on experiments.kubeflow.org \"bayseopt-example5\": the object has been modified; please apply your changes to the latest version and try again","stacktrace":"github.com/kubeflow/katib

[2019-11-25 04:12] cleveryg commented on #930
:"provider-job","msg":"NestedFieldCopy unstructured to status error","err":"Status is not found in job"}

[2019-11-25 04:13] cleveryg commented on #930
{"level":"error","ts":1574655083.0282233,"logger":"kubebuilder.controller","msg":"Reconciler error","controller":"suggestion-controller","request":"mykubeflow/bayseopt-example5","error":"Operation cannot be fulfilled on suggestions.kubeflow.org \"bayseopt-example5\": the object has been modified; please apply your changes to the latest version and try again"

[2019-11-25 04:15] cleveryg commented on #930
Create a post-training log:
{"level":"error","ts":1574655083.0282233,"logger":"kubebuilder.controller","msg":"Reconciler error","controller":"suggestion-controller","request":"mykubeflow/bayseopt-example5","error":"Operation cannot be fulfilled on suggestions.kubeflow.org \"bayseopt-example5\": the object has been modified; please apply your changes to the latest version and try again","stacktrace

[2019-11-25 04:22] gaocegege commented on #930
A log is expected but not found in your env. Could you show us `kubectl describe pod` of your training pod?

[code]

[2019-11-25 04:25] cleveryg commented on #930
Name:           bayseopt-example5-bayesianoptimization-7b9b9455bd-zj9x9
Namespace:      mykubeflow
Node:           192.168.0.213/192.168.0.213
Start Time:     Mon, 25 Nov 2019 12:23:50 +0800
Labels:         deployment=bayseopt-example5-bayesianoptimization
                experiment=bayseopt-example5
                pod-template-hash=7b9b9455bd
                suggestion=bayseopt-example5
Annotati

[2019-11-25 04:26] cleveryg commented on #930
Name:           bayseopt-example5-67lv2mlm-fvc2k
Namespace:      mykubeflow
Node:           192.168.0.212/192.168.0.212
Start Time:     Mon, 25 Nov 2019 12:25:10 +0800
Labels:         controller-uid=9d5d0c89-eda3-46d5-8104-a277351bda61
                job-name=bayseopt-example5-67lv2mlm
Annotations:    <none>
Status:         Running
IP:             172.20.56.7
Controlled By:  Job/bayseopt-example5

[2019-11-25 04:31] cleveryg commented on #930
The training task starts with the creation of a pod with the name suggestion-skopt:v0.7.0 mirror and then generates the training pod，But there is only one container inside the training pod。

[2019-11-25 05:10] gaocegege commented on #930
The namespace of your training pod is ` mykubeflow`, not `kubeflow`, does the namespace have the label `katib-metricscollector-injection: enabled`

[2019-11-25 05:12] cleveryg commented on #930
Name:         mykubeflow
Labels:       istio-injection=enabled
              katib-metricscollector-injection=enabled
Annotations:  owner: anonymous@kubeflow.org
Status:       Active

  Both kubeflow and mykubeflow have katib-metricscollector-injection: enabled and I have tested both kubeflow and mykubeflow without collecting metrics

[2019-11-25 05:15] gaocegege commented on #930
/cc @hougangliu

Do you have idea about it? I never have such problem before.

[2019-11-25 05:16] gaocegege commented on #930
@cleveryg Could you try to use StdOut instead of stdOut?

[code]

[2019-11-25 05:19] cleveryg commented on #930
Collector :v0.7.0 this image therefore does not collect metrics at all, but why didn't I call file-metrics-collector:v0.7.0 I can't find the reason why kubenrtes is version 1.13.4 I deliberately upgraded to 1.15.5 but it still doesn't work

[2019-11-25 05:20] cleveryg commented on #930
Name:           bayesianoptimization-example-j2gbgvmt-x4hbt
Namespace:      kubeflow
Node:           192.168.0.213/192.168.0.213
Start Time:     Mon, 25 Nov 2019 13:18:40 +0800
Labels:         controller-uid=b0b58051-2600-4bd8-82fb-9f0a8ed168c7
                job-name=bayesianoptimization-example-j2gbgvmt
Annotations:    <none>
Status:         Running
IP:             172.20.91.8
Controlled By:  J

[2019-11-25 05:21] gaocegege commented on #930
Cannot understand it. Maybe you could use Chinese?

[2019-11-25 05:23] cleveryg commented on #930
我根据katib-config的配置，大概判断出用来收集训练指标的镜像是file-metrics-collector:v0.7.0，但是在训练过程中file-metrics-collector:v0.7.0这个镜像没有被调用，我找不到原因，不知道为什么没有调用他，就像你说的训练的pod中只有我指定的训练容器，没有收集指标的容器产生

[2019-11-25 05:24] cleveryg commented on #930
我之前害怕是kubernetes的版本导致的，特意把1.13.4的版本升级到了1.15.5，可是还是没有收集到指标，现在的问题是自动化训练调参可以完成，但是训练结束后，katib收集不到指标，无法更新训练的状态

[2019-11-25 05:28] gaocegege commented on #930
@cleveryg Understand. Can you try https://github.com/kubeflow/katib/issues/930#issuecomment-557993414?

[2019-11-25 05:29] gaocegege commented on #930
@cleveryg The image file-metrics-collector:v0.7.0 will be used by the sidecar container. In your test case, the container is not created, thus it is not used. Thus the root cause is that the sidecar container is not created as expected.

[2019-11-25 05:30] cleveryg commented on #930
我试过了，好像还是不行。

[2019-11-25 05:30] cleveryg commented on #930
是的，这个原因我判断过，但是导致这个原因的问题，我没找到，不知道是什么问题导致sidecar container没有被创建

[2019-11-25 05:31] cleveryg commented on #930
sidecar container 是由katib-controller创建的吗？

[2019-11-25 05:32] gaocegege commented on #930
OK, can you use our standard example here?

[code]

[2019-11-25 05:33] cleveryg commented on #930
是的，我的test case就是直接 standard example 创建的

[2019-11-25 05:33] cleveryg commented on #930
kind: Experiment
metadata:
  namespace: kubeflow
  labels:
    controller-tools.k8s.io: "1.0"
  name: bayesianoptimization-example
spec:
  objective:
    type: maximize
    goal: 0.99
    objectiveMetricName: Validation-accuracy
    additionalMetricNames:
      - accuracy
  algorithm:
    algorithmName: bayesianoptimization
    algorithmSettings:
      - name: "random_state"
        value: "10"

[2019-11-25 05:36] cleveryg commented on #930
"kubebuilder.controller","msg":"Reconciler error","controller":"experiment-controller","request":"kubeflow/bayesianoptimization-example","error":"Operation cannot be fulfilled on experiments.kubeflow.org \"bayesianoptimization-example\": the object has been modified; please apply your changes to the latest version and try again"
我看katib-controller日志有这个报错，会是这个原因导致没有调用 sidecar container吗

[2019-11-25 05:41] johnugeorge commented on #930
@cleveryg This log is ok. Reconcile logic will retry again.  Which k8s version are you using?

[2019-11-25 05:41] johnugeorge commented on #929
/priority p2

[2019-11-25 05:42] gaocegege commented on #930
@johnugeorge

@cleveryg tried K8s 1.13.4 and 1.15.5.

[2019-11-25 05:42] johnugeorge commented on #928
/priority p2

[2019-11-25 05:42] cleveryg commented on #930
可能

[2019-11-25 05:42] gaocegege commented on #930
@cleveryg Did you solve it?

[2019-11-25 05:43] cleveryg commented on #930
是的kubernetes原先是1.13.4 后来我升级到了1.15.5 但是还是不行

[2019-11-25 05:43] johnugeorge commented on #928
This is no more required in k8s 1.15 as we could use more efficient object selector in web hooks

[2019-11-25 05:44] cleveryg commented on #930
没有呢， 这问题我想了2,3天了，还没解决

[2019-11-25 05:46] gaocegege commented on #930
Since you do not solve it, I think keep it open. Maybe @johnugeorge and @hougangliu have some suggestions about it.

[2019-11-25 05:46] gaocegege commented on #930
/open

[2019-11-25 05:48] cleveryg commented on #930
Thank you. Hope this problem can be solved soon

[2019-11-25 05:48] johnugeorge commented on #926
@wjddyd66 It is the metric name which you can find when tf event file is parsed

[2019-11-25 05:48] gaocegege commented on #923
dup with #930

/Close

[2019-11-25 05:48] #923 closed

[2019-11-25 05:50] johnugeorge commented on #930
Is the summary that @cleveryg couldn't run the standard bayesianoptimization  example on k8s 1.13.4 or k8s 1.15.5 ? Are there any special settings in the environment?

[2019-11-25 05:51] gaocegege commented on #930
/reopen

[2019-11-25 05:51] cleveryg commented on #930
With no special Settings, kubeflow0.7.0 was directly deployed after K8S was deployed

[2019-11-25 05:52] cleveryg commented on #930
The current version is 1.15.5, which is directly upgraded from 1.13.4 to 1.15.5

[2019-11-25 06:04] johnugeorge commented on #927
Got it. Both are different.
We can expose the suggestion deployment resources through the config file.  What do you think?

[2019-11-25 06:05] cleveryg commented on #930
这是从katib-ui看到的任务解析：
This is the task parsing seen from katib-ui:

"root":{3 items
"metadata":{9 items
"name":string"bayesianoptimization-example"
"namespace":string"kubeflow"
"selfLink":string"/apis/kubeflow.org/v1alpha3/namespaces/kubeflow/experiments/bayesianoptimization-example"
"uid":string"f62670b6-4502-4db5-b03d-a7b2b0f56580"
"resourceVersion":string"2894823"
"generation":int2
"creationTimes

[2019-11-25 06:11] gaocegege commented on #927
I think so. I have a PR to add hard-coded config #932

In the future, we should have it in katib-config.

[2019-11-25 06:20] cleveryg commented on #930
Is sidecar container created by katib-controller?

[2019-11-25 06:23] hougangliu commented on #930
Yes, can you `kubectl get experiment -oyaml` and paste the result in code format (between ``` and ```).

[2019-11-25 06:25] cleveryg commented on #930
apiVersion: kubeflow.org/v1alpha3
kind: Experiment
metadata:
  creationTimestamp: "2019-11-25T05:17:27Z"
  finalizers:
  - update-prometheus-metrics
  generation: 2
  labels:
    controller-tools.k8s.io: "1.0"
  name: bayesianoptimization-example
  namespace: kubeflow
  resourceVersion: "2894823"
  selfLink: /apis/kubeflow.org/v1alpha3/namespaces/kubeflow/experiments/bayesianoptimization-example

[2019-11-25 06:28] cleveryg commented on #930
This is a training task created by the standard example on github

[2019-11-25 06:29] hougangliu commented on #930
is it possible to let me logon your cluster to check what happened?

[2019-11-25 06:30] cleveryg commented on #930
Yes. How do you want to log in

[2019-11-25 06:34] hougangliu commented on #930
paste `cat ~/.kube/config` if your cluster ip is public

[2019-11-25 06:37] wjddyd66 commented on #926
@johnugeorge Thank you I resolved that! It's very amazing

[2019-11-25 06:38] cleveryg commented on #930
our kubernetes Private network private IP ，There is no public IP，But you can check the situation remotely with me, ok?

[2019-11-25 06:41] johnugeorge commented on #906
@richardsliu I was thinking the same way earlier that you suggested. But the biggest problem that I see is that Katib will need to have framework specific logic to generate the corresponding job type. Eg: Generate TFJob/PytorchJob template

[2019-11-25 06:46] cleveryg commented on #930
Remote via sunflower software?

[2019-11-25 06:47] gaocegege commented on #926
/close

[2019-11-25 06:47] #926 closed

[2019-11-25 06:48] hougangliu commented on #930
My computer cannot install such software for company policy. I am installing k8s 1.15.5 and try to reproduce the problem

[2019-11-25 06:52] cleveryg commented on #930
Thank you very much and hope to solve this problem soon. Thank you！！！

[2019-11-25 06:54] cleveryg commented on #930
Or can I map K8S 6443 port to the public network?

[2019-11-25 06:55] cleveryg commented on #930
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZ3akNDQTZxZ0F3SUJBZ0lVUHVubGlkNFY5VkNnNGwwL2o4Ujd4aGJ6YmZNd0RRWUpLb1pJaHZjTkFRRU4KQlFBd1p6RUxNQWtHQTFVRUJoTUNRMDR4RVRBUEJnTlZCQWdUQ0ZOb1pXNTZhR1Z1TVJFd0R3WURWUVFIRXdoVAphR1Z1ZW1obGJqRU1NQW9HQTFVRUNoTURhemh6TVE4d0RRWURWUVFMRXdaVGVYTjBaVzB4RXpBUkJnTlZCQU1UCkNtdDFZbVZ5Ym1WMFpYTXdIaGNOTVRreE1U

[2019-11-25 06:56] cleveryg commented on #930
https://127.0.0.1:6443  Do you change the public network IP after mapping?

[2019-11-25 07:10] hougangliu commented on #930
I just tested it in my k8s 1.15.5 cluster, everything works well.
[code]

[2019-11-25 07:12] cleveryg commented on #930
my K8S：
bayesianoptimization-example-2g7lvmfd-6jz92                       1/1     Running   0          17m
bayesianoptimization-example-bayesianoptimization-5b98d66dt9wj5   1/1     Running   0          18m
bayesianoptimization-example-c2v4dj2q-9mmn5                       1/1     Running   0          17m
bayesianoptimization-example-dtbqw8cz-s6pnl                       1/1     Running   0

[2019-11-25 07:12] cleveryg commented on #930
only one The container，why？？？

[2019-11-25 07:14] cleveryg commented on #930
[root@gpumaster01 ~]# kubectl get pod -n kubeflow
NAME                                                              READY   STATUS    RESTARTS   AGE
admission-webhook-bootstrap-stateful-set-0                        1/1     Running   0          3d
admission-webhook-deployment-7fd8b6f5bb-76x78                     1/1     Running   0          3d
application-controller-stateful-set-0

[2019-11-25 07:15] hougangliu commented on #930
please paste result `kubectl get po bayesianoptimization-example-2g7lvmfd-6jz92 -oyaml`

[2019-11-25 07:16] cleveryg commented on #930
[root@gpumaster01 ~]# kubectl get pod bayesianoptimization-example-2g7lvmfd-6jz92 -n kubeflow -o yaml
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2019-11-25T06:40:29Z"
  generateName: bayesianoptimization-example-2g7lvmfd-
  labels:
    controller-uid: dc291206-a1f9-435d-927a-4cf82b58123c
    job-name: bayesianoptimization-example-2g7lvmfd
  name: bayesianoptimization-example-2g7lvmfd

[2019-11-25 07:16] cleveryg commented on #930
[root@gpumaster01 ~]# kubectl get pod bayesianoptimization-example-2g7lvmfd-6jz92 -n kubeflow -o yaml
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2019-11-25T06:40:29Z"
  generateName: bayesianoptimization-example-2g7lvmfd-
  labels:
    controller-uid: dc291206-a1f9-435d-927a-4cf82b58123c
    job-name: bayesianoptimization-example-2g7lvmfd
  name: bayesianoptimization-example-2g7lvmfd

[2019-11-25 07:18] hougangliu commented on #930
`kubectl get trial`

[2019-11-25 07:22] cleveryg commented on #930
[root@gpumaster01 ~]# kubectl get trial -n kubeflow
NAME                                    TYPE      STATUS   AGE
bayesianoptimization-example-2g7lvmfd   Running   True     41m
bayesianoptimization-example-c2v4dj2q   Running   True     41m
bayesianoptimization-example-dtbqw8cz   Running   True     41m

[2019-11-25 07:28] gaocegege commented on #930
/reopen

[2019-11-25 07:54] hougangliu commented on #930
`kubectl get mutatingwebhookconfigurations`

[2019-11-25 07:55] cleveryg commented on #930
[root@gpumaster01 ~]# kubectl get mutatingwebhookconfigurations
NAME                                               CREATED AT
admission-webhook-mutating-webhook-configuration   2019-11-18T08:06:11Z
inferenceservice.serving.kubeflow.org              2019-11-20T03:09:30Z
istio-sidecar-injector                             2019-11-18T08:03:02Z
katib-mutating-webhook-config                      2019-11

[2019-11-25 08:07] cleveryg commented on #930
[root@gpumaster01 ~]# kubectl describe mutatingwebhookconfigurations katib-mutating-webhook-config
Name:         katib-mutating-webhook-config
Namespace:
Labels:       <none>
Annotations:  <none>
API Version:  admissionregistration.k8s.io/v1beta1
Kind:         MutatingWebhookConfiguration
Metadata:
  Creation Timestamp:  2019-11-19T04:07:54Z
  Generation:          1
  Resource Version:    1669840

[2019-11-25 08:10] hougangliu commented on #930
I have to admit that I have no any idea about what happened in your cluster. maybe I can try to help you troubleshoot at night when I go home and use my private computer to install sunflower

[2019-11-25 08:12] cleveryg commented on #930
Thank you very much！！！

[2019-11-25 08:21] cleveryg commented on #930
我想删除kubeflow，重新部署试试，但是 kubectl create -f kfctl_k8s_istio.0.7.0.yaml 报错：no matches for kind "KfDef" in version "kfdef.apps.kubeflow.org/v1beta1"

[2019-11-25 08:23] cleveryg commented on #930
抱歉 是我自己敲错命令！！！

[2019-11-25 08:36] hougangliu commented on #930
maybe you can try last solution before I login your cluster
[code]
and after the katib-controller starts again after serval seconds, re-create your new example and try again

[2019-11-25 09:57] johnugeorge commented on #902
Shall we close this?

[2019-11-25 12:02] johnugeorge commented on #921
Currently, katib supports only mysql as the underlying DB. You could change the credentials by setting here https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/manager/deployment.yaml#L25

It is also possible to add any custom database by extending https://github.com/kubeflow/katib/blob/master/pkg/db/v1alpha3/common/kdb.go

Please feel free to contribute if you would like to use a dif

[2019-11-25 12:17] johnugeorge commented on #922
Due to reconcile logic, this log can occur and it is necessarily not an error.

What is the  experiment final status?

what is the status of
kubectl -n kubeflow get experiment pavan-wl4cmhxq -o yaml

kubectl -n kubeflow get trials

[2019-11-25 12:44] xaniasd commented on #921
hi @johnugeorge, my proposal is slightly different; I still want to use mysql as a database, but on a  pod/server/service external to the katib deployment. In that case, I would prefer not to deploy the one in the base layer at all. Anyway, I'll create a PR and see how it fares :)

[2019-11-26 01:40] cleveryg commented on #930
I'm going crazy. I redeployed an article. The problem remains
bayesianoptimization-example-68ljldqc-n2mx6                       0/1     Completed   0          24m
bayesianoptimization-example-bayesianoptimization-7d74859fwjbqx   1/1     Running     0          26m
bayesianoptimization-example-x9z9hmqj-gpq8g                       0/1     Completed   0          24m
bayesianoptimization-example-xxkx7c

[2019-11-26 01:42] cleveryg commented on #930
Is there a log or method to determine why the container collecting the information was not called？？？

[2019-11-26 02:23] cleveryg commented on #930
@gaocegege @hougangliu Can you keep an eye on it for me？？？ 我测试其他的功能都没有问题 nodebook tfserving 都运行正常，唯独训练有这个监控的问题。

[2019-11-26 02:41] hougangliu commented on #930
did you try below command and then re-create a new sample?
[code]

[2019-11-26 02:46] cleveryg commented on #930
试过了，还是不行，而且我已经为安全的重新部署了一遍，也不行呢。
我刚才创建训练的时候跟踪的kubelet的日志 其中有个报错
No sandbox for pod "bayesianoptimization-example-z2rgpnfr-hm7sc_kubeflow(b7a107f2-85e4-42b7-96b1-2a496ec37316)" can be found. Need to start a new one
这个可以有关系吗？

[2019-11-26 02:58] cleveryg commented on #930
getPodContainerStatuses for pod "bayesianoptimization-example-bayesianoptimization-7d74859fr5qck_kubeflow(36a2e61e-0870-43a5-a522-631bb8b9783e)" failed: rpc error: code = Unknown desc = Error: No such container: adf7e0bc54e1b35d16d9d711b8d2e61080eb364aa77a3db83964fa7418e0a80f

[2019-11-26 03:29] hougangliu commented on #930
So I think the only thing I can do now is: you provide a way for me to login your cluster to troubleshoot

[2019-11-26 03:39] cleveryg commented on #930
I really hope that we can open the public network directly for you to log in. However, we are private cloud and cannot provide public network. We can only provide public network through remote software such as Sunlogin or QQ  。

[2019-11-26 04:35] hougangliu commented on #930
qq is ok for me

[2019-11-26 06:35] cleveryg commented on #930
Can I manually add file-metrics-collector:v0.7.0 to the yaml file to execute, and if so, can I give a yaml template??? @hougangliu

[2019-11-26 06:44] cleveryg commented on #930
65003903 thank you

[2019-11-26 06:45] cleveryg commented on #930
65003903 thank you

[2019-11-26 07:09] cleveryg commented on #930
@hougangliu The handsome boy，My qq number is 65003903.

[2019-11-26 08:52] cleveryg commented on #930
"provider-job","msg":"NestedFieldCopy unstructured to status error","err":"Status is not found in job" 是不是因为少了status啊

[2019-11-26 09:59] #930 closed

[2019-11-26 10:10] hougangliu commented on #930
Per investigation, the root cause is that the two webhooks are not included in kube-apiserver enable-admission-plugins

[2019-11-26 15:39] wstian opened #934 "stop a running experiment without deleting it"
/kind feature

**Describe the solution you'd like**
Sometimes I'd like to stop a running experiment because it's not good or something else,
but currently the only way I found is to delete the experiment, which will clear all the related information, including all trials.

In fact, I'd like the trials saved.

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2019-11-26 23:17] richardsliu commented on #906
@johnugeorge Then can we do something like:
1. Allow importing Job/TFJob/PytorchJob yaml files directly (instead of using GoTemplates)
2. Use Python AST or some other tool to replace the hyperparameters (perhaps from another file or configmap)
3. Experiment controller can overwrite other metadata like name, namespace, etc.

Would this work? I think this would address @jlewi 's concerns in https://

[2019-11-27 03:33] johnugeorge commented on #906
Can you explain bit more on 1)

[2019-11-27 04:51] richardsliu commented on #906
I was thinking along the lines of this answer: https://stackoverflow.com/a/9577670

Suppose we could somehow include the path to an existing Job/TFJob/PytorchJob definition (in valid YAML) as part of the trial template. We can then add another configmap for the hyperparameters to substitute. This means we can preserve all the fields in the original YAML templates, without cluttering the experiment

[2019-11-28 01:06] richardsliu opened #936 "[feature] Early Stopping Spec"
/kind feature

https://github.com/kubeflow/katib/issues/692

In order to make the API generic, we can use a structure similar to AlgorithmSettings (see https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1alpha3/common_types.go#L30):

[code]

We can implement the Median Stopping Rule as the starting point. So the spec would look like:
[code]

See also: https://ray.readthedocs

[2019-11-28 01:53] hougangliu commented on #936
SGTM

[2019-11-28 01:54] gaocegege commented on #936
LGTM

[2019-11-28 01:55] gaocegege commented on #934
@wstian There are several ways you can try.

- Delete experiment while using orphan policy
- Update the experiment.spec.Trials to a small number.

[2019-11-28 01:59] hougangliu commented on #924
#920 had fixed this issue (unfortunately not included in 0.7.0)
You can try to `kubectl edit configmap katib-config -n kubeflow` to use image including this fix as below
[code]

[2019-11-28 02:10] hougangliu commented on #934
I think you mean `experiment.spec.maxTrialCount`

[2019-11-28 02:10] gaocegege commented on #934
Yeah, I think so. Thanks

[2019-11-28 10:07] johnugeorge commented on #936
LGTM

[2019-11-28 10:08] johnugeorge commented on #936
Can you create a PR ? We can keep it in v1alpha3 as feature was not supported till now. WDYT?

[2019-11-29 04:23] richardsliu commented on #936
v1alpha3 sounds good. I can create a PR.

[2019-11-30 09:41] hougangliu opened #939 "metrics format can be customized"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
metrics format can be customized by spec.metricsCollectorSpec.source.filter.metricsFormat

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-11-30 21:38] yeya24 opened #940 "random-example cannot work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

In katib web ui, I submitted  https://github.com/kubeflow/katib/blob/7443f02c21/examples/v1alpha3/random-example.yaml as an experiment.

**What did you expect to happen:**
This example works well.

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2019-11-30 23:35] yeya24 commented on #940
Oh, I am sorry this is not a bug. The image in the example yaml don' t have a specific tag, when I use image v0.7.0, it works now.

[2019-11-30 23:56] yeya24 commented on #940
Met another problem.

[2019-12-01 03:44] gaocegege commented on #940
/cc @hougangliu

[2019-12-01 15:19] yeya24 commented on #940
Seems the mutating webhook did not work because I cannot find `echo completed` in containers' args. Did I use the old version of katib-controller?

[2019-12-01 16:19] yeya24 commented on #940
Oh, I got it. When I use the latest katib controller image, it works. I will close this issue

[2019-12-01 16:19] #940 closed

[2019-12-01 17:29] yeya24 commented on #929
This is very interesting. Does this collector directly queries the metrics from Prometheus API or just parses the file with Prometheus metrics format?

[2019-12-01 18:24] yeya24 opened #941 "Cannot get pod name in injector webhook"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Check the logs of katib-controller

![image](https://user-images.githubusercontent.com/25150124/69918222-8aa74500-143d-11ea-9b4e-9b0797921004.png)

The experiment with TFJob kind, it will print pod name. But for Batch job experiment,  the printed pod.name is ""

**What did you expect to

[2019-12-01 21:19] yeya24 commented on #941
Seems the Batch Job pod doesn' t have a Name field. It only has a GenerateName and we cannot get the pod name in mutating web hook.
[code]

[2019-12-02 01:41] gaocegege commented on #941
The webhook works at the pod level. The pod should have a name, although we use generate name in job. I think we should have a look at this issue.

Thanks for the report.

[2019-12-02 01:44] gaocegege commented on #929
In my opinion, the collector collects the metrics from Prometheus API and save it in katib db.

[2019-12-02 07:18] warf34 opened #943 "[HELP WANTED] All Pending"
hello, i want use katib not using minikube

i installed kubernetes like [this](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/)
and downloaded like this
`git clone https://github.com/kubeflow/katib`
and I entered this command
`bash ./katib/scripts/v1alpha3/deploy.sh`

but it showed this message
`error: unable to recognize "manifests/v1alpha3/0-namespace.yaml"

[2019-12-02 07:33] gaocegege commented on #943
@hougangliu Seems that the get confused users here.

@warf34 Hi, I am glad to help you to deploy katib. The two errors about webhook do not affect the workflow. Can you use `kubectl describe` to get more info about the pending pods?

[2019-12-02 07:33] gaocegege commented on #943
/kind question

[2019-12-02 07:43] warf34 commented on #943
entered command: `kubectl describe pods katib-controller-7f5b49d599-fpb7d`
result: `Error from server (NotFound): pods "katib-controller-7f5b49d599-fpb7d" not found`

[2019-12-02 07:48] gaocegege commented on #943
We install the katib in kubeflow namespace, thus you need to add -n kubeflow:

[code]

[2019-12-02 07:49] warf34 commented on #943
[code]

[2019-12-02 07:50] gaocegege commented on #943
[code]

It seems that your node is not ready or has some taints.

[2019-12-02 07:59] warf34 commented on #943
node? how to solve problem?
Do I need to reinstall kubernetes?

[2019-12-02 08:23] gaocegege commented on #943
You could kubectl describe nodes to have more details

[2019-12-02 09:40] warf34 commented on #943
like this?
[code]

[2019-12-02 10:06] gaocegege commented on #943
Taints:             node-role.kubernetes.io/master:NoSchedule

Node has a taint.

[2019-12-02 10:07] warf34 commented on #943
how to solve?

[2019-12-02 15:13] yeya24 commented on #943
kubectl taint node <your master node name> node-role.kubernetes.io/master-

[2019-12-02 17:47] andreyvelich opened #944 "MetricsCollector does not parse time of the metric"
/kind bug

I can't see time in `observation_logs` table after experiment finish.

**What steps did you take and what happened:**
I ran [random-example](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml) on my GCP cluster. In the Trial's containers I got warning like this:
[code]
After that, I checked information in `observation_logs` table and I saw this time: `00

[2019-12-02 17:49] yeya24 commented on #929
From the code
[code]
It seems that the metrics collector does not query the metrics from a central Prometheus server because there is a `/metrics` path here. if you want to query Prometheus API, the /metrics path is not necessary.
Seems that the training job starts a server providing Prometheus metrics? Then the collectors parses the metrics, and upload to the metrics to katib manager.

@hougangli

[2019-12-02 19:15] karlschriek commented on #924
Great, that's good to know thaks! I'll give the custom fix a try, otherwise I'll come back to this with the next release.

[2019-12-02 20:52] yeya24 opened #945 "The file metric collector example docker image does not sync with the code"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The trial image docker.io/liuhougangxa/pytorch-mnist:1.0 in https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/file-metricscollector-example.yaml is outdated with https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/file-metrics-collector/mnist.py.

The mnist.py i

[2019-12-03 17:11] andreyvelich commented on #945
I faced with the same problem.
After creating docker image with the latest mnist.py code `file-metricscollector-example` works.

Maybe, we can't pass CI tests because of this issue, in e2e test we use yaml from examples folder:
https://github.com/kubeflow/katib/blob/master/test/scripts/v1alpha3/run-file-metricscollector.sh#L59

[2019-12-03 17:28] andreyvelich opened #946 "[UI Feature] Namespace selection in monitor page"
/kind feature

**Describe the solution you'd like**

In Katib UI experiments monitor page user should be able to view experiment in specific namespace.
We can add select list with all available namespace there.

[2019-12-03 17:28] andreyvelich commented on #946
/assign

[2019-12-03 23:17] eriklincoln commented on #924
@karlschriek were you able to test this out to see if it fixed your problem? I think I'm having a similar problem with the `TensorFlowEvent` collector. I'm also using TF 2.0 (Docker image `tensorflow/tensorflow:nightly-py3`) but with a custom training loop.

I'm writing out my metric scalars via a writer created from `tf.summary.create_file_writer` and actually writing the scalar with `tf.summary.

[2019-12-04 05:54] hougangliu commented on #945
I updated the source code in https://github.com/kubeflow/katib/pull/947

[2019-12-04 09:00] johnugeorge commented on #945
@hougangliu Can you move it to a common repo  instead of your private registry? Currently, did you retag your image with latest changes?

[2019-12-04 09:08] #939 closed

[2019-12-04 11:26] karlschriek commented on #924
@eriklincoln I haven't really had a chance to try it yet. Also unlikely that I'll get to it before january

[2019-12-05 04:42] #936 closed

[2019-12-05 05:41] johnugeorge commented on #884
/area front-end

[2019-12-05 05:43] johnugeorge commented on #722
/area front-end

[2019-12-05 05:44] johnugeorge commented on #946
/area front-end

[2019-12-05 05:46] johnugeorge commented on #945
Closing this issue as https://github.com/kubeflow/katib/pull/949 keeps images in kubeflowkatib repo.

[2019-12-05 05:46] johnugeorge commented on #945
/close

[2019-12-05 05:46] #945 closed

[2019-12-05 07:02] jlewi commented on #906
Tekton might be a good reference point for how to store templates and parameterize them.

[2019-12-05 07:06] gaocegege commented on #906
@jlewi Thanks for the suggestion. Do you mean this way?

[code]

[2019-12-06 07:35] johnugeorge commented on #921
You could then use overlays in manifests
See https://github.com/kubeflow/manifests/blob/master/katib/katib-controller/overlays/ibm-storage-config/kustomization.yaml how to override the base db deployment

[2019-12-06 07:36] johnugeorge commented on #395
There is suggestion CR which checkpoints the suggestion state.

[2019-12-06 07:36] johnugeorge commented on #395
Closing the issue as the feature is already in v1alpha3
/close

[2019-12-06 07:36] #395 closed

[2019-12-06 15:44] johnugeorge commented on #891
#952

[2019-12-06 16:09] johnugeorge commented on #346
It is duplicate of #891

[2019-12-06 16:09] johnugeorge commented on #346
Closing this issue
/close

[2019-12-06 16:09] #346 closed

[2019-12-09 05:13] #891 closed

[2019-12-09 05:13] johnugeorge commented on #768
2. Validate that maxTrials if set is not set to zero

[2019-12-09 05:16] johnugeorge commented on #886
Changes are merged as part of https://github.com/kubeflow/katib/pull/937

[2019-12-09 05:16] johnugeorge commented on #886
Closing the PR
/close

[2019-12-09 05:16] #886 closed

[2019-12-09 06:16] hougangliu commented on #944
default metricsCollector always try to parse each line of user-application log, and timestamp is expected at start of the line, if there is no timestamp, ignore timestamp (use NULL in time field).
So maybe we can fix the example image and make its log follow this format

[2019-12-09 06:20] hougangliu opened #955 "katib cannot work in namespace with istio-injection enabled"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
For now, in Kubeflow notebook server, when a notebook created, a namespace aslo is created with label `istio-injection: enabled`. If a user create a katib experiment in the namespace, all katib Pods will be injected with Istio-proxy sidecar container, which will lead to the Pod never com

[2019-12-09 06:27] hougangliu commented on #768
/assign

[2019-12-09 06:41] hougangliu opened #956 "katib-controller crashed when parallelTrialCount is negative"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I set experiment parallelTrialCount, the katib-contrller crashed with below message

[code]
**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Miniku

[2019-12-09 06:43] gaocegege commented on #956
We need a validation webhook for it, I think.

[2019-12-09 06:48] hougangliu commented on #956
/assign

[2019-12-10 04:27] #946 closed

[2019-12-10 15:17] barambani commented on #921
I tried to customise the MySql instance as well. I did it trough env var but I couldn't find a way to set a username. Are there variables for that ? I checked [here](https://github.com/kubeflow/katib/blob/d9bb39e338d0cd317ef869914cf4712f0cd912ad/pkg/db/v1alpha3/common/const.go#L6).
Also, it looks like that the db name is hardcoded and cannot be changed. Again, if I sett the `KATIB_MYSQL_DATABASE `

[2019-12-10 18:16] andreyvelich commented on #944
@hougangliu Yes, I agree we need to create example with printing timestamp in training container, like we did with `file-metrics-collector`.
Will take it.
/assign

[2019-12-10 20:58] whigy commented on #930
I am facing the same problem, can you please help updating the solution?

[2019-12-11 02:46] hougangliu commented on #955
@johnugeorge @gaocegege @richardsliu WDYT about this issue?

[2019-12-11 03:39] gaocegege commented on #955
I think we can refer to istio's design. They support fine-grained control of the injection logic.

[2019-12-11 04:56] #768 closed

[2019-12-11 04:56] #956 closed

[2019-12-11 05:04] hougangliu commented on #955
yes, adding `sidecar.istio.io/inject: “false”` in pod annotation can stop injecting, but I wonder if it is good to do that

[2019-12-11 06:33] johnugeorge commented on #921
@barambani Can you explain more on what you are trying to customize?

[2019-12-11 10:06] barambani commented on #921
Sure, I'm trying to use a managed solution as database (in my case AWS Aurora). Also I need to change the database name as I have some instances writing to the same Aurora cluster at the same time. For that I was assuming that I needed to set mysql's
- user name
- password
- host
- port
- database name

[2019-12-11 11:23] vpavlin opened #959 "Katib Controller fails to run as non-root user in OpenShift"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

* Deploy Katib with `kfctl` on OpenShift 4.x cluster
  * You can follow this WIP PR: https://github.com/opendatahub-io/manifests/pull/4
* Katib Controller fails with error about not being able to bind to port `:443`

**What did you expect to happen:**

Katib Controller starts and runs s

[2019-12-11 11:32] vpavlin opened #961 "Katib DB readinessProbe should specify user explicitly"
/kind bug

**What steps did you take and what happened:**

Deploy Katib using `kfctl` on OpenShift 4.x

OpenShift runs containers as non-root users by default for security reasons. If that happens the `readinessProbe` in Katib DB deployment will fail because the command will pick up the container user instead of `root`

[code]

It would be ideal to add `-u root` explicitly

This issue has already

[2019-12-11 11:57] xaniasd commented on #921
@barambani [here](https://github.com/kubeflow/pipelines/pull/2668) is a relevant PR for pipelines, I'll submit a similar one for katib soon. You'll probably need to configure other parameters (like TLS) as well.

@johnugeorge I guess I can set the number of replicas to 0 in my custom overlay, however this seems more convoluted to me (and certainly less clean) than not deploying the db resources at

[2019-12-11 12:07] barambani commented on #921
Brilliant thanks. I'm already able to use set up pipelines to store to Aurora using the environment libraries overrides. Related to pipelines (sorry if this is not the most relevant place for it), can you point me to the code or the an example where I can see how to move to S3 also the pipeline's graph metadata that are currently stored to minio's pvc ? I would like to have backed up managed persi

[2019-12-11 13:46] vpavlin opened #963 "Experiments execution fails due to non-initialized securityContext in injected container"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

* Deploy Katib using Kubeflow on OpenShift 4.x
* Submit https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml
* In `kubectl describe jobs`:

[code]

The core issue is that the `mutating.pod.katib.kubeflow.org` injects a container after some other webhook ha

[2019-12-11 17:13] andreyvelich commented on #944
@hougangliu Should I use docker.io/kubeflowkatib repo to push my image or I should use my own docker hub?

[2019-12-11 17:21] vpavlin opened #966 "Katib UI fails to run as non-root user on OpenShift"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

Katib UI fails to bind to port `80` as a non-root user.

Same as #959

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

OpenShift 4.2

[2019-12-11 23:36] hougangliu commented on #944
we should use `docker.io/kubeflowkatib`, please leave your docker hub account so that I can add you to the org

[2019-12-12 00:30] #966 closed

[2019-12-12 01:09] ethanscho opened #968 "Katib UI does not show in Kubeflow central dashboard"
/kind bug

**What steps did you take and what happened:**
installed
- microk8s 1.14/stable
- kubeflow 0.7.0

accessed kubeflow central dashboard, but in the katib section, nothing was shown.

**What did you expect to happen:**
expected to see katib ui

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**
- ubuntu 16.04
- micr

[2019-12-12 02:14] #961 closed

[2019-12-12 06:58] hougangliu commented on #941
I think it works as expected, for Kubernetes controller, when generating a Pod, it only specifies `GenerateName`, before persisting the Pod, it will call webhook (`Name` still be not generated based on `GenerateName`)
For kubeflow Pod (Tfjob and PytrochJob), its name is specified when generated, so in webhook, the `Name` is not ""

[2019-12-12 12:19] yeya24 commented on #941
@hougangliu  Thanks for your reply.
Yes, this still works as expected. So this issue is only about the log cannot print the pod name. Just that, in the webhook level, it still works well.

[2019-12-12 14:03] andreyvelich commented on #944
@hougangliu Sure, my id is: andreyvelichkevich

[2019-12-13 00:44] #959 closed

[2019-12-13 14:26] prcastro opened #971 "Show trial logs on the interface"
/kind feature

**Describe the solution you'd like**

The problem is accessing and debugging the trials of a model. A possible solution is to have, on the interface, a way to access the logs of each trial. Seeing what trials are running and which ones are failing are a plus.

[2019-12-13 16:35] andreyvelich opened #972 "[UI Feature] Select namespace from Kubeflow Central Dashboard"
/kind feature

We need to have connection between Katib UI and Kubeflow Central Dashboard.
If user select namespace in Central Dashboard:
1. User should see experiments only in selected namespace
2. User should be able to create experiments only in selected namespace

If you have any thoughts about other functionalities related to this let me know
@johnugeorge @gaocegege @hougangliu

/assign @andr

[2019-12-13 18:21] krishnadurai commented on #972
/cc @avdaredevil

[2019-12-13 18:50] jlewi commented on #906
@gaocegege yes; To be clear I'm suggesting we take that as inspiration not copy it exactly.

[2019-12-13 19:54] johnugeorge commented on #971
/area frontend

/cc @andreyvelich

[2019-12-13 19:55] johnugeorge commented on #971
/area front-end

[2019-12-13 23:59] yeya24 opened #973 "Cannot change webhook port"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Started katib-controller with default webhook port 8443, however the webhook service port is still 443.

Part of katib-controller yaml, the controller image is built using master branch.
[code]

part of webhook , the service port is still 443
[code]

From the code of v0.1.9 controller-r

[2019-12-15 06:32] avdaredevil commented on #972
This communication channel already exists between Notebooks UI and Central-Dashboard via an [SDK we provide](https://github.com/kubeflow/kubeflow/tree/master/components/centraldashboard#client-side-library):
- It allows the client to detect whether it's in running inside central-dashboard or as an independent page
- Allows client to hook into namespace change events that are passed from CDash.

I'

[2019-12-16 01:32] gaocegege commented on #906
Gotcha. Thanks

[2019-12-16 01:42] gaocegege commented on #972
LGTM

[2019-12-16 01:50] gaocegege commented on #973
@yeya24 We can only use 443 since APIServer will send the request to 443. You can see we use 8443 as target port.

[code]

[2019-12-16 02:20] yeya24 commented on #973
I miss that and find out the bug caused by my misconfiguration. Thanks! @gaocegege
Close this now

[2019-12-16 02:20] #973 closed

[2019-12-16 09:33] gaocegege opened #975 "[feature] Add a flag to allow users use local fs to store webhook cert"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

/assign @gaocegege

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-12-16 09:44] b675987273 opened #976 "deploy.sh will kill my kubeflow if i want to replace katib version force."
/kind feature

**Describe the solution you'd like**
[I rewrote the v1a3's deploy.sh. I used "replace" but "apply -f", then it rebuilt my kubeflow namespace. But I just want to update the katib version. Maybe the deploy.sh use "replace" but deny replace namespace]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-12-16 12:06] vpavlin commented on #917
It is a common problem among cloud provider and storage backends in general. There are some heavily used (GCP PD, AWS EBS, Ceph) which do not support `ReadWriteMany` specifically because they won't allow you to attach one block device to multiple nodes, thus if you scale up and scheduler distributes the load, containers won't start because the volume will not be able to attach to multiple nodes.

[2019-12-16 12:15] vpavlin commented on #955
Adding istio sidecars only makes sense if the container exposes any open ports, right? Which parts of Katib are you talking about here?

My guess is this is about jobs generated by trials. In that case, I would say adding `inject: false` is a pretty safe bet as jobs should not expose anything via network anyway as a user cannot really control their run (unlike for deployments).

[2019-12-16 19:19] zhenghuiwang opened #977 "Add licenses for dependencies in Katib images"
Related to kubeflow/testing#539

Need to add all license content for thrid-party dependencies in all Katib images.

[2019-12-16 19:19] zhenghuiwang commented on #977
/cc @richardsliu

[2019-12-17 01:48] gaocegege commented on #955
SGTM. From the perspective of users, I think they do not want to have a long running istio sidecar in the training pod.

[2019-12-17 01:53] gaocegege commented on #917
@vpavlin 's advice SGTM.

For katib-mysql, I think the users should have other choices to deploy a SQL DB.

For trial-used volumes,  if we do not have a ReadWriteMany volume, the parallelism will be limited.

[2019-12-17 05:43] #975 closed

[2019-12-17 10:14] vpavlin commented on #928
This could actually solve https://github.com/kubeflow/katib/issues/963 as it would reorder actions - first add the container in the Job and then let a job controller generate the pod, so it makes sense form my point of view:)

[2019-12-19 23:41] hougangliu commented on #941
I don't think it is an issue. it is Kubernetes feature that Webhook can never get Pod name if it is only set `GenerateName` (if the pod is generated by Job, RS and so on).
I think we can close it

[2019-12-19 23:42] hougangliu commented on #928
@vpavlin yes, it can solve #963, but it is low priority as plan and will be included in Kubeflow 1.0 release

[2019-12-20 00:07] yeya24 commented on #941
@hougangliu  Agree. Close now

[2019-12-20 00:07] #941 closed

[2019-12-20 08:32] devxoxo opened #981 "ERROR:grpc._server:Exception calling application: Method not implemented!"
/kind bug

Hi, I'm having trouble using katib v1alpha3.
First, I installed katib by the followings
  1) git clone https://github.com/kubeflow/katib
  2) sh katib/scripts/v1alpha3/deploy.sh

And I tried to apply random-example.yaml
kubectl apply -f random-example.yaml
(example in katib/examples/v1alpha3)

**Results:**
kubectl get pods -n kubeflow
NAME                                     READY   STA

[2019-12-20 13:35] nrchakradhar commented on #981
We are also facing same error and not able to find what is the actual error.
/cc @nrchakradhar

[2019-12-20 15:25] nrchakradhar commented on #981
/cc @johnugeorge @richardsliu
Can you please help. We may be making some basic mistake

[2019-12-20 21:27] johnugeorge commented on #981
Just wondering if this is a redeployment of Katib ? Or is it a fresh deployment?

[2019-12-20 21:34] johnugeorge commented on #981
Suggestion algorithms uses images of latest tag (in master branch) . https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/katib-controller/katib-config.yaml
I am wondering if there are any older images with latest tag.can you check sha of existing image in your cluster?

[2019-12-21 15:21] ramdootp opened #983 "Support for user configurable distributions for hyperparameters"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Users are restricted to use few katib initialized distributions for hyperparameters in random algo.
But, underlying hyperopt can supports a wide range of distributions.
Please add support for user configurable distributions for hyperparameters.

**Anything else you would like to add:*

[2019-12-22 13:15] UrmsOne opened #984 "Replace mysql in pod with an external mysql"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Distributed mysql services are provided in my company, so I would like to replace it with mysql

provided by the company.But the database user name cannot be changed dynamically.

As shown below:
![image](https://user-images.githubusercontent.com/31981402/71322169-a1523080-24ff-11ea-9

[2019-12-23 01:27] devxoxo commented on #981
This is a redeployment of Katib.
The list of docker images is as follows
Do I have to delete some images?

docker images
REPOSITORY                                                          TAG                         IMAGE ID            CREATED             SIZE
gcr.io/kubeflow-images-public/katib/v1alpha3/suggestion-hyperopt    latest                      35a044ef43ac        6 days ago          1.

[2019-12-23 01:44] gaocegege commented on #984
You can do it with some changes to manifests, I think.

[2019-12-23 06:28] gaocegege opened #987 "[feature] Show more information about best trial"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubeflow/katib/pull/986#issuecomment-568371597

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-12-27 02:51] #984 closed

[2020-01-01 02:53] #963 closed

[2020-01-02 04:09] gaocegege opened #992 "[feature] Add a flag to control the securityContext injection behavior."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2020-01-02 04:39] ijackcy opened #993 "[ERROR] [MY-011092] [Server] Upgrading the data dictionary from dictionary version '1' is not supported."
/kind bug

I had a problem when i install kubeflow 0.7.   i found some pods didn't work well.
pod/katib-db-75975d8dbd-989ln                                      0/1     CrashLoopBackOff   475        41h
pod/katib-manager-59bb84948f-jldjh                                 0/1     CrashLoopBackOff   483        41h
pod/metadata-db-7584d44b65-c2slb                                   0/1     CrashLoopBack

[2020-01-02 04:43] gaocegege commented on #993
We upgrade the MySQL version in the new release. And it is not caused by katib itself. It is a upstream bug. https://bugs.mysql.com/bug.php?id=90802

[2020-01-02 08:57] b675987273 opened #995 "How can we wget $IP-of-katib-ui directly?"
/kind feature

**Describe the solution you'd like**
[I would like to wget a ui-web by using katib-ui service. A full kubeflow is too big]

**Anything else you would like to add:**
[Or, you can tell us how it works]

[2020-01-02 09:17] gaocegege commented on #995
You can make the katib-ui service to be a node-port service. Then you can visit it directly.

[2020-01-02 09:51] b675987273 commented on #995
I changed the svc model and try to curl ip:nodeport. But it is still "404 page not found"
[code]
[code]

[2020-01-02 10:10] gaocegege commented on #995
Try hostip:port/katib/

[2020-01-02 11:36] b675987273 commented on #995
Nice, it works.Thanks!

[2020-01-03 04:05] #972 closed

[2020-01-06 08:04] wyong16 opened #997 "can't set up CRD "Experiment""
when I deploy katib_v1alpha3 with scripts/v1alpha3/deploy.sh, the katib-controller pod gives  the following error:
{"level":"info","ts":1578296376.3173876,"logger":"entrypoint","msg":"Config:","experiment-suggestion-name":"default","cert-local-filesystem":false}
{"level":"info","ts":1578296376.375878,"logger":"entrypoint","msg":"Registering Components."}
{"level":"info","ts":1578296376.3765948,"lo

[2020-01-06 08:09] gaocegege commented on #997
Did you remove the older version of katib?

[2020-01-06 08:10] wyong16 commented on #997
Yes, I remove the v1alpha2 with undeploy.sh

[2020-01-06 08:15] gaocegege commented on #997
Could you please show me the output of `kubectl describe crd experiments`?

[2020-01-06 08:18] wyong16 commented on #997
Name:         experiments.kubeflow.org
Namespace:
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"apiextensions.k8s.io/v1beta1","kind":"CustomResourceDefinition","metadata":{"annotations":{},"name":"experiments.kubeflow.o...
API Version:  apiextensions.k8s.io/v1beta1
Kind:         CustomResourceDefinition
Metadata:
  Creation Time

[2020-01-06 08:20] wyong16 commented on #997
Name:         experiments.kubeflow.org
Namespace:
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"apiextensions.k8s.io/v1beta1","kind":"CustomResourceDefinition","metadata":{"annotations":{},"name":"experiments.kubeflow.o...
API Version:  apiextensions.k8s.io/v1beta1
Kind:         CustomResourceDefinition
Metadata:
  Creation Time

[2020-01-07 02:46] sarahmaddox opened #1002 "The links to "additional information" on the Katib dashboard need updating"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The links to "additional information" on the Katib dashboard are out of date, since the main docs now live on the website.

**What did you expect to happen:**

We should have one link for docs (website) and another for contributors (GitHub).

**Anything else you would like to add:**
[Mi

[2020-01-07 02:46] sarahmaddox commented on #1002
/assign

[2020-01-07 02:49] gaocegege commented on #997
@johnugeorge @hougangliu

Do you have any idea about the problem? I cannot see problems in the deployment.

[2020-01-07 02:49] gaocegege commented on #992
We already have it. Ref #994

[2020-01-07 02:49] #992 closed

[2020-01-07 03:01] johnugeorge commented on #997
Looks ok to me too. Is it being seen consistently?  Can you try restarting katib controller deployment?

[2020-01-07 03:10] wyong16 commented on #997
Yes, I have tried to restart crd-experiment/katib-controller/the whole katib project, but none of them does help!

[2020-01-07 03:24] johnugeorge commented on #997
Kubectl get experiments
Does it complain?

[2020-01-07 03:27] wyong16 commented on #997
Yes, like this:
`error: the server doesn't have a resource type "experiments"`

[2020-01-07 03:36] #1002 closed

[2020-01-07 04:00] hougangliu commented on #997
It seems CRD conflict somehow, you can try `kubectl delete -f manifests/v1alpha3/katib-controller/` and  `kubectl apply -f manifests/v1alpha3/katib-controller/`

[2020-01-07 04:22] wyong16 commented on #997
It doesn't help!

发自我的小米手机
在 Hougang Liu <notifications@github.com>，2020年1月7日 12:00写道：

It seems CRD conflict somehow, you can try kubectl delete -f manifests/v1alpha3/katib-controller/ and kubectl apply -f manifests/v1alpha3/katib-controller/

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/kubeflow/katib/issues/997?emai

[2020-01-07 04:23] wyong16 commented on #997
It doesn't help!

[2020-01-07 06:34] johnugeorge commented on #997
This issue has to be tracked in k8s repo.

[2020-01-07 07:21] hougangliu commented on #997
@wyong16 please paste result of
[code]

[2020-01-07 07:25] wyong16 commented on #997
`customresourcedefinition.apiextensions.k8s.io "experiments.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "suggestions.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "trials.kubeflow.org" deleted
configmap "katib-config" deleted
deployment.apps "katib-controller" deleted
clusterrole.rbac.authorization.k8s.io "katib-controller" deleted
serviceaccount "kati

[2020-01-07 07:26] wyong16 commented on #997
`customresourcedefinition.apiextensions.k8s.io "experiments.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "suggestions.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "trials.kubeflow.org" deleted
configmap "katib-config" deleted
deployment.apps "katib-controller" deleted
clusterrole.rbac.authorization.k8s.io "katib-controller" deleted
serviceaccount "kati

[2020-01-07 07:29] wyong16 commented on #997
customresourcedefinition.apiextensions.k8s.io "experiments.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "suggestions.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "trials.kubeflow.org" deleted
configmap "katib-config" deleted
deployment.apps "katib-controller" deleted
clusterrole.rbac.authorization.k8s.io "katib-controller" deleted
serviceaccount "katib

[2020-01-07 07:29] wyong16 commented on #997
customresourcedefinition.apiextensions.k8s.io "experiments.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "suggestions.kubeflow.org" deleted
customresourcedefinition.apiextensions.k8s.io "trials.kubeflow.org" deleted
configmap "katib-config" deleted
deployment.apps "katib-controller" deleted
clusterrole.rbac.authorization.k8s.io "katib-controller" deleted
serviceaccount "katib

[2020-01-07 08:42] hougangliu commented on #997
based on the result, there is still another CRD has `listKind: ExperimentList` field, please check which CRD this field belongs to

[2020-01-07 08:47] hougangliu commented on #997
you can find the CRD name by `kubectl get crd -oyaml |egrep "name:|listKind: ExperimentList"` to match it by latest `name` output before `ExperimentList` output

[2020-01-08 01:56] wyong16 commented on #997
Thank you so much, it does work! But I'm not sure is it right to contain only four pods (I mean there is no suggestion pod/metrics pod)
![捕获](https://user-images.githubusercontent.com/23649264/71943803-cb446c00-31fc-11ea-8d02-b304c0db400f.PNG)

[2020-01-08 01:58] gaocegege commented on #997
@wyong16 In v1alpha3, we do not have the long-running suggestions. When you create an Experiment, the controller will create a suggestion pod for the Experiment.

[2020-01-08 02:02] wyong16 commented on #997
Thank you! But I have another problem. When I create a new random-example, the example pod gives the following error:
INFO:hyperopt.utils:Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
INFO:hyperopt.fmin:Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
ERROR:grpc._server:Exception calling application: Met

[2020-01-08 02:03] gaocegege commented on #997
It does not affect the main workflow. You can get the suggestion work although there is an error. Can you show me `kubectl describe suggestions` in your namespace?

[2020-01-08 02:09] wyong16 commented on #997
### Name:         pytorchjob-example
Namespace:    kubeflow
Labels:       <none>
Annotations:  <none>
API Version:  kubeflow.org/v1alpha3
Kind:         Suggestion
Metadata:
  Creation Timestamp:  2020-01-07T11:26:33Z
  Generation:          1
  Owner References:
    API Version:           kubeflow.org/v1alpha3
    Block Owner Deletion:  true
    Controller:            true
    Kind:

[2020-01-08 02:10] gaocegege commented on #997
@wyong16 You can see that the suggestions are generated and shown in status:

[code]

[2020-01-08 02:13] wyong16 commented on #997
But when I use `kubectl describe experiment pytorchjob-example -n kubeflow`,  I find the `Trials Pending`  is always 1. And the random-example was created for 14 hours(the computing resource is confirmed in the example pod).

[2020-01-08 02:15] wyong16 commented on #997
But when I use `kubectl describe experiment pytorchjob-example -n kubeflow`, I find the `Trials Pending` is always 1. And the random-example was created for 14 hours(the computing resource is confirmed in the example pod).

[2020-01-08 02:15] gaocegege commented on #997
@wyong16 Can you  show me `kubectl -n kubeflow describe trials` and `kubectl -n kubeflow describe pytorchjobs`

[2020-01-08 02:20] wyong16 commented on #997
`kubectl -n kubeflow describe trials`:
`Name:         pytorchjob-example-9rfs9j7p
Namespace:    kubeflow
Labels:       experiment=pytorchjob-example
Annotations:  <none>
API Version:  kubeflow.org/v1alpha3
Kind:         Trial
Metadata:
  Creation Timestamp:  2020-01-07T11:26:50Z
  Finalizers:
    clean-metrics-in-db
  Generation:  1
  Owner References:
    API Version:           kubeflow.org/v1alp

[2020-01-08 02:36] gaocegege commented on #997
@wyong16 In your cluster, there is no pytorchjob controller, thus the pytorchjob is not reconciled. Maybe you could try https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml or run the https://github.com/kubeflow/pytorch-operator/ in your cluster.

[2020-01-08 02:36] gaocegege commented on #995
/close

[2020-01-08 02:36] #995 closed

[2020-01-08 02:40] wyong16 commented on #997
But I can see pytorchjobs.kubeflow.org by `kubectl get crd`

[2020-01-08 02:43] gaocegege commented on #997
@wyong16 What's the version of the pytorchjob crd?

[2020-01-08 02:54] wyong16 commented on #997
`version: v1
versions:
- name: v1
   served: true
   storage: true
-  name: v1beta2
   served: true
   storage: true`
Do you mean this?

[2020-01-08 02:59] gaocegege commented on #997
Yeah, Do you have pytorch-operator running?

[2020-01-08 03:01] wyong16 commented on #997
Sorry, I'm not sure. How can I confirm it?

[2020-01-08 05:46] hougangliu opened #1004 "rename katib-manager and katib-db"
/kind feature

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
For now, when install katib, we have katib-manager and katib-db service/deployment, in fact, we should rename them to katib-db-manager and katib-mysql respectively to reduce confusion

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous informa

[2020-01-08 05:46] hougangliu commented on #1004
@johnugeorge @gaocegege @richardsliu WDYT?

[2020-01-08 06:09] hougangliu commented on #1004
/assign

[2020-01-08 06:10] hougangliu commented on #997
`kubectl get deploy --all-namespaces|grep pytorch-operator`

[2020-01-08 06:21] johnugeorge commented on #1004
SGTM

[2020-01-08 07:36] gaocegege commented on #1004
SGTM

[2020-01-08 08:30] wyong16 commented on #997
Why is that once the worker completes, the master state becomes CrashLoopBackOff immediately. And the state of the example is always running!

[2020-01-08 08:40] gaocegege commented on #997
How's the log of the master?

[2020-01-08 08:42] wyong16 commented on #997
No logs! It just restarts and restarts ....

[2020-01-08 08:46] wyong16 commented on #997
But the katib-controller complains:
[code]

[2020-01-08 09:05] gaocegege commented on #997
Maybe it is caused by the metrics collector. Could you please try the random-example?

[2020-01-08 09:09] wyong16 commented on #997
Ok, I will have a try. Thank you!

[2020-01-08 11:35] wyong16 commented on #997
Can't create pod for random-example!
![error complete](https://user-images.githubusercontent.com/23649264/71974954-d1166d80-324d-11ea-8559-22e17d955a51.PNG)

[2020-01-08 16:53] martham93 opened #1007 "Metrics Collector for TensorFlowEvent and GCS path"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I created a `yaml` file and included a path to where tensorflow event files are stored on Google Cloud Storage. I was wondering if it is possible for katib to handle a source file for a tf event as a metrics collector directly from GCS.

[code]
the command `kubectl create -f <path to ya

[2020-01-08 21:28] #1007 closed

[2020-01-09 11:49] #1004 closed

[2020-01-13 06:12] #993 closed

[2020-01-14 05:55] #944 closed

[2020-01-14 10:44] karlschriek commented on #924
So I've finally had the chance to come back to this today. @hougangliu, I edited the katib-config ConfigMap to use: `gcr.io/kubeflow-images-public/katib/v1alpha3/tfevent-metrics-collector:final`, but this still results in the exact same error message:

[code]

[2020-01-15 04:13] b675987273 opened #1014 "Can I change the metrics-collector's docker repo address?"
/kind feature

**Describe the solution you'd like**
It seems like the pod created by katib contains a official metrics-collector. I believe that metrics-collector is created by the katib's controller. Is it more friendly using that created by job-controller.

**Anything else you would like to add:**
Maybe we can add more docs to descript how to use katib.

[2020-01-15 04:14] gaocegege commented on #1014
You can change it. It is defined in https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/katib-controller/katib-config.yaml

[2020-01-15 04:14] gaocegege commented on #1014
/close

[2020-01-15 04:14] #1014 closed

[2020-01-15 07:18] b675987273 opened #1016 "Why the trials can t be deleted?"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**

**Environment:**

- Kubeflow version: 1.14
- Minikube version:
- Kubernetes version: (use `kubectl version`):1.14
- OS (e.g. from `/etc/os-release`):

[2020-01-15 07:20] gaocegege commented on #1016
Can you show me the output of `kubectl -n kubeflow describe trials random-example-ptwtghs6`?

[2020-01-15 07:29] b675987273 commented on #1016
I can show u the tfjob's. Maybe deleting the Finalizers desc can make it.
[code]

[2020-01-15 07:30] gaocegege commented on #1016
Deletion Timestamp:             2020-01-15T06:41:39Z

It was deleted but the finalizer fails to delete mysql records. Let's take a look

[2020-01-15 07:46] b675987273 commented on #1016
I log into the katib-db and search sth . The reason seems like  no data to be deleted because my pods have never run successfully.
[code]

[2020-01-15 07:59] gaocegege commented on #1016
I think your environment has problems. The database katib should have a table `observation_logs`

[2020-01-15 08:09] b675987273 commented on #1016
ok, i will delete all the katib component pods and try again.

[2020-01-15 12:07] swarajoturkar commented on #924
@karlschriek Hi Karl, I had the exact same issue which got resolved after using the ``` tfevent-metrics-collector:latest ``` image and setting the metric name (in ``` tf_events.yaml ``` ) to ``` batch_accuracy ``` instead of ``` accuracy ```.
TFEvents summaries apparently contain a prefix based on ``` update_freq ``` parameter in ``` tf.keras.callbacks.TensorBoard ```

[2020-01-16 14:27] karlschriek commented on #924
@swarajoturkar thanks for the tip will try it out! Do you know if this is documented somewhere? I take it `epoch_{metric_name}` would equally be relevant when looking at an update frequency per epoch?

[2020-01-16 15:15] swarajoturkar commented on #924
@karlschriek
I dont think so since I found no mention of it while looking for a solution. I manually tried to read the events file generated locally which is where I found the available keys for scalar metrics.

Yes, infact ```epoch_{metric_name} ```was logged even though I specified "batch" in the ``` Tensorboard ``` callback. Since I am pretty new to ML Pipelines, I am not sure if this is the ex

[2020-01-17 09:58] gaocegege commented on #1016
Found the same issue.

When the experiment is deleted, some trials are not garbage-collected. Its deletionTimestamp is nil.

[code]

[2020-01-17 10:20] gaocegege commented on #1016
Oh it is a mistake. I did not delete the correct experiment

[2020-01-17 10:20] gaocegege commented on #1016
/close

[2020-01-17 10:20] #1016 closed

[2020-01-17 19:15] andreyvelich commented on #906
To continue what @richardsliu proposed, my suggestion is this.

From Job, TFJob or PytorchJob we just need Spec field, where user can specify containers, resources etc., what @gaocegege mentioned above.
So we can have all supported specification in TrialTemplate.

So the API can be like this:
[code]

JobKind will be either Job, TFJob or PytorchJob. And we can run corresponding Job depend on JobKin

[2020-01-19 01:29] gaocegege commented on #906
LGTM but prefer a pointer here.

[code]

[2020-01-19 04:07] johnugeorge commented on #906
One problem I have is that we would need katib api upgrade for any new Spec support.

[2020-01-19 04:10] gaocegege commented on #906
API is compatible since we only add some new kinds. I think the shortcoming is acceptable.

[2020-01-20 03:05] sarahmaddox opened #1021 "Links and instructions for API docs are out of date"
/kind bug

**What steps did you take and what happened:**
The links in the `kubeflow/katib` repo that point to the API docs are out of date. Since PR https://github.com/kubeflow/website/pull/1531, the links should point to the docs on kubeflow.org.

We should also tell people where to put the generated docs next time they re-generate the docs.

[2020-01-20 03:05] sarahmaddox commented on #1021
/assign

[2020-01-20 05:09] #1021 closed

[2020-01-20 10:39] karlschriek commented on #924
Tried using `batch_loss` this morning, looks like I am one step closer, but still not quite there:

[code]

If I set this to `epoch_loss` instead it at least runs through, so looks like transmitting all 30.000 batches takes too long.

[2020-01-20 14:46] andreyvelich commented on #906
@gaocegege @johnugeorge Yes, we can update TrialTemplate with the new fields and remove or keep `GoTemplate` in the future version. That will not brake current Katib jobs.
The API can be something like that:
[code]
For me, personally, it is better to change `TrialTemplate` to `TrialSpec` in the future, since it will be Specification and not Template more.
I am not sure if this change will be fine

[2020-01-21 01:34] gaocegege commented on #906
I am not sure if we should make it a spec. Since the command in the spec is still a template like:

[code]

[2020-01-21 03:48] gaocegege opened #1029 "[bug] Status is not correct in kubectl"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

We get the trial status in kubectl:

[code]

But when we describe it:

[code]

And we treat such a trial `pending` in experiment status. It is not appropriate, I think.

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will ass

[2020-01-21 03:50] johnugeorge commented on #1029
https://github.com/kubeflow/katib/blob/27fbd98247a6149bd89f1b467a8a8fb9d328cd0e/pkg/controller.v1alpha3/trial/trial_controller_util.go#L55

[2020-01-21 03:50] gaocegege commented on #1029
Should we make it failed?
[code]

[2020-01-21 03:56] johnugeorge commented on #1029
Metrics not available is not a terminal state of being failed.   when did you see this? Did it recover from this state?

[2020-01-21 04:02] johnugeorge commented on #1029
If it is a terminal condition, we can mark it failed

[2020-01-21 04:13] gaocegege commented on #1029
We should verify it.

[2020-01-21 17:08] andreyvelich commented on #906
@gaocegege After we will implement JobSpec you think we still need to add Go Template in the command?
Or we can add these parameters by default in the Controller and user should specify only basic command in the yaml file:
[code]

[2020-01-22 02:05] hougangliu commented on #906
we'd better not restrict the hyperparameters can only be passed to the job by args. in real use case, user is likely to get them from environment.

[2020-01-22 11:44] andreyvelich commented on #906
We can add additional field `ParametersKind`, like `JobKind`.
Where user can define if parameters must be passing to the job by args or from env.

[2020-01-22 11:50] andreyvelich commented on #968
@ethanscho Can you check logs from the Katib-ui pod and Katib-ui image version, please?
Also, is status of Katib-ui pod `Running`?

[2020-01-22 15:43] andreyvelich commented on #692
Do we have any updates to support Early Stopping in Katib?
I think firstly we should try to implement Median Stopping Rule as @richardsliu noticed here https://github.com/kubeflow/katib/issues/936#issue-529639832.

According to Google Vizier paper, https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/46180.pdf algorithm should analyse metrics from Running Trials and stop

[2020-01-22 17:05] andreyvelich opened #1030 "[UI Feature] Show Trials status in the table"
/kind feature

Currently in the Katib UI we can't see status of the Trials.
If experiment doesn't have any succeeded Trials, user will see blank page with Experiment Name, Namespace and experiment JSON bellow.
I think it would be good if we add Trial status in the table.

Related to https://github.com/kubeflow/katib/issues/916

[2020-01-22 17:05] andreyvelich commented on #1030
/assign @andreyvelich

[2020-01-25 02:06] nrchakradhar commented on #981
We tried random_example and tf job example in a fresh installation of kubeflow v0.7, and bith are working fine. Not able to reproduce the error now.

[2020-01-28 03:09] #1030 closed

[2020-01-28 13:42] andreyvelich commented on #916
@texasmichelle
We updated Katib UI with Trial status and Experiment view.
Should we close this issue?

[2020-01-28 18:57] KineticCookie opened #1033 "MetricsUnavailable for random example experiment"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Installed Kubeflow on a clean EKS cluster using this guide https://www.kubeflow.org/docs/aws/deploy/install-kubeflow/

Submitted `random-experiment` from UI.

After an hour there is still no status, logs or metrics.

Pods that were spawned by Trial's Job have logs.

**What did you expect

[2020-01-29 12:03] andreyvelich commented on #1033
@KineticCookie Thank you for the issue.
Can you show description of the experiment?
If it possible, show description for the Training Container Pod after you submit random-example.

[2020-01-29 15:57] KineticCookie commented on #1033
Unfortunately, someone already deleted experiment. I will submit it again and show the necessary descriptions.

[2020-01-29 18:14] KineticCookie commented on #1033
I recreated the experiment and unfortunately I encountered the same behaviour.
Description of the experiment:
[code]

Pod description:
[code]

[2020-01-29 18:18] KineticCookie commented on #1033
And the description of a newly created pod
[code]

[2020-01-29 19:59] andreyvelich commented on #1033
For some reason training container pod doesn't have metrics collector container and metrics can't be collected.
Can you try to deploy Katib on your cluster using the latest manifests and images from here:  https://github.com/kubeflow/katib/tree/master/manifests/v1alpha3 ?
After that you can try to run random-example from the examples folder.

[2020-01-30 15:28] JustinReboullot opened #1037 "Bayesianoptimization algorithm does not work when hyperparameter are negative doubles"
/kind bug

**What steps did you take and what happened:**

Katib suggest NaN values when submitting an experiment with:
 - a parameter with `parametertype: double`
 - a feasibleSpace including negative numbers
 - bayesianoptimization as algorithm

For example this kind of yaml makes Katib suggesting NaN for the parameter `my-param`.
[code]

**What did you expect to happen:**
Katib should not sugge

[2020-01-30 20:00] martham93 commented on #1033
just to clarify this is error is with the most current bayesian optimization example that was updated ~2 weeks ago.

[2020-01-30 20:25] fedeesku1 commented on #1033
I'm having the same issue. These are my specs.

Kubenetes Cluster:
minikube start --cpus 4 --memory 12144 --disk-size=50g --kubernetes-version=v1.15.0
🙄  minikube v1.5.2 on Ubuntu 18.04
✨  Automatically selected the 'virtualbox' driver (alternates: [none])
🔥  Creating virtualbox VM (CPUs=4, Memory=12144MB, Disk=50000MB) ...
🐳  Preparing Kubernetes v1.15.0 on Docker '18.09.9' ...

Kubectl:
kubectl

[2020-01-30 20:32] fedeesku1 commented on #1033
Is the issue with not defining a metricsCollector? Is the default not stdout?

kubectl get trials random-example-g4qlpmbt -n kubeflow -oyaml

apiVersion: kubeflow.org/v1alpha3
kind: Trial
metadata:
  creationTimestamp: "2020-01-30T19:15:30Z"
  finalizers:
  - clean-metrics-in-db
  generation: 1
  labels:
    experiment: random-example
  name: random-example-g4qlpmbt
  namespace: kubeflow
  ownerRe

[2020-01-30 22:19] martham93 commented on #1033
I tried editing the yaml file to specifically look for the `StdOut` and I'm still facing the same error

[code]

[2020-01-31 16:02] martham93 opened #1039 "Bayesian optimization experiment suggests same hyperparameters"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I've experienced the same hyperparameters being suggested by a Bayesian optimization experiment several times.

- For example: with 1 parallel trial, and max trials of 4 the exact same hyperparameters are suggested for each trial

![experiment_35](https://user-images.githubusercontent.c

[2020-02-02 03:32] timothyjlaurent commented on #1033
I'm having this problem as well.

[2020-02-02 04:02] timothyjlaurent commented on #1033
For me, adding the:

[code]

to a manifest based on the [pytorchjob-example.yaml](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/pytorchjob-example.yaml) allowed the Experiment to finish.

[2020-02-02 05:58] timothyjlaurent opened #1040 "Objective metrics cast as int, erroneously exceed target with random optimizer"
/kind bug

**What steps did you take and what happened:**
I’m running the [tfjob-example.yaml](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/tfjob-example.yaml). The Objective is to maximize accuracy with a Goal of 0.99.

The experiment stopped prematurely because "Trial has succeeded" and the Experiment records that
accuracy has a value of 1 and shows up as an int in the katib u

[2020-02-02 06:40] timothyjlaurent opened #1041 "running nas example fails"
/kind bug

**What steps did you take and what happened:**
When running the example Experiment manifest, [nasjob-example-RL-gpu.yaml](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/nasjob-example-RL-gpu.yaml), the Job encounters an error.

[code]
**What did you expect to happen:**
Not error, run to completion

**Anything else you would like to add:**
[Miscellaneous information that

[2020-02-02 16:11] johnugeorge commented on #1041
/assign @andreyvelich

[2020-02-02 16:17] johnugeorge commented on #692
There was some discussion regarding this before. I couldn't find the issue. @gaocegege

[2020-02-02 16:20] johnugeorge commented on #1040
i think, this is just the UI bug reported in https://github.com/kubeflow/katib/issues/884 .

[2020-02-03 11:43] andreyvelich commented on #1041
@timothyjlaurent Thank you for the issue.
Can you show logs from the Suggestion pod, please?

[2020-02-03 12:03] andreyvelich commented on #884
/assign @andreyvelich

[2020-02-03 20:56] fedeesku1 commented on #1033
That didn't work for me. The description of the trial is still:
Message:               Trial is running
    Reason:                TrialRunning
    Status:                False
    Type:                  Running
    Last Transition Time:  2020-02-03T20:33:26Z
    Last Update Time:      2020-02-03T20:33:26Z
    Message:               Metrics are not available
    Reason:                MetricsUnava

[2020-02-03 21:01] fedeesku1 commented on #1029
I'm having the issue as above. The pod associated with a trail has a status of complete but the description of the trial is marked as still running due to metrics unavailable. Running the random-example.yaml. This state persisted for almost an hour before I killed the experiment. Any ideas on this issue? #1033 Has people with the same issue and specs outlined.

[2020-02-03 21:07] andreyvelich commented on #1033
Katib controller should add `StdOut` Metrics collector if you didn't specify it in the Experiment yaml file.
As I said above, can you try to deploy Katib using the latest manifests folder and run Experiments again?

[2020-02-04 00:11] timothyjlaurent opened #1042 "Job-Based Experiment hangs istio-proxy runs after main containers complete"
/kind bug

**What steps did you take and what happened:**
Submitted a Job-Based Experiment. The metrics-logger-and-collector my model container have completed, but the istio-proxy container is running and the Trial won't finish.

Here are the final logs from the metrics-logger-and-collector:

[code]

Istio-proxy continues to run and the job won't complete.

**What did you expect to happen:**

Job

[2020-02-04 00:30] timothyjlaurent opened #1043 "suggestion pods running after experiment completes"
/kind bug

**What steps did you take and what happened:**
Ran experiments in the examples folder.

Experiments that finished, (not broken) show up in the ui:
![image](https://user-images.githubusercontent.com/2000204/73702597-150c5f00-46a2-11ea-866d-63582fc5ded4.png)

But their associated pods remain running on the cluster:

![image](https://user-images.githubusercontent.com/2000204/73702742-906e1

[2020-02-04 00:40] timothyjlaurent commented on #1041
Here are the logs from the suggestion pod:

[code]

Here's the description of the pod:

[code]

[2020-02-04 00:46] timothyjlaurent commented on #1041
Interestingly, I can get the Experiment to run if I add

[code]
to the example yaml.

[2020-02-04 00:51] timothyjlaurent commented on #1033
@andreyvelich

I very much doubt this is the case as all the example yaml Experiments were broken for me until I added
[code]
You should consider fixing the issue or updating the example manifests.

[2020-02-04 01:15] timothyjlaurent commented on #1042
This seems to be related to : https://github.com/istio/istio/issues/11045

I noticed that on some other examples, the istio-proxy doesn't run in the jobs' pods.

I'm able to avoid running the istio-proxy by adding the `sidecar.istio.io/inject: "false"` annotation to the job template:

[code]

[2020-02-04 01:16] timothyjlaurent commented on #1042
@jlewi  How is this not a bug -- You'd expect the Experiment to complete after the pods complete, right??

[2020-02-04 01:23] timothyjlaurent commented on #1042
This is a duplicate of #955

[2020-02-04 01:23] #1042 closed

[2020-02-04 02:03] timothyjlaurent opened #1044 "Please document api access"
/kind feature

**Describe the solution you'd like**
The docs describe a rest api but I can't seem to find it. The VirtualServices installed by kubeflow lack a route to the api. Since the UI is so light on details and in some cases reports incorrect values, it would be nice to be able to access a programmatic api.

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2020-02-04 03:01] gaocegege commented on #1043
It is a by-design feature since we may want to recreate new trials in the experiment to resume.

[2020-02-04 03:33] gaocegege commented on #1033
Did the namespace has label katib-metricscollector-injection: enabled?

It seems that the metrics collector is not injected successfully.

/cc @hougangliu @johnugeorge

[2020-02-04 03:34] gaocegege commented on #1044
What do you want to do with the API?

[2020-02-04 04:38] johnugeorge commented on #1033
@richardsliu faced this same problem

[2020-02-04 07:08] andreyvelich commented on #1041
I think you are using not the latest image for the NAS Suggestion. I can see some old warning from the logs.
Can you check what image are you using in the `katib-config configmap` for the `nasrl` Suggestion?

[2020-02-04 12:34] chauvenne opened #1045 "Experiment never ends and metrics are not collected"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I started by deploying Kubeflow using the UI (https://deploy.kubeflow.cloud). Then I simply applied the random example with `kubectl apply -f https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1alpha3/random-example.yaml`
The trials container have completed unlike the exp

[2020-02-04 15:28] andreyvelich commented on #1033
Can you try to do this:
1. `kubectl edit namespace kubeflow`
2. Delete label `control-plane=kubeflow`
3. Save changes
4. Run examples again

It maybe fixes the problem with MetricsCollector.
You don't need to make any changes to Katib examples.

[2020-02-04 16:55] timothyjlaurent commented on #1041
[code]

[2020-02-04 16:56] timothyjlaurent commented on #1041
"image": "gcr.io/kubeflow-images-public/katib/v1alpha3/suggestion-nasrl:v0.7.0"

[2020-02-04 19:37] martham93 commented on #1039
Also, with the [example Bayesian experiment from the documentation](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/bayesianoptimization-example.yaml) (3 parallel trials, and 12 max trials) different hyperparameters are suggested for the first three trials, but for the following 9 trials the hyperparameter combination from the best performing trial is suggested again for all 9 of t

[2020-02-04 22:50] martham93 commented on #1033
@andreyvelich thanks your suggestion above worked

[2020-02-04 23:42] andreyvelich commented on #1041
Can you try to edit this image to the latests -
`gcr.io/kubeflow-images-public/katib/v1alpha3/suggestion-nasrl`  and run this experiment again?

[2020-02-05 00:31] timothyjlaurent commented on #1041
updating to the latest image works. I see that the metricsCollectorSpec gets added to the Experiment.

[2020-02-05 00:32] timothyjlaurent commented on #1041
perhaps the images link needs to be updated in the kustomize?

[2020-02-05 08:38] chauvenne commented on #1045
Solved with https://github.com/kubeflow/katib/issues/1033#issuecomment-581963771

[2020-02-05 08:48] andreyvelich commented on #1041
I need to fix some small bugs in Katib UI, after that we will update Kustomize images.

[2020-02-05 13:04] chauvenne commented on #1045
The fix from https://github.com/kubeflow/katib/issues/1033#issuecomment-581963771 worked for the random example but not for my personal experiment.

What I observe is that all the training logs for the random-example are in the `metrics-logger-and-collector` containers which I find weird. But in this case, the metrics are correctly collected.

For my experiment, the training logs are printed in th

[2020-02-05 17:32] timothyjlaurent commented on #1045
@chauvenne try to add

[code]

to your experiment.

I found that I need that with the 0.7.0 estimator images.

[2020-02-05 17:34] timothyjlaurent commented on #1044
Query for trials by experiment, get all experiments, get 'winning' trial hyperparameters.

[2020-02-05 17:35] timothyjlaurent commented on #1043
I see -- This could cause an unbounded increase of resources, consider allowing experiments to resume from the metadata collected in the Experment and Trial K8s objects.

[2020-02-05 17:35] #1043 closed

[2020-02-05 17:36] timothyjlaurent commented on #1040
OK I'll close, then.

[2020-02-05 17:36] #1040 closed

[2020-02-05 17:37] timothyjlaurent commented on #1041
Sounds good, I'll close this, thanks for the help @andreyvelich

[2020-02-05 17:37] #1041 closed

[2020-02-06 03:37] #884 closed

[2020-02-06 08:10] chauvenne commented on #1045
I already tried but the result is the same 😕

[2020-02-06 08:11] chauvenne commented on #1045
@timothyjlaurent Already tried without success 😕

[2020-02-06 09:51] andreyvelich commented on #1045
@chauvenne Can you show full description of your experiment after you create it, with removing `control-plane` label ?
Not needed to add `metricsCollectorSpec` to the experiment before submitting.

[2020-02-06 10:13] chauvenne commented on #1045
@andreyvelich  Here is the output of `kubectl describe experiment` :

Namespace:    kubeflow
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"kubeflow.org/v1alpha3","kind":"Experiment","metadata":{"annotations":{},"name":"synthetic-cars-bayesian","namespace":"kubef...
API Version:  kubeflow.org/v1alpha3
Kind:         Experiment
Met

[2020-02-06 11:51] andreyvelich commented on #1045
@chauvenne With this experiment your training containers pods don't have metrics collector container? Can you also describe one of training container pod, please?

[2020-02-06 12:22] chauvenne commented on #1045
@andreyvelich I can see two containers, one for the training and the other is the metric collector.
Here is the output of `kubectl describe pod` for the training pod:

Namespace:          kubeflow
Priority:           0
PriorityClassName:  <none>
Node:               gke-kubeflow-v100-v100-7c41de1c-xvxp/10.128.0.50
Start Time:         Thu, 06 Feb 2020 13:16:42 +0100
Labels:             controller-ui

[2020-02-06 12:33] andreyvelich commented on #1045
@chauvenne And after training container finished corresponding Trial is still running?
Can you check latest logs from metrics-logger-and-collector container?

[2020-02-06 12:39] chauvenne commented on #1045
![empty_2](https://user-images.githubusercontent.com/8996148/73937633-c0f1bc80-48e5-11ea-98b9-108141e79a32.png)

Trials are marked as Completed:
![empty_3](https://user-images.githubusercontent.com/8996148/73937638-c2bb8000-48e5-11ea-9df8-3dc7ea88df02.PNG)

Describe output after training finished:

Namespace:          kubeflow
Priority:           0
PriorityClassName:  <none>
Node:               gk

[2020-02-06 12:55] andreyvelich commented on #1045
@chauvenne Also, can you show Training Job description?

After that, try to change StdOut metrics collector image tag to latest. You can change it in ConfigMap `katib-config`. After that submit experiment again.

In the meantime, have you tried to run your container with image `eu.gcr.io/sincere-scheme-246214/tcv:CUDA10.0-CC70-latest` separate? If yes, have you seen any logs there?

If you are usi

[2020-02-06 13:09] chauvenne commented on #1045
@andreyvelich

![describe_job](https://user-images.githubusercontent.com/8996148/73939407-ade0eb80-48e9-11ea-91e2-ec27fad1df2e.PNG)

Ok thanks, I'll try

I confirm that it is already printed on stdout in that format.

[2020-02-06 13:28] andreyvelich commented on #1045
@chauvenne Also, I saw that you don't have `echo completed > /var/log/katib/$$$$.pid` in your training container args.

Maybe you are using not the latest image for the Katib controller also. Can you try to update from 0.7 to the latest in katib-controller deployment.

[2020-02-06 13:57] andreyvelich commented on #1037
According to this https://scikit-optimize.github.io/space.m.html#skopt.space.Real, we can specify `uniform` there.
What do you think @gaocegege  ?

[2020-02-06 15:52] chauvenne commented on #1045
@andreyvelich Ok I've just updated the tags to latest for both StdOut and katib-controller images.
Now I've got this error when applying the experiment:

`Error from server (InternalError): error when creating "katib_opti.yml": Internal error occurred: failed calling webhook "mutating.experiment.katib.kubeflow.org": Post https://katib-controller.kubeflow.svc:443/mutate-experiments?timeout=30s: ssh

[2020-02-06 19:56] andreyvelich commented on #1045
@chauvenne Did you deploy Katib as part of Kubeflow?
If yes, can you try to deploy Katib with Kubeflow using kfctl and this config: https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml.

I think you got this error because your images or yaml manifests are from 0.7 version.
To be able to run master version of Katib controller you need to deploy Katib from latest manifests.
U

[2020-02-06 20:07] marcindulak opened #1049 "panic: listen tcp 0.0.0.0:80: bind: permission denied"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I'm using https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.4 with https://raw.githubusercontent.com/kubeflow/manifests/129b8898df193ccf4baaba1334f41ce394584136/kfdef/kfctl_k8s_istio.v1.0.0.yaml modified to use the following manifests

[code]

A fresh install of `kfctl apply -V -f

[2020-02-06 22:55] andreyvelich commented on #1049
@marcindulak Please, download and use the latest config again, we just created PR with this fix.

[2020-02-06 23:03] marcindulak commented on #1049
Can you point to the change (PR)?

[2020-02-06 23:10] andreyvelich commented on #1049
To 1.0 release branch - https://github.com/kubeflow/manifests/pull/880
To master branch - https://github.com/kubeflow/manifests/pull/853

[2020-02-06 23:31] marcindulak commented on #1049
Thanks, this seems to fix the problem. FYI: after applying the above manifests (https://github.com/kubeflow/manifests/commit/5a581452d80f8955a3377211bd656fbac487f662) ontop of the existing setup (by removing the kustomize and .cache/manifests directories and running kfctl again as in the original post),  the katib-mysql pod didn't come as READY, but I've `kubectl -n kubeflow delete deployment kati

[2020-02-06 23:38] andreyvelich commented on #1049
It should be fine.
It is better to delete previous Kubeflow deployment before installing new one.

[2020-02-07 02:31] nrchakradhar commented on #1044
Do we have SDK for Karib also? From notebbok via fairing or SDK if its possible to trigger karib experiment it will be more useful.

[2020-02-07 10:19] chauvenne commented on #1045
It finally works!

All the steps I have taken are:

1. Download the latest `kfctl` version on https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.4
2. Deploy Kubeflow on a new cluster using CLI and the latest manifest for gcp (https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_gcp_iap.yaml)
3. Remove the quotation marks in my experiment yaml in the `command` spec (where I use /bin/sh

[2020-02-07 12:06] #1045 closed

[2020-02-09 17:51] marcindulak commented on #1049
Linking https://github.com/kubeflow/kubeflow/issues/3727

[2020-02-09 17:53] #1049 closed

[2020-02-10 10:23] chauvenne opened #1051 "Metrics containing '=' character in their name are not collected"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I try to optimize the hyperparameters of an object-detection algorithm. For this kind of task, we typically use metrics that depend on a chosen Intersection-over-Union (IoU). e.g for the COCO dataset, we usually evaluate the mean average-precision (maP) at an IoU of 0.5:

`maP@[IoU=0.5]

[2020-02-12 07:18] richardsliu opened #1052 "OOM errors when number of trials is high"
For bayesian optimization, after running 43-44 trials, the controller stops scheduling new trials.

Pod status:
[code]

In addition, the request latency for suggestions becomes high and requires a longer timeout.

[2020-02-12 07:18] richardsliu commented on #1052
/cc @andreyvelich

[2020-02-12 10:54] johnugeorge commented on #1052
the current defaults are not default for higher number of trials

[2020-02-12 21:31] andreyvelich commented on #1052
I checked BO Suggestion code. Here: https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha3/skopt/base_skopt_service.py#L77 we run `skopt_optimizer.tell()` for each Trial every `GetSuggestion` call.
After 30 Succeeded Trials this call takes around 3 seconds to run, so for 30 Trials this loop will take around 90 seconds.

@gaocegege Do we need to run this method every time when we upd

[2020-02-13 14:13] andreyvelich commented on #1051
@chauvenne How did you specify your `objectiveMetricName` in Experiment yaml file?

[2020-02-13 14:30] chauvenne commented on #1051
@andreyvelich  I tried both
`objectiveMetricName: 'f1_per_object@[IoU=0.25]'`
and
`objectiveMetricName: f1_per_object@[IoU=0.25]`

[2020-02-13 15:08] andreyvelich commented on #1052
I changed `skopt_suggested` to list of the succeeded trial assignments list and `loss_for_skopt` as list of the succeeded trial observation value and everything was working fast without OOM.
After 100 succeeded Trials call `tell` method takes ~ 20 seconds.

Experiment with `maxTrialCount: 150` and ` parallelTrialCount: 5` finished.

From documentation it says that we can use `tell` method for seve

[2020-02-13 15:23] andreyvelich commented on #1051
Did you get any errors or metrics collector just collect nothing?
Can you show latest log from metrics collector container?

[2020-02-14 12:24] gaocegege commented on #1052
LGTM

[2020-02-14 15:15] andreyvelich commented on #1039
@martham93 Thank you for your issue!

This problem maybe happens because we create new `Optimizer` class every time we call `GetSuggestion` (https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha3/skopt/base_skopt_service.py#L51).

So we call `tell` and `ask` methods for different `Optimizer` instance and Suggestion doesn't have previous steps. If you take a look here: https://github

[2020-02-15 05:28] johnugeorge commented on #1039
Search space Modification should not be allowed in the same experiment. it should be prevented now. See https://github.com/kubeflow/katib/issues/768

In that case, can we do this when we instantiate the algorithm

[2020-02-15 07:31] #1052 closed

[2020-02-15 12:28] andreyvelich commented on #1039
Yes, we can create `Optimizer` instance only for the first `GetSuggestion` call.

[2020-02-18 01:34] gaocegege commented on #1039
SGTM

[2020-02-18 12:40] andreyvelich opened #1058 "Change timeout for long-term experiments"
/kind feature

Users can run long-term Experiment where Suggestion needs to analyse information from more than 200-300 Trials.
In that situation, some Suggestion needs more time than 1 minute to generate new Trial set.

We specify the timeout of `GetSuggestion` request here: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1alpha3/suggestion/suggestionclient/suggestionclient.go#L26.
W

[2020-02-19 11:05] borremosch opened #1060 "Katib controller goes into CrashLoopBackoff when no goal is specified"
/kind bug

**What steps did you take and what happened:**
I created an experiment without a `goal`. The spec validated fine, but consequently the Katib controller entered a faulty state from which recovery seems impossible. I had to delete and re-install Katib entirely into my development cluster. Logs from the controller are as follows:

[code]

**What did you expect to happen:**
I expected the e

[2020-02-19 14:44] andreyvelich opened #1061 "Delete Suggestion deployment after Experiment is finished"
/kind feature

Right now, when user creates Experiment, Suggestion deployment is always running. Even after Experiment is finished.
We should add Flag in the API if user wants to delete Suggestion deployment after Experiment is finished.

For example we can use `ResumeExperiment` flag here: https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1alpha3/experiment_types.go#L

[2020-02-19 14:54] andreyvelich opened #1062 "Save Suggestion state after deployment is deleted"
/kind feature

Katib should have functionality to save Suggestion state somewhere besides Suggestion pod.
Some users would like to resume Experiments, but they don't want to have always running Suggestion deployment. For example we can use PV.

We can use `ResumeExperiment` flag from here: https://github.com/kubeflow/katib/issues/1061 to specify resuming experiment mechanism.

/cc @johnugeorge @ga

[2020-02-19 15:48] andreyvelich commented on #1060
@borremosch What is your use case, when you run Experiment without the `Goal`?

[2020-02-19 16:27] borremosch commented on #1060
@andreyvelich I want to run a hyperparameter search without having to worry beforehand about what a good enough performance is

[2020-02-20 01:43] ever-cheng commented on #1039
Do you think this issue also happen on random optimization?

[2020-02-20 11:34] andreyvelich commented on #1060
@johnugeorge In that case, what do you think?
Should we add functionality to run experiments without Goal? We have to make some changes in the Katib Controller for it.

[2020-02-21 16:09] janvdvegt commented on #1060
In many cases the goal is just to find the most optimal value, right? Usually, the amount of time or compute you want to spend on a problem is more relevant than some specific value, unless that value is the theoretical maximum. Alternatively, some early stopping might be relevant but I would phrase it differently then, maybe the number of trials that have not improved the maximum score fits bette

[2020-02-21 16:43] johnugeorge commented on #1060
It makes sense. We should solve this. It looks to be a simple fix as our implementation already supports it.

[2020-02-21 16:55] andreyvelich commented on #1060
Ok, I will add it.
/assign @andreyvelich

[2020-02-21 17:24] #1039 closed

[2020-02-24 18:51] janvdvegt opened #1067 "Start experiment with known results"
/kind feature

It would be nice to be able to start a new experiment with known results from previous experiments to feed to suggestion algorithms. This could be useful for resuming an old experiment that might have been deleted, using a different hyperparameter space and for resuming existing experiments without having the suggestion deployment constantly running

[2020-02-25 18:24] janvdvegt commented on #940
I have this issue with the v0.8.0 images:

[code]

[2020-02-25 18:48] andreyvelich commented on #940
@janvdvegt Can you describe training job, please?
And in what namespace you run Katib Experiments, are you using Kubeflow Profile controller and Profile namespace?

[2020-02-26 13:45] janvdvegt commented on #940
It's in a custom namespace, we are running it outside of Kubeflow, no Kubeflow Profile or Profile namespace. We have the same setup at another cluster where it doesn't appear to be an issue. Here is a (truncated and masked) definition gotten via `get ... -o yaml`:

[code]

The init container finished properly, training is started and the logs are flowing into the metrics collector sidecar and afte

[2020-02-26 14:42] janvdvegt commented on #940
It looks like the Python process might be going out of memory, sorry about that.

[2020-02-26 15:53] andreyvelich commented on #940
@janvdvegt So on your training job you can see metrics collector container?
Try to increase resources for your training job, maybe it helps.

[2020-02-26 16:14] janvdvegt commented on #940
Yeah, the metrics collector captures the logs. The problem I had was that the limits were too wide so the Pod didn't get OOMKilled but the node had SystemOOM warnings and SIGKILled the container.

[2020-03-01 07:00] k4rth33k opened #1073 "Cannot deploy sample experiment"
The katib UI gives the following error:
`
experiments.kubeflow.org is forbidden: User "system:serviceaccount:kubeflow:katib-ui" cannot create resource "experiments" in API group "kubeflow.org" in the namespace "kubeflow"
`
I am using microk8s with Kubeflow installed with snap. Kubernetes master gives out the following

`
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status":

[2020-03-02 19:14] andreyvelich commented on #1073
@k4rth33k Can you run```kubectl describe clusterrole katib-ui```, please?

It should have these permissions: https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/ui/rbac.yaml#L16

[2020-03-03 01:42] hyeonsangjeon opened #1075 "Doesn't change status tensorflow example (tfjob-example)"
tfjob-example.yaml in the v1alpha3 example on OSX vagrant minikf, the running status will not change after deployment. So, there is no result.

[code]

With maxTrialCount set to 1 and deploying, the TFJob container's log shows accuracy information, but kaib is still running satus.

`Successfully downloaded t10k-labels-idx1-ubyte.gz 4542 bytes.
Extracting /tmp/tensorflow/mnist/input_data/t10k-label

[2020-03-03 08:46] terrykong opened #1076 "Calling katib as a service"
/kind feature

**Describe the solution you'd like**
I'm wondering if it is currently possible to hit katib as a service. I've used katib where my job could be represented in a pod/job spec and then I template it as a StudyJob. But a few cases have come up where I want to create a kubeflow pipeline where `train-component` -> `benchmark-component` and since the `train-component` and `benchmark-compo

[2020-03-03 10:50] nrchakradhar commented on #1044
There was a mention about getting the best trial using a python API in the below issue:
https://github.com/kubeflow/katib/issues/459
Is something like that still available? The file mentioned is no longer available. I guess it should be part of the SDK generation

[2020-03-03 11:36] andreyvelich commented on #1075
@hyeonsangjeon Which version of Katib images are you using?
Also, can you describe training container, please?

[2020-03-03 16:41] janvdvegt commented on #930
We are facing similar issues in v0.8.0

[2020-03-03 18:55] anupash147 commented on #968
Same is the case for me, just that I have installed kubeflow version 1.0.0. All my katib deployments are working
![image](https://user-images.githubusercontent.com/8271182/75809279-29e61c00-5d4e-11ea-88a8-4af1362bb166.png)

The katib ui image am running is gcr.io/kubeflow-images-public/katib/v1alpha3/katib-ui:v0.8.0

[2020-03-04 06:35] hyeonsangjeon commented on #1075
There are 2 version test in katib, OSX Vagrant, windows hyper-v.
Both katib do not work tfjob-example and remain running status on the UI, but the container log is slightly different.

cf : random-example.yaml run well both of envs. / pytorchjob-example seems not working either.

### **1. vagrant virtualbox (arrikto/minikf)**
The docker image of the katib vagrant version was v1alpha2 built in.

Wh

[2020-03-04 17:00] andreyvelich commented on #1075
@hyeonsangjeon Thank you for this information.
Yes, it is better to use latest version of Katib.

This error: `NotImplementedError: Method not implemented!` it is fine. It just indicates that random Algorithm doesn't have Validation.

Can you describe training pod, when you are using latest version, please?
Also, when you are using latest version, does Suggestion create Trials for the Training pod

[2020-03-04 17:01] andreyvelich commented on #968
@anupash147 Are you using this config: https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.v1.0.0.yaml ?

[2020-03-06 02:56] nrchakradhar commented on #981
@shaowei-su can you check if experiment is running in kubeflow namespace? If yes, then create a profile and run experiment in the profile namespace.

[2020-03-06 03:52] shaowei-su commented on #981
@nrchakradhar  yes it's running in `kubeflow` namespace; I tried to run it in a different namespace but it requires `katib-metricscollector-injection: enabled`.

[2020-03-06 07:35] nrchakradhar commented on #981
Yes. You can edit the namespace with kubectl edit <your namespace> and add the annotation.

[2020-03-06 13:30] nrchakradhar opened #1079 "How to specify service account for an experiment"
/kind bug

**What steps did you take and what happened:**
Using kubectl when we create an experiment, how can we specify the "serivceaccount" to be used?
I understand that Experiment CR creates a Suggestion CR which creates a Deployment. For this Deployment, I want to specify a specific serviceaccount to be used? Is this possible.?

As per the code here, I do not see a way to set the serviceaccoun

[2020-03-06 15:30] andreyvelich commented on #1079
@nrchakradhar Right now, all components regarding to Experiment is created by katib-controller with this serviceAccount: https://github.com/kubeflow/katib/blob/82679294ecaecd83dba30d42f9ce9e36f732cd89/manifests/v1alpha3/katib-controller/rbac.yaml#L71

I am not sure that we have functionality to add service account to Suggestion Deployment.
We can add functionality to add ServiceAccount to Suggesti

[2020-03-06 15:41] nrchakradhar commented on #1079
Karib controller using its service account is fine. The suggestion cr which creates deployment in user namespace should also have a provision for using any service account provided by user. The service account would need role binding with required permissions.

[2020-03-06 15:43] andreyvelich commented on #981
@shaowei-su If you are using default Kubeflow profile controller to create namespaces, it should by default add `katib-metricscollector-injection: enabled` annotation to created namespace.

If you deploy only Katib components without Kubeflow, you can submit Experiment in kubeflow namespace.

[2020-03-06 15:48] andreyvelich commented on #1079
@nrchakradhar Yes, I agree, it can be useful.

[2020-03-06 21:44] shaowei-su commented on #981
we decided to roll back to v1alpha2 at this point. thanks for the help though! @nrchakradhar  @andreyvelich

[2020-03-08 07:00] terrykong commented on #968
I also am seeing the same thing (kubeflow v1.0.0 and this config https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_k8s_istio.yaml). I can port forward the service via `kubectl port-forward svc/katib-ui -n kubeflow 8080:80` but nothing shows up for me either thru the central dashboard. The other components like pipelines/jupyter/artifacts are viewable, just not katib

[2020-03-09 14:06] andreyvelich commented on #968
@terrykong Is you katib-ui pod Running?
Also, can you open console in your browser and check if you have any errors there?

[2020-03-09 16:49] andreyvelich commented on #1079
I think, as I mentioned above, `katib-config` can be the place where we can add ServiceAccount for the Suggestion deployment.
Also, we can include it to the Experiment yaml file, for example in `ExperimentSpec`.

What do you think @richardsliu  @gaocegege @hougangliu ?

[2020-03-10 01:04] hougangliu commented on #1079
@andreyvelich agree

[2020-03-10 15:34] kunalyogenshah opened #1080 "Using an existing remote DB cluster for Katib"
/kind bug

I am looking to use an existing DB cluster as the connector for Katib. Is there a way for me to expose that endpoint using the `katib-db` service for the components?

**Environment:**

- Kubeflow version: N/A
- Minikube version:
- Kubernetes version: (use `kubectl version`): 1.17
- OS (e.g. from `/etc/os-release`):

[2020-03-10 15:35] kunalyogenshah commented on #1080
👍

[2020-03-10 15:43] andrewlarimer commented on #981
I am experiencing this issue using version v1alpha3 on both the kubeflow and personal profile namespaces.

[2020-03-10 16:29] JackDallas commented on #1073
Hi I have a fresh install of Kubeflow using `microk8s.enable kubflow` and have this same issue the output of that command for me is
[code]

[2020-03-10 17:22] andreyvelich commented on #981
@andrewlarimer Which Katib image versions are you using?

[2020-03-10 18:20] terrykong commented on #968
hey @andreyvelich

the katib-ui pod is running, but i don't see any errors when i tail the log while i try to open the UI from the central-dashboard

[2020-03-10 18:49] terrykong opened #1081 "Support argo Workflow CRD as new trial kind"
/kind feature

**Describe the solution you'd like**
For more complicated jobs where we may execute things in separate containers I have noticed that the only job types we support in a trial are `Job`s, `TFJob`s and `PyTorchJob`s. Would it be possible to also support argo workflows?

**Anything else you would like to add:**

I see that https://github.com/kubeflow/katib/blob/master/docs/new-trial-ki

[2020-03-11 01:11] gaocegege commented on #1081
@terrykong It is possible. It is extensible. We have a doc for it https://github.com/kubeflow/katib/blob/master/docs/new-trial-kind.md although it may be outdated.

The problem is that whether it is an actual use case.

[2020-03-11 01:35] gaocegege commented on #1080
https://github.com/kubeflow/katib/blob/master/pkg/db/v1alpha3/mysql/mysql.go#L34

We support the feaure. You can set these environment variables.

[2020-03-11 15:21] kunalyogenshah opened #1082 ""Metrics not available" problem with basic v1alpha3 deployment"
/kind bug

**What steps did you take and what happened:**
I have followed the steps in the README to create a Katib deployment using the kustomization in the manifests repo. (I do not have Kubeflow and/or Pytorch and TFJob manifests applied, only the Katib ones). The deploy went through successfully. But once I create the `random-experiment` example, it fails to finish the Trials with the followin

[2020-03-11 16:19] kunalyogenshah commented on #1082
/help

[2020-03-12 10:45] hyeonsangjeon commented on #1075
After upgrading the VM, it works well on v1alpha3 images. Thank you. Below are vagrant katib version and container version.

**[vagrant]**
rrikto/minikf (virtualbox, 20200305.0.1)
**[katib docker]**

- gcr.io/kubeflow-images-public/katib/v1alpha3/katib-ui v0.8.0 RepoDigests: sha256:984eda360f3de59b5cd53eab48700780052bf97ec02d3366f681f4a15cff6d1d 540d9308c9f6 4 weeks ago 54.4MB

- gcr.io/kubeflow-i

[2020-03-12 11:09] hyeonsangjeon opened #1084 "Is v1alpha3 going to provide REST API?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Is v1alpha3 goint to provide REST API?

I am now trying to create a backend module that calls katib.
api.proto from v1alpha1 to v1alpha2 contains information about the http call of gRPC. However, I could only find a brief rpc service content for Manager, Suggestion in v1alpha3 api.pro

[2020-03-12 22:00] anupash147 commented on #968
@andreyvelich  yes I am using kfctl_istio_dex.v1.0.0.yaml, Also for me when i port-forward, i can see the katib-ui just not in the dashboard.

[2020-03-13 00:51] terrykong opened #1086 "Issues with scientific notation metric values (and metrics that are too large)"
/kind feature

**Describe the solution you'd like**
It looks like the default regex filter that matches metric lines allows for lines like
[code]
But not of things like
[code]
Seems like this can be extended by changing this line https://github.com/kubeflow/katib/blob/master/pkg/metricscollector/v1alpha3/common/const.go#L33

**Anything else you would like to add:**
As a workaround I've tried follo

[2020-03-13 03:16] terrykong commented on #1081
@gaocegege glad to hear it's possible. I don't know about others, but there are certainly convenient use cases covered by workflows. In particular optimizing a training -> benchmarking problem where the benchmarking doesn't need GPUs so the GPUs used by training pod can be freed up while benchmarking. At least to my knowledge this is definitely not possible with Jobs, and I'm guessing not with TFJ

[2020-03-13 08:30] gaocegege commented on #1084
We have no REST API now. But you can create katib resources with kubernetes API. You can create experiments by calling k8s api server.

[2020-03-13 08:32] gaocegege commented on #1086
Thanks for the issue. It is helpful.

/cc @hougangliu

[2020-03-13 13:53] andreyvelich commented on #968
@terrykong @anupash147 Can you check any errors in the browser console, while opening Katib UI from the Central Dashboard?

[2020-03-13 13:54] andreyvelich commented on #1079
I will add this feature

/assign @andreyvelich

[2020-03-13 15:01] andreyvelich opened #1087 "[UI Feature] Enable to create new ConfigMap with Trial Templates"
/kind feature

In the Trial Template section in the UI it should be possible to create new ConfigMap with Trial Templates.
Currently, user can update only existing ConfigMap with new Templates.

/area front-end

[2020-03-13 15:07] andreyvelich opened #1088 "[UI Feature] Enable to delete ConfigMap with no Trial Templates"
/kind feature

When user deletes all Trial Template from ConfigMap in the UI, corresponding ConfigMap should be deleted, since ConfigMap will not contain any information.

/area front-end

[2020-03-13 15:16] andreyvelich opened #1089 "[UI Feature] Add Metrics Collector section to submit Experiment"
/kind feature

Currently, when user creates Experiment by parameters, there is no section for Metrics Collector Spec.
We should add it for HP and NAS Jobs.

/area front-end

[2020-03-13 15:19] andreyvelich opened #1090 "[UI Feature] Section for Katib Config in the UI"
/kind feature

Right now there is no section to edit/view `katib-config` in the UI.
What do you think will it be useful for Katib user to view and edit `katib-config` using UI ?

/cc @gaocegege @hougangliu @johnugeorge

[2020-03-13 16:49] johnugeorge commented on #1090
But this should be allowed only for admin user.

[2020-03-13 19:13] terrykong commented on #968
@andreyvelich this morning i tried to get to the katib UI from the central dashboard and it miraculously showed up. wished it didn't just go away on its own 😞 . if it disappears again i'll update.

[2020-03-13 19:15] terrykong commented on #968
fwiw, even though the katib ui showed up i see a `Failed to retrieve GKE metadata TypeError: Failed to fetch` error in the console. not relevant to me I'm guessing since i'm not running my cluster on GKE

[2020-03-13 19:49] andreyvelich commented on #968
@terrykong Did you access central dashboard using `port-forward`? And where you run your k8s cluster? Sometimes it can lose connection between Kubeflow components. Updating the page should help with it.

[2020-03-13 19:53] terrykong commented on #968
@andreyvelich i've always accessed the central dashboard through the istio gateway through the istio gateway.

i'm running an on-prem cluster.

[2020-03-13 21:09] andreyvelich commented on #968
@terrykong I think sometimes you should refresh page to see Katib UI in centerdashboard.
Next time you can't access Katib UI, please, show me the errors from the browser console.

[2020-03-14 23:46] kunalyogenshah commented on #981
@nrchakradhar : I tried creating a new namespace to run the experiment, still running into
[code]

I installed Katib using the `manifests` repo instructions.

[2020-03-15 01:21] kunalyogenshah commented on #981
To be more precise, the higher level error is that when I kick off the `random-example` experiment, the trial jobs finish running, but the trial is stuck at `MetricsUnavailable` for the `trial-controller` with the message `Metrics are not available for Job random-example-dh7tw95g`.

[2020-03-16 01:50] nrchakradhar commented on #981
@kunalyogenshah as mentioned above, I hope you are creating profiles instead of just namespace.
Is metrics side car getting added into you trial pods?
You can also check the logs for karib manager for any clues.

[2020-03-16 02:08] kunalyogenshah commented on #981
@nrchakradhar : Not sure what you mean by profile... This is how the kubeflow namespace looks :

[code]
The running components in this namespace are :
[code]

When you say katib manager logs I presume you mean the controller? The created pods do not have a sidecar in them. The logs from the controller have some infos, and a few errors like this one :
`{"level":"error","ts":1584229199.2961588,"logg

[2020-03-16 03:39] devxoxo opened #1091 "Pod status becomes CrashLoopBackOff when using file-metric-collector"
/kind bug

**What steps did you take and what happened:**
Hi, I am trying to run keras code with saving metrics to the file, using file-metric-collector
But I am in trouble as below.
Trial is still Running status.

[code]

[code]

- docker logs
[code]
[code]

- minikube logs
[code]

**What did you expect to happen:**
I thought there would be no problem because the log file was created successfully

[2020-03-16 08:05] hyeonsangjeon commented on #1084
Is there any way to use katib's gRPC to create, search, or delete[1] HPO instead of do not use kubernetes core v1 api directly?

[1] i mean this below, in UI katib
/katib/fetch_hp_job_info/
/katib/fetch_hp_jobs/
/katib/submit_yaml/
/katib/submit_hp_job/
/katib/delete_experiment/
/katib/update_template/

[2020-03-16 14:16] andreyvelich commented on #981
@kunalyogenshah From your information above, I can see that you deployed Katib without other Kubeflow components and it means without profile-controller. In that case, you can submit Katib jobs in any namespace and in Kubeflow namespace also.
`NotImplementedError: Method not implemented!` error is fine. It just says that in random Suggestion we don't have validation part.

Can you describe one of

[2020-03-16 14:30] andreyvelich commented on #1084
Katib UI in backend itself using Kubernetes API.

If you want to use Katib UI handlers, you can serve Katib UI locally, which describing here: https://github.com/kubeflow/katib/tree/master/pkg/ui/v1alpha3#serve-ui-frontend-and-backend.

Also, you can find in `sagas` how we call each method for the UI, for example `delete_experiment`: https://github.com/kubeflow/katib/blob/master/pkg/ui/v1alpha3/fr

[2020-03-16 14:43] andreyvelich commented on #1091
@devxoxo Thank you for providing this information.
Can you also show the logs from the `metrics-logger-and-collector` container in training pods ?

[2020-03-16 14:45] kunalyogenshah commented on #981
This is one of the trials :
[code]

The corresponding job is :
[code]
and the nested pod :
[code]
[code]

[2020-03-16 16:09] devxoxo commented on #1091
the logs from the `metrics-logger-and-collector` container:
[code]

I changed log_dir from '/var/katib_keras/cifar10.log' to '/train/metrics/cifar10.log' and pod status is not CrashLoopBackOff but Running
[code]

But trials are still running, it seems to be taking too long.
Which container should I check?
- docker containers list
[code]
[code]

the logs from `mixer_istio-policy` container:
[code]

[2020-03-16 17:18] kunalyogenshah commented on #981
Oh, and the image versions are `v0.8.0`

[2020-03-16 17:27] nrchakradhar commented on #981
@kunalyogenshah I doubt if you have Istio installed. If yes, please set istio-injection to false

Also, your controller logs do not indicate that metrics side car is being injected.
I can see the following in our test setup

Can you try upgrade to 1.0 images if feasible

[2020-03-16 17:55] terrykong opened #1093 "chocolate-quasirandom missing ghalton"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I tried to see if the other undocumented suggestion algorithms worked and came across some issues. In particular `chocolate-quasirandom` complains that
[code]
Is there any reason not to add this to the `chocolate` Dockerfile?

**What did you expect to happen:**

**Anything else you would

[2020-03-16 18:09] terrykong opened #1094 "chocolate-MOCMAES has illegal name"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I tried to see if the other undocumented suggestion algorithms worked and came across some issues. In particular when an experiment uses `chocolate-MOCMAES`, the controller complains that the name doesn't follow conventions. It looks like the fix could just be to lowercase this suggestio

[2020-03-16 19:27] andreyvelich commented on #981
@kunalyogenshah Thank you for this information.
As @nrchakradhar noticed, I can see that Metrics Collector mutation webhook didn't work properly and your Trial and training pod doesn't have metrics collector container.

Try to delete everything, Katib crd, and, also, validating and mutating webhooks.
You can delete webhooks  by running this:
`kubectl delete MutatingWebhookConfiguration katib-mutat

[2020-03-16 19:58] andreyvelich commented on #1091
You should check logs from `metrics-logger-and-collector` container.
Maybe in your training container you don't have permissions to create files under /var/ folder, so you have to change folder to /train/ or something similar?

[2020-03-16 20:02] andreyvelich commented on #1094
Thank you for your issue.
Yes, we can fix it like this.

@gaocegege Do you know, do we support `MOCMAES` algorithm?
According to this: https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha3/chocolate/base_chocolate_service.py#L57, we can specify `algorithm_name=chocolate-MOCMAES`

I haven't tested, if this algorithm works properly.

[2020-03-16 20:04] andreyvelich commented on #1093
/cc @gaocegege

[2020-03-16 20:27] kunalyogenshah commented on #981
I created a fresh install, and then those entries showed up in my logs :
[code]

As you can see, it goes on in a loop trying to inject the metrics sidecar, but it seems to be failing, with these logs in the Job describe :
[code]
Does this point to an issue with my cluster rather than Katib?

[2020-03-16 21:22] andreyvelich commented on #981
@kunalyogenshah Did you delete all Experiments before reinstalling Katib ? Maybe you cluster doesn't support this imagePullPolicy, for metrics collector container, in Katib config (https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/katib-controller/katib-config.yaml) you can specify  `"imagePullPolicy": "Always"`, like in this suggestion: https://github.com/kubeflow/katib/blob/master

[2020-03-16 22:23] kunalyogenshah commented on #981
Bingo! That was it. Thank you @andreyvelich .

[2020-03-17 01:23] devxoxo commented on #1091
In my case, the log file was not created because I entered the key value incorrectly for validation accuracy.
The key value was changed from 'val_accuracy' to 'val_acc' and it was executed normally.
This issue seems to depend on the Keras version.
Thanks for your help!

[2020-03-17 01:23] #1091 closed

[2020-03-17 01:37] kunalyogenshah commented on #981
Before I close the door on this conversation though, there is one last question. Every time an experiment is created, it creates a replicaset deployment, which is not turned off when the experiment succeeds. Is this expected? This would mean an ever growing pool of replicasets every time I create an experiment. cc @andreyvelich

[code]

[code]

[2020-03-17 06:52] terrykong opened #1095 "Sorting trials by columns in UI"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In an older version of katib I recall there was a way to sort the columns in the UI, but I don't see any way to do that anymore (katib v0.8). Is it possible to bring that feature back?

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2020-03-17 11:49] andreyvelich commented on #981
@kunalyogenshah Yes, current Katib implementation works like this. It has been done for resuming experiment.
We have issues: https://github.com/kubeflow/katib/issues/1062 and https://github.com/kubeflow/katib/issues/1061, related to this.
If users don't want to see always-on Suggestion deployment, but want to resume experiment.

[2020-03-17 14:59] kunalyogenshah commented on #981
@andreyvelich : I see. So is the resume experiment feature coming soon? Because if we are not looking to resume an experiment, we could end up with manual deployment cleanups post completion for now. Our use case would be a few hundred experiments a day, which is a reasonable number of dead resources.

[2020-03-17 15:09] andreyvelich commented on #981
@kunalyogenshah Yes, this feature will come in the next releases.
For now, if you don't want to waste resources, after Experiment is finished and after you analysed the results, you need to delete Experiments.

[2020-03-17 15:10] kunalyogenshah commented on #981
Got it, thanks @andreyvelich . Just to be clear, is it ok if we delete just the suggestion deployment and leave the experiment as is? Or will that cause issues and we need to delete both?

[2020-03-17 15:15] andreyvelich commented on #981
@kunalyogenshah Right now, I am not sure that you can delete only suggestion deployment, Katib controller will deploy it again, unless you delete Experiment.

[2020-03-17 15:53] kunalyogenshah commented on #981
Thanks for being patient with my questions @andreyvelich . Greatly appreciated. I'll throw in a one more (hopefully the last)...

I have created a Katib deployment with a custom Database service endpoint. I initialized the controller container using the following env arguments :
[code]

However, the injected sidecar containers are created with the `-s katib-db-manager.<NS>:6789` argument. It's usi

[2020-03-17 16:09] kunalyogenshah commented on #981
Oh, it seems I found the cause. It expects the length of the namespace to be zero, else it won't use the custom arguments. But if I set the namespace to '', then it will break the other components right?

[2020-03-17 16:34] andreyvelich commented on #981
@kunalyogenshah You are welcome :)

Interesting question. @johnugeorge @gaocegege  Why here: https://github.com/kubeflow/katib/blob/969935e87e78b4e415317195bd9648f8a32a0bfb/pkg/common/v1alpha3/katib_manager_util.go#L43, user can specify custom `KATIB_DB_MANAGER_PORT_6789_TCP_ADDR` and `KATIB_DB_MANAGER_PORT_6789_TCP_PORT` only with the empty `KATIB_CORE_NAMESPACE` ?

We use `KATIB_CORE_NAMESPACE`

[2020-03-17 17:24] andreyvelich commented on #1089
/assign @andreyvelich

[2020-03-19 14:16] janvdvegt commented on #1037
This is biting us as well, it's even when the double space starts at 0.

[2020-03-19 15:44] JustinReboullot commented on #1037
According to the code, the only supported way to use bayesian optimisation with real number parameters is by searching for them in log scale. That is to say if your feasibleSpace goes from `x_min` to `x_max`, katib will search for an optimal value of x between `log_10(x_min)` and `log_10(x_max)`. If that is acceptable for you can just consider this as a feature and set `0 < x_min <= x_max`.

[2020-03-19 16:47] #1089 closed

[2020-03-20 15:56] anupash147 commented on #968
It working for me too ..

[2020-03-20 18:24] andreyvelich commented on #1095
@terrykong Thank you for your suggestion.
Yes, we have this feature in our TODO list.

/area front-end

[2020-03-20 18:26] andreyvelich commented on #1082
@kunalyogenshah Can you describe one of your training pods, please?

[2020-03-20 19:03] kunalyogenshah commented on #1082
Hey @andreyvelich . Sorry for the confusion, this one was resolved on our other thread https://github.com/kubeflow/katib/issues/981. This one can be closed. Thank you for all the help!

[2020-03-20 21:11] andreyvelich commented on #1082
@kunalyogenshah Sure, I will close this.

/close

[2020-03-20 21:11] #1082 closed

[2020-03-21 08:32] c-bata opened #1098 "Integrate with Goptuna."
/kind feature

**Describe the solution you'd like**

In this issue, I want to ask room for integrating with Goptuna.
https://github.com/c-bata/goptuna

It seems that katib runs Python to use scikit-optimize and hyperopt. I think that Goptuna might be useful because Goptuna supports various state-of-the-art algorithms and written in pure Go.

Please feel free to close this issue if you don't have t

[2020-03-23 03:41] elviraux opened #1099 "Katib User Interface User Experience"
Katib's user interface is at premature state and we would like to bring its user experience to a new level

That would be great if we can improve current Katib UI/UX.
Here is the guid for the Katib UI: https://github.com/kubeflow/katib/tree/master/pkg/ui/v1alpha3. Let me know about any questions.

Feel free to view current Frontend issues in Katib: https://github.com/kubeflow/katib/issues?q=is%3Ai

[2020-03-23 04:12] c-bata opened #1100 "Add CMA-ES based suggestion service."
/kind feature

**Describe the solution you'd like**

The covariance matrix adaptation evolution strategy (CMA-ES) [1] is one of the most promising black-box optimization methods, and it has shown the best performance out of over 100 optimization methods for a variety of BBO problems [2].

In this issue, I propose to add CMA-ES based suggestion service. If approved, I'll send a pull request.

[1] N

[2020-03-23 08:43] c-bata commented on #1100
I found #67 but seems to be inactive.

[2020-03-23 08:44] gaocegege commented on #1100
@c-bata Yeah. I'd appreciate it if you could help.

[2020-03-23 08:56] c-bata commented on #1100
@gaocegege Thank you for your reply!

Okay! I'm planning to implement CMA-ES based suggestion service by using Goptuna. Could you accept the dependencies with Goptuna?
https://github.com/c-bata/goptuna

Goptuna's CMA-ES sampler is well tested at GitHub Actions. I continuously checked the performance on some benchmark functions. Goptuna's CMA-ES implementation (purple) stands comparison with [pycma

[2020-03-23 09:00] gaocegege commented on #1100
Sure. Suggestions can be implemented by any language with GRPC support.

[2020-03-23 11:14] #1094 closed

[2020-03-23 15:10] #1060 closed

[2020-03-23 15:13] johnugeorge commented on #981
I think, this is a legacy code which doesn't seem correct. We have to use separate DB namespace env variable instead of using KATIB_CORE_NAMESPACE env

[2020-03-23 15:29] johnugeorge commented on #1100
Great. SGTM

You could use other algorithm implementations  for reference.

[2020-03-23 15:32] #1093 closed

[2020-03-23 17:33] #1079 closed

[2020-03-24 04:24] gaocegege opened #1104 "[discussion] Katib 2020 Roadmap"
We should decide on the roadmap next week.

/assign @hougangliu @andreyvelich @johnugeorge @richardsliu

[2020-03-24 08:56] johnugeorge commented on #1104
Let’s do it during katib community call

[2020-03-24 11:32] andreyvelich commented on #1090
/area front-end

[2020-03-24 11:42] andreyvelich commented on #643
@richardsliu For HP Jobs it was implemented in this PR: https://github.com/kubeflow/katib/pull/1032.
We need to make it for NAS Jobs.

[2020-03-24 11:44] andreyvelich commented on #722
Hi @kimchitsigai!
Right now, you can find information about Katib UI of the official Kubeflow website: https://www.kubeflow.org/docs/components/hyperparameter-tuning/experiment/#running-the-experiment-from-the-katib-ui.

[2020-03-24 11:46] andreyvelich commented on #834
@gaocegege I believe, we can close this, since we support Trial Templates in all namespaces and all configMaps names.

[2020-03-24 11:56] andreyvelich commented on #1099
That would be great if we can improve current Katib UI/UX.
Here is the guid for the Katib UI: https://github.com/kubeflow/katib/tree/master/pkg/ui/v1alpha3. Let me know about any questions.

Feel free to view current Frontend issues in Katib: https://github.com/kubeflow/katib/issues?q=is%3Aissue+is%3Aopen+label%3Aarea%2Ffront-end

This is the list of UI improvements that can be implemented:
1. htt

[2020-03-25 09:05] StefanoFioravanzo commented on #1104
@johnugeorge  Is there a recurring Katib community call? I would love to hear what are the plans for 2020, is it possible to have an invite?

[2020-03-25 10:05] gaocegege commented on #1104
@StefanoFioravanzo Of course. Welcome. But I am not sure if we should re-schedule the time of the call since there are some people in Europe and I am not sure if the old time works.

@johnugeorge Should we re-schedule the community call time?

[2020-03-25 17:21] johnugeorge commented on #1104
We can.  Can we discuss this in the Katib slack channel ?
@richardsliu Does it work for you?

[2020-03-26 04:13] devxoxo opened #1112 "pytorch example is not working"
/kind bug

**What steps did you take and what happened:**
I am trying to run [a pytorch example](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/pytorchjob-example.yaml)
But it is not working as follows.
Master pods keep crashing with "CrashLoopBackOff"
[code]

When I execute a command `describe pod`, I got the following error message:
`Warning  Failed     2m24s (x3 over 2m43s)  ku

[2020-03-26 17:36] johnugeorge commented on #981
Closing this PR as fix is merged in #1102

[2020-03-26 17:36] johnugeorge commented on #981
/close

[2020-03-26 17:36] #981 closed

[2020-03-27 16:39] andreyvelich commented on #1112
@devxoxo I tried to run pytorch example, for me it was succeeded. I was using GKE cluster without GPU. I didn't specify `--no-cuda` flag.

Can you show me the logs from the `pytorchjob-example-82cjcqdz-master-0` container, like you did `describe` ?

Also, try to run pytorch job from this yaml file with default values:

[code]

[2020-03-27 18:55] devxoxo commented on #1112
The pod has been deleted and reproduced.
Please note that the container id is different.
As you can see, there are no logs.
[code]
[code]
[code]

[The yaml file](https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/pytorchjob-example.yaml) I ran is as follows.
I didn't specify --no-cuda flag.
[code]

[2020-03-27 19:26] andreyvelich commented on #1112
Can you run this: `kubectl logs <master training container pod name> -n kubeflow-user -c metrics-logger-and-collector`.

In the screenshot above, your master training container pod name is:
`pytorchjob-example-lmfrjh5l-master-0`

[2020-03-27 23:09] andreyvelich commented on #636
/assign @andreyvelich

[2020-03-28 15:31] devxoxo commented on #1112
This is the result of `kubectl logs`:
[code]
[code]

[2020-03-30 07:19] hemantha-kumara opened #1115 "katib manager is going to CrashLoopBackOff due to katib db is not up with MYSQL_ROOT_PASSWORD for root user"
/kind bug

**What steps did you take and what happened:**
Kubeflow 0.7.1 installed on the on-prem cluster(issue might come even in 1.0.x)

**katib manager is going to CrashLoopBackOff state**

[code]
**Katib db is not going ready state**
`katib-db-677b68774f-mvbxn 0/1 Running 1 3d15h`

Katib manager logs

[code]
when we tried to debug an issue , we could find out db pod is going for earlry reset d

[2020-03-30 10:46] prabhat04011998 commented on #1095
Trials can be sorted by column structure , it could be happen by any D3.js column structure.

[2020-03-30 11:43] andreyvelich commented on #1112
@devxoxo Can you try to run just PytorchJob, from the yaml, that I mentioned here: https://github.com/kubeflow/katib/issues/1112#issuecomment-605100997 ?
After that, check the logs from the master pod.

[2020-03-30 12:13] andreyvelich commented on #1115
@hemantha-kumara Katib manager fails because Katib mysql is not running properly. Can you describe your `katib-mysql` pod, please?

Adding `startupProbe` seems ok for me.  What do you think @gaocegege @johnugeorge ?
For example, with the same command as `readinessProbe`: https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/mysql-db/deployment.yaml#L46

[2020-03-30 14:43] devxoxo commented on #1112
@andreyvelich When I tried to run [the yaml](https://github.com/kubeflow/katib/issues/1112#issuecomment-605100997),
I got the following error message: `admission webhook "validating.experiment.katib.kubeflow.org" denied the request: No spec.objective specified.`
<img width="1680" alt="스크린샷 2020-03-30 오후 11 17 04" src="https://user-images.githubusercontent.com/59082302/77925177-8140c300-72d

[2020-03-30 14:52] andreyvelich commented on #1112
Yeah. I just want to run PytorchJob without Katib. You can't do it from the Katib UI.

Do you have access to your Kubernetes cluster?
If yes, can you just create file with this yaml and run:
`kubectl create -f <path to the file with yaml>`

[2020-03-30 15:50] devxoxo commented on #1112
This is the result of not using the Katib UI.
In my case it seems to be giving the same error as before.
[code]
[code]
[code]

[2020-03-30 16:01] andreyvelich commented on #1112
Thank you for running this.

Can you check the logs from the master like this:
`kubectl logs pytorch-job-master-0 -n kubeflow-user -c pytorch`

[2020-03-30 16:11] devxoxo commented on #1112
I'm not sure why, but I didn't see any results like this:
vagrant@minikf:~$ kubectl logs pytorch-job-master-0 -n kubeflow-user -c pytorch
vagrant@minikf:~$

[2020-03-30 16:56] andreyvelich commented on #1112
@devxoxo Strange. Maybe you have old version of the image. Try to delete pytorch training container image from your machine:
`docker image rm gcr.io/kubeflow-ci/pytorch-dist-mnist-test:v1.0`
Also disable istio-proxy from pytorch job.
Delete job and deploy it again with this yaml:
[code]

[2020-03-31 04:41] hemantha-kumara commented on #1115
I haven't collected describe pod logs but I see container status 0/1
`katib-db-677b68774f-mvbxn 0/1 Running 1 3d15h`

[code]

[2020-03-31 12:39] andreyvelich commented on #1115
Can you try to deploy katib-db again from here: https://github.com/kubeflow/katib/tree/master/manifests/v1alpha3/mysql-db.

And run `kubectl describe pod <katib db pod name> -n kubeflow`.

[2020-03-31 20:00] c-bata commented on #1100
[FYI] I'm working this at https://github.com/c-bata/katib/pull/1. I'll open a pull request after ready for review.

The branch contains huge file changes because this repository contains `vendor/` directory. The main implementation is the following commit.

https://github.com/c-bata/katib/pull/1/commits/89a8ac9decc7833e52302656bdeb83868a6e1653

[2020-03-31 20:04] c-bata commented on #1098
I'll send a pull request to add a CMA-ES based suggestion service using Goptuna at #1100.

[2020-03-31 20:04] #1098 closed

[2020-04-01 01:43] gaocegege commented on #1100
Thanks.

[2020-04-01 01:46] gaocegege commented on #1104
Things I want to discuss:

- Early Stopping
- HA (Algorithm parameter validation)
- Cleanup (Cleanup suggestions)
- Resume
- User-friendly trial template

[2020-04-01 10:08] johnugeorge commented on #1104
Tracked

1. Early stopping - https://github.com/kubeflow/katib/issues/692
2. Cleanup- https://github.com/kubeflow/katib/issues/1062, https://github.com/kubeflow/katib/issues/1061
3.  User-friendly trial template - https://github.com/kubeflow/katib/issues/906

[2020-04-01 10:24] gaocegege commented on #1104
- Persistent storage for suggestion state.
- NAS
- auto feature engineering

[2020-04-01 10:27] johnugeorge commented on #1104
UI fixes and enhancements

[2020-04-01 10:41] gaocegege commented on #906
TODO: Share the design of Tekton

/assign @gaocegege

[2020-04-01 16:27] #636 closed

[2020-04-02 03:28] gaocegege commented on #906
Tekton uses a separate field to define the parameters. Then they can use it in template like:

[code]

[2020-04-02 03:32] gaocegege commented on #906
In my use case (in caicloud), we do not modify the template. We just make the template `{{- with .HyperParameters}} {{- range .}} {{.Name}}={{.Value}} {{- end}} {{- end}}` a a arg. Then we use the TFJob Spec to store it. When we need to create the Experiment, we marshal it to JSON. Then set GoTemplate in the Experiment spec.

I think maybe we do not need to make katib so flexible. We can just keep

[2020-04-02 03:39] gaocegege commented on #1104
@johnugeorge Will you update our Roadmap doc? Or I can help do it.

[2020-04-02 09:36] johnugeorge commented on #1104
Please go ahead. Thanks

[2020-04-02 10:18] gaocegege commented on #1104
/assign @gaocegege

[2020-04-02 13:14] jlewi commented on #906
I think there are two nice things about Tekton.

1. It has separate resources for Task and TaskRun
    * So the template (a Task) is a first class Kubernetes resource
2. The way Task templates do substitution is simple and more constrained then using go templates to do arbitrary subsitution.

Could/Should Katib support a Tekton task as a first class resource? So in a Katib job you would specify th

[2020-04-02 19:00] andreyvelich commented on #906
@gaocegege @jlewi I agree that Katib should support env variables and args for the Training Jobs.

Do we want to be dependant on Tekton CRD?
In that case, user will have to install additional CRD while deploying Katib.

Currently, from the Job we take only first container as training job: https://github.com/kubeflow/katib/blob/master/pkg/job/v1alpha3/job.go#L64.

As I mentioned before we can defin

[2020-04-03 00:09] gaocegege commented on #906
No I think we do not use Tekton, we just learn how to design CRD from it.

[2020-04-03 08:57] StefanoFioravanzo opened #1119 "Step field does not work with int parameters"
/kind bug

**What steps did you take and what happened:**
I create an experiment over two integer parameters, using grid search. The template looks like this:

[code]

The trial start as expected, but the `step` field doesn't have any effect. I see the parameters being increased by `1`, instead of `step`.

**What did you expect to happen:**
I would expect `step` to have effect on the input paramet

[2020-04-03 09:14] StefanoFioravanzo opened #1120 "Suggestions pod does not fail when exception is raised"
/kind bug

**What steps did you take and what happened:**
Created a Katib experiment, using `grid` search and two `int` parameters. CRD looks like this:

[code]
Since parameter `b` has `min=50` and `max=1`, I would expect the submission of the CRD to fail.

**What did you expect to happen:**
What happens is that the suggestions pod is created and it starts to continuously produce the following err

[2020-04-03 09:23] gaocegege commented on #1120
We need to add validation for algorithm to fail fast. I think it is in the roadmap 2020.

[2020-04-03 09:25] gaocegege commented on #1119
It is by design, I think. step will be used only when the type is float.

[2020-04-03 09:32] StefanoFioravanzo commented on #1119
@gaocegege is there a specific reason for this? It would make a lot of sense to be able to specify a step for integer parameters. As soon as we started to try out Katib we bumped into this.

[2020-04-03 09:33] gaocegege commented on #1119
SGTM. I think we can support it. I think it is more like a historical problem.

[2020-04-03 10:33] StefanoFioravanzo opened #1122 "Chocolate service db exhausted"
/kind bug

**What steps did you take and what happened:**
When creating experiments that use the `grid` search algorithm __sometimes__ trials stop being generated, even though the experiment is still seen as running.
By printing the logs of the suggestions pods I can see the following:

[code]

Note that this is happening just sometimes, I was not able to pin down a specific configuration that cau

[2020-04-03 12:57] andreyvelich commented on #1119
I agree we can support it.
/assign @andreyvelich

[2020-04-03 13:13] andreyvelich opened #1124 "Support string values for categorical parameter in Grid Suggestion"
/kind feature

User can't specify string values for Grid suggestion in Categorical parameter.
Currently, our Chocolate suggestion supports only int or float values for the list in Categorical parameter. See here: https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/grid-example.yaml#L37.

User should be able to specify any values in the list.

We can convert string values from the list

[2020-04-05 22:38] jlewi commented on #906
Shouldn't the question be whether a Tekton task is the right solution? If the API isn't right then I think it makes sense to design a Katib specific resource but I don't see why we would take on the cost of building another CR if one already exists.

Backing up a step. What is the problem this issue is trying to solve? You are trying to define a template resource that would allow Katib to stamp ou

[2020-04-06 14:21] StefanoFioravanzo commented on #1124
Hey @andreyvelich I was testing some grid experiments and this has been my experience:

- Running a grid experiment with one `int` argument, one `double` argument and one `categorical` argument (with integers as strings), worked as expected. The trials were generated and the search space properly explored.
- When running a grid experiment with just one argument, of type categorical, just 2 trials

[2020-04-06 15:17] andreyvelich commented on #1124
Yes, for me it works as well. Only problem with the strings values. As I said above, we can convert these values to appropriate list of integer values and match them when we create Assignment for the Trial.

How many `maxTrialCount` have you specified? Can you show me your search space also.

This can happen because Chocolate suggestion has generated all possible combination of parameters from the

[2020-04-07 02:02] andreyvelich opened #1125 "Structure for NAS algorithms"
/kind feature

Since I am planning to support DARTS in Katib, I have few thoughts and questions about current NAS algorithms.

1. Do we want to name each NAS algorithm starting with `nas`. For example: `nasdarts`? Or we can name it with algorithm name, e.g `darts`.
2. Rename `nasrl` to `enas`. I think it will be more clear to user, since we are using ENAS implementation.
3. Do we want to create `n

[2020-04-07 02:06] gaocegege commented on #906
@jlewi Thanks for your comment. It is helpful. I will reply after a deep dive.

[2020-04-07 02:11] gaocegege opened #1126 "Add validation for algortihms (a.k.a suggestions)"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We should validate algorithm settings in the suggestion services.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/priority p1
/kind feature

[2020-04-07 02:17] gaocegege commented on #1125
SGTM. I will add it into 2020 roadmap.

/priority p1

[2020-04-07 02:22] gaocegege commented on #1122
Thanks for the issue, I will have a look

/cc @andreyvelich

[2020-04-07 02:23] gaocegege commented on #1120
ref #1126

[2020-04-07 02:27] andreyvelich opened #1127 "Design for NAS model constructor"
/kind feature

Currently, for ENAS we have model constructor inside training container. I think, we can create Model somewhere else. In that case, user doesn't need to create model constructor inside training container.

Few thoughts:

1. As @gaocegege mentioned here: https://github.com/kubeflow/katib/issues/461, we can use ONNX representation and create mode inside Suggestion. In that case, we ca

[2020-04-07 02:37] #1119 closed

[2020-04-07 09:06] andreyvelich commented on #1122
@StefanoFioravanzo Thank you for the issue.
Try to use latest image for the Grid. This PR: https://github.com/kubeflow/katib/pull/1116, should fix some of these problems.
Also, can you show your Search Space and `maxTrialCount`?

[2020-04-07 09:11] sperlingxx commented on #1061
Really useful feature!

[2020-04-07 09:16] andreyvelich commented on #1125
/area nas

[2020-04-07 09:16] andreyvelich commented on #1127
/area nas

[2020-04-07 09:20] gaocegege commented on #1061
/priority p0

[2020-04-07 09:21] #1104 closed

[2020-04-07 10:05] sperlingxx opened #1128 "Persist meta data of experiments"
/kind feature

**Describe the solution you'd like**
Meta data generated during HPO process is worthy to restore. It can be used to guide subsequent tuning works. Maybe it can also be precious data of further academic research.

To me, since katib has DB abstraction layer _(KatibDBInterface)_ ,  we can extend it to persist meta data such as experiment settings and corresponding trial information (p

[2020-04-07 10:08] sperlingxx commented on #1128
@andreyvelich  What do you think of this idea?

[2020-04-07 12:12] andreyvelich commented on #1128
@sperlingxx Thank you for the issue. SGTM.
Previously, we stored Experiments search space in the Katib DB as well as metrics.
Currently, ones user deletes Experiment, all Trials metrics are cleaned in the DB.

Maybe we can control it with resuming Experiment flag.

[2020-04-07 15:19] StefanoFioravanzo commented on #1124
The `maxTrialCount` was 30 and two 2 trials were performed. And definitely there were other values to be tried. I will first test again with the new PR included and will report back. Thanks!

[2020-04-08 02:37] sperlingxx commented on #1128
@andreyvelich I fully agree with the approach "control it with resuming Experiment flag". Shall we add this issue into 2020 roadmap?

[2020-04-08 12:57] andreyvelich commented on #1128
@gaocegege @johnugeorge Any thoughts?

[2020-04-08 15:33] StefanoFioravanzo commented on #1124
@andreyvelich I tested the new image and indeed the search space is explored even with categorical arguments. Also the logging is much improved!

So, now when the search space is exhausted, but the goal is not reached and also max trial count is not reaches, the suggestions pod still outputs `db is exhausted, increase Search Space or decrease maxTrialCount!`. It would be ideal to have this being r

[2020-04-08 15:39] StefanoFioravanzo commented on #1122
Writing here (after #1124 ) as it is more related:

[2020-04-08 18:45] andreyvelich commented on #1124
@StefanoFioravanzo Can you show me your yaml file with Experiment, where you got this error?

I think we should check it in Validate Algorithm Settings step.
I am not sure that using Grid user should start Experiment if `maxTrialCount` < count of all possible combinations of parameters.

[2020-04-08 18:46] andreyvelich commented on #1122
@StefanoFioravanzo Can you show me your yaml file with Experiment, where you got this error?

I think we should check it in Validate Algorithm Settings step.
I am not sure that using Grid user should start Experiment if maxTrialCount < count of all possible combinations of parameters.

You are right, let's discuss in this issue.

[2020-04-08 19:24] StefanoFioravanzo commented on #1122
Here it is:

[code]

This is the experiment, the search space is silly, just for testing. I omitted the image and the python command, since they are in a private repository. What I have is just a python function that returns the sum of the input arguments, that's it.

So as you can see the maxTrialCount is 30 and the result is 100, that could never be reaches. After all the trials are completed th

[2020-04-09 15:02] andreyvelich commented on #1122
@StefanoFioravanzo I believe for your search space, 30 Trials should be enough.
After using the latest image for the Grid with this Experiment you are still getting `DB exhausted` error?

[2020-04-09 15:13] StefanoFioravanzo commented on #1122
Exactly! I get that error when the search space is fully explored, and the goal has not been reached

[2020-04-09 15:40] andreyvelich commented on #1122
@StefanoFioravanzo I will test your search space with this amount of Trials and get back to you.

[2020-04-10 07:41] Felihong opened #1135 "Failed specifying service account in Katib ConfigMap"
Hi there,

to grant Katib experiment pods permissions of accessing GCP storage bucket, I modified the ConfigMap `katib-config` to specify pods with algorithm random using service account `default-editor` instead of `default`:
[code]

However, once I started my experiments, it seems like the pods are still running with the default service account, below a snippet of pod specification:
[code]
It see

[2020-04-10 11:11] andreyvelich commented on #1125
What do you think about 1st and 3rd step? @gaocegege @johnugeorge
Should we name nas algorithms starting with `nas` or just like name of the algorithm?

[2020-04-10 14:09] andreyvelich commented on #1135
@Felihong Thank you for your issue.

Can you change version of `katib-controller` image to the latest?
I believe in 0.8.0 image we don't have this feature.

[2020-04-10 14:43] johnugeorge commented on #1125
3 looks ok as it is just directory refactoring.

For 1, is it really required? If it needs to be added, I feel that we have to tag existing hp algorithms too.

[2020-04-10 14:49] andreyvelich commented on #1125
No, is it not required. I am just worried how users will distinguish HP and NAS algorithms.

[2020-04-10 18:09] andreyvelich opened #1136 "[UI Feature] Handle global namespace change from Kubeflow Central Dashboard"
/kind feature

Currently, after updating namespace in Kubeflow Central Dashboard, user must go to the Central Dashboard main page and open Katib UI again to see this change.
See here: https://github.com/kubeflow/katib/blob/master/pkg/ui/v1alpha3/frontend/src/components/KubeflowDashboard.jsx#L5.

It would be great if we can automatically handle this change directly from the Katib UI.

/area front-e

[2020-04-10 18:11] andreyvelich commented on #1099
This is another very good issue to work with: https://github.com/kubeflow/katib/issues/1136.

[2020-04-10 19:05] andreyvelich commented on #1122
@StefanoFioravanzo I just figure out that your Experiment has `maxTrialCount` more than all combinations of parameters.
I believe in your search space the maximum amount of trials is 9.

[2020-04-11 08:42] StefanoFioravanzo commented on #1122
So what you are saying is that this behaviour is expected, when the `maxTrialCount` is greater than all combinations?

[2020-04-11 09:32] Felihong commented on #1135
Hi @andreyvelich , thanks for your suggestion!

I changed the image version to `latest` and now I can see the service account has been updated to `default-editor` in the experiment deployment file:
[code]

However the Pods generated are stilling holding SA `default`:
[code]

Did I misunderstand something here? And btw. what's the best practice for granting API permissions when using Katib? Should

[2020-04-13 04:48] devxoxo commented on #1112
I don't know the exact reason, but in my case,
The methods you suggested did not work.
Instead, I changed the base image from pytorch/pytorch: 1.0-cuda10.0-cudnn7-runtime to mapler/pytorch-cpu and it worked.

[2020-04-13 12:20] andreyvelich commented on #1112
Do you mean changed base image in `Dockerfile` for training container?

[2020-04-13 12:28] andreyvelich commented on #1135
This Pod (random-example-n6gq5ct4-qbjmr) is related to Trial.

If you want to add service account to Trial Pods also, you can update Trial Template. For example, for Random Example: https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml#L48, you can update `spec`.

[2020-04-13 12:35] andreyvelich commented on #1122
Yes, it is expected.
As I said above, I think we will validate it in `ValidateAlgorithmSettings`.

[2020-04-13 13:38] andreyvelich commented on #1125
/assign @andreyvelich

[2020-04-13 13:57] Felihong commented on #1135
Hey @andreyvelich , it works now, thanks for pointing out!

[2020-04-13 13:59] andreyvelich commented on #1135
@Felihong You are welcome!

[2020-04-13 20:08] andreyvelich opened #1144 "Suggestion services folder structure"
/kind feature

Currently, we store all suggestion `<algorithm_name>_service.py` files under `/pkg/suggestion/v1alpha3` directory.

Is there are reason to have structure like that? For example, for Golang Algorithms we have to store service in the same package as other files for the algorithm (See comment: https://github.com/kubeflow/katib/pull/1131#discussion_r406737331).

I think we can add `<alg

[2020-04-14 01:00] devxoxo commented on #1112
Yes, that's what I said.

[2020-04-14 01:09] andreyvelich commented on #1112
@devxoxo Please, can you give me the link to the Training container source code that you used while building the image?

[2020-04-14 03:29] c-bata commented on #1144
I agree with your opinion 👍

Furthermore I think we can move `/pkg/suggestion/v1alpha3/bayesianoptimization/src` to  `/pkg/suggestion/v1alpha3/bayesianoptimization`.

[2020-04-14 04:27] devxoxo commented on #1112
This code only removes the gpu-related settings from the code in this [link](https://github.com/kubeflow/pytorch-operator/blob/master/examples/mnist/mnist.py).
[code]

And I installed minikf as explained in the following link
https://www.arrikto.com/minikf/

[2020-04-14 08:03] #1135 closed

[2020-04-14 13:50] #1125 closed

[2020-04-15 18:22] c-bata opened #1147 "Update docs to tell which suggestion service supports for which algorithm."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We will have two suggestion providers that support TPE after merged #1131.
So we should  update [here](https://github.com/kubeflow/katib/blob/master/docs/proposals/suggestion.md#algorithm-supports) to provide the following information:

* Which suggestion service supports for which al

[2020-04-15 19:34] andreyvelich commented on #1147
@c-bata Thanks for mentioning this.

I think, it is better to update Kubeflow Website with it, since users will need this information.
We want to have user-side documentation in the Website and developer-side documentation in Katib docs.
We can add this information when we update Katib images in Kubeflow Manifest repository.

What do you think @sarahmaddox @johnugeorge ?

[2020-04-15 20:17] sarahmaddox commented on #1147
Thanks @c-bata and @andreyvelich +1 to the recommendation to put the information on the website. This is the location of the user guide for Katib:
https://www.kubeflow.org/docs/components/hyperparameter-tuning/experiment/

[2020-04-15 21:15] andreyvelich opened #1148 "[UI Feature] Show Suggestion information in Experiment page"
/kind feature

Currently, in Experiment view page user can view only Experiment yaml information.
I think it would be useful to show Suggestion CR yaml or Suggestion statuses.

For example, if ValidateAlgorithmSettings fails Experiment fails also and user can see error only in Suggestion CR statuses.

What do you think @gaocegege @johnugeorge ?

[2020-04-15 22:33] andreyvelich commented on #1124
/assign @andreyvelich

[2020-04-16 09:14] sperlingxx opened #1151 "Add max running time as an optional stop criteria"
/kind feature

**Describe the solution you'd like**
Currently, katib has three kinds of succeed reason:
1. ExperimentGoalReached
2. ExperimentMaxTrialsReached
3. ExperimentSuggestionEndReached

In my opinion, it will bring a lot convenient to some users if we add another succeed criteria: max running time.
We can add a new field `MaxRunningTimeInMinutes *uint64` in experiment spec, and judge wheth

[2020-04-16 16:51] andreyvelich opened #1152 "Goptuna Suggestion Katib integration"
/kind feature

For Katib integration with Goptuna we have to make these steps:

- [x] Suggestion source code

- [x] CMA-ES yaml example

- [x] Training container source code, if it is not possible to use mxnet example: https://github.com/kubeflow/katib/tree/master/examples/v1alpha3/mxnet-mnist

- [x] Build Goptuna image in CI and update Katib config

- [x] Create e2e test in CI

/cc @c-bata

[2020-04-16 16:52] c-bata commented on #1152
Thank you!

/assign @c-bata

[2020-04-16 16:52] andreyvelich commented on #1152
@c-bata I can help you with 4th and 5th step related to CI.
Can you submit yaml example and check training container, please?

[2020-04-16 16:58] c-bata commented on #1152
Sure! Thank you.

[2020-04-16 17:12] #1100 closed

[2020-04-16 19:45] #1124 closed

[2020-04-17 04:05] c-bata commented on #1152
I'm in two minds which example should I add:

## mxnet-mninst example

![ScreenShot 2020-04-17 12 54 52](https://user-images.githubusercontent.com/5564044/79530579-a76dad80-80aa-11ea-8c3f-3b318efec1ee.png)

<details>

<summary>experiment</summary>

This experiment is almost the same of `tpe-example`. Please note that Goptuna's CMA-ES does not support categorical search space. So `--optimizer` para

[2020-04-17 06:33] hjkkhj123 opened #1156 "katib-mysql does not work"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

i just install kubeflow in manual

**What did you expect to happen:**
[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kubectl versio

[2020-04-17 07:10] Franky12 commented on #15
Hi guys, exploring katib looking for good first issue, is there something I can start with?

[2020-04-17 08:34] gaocegege commented on #15
Now I think we can close this issue since we have already implemented many algorithms. @Franky12 Thanks for your interest. If you want to contribute to katib, please have a look at our roadmap.

[2020-04-17 08:34] #15 closed

[2020-04-17 08:54] gaocegege commented on #1151
LGTM.

/priority p2

[2020-04-17 08:56] gaocegege commented on #1147
Yeah I also recommend updating kubeflow docs.

[2020-04-17 08:59] gaocegege commented on #1148
I think it is an awesome feature!

[2020-04-17 10:11] johnugeorge commented on #1148
+1

[2020-04-17 11:50] andreyvelich commented on #1148
@gaocegege @johnugeorge Do you have any ideas how to show Suggestion to the user?
We can make another dialog view, like with Experiment with all CR view.

[2020-04-17 13:29] andreyvelich commented on #1156
@hjkkhj123 Thank you for the issue.
Can you describe `katib-mysql` pod please.
Which version of Katib are you using?
Which manifest did you use when installing Kubeflow?

[2020-04-17 15:28] c-bata commented on #1152
Thank you for your help!!

[2020-04-17 15:32] andreyvelich commented on #1152
@c-bata Thank you for implementing this new feature to Katib.
It is awesome!

I close this PR, since we completed CMA-ES integration
/close

[2020-04-17 15:32] #1152 closed

[2020-04-18 00:17] andreyvelich commented on #714
Sorry for the long reply @cyzhangchenya.

If you still can't access Katib UI, can you try to use Kubeflow 1.0 version, please.

[2020-04-18 00:21] andreyvelich commented on #722
I think we can close this issue.
/close

[2020-04-18 00:21] #722 closed

[2020-04-18 00:27] andreyvelich commented on #746
@johnugeorge @gaocegege Should we close this, I think we have new labels: https://github.com/kubeflow/katib/blob/master/pkg/common/v1alpha3/common.go#L22?

[2020-04-18 00:30] andreyvelich commented on #834
/close

[2020-04-18 00:30] #834 closed

[2020-04-18 01:06] andreyvelich commented on #916
/close

[2020-04-18 01:06] #916 closed

[2020-04-18 01:12] andreyvelich commented on #927
@gaocegege We can close it, we implemented it in: https://github.com/kubeflow/katib/pull/958.

[2020-04-18 09:40] c-bata commented on #1147
Hi, I submit a pull request to kubeflow/website:
https://github.com/kubeflow/website/pull/1907

[2020-04-20 01:42] gaocegege commented on #927
/close

[2020-04-20 01:42] #927 closed

[2020-04-20 01:42] gaocegege commented on #746
/close

[2020-04-20 01:43] #746 closed

[2020-04-20 01:43] gaocegege commented on #714
/close

[2020-04-20 01:43] #714 closed

[2020-04-20 01:44] gaocegege commented on #1156
@hjkkhj123 I think you may mount a hostPath in the MySQL instance and there are some existing files for older version MySQL in the path. Can you clean up the storage (PV) and have another try?

[2020-04-20 01:45] gaocegege commented on #1148
I am not a UI expert. Personally I think another dialog LGTM

[2020-04-20 02:10] hjkkhj123 commented on #1156
At first sorry for my bad english

@andreyvelich
here is `kubectl describe pods katib-mysql`
[code]

And I use `https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_k8s_istio.v1.0.1.yaml` this menifast

@gaocegege
I user rook/ceph for PV and there is no old PV
I tried reinstall kubeflow more than 3times every time i check to delete old pv or configs

Thank you for helping m

[2020-04-20 06:57] hjkkhj123 commented on #1156
@andreyvelich

I found the reason maybe?
kubeflow/kubeflow#4864
I see this issue and this is really similar to me
I tried to use hostpath as PV and it works
but I wanna use my storageclass via ceph
how can I solve this issue?

Thank you

[2020-04-20 07:02] sakaia opened #1159 "[Installation does not working]deploy.sh is failed"
/kind bug

**status**

I installed microk8s1.15 + kubeflow1.0.2.
After that, I try to install (deploy) katib but failed with following error.
troubled manifest is follows [katib-controller.yaml](https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/katib-controller/katib-controller.yaml)

Where should I modify?

[code]

**What did you expect to happen:**

The deployment works fine.

**A

[2020-04-20 11:06] Felihong opened #1160 "Failed calling webhook when running random example experiment"
Hi there,

my Katib failed to submit the the random algorithm example https://github.com/kubeflow/katib/blob/master/examples/v1alpha3/random-example.yaml:
[code]
The same experiment worked just fine before several days and I didn't change anything. All deployments `kati-controller, katib-db-manager` etc. are in healthy states. Any ideas what is going wrong here?

Thanks.

**Environment:**

- Kubef

[2020-04-20 15:18] andreyvelich commented on #1160
Can you check your webhook status?
`kubectl get MutatingWebhookConfiguration`

[2020-04-20 15:19] andreyvelich commented on #1159
Hi @sakaia,
If you are installing Kubeflow, Katib should be a part of it. You don't need to install it manually.
How did you deploy Kubeflow?

[2020-04-20 15:32] andreyvelich commented on #1156
@hjkkhj123 I am not sure that you can use rook/ceph as PV for mysql image.
Did you check documentation, if mysql works with this sort of volume?

[2020-04-20 16:25] Felihong commented on #1160
Hi @andreyvelich , thanks for your reply.

The `katib-mutating-webhook-config` is listed in Webhook configurations:
[code]

Below the yaml file:
[code]

Thanks for your help!

[2020-04-20 22:34] andreyvelich commented on #1160
Can you describe your Kubeflow namespace, check it you have label `katib-metricscollector-injection=enabled` there?
Also, where did you see this error, that you showed above?

If it doesn't help, try to reinstall Katib deployment.
You can use this script: https://github.com/kubeflow/katib/blob/master/scripts/v1alpha3/deploy.sh to install Katib.
This will delete validating and mutating webhook.
Kat

[2020-04-21 00:51] sakaia commented on #1159
Thank you.
Today. I try to deploy kubeflow. Without using depoy.sh, I execute random-example.yaml
It works successfully.

Deploy is based on kfctl_k8s_istio.v1.0.2.yaml
https://www.kubeflow.org/docs/started/getting-started/#kubernetes

[2020-04-21 00:51] #1159 closed

[2020-04-21 01:41] hjkkhj123 commented on #1156
@andreyvelich Finally, I found solution
this is just error with probe
I just deploy simple mysql pod with rook/ceph PV it works
so i change the probe interval and threshold
it works fine now
thank you for helping

[2020-04-21 01:41] #1156 closed

[2020-04-21 13:49] czheng94 commented on #906
My thoughts after reading through @jlewi's comment:

According to my understanding, we are designing a templated subresource that has these requirements:
1. Input-controlled: Created by Trial with Hyperparameter assignments as input
1. Output-retrieved: Managed by Trial to retrieve Metrics as output
1. Status-monitored: Managed by Trial to determine Trial status (Running, Succeeded or Failed) from

[2020-04-21 14:33] andreyvelich commented on #1148
/assign @andreyvelich

[2020-04-22 10:51] Felihong commented on #1160
Hi @andreyvelich , I re-deployed Katib and now it works fine. Thanks a lot for your help!

The error was occurred as a pop-out on top of the page, when I tried to submit the experiment yaml file. I also checked the kubeflow namespace and `katib-metricscollector` was injected:
[code]

Any ideas what may cause this happen?

[2020-04-22 17:16] andreyvelich commented on #1160
@Felihong Maybe on your cluster you somehow modify this webhook.
How did you install Kubeflow?

[2020-04-23 08:57] Felihong commented on #1160
@andreyvelich actually not that I remember :(

My kubeflow cluster is hosted on GCP and I deployed `v1.0` using the official config URL https://raw.githubusercontent.com/kubeflow/manifests/v1.0-branch/kfdef/kfctl_gcp_iap.v1.0.0.yaml

[2020-04-23 16:32] andreyvelich commented on #1160
@Felihong Ok, if you have this problem again, let me know.

[2020-04-23 16:50] andreyvelich opened #1163 "Rename Chocolate algorithm names"
/kind feature

Currently, in Chocolate suggestion we name algorithms starting with `chocolate-`:
https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1alpha3/chocolate/base_chocolate_service.py#L56-L70.

We should name them by algorithm names, without `chocolate-`, like we did with `grid` to be consistent with other suggestion implementation (e.g Goptuna)

See comments here: https://githu

[2020-04-23 16:57] andreyvelich commented on #1163
/assign @andreyvelich

[2020-04-23 16:59] johnugeorge commented on #1144
SGTM

[2020-04-23 17:00] andreyvelich commented on #1144
/assign @andreyvelich

[2020-04-23 17:05] c-bata commented on #1163
I'm sorry. Now I noticed this issue and assigned you.
I've just submitted a pull request to https://github.com/kubeflow/katib/pull/1164.
Please feel free to close #1164.

[2020-04-23 17:21] andreyvelich commented on #1163
@c-bata It is fine, thank you for the PR. I will take a look 👍
I haven't started yet.
/assign @c-bata

[2020-04-23 17:23] c-bata commented on #1163
I see. Thank you!

[2020-04-23 18:04] #1148 closed

[2020-04-23 18:08] andreyvelich opened #1165 "Add new permission to Katib UI RBAC to view suggestions"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1162, Katib UI RBAC must have permission to select Suggestion CR: https://github.com/kubeflow/katib/blob/master/manifests/v1alpha3/ui/rbac.yaml#L18.

We should update Kubeflow Katib Manifest with this new permission: https://github.com/kubeflow/manifests/blob/master/katib/katib-controller/base/katib-ui-rbac.yaml#L15, when we swit

[2020-04-24 19:54] andreyvelich opened #1167 "[Feature] Support DARTS in Katib"
/kind feature

We should support DARTS algorithm in Katib.
I start to work on it.

Original paper: https://arxiv.org/abs/1806.09055.

/area nas

[2020-04-24 19:54] andreyvelich commented on #1167
/assign @andreyvelich

[2020-04-24 21:02] czheng94 opened #1168 "Suggestion stuck for HyperBand when `len(response.ParameterAssignments) < requestNum`"
/kind bug

**Suggestion should support cases where `len(response.ParameterAssignments) < requestNum`**

**What steps did you take and what happened:**
1. Run the following hyperband example:

[code]

After the first 9 trials succeeded, `spec.requests` in the `Suggestion` will be increased by 9. However, it will be stuck at this state

[code]

This is because the number of suggestion that can be ge

[2020-04-25 00:32] andrewlarimer opened #1169 "Experiments are created but are not resulting in deployments"
/kind bug

**What steps did you take and what happened:**

I have written a custom component which creates a few experiments. The experiment custom resources are being successfully created, however they do not trigger the creation of deployments and never change status to Running.

**What did you expect to happen:**
I expected the creation of the experiments to trigger deployments, which would cre

[2020-04-25 18:09] andrewlarimer commented on #1169
Ah apparently the experiment name strings I was passing were too long. Resolved.

[2020-04-25 18:09] #1169 closed

[2020-04-25 19:37] jlewi opened #1170 "OpenAPI validation for Katib CRs - prevent invalid specs"
/kind feature

I'm getting customer reports that invalid Experiment specs lead to experiments being stuck.

This is a common failure mode with custom resources; if the resource spec is invalid the resource will get created but when the controller tries to parse it the parsing will fail.

I think the new/recommended way of handling this might be to use OpenAPI schema validation in the CRD.
https://