[2021-02-03 09:14] gaocegege commented on #1425
cc @johnugeorge @andreyvelich

[2021-02-03 10:50] Gorosia commented on #1425
@azarezade
Thank you for the reply.
I have Kubernetes on a 'on-premise' single node machine.

[2021-02-05 04:50] martin-liu commented on #1415
Same issue here when install kubeflow in minikube, following https://www.kubeflow.org/docs/started/workstation/minikube-linux/

Basically password of root is "" rather than $MYSQL_ROOT_PASSWORD, which fail the redinessProbe

[2021-02-05 06:48] chinmay22897 commented on #1415
@martin-liu Is the password correctly set in Secret file and pod is taking passwd from secret?

[2021-02-05 07:47] martin-liu commented on #1415
@chinmay22897 Yes.

It works after I exec to the mysql pod, and execute below commands:
[code]

[2021-02-06 06:42] Josepholaidepetro commented on #1425
@azarezade I am trying to run the official katib documentation example using kubeflow deployed through microk8s and I am getting this error.
I have tried "kubeflow.org/v1", it still gives the same error but when I try "kubeflow.org/v1alpha3", it creates an experiment but the experiment doesn't run, nothing shows in the katib UI and no trials generate.

`error: unable to recognize "random-example.y

[2021-02-06 06:45] azarezade commented on #1425
@Josepholaidepetro I think you should try `kubeflow.org/v1beta1`. For me, it runs the experiment, but I still have the aforementioned mentioned issue.

[2021-02-06 06:47] Josepholaidepetro commented on #1425
@azarezade That's what I did, I still got the error.

[2021-02-06 07:13] azarezade commented on #1425
I think you may need to open a new issue, unless you get the the same results in debugging command like `kubeflow get experiments`, `kubeflow get trials` and so on the I posted in my first message. Then we should wait to see if there is a solution or not.

[2021-02-06 07:40] Josepholaidepetro commented on #1425
@azarezade The experiment is created but nothing is running

[2021-02-06 09:34] Josepholaidepetro opened #1428 "Katib experiment not running, stuck at experiment created."
/kind bug

**What steps did you take and what happened:**
The official documentation for tfjob example on katib. The experiment gets created but nothing runs or is generated.
User-namespace is admin.

This is the YAML file applied.

[code]

**Anything else you would like to add:**

[code]

[2021-02-06 09:43] Josepholaidepetro commented on #1428
**When I tried to get experiment, no event was created**

[code]

[2021-02-07 02:37] wukong1992 opened #1429 "Question about metrics collector"
I review the code about the metrics collector, and find out the log to stdout can be collected by file-metrics-collector.  But i didnot see how to achieve it.  who can explain it.

[2021-02-07 02:39] wukong1992 commented on #1429
@hougangliu

[2021-02-07 03:50] gaocegege commented on #1429
We will redirect STDOUT to a file, and share the file between main container and metrics collector container.

[2021-02-07 06:49] wukong1992 commented on #1429
@gaocegege I see the file, but not find where is the 'redirect STDOUT' code, the code in which director?

[2021-02-07 08:00] gaocegege commented on #1429
https://github.com/kubeflow/katib/blob/621973712e780eb85167e39211b3da769cf776bb/pkg/webhook/v1beta1/pod/inject_webhook.go

We are using a Pod level webhook to implement it.

[2021-02-08 09:59] jhtobigs commented on #1395
@shantanuVerma7
Hi, I was stuck in same issue, and followed your process.

But I got this error
`{"code":5100,"message":"Invalid policy: no key usage available"}`

when I run below command
`cfssl gencert -ca=ca.pem -ca-key=ca-key.pem --config=ca-config.json -profile=web-servers server-csr.json | cfssljson -bare server`

Please, Can I get detail description of jsons?

[2021-02-08 15:21] andreyvelich commented on #1416
@rky0930 As I can see from your error you are using v1alpha3 version for the Katib controller.
Can you try to deploy the latest version of the controller and run examples again?

[2021-02-08 15:25] andreyvelich commented on #1415
It seems that the problem with your storage class and mysql @anneum.
Is that correct that once you manually deploy PV and PVC, `katib-mysql` and `katib-db-manager` works properly ?

[2021-02-08 15:36] andreyvelich commented on #1425
Thank you for creating this @azarezade.

It seems that you are creating Experiment in `kubeflow` namespace and webhook doesn't work and metrics are not collected.
If you deploy Katib as part of Kubeflow you should create Experiment only in your Profile namespace.
Please check the tutorial [here](https://www.kubeflow.org/docs/components/katib/hyperparameter/#tensorflow-example).

[2021-02-08 15:42] andreyvelich commented on #1428
@Josepholaidepetro Can you try to deploy the 1.2 Kubeflow version with Katib 0.10 on your cluster and run the Experiments again?
As I can see your Katib controller version is 0.8, but you deploy Experiments from Katib 0.10.

You can use this kfdef config: https://github.com/kubeflow/manifests/blob/master/kfdef/kfctl_istio_dex.yaml.

[2021-02-08 15:46] andreyvelich commented on #1429
@wukong1992

The training container for the file metrics collector example redirects StdOut logs to the file: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/file-metrics-collector/mnist.py#L16.

You can also check the docs [in the official Kubeflow documentation](https://www.kubeflow.org/docs/components/katib/experiment/#metrics-collector).

[2021-02-08 16:21] anneum commented on #1415
@andreyvelich Yes thats correct. The manual deployment uses a local storage. All other pods have no problems with this my sc.
Is there any way to solve this problem?

[2021-02-08 16:36] andreyvelich commented on #1415
@anneum Which StorageClass and Provisioner you were using before for your on-prem cluster ?

[2021-02-08 17:37] anneum commented on #1415
StorageClass
[code]
NFS Provisioner as described here https://www.kubeflow.org/docs/other-guides/kubeflow-on-multinode-cluster/#install-nfs-provisioner
[code]

[2021-02-09 04:42] azarezade commented on #1425
Thanks @andreyvelich for the reply. I also tried to create experiment with the name that I set when logging in to the Kubeflow dashboard for the first time, but it returned error:
[code]

[2021-02-09 06:47] Gorosia commented on #1425
@azarezade
Check [here](https://github.com/kubeflow/katib/issues/1395#issuecomment-750373088) 👍
I fixed error that same as your error.

[2021-02-09 06:52] azarezade commented on #1425
Thanks @Gorosia. So I close this issue.

[2021-02-09 06:52] #1425 closed

[2021-02-09 12:32] andreyvelich commented on #1415
@anneum Have you tried to deploy on your cluster only Katib mysql Deployment without [Readiness and Liveness Probe](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/mysql-db/deployment.yaml#L43-L60) and deploy PVC with your [Storage Class name](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/pv/pvc.yaml#L9) ?

[2021-02-09 12:55] andreyvelich commented on #1379
Let's continue discussion under this issue: https://github.com/kubeflow/katib/issues/1322.

[2021-02-09 12:55] #1379 closed

[2021-02-09 12:59] andreyvelich commented on #1136
That should be fixed by: https://github.com/kubeflow/katib/issues/1322.

[2021-02-09 12:59] #1136 closed

[2021-02-09 13:05] rky0930 commented on #1416
@andreyvelich Thanks for the reply !
I tested on two versions below, but the results were the same.

The other thing I found is that running the "random-example.yaml" gives a `runtime error: invalid memory address or nil pointer dereference error` in katib-controller and when I run the "tfjob-example.yaml", There was no errors in katib-controller, it just stuck after execution completed.

I really

[2021-02-09 13:08] andreyvelich commented on #1421
@kimwnasptd I created Project for the new Katib UI: https://github.com/kubeflow/katib/projects/1.

Feel free to create issues that your first initial PR is currently missing and what should be integrated as part of your proposal.

[2021-02-09 13:21] andreyvelich commented on #1416
I believe that is because Katib webhooks don't work.

If you deploy Katib as part of Kubeflow your Experiments can't be submitted in the `kubeflow` namespace.
Please check tutorial here: https://www.kubeflow.org/docs/components/katib/hyperparameter/#example-using-random-algorithm.

[2021-02-09 14:20] rky0930 commented on #1416
@andreyvelich Thanks for your help! Now it works!

[2021-02-09 14:35] andreyvelich commented on #1416
@rky0930 It's great!
Feel free to open new issue if you have any other problems.

[2021-02-09 14:35] #1416 closed

[2021-02-09 15:27] thomas-mueller opened #1430 "Double-type search spaces should allow ranges including zero."
/kind feature

**Describe the solution you'd like**
It sould be nice if double type search spaces would allow ranges that overlap with zero. Currently this is problematic due to the [log-uniform prior](https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1beta1/skopt/base_service.py#L44). A solution could be to make this prior configurable and to allow other options supported by skopt as

[2021-02-10 00:30] yanniszark opened #1431 "Katib: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-10 20:02] Josepholaidepetro commented on #1428
@andreyvelich The manifest file didn't work with my kubeflow setup.
It was giving me an Authorization policy error.

[2021-02-10 20:05] Josepholaidepetro commented on #1428
[code]

When I try this particular manifest with the following, it works.

@andreyvelich

[2021-02-10 20:07] Josepholaidepetro commented on #1428
@andreyvelich is there a way I can deploy experiments from katib 0.8 or is there a way to get the manifest working using microk8s.

[2021-02-11 15:02] andreyvelich commented on #1428
@Josepholaidepetro Since you were able to install Kubeflow from https://raw.githubusercontent.com/kubeflow/manifests/master/kfdef/kfctl_istio_dex.v1.2.0.yaml manifest, why you can't use the latest Examples ?

You can try to use examples from the previous releases, for example: https://github.com/kubeflow/katib/tree/v0.9.0/examples/v1alpha3.
Although, these examples are not actively maintained and

[2021-02-12 14:27] Josepholaidepetro commented on #1428
@andreyvelich The experiment gets created as usual but it doesn't run

[2021-02-12 22:04] andreyvelich commented on #1428
@Josepholaidepetro Which experiment did you create ? Did you change a namespace to your profile namespace as described here: https://www.kubeflow.org/docs/components/katib/hyperparameter/#example-using-random-algorithm ?

[2021-02-13 18:20] Josepholaidepetro commented on #1428
I created the tfjob and pytorcg job.
I have also attempted the random experiment for the mxnet.

I changed the namespace to the one I created.

@andreyvelich

[2021-02-15 11:02] anneum commented on #1415
@andreyvelich I have commented out the Readiness and Liveness Probe from both, the `db-manager` and `mysql-db` deployments.
The pvc is created as expected:
[code]
Now the `db-manager` pod stucks in CrashLoopBackOff
[code]

[2021-02-15 12:46] andreyvelich commented on #1428
@Josepholaidepetro Did Trials were created ?
If yes, can you show me one of them ?
`kubectl get trial <trial-name> -n <namespace> -o yaml`

[2021-02-15 19:52] yanniszark opened #1433 "e2e: Test breakage"
/kind bug

**What steps did you take and what happened:**
E2E tests are not succeeding because they can't install the tf-operator manifests:
https://github.com/kubeflow/katib/blob/172999716efe76b73539391c2b028ebc5f0a837c/test/scripts/v1beta1/setup-katib.sh#L70

This is an artifact of using the manifests master branch to install the tf-operator.
A recent folder restructuring in manifests is what tr

[2021-02-16 10:21] kimwnasptd opened #1434 "[rev] Extend new Katib UI with more Status fields"
/kind feature

**Describe the solution you'd like**
Created during the review process of #1421

We should extend the current UI to have support/expose more fields from the Experiment.Status, like [TrialsEarlyStopped](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L121)

/cc @andreyvelich

[2021-02-16 15:44] andreyvelich commented on #1415
@anneum If you deploy only `katib-mysql` without `katib-db-manager` the mysql pod is running properly ?

[2021-02-16 15:48] andreyvelich commented on #1433
I agree with the first approach since we can verify our e2e test on the latest stable training operator releases.
It would be great if you can submit the PR @yanniszark!

[2021-02-16 16:01] andreyvelich commented on #1434
Ref comment: https://github.com/kubeflow/katib/pull/1427#discussion_r573077008.

[2021-02-16 16:16] anneum commented on #1415
Yes, but `katib-mysql` (without the Readiness and Liveness Probe) also runs with `katib-db-manager` without problems.
The database is then unconfigured. So I can only log in to the mysql database without a password.

[2021-02-17 08:52] ScrapCodes opened #1435 "http server panic, in katib controller with even the provided sample experiments."
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
On running the sample mnist experiment with kubeflow version 1.2.0 and katib version 0.10.1

While running the experiment, I am getting following error:
[code]

and Following http panic in katib-controller pod
[code]
**What did you expect to happen:**
Everything worked , or at least a pr

[2021-02-17 18:33] andreyvelich opened #1437 "[UI Feature] Standalone mode for the new Katib UI"
/kind feature

The new Katib UI should work in the standalone mode when user deploys Katib without Kubeflow central dashboard.
Let's continue discussion here how we should do that.
Also check this comment: https://github.com/kubeflow/katib/pull/1427#discussion_r577589302.

/cc @kimwnasptd @gaocegege @johnugeorge

[2021-02-17 20:27] andreyvelich commented on #1415
@anneum On your cluster secret with `katib-mysql-secrets` name is also created, right ?

I would also recommend to increase the timeout parameter, for example to 10 minutes: https://github.com/kubeflow/katib/blob/master/pkg/db/v1beta1/mysql/mysql.go#L27.
Then you have to build your own image for the `katib-db-manager` and restart the deployment.

[2021-02-18 17:47] andreyvelich commented on #1435
Thank you for submitting this @ScrapCodes.
I answered here: https://github.com/kubeflow/kfp-tekton/pull/468#discussion_r578622422

[2021-02-18 21:36] andreyvelich opened #1439 "[UI Feature] Expose the YAML for the underlying Suggestion"
/kind feature

The new Katib UI should show the YAML for the Experiment's Suggestion.

One solution can be:
1. Rename YAML tab to Experiment YAML
2. Add new tab Suggestion YAML and show Suggestion info there.

Later we can add another tab to monitor Suggestion logs.
Add Suggestion Conditions under Experiment Conditions in the Overview tab.

[2021-02-18 21:36] andreyvelich commented on #1439
/cc @kimwnasptd

[2021-02-18 21:37] andreyvelich opened #1440 "[UI Feature] Page to manage Trial templates"
/kind feature

The new Katib UI should have a page to manage Trial templates.

/cc @kimwnasptd

[2021-02-18 21:43] andreyvelich opened #1441 "[UI Feature] Sorting for the Trial list table"
/kind feature

User should be able to sort Trial table by columns and Trial table should have pages.
Ref PRs for the old UI: https://github.com/kubeflow/katib/pull/1251, https://github.com/kubeflow/katib/pull/1262.

/cc @kimwnasptd

[2021-02-19 11:49] kimwnasptd commented on #1437
First off, from the technical side of view, the frontend can figure out if it's in Kubeflow mode or in Standalone dynamically. So we won't need to extend the backend to provide this info to the frontend. I've tried to document the more technical details of why the above approach works in https://github.com/kubeflow/kubeflow/issues/5566#issuecomment-779278036.

The changes we will need to make to t

[2021-02-19 12:17] kimwnasptd commented on #1437
For the side-panel we should try to avoid showing two distinct sidebars in Kubeflow mode https://github.com/kubeflow/kubeflow/issues/5566#issuecomment-782036247.

The Katib UI should only expose a hamburger-menu/sidebar only if the CentralDashboard is not present, which means no `window.centraldashboard` object exists in the app's window.

![Screenshot from 2021-02-19 13-42-11](https://user-images

[2021-02-19 13:28] kimwnasptd commented on #1439
@andreyvelich let's rename this issue to `[UI Feature] Expose the underlying Suggestion` or something similar, since we will be discussing our approach of how to show the underlying `Suggestion` CR in many different places.

This grouping makes sense. The UI effort is non-trivial, but we will need to slightly extend the backend to expose the owned `Suggestion` CR

Agree, although we will need to a

[2021-02-19 15:14] kimwnasptd opened #1443 "[UI bug] Missing configuration fields in form"
/kind bug

The new Katib UI's form for submitting `Experiment` CRs is missing the following fields, which are present in the current UI's form:
- [x] [ResumePolicy](https://github.com/kubeflow/katib/blob/60f6c207ce8e1c88545450480c3a6f6dd0909ad5/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L58) https://github.com/kubeflow/katib/pull/1463
- [x] [EarlyStopping](https://github.com/kubef

[2021-02-19 15:56] trog-levrai commented on #1395
I'm still getting the same issue. I tried the following (for `kubeflow` namespace):

[code]

After that I simply get a connection refused...

[2021-02-19 15:58] kimwnasptd opened #1444 "[UI Feature] Have distinct pages for HP and NAS"
/kind feature

Right now the new UI has a single page for
* listing all of the `Experiments`
* creating a new `Experiment`, and select either an HP Tuning algo or a NAS one

We should restructure the UI so that there are two distinct pages/flows. One for managing `Experiments` for HP Tuning and one for NAS. Page for listing experiments would look almost identical in both cases, but the form will b

[2021-02-19 16:31] kimwnasptd commented on #1444
This effort should also align with how the app will behave on standalone and Kubeflow modes #1437.

We should have a sidebar for switching between the two workflows. This sidebar will either exist in the standalone version or it will be integrated into the CentralDashboard in Kubeflow mode. I'll should also create an issue in kubeflow/kubeflow to track the change to the dashboard for this.

[2021-02-19 23:13] andreyvelich commented on #1433
Fixed by: https://github.com/kubeflow/katib/pull/1438.

[2021-02-19 23:13] #1433 closed

[2021-02-19 23:19] andreyvelich commented on #1439
I believe backend already has `fetch_suggestion` API which returns Suggestion CR: https://github.com/kubeflow/katib/blob/master/pkg/ui/v1beta1/backend.go#L326.

That's right. Currently, we haven't decided how to receive Suggestion and Trials log from the backend.

I was thinking about the same way with radio buttons and one YAML tab.
This approach decreases number of tabs and simplify UX.

Does it

[2021-02-19 23:34] andreyvelich commented on #1444
@kimwnasptd Do you think we should also have 2 separate pages once user submits NAS Experiment?
Currently, the differences are only between Parameters for HP and Operations for NAS.
So when user selects HP the UI shows Parameters, for NAS the UI shows Operations.

We also should think about API for NAS in the future (might be part of 2021 ROADMAP) since it is still not stable yet.
WDYT @gaocegege

[2021-02-19 23:38] andreyvelich commented on #1437
The Katib UI should only expose a hamburger-menu/sidebar only if the CentralDashboard is not present, which means no window.centraldashboard object exists in the app's window.

Then how we will navigate between Trial template editor page, Katib Config and main page where user can create new Experiment?
Are you planing to integrate this pages in the central dashboard menu?

[2021-02-19 23:56] andreyvelich commented on #1395
Hi @trog-levrai.

Where did you get it ?

[2021-02-20 01:35] #1435 closed

[2021-02-20 01:37] gaocegege commented on #1444
I think we probably will have another experiment CRD for NAS, thus I agree.

[2021-02-22 15:46] anneum commented on #1415
@andreyvelich Yes the secret is created
[code]

I get an error during the build of the db-manger image and unfortunately have no experience with go.
The `docker build` is started in the katib root folder with `docker build . -t db-manager-test -f cmd/db-manager/v1beta1/Dockerfile`
[code]

[2021-02-22 16:25] anneum commented on #1415
I managed to get my new image running with the increased timeout but the db-manger still throws errors.
[code]
[code]
The `katib-mysql` is ready for connections but the Liveness and Readiness probe fails because of the not configured database.
I don't get it why the database is not configured just because I select another storage class.
[code]

[2021-02-22 22:01] andreyvelich commented on #1415
Yes, it's better to use Go > 1.13 version to avoid this.

@anneum Ok, let's try to follow my comment here: https://github.com/kubeflow/katib/issues/1212#issuecomment-704501331.
- Update `imagePullPolicy: Always` for the [`katib-mysql` deployment](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/mysql-db/deployment.yaml#L26).

As I can see, the main problem is that `katib-mysql` pod

[2021-02-23 10:39] anneum commented on #1415
@andreyvelich Thank you very much for your help. Now it seems to work 👍
I changed the `katib-mysql` pod:
- [`readinessProbe`](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/mysql-db/deployment.yaml#L49) to `initialDelaySeconds: 50`
- [`livenessProbe`](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/mysql-db/deployment.yaml#L58) to `initialDelaySeconds: 300`

As you

[2021-02-23 20:59] andreyvelich commented on #1415
It's great to hear @anneum!

I thought you increased this Probes before as you mentioned here: https://github.com/kubeflow/katib/issues/1415#issue-782028657.
Was that time just not enough ?

[2021-02-23 21:06] andreyvelich opened #1447 "[SDK] list_trials and list_experiments should return list of objects"
/kind feature

See discussion https://github.com/kubeflow/katib/pull/1442#discussion_r579503300.
`list_trials` and `list_experiments` should return list of corresponding objects instead of names and statuses to give user more functionality.

/cc @gaocegege @johnugeorge @Adarsh2910

[2021-02-24 08:00] anneum commented on #1415
I also wonder why completely commenting out `Readiness` and `Liveness Probe` as mentioned in https://github.com/kubeflow/katib/issues/1415#issuecomment-779144270 did not help. Maybe the `db-manager` tried it too early then.
@andreyvelich Should the readiness and liveness times be increased in general to avoid such errors?

[2021-02-24 08:00] #1415 closed

[2021-02-24 16:13] andreyvelich commented on #1415
I think yes.
Since kubelet is restarting container if container doesn't start in `Liveness Probe` time: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/.

Then `mysql` container is restarted again and try to mount volume again.

[2021-02-24 16:33] trog-levrai commented on #1395
Alright I figured things out for my case. If you're trying to use `openssl` then you have to find a way to properly support the SAN field in the certificate. `cfssl` makes it easy but the example above wasn't working for me with `cfssl` with version `1.5.0`.

So here's what worked for me  with the `kubeflow` namespace (inspired from https://github.com/kelseyhightower/kubernetes-the-hard-way/issues

[2021-02-24 21:18] andreyvelich opened #1448 "[UI Bug] Fetch Experiment should return TypeMeta"
/kind bug

See discussion: https://github.com/kubeflow/katib/pull/1427#discussion_r580909126.
`FetchExperiment` API call should return Kind and APIVersion for the Experiment object.

[2021-02-25 18:25] annajung commented on #1239
Opened up a PR to address the documentation. Please take a look when you can @andreyvelich

[2021-02-26 01:44] andreyvelich commented on #1239
Thank you so much for doing this @annajung!
I will take a look soon.

[2021-02-26 11:03] kimwnasptd commented on #1437
Correct, we can have any entries that would be in the sidebar-menu to be in the dashboard. I've already done something like this in the picture above, where the Dashboard has a `NAS` and `HP Tuning` entries under `Experiments`.

Ofc we can discuss about using different names, just wanted to show how it would look like.

[2021-02-26 11:06] kimwnasptd commented on #1437
Also adding a comment on this issue wrt what Namespace will be selected from the app in standalone mode. Right now there will be none and the user will always need to manually click one https://github.com/kubeflow/katib/pull/1427#discussion_r581023201

We've described some iterations we could do here in the general tracking issue for standalone/kf modes of the web apps https://github.com/kubeflow/

[2021-02-26 15:22] andreyvelich commented on #1437
Make sense, I think we should discuss which pages we want to see in the menu in the current Katib status.
For example, currently we use the same CRD for NAS and HP which makes possible to use one page to deploy Experiments.

[2021-02-26 17:02] #1239 closed

[2021-02-26 19:31] DavidSpek commented on #1322
I added this to the WG-Notebooks Kanban as it is also relevant to the Jupyter Web App and related to another issue where apparently users can access jupyter notebook servers in other namespaces (I have not validated this personally).

[2021-02-26 20:08] vmarkovtsev commented on #1415
Thank you @anneum your fix worked for me. This is what I did:

1. `kubectl edit deployment katib-mysql -n kubeflow`, then some `vim`-fu to update the delays.
2. I deleted the old database in my local storage, e.g. `pvc-25dc2b81-9873-430f-8bc4-365fe5ff0357_kubeflow_katib-mysql`.
3. `kubectl delete pod -n kubeflow katib-mysql-...`

Indeed, it took 2 minutes to initialize the DB.

[2021-03-02 11:08] gaocegege commented on #1354
https://github.com/kubernetes/apiextensions-apiserver/issues/50

[2021-03-02 11:16] gaocegege commented on #1354
We have some problems with v1

[2021-03-04 22:56] andreyvelich opened #1453 "[Juju] Update Juju operator with webhook manifests changes"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1450, we should update our Juju operators with the latest manifest changes.

/cc @DomFleischmann @knkski @RFMVasconcelos

[2021-03-05 03:30] prashanthb-ai opened #1454 "Katib x Kale x Multi-User Kubeflow doesn't support userid injection"
/kind bug

__TL;DR__: Istio is needed for kubeflow-userid header. Istio is disabled by Kale, because Katib has issues in some edge cases (?).

**What steps did you take and what happened:**

* Kale creates Experiment/Trials/Jobs via template
* Jobs create pods
* Pods start off in Running
* Pods end up in Error
* No pipelines are created
* Experiment hangs

**What did you expect to happen:**

* Kal

[2021-03-05 10:37] RFMVasconcelos commented on #1453
Thank you for creating this issue @andreyvelich !! We'll take a look into it :)

[2021-03-05 11:01] dejangolubovic commented on #1454
Hi Prashanth,

We are having the same issue. Are hack was the following:

1. Edit Pipeline profiles composite controller https://github.com/kubeflow/manifests/tree/master/apps/pipeline/upstream/installs/multi-user/pipelines-profile-controller to create a configmap that contains kubeflow-userid as a key, for every profile. For example:
`"KUBEFLOW_USERID": user_id`

2. Edit template at https://githu

[2021-03-05 12:19] prashanthb-ai commented on #1454
Interesting solution. So you fork and maintain your own libs and images?

What I was thinking was:

1. Install podDefaults that mount a bearer token into every pod
2. Use the same podDefaults to expose this bearer token as an env var
3. Get that env var into the `authorization: Bearer <token>`  http header of the request sent to the pipeline service by the kfp client (if you're using the Arrikto d

[2021-03-05 13:19] dejangolubovic commented on #1454
@prashanthb-ai, very interesting. It is an elegant solution, I like that it does not require additional manual setup. Hope you get it working soon.

For our setup, yes, we maintain our own Kubeflow manifests repo. The idea is to isolate upstream components from our own patches, in order to perform quick updates when necessary. We will open the setup publicly and present it, once we reach level of

[2021-03-05 15:01] prashanthb-ai commented on #1454
Very curious to see your setup. I think it's great that you're planning to present/OS/updated it in-line with Kale and kfp.

I'm also starting to get the sense that to use these components reliably one needs to fork and rebase in lock-step with individual component releases. There's too much fragmentation otherwise.

@dejangolubovic by _disabled_ you mean the `sidecar.istio.io/inject=false` annota

[2021-03-06 17:29] #1405 closed

[2021-03-06 20:23] #1431 closed

[2021-03-08 12:25] anneum opened #1455 "Failed to launch Katib experiment - 404 page not found"
/kind bug

**What steps did you take and what happened:**
Setup kubeflow and installed katib manually as mentioned in https://github.com/kubeflow/katib/issues/1415
Start a katib experiment with kale out of a jupyter notebook.
The experiment was created and the pipeline was also uploaded but not launched.
[code]
kale.log:
[code]

**What did you expect to happen:**
The katib experiment is launched.

[2021-03-08 13:19] dejangolubovic commented on #1454
@prashanthb-ai, yes, I meant only this "disable sidecars" annotation. Great, thank you, I wasn't aware of these solutions and that it may be possible to run Katib jobs without disabling istio. I will definitely try our setup only using envoyfilter and without disabling sidecars. Letting you know how it goes.

It is a good idea to open the issue at Kale, making Katib job template configurable would

[2021-03-08 18:37] kimwnasptd commented on #1443
I'll continue working on this now that the first iteration of our new UI #1421 is merged.

@andreyvelich @gaocegege @johnugeorge I see that the current UI has a way to automatically detect the Trial parameters. How exactly does this work? Does the UI parse the string content from the provided ConfigMaps and detects the `${trialParameters.<name>}`?

Also @andreyvelich could you also add this issue

[2021-03-08 18:59] kimwnasptd commented on #1443
/assign @kimwnasptd

[2021-03-08 19:23] andreyvelich commented on #1443
Thanks @kimwnasptd!

Yes:
https://github.com/kubeflow/katib/blob/081db0dd7f6f9470400f45dd4431c96927608845/pkg/ui/v1beta1/frontend/src/reducers/general.js#L88-L109

It just parses parameters for the given YAML Trial template.

[2021-03-08 22:18] kimwnasptd commented on #1443
ACK, I'll mimic this logic then.

Also, I was thinking about making the `Reference` field a dropdown list instead of a simple text input. My rationale was that if the field's value will be one of the hyper parameters then lets reduce the input required from the user and just list to them the available options.

My only question is if this holds for NAS Experiments. Looking at the docs I see they h

[2021-03-08 22:39] kimwnasptd commented on #1443
Also I can confirm that I can create Experiments using the new UI's form, once it also sets the `trialParameters` form field.

So I'll move on to including the `EarlyStopping` and `ResumePolicy` settings, as mentioned in the beginning of the issue, which are the last missing ones for the new form to be on par with the current one.

I see that [EarlyStopping](https://github.com/kubeflow/katib/blob/

[2021-03-09 00:06] andreyvelich commented on #1443
I think it's great improvements for the HP experiment since almost every time `reference` is equal to one of the parameters.
We have only one case when `reference` is not equal to parameters right now, it is described [here](https://www.kubeflow.org/docs/components/katib/trial-template/#use-trial-metadata-in-template).
You check the example with metadata substitution here: https://github.com/kubef

[2021-03-09 00:07] andreyvelich commented on #1443
Thank you for your effort @kimwnasptd, it's great.
Yes, you can find Early Stopping algorithm settings here: https://www.kubeflow.org/docs/components/katib/early-stopping/#median-stopping-rule.

[2021-03-09 11:27] andreyvelich commented on #1455
@anneum Once you create Katib SDK client you can pass the kubeconfig path: https://github.com/kubeflow/katib/blob/master/sdk/python/v1beta1/kubeflow/katib/api/katib_client.py#L33-L43.

[2021-03-09 12:33] anneum commented on #1455
@andreyvelich thank you for your response. I don't fully understand what you mean by that.
The notebook server was created from the kubeflow Notebook Servers Section and is therefore already inside the cluster.
![image](https://user-images.githubusercontent.com/60262966/110470626-5d832100-80db-11eb-83eb-a4516d12d894.png)

I click "compile and run katib job" and there is no option where I can pass

[2021-03-09 13:12] andreyvelich commented on #1455
Got it.
This issue might refer to Kale itself.
/cc @StefanoFioravanzo @yanniszark

[2021-03-09 18:05] StefanoFioravanzo commented on #1455
@andreyvelich thank for the ping. Kale currently doesn't support providing a custom Kubeconfig. Can you make sure the notebook Pod does have a proper kubeconfig and you can query for experiments with `kubectl`?

[2021-03-10 08:09] anneum commented on #1455
@StefanoFioravanzo I am very surprised about this but yes, I see the pods in my namespace.
[code]
The question about which URL is called is due to the fact that we have a company proxy and I would like to exclude it.

[2021-03-10 13:43] andreyvelich commented on #1453
@DomFleischmann @knkski @RFMVasconcelos I have released the latest commit: `c6c9172` in the `kubeflowkatib` registry: https://hub.docker.com/u/kubeflowkatib.
You should be able to use latest tag to get the latest changes for the controller now.

[2021-03-10 20:33] andreyvelich commented on #1266
Since we designed new cert-generator: https://github.com/kubeflow/katib/pull/1450, we should update the Katib README: https://github.com/kubeflow/katib#components-in-katib and add information about the current webhooks update process (Maybe https://github.com/kubeflow/katib/blob/master/docs/developer-guide.md is a good place to add).
/priority p0

[2021-03-11 11:26] #1398 closed

[2021-03-11 15:02] StefanoFioravanzo commented on #1455
@anneum Did you also try to run KFP pipelines? I'd like to understand if this issue is confined to creating Katib experiments or if it is an issue on the Kale side not being able to contact the K8s API Server.

[2021-03-11 15:20] yanniszark opened #1466 "Katib release process"
/kind feature

**Background:**

Katib wants to release manifests, in its various releases. Now that manifests live inside upstream app repos, the final result should be committed in this repo, not kubeflow/manifests. In this issue, I will describe a procedure to release manifests and make sure that release changes don't affect master.

**Describe the solution you'd like**

Here is the procedure:
S

[2021-03-11 15:54] anneum commented on #1455
@StefanoFioravanzo I can create and run standard pipelines (without a katib job) out of my notebook server.
[code]

[2021-03-11 18:49] andreyvelich opened #1467 "[Documentation] Explain different Katib installs"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1464, user is able to install Katib using different `installs`.
We should add this information to the docs: https://www.kubeflow.org/docs/components/katib/hyperparameter/#installing-katib.

[2021-03-12 01:36] andreyvelich commented on #1466
Thank you for writing this @yanniszark.
My concern about this approach that the "master" branch will not have release tag in the history.
So by using `git log` on the master branch we can't see the generated tag.
Is it a good practice to have a such structure?

What do you think about it @gaocegege @johnugeorge @yanniszark ?

[2021-03-12 14:32] andreyvelich opened #1468 "[Juju] Create script to update manifest from Katib origin YAMLs"
/kind feature

Check discussion: https://github.com/kubeflow/katib/pull/1465#discussion_r592519705.
We should create a script to automatically update YAML structure from Katib manifest.

/cc @DomFleischmann @knkski @RFMVasconcelos

[2021-03-12 16:55] elikatsis commented on #1454
Hi everyone!

Although this is the Katib repository, I'd like to inform you that we (Arrikto) have exposed our design for KFP client authentication in https://github.com/kubeflow/pipelines/issues/5138 and submitted two PRs implementing it: https://github.com/kubeflow/pipelines/pull/5286, https://github.com/kubeflow/pipelines/pull/5287

Feel free to test and provide feedback :)

[2021-03-12 17:23] yanniszark commented on #1466
@andreyvelich from my side, I think that's ok. I see that other big projects, like Istio, also do this.
I.e., Istio has release branches and its tags don't correspond to master commits.
We do the same in kubeflow/manifests and kubeflow/kubeflow afaik.

[2021-03-12 18:48] #1453 closed

[2021-03-12 18:52] andreyvelich commented on #1466
Got it @yanniszark .

Basically, if we want to release new patch (e.g. `0.11.1`) to fix something in the release (e.g `0.11`), we follow:
1. Merge all bug fixes to the master
2. Cherry Pick these commits to the `release-0.11` branch.
3. Build and push new images from the latest commit (from the Cherry Pick PR) in `release-0.11` branch. Also add `0.11.1` tag  to that images.
4. Create new commit (*

[2021-03-12 19:01] yanniszark commented on #1466
@andreyvelich yes, I would imagine that step (3) is last. I.e. create images after creating the tag. So that it can also be automate-able by CI in the future.

[2021-03-12 20:36] kimwnasptd opened #1469 "Create manifests for new Katib UI"
/kind feature

**Describe the solution you'd like**
Provide the required manifests for people to try out the new Katib UI #1421. The current UI should still be the default one people should install. These manifests would be identical to the ones for the existing UI, and the only difference will be the image.

These are the steps I can think of to achieve this:
1. Extend the CI/CD to also build an

[2021-03-14 03:06] bvboca opened #1471 "katib-controller in invalid memory address or nil pointer dereference"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
1. install the kubeflow 1.12 on kubernetes 1.16.15 by official kfctl
2. start a notebook and run the following script
[mnist-pipeline.txt](https://github.com/kubeflow/katib/files/6135996/mnist-pipeline.txt)

3. the katib-controller starts to be on the state of CrashLoopBack Off forever,

[2021-03-15 09:53] MLXQ opened #1472 "depending on hp algorithms, experiment parameters' feasible space require step size"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I'm trying to use experiment hp with two different algorithms such as grid search and random search.

For example, I've been using hyperparameter tuning for batchsize and learning rate.
and it worked seamlessly without specifying step size when I used random search with batch size and l

[2021-03-15 14:19] Josepholaidepetro commented on #1428
@andreyvelich No trials were created.

[2021-03-15 15:49] andreyvelich commented on #1428
@Josepholaidepetro Please can you show me the logs from the Katib controller ?

[2021-03-15 15:59] andreyvelich commented on #1472
Thank you for creating this @MLXQ!

For the Grid, default step for `int` parameter is "1": https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1beta1/internal/search_space.py#L35.
For `double` we don't have default step.
Currently, we don't have such documentation, but it would be great if we can add some information here: https://www.kubeflow.org/docs/components/katib/experiment/#grid-s

[2021-03-15 16:04] andreyvelich commented on #1471
@bvboca Did you change Experiment namespace to your profile namespace.
As well, you can use updated Katib Launcher for your KFP Experiments.
Take a look at this example: https://github.com/kubeflow/pipelines/blob/master/samples/contrib/kubeflow-katib/early-stopping.ipynb.

[2021-03-15 16:16] Josepholaidepetro commented on #1428
@andreyvelich Pls, how do I go about that?

[2021-03-15 16:31] andreyvelich commented on #1428
`kubectl logs <katib-controller-pod-name> -n kubeflow`

[2021-03-15 23:53] bvboca commented on #1471
Thanks, let me have a try.

[2021-03-16 10:21] kimwnasptd commented on #1421
Adding a tracking comment to sum up the state of this effort.

The new UI is currently located under the [pkg/new-ui/v1beta1](https://github.com/kubeflow/katib/tree/5ed27d703b9e9401780c22d181fbdb8e2c1b4ee0/pkg/new-ui/v1beta1) and [cmd/new-ui/v1beta1](https://github.com/kubeflow/katib/tree/5ed27d703b9e9401780c22d181fbdb8e2c1b4ee0/cmd/new-ui/v1beta1) directories. Currently a user can use this UI to

[2021-03-16 10:38] kimwnasptd commented on #1421
As we briefly discussed in the AutoML WG's meeting for 1.3 the manifests will be using the image of the **current UI** by default and not for this one. That's because this UI still needs some more work in order to be able to be on par with the existing one, so that we can flip the switch and use this instead.

But in the mean time we also want to get more people to try out this new UI and give us

[2021-03-16 11:22] andreyvelich commented on #1469
Thank you for creating this @kimwnasptd!

I think we can create another component under `/components/new-ui`, similar to this: https://github.com/kubeflow/katib/tree/master/manifests/v1beta1/components/ui.

We can create new registry under `docker.io/kubeflowkatib/katib-new-ui

If we don't need to push `new-ui` image to the registry during our CI, we can specify `--no-push` flag to the Kaniko exec

[2021-03-16 15:09] bvboca commented on #1471
Hi Andrey
I have the example run in my kubeflow, the nil pointer issue is gone, but the example fails. My kfp version is 1.4.1, kubeflow-katib version is 0.10.1, not sure if they are the factors to cause the error.

[code]
katib ui show a trial failed:
<img width="867" alt="截屏2021-03-16 下午10 52 24" src="https://user-images.githubusercontent.com/11614025/111330087-9c504280-86aa-11eb-83e0-45cd178739

[2021-03-16 15:14] PatrickXYS commented on #1469
Right, if we don't push, then we don't have to care about `--destination`, it could whatever registry name.

[2021-03-16 15:21] bvboca commented on #1471
katib-controller log:

<img width="1026" alt="截屏2021-03-16 下午11 20 50" src="https://user-images.githubusercontent.com/11614025/111334143-454c6c80-86ae-11eb-91a6-7c3340419d12.png">

[2021-03-16 15:39] andreyvelich opened #1474 "[Release] Katib 0.11 release"
/kind feature

This is the track issue for Katib 0.11 release.
I think most of the changes are already in upstream.

### TODOs list:
- [x] Add Katib release script: https://github.com/kubeflow/katib/issues/1466.
- [x] Sync Kubeflow manifest with Katib manifest.
- [x] Generate manifest for the new Katib UI: https://github.com/kubeflow/katib/issues/1469.
- [x] Update training containers in Notebook

[2021-03-16 17:16] andreyvelich commented on #1471
Thank you for providing the logs.
Yes, they have some problems with [MNIST Dataset](http://yann.lecun.com/exdb/mnist/).
Checked discussion here: https://github.com/kubeflow/katib/pull/1464#issuecomment-797572921.

Please change training container image for your Notebook example: https://github.com/kubeflow/pipelines/blob/master/samples/contrib/kubeflow-katib/early-stopping.ipynb.
From `docker.io/k

[2021-03-16 17:17] andreyvelich opened #1475 "Update training container images in Notebook examples"
/kind bug

See comment: https://github.com/kubeflow/katib/issues/1471#issuecomment-800452903.
We should update our training container images to this tag: `v1beta1-45c5727` in the Notebook examples.

[2021-03-16 21:52] kimwnasptd commented on #1469
Makes sense, I'll create a short PR for this. It will be the existing manifests with only a change in the image.

@andreyvelich sure! What is the process to push an image to `docker.io/kubeflowkatib/katib-new-ui`? If I add a ksonnet component [ I think this was the terminology ] for the new ui, similar to the one you linked above, would this be enough? The workflow would also need to push the imag

[2021-03-16 21:55] kimwnasptd commented on #1474
@andreyvelich could we also include the manifests for the new UI https://github.com/kubeflow/katib/issues/1469?

[2021-03-16 23:08] andreyvelich commented on #1474
@kimwnasptd, sure.

[2021-03-16 23:10] andreyvelich commented on #1469
Thanks!

I will update `push.sh` and `build.sh` scripts to process new ui image.

[2021-03-17 02:02] gaocegege commented on #1466
I have a question about how to use katib 0.11 in kubeflow 1.3, should we create release-1.3 for kubeflow 1.3 or release-0.11?

[2021-03-17 02:08] andreyvelich commented on #1466
We will run `make release BRANCH=release-0.11 TAG=v0.11.0` for this release.
So the first Katib release for Kubeflow 1.3 will be v0.11.0

[2021-03-17 02:54] #1466 closed

[2021-03-17 10:03] bvboca commented on #1471
Thanks for the help. After updating the image version to v1beta1-45c5727, some of the experiments succeeded,but the pipeline failed.

Logs of the pipeline:
[code]

status of pods
[code]

The log from the failed pod:

[code]

katib HP UI:

![WechatIMG24199](https://user-images.githubusercontent.com/11614025/111450185-1c2de980-874b-11eb-904c-babd4e87a58f.jpeg)

[2021-03-17 13:16] bvboca commented on #1471
Another question: is it a must to create an experiment object as [this](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/early-stopping/median-stop.yaml) YAML before running the experiment？I'm not sure if it's in the kubeflow namespace or MY anonymous namespace.

[2021-03-17 19:11] andreyvelich commented on #1471
It's good @bvboca.

No, you can create any Experiment that you want, but it should be in your Profile namespace.

[2021-03-17 23:47] andreyvelich opened #1479 "[Discussion] Inclusion PV for the MySQL in Katib standalone manifests"
/kind feature

See discussion: https://github.com/kubeflow/katib/pull/1464#issuecomment-796876215.
Currently we exclude PV for MySQL in [`katib-with-kubeflow`](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/installs/katib-with-kubeflow/kustomization.yaml#L18) installation and include PV in [`katib-standalone`](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/install

[2021-03-18 22:26] andreyvelich commented on #639
That was implemented in: https://github.com/kubeflow/katib/pull/1427.

[2021-03-18 22:26] #639 closed

[2021-03-18 22:33] andreyvelich commented on #917
We don't have Trial volumes currently.
We can close it.
Feel free to re-open if you see this problem again.

[2021-03-18 22:33] #917 closed

[2021-03-18 22:37] andreyvelich commented on #1037
That should be fixed as part of: https://github.com/kubeflow/katib/issues/1207.

[2021-03-18 22:37] #1037 closed

[2021-03-18 22:40] andreyvelich commented on #1086
Feel free to re-open issue if it is needed.

[2021-03-18 22:40] #1086 closed

[2021-03-18 22:42] andreyvelich commented on #1174
Feel free to re-open the issue if it is needed.

[2021-03-18 22:42] #1174 closed

[2021-03-18 22:47] andreyvelich commented on #1278
That should be fixed in the new UI as part of: https://github.com/kubeflow/katib/pull/1427.
cc @kimwnasptd .

[2021-03-18 22:47] #1278 closed

[2021-03-18 22:49] #1367 closed

[2021-03-18 22:50] #1381 closed

[2021-03-18 22:52] andreyvelich commented on #1382
@ezioliao Do you have time resources to work on this in 2021 ?
We can include PBT support in the 2021 Roadmap.

[2021-03-18 22:52] kimwnasptd commented on #1278
I'm also looking into ways to even remove the polling mechanism and have the UI perform a watch operation instead, which will be more efficient.

But I'll provide more updates once I've finished my researched and am satisfied with the implementation.

[2021-03-18 23:00] andreyvelich commented on #1419
Feel free to re-open the issue, if you have any questions.

[2021-03-18 23:00] #1419 closed

[2021-03-18 23:00] andreyvelich commented on #1429
Feel free to re-open the issue if you have other questions.

[2021-03-18 23:00] #1429 closed

[2021-03-18 23:13] andreyvelich opened #1484 "Katib Roadmap 2021"
We should discuss our Katib Roadmap for 2021.

Some points from my side:

## Katib enhancements
- Finish AWS CI/CD migration for the release process.
- New Katib UI implementation: https://github.com/kubeflow/katib/projects/1.
- Support [multiple versions](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/) in Katib CRDs.
- Support various pa

[2021-03-19 00:00] PatrickXYS commented on #1484
This is awesome! Getting a roadmap and get all the items shipped at the end of the 2021 will be a great milestone

[2021-03-19 12:32] bvboca commented on #1471
@andreyvelich Thanks for your help!

[2021-03-19 12:32] #1471 closed

[2021-03-19 12:41] andreyvelich commented on #1475
We updated images in SDK examples and KFP.

[2021-03-19 12:41] #1475 closed

[2021-03-19 12:42] andreyvelich commented on #1469
We included the new UI in the manifest and release scripts.

[2021-03-19 12:42] #1469 closed

[2021-03-19 13:26] bvboca commented on #1471
I have a small request. I refined my code according to the early-stop example. The experiment is created successfully but hanging the state of "created" (can't get into the "running" state).  All the services are running normally. Can you take a quick look at my code?

Thanks a lot!

[code]

<img width="1506" alt="截屏2021-03-19 下午8 47 57" src="https://user-images.githubusercontent.com/11614025/1117

[2021-03-19 15:02] andreyvelich commented on #1471
Thank you for the sharing @bvboca.
As I can see:
1. You didn't include `metricsCollectorSpec` in your Experiment spec.
2. Number of your HP `parameters` should be equal to `trial_parameters`. You didn't add `batch-size` to your `trial_parameters`.

[2021-03-19 15:10] Josepholaidepetro commented on #1428
My pods @andreyvelich

[code]

[2021-03-19 15:16] Josepholaidepetro commented on #1428
@andreyvelich

`kubectl logs <katib-controller-pod-name> -n kubeflow`
it didn't yield any result

[2021-03-19 15:36] andreyvelich commented on #1428
@Josepholaidepetro Can you show the output of this command, please ?
`kubectl logs katib-controller-5c976769d8-n26nw -n kubeflow`

[2021-03-19 15:59] Josepholaidepetro commented on #1182
@andreyvelich

When I try to run katib using goTemplate, it gives:

[code]

This is the YAML file.
[code]

[2021-03-19 16:01] Dampolo03 commented on #1033
Hi, I'm setting the Katib job through the Kale deployment panel - after creating a Kale pipeline. The pipeline builds successfully but the Katib experiments run forever and don't complete a single trial.

Any way/suggestion to go about this?

[2021-03-19 16:05] Dampolo03 opened #1488 "Katib experiments run indefintely without completing a single trial"
/kind bug

Hi, I'm setting a Katib job through the Kale deployment panel - after creating a Kale pipeline. The pipeline builds successfully but the Katib experiments run forever and don't complete a single trial.

I expect the Katib jobs to run successfully, but to no avail.

Any way/suggestion to go about this?

**Environment:**

- Kubeflow version (`kfctl version`):
- Minikube version (`minikube

[2021-03-19 17:00] Josepholaidepetro opened #1489 "GoTemplate Trial Template not working in the katib UI"
/kind bug

**What steps did you take and what happened:**
I applied this YAML file:
[code]

`admission webhook "validating.experiment.katib.kubeflow.org" denied the request: spec.trialTemplate.primaryContainerName must be specified`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

When I used the traditional template, for example:

[code

[2021-03-19 17:01] Josepholaidepetro commented on #1489
@andreyvelich @RFMVasconcelos @knkski @tmielika

[2021-03-19 17:43] #1488 closed

[2021-03-19 17:43] Dampolo03 opened #1490 "Katib experiments run indefintely without completing a single trial"
/kind bug

Hi, I'm setting a Katib job through the Kale deployment panel - after creating a Kale pipeline. The pipeline builds successfully but the Katib experiments run forever and don't complete a single trial.

I expect the Katib jobs to run successfully, but to no avail.

Any way/suggestion to go about this?

**Environment:**

- Kubeflow version (`kfctl version`):
- Minikube version (`minikube

[2021-03-20 02:59] andreyvelich commented on #1489
@Josepholaidepetro Can you show the logs from the Katib controller, please ?

[2021-03-20 15:33] Josepholaidepetro commented on #1428
@andreyvelich

[code]

[2021-03-20 15:35] Josepholaidepetro commented on #1489
@andreyvelich

[code]

[2021-03-20 15:41] Josepholaidepetro commented on #1489
@andreyvelich The logs above are from this

[code]

[2021-03-20 15:43] Josepholaidepetro commented on #1489
@andreyvelich When I try this YAML file:

[code]

I get this error:

`admission webhook "validating.experiment.katib.kubeflow.org" denied the request: spec.trialTemplate.primaryContainerName must be specified`

[2021-03-20 15:54] #1266 closed

[2021-03-20 16:12] andreyvelich commented on #1489
@Josepholaidepetro Please do not use `kubeflow.org/v1alpha3` example since you are running v1beta1 Katib controller. We don't have the version control across different Experiment versions currently.

Are you running Katib as part of Kubeflow cluster ?
Does your cluster have `istio` installed ?

[2021-03-20 17:14] Josepholaidepetro commented on #1489
@andreyvelich

how do I confiirm if my kubeflow cluster has `istio` installed?

[2021-03-20 17:20] andreyvelich commented on #1489
@Josepholaidepetro How did you install Katib and Kubeflow ?
If you are running Katib with `istio` you have to disable `istio` sidecar injection.
Please check this guide: https://www.kubeflow.org/docs/components/katib/hyperparameter/#tensorflow-example.

[2021-03-20 17:25] Josepholaidepetro commented on #1489
@andreyvelich
Thank you so much, it's now working.

[2021-03-20 17:45] andreyvelich commented on #1489
It's great to hear from you!

[2021-03-20 17:45] #1489 closed

[2021-03-21 11:16] #1428 closed

[2021-03-21 12:39] heilerich commented on #1479
One of your users here.

I think you don't have any problem with volume provisioners. I think what's causing all the issues you linked is this overzealous liveness probe.
https://github.com/kubeflow/katib/blob/f83df1b845fc1d7f5d736176a7487cd5ea28604e/manifests/v1beta1/components/mysql/mysql.yaml#L49-L57

In environments that have slightly slower storage, the mysql container get's killed in its ini

[2021-03-21 15:29] bvboca commented on #1471
@andreyvelich Thanks! it's running now.

[2021-03-21 15:37] bvboca commented on #1471
@hougangliu

Hi Hougang,

I have your sample code refined under Andrey's help, but it seems something wrong with the "liuhougangxa/tf-estimator-mnist" image. Since it's an automated job, i think it's impossible to manually import the missing dependencies. Any  ideas how to make it right? Thanks.

‘’‘
[root@k8smaster ~]# kubectl get pod -n anonymous
NAME

[2021-03-22 13:13] andreyvelich commented on #1471
@bvboca I think that images are outdated.
I have plans to refactor the KFP e2e mnist example.
Please check this issue to track it: https://github.com/kubeflow/pipelines/issues/5306.

[2021-03-22 13:14] andreyvelich commented on #1490
@Dampolo03 Please can you check the logs from the `katib-controller` ?
/cc @elikatsis @StefanoFioravanzo

[2021-03-22 20:57] elikatsis commented on #1490
Thanks for the ping @andreyvelich !

@Dampolo03 could you also provide some details on your environment? Is it a MiniKF (if yes, which version?), some other distribution?

[2021-03-22 21:23] Dampolo03 commented on #1490
@elikatsis @andreyvelich Thanks for the response. I'm using Kubeflow v. 1.0.2. I'm not using the command line to run the Katib jobs;

1. Deploying Katib through the Kale deployment panel - the experiments just run without completing any trial.
2. Deploying Katib through its UI - I'm writing my yaml scripts and deploying - this time around, the experiments do not start, they just load.

Thanks.

[2021-03-22 23:51] Dampolo03 commented on #1490
---
apiVersion: kubeflow.org/v1alpha3
kind: Experiment
metadata:
  name: bank-churner
  namespace: damilola
spec:
  algorithm:
    algorithmName: random
  maxFailedTrialCount: 3
  maxTrialCount: 10
  objective:
    additionalMetricNames:
      - time
    goal: 0.99
    objectiveMetricName: accuracy
    type: maximize
  parallelTrialCount: 3
  parameters:
    - name: n_estimators
      parameterTyp

[2021-03-22 23:52] Dampolo03 commented on #1490
`---
apiVersion: kubeflow.org/v1alpha3
kind: Experiment
metadata:
  name: bank-churner
  namespace: damilola
spec:
  algorithm:
    algorithmName: random
  maxFailedTrialCount: 3
  maxTrialCount: 10
  objective:
    additionalMetricNames:
      - time
    goal: 0.99
    objectiveMetricName: accuracy
    type: maximize
  parallelTrialCount: 3
  parameters:
    - name: n_estimators
      parameterTy

[2021-03-22 23:58] Dampolo03 commented on #1490
![Capture](https://user-images.githubusercontent.com/60344294/112072720-bdb1a280-8b72-11eb-8a17-8c37de0044c0.PNG)
@elikatsis @andreyvelich This is my yaml script for my catboost model.

[2021-03-23 00:02] Dampolo03 commented on #1490
![Capture](https://user-images.githubusercontent.com/60344294/112072950-4597ac80-8b73-11eb-8361-5e675d62a3a5.PNG)
And this is how my experiment loads.

[2021-03-23 08:35] midhun1998 opened #1494 "Suggestion and Experiment stuck at Running when `suggestionCount` < `requests`"
/kind bug

**What steps did you take and what happened:**
1. Run an experiment following the grid search algorithm.
2.  `parallelTrialCount` specified was 5, `maxTrialCount` specified was 8 and `maxFailedTrialCount` specified was 2.
3. We run this experiment multiple times and sometimes the suggested count returned by the suggestion controller is less than the request(which is `maxTrialCount` valu

[2021-03-23 09:57] bvboca commented on #1471
@andreyvelich Got you! Thanks.

[2021-03-23 10:04] bvboca commented on #1471
I have a question. In the early-stopping.ipynb example, the model is trained by kubernetes "JOB", while in the official doc [ MXNet training](https://www.kubeflow.org/docs/components/training/mxnet/), "MXJob" is recomended. What's the difference between them?

[2021-03-23 12:34] andreyvelich commented on #1471
I believe, `MXJob` is just one of the distributive training operators that Kubeflow provides.
Since Katib supports any Kubernetes resource as [a Trial template](https://www.kubeflow.org/docs/components/katib/trial-template/#use-custom-kubernetes-resource-as-a-trial-template) you can easily use `MXJob` instead of Kubernetes Job.

We don't have an example with running `MXJob`, but it would be great

[2021-03-23 12:48] andreyvelich commented on #1490
@Dampolo03 Thank you for providing this info.
Can you check the logs from Katib controller please ?
`kubectl logs <katib-controller-pod-name> -n kubeflow`

[2021-03-23 12:52] andreyvelich commented on #1494
Thank you for creating this @midhun1998!
Basically, Katib controller should delete extra Trials once you change `parallelTrialCount`: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/experiment/experiment_controller.go#L296-L305.

Did you change these params during Experiment run or once you submitted the Experiment ?

[2021-03-23 13:17] andreyvelich commented on #1479
Thank you so much for sharing your thoughts @heilerich!
Couple of questions:

What is the value we should specify for the `initialDelaySeconds` to cover such cases?

Do we have any other PV type that satisfies any K8s environment, whether it is GCP, AWS, on-prem, etc. ?

In general, I agree with you @heilerich. Setup the proper PV is the part of Kubernetes infrastructure environment, not Katib res

[2021-03-23 13:41] heilerich commented on #1479
My preferred solution would be to add a `startupProbe` with the same command as the `livenessProbe` as per the aforementioned kubernetes docs. Maybe with `periodSeconds: 15` and `failureThreshold: 60`. That should guarantee a safe container startup in almost any setup. Additionally, as opposed to just increasing the `initialDelaySeconds`, you don't have to compromise on delaying the restart of con

[2021-03-23 16:41] Dampolo03 commented on #1490
@andreyvelich The log for random algorithmName show this:

`INFO:hyperopt.utils:Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
INFO:hyperopt.fmin:Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
ERROR:grpc._server:Exception calling application: Method not implemented!
Traceback (most recent call last):

[2021-03-23 16:43] Dampolo03 commented on #1490
And if I switch to bayesianoptimization, the  log show this:

`/usr/local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may

[2021-03-23 16:48] Dampolo03 commented on #1490
Finally, using the Kale deployment panel, the log shows this:

`INFO:hyperopt.utils:Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
INFO:hyperopt.fmin:Failed to load dill, try installing dill via "pip install dill" for enhanced pickling support.
ERROR:grpc._server:Exception calling application: Method not implemented!
Traceback (most recent call last)

[2021-03-23 19:16] andreyvelich commented on #1494
@midhun1998 Can you share the YAML for your examples, please ? And which version of Katib did you install ?

[2021-03-23 22:50] andreyvelich commented on #1479
Make sense, I agree with that. As you said, let's just include `failureThreshold` in the `livenessProbe` and `startupProbe` and make `initialDelaySeconds` less than 30 seconds.
User can just increase `failureThreshold`, if it is not enough time to deploy MySQL.

I agree. Probably, we should also reconsider our default configuration for Resuming Experiment from volume: https://www.kubeflow.org/docs

[2021-03-24 19:49] Josepholaidepetro opened #1495 "xgboost katib hyperparameter tuning failing on katib"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I ran this xgboost YAML file that I created but the trials keep on failing. @andreyvelich
[code]
This is a link to my python script. https://github.com/Josepholaidepetro/Umojahack/blob/main/umoja.py

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellan

[2021-03-24 20:14] andreyvelich commented on #1495
Thank you for creating this @Josepholaidepetro.
I think you are still using `apiVersion: kubeflow.org/v1alpha3` version for this example, if you are running the latest Katib controller you should use `apiVersion: kubeflow.org/v1beta1`.
Try to update the version.

[2021-03-25 06:07] midhun1998 commented on #1494
Unfortunately, I'm not allowed to share the image that was used in the trial. The Katib version used was 0.10.0.

[code]

[2021-03-25 07:41] c-bata commented on #1484
I think it is great if Katib dashboard will support a visualization of hyperparameter importance using fANOVA algorithm.
https://optuna.readthedocs.io/en/stable/reference/visualization/generated/optuna.visualization.plot_param_importances.html#optuna.visualization.plot_param_importances

optuna-dashboard will support it from the next release:
https://github.com/optuna/optuna-dashboard/pull/54#disc

[2021-03-25 16:33] andreyvelich commented on #1484
It's great idea @c-bata.
I think we can try to include this feature in the new Katib UI.
cc @kimwnasptd

Btw, @c-bata do we have plans to integrate https://github.com/kubeflow/katib/issues/1283 in Katib 2021 ?

[2021-03-25 20:12] Dampolo03 commented on #1490
@andreyvelich Thanks. I just did. Getting this error in the log:

`/usr/local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you

[2021-03-25 21:26] andreyvelich commented on #1490
@Dampolo03 You can ignore this error. That is just a notification that `ValidateAlgorithmSettings` method has not been implemented yet.
Were you able to run the Experiment ?

[2021-03-25 22:38] Dampolo03 commented on #1490
@andreyvelich. No, I wasn't able to. It's not running on my cluster but working on someone else's. What's the solution now?
This is the new yaml script:
`---
apiVersion: kubeflow.org/v1alpha3
kind: Experiment
metadata:
  name: bank-churner
  namespace: demo01
spec:
  parallelTrialCount: 3
  maxTrialCount: 12
  maxFailedTrialCount: 3
  objective:
    type: maximize
    goal: 0.99
    objectiveMetri

[2021-03-25 23:00] andreyvelich commented on #1490
I think you are still using `kubeflow.org/v1alpha3`. Please, can you replace it with the new version: `kubeflow.org/v1beta1` ?

[2021-03-26 03:41] c-bata commented on #1484
YES! Sorry, I forgot it.

[2021-03-26 03:43] c-bata commented on #1283
Probably I will be able to open a pull request next month.

Goptuna now supports Sobol's quasirandom sequence at v0.8.0.
https://github.com/c-bata/goptuna/releases/tag/v0.8.0

[2021-03-26 10:32] Dampolo03 commented on #1490
@andreyvelich Yes, I did. Still had failed experiments.

[2021-03-26 15:27] andreyvelich commented on #1283
That's great, thank you for your help @c-bata!

[2021-03-26 16:27] andreyvelich commented on #1490
@Dampolo03 Can you show the logs from the Katib controller once you run `v1beta1` Experiments, please ?
`kubectl logs <katib-controller-pod-name> -n kubeflow`

[2021-03-26 17:06] andreyvelich commented on #1494
@midhun1998 Thank you for sharing the example.
It might be the case when Grid suggestion produces the Trials that can't be reconciled by the Controller, since your search space parameter combinations are strictly equal to the `maxTrialCount`.

Please, can you share the logs from the Grid suggestion pod and verify which Trials were not created?
From the Suggestion pod you should be able to see all

[2021-03-26 17:51] Dampolo03 commented on #1490
@andreyvelich I just found out that its entry point seems to be 'mnist.py' by default despite stating its entry point in the docker file and yaml script. It shows this log:

I0326 17:37:54.291776      21 main.go:79] usage: mnist.py [-h] [--num-classes NUM_CLASSES] [--num-examples NUM_EXAMPLES]
I0326 17:37:54.291799      21 main.go:79]                 [--add_stn] [--image_shape IMAGE_SHAPE] [--netw

[2021-03-26 20:21] andreyvelich commented on #1490
@Dampolo03 Yes, you should modify the Entry Point according to your image: `docker.io/dampolo/bank-churner:newest3`

[2021-03-26 21:15] Dampolo03 commented on #1490
Yes, @andreyvelich. Surprisingly, the entry point on the docker file is `ENTRYPOINT ["python", "-u", "/bank-churners.py"]`. I still don't understand why I'm encountering this error.

[2021-03-27 00:00] andreyvelich commented on #1490
@Dampolo03 I think the arguments for the training container are not correct. From your training container source code you are able to specify only the following arguments:
[code]

[2021-03-27 00:25] Dampolo03 commented on #1490
@andreyvelich More surprisingly, this yaml runs on another cluster (it was tried out and ran successfully) but not on mine. What may seem to be the issue right now? And should I go about this? Thanks.

[2021-03-27 00:41] andreyvelich commented on #1490
Maybe you are using various versions for the `docker.io/dampolo/bank-churner:newest3` image ?
To fix your example you should specify the flags that your container is allow.

[2021-03-27 00:49] Dampolo03 commented on #1490
@andreyvelich This is what the docker file looks like, just like other examples;

'''FROM python:3.7

RUN pip install \
     numpy==1.19.5 \
     pandas==1.2.0 \
     scipy==1.6.0 \
     scikit-learn==0.24.0 \
     catboost \
     dill \
     joblib

COPY <name>.py /

ENTRYPOINT ["python", "-u", "/<name>.py"]'''

[2021-03-27 00:53] Dampolo03 commented on #1490
@andreyvelich This is what the docker file looks like, just like other examples;

[2021-03-27 00:55] Dampolo03 commented on #1490
And please, what do you mean by 'you should specify the flags that your container is allow'?

[2021-03-27 01:12] andreyvelich commented on #1490
@Dampolo03 Please check my comment here: https://github.com/kubeflow/katib/issues/1490#issuecomment-808595674.
For example, you can't specify `--n_estimators=50` flag for your `mnist.py`.

Also, in your Dockerfile, why you didn't set the `WORKDIR` ?
Please check the example for our mxnet training container: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/mxnet-mnist/Dockerfile.

You

[2021-03-27 01:36] Dampolo03 commented on #1490
@andreyvelich I'm not working on the mnist.py. I'm working on a different catboost model that has `n_estimators` has one of its parameters.
I ran the script locally and after the `docker build`, it ran successfully.

I think the issue right now is that the yaml is running on someone else's cluster and not mine. Is it probably a case of two different Katib deployed?

[2021-03-27 01:45] Dampolo03 commented on #1490
And that's the more reason why I'm surprised https://github.com/kubeflow/katib/issues/1490#issuecomment-808595674 shows `usage: mnist.py` when I'm actually not dealing with the `mnist.py` and have it no where in docker file and yaml script.

[2021-03-28 01:17] Dampolo03 commented on #1490
@andreyvelich I was eventually able to deploy my Keras model using the Go template (probably because of the Katib version in my cluster), as shown below. How do I go about/modify it for my catboost model in question since `"kubeflow.org/v1"` api in the Go template doesn't have `kind` `Job` except the  `TFJob` and `PyTorchJob`?
[code]

[2021-03-29 14:26] andreyvelich commented on #1490
@Dampolo03 `goTemplate` is not supported in Katib v1beta1 version.
Since you are able to run your docker image locally, please can you try to push the image (`docker.io/dampolo/bank-churner`) with the new tag to make sure that your Trials pull the latest version of your image ?

[2021-03-29 15:01] Dampolo03 commented on #1490
@andreyvelich Yes, I always push. Just like I said here: https://github.com/kubeflow/katib/issues/1490#issuecomment-808616646, the image is running on another cluster (becomes a successful experiment) but not on my cluster (even after pasting the yaml script). What do you think the issue may be?

[2021-03-29 15:08] Dampolo03 commented on #1490
@andreyvelich This particular yaml works on a different cluster but not on mine. Any reason why that is?
[code]

[2021-03-29 15:38] Dampolo03 commented on #1490
@andreyvelich Better still, what are the steps to update Katib already installed with Kubeflow on GKE?

[2021-03-29 15:49] andreyvelich commented on #1490
You should re-install Katib components using this Kustomize file: https://github.com/kubeflow/katib/tree/master/manifests/v1beta1/installs/katib-with-kubeflow

`kustomize build manifests/v1beta1/installs/katib-with-kubeflow --load_restrictor none | kubectl delete -f -`

`kustomize build manifests/v1beta1/installs/katib-with-kubeflow --load_restrictor none | kubectl apply -f -`

[2021-03-29 15:52] andreyvelich commented on #1490
Can you try to run a simple Training Job without Katib Experiments to check that your image is properly pulled ?
This will be the YAML:
[code]

[2021-03-29 17:30] Dampolo03 commented on #1490
Yes, it ran - it's properly pulled. Gave me this:
[code]
Now, you understand why I said the Katib experiment runs successfully on another cluster but not on mine. And please, what's the way forward?

[2021-03-29 17:31] Dampolo03 commented on #1490
@andreyvelich ^^

[2021-03-29 18:21] andreyvelich commented on #1490
You are running Katib within Kale cluster, right ?
I am not sure which version of Katib is installed there.
Can you verify it by running: `kubectl get deploy katib-controller -n kubeflow -o yaml`
/cc @elikatsis @StefanoFioravanzo

[2021-03-29 18:45] Dampolo03 commented on #1490
@andreyvelich  No, stopped working with the Kale deployment panel after I reported the problem. I've been making use of yaml scripts in the Katib UI on my Kubeflow cluster.
And the command gave this:
[code]

[2021-03-29 20:48] janousy opened #1496 "Using katib-launcher with TFJob fails"
/kind bug

**What steps did you take and what happened:**
I defined my pipeline using the kfp SDK to launch a TFJob with the [katib-launcher](https://github.com/kubeflow/pipelines/tree/master/components/kubeflow/katib-launcher) to tune the learning rate of my tensorflow keras model. To do so, I modified the MPIJob example [here](https://github.com/kubeflow/pipelines/blob/master/samples/contrib/kub

[2021-03-30 07:48] janousy commented on #1496
As an update, when I try to run [this](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/tfjob-example.yaml) example from the katib repository (chaning the namespace to "admin" instead of "kubeflow") using `kubectl apply -f katib-tfjob-example.yaml` I get the reponse:

`error: unable to recognize "katib-tfjob-example.yaml": no matches for kind "Experiment" in version "kubeflow.org/v1b

[2021-03-30 14:18] midhun1998 commented on #1494
@andreyvelich Katib controller pod logs was attached in the first comment of issue. Unfortunately, the suggestion pod couldn't be found as it was cleaned up by kubernetes.

[2021-03-30 15:16] DavidSpek opened #1497 "Manifests using latest tag for images"
/kind bug

https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/installs/katib-with-kubeflow/kustomization.yaml has the image tags set to `latest`. It is not best practice to use the `latest` tag, especially with kubernetes.

[2021-03-30 20:00] yanniszark opened #1499 "manifests: Kubeflow overlay has PVC with storageClassName katib"
/kind bug

**What steps did you take and what happened:**
The kubeflow overlay imports a PVC with storageClassName `katib`, which does not exist. This also ties in with the discussion in issue https://github.com/kubeflow/katib/issues/1479.

**What did you expect to happen:**
The PVC should not have a `storageClassName` set, so that it gets the cluster's default one.

**Anything else you would like

[2021-03-30 20:07] yanniszark opened #1500 "manifests: Cert-generator script doesn't work for k8s < 1.18"
/kind bug

**What steps did you take and what happened:**
Installing the Katib manifests in K8s 1.16 makes the cert-generator script fail with:
[code]

This is a client-side validation error because the `CertificateSigningRequest` API does not contain the `signerName` field in 1.16 (needs >= 1.18). @andreyvelich tried the script with `--validate=false` in 1.16 KIND and it worked. We also tried it

[2021-03-30 20:13] yanniszark opened #1501 "manifests: Disable Istio Injection"
/kind bug

**What steps did you take and what happened:**
In previous releases, Istio injection was disabled. At the moment, Katib won't work with Istio Injection enabled. Thus, add `sidecar.istio.io/inject: "false"` annotations in all workloads.

[2021-03-31 11:39] #1499 closed

[2021-03-31 11:39] #1500 closed

[2021-03-31 11:39] #1501 closed

[2021-03-31 12:30] andreyvelich opened #1504 "Modify CI setup script to run on release branch"
/kind bug

We should modify the [Setup Script](https://github.com/kubeflow/katib/blob/master/test/scripts/v1beta1/setup-katib.sh#L45-L46) to be able to run on release branches.
Currently, we replace only the `latest` tag for the images.

/priority p0

[2021-03-31 12:33] andreyvelich opened #1505 "Add katib-with-kubeflow-cert-manager install to the release script"
/kind bug
/priority p0

We should add the `katib-with-kubeflow-cert-manager` install to the [release script](https://github.com/kubeflow/katib/blob/master/scripts/v1beta1/release.sh#L73-L81).

[2021-03-31 22:17] #1495 closed

[2021-04-01 12:38] Dampolo03 commented on #1490
@andreyvelich I've been able to figure out what to do for my version of Katib - using the `goTemplate` on my `trialTemplate`  with `apiVersion: batch/v1` and `kind: Job` for CatBoost and other sklearn models (unlike the recent version of Katib). Will close this issue now but may re-open it if another issue occurs with my Katib version.

[2021-04-01 12:43] #1490 closed

[2021-04-01 16:31] andreyvelich commented on #1494
Please can you try to run your Experiment again and check the logs from the Suggestion and Katib controller ?

[2021-04-01 16:40] andreyvelich commented on #1496
Thank you for creating this @janousy.

Yes, you are right. The Katib KFP example is created for the Katib 0.10.
So you should update the Katib version on your cluster.

[2021-04-01 18:26] #1504 closed

[2021-04-01 20:13] janousy commented on #1496
Thanks for the reply @andreyvelich! As I couldn't find any documentation about this, do you know where to find resources on how to update katib on an existing microk8s cluster?

[2021-04-02 03:25] #1505 closed

[2021-04-02 13:57] andreyvelich commented on #1496
You should delete all Katib resources first. I think you can use [this commit](https://github.com/kubeflow/katib/tree/4559e16114a62cd78c3e0a512c271df562f373b9/manifests/v1alpha3) to remove v1alpha3 Katib resources.

Then, follow [this step](https://github.com/kubeflow/katib#katib) to install latest Katib version.

[2021-04-02 15:24] midhun1998 commented on #1494
Sure

[2021-04-07 10:42] andreyvelich commented on #1484
Support MLMD for Katib Experiment.

[2021-04-07 15:38] maanur opened #1512 "Webhook certificates validation fails"
/kind bug

**What steps did you take and what happened:**
I installed the latest version of Katib by cloning the repo's `master` tree and running `make deploy` against aour OpenShift 4.6.21 cluster.
Then I applied [random-example.yaml](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/random-example.yaml).
Created experiment remains in Running condition, Trial's pods are not updated w

[2021-04-08 00:01] andreyvelich commented on #1512
Thank you for creating this @maanur and tested Katib on OpenShift!

Please can you try to specify `kubernetes.io/legacy-unknown` signerName here: https://github.com/kubeflow/katib/blob/master/hack/cert-generator.sh#L82.
Then, build and push your custom image for the cert generator:
[code]

And use your custom image in the manifest: https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/in

[2021-04-08 05:40] maanur commented on #1512
Changed the cert-generator image, reran the job.
[code]
The issue reproduces:
[code]
As it is mentioned in Kubernetes docs,

I'll try to write some kustomization overlay for OpenShift to utilize the [service serving certificate](https://docs.openshift.com/container-platform/4.6/security/certificates/service-serving-certificate.html) feature.

[2021-04-08 11:21] andreyvelich commented on #1512
That would be great. Thank you @maanur!
Also, check this PR: https://github.com/kubeflow/katib/pull/1498#issuecomment-815343266, please.
We are refactoring Katib manifest.

[2021-04-09 17:55] janousy commented on #1496
Okay thanks for your help, I'll wait for the KF 1.3 release.

[2021-04-09 17:55] #1496 closed

[2021-04-15 10:08] maanur commented on #1479
According to Kubernetes concepts,

There is no `katib` StorageClass definition between installation manifests and no related PV dynamic provisioning controllers either, hence specifying `.spec.storageClassName="katib"` in PVC blocks its automatic provisioning.
So, only the "cluster administrator" part of the concept remains actual. But, you know, speaking from experience, if you want to use PVCs i

[2021-04-19 08:13] CR1SceNT opened #1516 "Two lines of error messages are reversed."
The error messages of lines 100 and lines 108 are reversed in cmd/katib-controller/v1beta1/main.go. The first error should be "Failed to create the manager." and the other should be "unable add APIs to scheme".

[2021-04-19 09:41] hsinhoyeh opened #1517 "katib job failed to reach katib-db-manager to report metrics"
/kind bug

**What steps did you take and what happened:**
Hi there,

I was running this [example](https://github.com/kubeflow/pipelines/blob/master/samples/contrib/kubeflow-katib/early-stopping.ipynb) on kubeflow 1.3 rc0 from pipelines. however, this katib job didn't go succeed when there one pod showing error (although the status from trials are all succeed).
but its log shows:
[code]
and the IP

[2021-04-19 15:33] andreyvelich commented on #1516
@CR1SceNT Thank you for investigating this!
It would be great if you could create a PR to fix this.

/good-first-issue

[2021-04-19 15:39] andreyvelich commented on #1517
Thank you for creating this @hsinhoyeh.
1. Can you verify that `katib-db-manager` and `katib-mysql` pods are running properly ? (`kubectl get pods -n kubeflow`)
2. Can you check that `katib-mysql` PVC is bounded ? (`kubectl get pvc katib-mysql -n kubeflow`)

[2021-04-19 15:43] hsinhoyeh commented on #1517
@andreyvelich all verified.

on a side note that when I run the pipeline again (with a reduced number of trial counts), the experiment went to `succeed` status.

[2021-04-19 15:52] andreyvelich commented on #1517
@hsinhoyeh From the logs above it seems that Trial's pod can't access to the Katib DB Manager.
Was your Katib DB manager pod always running during the Experiment run ?

[2021-04-21 18:24] frankmanbb commented on #1484
TFX also has a tuner, https://www.tensorflow.org/tfx/guide/tuner, any possibility that we can use Katib in tfx as well? Maybe as a custom tfx component?

[2021-04-22 05:28] himanshu007-creator commented on #1516
hi! I would like to work on this issue

[2021-04-22 13:13] andreyvelich commented on #1516
Thank would be helpful, thanks @himanshu007-creator!

[2021-04-22 13:14] andreyvelich commented on #1516
/assign @himanshu007-creator

[2021-04-22 13:56] andreyvelich commented on #1484
This is interesting. That should be possible when TFX is running on top of Kubernetes.
WDYT @gaocegege @johnugeorge ?
@Bobgy Do we have any examples when KFP and TFX are running together ?

[2021-04-22 22:00] andreyvelich commented on #1474
Katib 0.11.0 has been released: https://github.com/kubeflow/katib/releases/tag/v0.11.0.
We can close it.

[2021-04-22 22:00] #1474 closed

[2021-04-23 14:02] #1283 closed

[2021-04-23 14:52] #1516 closed

[2021-04-28 00:01] aaron-arellano commented on #1454
I would add this is a pervasive issue with Kubeflow. I have a similar issuer with the header but not on Katib. In my case I am trying to remove the envoy filter from the `ingressgateway` to a `SIDECAR_INBOUND` context. When you do this everything works fine except for services that require the `kubeflow-userid` for access. In my case JWA failes to load properly because the header is missing. I thi

[2021-04-28 02:14] prashanthb-ai commented on #1454
@aaron-arellano as an intermediate hack, I ended up just disabling header based auth with a sidecar on the ml-pipeline: https://gist.github.com/prashanthb-ai/dd85348b6752f2ef3385947c32a50784

Or course I've only deferred the problem till someone or I have time to figure out a better solution.

Also note that the problem here is that we're locked out from user-id envoy injection because of the hard

[2021-04-28 21:55] viksharma1987 commented on #1395
Hi @trog-levrai trog-levrai Using your suggestion I was able to generate the certificates and was able to place it as secrets, all the steps you suggested worked like a charm, but post that I started getting `connection refused` issue, details below

[code]

[2021-05-04 21:00] andreyvelich opened #1528 "[Documentation] Update MySQL volume guides"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1527, users will not be able to deploy MySQL without volume provisioner.
We should update the appropriate guides here: https://www.kubeflow.org/docs/components/katib/hyperparameter/#setting-up-persistent-volumes.

[2021-05-07 15:20] #1484 closed

[2021-05-12 11:11] mroy31 opened #1533 "Unable to create Experiment from user namespace (X509 validation error)"
/kind bug

**What steps did you take and what happened:**

After installing kubeflow 1.3 (with kustomize manifest) on an on-premise cluster (deployed with rke), I am an error when I try to create an Experiment from user namespace (kubeflow-user-example-com in my case). For example:

[code]

**What did you expect to happen:**
The experiment is created.

**Anything else you would like to add:**

- I

[2021-05-13 15:21] andreyvelich commented on #1533
Thank you for creating this @mroy31.
I believe the issue is that you haven't deleted legacy Katib webhooks before installing Kubeflow 1.3.
Please can you run this and re-install Kubeflow 1.3 again:
[code]

[2021-05-13 20:29] mroy31 commented on #1533
Thanks for the reply @andreyvelich
Indeed,  legacy Katib webhooks are still present in my cluster. After delete them and re-install kubeflow, it works like a charm !
I checked katib-controller webhooks several times but I didn't think to look if other weebhooks are presents...

Thanks again

[2021-05-13 20:29] #1533 closed

[2021-05-18 05:51] sidpalas opened #1534 "Grid Search stuck when parallelTrialCount < maxTrialCount"
/kind bug

**What steps did you take and what happened:**

I created an experiment to perform a grid search, set `maxTrialCount` equal to the size of the grid, and set `parallelTrialCount < maxTrialCount`.

The first set of parallel trials completes successfully, but at some point after that the experiment gets stuck. The suggestion shows requested > assigned and has the following warning:
`Warnin

[2021-05-18 14:00] andreyvelich commented on #1534
Thank you for creating this @sidpalas.
It might be this issue: https://github.com/kubeflow/katib/issues/1494#issuecomment-808377111.
I would recommend to use the latest Katib release to debug this.
`v1alpha3` was deprecated 1 year ago.

[2021-05-18 14:23] sidpalas commented on #1534
Thanks @andreyvelich -- are there any special considerations I need to make when upgrading to the newer versions of Katib (e.g. related to DB migrations)?

I know for Kubeflow Pipelines upgrading in-place wasn't supported for some versions.

[2021-05-18 14:36] andreyvelich commented on #1534
Unfortunately, we don't support in-place upgrade currently.
You should manually delete all v1alpha3 Katib resources and use `make deploy` to use the latest version.

[2021-05-18 14:36] andreyvelich commented on #1534
Before clean-up resources you should delete all Experiments:
`kubectl delete experiment --all-namespaces --all`

[2021-05-18 15:35] sidpalas commented on #1534
I deployed a new standalone Katib deployment in a separate cluster to test and was able to reproduce this result.

I used the commit corresponding to the latest release (https://github.com/kubeflow/katib/releases/tag/v0.11.0). This deployed katib-controller with image: `docker.io/kubeflowkatib/katib-controller:v0.11.0`

The updated experiment spec (to now be compatible with `v1beta1` is:

[code]

[2021-05-18 17:06] sidpalas commented on #1534
I did just notice another interesting thing. Even though my experiment has a single integer parameter with 15 possible values:
[code]
The Suggestion seems to skip some of the possible values: `0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 13, 14`  (for this experiment it is missing `3, 8, 12`)

Is this expected?

[2021-05-18 17:49] sidpalas commented on #1534
I copied the sqlite DB from the a suggestion pod and it shows the following:

<img width="449" alt="Screen Shot 2021-05-18 at 10 48 30 AM" src="https://user-images.githubusercontent.com/1320389/118699630-98ce5a00-b7c6-11eb-8457-81ac2d315b44.png">

[2021-05-19 07:14] Ulov888 commented on #1455
same probelm as here , get 404 error when i try to crete katib_experiment by SDK。do u fix your problem ?

[2021-05-19 14:44] andreyvelich commented on #1534
Yes, you are right, because we are asking for the new Grid parameters, but Chocolate can't produce more, since budget has been reached.
Maybe we should refactor Grid suggestion to query data from the sqlite DB which has empty `_trial_name` before asking Chocolate to make new sample ?

WDYT @sidpalas @gaocegege @johnugeorge ?

[2021-05-19 16:47] cc-gb2 opened #1536 "Confusion about metricFormat regex in Experiment Definition"
Hi, I'm trying to use the metricsFormat on StdOut to capture some metrics. They appear like this:
[code]

I'd like to grab the Accuracy and the Test-Loss. When I try to use this `([\w|-]+)\s*:\s*((-?\d+)(\.\d+)?)` from the [documentation ](https://www.kubeflow.org/docs/components/katib/experiment/#metrics-collector) (literally just the equal sign replaced with a colon). No metrics are found. There

[2021-05-19 17:03] johnugeorge commented on #1534
I agree. This is a bug which leaks out certain trials.

[2021-05-19 17:09] johnugeorge commented on #1455
@Ulov888  How did you install Katib?

[2021-05-20 06:26] johnugeorge commented on #1536
1. did you have these metrics in objectiveMetricName or in additionalMetricNames? `Test-Loss` and `Accuracy`
2. currently, double backslash is required for char escape -  "([\\w|-]+)\\s*:\\s*((-?\\d+)(\\.\\d+)?)"

with respect to the example pointed out, see how lines are printed in https://github.com/kubeflow/katib/blob/master/examples/v1beta1/pytorch-mnist/mnist.py#L66

Related fn in code: https

[2021-05-20 10:02] cc-gb2 commented on #1536
Yes, I've got the Test-Loss and Accuracy stated like this in my spec.
[code]
So regex would look like this correct?
[code]

[2021-05-20 12:20] cc-gb2 commented on #1536
If i check regex editor, for example here: https://regex101.com/r/ipDeja/1
It will find the groups correctly whereas the metric collector from katib won't

[2021-05-20 15:53] cc-gb2 opened #1537 "Trials are failing to report experiment results"
/kind bug

**What steps did you take and what happened:**
I've tried running the basic example from here: `https://github.com/kubeflow/katib/blob/master/examples/v1beta1/random-example.yaml` with some very minor modifications (`resumePolicy: Never` and to `retain: true`). However the pods are failing at the end of the job due to metric collection and reporting logs. Specifically this error:
[code]

[2021-05-24 15:44] cc-gb2 commented on #1537
This still doesn't work, and I've double checked my code. This seems to completely invalidate the `metricsFormat`  functionality as working at all.

[2021-05-24 15:46] cc-gb2 commented on #1536
I've fixed the error from #1537 by creating a new cluster. This issue with the `metricsFormat` still does not appear to work.

[2021-05-25 06:52] anencore94 opened #1538 "experiment naming convention"
/kind feature

**Describe the solution you'd like**

When experiment naming convention is dissatisfied, experiment should not be created by validationg webhook or its status should be failed.

However, currently experiment created successfully and its status stays at `CREATED` forever.

but, katib-controller pod's log is as follows:
[code]

**Anything else you would like to add:**

- katib version

[2021-05-25 13:03] andreyvelich commented on #1537
Thank you for creating this @cc-gb2.
It seems that `mysql` pod is not running properly. It fails with this error:
[code]
Try to change `imagePullPolicy: Always` in the `katib-mysql` deployment and install it again.

[2021-05-25 13:08] andreyvelich commented on #1538
Thank you for pointing this @anencore94!
Yes, it seems that K8s Service has different name conventions than `metadata.name` in Experiment CR.
I agree that we should at this check in the validation Webhook.

/good-first-issue
/kind bug

[2021-05-25 13:17] anencore94 commented on #1538
Thanks for rapid answer! @andreyvelich
May I take this issue?

[2021-05-25 13:18] andreyvelich commented on #1536
@cc-gb2 Do you need first `(` and latest `)` in your regex ?
Maybe try this regex:
[code]

[2021-05-25 13:18] andreyvelich commented on #1538
Sure, that would be great!
/assign @anencore94

[2021-05-25 14:29] #1537 closed

[2021-05-25 15:17] andreyvelich commented on #1536
That's great.
FYI I was using this tool to verify it: https://regexr.com/

To check why it doesn't work, you can verify it in the Go lang with the input for the metrics collector.

We apply Regex for the log line here: https://github.com/kubeflow/katib/blob/master/pkg/metricscollector/v1beta1/file-metricscollector/file-metricscollector.go#L75.

[2021-05-25 16:22] cc-gb2 commented on #1536
Hmm I went back to review this, and I was actually double logging so I was logging both these lines together for some debugging:
INFO:kubeflow_example.trainer:Epoch 4 Test set: Test-Loss=0.132935, Accuracy=90.28% (9591/10624)
INFO:kubeflow_example.trainer:Epoch 4 Test set: Test-Loss:0.132935, Accuracy:90.28% (9591/10624)

The metrics collector was grabbing the Accuracy=90.28% and reporting it succ

[2021-05-26 01:21] richardagalvez opened #1540 "Experiment completed but stuck in running state"
/kind bug

**What steps did you take and what happened:**
I have an experiment which I began with maxTrialCount 100, but I edited it while running to decrease to 34. Experiment successfully completed 34 trials, but deployment, pod, and stateful set continues to exist with the experiment stuck in running state. All trials completed.

**What did you expect to happen:**
I am unsure how to forcefully

[2021-05-26 01:24] richardagalvez commented on #1540
This is not a bug. Please edit as necessary. Help appreciated!

[2021-05-28 07:37] kim-seoha opened #1542 "katib experiment is stuck at creating"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

[code]

I applied the py file to the following yaml file.

[code]

![image](https://user-images.githubusercontent.com/79685160/119945612-a6f35600-bfd0-11eb-8d16-2f4494072d06.png)

The experiment pod is running, but the experiment continues to create.
The following are the results of des

[2021-05-29 09:20] anencore94 opened #1544 "katib trial creation failed, but status stays as RUNNING"
/kind bug

**What steps did you take and what happened:**

I created katib-experiment with wrong primary-controller. (my Trial template was k8s Job)
Then experiment, suggestion and trial created successfully and their status are shown as RUNNING as follows :
![image](https://user-images.githubusercontent.com/37469330/120064946-da55e380-c0a9-11eb-94a6-b769f873a081.png)

However, as you can see each

[2021-05-29 09:27] anencore94 commented on #1542
I recommend you to check katib-controller-pod's log. There must be the reason why trials are not created.

Also, I'm not sure but I guess the reason was your experiment's yaml file was not valid.
[code]

I think ### (*) should be identical. (learning_rate != --learning_rate). Also ### (**) should be identical too.

[2021-05-31 05:10] kim-seoha commented on #1542
oh thanks, experiments and trials are started
but trials got error

`NAME                                              READY   STATUS    RESTARTS   AGE
ml-pipeline-ui-artifact-c8fbcb8f9-x9bpm           2/2     Running   0          57m
ml-pipeline-visualizationserver-6b78c9646-hhw5k   2/2     Running   0          57m
random-job-example-4rlkld8k-b97xv                 1/3     Error     0          5m5

[2021-05-31 05:25] kim-seoha commented on #1542
and the results of describe trials pods as below

kubectl describe pods -n plask random-job-example-29zvlgbs-n8tmd random-job-container

Name:         random-job-example-29zvlgbs-n8tmd
Namespace:    plask
Priority:     0
Node:         bakas/192.168.1.198
Start Time:   Mon, 31 May 2021 05:23:08 +0000
Labels:       controller-uid=ae70057e-19ea-4a0b-aa95-e4bf1f5f5fff
              job-name=random-job

[2021-05-31 06:48] anencore94 commented on #1542
Yes, you could ask me in Korean @kim-seoha :)

Maybe this time you should check this part:

- `sidecar-inject annotation` location was wrong in your experiment.yaml :
- That should be located at job.spec.template's metadata, not in job's metadata.

- Right case:
[code]

- Wrong case
[code]

[2021-06-01 11:55] #1538 closed

[2021-06-01 12:37] seoha-kim commented on #1542
넵 감사합니다ㅠㅠ 덕분에 experiments가 시작됩니다..!
다른 튜토리얼로도 잘 돌아가나 검증해봤는데 잘 돌아가는 것 같습니다!
포맷 맞추는게 문제였네요..ㅠㅠ
덕분에 일주일넘게 애먹이던게 해결이 되었네요
잘 사용하겠습니다!

[2021-06-01 17:44] kimwnasptd commented on #1443
closing this issue since https://github.com/kubeflow/katib/pull/1463 has added the missing fields of the form.

The form is now on par with the current default UI.

[2021-06-01 17:44] #1443 closed

[2021-06-02 07:28] anencore94 commented on #1542
Yeap! This issue was resolved @gaocegege

[2021-06-02 07:31] #1542 closed

[2021-06-02 07:32] gaocegege commented on #1544
SGTM. /cc @andreyvelich

WDYT

[2021-06-02 14:25] anencore94 commented on #1544
If you guys agree to implement such thing, I would like to take it :)

[2021-06-02 16:45] kimwnasptd opened #1546 "TrialTemplates should be per-namespace and not always live in kubeflow namespace"
/kind feature

**Problem statement**
Right now all the TrialTemplates reside in the `kubeflow` namespace. This has the following drawbacks:
1. Every team or user will need to be using the same templates
2. We will need to give permissions to all users for interacting with ConfigMaps in the `kubeflow` namespace, to allow them to edit the TrialTemplates

**Describe the solution you'd like**
Instead

[2021-06-02 16:47] kimwnasptd opened #1547 "[ui-authz-subjectaccessreviews] Use SubjectAccessReviews to ensure the web app respects K8s RBAC"
/kind feature

**Describe the solution you'd like**
Right now the backend for both the new and old UIs does not perform any authorization checks and only relies on the permissions of the backend's ServiceAccount.

The backend should follow the architecture of the other backends https://github.com/kubeflow/kubeflow/issues/5566 and use SubjectAccessReviews before making an action, to ensure it doesn

[2021-06-02 19:00] johnugeorge commented on #1546
The configmaps in Kubeflow that we are talking about, are just examples right? does it make sense to create examples in every namespace?

[2021-06-03 12:02] thesuperzapper opened #1548 "Renaming katib"
/kind feature

I remember a while ago that there was a desire to change the name of `katib` to be more descriptive.

_PP: I think `kubeflow-tune` (kftune) is the logical choice as [AutoML is used by GCP](https://cloud.google.com/automl)_

[2021-06-03 12:02] thesuperzapper commented on #1548
What is the status of this @kubeflow/wg-automl-leads?

[2021-06-03 19:06] johnugeorge commented on #1548
Yes. There were discussions before. Because of the bigger effort required in getting the name changes across  CI/CD env, docs and code, we didn't take it at that time.

[2021-06-03 19:52] andreyvelich commented on #1548
Our users also voted for Katib name after the survey: https://docs.google.com/forms/d/e/1FAIpQLSdbtUn95BfI4iWcgwhvRy38ZG7637dV0hXDAPqx-g_7Nk4Rnw/viewanalytics.

[2021-06-03 19:55] andreyvelich commented on #1534
/priority p1

[2021-06-03 20:01] andreyvelich commented on #1540
Thank you for creating this @richardagalvez.
Please can you show the Katib Controller logs ?
Also, all 34 Trials are in Succeeded state, right ?

[2021-06-03 20:12] andreyvelich commented on #1544
Thank you for noticing this @anencore94!
@gaocegege @anencore94 @johnugeorge Is it ok if we change Trial status to ERROR from the [Mutating Webhook](https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/pod/inject_webhook.go#L94) and not from the Trial Controller Reconcile?

[2021-06-03 20:21] andreyvelich commented on #1546
@johnugeorge I think it makes sense to create Trial template ConfigMap in user's namespace if user only wants it.

This sounds good.

How we want to deal with users who have access to all namespaces ? Do we still want to have Trial templates in Kubeflow namespace as an example ?

[2021-06-04 02:18] anencore94 opened #1549 "Support multi-objective optimization"
/kind feature

**Describe the solution you'd like**
- katib currently use only single-objective optimization, (even though katib could display additional metrics, the optimizing process focused on single objective function)
- However, as you might know well, **optuna** support [multi-objective optimization](https://optuna.readthedocs.io/en/v2.7.0/tutorial/20_recipes/002_multi_objective.html)
  - w

[2021-06-04 06:35] gaocegege commented on #1534
I agree.

[2021-06-04 13:01] subhabratabanerjee opened #1550 "Issue regarding Katib sample random-example Failed"
/kind bug

**What steps did you take and what happened:**

I am runnings Katib sample random-example- https://github.com/kubeflow/katib/blob/master/examples/v1beta1/random-example.yaml,  with adding sidecar.istio.io/inject: “false"
in yaml I am using training-container (without any change) still in log showing 'choose one of: [training-container metrics-logger-and-collector]’

added pod describe &

[2021-06-04 14:25] seoha-kim opened #1551 "tfjob error"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

/usr/local/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warn

[2021-06-04 15:51] andreyvelich opened #1553 "[Documentation] Modify resume Experiment guide with new volume policy"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1552 we change default policy for Experiment volume.
We created only PVC by default and check if Katib config contains PV to reconcile it.

[2021-06-04 16:03] andreyvelich commented on #1549
Thank you for creating this @anencore94.
I think that feature will require some API modification since `type`, `goal` and `objectiveMetricName` can be unique: https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1beta1/common_types.go#L94-L103.

@anencore94 @gaocegege @johnugeorge Any ideas how we can implement this ?

@c-bata Does Goptuna support Multi-object optimization ?

[2021-06-04 16:09] andreyvelich commented on #1550
If you want to check the logs from `random-example-subho-2rmwkwx6-hkdwb` pod you have to specify the container name since pod has 2 containers.
For example:
`kubectl logs random-example-subho-2rmwkwx6-hkdwb -n kubeflow-user-example-com -c metrics-logger-and-collector`
or
`kubectl logs random-example-subho-2rmwkwx6-hkdwb -n kubeflow-user-example-com -c training-container`

[2021-06-04 16:14] andreyvelich commented on #1551
@seoha-kim Usually, you can use TFJob if you want to run distributive training: https://www.tensorflow.org/guide/distributed_training#setting_up_the_tf_config_environment_variable.

If you to run just a simple TF Training Job you can still use Kubernetes Job.

Ignore this error: `ERROR:grpc._server:Exception calling application: Method not implemented!`.
It just says that Validate Algorithm Settin

[2021-06-04 16:37] c-bata commented on #1549
No. I'm not planning to implement multi-objective support in Goptuna because it requires some breaking changes.

As @anencore94 said, I think Optuna is a good choice if Katib will support multi-objective optimizations.
Optuna supports a lot of multi-objective optimization algorithms like NSGA-II, multi-objective TPE, and the algorithms provided by BoTorch. And it is not difficult to implement Optu

[2021-06-04 18:23] subhabratabanerjee commented on #1550
@andreyvelich , thanks for pointing this out , seems like a proxy issue that’s why not able to connect, as Katib is ml f/w agnostics can I run a sklearn also ? (I am a newbie in Katib ) in documentation I could’t find about sklearn that why I am asking

021-06-04T17:53:42Z DEBUG    Starting new HTTP connection (1): data.mxnet.io:80
I0604 17:55:54.029132      69 main.go:136] 2021-06-04T17:55:54Z DE

[2021-06-04 18:25] #1550 closed

[2021-06-04 22:16] andreyvelich commented on #1550
@subhabratabanerjee Yes, you just need to build Docker image for your training container code and you should be able to run it in the Experiment.

[2021-06-07 03:07] seoha-kim commented on #1551
Oh Thank you
Can i ask one more question

I want to collect loss with format
loss(...) : {value}

for example:
Total: 0:06:53 | ETA: 0:08:26 | loss: 1.1260 | loss_2d: 0.1125 | loss_3d_rel: 0.3900 | loss_3d_abs: 0.1651 | loss_smpl: 0.3662

I want to collect
loss: 1.1260
loss_2d: 0.1125
loss_3d_rel: 0.3900
loss_3d_abs: 0.1651
loss_smpl: 0.3662

how can I filter this?
I heard that "([\\w|-]+)\\s*:\\s

[2021-06-07 09:06] anencore94 commented on #1544
@andreyvelich I guess it makes fast fail. Fail on mutating webhook would be better.

[2021-06-07 14:43] andreyvelich commented on #1551
@seoha-kim If you want to collect all of your metrics, first of all you have to define them in the objective:
[code]
In that case, metrics collector will record all metrics with appropriate names and regex should be like this:
`(\\w+):\\s*((-?\\d+)(\\.\\d+)?)`
If you want to collect all `loss` values for the same Objective metric: `loss`, I think this regex should work for you.
`(loss)\\w*:\\s*((-

[2021-06-10 11:16] Bowen0729 commented on #1454
@prashanthb-ai I tried your method, but not work

[2021-06-11 03:42] prashanthb-ai commented on #1454
@Bowen0729 what did you try? disabling the header auth by routing through a hack proxy as indicated in my previous comment? If so, you need to ensure the proxy is injecting the expected header. The `userid` header needs to match your profile: https://www.kubeflow.org/docs/components/multi-tenancy/getting-started/#automatic-creation-of-profiles.

You can debug by trying curl commands from a pod ->

[2021-06-11 05:22] Bowen0729 commented on #1454
@prashanthb-ai Thank you for your reply

Actually I 'm from another issue:https://github.com/kubeflow-kale/kale/issues/276#issuecomment-792287143

I have the similar error in that issue, I run katib job by kale, but I got error in pod(image: katib-kfp-trial:a7f7bb79-d9bf99ac):

**File "/usr/local/lib/python3.6/site-packages/kale/common/katibutils.py", line 152, in create_and_wait_kfp_run **kwargs

[2021-06-11 06:10] thesuperzapper commented on #1322
bumping for bot

[2021-06-11 14:58] andreyvelich commented on #1468
/lifecycle frozen

[2021-06-11 14:58] andreyvelich commented on #1467
/lifecycle frozen

[2021-06-11 14:58] andreyvelich commented on #1437
/lifecycle frozen

[2021-06-11 14:59] andreyvelich commented on #1448
/lifecycle frozen

[2021-06-11 14:59] andreyvelich commented on #1447
/lifecycle frozen

[2021-06-11 14:59] andreyvelich commented on #1444
/lifecycle frozen

[2021-06-11 14:59] andreyvelich commented on #1439
/lifecycle frozen

[2021-06-11 14:59] andreyvelich commented on #1441
/lifecycle frozen

[2021-06-11 15:00] andreyvelich commented on #1440
/lifecycle frozen

[2021-06-11 15:01] andreyvelich commented on #1434
/lifecycle frozen

[2021-06-11 15:03] andreyvelich commented on #1430
Thank you for creating this @thomas-mueller.
I think this feature is similar to this: https://github.com/kubeflow/katib/issues/1207.
Let's continue discussion there.
/close

[2021-06-11 15:03] #1430 closed

[2021-06-11 15:03] andreyvelich commented on #1410
/lifecycle frozen

[2021-06-11 15:04] andreyvelich commented on #1389
/lifecycle frozen
/help

[2021-06-11 22:30] andreyvelich opened #1554 "Use release tags for the Trial images"
/kind feature

As discussed in the AutoML meeting at 2021-03-24, we decided to use the latest tag in the `master` branch and release tag in the `release-` branch for the [Trial images](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/hp-tuning/random.yaml#L56).
Then, users can deploy examples for the specific Katib version and use the latest changes.

/cc @gaocegege @johnugeorge @yan

[2021-06-12 22:17] andreyvelich commented on #1479
This has been fixed by: #1527 and #1552

[2021-06-12 22:17] #1479 closed

[2021-06-14 10:03] RFMVasconcelos commented on #1468
Hi @andreyvelich !

Thank you for creating this and sorry that we didn't get to it yet. We've had our hands full with the v1.3 operators and have just now been able to grow the team. Hopefully we'll get to this soon :)

[2021-06-14 12:12] andreyvelich commented on #1468
Thank you for this effort @RFMVasconcelos!
Look forward to it.

[2021-06-17 09:47] 0as1s opened #1558 "Does katib support xgboost-operator?"
Hi, I checked the repo and issues but did not find an answer. Can I use katib to find optimal hyperparameters for xgboost-operator(https://github.com/kubeflow/xgboost-operator)?

I know katib can be used on xgboost. Can I simply modify the trialSpec part to run katib for xgboost-operator? Xgboost-operator's yaml file is similar to mpijob-horovod.yaml with one master and several  workers.

Thanks a

[2021-06-17 12:40] andreyvelich commented on #1382
/lifecycle frozen

[2021-06-17 12:40] andreyvelich commented on #1382
/help

[2021-06-17 15:16] sravi999 opened #1559 "Controller should allow an empty CPU resource limit"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The controller should allow an empty CPU resources limit when the CPU limit is empty.

**What did you expect to happen:**
If the CPU limit is empty don't set a default value for the CPU.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the

[2021-06-17 15:17] sravi999 commented on #1559
cc: @andreyvelich

[2021-06-17 15:29] andreyvelich commented on #1559
Thank you for creating this @sravi999.
For all resources we can follow the Ephemeral Storage policy to remove them: https://github.com/kubeflow/katib/blob/master/pkg/util/v1beta1/katibconfig/config.go#L291.

/assign @andreyvelich

[2021-06-17 16:05] nbren12 commented on #1536
It would be great if katib provided some kind of local testing framework for the metrics collection. I'm also stuck on this and struggling with the long feedback loop of compiling a new docker image and then testing E2E.

[2021-06-17 19:21] johnugeorge commented on #1536
This is a great idea to have a framework to test docker image whether it satisfies all requirements

[2021-06-18 09:53] gaocegege commented on #1558
I can be supported. But I do not it is supported now /cc @kubeflow/wg-automl-leads

[2021-06-18 13:41] andreyvelich commented on #1558
@0as1s Since Katib supports all Kubernetes CR, that can be easily supported by following this doc: https://www.kubeflow.org/docs/components/katib/trial-template/#use-custom-kubernetes-resource-as-a-trial-template.
It would be great if we implemented this support in default Katib controller settings.

[2021-06-18 19:00] johnugeorge commented on #1382
/cc @richardsliu

[2021-06-19 13:32] 0as1s commented on #1558
Hi, @gaocegege @andreyvelich. Thank you for your answer!

[2021-06-21 15:11] andreyvelich commented on #1558
Let's keep this issue open and try to implement this feature in default Katib controller support, like we did with MPI operator.
/help

[2021-06-21 16:04] andreyvelich commented on #1081
We should investigate this comment: https://github.com/argoproj/argo-workflows/issues/4545#issuecomment-822108816 to try to support Argo workflows.
/help

[2021-06-24 09:21] Jaydeemourg opened #1561 "katib NAS trial created for feedforward architecture but no SUGGESTION was created"
/kind bug

**What steps did you take and what happened:**
i created a training script to train my dnn model, then package the script in an image. A YAML file for the Neural Architecture Search (NAS) experiment was then created. upon running the experiment, the trials created as shown below but no suggestions were made; am i missing something

**output of** `kubectl logs ai-nalyze-tuning-nas-0-enas

[2021-06-24 13:12] Jaydeemourg commented on #1561
this is the view on the Katib NAS UI:
![image](https://user-images.githubusercontent.com/64713825/123268657-87cbe380-d4fe-11eb-98c0-b981a6a4668a.png)

[2021-06-24 14:14] DomFleischmann opened #1562 "Charmed Operators are not on the latest version for Kubeflow 1.3"
/kind bug

**What steps did you take and what happened:**
When deploying the charmed operators with the 1.3 Charmed Operators Kubeflow Bundle, the images used for Katib are out of date.

**What did you expect to happen:**
The correct images for Kubeflow 1.3 should be deployed.

**Environment:**

- Kubeflow version 1.3

[2021-06-24 22:08] andreyvelich commented on #1561
Hi @Jaydeemourg and thank you for testing ENAS Algorithm.
From the Suggestion logs I can see that 2 candidates were properly created.

ENAS Suggestion creates candidates with Model Architecture and NN config based on your Operation Search Space. You can read more about it here: https://github.com/kubeflow/katib/tree/master/pkg/suggestion/v1beta1/nas/enas

Then, the input of your Trial container mu

[2021-06-25 08:50] VoVAllen opened #1563 "Server error when running HP jobs"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Tried the official example of pytorch katib finetuning job. And got the error log from katib-controller as below. The pods are labeled as completed through kubectl, but said running in the katib ui

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Mis

[2021-06-25 09:46] VoVAllen commented on #1563
Fixed by not running in the kubeflow namespace. Should have a more friendly error message

[2021-06-25 09:46] #1563 closed

[2021-06-25 10:15] Jaydeemourg commented on #1561
Hello @andreyvelich, thanks for your quick response. i assigned the [ --architecture and --nn_config](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/nas/enas-example-gpu.yaml#L144-L145) as input to my container without Model Constructor. my model building and trained are in the .py script used as Entrypoint of the container.   Now i can view the suggestions in the Katib NAS UI.  Do

[2021-06-26 00:57] andreyvelich opened #1565 "[Documentation] Disable CPU and Memory resources in Katib config"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1564, user can remove CPU and Memory from Suggestion or metrics collector resources.
We should document it.

[2021-06-28 11:09] midhun1998 commented on #842
Hi. I'm running Kubeflow 1.3 and still we are seeing duplicate hyperparam combination for random search. Any update on this? #866

[2021-06-28 14:02] midhun1998 commented on #842
/reopen

[2021-06-28 15:46] andreyvelich commented on #842
Hi @midhun1998, in random search you might receive duplicate parameters. Any concerns with this algorithm ?
cc @johnugeorge

[2021-06-28 15:58] andreyvelich commented on #1561
If you have feedforward network with different Hypeprameters, like num-layers, batch-size, etc.., why do you want to use ENAS ?
You can perform different HP algorithms to search for the best parameters. Usually, ENAS is used for searching CNN or RNN when you want to search for the various operations. Check the paper: https://arxiv.org/pdf/1802.03268.pdf.

By default for each CNN network we add the

[2021-06-28 17:04] midhun1998 commented on #842
Thanks @andreyvelich for replying so soon. Please check the attached images. I had run 8 trials. Out of 8 I can only see 4 unique entries. I have also attached the search space for better clarity. Is this something expected from random search?
 ![IMG_20210628_222700.jpg](https://user-images.githubusercontent.com/24776450/123675951-ee376580-d860-11eb-9718-687ad7af41bb.jpg)
![IMG_20210628_222553.jpg

[2021-06-28 18:52] andreyvelich commented on #842
@midhun1998 Can you show me your search space and logs from the Suggestion please ?

[2021-06-29 08:43] #1528 closed

[2021-06-29 08:47] johnugeorge commented on #842
which Katib release are you using ? Can we track this in a separate issue ?

[2021-06-29 08:50] #1553 closed

[2021-06-29 13:36] #1559 closed

[2021-06-29 15:22] midhun1998 opened #1566 "Trials with same hyperparameters - Random search"
/kind bug

**What steps did you take and what happened:**
I had recently run 8 trials for an experiment and out of 8 only 4 unique combinations were seen and the rest were duplicates. The duplicates hyperparameters are seen in the majority of the experiments I run.
Ref:
#842

Looking forward to this feature. #866

**What did you expect to happen:**
Expected 8 different combinations of hyperparamet

[2021-06-29 15:25] midhun1998 commented on #842
Yeah @johnugeorge . I have created a new issue #1566 to track this. I have added all available logs and details to that issue. Since it's been a few days, the pods got cleaned up so please let me know what all I need to take note of when this happens again. Thanks!

[2021-06-29 16:14] johnugeorge commented on #1566
Thanks @midhun1998

you have exactly 8 possible configurations from your search space and your max trials is also 8. Is it right? Can you reproduce this issue each time?

[2021-06-29 19:31] RDarrylR commented on #1566
I have seen the same in the past with kf1.2. I will try again with 1.3 and report results. I also saw the same with grid algorithm before which kind of defeats the purpose of using grid. I will test with 1.3.

[2021-06-29 19:38] RDarrylR commented on #1472
Is there any reason why step for double values isn't used by random search. When i am searching for values for many types of params I don't usually want to end up with a value with many decimal places. Maybe the underlying hyperopt doesn't support step for floats?

[2021-06-29 20:02] peterhaddad3121 opened #1567 "Update Katib SDK to be compatible with kfp-tekton"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Hello, I am utilizing Kubeflow with Kabit and kfp-tekton.

It is known that the Kabit SDK requires Kubernetes 10.0.1 and kfp-tekton requires 1.18 for Kubernetes.

**What did you expect to happen:**

I expect Kabit to be compatible with a later version of Kubernetes

**Anything else you w

[2021-06-29 22:11] andreyvelich commented on #1472
Yes, currently we are using [`uniform`](https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1beta1/hyperopt/base_service.py#L65) for double HPs in hyperopt.
@gaocegege can we use [`quniform`](http://hyperopt.github.io/hyperopt/getting-started/search_spaces/)  for double parameters to support step ?

We also discuss about supporting various search space distributions: https://github.com/k

[2021-06-29 22:41] RDarrylR commented on #1472
Thanks @andreyvelich. What I do now is just make up categorical lists of values for double params like "['0.01', '0.001', '0.0005, '0.0001']" but this isn't a great way to deal with it

[2021-06-30 01:52] #1565 closed

[2021-06-30 04:57] johnugeorge commented on #1566
https://github.com/kubeflow/katib/issues/1534 might be a related issue.

[2021-06-30 05:27] johnugeorge commented on #1472
This can be supported without any api changes.

[2021-06-30 11:18] midhun1998 commented on #1566
Yeah, @johnugeorge . I tried running it again today twice and I saw duplicates. Here are the details:

First run:  **test-new-npdr7**

Suggestion pod logs:
[code]
Suggestion controller logs:
https://gist.github.com/midhun1998/4a4cb69671f3033fecddd195dc787fcd

UI:
<img width="745" alt="test-new" src="https://user-images.githubusercontent.com/24776450/123950906-d75c5480-d9c1-11eb-9009-d5e27871069e.p

[2021-06-30 12:58] johnugeorge commented on #1566
I will try to reproduce this one. Thanks for reporting this

[2021-06-30 19:51] andreyvelich commented on #1567
Thank you for creating this @peterhaddad3121.
Please try to use latest version of Katib SDK: 0.11.0.
In that version we should support the latest Kubernetes version.

[2021-06-30 20:35] peterhaddad3121 commented on #1567
Hi Audrey, I did try to use the latest version. Additionally when I install it says the following: Successfully installed `kubeflow-katib-0.11.0 kubernetes-10.0.1`

I run a kubernetes uninstall which removes kubernetes, but then I get the following error:
`AttributeError: 'V1beta1Experiment' object has no attribute 'openapi_types'`

This error gets resolved when downgrading back to the older kuber

[2021-07-01 16:37] andreyvelich commented on #1567
@peterhaddad3121 What if you try to use `kubeflow-katib-0.11.0` Python package with the newer version of `kubernetes` package ?
Are you getting the error above ?

[2021-07-01 19:16] andreyvelich opened #1570 "Refactoring README information"
/kind discussion

As we discussed in the community meetings, we should keep Katib README simple with only necessary information.
My Suggestion that we remove the following sections:
1. [Getting Started](https://github.com/kubeflow/katib#getting-started)
2. [Name](https://github.com/kubeflow/katib#getting-started)
3. [Concepts in Katib](https://github.com/kubeflow/katib#concepts-in-katib), since it

[2021-07-05 11:21] Jaydeemourg commented on #1561
@andreyvelich thanks for your response. i will close this issue.

[2021-07-05 11:21] #1561 closed

[2021-07-06 08:22] mikel-brostrom opened #1571 "Pass intermediate runs results to hp tuning script"
Hi! Sorry if this is a basic question but I couldn't find the information I needed.

 I have a pipeline with multiple components: filter, scale, split... I want to input the data from the last data processing component, let say it is split, into my hp tuning script which has the following arguments:

[code]

Hence I have a hptuning_config.yaml specifying the inputs in the following way:

[code]

B

[2021-07-06 11:39] #1571 closed

[2021-07-06 14:28] jbottum commented on #1571
@mikel-brostrom Hi, I am a Kubeflow Community Product Manager and we are running at Mini Summit on Katib on July 16.   Would you be interested in participating in a Katib User Panel and answering some questions from our Contributors on new features, requirements ?     Here is the agenda for the Summit and I can provide more details on the User Panel as well, https://docs.google.com/document/d/1vGl

[2021-07-07 13:05] mikel-brostrom commented on #1571
I figured out that I could download the files from the Bucket that the pipeline is storing all the artifacts in. Thank you anyways :smile:

[2021-07-08 08:36] #642 closed

[2021-07-08 08:36] #1295 closed

[2021-07-10 12:16] chenwenjun-github opened #1576 "stdout metric collector failed"
/kind bug

**What steps did you take and what happened:**
![image](https://user-images.githubusercontent.com/46237364/125162483-b1516400-e1ba-11eb-8c33-f75f08adb553.png)

I use tfjob as trial's job, my tfjob has one ps, one chief, one worker, and the metric collector is stdout, but I find that the metrics-logger-and-collector container sometimes will become error, and the print like above, this is

[2021-07-12 06:15] #1320 closed

[2021-07-12 15:06] #1467 closed

[2021-07-13 06:27] chenwenjun-github commented on #1576
I made some change on katib code like this:
![image](https://user-images.githubusercontent.com/46237364/125401937-65830280-e3e6-11eb-968c-b4e1e418b02f.png)
This reslove my problem, close this issue.

[2021-07-13 11:41] andreyvelich commented on #1576
Thank you for creating this @chenwenjun-github.
Yes, that should be an issue.
Maybe we should implement this change to the metrics collector source code?

WDYT @chenwenjun-github @gaocegege @johnugeorge ?

/priority p1
/help

[2021-07-13 19:09] johnugeorge commented on #1576
Sorry. I didn't understand the context very well.

when will `metrics-logger-and-collector container ` error out?

[2021-07-13 20:39] andreyvelich commented on #1576
This happens very rarely, when `psutil.Pids()` returns process, but when we try to create an object from this PID in [`psutil.NewProcess(pid)`](https://github.com/kubeflow/katib/blob/master/pkg/metricscollector/v1beta1/common/pns.go#L68) it can't be created.
My assumption that, this process might be stopped or finished before.

I think @chenwenjun-github solution above might work, since usually we

[2021-07-14 02:29] kwokon0ng opened #1577 "katib random-example experiment pod stuck in NotReady state"
Hi, please help with my issue.

Environment:
katib version : v0.11.1
Kubernetes version:  v1.20.7 (minikube)
installed from latest July 12 2021 manifest   https://github.com/kubeflow/manifests/archive/refs/heads/master.zip

Tried twice with different experiment name " random-example" and "random-example-2"

NAMESPACE                   NAME                                                         RE

[2021-07-15 13:43] mikel-brostrom commented on #1571
Hi Josh,

Thank you for the proposition but I am not the right person to attend this
right now, as I recently started learning about KubeFlow and Katib.
Maybe next time :). I am however interested in attending as a spectator.
Could you please provide a link?

Kind regards,
Mikel

On Tue, Jul 6, 2021 at 4:28 PM Josh Bottum ***@***.***> wrote:

[2021-07-15 13:46] andreyvelich commented on #1571
Hi @mikel-brostrom.
Sure, here you can find the Schedule and Zoom invitation link: https://docs.google.com/document/d/1vGluSPHmAqEr8k9Dmm82RcQ-MVnqbYYSfnjMGB-aPuo/edit?usp=sharing

[2021-07-16 13:54] anencore94 opened #1579 "[katib-ui] support to input many hyperparameters at once"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

For now, when user create a new experiment, user should enter all hyperparameters for each by each by clicking button.

This ux could a bit uncomfortable to add many parameters such as more than 20 by clicking button.

So, if katib-ui supports for entering all hyperparameters at once

[2021-07-16 13:59] anencore94 opened #1580 "[katib-ui] Interactive graph with toggle specific hyperparameters in experiment page"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

When describing a katib experiment page, there is one graph showing all trials with its objective metric and all hyperparameters.

However, I think sometimes user would like to hide some hyperparameters on graph  interactively to focus on some specific hyperparameters

Such hiding hyp

[2021-07-19 03:27] gaocegege opened #1581 "[chore] Upgrade CRDs to apiextensions.k8s.io/v1"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

/cc @alculquicondor

Maybe there is problem about https://github.com/kubernetes/apiextensions-apiserver/issues/50

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-07-19 13:04] andreyvelich opened #1582 "Support Asynchronous Successive Halving Algorithm (ASHA) in Katib"
/kind feature

In the AutoML and Training summit on 2021-07-16 we had couple of request to support [ASHA](https://arxiv.org/pdf/1810.05934.pdf) in Katib.
This item is also in our ROADMAP 2021.
Let's start a discussion how we can implement it in this issue.

/cc @gaocegege @johnugeorge @jbottum

[2021-07-19 13:05] andreyvelich commented on #1582
/help

[2021-07-19 13:58] andreyvelich opened #1583 "Naming for Katib Custom Resources"
/kind discussion

We discussed on the AutoML and Training summit on 2021-07-16 that **Experiments (AutoML)** and **Experiments (KFP)** in Kubeflow Central Dashboard might be confusing for our users.
<img width="236" alt="Screenshot 2021-07-19 at 14 55 36" src="https://user-images.githubusercontent.com/31112157/126171545-21749e1f-48df-46b0-899f-92bef518f593.png">

Let's start discussion how we shou

[2021-07-19 14:16] andreyvelich opened #1584 "Support BOHB in Katib"
/kind feature

In the AutoML and Training summit on 2021-07-16 we discussed that Bayesian Optimisation and Bandit Based approach ([BOHB](https://arxiv.org/pdf/1807.01774.pdf)) produces very good results in case of HP tuning.

Let's see if we can implement it in Katib.

cc @gaocegege @johnugeorge

[2021-07-19 14:17] andreyvelich commented on #1584
/help

[2021-07-20 06:25] johnugeorge commented on #1583
Instead of experiments, Name it Model Tuning or something else ?

[2021-07-20 12:07] 11mhg commented on #1577
I am getting this same issue. Did you manage to fix it? If so, how?

[2021-07-20 12:10] 11mhg commented on #1577
kind/bug

[2021-07-20 12:17] kwokon0ng commented on #1577
No luck, still same issue.

[2021-07-20 18:06] andreyvelich commented on #1577
Hi @kwokon0ng and @11mhg, I think you forgot to disable istio-sidecar (`sidecar.istio.io/inject: "false"`) for your Training containers.
Please check step 3 here: https://www.kubeflow.org/docs/components/katib/hyperparameter/#example-using-random-algorithm.

[2021-07-20 19:59] andreyvelich opened #1585 "Automate Container Build for Trial training containers"
/kind feature

We discussed in our WG meetings and in the summit on 2021-07-16 about Trial training container's source code automation.

Many users request automation for container build instead of manually building images. In that case, users will have uniform experience to tune HP from the Jupyter Notebooks.
We might extend the Katib SDK to support it.

Let's continue discussion about it under t

[2021-07-21 23:13] kwokon0ng commented on #1577
Thank you it works now

[2021-07-22 04:40] kruthikakr opened #1586 "Examples for object detection like Yolo model"
Hi

Is there any example for hyper parameter tuning for object detection models like Yolo ?

[2021-07-22 14:25] andreyvelich commented on #1586
Hi @kruthikakr. Yes, you can tune HPs for any type of the models as long as you create Docker image for it and use it in the Trial template.

[2021-07-23 04:11] johnugeorge commented on #1585
Related Issue in Operators - https://github.com/kubeflow/common/issues/66

[2021-07-23 11:03] tranlyvu opened #1587 "Use Trial worker with old Katib version v0.8"
/kind bug
**What steps did you take and what happened:**
Hi all,

1) We are currently using kf v1.0 that shipped with Katib v0.8.
2)  However, we wanted to follow [this document from kf v1.3 ](https://www.kubeflow.org/docs/components/katib/trial-template/#use-custom-kubernetes-resource-as-a-trial-template)that  to define trial workers xgboostjob.
3) We tried to install  newer version of katib sepa

[2021-07-23 15:08] andreyvelich commented on #1587
Thank you for creating this @tranlyvu.
Yes, it should be possible.
First of all, you should remove all resources that Katib v0.8 uses, including `MutatingWebhookConfiguration` and `ValidatingWebhookConfiguration`. Then, try to install latest manifest from Katib repository on your cluster.

[2021-07-26 14:23] PatrickGhosn opened #1588 "Katib launched pods don't have permission to access GCP buckets."
/kind bug

**What steps did you take and what happened:**
Launched our training component through a trial template, and we got the following error:

**What did you expect to happen:**
For the storage bucket to be accessible by the trial template pods.

**Anything else you would like to add:**
Running the same training component directly from Kubeflow works fine.

**Environment:**

- Kubeflow versi

[2021-07-27 07:06] johnugeorge commented on #1588
Can you provide more details?

How did you provide credentials in trial template? If you have provided, is the case that pod template doesn't have them?

[2021-07-27 08:16] PatrickGhosn commented on #1588
Hey. I managed to resolve it by adding the `serviceAccount: default-editor` and `serviceAccountName: default-editor` in the pod spec in the trial .

[2021-07-27 08:16] #1588 closed

[2021-07-27 10:05] aniruddhachoudhury opened #1589 "Katib example for feature store ML classfication"

[2021-07-27 17:18] kimwnasptd opened #1590 "[ui] Bump Angular version to 12"
/kind feature

**Describe the solution you'd like**
The other web apps in kubeflow/kubeflow have moved to Angular 12 kubeflow/kubeflow#5525. We should also update this UI which is using Angular 8. This is required to also use the latest common frontend code from `kubeflow/kubeflow`.

**Anything else you would like to add:**
The work for this will need to start after kubeflow/kubeflow#6065 is merge

[2021-07-27 17:18] kimwnasptd commented on #1590
/assign @kimwnasptd

[2021-07-28 08:25] anencore94 opened #1592 "Is there any REST API reference page?"
/kind feature

**Describe the solution you'd like**
- HTTP API reference page or docs like [pipeline api refernce](https://www.kubeflow.org/docs/components/pipelines/reference/api/kubeflow-pipeline-api-spec/)
  - I mean [this backend's api](https://github.com/kubeflow/katib/blob/master/pkg/new-ui/v1beta1/backend.go) to request from new-ui frontend
- I guess there is only grpc API refernce page [he

[2021-07-29 04:54] #1497 closed

[2021-07-29 04:54] #1494 closed

[2021-07-29 11:47] anencore94 commented on #1126
Could you explain more information about this issue please? Thanks in advance :) @andreyvelich

[2021-07-29 15:35] #1567 closed

[2021-07-29 17:35] andreyvelich commented on #1126
Sure. We have `ValidateAlgorithmSettings` gRPC call which is used to validate [`spec.algorithmSettings`](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/bayesianoptimization-example.yaml#L15-L17).
For example, in hyperopt Suggestion: https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1beta1/hyperopt/service.py#L57.
We run this request once Suggestion is created: https://g

[2021-07-29 17:56] andreyvelich commented on #1592
I think you can use Kubernetes APIs and Katib SDK to perform CRUD calls.
You can find Katib UI backend APIs here: https://github.com/kubeflow/katib/blob/master/cmd/new-ui/v1beta1/main.go#L49-L68
@kimwnasptd What do you think, will it be useful for our users to document our Katib UI APIs?

@anencore94 Please can you explain what is your use-case to run Katib UI APIs outside of Katib frontend ?

In

[2021-07-29 18:18] andreyvelich opened #1595 "[Documentation] Update guides for the New Katib UI"
/kind feature

In Katib 0.12 release we will use the new Katib UI in the default manifests.
We should modify `Kubeflow.org` doc with the new Katib UI in:
1. Introduction to Katib: https://www.kubeflow.org/docs/components/katib/overview/.
2. Getting Started with Katib: https://www.kubeflow.org/docs/components/katib/hyperparameter/
3. Running an Experiment: https://www.kubeflow.org/docs/components/k

[2021-07-29 18:21] andreyvelich commented on #1534
/area release

[2021-07-29 18:31] andreyvelich opened #1596 "Remove Kubeflow Training imports from go.mod"
As we discussed in our WG community meeting we can remove packages for `kubeflow/common` and `kubeflow/tf-operator` from Katib controller.
That will help us to decrease dependencies.
We are using this only in Validation webhook: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/experiment/validator/validator.go#L350-L371 which is not necessary.

/cc @gaocegege @johnugeorge
/area re

[2021-07-29 18:33] andreyvelich opened #1597 "[Release] Katib 0.12 release"
This is the track issue for Katib 0.12 release.
We should make the new release before Kubeflow 1.4 to deliver the latest Katib improvements.

### TODOs list

- [ ] Fix problem with unused HPs: https://github.com/kubeflow/katib/issues/1534.
- [ ] Support XGBoostJob: https://github.com/kubeflow/katib/issues/1558.
- [ ] Support Argo Workflow: https://github.com/kubeflow/katib/issues/1081.
- [ ] Modif

[2021-07-29 21:12] andreyvelich commented on #1558
/area release
/priority p1

[2021-07-29 21:12] andreyvelich commented on #1081
/area release
/priority p1

[2021-07-30 00:18] anencore94 commented on #1592
Thanks for the reply :) @andreyvelich
Me and my company have been used kubeflow and katib, and we want to customize the whole frontend ui including central dashboard, katib-ui, and so on to meet our purpose.(i.e. integrate with mlflow and minio, add our own product, ...)
So it would be nice if there is an well organized API reference, I guess it's not easy to figure out how to fill the request bod

[2021-07-30 01:14] anencore94 commented on #1126
Thank you for such a friendly and detailed reply :+1: @andreyvelich
Sure, I'd like to implement validation for another suggestion algorithms. I agree this feature needs to be implemented. I'll take a look and will send a PR soon.

[2021-07-30 02:09] gaocegege commented on #1126
Thanks!

[2021-07-30 02:10] gaocegege commented on #1596
SGTM!

[2021-07-30 11:16] PatrickGhosn opened #1598 "Can the different Katib trials run from the same volume/model?"
/kind question

Question:
We are currently running the pytorch Katib pods by mounting the data and model from a shared NFS volume. Does that cause any issues? Should each trial have its own volume for the model? Or perhaps every worker as well?

[2021-07-30 16:51] andreyvelich commented on #1343
/priority p1
/help

[2021-07-30 17:03] andreyvelich commented on #1343
We might also include `MetricsUnavailable` condition to [`IsCompleted()`](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/util.go#L93) function.
Check the comment here: https://github.com/kubeflow/katib/pull/1599#issue-700445805.

[2021-08-01 05:11] anencore94 opened #1601 "Add Linter and Formatter for python source codes"
/kind feature

**Describe the solution you'd like**

In kubeflow/katib, there are lots of source codes written in python. Even though there are well-defined CI processes for source codes written in Golang, however for Python codes, only charmed-katib seems to have such process now.

There should be a fixed linter, formatter and tester with some rule-config files(.flake8, .pylintrc, ...) and the gi

[2021-08-01 13:43] #1596 closed

[2021-08-02 03:34] midhun1998 commented on #1566
Hi @johnugeorge . Any update on this? Were you able to reproduce?

[2021-08-02 15:27] andreyvelich commented on #1601
That is a great suggestion and it will be very useful for us.
Thank you for your help @anencore94!

In addition to that, I think we should move our current Python tests from AWS CI Workflow to GitHub actions: https://github.com/kubeflow/katib/blob/master/test/scripts/v1beta1/python-tests.sh.

Currently, we are not using AWS Kubernetes cluster requirement to perform this workflow step.
We can creat

[2021-08-02 15:32] andreyvelich commented on #1592
Thank you for providing this information @anencore94.
We can explain our UI APIs somewhere in the docs as part of new Katib UI integration.

@kimwnasptd @johnugeorge @gaocegege What do you think ?

[2021-08-02 15:40] andreyvelich commented on #1598
@PatrickGhosn You should be able to mount any volume to your Trial Worker's pods.

Every Trial Worker should have its own volume to be able to run a Training Job.

If you try to mount same volume on multiple Pods, make sure that your PV supports `ReadWriteMany` mode: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes.

[2021-08-02 21:06] andreyvelich opened #1604 "[Documentation] Add XGBoostJob and Argo Workflows to supported Katib Worker types"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1603 we should add `XGBoostJob` to the supported Katib Workers: https://www.kubeflow.org/docs/components/katib/overview/#worker-job.

[2021-08-02 23:45] #1558 closed

[2021-08-04 07:12] Siddarth-Pattnaik commented on #1455
I am getting a 404 error when I try to create katib_experiment by SDK using the Notebook servers.
![image](https://user-images.githubusercontent.com/77714850/128136920-0126c770-da8e-451d-b6df-48e28635037d.png)
I'm trying to implement this [example](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/sdk/cmaes-and-resume-policies.ipynb).
Versions:
Kubeflow : kfctl_k8s_istio.v1.0.1
kubefl

[2021-08-04 16:23] andreyvelich commented on #1604
After this PR: https://github.com/kubeflow/katib/pull/1605 we also support Argo Workflows.
We should update the docs also.

[2021-08-04 16:41] andreyvelich commented on #1455
@Siddarth-Pattnaik I think you should update your Kubeflow version to 1.1 at least to use Katib SDK.
In Kubeflow 1.0.1 we had Katib v1alpha3 version which SDK doesn't support.

[2021-08-05 16:22] andreyvelich commented on #1589
Thank you for creating this @aniruddhachoudhury.
I think we can add your example under: `./examples/v1beta1/pipelines/realtime-image-classification`, since we are planing to copy all our [Kubeflow Pipelines](https://github.com/kubeflow/pipelines/tree/master/samples/contrib/kubeflow-katib) to the Katib repository.

What do you think @aniruddhachoudhury @gaocegege @johnugeorge ?

[2021-08-05 18:58] aniruddhachoudhury commented on #1589
Sure @andreyvelich  sounds good.

[2021-08-05 20:30] #1081 closed

[2021-08-05 21:15] #1604 closed

[2021-08-06 02:05] gaocegege commented on #1589
SGTM. Thanks for the issue

[2021-08-09 09:45] kruthikakr opened #1607 "Not able to see the graphs on the katib UI"
/kind bug

I am trying to run the example kubectl apply -f pytorchjob-example.yaml .
The experiment runs forever , i am not getting the graph / progress of the trial in the katib UI ..

kubectl get trials -n kubeflow
NAME                          TYPE      STATUS   AGE
pytorchjob-example-4skcff8k   Running   True     85m
pytorchjob-example-8kd47ghq   Running   True     85m
pytorchjob-example-dbqcr

[2021-08-09 14:56] andreyvelich commented on #1607
@kruthikakr If you deploy Katib as part of Kubeflow you should create your Katib Experiments in User's Profile namespace.
Check guide here: https://www.kubeflow.org/docs/components/katib/hyperparameter/#pytorch-example

[2021-08-09 21:24] andreyvelich commented on #1581
@gaocegege I was able to run Experiments with this CRD and temp `openAPIV3Schema`:
[code]

To generate `openAPIV3Schema` using `controller-gen` we should make some changes in APIs.
First of all, we have to remove float from our CRDs APIs(https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/common/v1beta1/common_types.go#L100).
Ref issue: https://github.com/kubeflow/katib/issues/889.

[2021-08-10 02:29] gaocegege commented on #1581
apiextensions.k8s.io/v1beta1 is deprecated, thus I think we should do it.

[2021-08-10 14:16] andreyvelich opened #1612 "[Documentation] Modify Trial templates label"
/area docs

After this PR: https://github.com/kubeflow/katib/pull/1611 we should modify the Katib Trial templates label to `katib.kubeflow.org/component: trial-templates` in the [Kubeflow guides](https://www.kubeflow.org/docs/components/katib/trial-template/#configure-trial-template-specification).

[2021-08-10 23:31] #1581 closed

[2021-08-10 23:46] #1354 closed

[2021-08-11 01:15] g-votte commented on #1549
Hi, I'm one of the maintainers of Optuna. Thank you for referring to Optuna as a possible backend of the multi-objective API.

As @c-bata mentions, Optuna supports several algorithms for multi-objective optimization, with almost the same interface as single objective optimization.

I think we can go forward by (1) implementing the Optuna suggestion service, and (2) fixing the interface of Katib's

[2021-08-11 17:10] kimwnasptd commented on #1595
I can pick it up and work on it as part of the docs efforts for Kubeflow 1.4

/assign @kimwnasptd

[2021-08-12 18:18] #1612 closed

[2021-08-12 22:06] #1576 closed

[2021-08-13 14:35] anencore94 commented on #1447
Hi @andreyvelich again :)
I think this issue needs to be resolved too. May I take this issue ?

[2021-08-13 15:25] andreyvelich commented on #1447
Hey @anencore94!
Sure, that would be great, thank you!

/assign @anencore94

[2021-08-13 17:33] andreyvelich opened #1620 "[UI] Unable to select Experiment parameters"
/kind bug

I built Katib UI image from the latest master commit.
I am getting the following error:
![Experiment Bug](https://user-images.githubusercontent.com/31112157/129397636-e35ccec2-3cc7-4738-a965-53924ea99e36.gif)

/assign @kimwnasptd
/priority p0

[2021-08-13 18:21] andreyvelich commented on #1620
@kimwnasptd I was able to find this problem.
That happens if my K8s cluster doesn't have [Trial Templates](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/controller/trial-templates.yaml).
Once I deployed this ConfigMap with the appropriate Label, form was complete.

I think here: https://github.com/kubeflow/katib/blob/master/pkg/new-ui/v1beta1/frontend/src/app/pages/exp

[2021-08-13 21:20] andreyvelich opened #1622 "Reconsider Katib Metrics Collector Injection Label"
/kind discussion

To be consistent with these PRs: https://github.com/kubeflow/katib/pull/1611, https://github.com/kubeflow/katib/pull/1621, we might change our [`katib-metricscollector-injection: enabled`](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/namespace/namespace.yaml#L6) label.

My suggestion is to name this label like this: `katib.kubeflow.org/metrics-collec

[2021-08-14 08:51] gaocegege commented on #1447
Thanks for your contribution! :tada: :+1:

[2021-08-14 10:52] gaocegege commented on #1622
Should we use katib or automl? automl.kubeflow.org/xxx

[2021-08-16 13:15] alculquicondor commented on #1622
`katib.kubeflow.org/metrics-collector-injection` sgtm for consistency with #1611

[2021-08-16 18:44] kimwnasptd commented on #1620
Thanks for finding and reporiting this @andreyvelich. Both your suggestions make sense.

I'll be on PTO on this week but I'll start working immediately on this once I'll be back.

[2021-08-17 02:56] gaocegege commented on #1622
Then SGTM

[2021-08-17 11:45] andreyvelich opened #1627 "Sync Algorithm Settings names for various Optimisation Frameworks"
/kind feature

Since Katib supports various frameworks with the same algorithms: https://www.kubeflow.org/docs/components/katib/katib-config/#suggestion-settings, we should try to be consistent with Algorithm Settings names.

For example, [`n_EI_candidates `](https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1beta1/hyperopt/service.py#L72) in TPE algorithm in Hyperopt, and [`n_ei_candi

[2021-08-18 08:53] DomFleischmann opened #1628 "Katib not ready for K8s 1.22"
/kind bug

With the new Kubernetes 1.22 release, some APIs have been removed: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

The katib project still uses some of these APIs and will therefore not work on k8s 1.22.

For example, the following CRDs are still using `apiextensions.k8s.io/v1beta1`:
[code]

[2021-08-18 09:19] gaocegege commented on #1628
dup https://github.com/kubeflow/katib/issues/1581

Thanks for the issue. It should work in the next release.

[2021-08-18 12:24] andreyvelich commented on #1628
Thank you for creating this @DomFleischmann!
Let's keep this issue re-open.
We have to update rest of deprecated resources: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes.
For example:
- [AdmissionReviewVersion](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/webhook/webhooks.yaml#L11).
- [CertificateSigningRequest](https://github.

[2021-08-19 01:42] g-votte commented on #1627
Sounds good. Actually, I was wondering which name I should adopt when creating #1613 .

I summarized below the correspondence of the algorithm setting among the Goptuna, Optuna, and Hyperopt services. We may want to fix the inconsistency especially around TPE.

### TPE Parameters
- We can align `ei_candidates` and `n_EI_candidates`.
- `gamma` and `prior_weight` have been supported only with the Hy

[2021-08-19 09:16] johnugeorge commented on #1592
Related: #1595

[2021-08-19 09:17] johnugeorge commented on #1592
Closing this as this is tracked in #1595
/close

[2021-08-19 09:17] #1592 closed

[2021-08-19 09:19] johnugeorge commented on #1622
Do we still need this label in the namespace ?

[2021-08-19 13:42] andreyvelich commented on #1622
Yes, we allow to submit Katib Experiments only in namespace with this label: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/experiment/validation_webhook.go#L91.

[2021-08-19 14:16] andreyvelich commented on #1627
Thank you for summarising this @g-votte!
I will take a look closely after the Katib 0.12 release on that.

[2021-08-21 04:02] #1512 closed

[2021-08-21 04:02] #1517 closed

[2021-08-24 15:31] andreyvelich opened #1635 "Add version for Mock Generator"
/kind feature

We should add new instruction to [Makefile](https://github.com/kubeflow/katib/blob/master/Makefile) to run [`mockgen.sh`](https://github.com/kubeflow/katib/blob/master/scripts/mockgen.sh) script with specific mock version.

That will help us to keep files consistent.

/good-first-issue

[2021-08-24 15:37] andreyvelich opened #1636 "Grid Algorithm fails for int parameters"
/kind bug

Grid fails with `Chocolate db is exhausted, increase Search Space or decrease maxTrialCount!` error when running this example:
[code]

We should verify how [quantized_uniform](https://github.com/kubeflow/katib/blob/master/pkg/suggestion/v1beta1/chocolate/base_service.py#L62-L67) distribution works in Chocolate.
For some reason, not all parameters are generated.

cc @johnugeorge

[2021-08-24 15:40] andreyvelich opened #1637 "Rename request_number parameter in gRPC manager"
/kind feature

This PR: https://github.com/kubeflow/katib/pull/1633 introduces `total_request_number ` parameter.
To be consistent, we should rename `request_number` to `current_request_number`.
After that, all suggestions have to be modified.

Does it sound good to you @johnugeorge @gaocegege ?

[2021-08-24 16:07] anencore94 opened #1638 "Support Istio-sidecar handling"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I'd like to run katib-experiment with istio-sidecar injection.
I guess the reason why katib induce user to run katib-experiment with istio-sidecar injection "false" was something like this:
- https://github.com/kubeflow/katib/issues/955
- https://github.com/kubernetes/kubernetes/issue

[2021-08-24 16:12] anencore94 commented on #1638
The reason for this codes was this.
[code]

When I created my katib-experiment with sidecar-injection == true, There was following process in view of metrics-logger-and-collector sidecar container.

![image](https://user-images.githubusercontent.com/37469330/130651948-3ee63b89-b3ec-4abf-b60a-4f8d9eb3a6c9.png)

[2021-08-24 16:29] #1534 closed

[2021-08-24 16:55] johnugeorge commented on #1637
LGTM

/assign

[2021-08-24 17:46] johnugeorge commented on #1636
It looks fine as high is not counted in Chocolate

https://chocolate.readthedocs.io/en/latest/api/space.html#chocolate.quantized_uniform

[2021-08-24 20:15] andreyvelich commented on #1638
Thank you for creating this @anencore94.
Did you check this: https://github.com/kubeflow/katib/issues/1383 ?
I guess [`waitAllProcesses`](https://www.kubeflow.org/docs/components/katib/katib-config/#metrics-collector-sidecar-settings) flag might help us ?

[2021-08-25 01:56] gaocegege commented on #1637
SGTM

[2021-08-25 08:54] kimwnasptd commented on #1620
I'm back, picking this up to include this fix in the 1.4 Kubeflow release

[2021-08-25 19:09] maanur opened #1639 "Narrow and explicit RBAC"
/kind feature

I am trying to deploy Katib in an enterprise environment and have some hard time explaining Katib's requested RBAC
 rules. It would be much appreciated if ClusterRole explicitly declared only necessary verbs for each individual resource.

Look at this:
[code]
Full access for Namespaces, Roles and RoleBindings effectively gives Katib unconstrained privileges to do anything it wants.

[2021-08-27 04:59] anencore94 opened #1643 "Add Special Thanks to contributors with data when release"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Some open source projects like [minikube](https://github.com/kubernetes/minikube) shows thanks comment on each release.
However, fetching all contributors manually is a bit boring stuff.
So, we could use [pullsheet](https://github.com/google/pullsheet) to generate some html files, whic

[2021-08-29 07:46] seong7 commented on #1590
Hi @kimwnasptd ,
I think this issue seems to be in stuck.
If you are too busy to work on this, would you mind assigning it to me?
I might ask you for some helps while working on it, though.

[2021-08-30 05:48] chenwenjun-github opened #1646 "stdout metric collector"
/kind feature

**What steps did you take and what happened:**
1. now stdout metric collector is a sidecar which wait train container complete, but like evaluator of tfjob can't be collected now, the reason is that evaluator can't complete normally and it wiil be deleted forcelly when chief complete, so stdout sidecar  will be killed when pod has been deleted, the evaluator metric can't be collecte

[2021-08-30 15:52] andreyvelich commented on #1646
Thank you for creating this @chenwenjun-github.

Does the chief have the evaluator metrics or metrics are located only on the evaluator pod ?

In that case, we can't guarantee that all metrics will be collected. For example, pod will be completed before the latest metric is collected.

That's a good point, we might evaluate how we can modify Metrics Collector settings to support different time spe

[2021-08-30 19:06] kimwnasptd commented on #1590
Hi @seong7, thanks for the help!

Indeed right now I have limited cycles to work on this. I wanted to postpone this effort until https://github.com/kubeflow/kubeflow/pull/6065 was in, to allow the other web apps to be able to use the common code without having to implement i18n.

I'd be glad to assign this to you and help you through to complete it! Although note that this should not make it in th

[2021-08-31 01:06] seong7 commented on #1590
@kimwnasptd
Thank you so much for your detailed instructions !

Do you want me to update the `README.md`?

[2021-08-31 02:42] chenwenjun-github commented on #1646
Thank you for response @andreyvelich .

[2021-08-31 05:42] #1447 closed

[2021-08-31 05:54] anencore94 opened #1647 "SDK: Change API's return type to custom object"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

For now, Many APIs in [katib_client.py](https://github.com/kubeflow/katib/blob/master/sdk/python/v1beta1/kubeflow/katib/api/katib_client.py) don't treat type strictly, just using `dict`.

We could change those to deserialize well, and finally use katib's custom objects(classes).

Ther

[2021-08-31 05:56] anencore94 opened #1648 "Hack: automatically generate KatibClient.md doc from `post_gen.py`"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

There is a script for generating api docs from swagger, but doesn't generate `KatibClient.md` for now. So we should modify manually when api changed.

There was a discussion for this
- https://github.com/kubeflow/katib/pull/1630#discussion_r693344353

**Anything else you would like to

[2021-08-31 05:58] anencore94 commented on #1601
Using mypy to type check would be nice too.

[2021-08-31 06:33] gaocegege commented on #1601
SGTM, I am not quite familiar with Python, I think we need it.

[2021-08-31 09:18] kimwnasptd commented on #1590
This will need to be part of your final PR, but it's also the first step to start your local development.

The UI is using an Angular library, manually built into a node module, whose [code lives in kubeflow/kubeflow](https://github.com/kubeflow/kubeflow/tree/master/components/crud-web-apps/common/frontend/kubeflow-common-lib). This library is already using Angular 12 so if you'd like to also upgr

[2021-08-31 12:04] andreyvelich commented on #1646
When does Chief clean Evaluator pod ? It won't wait until sidecar will be finished, right ?

[2021-08-31 13:23] seong7 commented on #1590
Yes, it definitely did!
Appreciate it :)

[2021-08-31 14:54] anencore94 opened #1649 "Go Test failed sometimes"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

One of github action for `Go Test` failed sometimes, but it succeed when retest.

I've check for some cases:
- https://github.com/kubeflow/katib/runs/3444147420?check_suite_focus=true
- https://github.com/kubeflow/katib/runs/3451003535?check_suite_focus=true
- https://github.com/kubeflo

[2021-09-01 03:30] chenwenjun-github commented on #1646
it's right. But it can collect part of metrics at least before Chief clean Evaluator pod, now it can't collect anything, i think it will be better.

[2021-09-01 07:56] midhun1998 opened #1651 "Katib MySQL reaching max_prepared_stmt_count limit"
/kind bug

**What steps did you take and what happened:**
I have been running a lot of trials recently and seems like now the Katib MySQL has reached the `max_prepared_stmt_count`. The same error is seen in Katib UI pod too. I have temporarily increased the max_prepared_stmt_count but seems like it will not be too long until we reach that limit too. I'm attaching a few more details:

Logs of katib

[2021-09-01 11:26] johnugeorge commented on #1651
Thanks for reporting this.
Can you provide your config?

No max trials/parallel trials ?

[2021-09-01 11:27] johnugeorge commented on #1651
/assign

[2021-09-01 12:22] andreyvelich commented on #1646
Does it sound consistent to collect not all of the metrics from the training container ?
What do you think @gaocegege @johnugeorge @anencore94 ?

[2021-09-01 16:34] midhun1998 commented on #1651
Hi @johnugeorge . This wasn't seen for a particular Katib experiment as such. Overtime when we keep running many Katib experiments the prepared statements seems to accumulate and never close. But, To give you an idea of my usual config here it is, Total trials 90 with 10 in parallel.

[2021-09-02 08:56] anencore94 commented on #1646
Hmm, It makes sense to collect metrics in real time while training container is still running.
When one trial is too big to finish the whole epoch, user might want to check the progress such as loss is decreasing well or not.

If there isn't difficult to implement for collecting metrics and inserting them to katib-mysql in real-time, such feature would be useful for big models.

[2021-09-02 14:56] andreyvelich commented on #1649
Thank you for creating this @anencore94!
Yes, this unit test is flaky.
[envtest](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/trial/trial_controller_suite_test.go#L42) sometime can fail in the [Controller test](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/trial/trial_controller_test.go#L89).

Any ideas how to improve this and keep the same coverage l

[2021-09-03 01:09] anencore94 commented on #1649
@andreyvelich Thanks :)
If the envtest you linked failed, could you link the action log in this issue ?
So we can keep track of it, then anybody could fix it

[2021-09-03 08:35] chenwenjun-github commented on #1646
I have implement it and it seem work well in my test,  I can sumbit a pr, what do you think?

[2021-09-03 08:40] gaocegege commented on #1646
Thanks for your contribution! What feature do you mean, can you please explain more about it?

[2021-09-03 08:40] gaocegege commented on #1646
Can you please update the issue title to the feature you proposed?

[2021-09-03 10:02] chenwenjun-github commented on #1646
I mean that the metric will be collected real-time rather than wait train container complete in stdout mode.

[2021-09-03 10:09] gaocegege commented on #1646
/kind feature

[2021-09-03 10:09] gaocegege commented on #1646
Gotcha, SGTM.

WDYT @kubeflow/wg-automl-leads

[2021-09-04 16:10] chongchuanbing opened #1655 "trial status is running(not complete) when pytorchjob complete"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

when pytorchjob complete, the trial is running, not complete.

**What did you expect to happen:**
when pytorchjob complete, the trial should complete.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[code]

[code]

[code]

[c

[2021-09-04 21:46] tenzen-y opened #1656 "Reimplement katib-cert-generator in Go"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, [katib-cert-generator](https://github.com/kubeflow/katib/blob/2d87caafb12e79b2a9e2d534bf513d0a2fa6b7cc/hack/cert-generator.sh) is written in shell script, but shell script is not high maintenance.
Also, the katib-cert-generator needs to support multiple API versions of `cer

[2021-09-05 08:03] johnugeorge commented on #1655
Can you check if metric collector container is added correctly?

[2021-09-05 08:42] chongchuanbing commented on #1655
Yes, it is ok.

[code]

[2021-09-05 12:19] chongchuanbing commented on #1655
the default successCondition is ```successCondition: status.conditions.#(type="Succeeded")#|#(status=="True")#```, it is not effective for pytorchJob. i modify it to ```status.conditions.#(type="Succeeded")```, then everything is ok.

[2021-09-06 10:19] #1620 closed

[2021-09-06 10:39] andreyvelich commented on #1546
/lifecycle frozen

[2021-09-06 10:39] andreyvelich commented on #1547
/lifecycle frozen

[2021-09-06 11:03] andreyvelich commented on #1656
Sure, sounds good to me.
Thank you @tenzen-y!
WDYT @gaocegege @johnugeorge ?

[2021-09-06 11:06] andreyvelich commented on #1655
`status.conditions.#(type=="Succeeded")#|#(status=="True")#` should be correct condition.
If you take a look at your PyTorchJob CR, it has the appropriate status:
[code]

Please can you show logs from the Katib controller ?

[2021-09-06 11:15] johnugeorge commented on #1656
How about using cert-manager instead of maintaining one ?

[2021-09-06 11:36] andreyvelich commented on #1646
If metrics will be collected in the real-time we have to invoke gRPC APIs ([`reportObservationLogs`](https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/v1beta1/file-metricscollector/main.go#L391-L398)) after each log line, if it contains metrics.

I am worry about latency issues, we should test it properly.

What do you think @johnugeorge ?

[2021-09-06 11:51] andreyvelich commented on #1656
@johnugeorge It is useful for environment where cert-manager is not installed.
cert-manager requires much more resources than our simple cert-generator script.

[2021-09-06 12:03] andreyvelich commented on #1649
Let's continue discussion: https://github.com/kubeflow/katib/pull/1654#pullrequestreview-747137194 for improving controller unit test here.
/priority p2

[2021-09-06 12:11] gaocegege commented on #1649
I am wondering why it works. Splitting test cases just makes it fail fast, I think.

[2021-09-06 14:51] johnugeorge commented on #1646
What is the interval in which it is called? what is the trigger logic? @chenwenjun-github

[2021-09-07 02:12] anencore94 commented on #1649
No, I couldn't for sure as you might expected.

By the way, from your linked action result, I couldn't get this order from test results
[code]

From the `trial_controller_test.go`, after trial status changed to Failed, I think the log with trial deleted should follows. But there isn't any.
Even if Supposing that "the log with trial deleted" were implemented to never logged at all, But I couldn't g

[2021-09-07 04:05] tenzen-y commented on #1656
Thank you comment. @andreyvelich
I'd like to take this issue.

[2021-09-07 04:05] tenzen-y commented on #1656
/assign

[2021-09-07 12:09] #1635 closed

[2021-09-07 12:09] chongchuanbing commented on #1655
i write a unit test. gjson version: ```github.com/tidwall/gjson:v1.6.0```

When i exec:
[code]
the result is:
[code]

But

When i exec
[code]

the result is
[code]

[2021-09-07 12:25] andreyvelich commented on #1655
You don't have `"status": "True"` value in your second unit test
Eventually, you should check this:
[code]

[2021-09-07 12:35] chongchuanbing commented on #1655
when i run unit test as below
[code]
the result is
[code]

so when i run pytorchjob, it also do not have ```"status": "True"``` , then pytorchjob can not complete.

[code]

[2021-09-07 12:47] andreyvelich commented on #1655
What do you mean by that ?
From your PyTorch YAML I can see that it has proper condition:
[code]

[2021-09-07 12:50] andreyvelich commented on #1655
Also, in your input you should not capitalise `S`:
[code]

[2021-09-08 15:37] andreyvelich commented on #1649
@anencore94 What do you think about splitting Experiment test cases in the different unit test functions ?
Each function will have separate `envtest` manager setup.

[2021-09-08 16:42] johnugeorge commented on #1651
@midhun1998 Can you share the yaml if possible? We have tried for larger number of trials before

[2021-09-09 09:19] anencore94 commented on #1649
Each function will have separate envtest manager setup.

I think that helps to debug, but when they are splitted, we couldn't call the test function as **ReconcileTest** anymore?

[2021-09-09 11:25] andreyvelich commented on #1649
What do you mean by that ?
We should have various function names for each test Experiment.
For example,
`TestReconcileJobFailed(t *testing.T)`, `TestReconcileJobAvailableMetrics(t *testing.T)`, `TestReconcileJobUnavailableMetrics(t *testing.T)`.

[2021-09-09 14:38] anencore94 commented on #1649
For example,
TestReconcileJobFailed(t *testing.T), TestReconcileJobAvailableMetrics(t *testing.T), TestReconcileJobUnavailableMetrics(t *testing.T).

Yes, your suggestion is right.
But the reaseon why I intended "we couldn't call the test function as ReconcileTest anymore?" was that I felt handling those 3 cases at once make sense.

However, splitting those 3 would ok.

[2021-09-10 13:36] tenzen-y commented on #1628
/assign

[2021-09-11 00:45] henrysecond1 opened #1663 "experiment controller is not showing any events when fails to reconcile all trials"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

The experiment controller is not showing any events when fails to reconcile all trials.

For example, consider the situation the trial parameter reference is misconfigured as below. Assume that parameter is given as `num-layers`, and if we do not correctly set its reference as `num-laye

[2021-09-12 17:32] midhun1998 commented on #1651
Each training container only injects one metric. Unfortunately, I won't be able to share the image. Here is a sample experiment spec:
[code]

[2021-09-14 12:37] tenzen-y opened #1664 "Use distroless image as the base image and run Katib components as a non-root user"
/kind discussion

Once the ephemeral debug containers feature is available by default, we might better change the base image from the alpine to the distroless image, run Katib components as a non-root user.

Ref:
- https://github.com/kubeflow/katib/pull/1662#discussion_r706446791
- [Debugging with an ephemeral debug container
](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-runni

[2021-09-15 02:01] #1628 closed

[2021-09-15 02:03] gaocegege commented on #1664
Can you please explain the benefits of using distroless and non-root user in this case? Is it for security issues?

[2021-09-15 02:09] #1656 closed

[2021-09-15 07:31] tenzen-y commented on #1664
@gaocegege Thank you for your comment!

Sure, that's one of the benefits.

Distroless is a very small image because it does not include shell, etc.  I believe that making Katib components smaller is beneficial.

Besides, It does not have the image version tag such as alpine(eg: 3.7), we do not need to think about updating the image.

[2021-09-15 07:45] gaocegege commented on #1664
Gotcha. As you know, there are many users which k8s is 1.14/1.16, I am not sure if it works for them.

[2021-09-15 08:16] tenzen-y commented on #1664
I understood users using K8s <=1.16 can use an older version of Katib in the following discussion.

https://github.com/kubeflow/katib/pull/1662#discussion_r706447432

It should be fine for the community, otherwise they can use older version of Katib.

Although, I think we should discuss the time of change image because distroless image is difficult to debug without the ephemeral debug container fe

[2021-09-15 08:49] gaocegege commented on #1664
Yes, I agree. SGTM

[2021-09-15 11:21] seansxl opened #1666 "katib using pytorchjob-example.yaml "err":"Operation cannot be fulfilled on experiments.kubeflow.org \"pytorchjob-example\": the object has been modified; please apply your changes to the latest version and try again"}"
{"level":"info","ts":1631702867.592503,"logger":"experiment-controller","msg":"Update experiment instance status failed, reconciler requeued","Experiment":"kubeflow-user-example-com/pytorchjob-example","err":"Operation cannot be fulfilled on experiments.kubeflow.org \"pytorchjob-example\": the object has been modified; please apply your changes to the latest version and try again"}
{"level":"info"

[2021-09-15 17:00] johnugeorge commented on #1666
Are you seeing any issue with your experiment run?

[2021-09-15 21:09] andreyvelich opened #1668 "[Documentation] Add components section to the Katib guides"
/kind feature

After this PR: https://github.com/kubeflow/katib/pull/1667 we will remove components in Katib section from the README.
We should add this information to the [Kubeflow Katib guides](https://www.kubeflow.org/docs/components/katib/).

/assign @andreyvelich

[2021-09-17 03:58] minaadel commented on #1455
@StefanoFioravanzo as with @anneum, I can open a terminal from within the notebook that is capable of running both `kubectl get pods` as well as `kfp pipeline list` without issue.

The issue remains as follows:
[code]
When I attempt to create a job, the pipeline is uploaded without issue, as well as the KFP experiment (both of which attempt to access the k8s api), what breaks is the Katib experime

[2021-09-17 06:01] tenzen-y opened #1670 "golint has been archived"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, we are using [golint](https://github.com/kubeflow/katib/blob/master/hack/verify-golint.sh) as a linter for Go, although [golint repository](https://github.com/golang/lint) has been archived. So, it might be better replace golint to other linter(ex: [golangci-lint](https://g

[2021-09-17 15:20] andreyvelich commented on #1670
Thank you for creating this @tenzen-y.
Sounds good to me, I guess Kubernetes team is also using this: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-golangci-lint.sh.

WDYT @gaocegege @johnugeorge ?

[2021-09-17 15:35] tenzen-y commented on #1670
@andreyvelich
Thanks for your comments!

I believe it might be better to use golangci-lint, but it specifies GPL-3.0 License. I'm not familiar with the OSS license, is there a problem with using it with Katib?
https://github.com/golangci/golangci-lint/blob/master/LICENSE

[2021-09-17 22:40] andreyvelich commented on #1670
I think it should be fine, since we just run this CLI `golangci-lint`. Right @gaocegege @johnugeorge ?

[2021-09-18 02:21] gaocegege commented on #1670
LGTM

[2021-09-18 02:22] gaocegege commented on #1670
It does not affect us. We just use the binary, we do not introduce it as a library.

[2021-09-18 06:08] tenzen-y commented on #1670
@andreyvelich @gaocegege
Thank you for the explanation! I'd like to take this issue.

/assign

[2021-09-18 06:13] gaocegege commented on #1670
Thanks for your contribution! :tada: :+1:

[2021-09-22 11:43] #1668 closed

[2021-09-22 21:44] andreyvelich opened #1672 "Explain "Why Katib ?" in README"
/kind feature

To follow discussion in this PR: https://github.com/kubeflow/katib/pull/1667, we should add section: `Why Katib ?` in the README.

cc @johnugeorge @gaocegege

[2021-09-23 09:14] tizhou86 opened #1673 "[PaddlePaddle Hackathon] 94 Implement AutoDL for PaddlePaddle based on KubeFlow Katib"
（This is a task ISSUE for PaddlePaddle Hackathon, for more details, see [PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddleHackathon)）

【Task Specification】

- Title：Implement AutoDL for PaddlePaddle based on KubeFlow Katib
- Tag：Framework，C++，Python，Hyper-Parameter Tuning
- Difficulty：Medium
- Detailed Description： Katib is an inborn project of Kubernetes designed for Automatic Deep L

[2021-09-23 09:19] gaocegege commented on #1673
I think this proposal is to support Paddle in Katib, it is helpful for both paddle and katib community 🥂

[2021-09-23 19:04] andreyvelich commented on #1673
Will be very nice to see integration between Paddle and Katib.
Thank you for driving this @tizhou86!

[2021-09-24 06:09] #1670 closed

[2021-09-24 11:13] #1570 closed

[2021-09-24 20:05] VoVAllen opened #1679 "Metricsformat doesn't work"
Hi,

I set the Metricsformat but it doesn't report the metrics.

Yaml setting
[code]

Output from metric collector
[code]

Is there anything wrong in my setting?

[2021-09-24 23:20] andreyvelich commented on #1679
Thank you for creating this @VoVAllen.
You should specify the proper metric names and metrics format (check this example as a ref: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/file-metricscollector-example.yaml#L17).

[code]

[2021-09-25 07:53] VoVAllen commented on #1679
Do I need to specify them all? I thought it will use the first group as name and the second group as value?

[2021-09-25 08:32] VoVAllen commented on #1679
I mean the example file you gave have a different format and I cannot find any documentation about it

[2021-09-25 17:13] tenzen-y opened #1680 "Add validating webhooks for early stopping experiment"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Currently, there are no validating webhooks for early stopping, so users can not notice wrong parameters until to start trial Pod.
So, I'd like to add validating webhooks for the following parameters.

- `spec.earlyStopping.algorithmName`
- `spec.earlyStopping.algorithmSettings`

What

[2021-09-27 01:06] longpi1 commented on #1454
Hello, my problem is the same as yours. Have you solved it?

[2021-09-27 11:48] #1376 closed

[2021-09-27 11:52] andreyvelich commented on #1679
You have to specify all metrics that you want to collect from your Training in your `objective`.
Metrics Collector parses each line with the specific regex (`metricsFormat`) and send them to the DB.
`objectiveMetricName` is the metrics for which optimization process is running.

The example that I sent is using this training container: https://github.com/kubeflow/katib/blob/master/examples/v1beta1

[2021-09-27 18:30] tenzen-y commented on #1680
Does it sound good ? @andreyvelich @gaocegege @johnugeorge

[2021-09-27 18:32] andreyvelich commented on #1680
Thank you for creating this!
Do you mean similar to [`ValidateAlgorithm`](https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/experiment/validator/validator.go#L159-L173) ?

[2021-09-27 19:04] tenzen-y commented on #1680
Thank you for your comment!
Yes, I consider it is better to implement it using [GetEarlyStoppingConfigData](https://github.com/kubeflow/katib/blob/877a7ce123fb7d1d00e428aaafc4950123cdbd61/pkg/util/v1beta1/katibconfig/config.go#L146).

[2021-09-27 19:47] andreyvelich commented on #1680
Sounds good!

[2021-09-27 20:03] tenzen-y commented on #1680
I take this Issue.

[2021-09-27 23:42] ommmid opened #1682 "Pass Kubeflow pipeline to Katib yaml directly"
/kind feature

**Describe the solution you'd like**
Passing the Kubeflow pipeline (maybe its yaml file?) inside the Katib yaml file would be an ideal functionality to make the flow smooth in Kubeflow. Instead of creating ML component (creating docker container) inside Katib yaml file, passing a whole pipeline that we already created in Kubeflow makes things much smoother.

[2021-09-28 01:44] Bowen0729 commented on #1454
没有，我把kubeflow的多用户都关掉了，就可以了，应该是katib,kale,pipeline之间的多用户没有完全打通，会导致很多莫名其妙的问题

[2021-09-28 10:29] seong7 commented on #1590
@kimwnasptd
[This link](https://github.com/seong7/katib/tree/bump-angular-version-to12) is to the WIP branch of this issue and has an Error that I'm stuck on with `kubeflow/kubeflow` module as below.
![image](https://user-images.githubusercontent.com/52827441/135069864-f479a172-0516-485c-b1c7-273cc2bde4f7.png)

Would you please help on it?

FYI,
- The branch has been done with all updatee on [the

[2021-09-28 18:09] akonneker commented on #1682
Is there any reason we can't use the compiled output yaml of a kubeflow pipeline as an Argo workflow as in this example: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/argo/argo-workflow.yaml

[2021-09-28 20:03] akdigitalself opened #1686 "Provide the manifest combination to install Katib with Kubeflow and with external DB"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
It would be great if there is an option to install Katib with Kubeflow and with external DB.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
My setup consists of Katib in Kubeflow v1.3 and using RDS as the external DB.

I can

[2021-09-28 21:36] andreyvelich commented on #1682
Thank you for creating this @ommmid.
This is very useful use-case and we are more than happy to add this example under `/examples/v1beta1/pipelines`.

@akonneker is absolutely right, we can define Argo Workflow under Katib Experiment to handle Kubeflow Pipeline.

@akonneker @ommmid Do you have any interest to add similar examples to this repository ?

cc @kimwnasptd @StefanoFioravanzo as Kale owne

[2021-09-29 10:08] andreyvelich commented on #1686
Thank you for creating this @akdigitalself, this is very useful use-case.

I think, first of all we should [create new interface](https://github.com/kubeflow/katib/blob/master/pkg/db/v1beta1/db.go#L26-L32) in katib-db-manager to support RDS.
Currently, it supports only mysql backend.
What do you think @akdigitalself @gaocegege @johnugeorge ?

[2021-09-29 17:51] tenzen-y commented on #1680
@andreyvelich
I noticed there are no unit tests for GetFooConfigData in [katibconfig](https://github.com/kubeflow/katib/blob/6f0b2b1e5407deda5b508f97bcdc0869b7439b60/pkg/util/v1beta1/katibconfig/config.go) when I'm implementing unit tests for this Issue. Are they being tested anywhere?

[2021-09-29 23:54] andreyvelich opened #1689 "[Documentation] Add MXJob to supported Katib Worker types"
/kind feature

After this PR: #1688 we should add `MXJob` to the supported Katib Workers: https://www.kubeflow.org/docs/components/katib/overview/#worker-job.

[2021-09-30 05:03] tenzen-y commented on #1680
I'd like to create PR to add unit tests for `GetFooConfigData` (ex. [`GetSuggestionConfigData`](https://github.com/kubeflow/katib/blob/6f0b2b1e5407deda5b508f97bcdc0869b7439b60/pkg/util/v1beta1/katibconfig/config.go)) before resolving this issue.

[2021-09-30 11:21] andreyvelich commented on #1680
You are right @tenzen-y.
Currently, only [`composer`](https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/suggestion/composer/composer_test.go) tested GetSuggestionConfig, but it doesn't cover all test-cases.

[2021-09-30 12:07] tenzen-y commented on #1680
Thank you for your answer! @andreyvelich
First, we'd like to implement unit tests for GetFooConfigData.

[2021-10-05 09:57] anencore94 opened #1692 "[Proposal] Support PostHook for Experiment"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I think there could be someone who would like to do something right after my experiments finished (succeeded or failed).
For examples:
1) send slack notification with results
2) request some HTTP API (Delete data in minio except top K models)

Thus, I suggest to support this feature w

[2021-10-05 15:29] #1679 closed

[2021-10-05 15:31] VoVAllen opened #1693 "Unknown error when runnnig experiments"
/kind bug

Got unexpected error in metric collector using file collector

The job finished properly, but showed as error in the pod status. Found the error above in the file metric collector log. How shall I debug this?

The output looks like:
[code]

**What did you expect to happen:**
Works well

**Anything else you would like to add:**
There's warning above kind of related to this

W1005 06:27:0

[2021-10-05 17:04] bwassie commented on #642
/reopen

I think it would be really nice to have an export to CSV feature. I run many TFJob experiments with many workers and end up spawning tons of pods. I delete my experiments to get rid of the underlying pods/declutter and saving my results before doing that is not super easy.

I'm currently doing this using a [table capture](https://chrome.google.com/webstore/detail/table-capture/iebpjdmgcka

[2021-10-05 17:51] andreyvelich commented on #642
Thank you for your feedback @bwassie!
Since this issue includes other items also, please can you create separate issue to track the export CSV feature in the Katib UI?

[2021-10-05 22:23] andreyvelich opened #1696 "Use Kubeflow Training Operator v1.3.0 release in Katib CI"
/kind feature

We are still using the legacy `tf-operator` and `pytorch-operator` releases in Katib CI: https://github.com/kubeflow/katib/blob/master/test/e2e/v1beta1/scripts/setup-katib.sh#L87-L97.

We should update this, to use the Kubeflow 1.4 manifest repo release with v1.3.0 release of Training Operator.

/cc @gaocegege @johnugeorge
/priority p1

[2021-10-05 22:28] andreyvelich commented on #1693
Thank you for creating this @VoVAllen.
Please can you show your Experiment YAML ?

[2021-10-06 04:37] bwassie opened #1697 "Ability to export experiment results to CSV"
/kind feature

**Describe the solution you'd like**
Currently, there is no way to natively export the results from a Katib experiments.

Given that Katib experiments spawn pods and use up resources (e.g. TFJob experiments with many workers), users might want to delete the experiments to get rid of the pods yet still keep the results. An easy way to do this would be to allow users to download exper

[2021-10-06 10:02] anencore94 commented on #1697
Thanks for your request !
I think this feature makes sense, since there is a limit for the number of pods(including COMPLETED status) per node as 100 pods per node. User may want to delete experiment's sub-pods, but still having the results in some persistent storage

[2021-10-06 12:25] andreyvelich commented on #1697
Thank you for creating this @bwassie!

/area front-end
/cc @kimwnasptd

[2021-10-06 15:56] alexec opened #1698 "Demo Katib+Argo at the Argo community meeting, or blog"
/kind feature

It'd be awesome to have you come demo your new Argo support. We could also do a collaborative blog post too!

@andreyvelich

[2021-10-06 18:37] johnugeorge commented on #1698
@alexec Created the meeting on 27th. We will try to join.

btw, Missed to link this GitHub chat in the meeting description for reference.

[2021-10-06 19:46] kimwnasptd commented on #1590
@seong7 thanks for the detailed steps!

You will need to also add `"@angular/localize": "^12.2.7",` in the `package.json` which is includes Angular's localization logic.

I tried the code from your branch after this and the UI was built successfully :tada:. With a quick look the main page was working as expected and the form page was showing the following error:
[code]

But this should be fixed in

[2021-10-07 04:58] anencore94 commented on #1692
Yes it is possible to handle this outside of Katib. However, then such project needs to watch Katib Experiments' status and do something, and I think this is exactly what controller does.

Above all, even though the optimal hyperparameter combination suggested when Katib experiment finished, user should know that manually(with UI or CLI) for now. So if user wants to save the hyperparameter combina

[2021-10-07 07:25] fabianvdW opened #1700 "Multiple trials with same set of parameters using bayesianoptimization and parallelTrialCount > 1"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Using bayesianoptimization and parallelTrialCount > 1 will result in multiple trials having suggested the same set of parameters. This is due to the way https://github.com/kubeflow/katib/blob/2db65b2c6b349cfd4901bfe9ee1f308f7ea6444e/pkg/suggestion/v1beta1/skopt/base_service.py#L121-L125

[2021-10-07 08:19] fabianvdW opened #1702 "Metrics in scientific notation are not correctly parsed by default"
/kind bug

This is an excerpt of a Log of one Trial: As you can see the Score is still correct in file-metricscollector.go:49 but is then wrongly parsed somewhere:
[code]

[2021-10-07 12:19] fabianvdW commented on #1700
For a quick demonstration of the issue run:
[code]

[2021-10-07 17:46] aaron-arellano opened #1705 "Support leader-election (HA) for Katib Components"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Ability to enable leader-election for Katib components. We run kubeflow in multiple AZs and strive to achieve HA whenever possible for our components to guarantee SLOs for our users.  We would like for Katib components to support leader-election to enable HA in the event a node goes do

[2021-10-08 01:36] gaocegege commented on #1702
Can you please show us the Experiment YAML too? Thanks for your help.

[2021-10-08 06:40] #1689 closed

[2021-10-08 07:39] fabianvdW commented on #1702
Sure. I simplified the setup a bit:
Experiment yaml:
[code]
`trial.py`:
[code]

[2021-10-08 08:42] anencore94 commented on #1702
you may edit the metrics collector format to capture your format here

[code]

[2021-10-08 08:57] gaocegege commented on #1702
Personally, I think it makes sense.

[2021-10-08 09:32] anencore94 commented on #1702
Thanks for you comment :) I think we should take this
`([\w|-]+)\s*=\s*([+-]?\d(\.\d+)?([Ee][+-]?\d+)?)`

to cover this case :`Score=1.23E99`

[2021-10-09 11:02] johnugeorge commented on #1692
Isn't this requirement valid for any other job? eg: watch a job, take some action when job completes

So, Isn't this better for you to handle it outside in a general way?

[2021-10-09 11:08] johnugeorge commented on #1686
Yes. This is a nice feature to support cloud based databases

[2021-10-10 09:01] tenzen-y commented on #1705
I'm interested in this feature!
Can I take this? @kubeflow/wg-automl-leads

[2021-10-10 09:25] johnugeorge commented on #1705
@tenzen-y Thanks for the interest.
Assigned to you

[2021-10-10 09:31] gaocegege commented on #1705
Thanks for your contribution! :tada: :+1:

[2021-10-10 16:19] midhun1998 commented on #1647
Hi @anencore94 . If this is still open I can pick this up.

[2021-10-11 20:12] #1702 closed, assigned to anencore94

[2021-10-14 03:04] alexeykaplin opened #1714 "Prometheus port missing on a katib-controller pod"
/kind bug

k8s resource inconsistency: service has port annotation, but pod has no port annotation.

**Environment:**
kubeflow 1.4.0
Default deployment.

- Kubeflow version (`kfctl version`): 1.4.1
- Kubernetes version: (use `kubectl version`): 1.19.8
- OS (e.g. from `/etc/os-release`): Linux

[2021-10-15 02:08] longpi1 opened #1716 "Katib cannot obtain trail task information after istio is enabled. After completion, the pod status is NotReady"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Since my training container needs to communicate with ML-pipeline, I need to enable istioto add Kubeflow-userid and the corresponding AuthorizationPolicy. However, automL cannot obtain the status information of Taial after istio is opened.Is there any way to solve this problem? Is there

[2021-10-17 12:37] anencore94 commented on #1716
Here's the main reason of this issue and temporal solution if you need to use istio enable in trial:
https://github.com/kubeflow/katib/issues/1638

You could build your own metrics-collector image with such code and use it.

[2021-10-17 12:40] anencore94 commented on #1638
Or I think this might be another solution:

Inject metrics-logger-and-collector container with [container.lifecycle.PreStop](https://kubernetes.io/ko/docs/concepts/containers/container-lifecycle-hooks/) to request quitquitquit API to istio-proxy container endpoint.

From here:
- https://github.com/makinarocks/katib/blob/main/pkg/webhook/v1beta1/pod/inject_webhook.go#L156

- https://github.com/maki

[2021-10-19 06:56] VoVAllen commented on #1693
Hi, I cannot share the full yaml. Below is the metricCollector part
[code]

[2021-10-19 07:03] gaocegege commented on #1693
Ref https://github.com/kubeflow/katib/issues/944
Ref https://github.com/kubeflow/katib/issues/1086

[2021-10-19 07:09] VoVAllen commented on #1693
The log posted is not the full log and might not contain the problematic part. Will update if I collect more information from colleagues

[2021-10-21 07:16] VoVAllen commented on #1693
More errors:

W1021 03:44:49.783408      14 file-metricscollector.go:71] Metrics will not have timestamp since error parsing time objective:: parsing time "objective:" as "2006-01-02T15:04:05.999999999Z07:00": cannot parse "objective:" as "2006"
--
F1021 03:44:51.378633      14 main.go:396] Failed to Report logs: rpc error: code = Unknown desc = Pepare SQL statement failed: Error 1390: Prepared st

[2021-10-22 06:32] chenwenjun-github opened #1719 "katib-db-manager mysql statement leak"
/kind bug

**What steps did you take and what happened:**
katib-db-manager report metric to mysql use db.Prepare, but it's not close the statement , this will casue statement of mysql reach  max_prepared_stmt_count when much katib experiement was been submited.
![image](https://user-images.githubusercontent.com/46237364/138404507-e7ec0993-929e-4d93-887f-e1b83b6dcbec.png)
![image](https://user-imag

[2021-10-26 05:56] seong7 opened #1723 "Default step for parameters of type 'Integer' and 'Double'"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

<img src='https://user-images.githubusercontent.com/52827441/138814455-d40b019c-5679-419e-87d5-7d7c4a847d6f.png' width='400' />

- As-is
`step` is an optional value when creating an experiment, since the default value will be passed in on backend depending on what algorithm the user h

[2021-11-02 13:28] andreyvelich commented on #1637
/assign @andreyvelich

[2021-11-02 19:14] #1705 closed

[2021-11-02 19:18] #1719 closed

[2021-11-02 19:42] #1700 closed

[2021-11-02 20:19] andreyvelich commented on #1651
Should be fixed by this PR: https://github.com/kubeflow/katib/pull/1720

[2021-11-02 20:19] #1651 closed

[2021-11-03 17:03] anencore94 commented on #1692
I think it's better to handle out side of Katib, using event driven framework such as argo-events or knative-events. (I chose argo-events in our company).
Maybe we can close this issue I think.

[2021-11-04 02:22] gaocegege commented on #1692
SGTM!

[2021-11-04 02:22] gaocegege commented on #1692
I am closing it. Feel free to re-open it if there is a new design.

[2021-11-04 02:22] #1692 closed

[2021-11-05 01:03] #1637 closed

[2021-11-08 11:19] tenzen-y opened #1730 "Bump Python version to 3.9"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Python 3.6 is approaching EOL(2021-12-23) although all suggestions and earlystopping services are used it.
So, bump Python version to 3.9.

https://devguide.python.org/#status-of-python-branches

**Anything else you would like to add:**
[Miscellaneous information that will assist in s

[2021-11-08 11:40] tenzen-y commented on #1730
Also, I think it needs to upgrade tensorflow since tensorflow 1.11.0 does not distribute binary for Python 3.7 in tfevent-metricsconllector.

https://github.com/kubeflow/katib/blob/16e0574647ace79ccedd248d072c77139feab5e5/cmd/metricscollector/v1beta1/tfevent-metricscollector/Dockerfile#L1

Ref: https://pypi.org/project/tensorflow/1.11.0/#files

[2021-11-08 12:43] tenzen-y commented on #1730
I'm wondering if I should upgrade to v1.5.5, which is the last release of Tensorflow v1 or upgrade to the latest release, v2.7.0.
WDYT about the TensorFlow version? @kubeflow/wg-automl-leads

[2021-11-08 16:14] andreyvelich commented on #1730
Thank you for creating this @tenzen-y.

Should we jump to Python 3.9 if it is possible, do we have any concern about it ?

I think TF >= 2.0 requires some code changes, especially in ENAS Suggestion.
If we can handle it, sure we can use the latest TF release.

[2021-11-08 23:51] tenzen-y commented on #1730
Thanks for the suggestion! @andreyvelich

I also think we can jump to Python 3.9.

If we can handle it, sure we can use the latest TF release.

I see, I would like to update to Tensorflow >2.0 and also modify ENAS.

[2021-11-09 01:12] anencore94 commented on #1682
How about creating an another interface to use Kubeflow PIpeline into Katib with passing kubeflow pipeline's `id`(which is already uploaded) and hyperparameters space? Rather than the whole yaml file(which is actually an Argo Workflow)

[2021-11-09 02:02] gaocegege commented on #1730
Does TF 2.0 metrics collector work well with TF 1.x events?

[2021-11-09 09:55] johnugeorge commented on #1682
@anencore94 How would the trial spec look in your proposal?

[2021-11-09 11:23] tenzen-y commented on #1730
I believe that the output format of metrics has not changed between TF v1 and v2, as shown in the following document.

- v1:
[code]

- v2:

[code]

https://www.tensorflow.org/tensorboard/migrate#in_tf_2x

WDYT? @gaocegege @andreyvelich

[2021-11-09 11:54] andreyvelich commented on #1730
Sounds good @tenzen-y.
Once we modify TF Event metrics collector, we need to be sure that it is working with TF 2.0

[2021-11-09 12:42] andreyvelich commented on #1682
I also great idea.

@anencore94 @johnugeorge I think we can extend [Trial Spec](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L240-L247) with the new API, for example:
[code]

[2021-11-09 18:16] maanur commented on #1639
I'll look into the issue, but I may need help with testing because of lack of free time.
Firstly, I'm going to look at kubebuilder markers and try making them work, thus getting rid of "stars" in ClusterRoles.

After that I'd be willing to switch the operator's scope to multiple namespaces instead of a whole cluster, as the current level of privileges is not necessary in fact (remember `katib-metr

[2021-11-09 19:54] andreyvelich commented on #1639
That would be great, thank you @maanur!

Are you referring to this issue: https://github.com/kubeflow/katib/issues/1295 ?
Which runs Katib controller without cluster role access ?

[2021-11-09 20:13] maanur commented on #1639
Yes, partially. I suppose the particular problem of deploying multiple controllers can be solved by OLM and its OperatorGroups, but that can be considered a separate feature.

[2021-11-09 20:52] andreyvelich commented on #1639
@maanur I think that also requires additional proposal on how we want to implement this.
Currently, we don't have solution on how to enable our Webhooks on namespace mode.

Let's start with removing redundant access from the ClusterRole, after that we can discuss about role-based access.

[2021-11-09 23:05] tenzen-y commented on #1730
SGTM

I think it might be better to create a training code using TF 2.0 based on [mnist_with_summaries.py](https://github.com/kubeflow/training-operator/blob/c41956d1c71283302f796b401ad633e0baf3aad0/examples/tensorflow/mnist_with_summaries/mnist_with_summaries.py), to add it as the e2e test separate from [tfjob](https://github.com/kubeflow/katib/blob/cffab076b67714ff0e8849142df953e458b58300/test/e

[2021-11-10 05:14] anencore94 commented on #1682
We can start from @andreyvelich 's idea. However, I think it's a little bit tricky for hyperparameters and objective metrics.

Since there is the information about arguments in kubeflow pipeline already, but user might want to use some arguments as a hyperparameters with some space and fill other arguments with fixed values.

So I guess we need to make some more detailed field (interface) to get t

[2021-11-10 05:57] anencore94 commented on #1549
Can we close this issue by #1613 ?

[2021-11-10 16:57] andreyvelich commented on #1730
Sounds good to me, we can maintain another image under [trial-images](https://github.com/kubeflow/katib/tree/master/examples/v1beta1/trial-images) with TF with summaries example.
What do others think @gaocegege @johnugeorge ?

[2021-11-10 16:57] andreyvelich commented on #1549
This issue still is progress. If we want to support multi-objective optimisation, we have to modify our Katib Experiment APIs.

[2021-11-10 17:29] andreyvelich commented on #1682
I think substitution of the HPs should be done by Katib Controller.
Is it possible to get Pipeline by ID similar to ConfigMap data, as we do here: https://github.com/kubeflow/katib/blob/master/pkg/controller.v1beta1/experiment/manifest/generator.go#L192-L205 ?

[2021-11-10 21:41] akdigitalself commented on #1686
The external DB manifest works well. However using it [as is](https://github.com/kubeflow/katib/blob/v0.12.0/manifests/v1beta1/installs/katib-external-db/kustomization.yaml) brings in the resources I don't want (such as `Namespace` and `katib-cert-generator` as I mentioned in the description above) as I also use `katib-with-kubeflow`. In other words, all manifests work flawlessly by themselves. It

[2021-11-11 01:17] tenzen-y commented on #1730
Sounds good, thanks!

[2021-11-11 12:41] sebastianbarry-sms commented on #917
/reopen I've been working on a vSphere cluster and have noticed the same issue.

`invalid AccessModes [ReadWriteMany]: only AccessModes [ReadWriteOnce] are supported`

Using:
` kubernetes.io/vsphere-volume`

[2021-11-12 02:22] #1636 closed

[2021-11-17 12:03] js-ts opened #1733 "Katib examples in https://github.com/kubeflow/examples/"
https://github.com/kubeflow/examples/blob/master/demos/yelp_demo/
https://github.com/kubeflow/examples/blob/master/tensorflow_cuj/neural_machine_translation
https://github.com/kubeflow/examples/blob/master/tensorflow_cuj/text_classification/
https://github.com/kubeflow/examples/blob/master/code_search/
https://github.com/kubeflow/examples/blob/master/github_issue_summarization
https://github.com/k

[2021-11-17 13:57] tenzen-y opened #1734 "Add `shellcheck` to CI"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Add [`shellcheck`](https://github.com/koalaman/shellcheck) to verify all shell scripts in this repository.

Ref: https://github.com/kubeflow/katib/pull/1731#discussion_r751174167

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue