[2021-11-18 09:00] mf-giwoong-lee opened #1735 "Can katib works with hyper-params described in json?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[code]
In Katib examples, hyper-params are accepted by using argument parser!

But in many cases, hyper-params are managed in json or other file types.

Is there any solution for this kind of case?

[Miscellaneous information that will assist i

[2021-11-18 09:48] anencore94 commented on #1734
Absolutely agree :)
also, I think add yamllint on CI could make yaml files more readable for newbies.
(https://github.com/adrienverge/yamllint)

Furthermore, I'm not sure since I didn't used this actually, but just try examining kube-linter would be nice too.(https://github.com/stackrox/kube-linter)

[2021-11-19 03:11] tingweiwu opened #1736 "start commond changed by webhook and cause worker pod failed"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
trial pod failed when the trialSpec is set as the following
[code]
I check the job's args and commond in spec.containers

[code]
but the pod's args and commond in spec.containers  change like this
[code]
the error logs of pod
[code]
It looks like katib webhook changed this value

**What

[2021-11-19 03:17] tingweiwu opened #1737 "Support users to set more fields in suggetion deployment"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Is it possible to allow users to set more fields in suggetion deployment like we set the trailSpec
such as imagePullSecrets 、args、command and so on

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2021-11-19 03:18] gaocegege commented on #1737
I think it is a useful feature. WDYT @kubeflow/wg-automl-leads

[2021-11-19 03:19] gaocegege commented on #1736
We have the webhook to support metrics collection, I think. I do not think we can remove it with the current design. WDYT @kubeflow/wg-automl-leads

[2021-11-19 03:38] tingweiwu commented on #1736
is it possible to avoid modifying the user's start commond to support metrics  collection inject?

[2021-11-19 04:52] gaocegege commented on #1736
@andreyvelich Do you think it is possible?

[2021-11-19 06:45] wallacezzzzz007 opened #1738 "Cannnot create pod when using xgboost operator"
/kind bug

**What steps did you take and what happened:**
Hi guys, Im trying to run katib with xgboost operater. My katib can work with pytouch, tf, job etc operator but only cannot work with the xgboost operator since it cannot create pod after getting trials.
i'm using this yaml file:  xgboostjob-lightgbm.yaml
https://github.com/kubeflow/katib/blob/master/examples/v1beta1/kubeflow-training-opera

[2021-11-19 07:19] tingweiwu commented on #1736
I modified metricsCollectorSpec refer to [custom-metrics-collector.yaml](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/metrics-collector/custom-metrics-collector.yaml)
[code]
the work pod start cmd hasn't been changed，Maybe I could use this way.

additional
1、when metric collector kind is StdOut,  is it better to change user's start cmd like
[code]
rather than
[code]
because the f

[2021-11-19 07:43] tenzen-y commented on #1734
It sounds good to me, thanks! @anencore94

[2021-11-19 17:01] andreyvelich commented on #1737
Thank you for creating this @tingweiwu!
We can allow to specify the Deployment `spec` or `spec.template.spec` in [Config Suggestion Settings](https://www.kubeflow.org/docs/components/katib/katib-config/#suggestion-settings), but then setting just Suggestion image will be more complicated for our users since they have to follow the correct API structure.
For example:
[code]

Does it look good to us

[2021-11-19 17:53] andreyvelich commented on #1738
Thank you for creating this @wallacezzzzz007!

As I can see, metrics collector sidecar has not been attached to the Training pods.
Please can you show me output of these commands:

[code]

[2021-11-19 23:02] andreyvelich commented on #1736
@tingweiwu We wrap all container `command` to `args` here: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/pod/utils.go#L88-L109.

If the first two values in `args` are equal to `bin` or `sh`, we should populate these values to `command` (Check this: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/pod/utils.go#L157-L162).

@gaocegege Should we modify this condit

[2021-11-19 23:05] andreyvelich commented on #1735
@mf-giwoong-lee Thank you for creating this!

Please can you explain your use-case, and when you want to specify HPs in json format ?

What Kubernetes resource you want to use to run your training process, and how the Katib Experiment should look like ?

[2021-11-20 17:32] wallacezzzzz007 commented on #1738
Sure, since i delete the original test, here is the new information:
[code]
here is the suggestion of the running pod:
[code]
and then the MutatingWebhookConfiguration:
[code]

plz help me to solve the problem, thank you

[2021-11-22 00:54] mf-giwoong-lee commented on #1735
I was working with NNI(made in microsoft).

NNI defines search spaces in json format and NNI api helps to match HPs in json and HPs in codes.

If I have many HPs and pass HPs in argument parser, then it is difficult to manage.

Because of this reason, I find file format containing HP search spaces and code level api of Katib.

[2021-11-22 02:02] wallacezzzzz007 commented on #1738
**New** I can create pod by this yaml:
[code]
However, all pods are error:
[code]
The docker image may correct, since I use the [original one](https://github.com/kubeflow/xgboost-operator/blob/master/config/samples/xgboost-dist/xgboostjob_v1_iris_train.yaml). So I checked the logs of controller, I got some error here:
[code]
There might be some problem with injector metric collector, buy I do not

[2021-11-22 02:35] tenzen-y commented on #1738
Hi, @wallacezzzzz007 .
I think you can solve this error by changing the container name from `xgboostjob` to `xgboost` as shown below.

[code]

[2021-11-22 02:47] wallacezzzzz007 commented on #1738
Thanks for ur reply, @tenzen-y .
But the solution may not work. I tried ur yaml file (add 'a' before 'piVersion: kubeflow.org/v1beta1'), and then apply it, here is the infor:
[code]
and the log of controller is:
[code]
the trials cannot create new pods, which back to my [original question] (https://github.com/kubeflow/katib/issues/1738#issue-1058192586)

[2021-11-22 03:41] tingweiwu opened #1739 "more flexiable with custom metric collector"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
I‘ve run this demo [custom-metrics-collector.yaml](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/metrics-collector/custom-metrics-collector.yaml)
[code]
and the worker pod created with webhook  will be mounted by  `emptyDir` to share the  logpath with metric contrainer

[2021-11-22 03:49] tenzen-y commented on #1738
I think it works with the following @wallacezzzzz007

[code]

[2021-11-22 04:09] wallacezzzzz007 commented on #1738
Thanks a lot, that works! @tenzen-y
After i run the file, some trials succeeded. However, there is not optimal trial information. I checked the status of one of succeeded trials, here is the infor:
[code]
The trial cannot receive any metric. But the metric works in other example like pytouch, tf. So, how to solve this one?
(may be because the model does not have any metric parameter? im not sure a

[2021-11-22 06:14] tenzen-y commented on #1738
Did you specify `XGBoost.v1.xgboost.kubeflow.org` to katib-controller as this [document](https://www.kubeflow.org/docs/components/katib/trial-template/#use-custom-kubernetes-resource-as-a-trial-template)? If you do not specify this, `katib-controller` can not collect metrics. Once you run the following command, maybe you can collect metrics. @wallacezzzzz007

[code]

[2021-11-22 07:00] wallacezzzzz007 commented on #1738
I solved the problems, thanks for ur help @tenzen-y
For the first comment question https://github.com/kubeflow/katib/issues/1738#issue-1058192586, I modified all ```primaryContainerName, containers.name = xgboostjob```, then the trials can create pod.
For the last comment https://github.com/kubeflow/katib/issues/1738#issuecomment-975070853, there are something wrong in the docker image, so we cann

[2021-11-22 07:00] #1738 closed

[2021-11-22 07:10] tenzen-y commented on #1738
I'm glad I could help you solve your problem.

[2021-11-22 07:13] gaocegege commented on #1738
Cool!

[2021-11-22 16:47] andreyvelich commented on #1735
@mf-giwoong-lee You can create your training script which accepts JSON as input parameter and define HPs in this JSON.

For example, for ENAS training container we parse Neural Network config from JSON:
1. https://github.com/kubeflow/katib/blob/master/examples/v1beta1/trial-images/enas-cnn-cifar10/RunTrial.py#L15-L16
2. https://github.com/kubeflow/katib/blob/master/examples/v1beta1/trial-images/en

[2021-11-22 20:04] andreyvelich commented on #1622
/area release

[2021-11-23 02:56] mf-giwoong-lee commented on #1735
Thanks for replying!

I also see [https://github.com/kubeflow/katib/blob/master/examples/v1beta1/nas/enas-gpu.yaml#L137-L148](url)

So I understand that katib can accept JSON as input parameter but there are no JSON in that example folder..

I want to see actual input parameter JSON!

Above enas-gpu.yaml has nn_config which is consumed as input parameter JSON but actual parameter definition or JSO

[2021-11-23 05:37] mf-giwoong-lee commented on #1735
[code]
This is a example of NNI search space described in JSON. Is it possible for katib to accept this kind of input parameter JSON which has range of parameter and selection type.

[2021-11-23 06:51] wallacezzzzz007 opened #1742 "use the model store in local pvc"
I saw a lots of examples are using the docker image of models, can we use the model in our local pvc?
For example, if I create a pvc named `katib`, and then move the model and dataset to the `/mnt` in katib'pod, can we directly use the model like `modelUri: pvc://katib` or other way?

[2021-11-23 06:58] gaocegege commented on #1742
You need to provide the model training script instead of the model weights and structure. Do you mean you want to put the training script in a volume?

[2021-11-23 06:58] wallacezzzzz007 commented on #1742
yes

[2021-11-23 07:00] gaocegege commented on #1742
Yes, you can but actually, the training script is not a huge file. I am not sure why you need it. Could you please explain your use scenario?

[2021-11-23 07:10] wallacezzzzz007 commented on #1742
Yes, trainiing script itself is not huge, but when we facing a large dataset, if we put the dataset in the image, that could be huge. (maybe there is other way to deal with the large data, plz tell me thx) And also, I use the kubeflow-notebook to clean the original dataset and build the base model, since the notebook is inside of kubeflow (inside of a pod maybe), is hard to build a docker image di

[2021-11-23 07:13] gaocegege commented on #1742
Oh got it. Of course, you can place the dataset in a volume.

cc @kubeflow/wg-automl-leads Do you have better ideas in this scenario?

[2021-11-23 07:21] wallacezzzzz007 commented on #1742
thanks for ur help @gaocegege
So, for example i use this [yaml file](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/trial-template/trial-metadata-substitution.yaml), and i send the training script to `/mnt/model/model.py`, wether i only need to change the containers information like:
Here is the original one:
[code]
Change to:
[code]
Thanks a lot

[2021-11-23 11:16] andreyvelich commented on #1735
Thank you for the example @mf-giwoong-lee.
So this is the current API implementation: https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L186-L190.
Also, you can see the example how we define the parameter search space: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/hp-tuning/sobol.yaml#L18-L35

So for your example, you can wri

[2021-11-25 03:25] tingweiwu commented on #1739
solved by remove source from `spec.metricsCollectorSpec` and add `volumeMounts:` in  `spec.metricsCollectorSpec.customCollector`
[code]
e.g.:
[code]

[2021-11-25 03:25] #1739 closed

[2021-11-25 13:46] tenzen-y opened #1744 "[Proposal] Support JSON format for `file-metrics-collector`"
//kind feature

Describe the solution you'd like
[A clear and concise description of what you want to happen.]

## Motivation

Currently, it is difficult to parse JSON format files by `file-metrics-collector` using regexp filter since `file-metrics-collector` is designed to use TEXT format files.
I believe if `file-metrics-collector` supports JSON format files, we can be further made Katib powerfu

[2021-11-25 13:47] tenzen-y commented on #1744
/kind feature

[2021-11-25 17:05] d-gol opened #1745 "Request to be User Group Contributor for Kubeflow 1.5 for the AutoML Working Group"
Hello everyone, thank you for the great work on Kubeflow.

My name is Dejan Golubovic, I am a software engineer at CERN, where we run Kubeflow in production.

My experience with Kubeflow includes:

- Deploying a cluster on private cloud, using custom ArgoCD repository
- Customizing Kubeflow components to fit our use cases
	- Maintaining a fork of Kubeflow repo
	- Custom centraldashboard, jupyter-w

[2021-11-25 22:53] andreyvelich commented on #1622
We can close this issue.

[2021-11-25 22:53] #1622 closed

[2021-11-26 08:34] anencore94 opened #1747 "Request to be User Group Contributor for Kubeflow 1.5 for the AutoML Working Group"
Hello guys, I'm a MLOps Engineer at MakinaRocks in South Korea. (I have CKA and my company have KCSP certification) We've used kubeflow to try and share ML experiments easily.

I've used Kubernetes since 2020 and Kubeflow since 2021 in production level.

My experience with Kubeflow includes:
- Deploy and maintatin kubeflow in private 10 nodes gpu cluster and aws EKS.
- Customize several kubeflow c

[2021-11-26 10:46] tingweiwu opened #1748 "blocked with failureCondition when use pod resource as a trial template"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
I Modify Katib controller Deployment’s args with the new flag `    - "--trial-resources=Pod.v1."`
and create experiment with the following trial
[code]
I want to get the trial worker’s object status through this field `status.phase=="Succeeded"` for the first time, but when I look into

[2021-11-26 15:03] andreyvelich commented on #1745
Welcome Dejan and thank you for your interest!
That would be great if you could help us with that issue.

I suggest join our next [AutoML Community Meeting](https://docs.google.com/document/d/1MChKfzrKAeFRtYqypFbMXL6ZIc_OgijjkvbqmwRV-64/edit#heading=h.o8oe6e5kry87) on December 1st to discuss the implementation details.

cc @johnugeorge @gaocegege

[2021-11-26 15:11] andreyvelich commented on #1747
Hi @anencore94, thank you for your interest and help with Kubeflow projects!
It would be great to see you as User Group Contributor in Katib project as part of Kubeflow 1.5

If you are available, let's discuss in our [AutoML Community Meeting](https://bit.ly/2PWVCkV) on December 1st the Katib issues that you would like to work on.

cc @gaocegege @johnugeorge

[2021-11-26 15:47] #1680 closed

[2021-11-27 03:58] tingweiwu commented on #1737
It seems the [Suggestion settings](https://www.kubeflow.org/docs/components/katib/katib-config/#suggestion-settings) with configmap don't support `imagePullSecrets`  and other similar  spec settings in Deployment

It will be more flexible for user to set deployment attributes in algorithmSpec template
case 1: set imagePullSecrets and resource limits
[code]
case 2: set start commond and persistent

[2021-11-27 04:27] gaocegege commented on #1737
I think we should consider if we can support SuggestionSpec as @tingweiwu said. WDYT @andreyvelich

[2021-11-28 08:52] anencore94 commented on #1747
@andreyvelich Thank you for saying so. However, I'm sorry I couldn't make to attend the Metting on December 1st.
I have a schedule on December 2nd, so I will attend the next meeting on December 15th. Is it ok ?

[2021-11-29 03:02] LSC527 opened #1750 "Cannot get trial results running mpijob-horovod example"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I was running this example _examples/v1beta1/kubeflow-training-operator/mpijob-horovod.yaml_ but it seems something is wrong because the experiment cannot get any trial results.

`kubectl get pod`
NAME                                     READY   STATUS      RESTARTS   AGE
mpijob-horovod-

[2021-11-29 14:54] andreyvelich commented on #1747
Sure, sounds good @anencore94.
In the meantime, you can link issues/proposals here that you want to take.

[2021-11-29 15:56] andreyvelich commented on #1737
Basically, Katib config was designed to simplify Experiment specification and give additional settings to more advanced users who are Kubernetes experts.
Therefore, I am not sure that `algorithmSpec` should live under Experiment, but we can extend Katib config settings as I mentioned above: https://github.com/kubeflow/katib/issues/1737#issuecomment-974245081.

What do you think @johnugeorge ?

[2021-11-29 19:19] andreyvelich commented on #1748
Thank you for creating this @tingweiwu!

I think `status.phase` should work, please take a look at Argo Workflows example: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/argo/argo-workflow.yaml#L36-L37.
In gJSON format you should define this as: `successCondition: status.[@this].#(phase=="Succeeded")#`

[2021-11-29 23:35] andreyvelich commented on #1733
Thank you for pointing this @js-ts.
As I can see, most of these examples are using `v1alpha1` Katib API from 2018-2019

@js-ts If you are able to find volunteers who want to update and contribute some of these examples under [Katib Upstream](https://github.com/kubeflow/katib/tree/master/examples/v1beta1), I am ok with that.

cc @kubeflow/wg-automl-leads

[2021-11-29 23:52] andreyvelich commented on #1744
Thank you for submitting this proposal @tenzen-y!
I have few questions.

Do you mean it will be easier for user to create such Experiments ? E.g. they don't need to manually add regex to Metrics Collector spec.

How we will change the parsing process in [File Metrics Collector](https://github.com/kubeflow/katib/blob/master/pkg/metricscollector/v1beta1/file-metricscollector/file-metricscollector.go

[2021-11-30 02:24] LSC527 commented on #1750
Hi @andreyvelich ,
I run this experiment in a new namespace created by myself:

    $kubectl describe ns myns
    Name:         myns
    Labels:       katib-metricscollector-injection=enabled
    Annotations:  <none>
    Status:       Active

    No resource quota.

MPI Operator is running:

    $kubectl get pod -n kubeflow
    NAME                                                         READY   S

[2021-11-30 12:33] andreyvelich commented on #1750
@LSC527 Please can you also run this to check the [pod labels](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/kubeflow-training-operator/mpijob-horovod.yaml#L29-L31):
`kubectl get pod mpijob-horovod-vkxlxkdk-launcher-rnnjc -n myns -o yaml`

[2021-11-30 12:54] LSC527 commented on #1750
@andreyvelich
    apiVersion: v1
    kind: Pod
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
      creationTimestamp: "2021-11-30T12:44:36Z"
      generateName: mpijob-horovod-7krst26m-launcher-
      labels:
        controller-uid: be7772f9-c6da-4232-b663-041c8927c2d9
        group_name: kubeflow.org
        job-name: mpijob-horovod-7krst26m-launcher
        mpi_job_na

[2021-11-30 13:05] andreyvelich commented on #1750
As I can see, your version of MPI Operator uses `mpi_role_type: launcher` label instead of [`mpi-job-role`](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/kubeflow-training-operator/mpijob-horovod.yaml#L30). Please try to modify the Experiment with the appropriate `primaryPodLabels`.

@alculquicondor @zw0610 Do you know which labels we are going to use in MPI Operator release for K

[2021-11-30 14:59] alculquicondor commented on #1750
I migrated to fully-qualified for the v2 operator. But it hasn't been migrated to the unified operator.

[2021-12-01 02:31] gaocegege commented on #1750
@LSC527 Hi, which api version are you using? Can you please show the result of `kubectl get mpijobs -o yaml`?

[2021-12-01 02:36] LSC527 commented on #1750
@gaocegege
apiVersion: v1
items: []
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""

[2021-12-01 02:38] gaocegege commented on #1750
Sorry, `kubectl -n myns get mpijobs -o yaml`

[2021-12-01 02:41] LSC527 commented on #1750
@gaocegege the output is the same:
apiVersion: v1
items: []
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""

[2021-12-01 02:43] gaocegege commented on #1750
kubectl get mpijobs -o yaml --all-namespaces

[2021-12-01 02:43] LSC527 commented on #1750
@gaocegege I've modified `primaryPodLabels` to `mpi_role_type: launcher`, still not working
`kubectl -n myns get mpijobs -o yaml`
    apiVersion: v1
    items:
    - apiVersion: kubeflow.org/v1
      kind: MPIJob
      metadata:
        creationTimestamp: "2021-12-01T02:24:37Z"
        generation: 1
        name: mpijob-horovod-9bpqdzh2
        namespace: sichao
        ownerReferences:
        -

[2021-12-01 03:01] LSC527 commented on #1750
@alculquicondor
I modify the `primaryPodLabels` to `mpi_role_type: launcher`, still not working, but there're two launchers in each worker.

[code]
[code]
[code]

[2021-12-01 14:43] alculquicondor commented on #1750
It appears to me that you are running the v2 operator with a v1 API. This would work in the images are prepared for the v2 operator.

Did the launcher pod run correctly? What is it that it's not working?
Given that you filled this under the katib repo, I assume this is about some katib integration? TBH, I'm not familiar with that at all.

[2021-12-01 15:07] js-ts commented on #1733
@tenzen-y it would be great if you can help update them.

[2021-12-01 15:22] andreyvelich commented on #1750
@LSC527 Please can you try to run the MPIJob example without Katib to see if MPI Controller will reconcile your Job properly:
[code]

[2021-12-01 17:22] RDarrylR opened #1754 "Recent metrics filter change broke metrics collection for non-scientific values"
/kind bug

**What steps did you take and what happened:**
The DefaultFilter value for the File Metrics Collector was recently changed to fix issues parsing scientific notation values but with the change multi digit number values are no longer parsed correctly and are truncated at the first digit.

**What did you expect to happen:**
Parsing of normal number values would work correctly.

**Anything

[2021-12-01 18:46] andreyvelich commented on #1754
Thank you so much for finding this @RDarrylR!
I think we forget to add `+` in the regex.

I would suggest that we use this regex to support `-.111` format also.
[code]

WDYT @RDarrylR  @kubeflow/wg-automl-leads @anencore94  ?

/assign @andreyvelich
/priority p0

[2021-12-01 21:31] RDarrylR commented on #1754
@andreyvelich That new version seems to work for all the cases I'm using.

[2021-12-01 21:39] andreyvelich opened #1756 "Add unit tests for File Metrics Collector"
/kind feature

We should add unit test for our [File Metrics Collector](https://github.com/kubeflow/katib/tree/master/pkg/metricscollector/v1beta1/file-metricscollector) to verify log parsing.
That will help to avoid issues similar to: https://github.com/kubeflow/katib/issues/1754

/help
/good-first-issue

---

Love this feature? Give it a 👍 We prioritize the features with the most 👍

[2021-12-01 22:57] andreyvelich commented on #1554
/assign @andreyvelich

[2021-12-01 23:22] #1754 closed

[2021-12-02 00:47] anencore94 commented on #1747
First of all, I'd like to work on #1207, maybe I could collaborate with #1708

[2021-12-02 01:57] gaocegege commented on #1554
LGTM!

[2021-12-02 03:07] LSC527 commented on #1750
@andreyvelich The mpijob test runs well:
[code]
[code]
The launcher is completed, just like the launcher in katib mpijob. But the launcher in katib mpijob runs no more trials after the first trial, and the main pod does not get any trial results (I've mentioned this in the issue).

[2021-12-02 06:52] tenzen-y commented on #1744
Sorry for the late reply. @andreyvelich

Yes, users do not need to specify regexp using `fileFormat=JSON`.

I think we can parse JSON files of the format shown in the proposal in the following script.

- input.json
[code]

- parse.go

[code]

[2021-12-02 07:57] zw0610 commented on #1750
@andreyvelich

`mpi_role_type` is used for v1alpha1 and v1alpha2
`mpi-job-role` is used for v1

After migrated to training-operator, where mpi.controller.v1 will be provided for kubeflow 1.5, `mpi-job-role` will be used.

[2021-12-02 08:27] tenzen-y commented on #1733
@js-ts
I'm focused on improving this repo, so I may not be able to help update them.

[2021-12-02 09:07] js-ts commented on #1733
@tenzen-y thanks for the reply , The examples would be in upstream in the examples folder

[2021-12-02 09:16] tenzen-y commented on #1733
@js-ts
Does it mean `kubeflow/examples` is upstream of `kubeflow/katib/examples/v1beta1`?

[2021-12-02 09:36] js-ts commented on #1733
these repos
https://github.com/kubeflow/examples/blob/master/demos/yelp_demo/
https://github.com/kubeflow/examples/blob/master/tensorflow_cuj/neural_machine_translation
https://github.com/kubeflow/examples/blob/master/tensorflow_cuj/text_classification/
https://github.com/kubeflow/examples/blob/master/code_search/
https://github.com/kubeflow/examples/blob/master/github_issue_summarization
https://

[2021-12-02 09:59] tenzen-y commented on #1733
Thank you for the explanation!

[2021-12-02 10:30] tenzen-y commented on #1733
I think those examples in `kubeflow/examples` are not added in `kubeflow/katib/examples` as submodules.

https://github.com/kubeflow/katib/tree/0.6/examples/v1alpha1

[2021-12-02 12:19] js-ts commented on #1733
Not currently but when new examples are added or these old examples are updated I would add them then ,thanks for the question

[2021-12-02 13:02] tenzen-y commented on #1733
I see. Thank you for answering my question! @js-ts

[2021-12-02 13:07] andreyvelich commented on #1750
@LSC527 Please can you check that MPI Job status was changed to `succeeded`:
[code]

[2021-12-02 13:08] andreyvelich commented on #1750
Thank you for letting me know @zw0610!
In that case, we are using correct label: [`mpi-job-role`](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/kubeflow-training-operator/mpijob-horovod.yaml#L30)

[2021-12-02 14:55] alculquicondor commented on #1750
I think the OP is running the v2 controller (judging by the name of the launcher pod `test-mpijob-launcher-fgpct`).

In v2 we use https://github.com/kubeflow/common/blob/6c9fe11e07ddba03fc824ee15e77aa5dc9cfdd3f/pkg/apis/common/v1/constants.go#L35

[2021-12-03 01:39] andreyvelich commented on #1744
Sounds good.
Probably we should also refactor [`watchMetricsFile`](https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/v1beta1/file-metricscollector/main.go#L140) to support EarlyStopping in such Metrics Collector format.

WDYT about this proposal @gaocegege @johnugeorge ?

[2021-12-03 02:08] LSC527 commented on #1750
@andreyvelich it seems not:
[code]

[2021-12-03 02:10] andreyvelich commented on #1750
@LSC527 I guess that is why Trial can't be reconciled since Katib controller waits for Succeeded status in MPIJob.

[2021-12-03 02:34] zw0610 commented on #1750
I believe @LSC527 uses mpi-operator v1alpha1 or v2alpha2 as the suffix in launcher pod indicates its created by a `Job` resource. The label key `mpi_role_type` also indicates.

[2021-12-03 03:01] LSC527 commented on #1750
@zw0610 I run the katib experiment again, and I get:
[code]
[code]
it shows ownerReferences apiVersion is kubeflow.org/v1alpha2. I don't know what this means.

[2021-12-03 04:24] tenzen-y commented on #1744
It makes sense. @andreyvelich

[2021-12-05 04:51] tenzen-y commented on #1744
I'll wait for feedback from community until December 10th (UTC +9).

[2021-12-06 18:06] andreyvelich commented on #1744
@gaocegege @johnugeorge Please give your feedback on this proposal

[2021-12-07 06:23] pshegde commented on #1455
I see the same issue on Kubeflow 1.3. Was anyone able to fix this?

2021-12-03 23:15:24 run:120 [ERROR] [TID=kl824ee10y] [/home/jovyan/kale/examples/dog-breed-classification/dog-breed-katib.ipynb] RPC function 'create_katib_experiment' raised an RPCError
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/kale/rpc/katib.py", line 104, in _launch_katib_experiment
    k

[2021-12-10 02:11] #1554 closed

[2021-12-10 02:44] tenzen-y commented on #1744
I'll postpone starting the implementation of this feature after December 18 (UTC+9) and wait for feedback from @gaocegege @johnugeorge

[2021-12-10 02:48] gaocegege commented on #1744
Sorry for the late reply.

I am wondering how to use the JSON feature from the user side. Could you please give us an example, e.g. Experiment YAML?

[2021-12-10 03:02] tenzen-y commented on #1744
Thanks for your reply! @gaocegege
I think users can use the below YAML, does it sound good?

- https://github.com/kubeflow/katib/blob/7be1f0ad5730ab6216570d2179f5b23f0b39d26d/examples/v1beta1/metrics-collector/file-metrics-collector.yaml

[code]

[2021-12-10 03:05] gaocegege commented on #1744
Gotcha, LGTM.

BTW, the variable should be JSON instead of Json.

I think we can go ahead! 🎉

[2021-12-10 03:09] tenzen-y commented on #1744
Thank you for giving me feedback! @gaocegege

It makes sense.

[2021-12-10 03:12] tenzen-y commented on #1744
I'd like to start the implementation of this feature!

/assign

[2021-12-10 03:18] gaocegege commented on #1744
Please assign me when the PR is ready to review

Thanks for your contribution! :tada: :+1:

[2021-12-10 03:22] tenzen-y commented on #1744
Sure, Thanks for your review! @gaocegege

[2021-12-10 12:33] #1730 closed

[2021-12-22 14:56] kimwnasptd opened #1763 "[katib-trials-page] Have a distinct page for each Trial in the UI"
/kind feature

**Describe the solution you'd like**
Right now we have a full page, where a user can see an `OVERVIEW`, `YAML` and `TRIALS`, of an Experiment. But we don't have such dedicated pages for each Trial. Such a page could be accessible when a user clicks on the Trial name, in the `TRIALS` tab of an Experiment.

Having such pages can allow us to expose more information for Trials, via tabs

[2021-12-22 15:14] kimwnasptd opened #1764 "Dedicated logs tab for Trials"
/kind feature

**Describe the solution you'd like**
As part of https://github.com/kubeflow/katib/issues/1763, and https://github.com/kubeflow/katib/issues/1745, lets us this issue to discuss how to expose the logs for a Trial.

Looking at the docs there are many different types of workers for a Trial https://www.kubeflow.org/docs/components/katib/trial-template/#custom-resource. The K8s clients ca

[2022-01-04 10:23] #1562 closed

[2022-01-04 15:15] andreyvelich commented on #1579
/lifecycle frozen

[2022-01-04 15:16] andreyvelich commented on #1580
/lifecycle frozen

[2022-01-04 15:20] andreyvelich commented on #577
/lifecycle frozen

[2022-01-04 15:21] andreyvelich commented on #1582
/lifecycle frozen

[2022-01-04 15:21] andreyvelich commented on #1584
/lifecycle frozen

[2022-01-04 15:22] andreyvelich commented on #1648
/lifecycle frozen

[2022-01-04 15:23] andreyvelich commented on #1585
/lifecycle frozen

[2022-01-04 15:23] #1577 closed

[2022-01-04 15:23] andreyvelich commented on #1583
/lifecycle frozen

[2022-01-04 15:25] andreyvelich commented on #1601
/lifecycle frozen

[2022-01-04 15:26] andreyvelich commented on #1672
/lifecycle frozen

[2022-01-04 15:27] andreyvelich commented on #1627
/lifecycle frozen

[2022-01-04 20:03] drawesomenic commented on #1454
@Bowen0729 @longpi1 Did you solve the issue?

When I first tried to run a Katib job with Kale, the job errored with the following message:
`Error creating: pods "XXX-e80p0-pklj65dv-" is forbidden: error looking up service account test-user/pipeline-runner: serviceaccount "pipeline-runner" not found`
The pipeline-runner only exists in the main "kubeflow" namespace and not in the namespace of "test-

[2022-01-05 01:49] Bowen0729 commented on #1454
I closed the multi user.

[2022-01-05 19:22] drawesomenic commented on #1454
Ok, I was actually able to solve the issue now and manage AutoML runs with multi-user setting:
1. Create Pod Default as described [here](https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/#multi-user-mode) but add an additional environment as Arrikto uses different env variables (as described above by @prashanthb-ai):
[code]
2. Then simply create a new serviceAccount with the name

[2022-01-11 08:13] drawesomenic opened #1769 "Metrics collector fails to create watcher"
/kind bug

**What steps did you take and what happened:**
I started Katib runs using Kale which leads to about 50% of the pipelines succeeding and 50% of the pipelines failing randomly with the following error message of the "metrics-logger-and-collector" container:
[code]
**What did you expect to happen:**
In the succeeding pipelines no error is thrown, but instead shows normal output:
[code]
**A

[2022-01-11 16:18] jbottum commented on #1769
/kind question
/priority p2
/area katib

[2022-01-12 12:20] juliusvonkohout commented on #1639
I have fixed the rules in https://github.com/kubeflow/katib/pull/1768 and documented the remaining problems.

[2022-01-12 14:30] juliusvonkohout commented on #1639
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: katib-controller
# We only need the verb create and not delete because all things are owned transitively by the
# experiment, so everything is cascade-deleted on experiment deletion.
# Early stopping currently creates a serviceaccount, role and rolebinding to manage trials and trails/status.
# The roles and rolebinding cr

[2022-01-13 14:57] andreyvelich opened #1774 "[Release] Katib 0.13 release"
This is the track issue for Katib 0.13 release.

We should make the new release before Kubeflow 1.5 to deliver the latest Katib improvements.
We have already merged all required features and bug fixes.
Please let us know if I miss something.

We are planing to cut the first release candidate on **January 21st**.

/cc @gaocegege @tenzen-y @johnugeorge @kimwnasptd @seong7 @anencore94

/area release

[2022-01-13 15:44] andreyvelich commented on #1769
Thank you for creating this @drawesomenic.
Did you try to use File metrics collector instead of StdOut ?
Also, can you show me your Entrypoint command for the Trial training job container ?

[2022-01-13 15:48] andreyvelich commented on #1769
It might be this issue: https://github.com/hpcloud/tail/issues/151#issuecomment-747274673.
Did you build your own Metrics Collector image on aarch64 ?

[2022-01-13 19:56] Jose-Matsuda opened #1775 "Musl upgrade in images"
/kind bug

**What steps did you take and what happened:**
My team has been looking into cleaning up cleaning critical vulnerabilities on our cluster and noticed one triggered by the following images `katib-controller`, `katib-db-manager` and `katib-ui`. Our cluster is running `v1beta1-a96ff59` but upon scanning the more up to date versions (v0.12.0) the issue is still there.

![image](https://user

[2022-01-13 20:52] knkski opened #1776 "New UI broken in Firefox"
/kind bug

**What steps did you take and what happened:**

Opened up the new UI in Firefox, and got this:

![image](https://user-images.githubusercontent.com/20422884/149406551-8953c81f-0170-42dc-9afd-af4b8e287534.png)

**What did you expect to happen:**

I expected the icons to show up instead of text.

**Anything else you would like to add:**

I was able to edit the DOM and add in this `<link>`

[2022-01-14 00:21] tenzen-y commented on #1775
Thank you for reporting this! @Jose-Matsuda
Maybe, all katib-components that use `alpine:3.7` as the base image will be affected by this issue, so we should upgrade `alpine`.

/cc @kubeflow/wg-automl-leads

[2022-01-14 01:41] longpi1 opened #1778 "The experiment is complete, but the proposed POD is still running. This clearly consumes resources. What is the purpose of doing this?"
/kind bug
The experiment is complete, but the proposed POD is still running. This clearly consumes resources. What is the purpose of doing this?
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
The experiment ended, and so did the proposed pod
**Anything else you would like to add:**
[Miscellaneous information

[2022-01-14 07:45] tenzen-y commented on #1775
I built a `katib-controller` image with `alpine:3.15` as the base image and scanned it for vulnerabilities and the problem went away.

[code]

[2022-01-14 14:53] andreyvelich commented on #1775
Thank you for this @Jose-Matsuda!
Probably, we should integrate vulnerabilities scan to our CI in the near future.

[2022-01-14 14:55] #1775 closed

[2022-01-14 14:57] andreyvelich commented on #1776
Thank you for creating this @knkski!
@kimwnasptd Please can you take a look at this issue.

[2022-01-14 15:02] andreyvelich commented on #1778
@longpi1 Please take a look at this doc: https://www.kubeflow.org/docs/components/katib/resume-experiment/#resume-succeeded-experiment.
Suggestion pod is running for restart Experiment feature, you can disable it by specifying appropriate API.

[2022-01-17 16:12] kimwnasptd commented on #1776
Yes, I have it on my radar. I'll try to report back soon within the week.

[2022-01-19 05:29] javen218 commented on #1742
Has this issue been resolved?
Can I mount a pvc into the trial pod of katib and let the training model directly read the dataset placed in this volume?
If so, what configuration do I need to do? Thanks！ @gaocegege @wallacezzzzz007

[2022-01-19 07:37] paipaoso opened #1782 "the namespace in pod is empty"
https://github.com/kubeflow/katib/blob/c22afe9fb550f149c225a999209b4417f14f07c4/pkg/webhook/v1beta1/pod/inject_webhook.go#L75
I get the situtation that pod namespace is empty when edit pod with webhook, but I don't why this happends

[2022-01-19 07:39] #1782 closed

[2022-01-20 03:25] wallacezzzzz007 commented on #1742
This should work, but unfortunately, my code is not working. I'm still waiting the answer. If you find it, plz tell me.

thanks

[2022-01-20 17:34] moorthy156 opened #1785 "Add support to configure kubernetes spec for Suggestion deployment and trial sidecar containers"
/kind feature

**Describe the solution you'd like**
Add support to configure Suggestion deployment and sidecar parameters like security context through config or CR spec. This will enable suggestion to match kubernetes deployment/container offering.

Though some customization is available like resources, this will enable katib to match kubernetes deployment/pod spec

**Anything else you would like

[2022-01-24 09:24] javen218 opened #1789 "Display more detailed information and logs of experiment on the user interface"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We may often meet a situation that everything seems Ok on the UI，the status of experiment and trials are remaining running， but actually there are something wrong have already happened with the experiment and trials.

To determine if everything is ok, we have to use commands like `kub

[2022-01-24 09:28] javen218 commented on #1789
If there already have any convenient way to get error information of experiments, please tell me. Thanks!

[2022-01-24 12:10] kimwnasptd commented on #1789
@javen218 this makes total sense, and it's the direction we are also heading towards. We want users to be able to do every `kubectl` action via the UI, which includes exposing logs, events etc.

We have also started an effort to create distinct pages for each Trial, to expose more such information https://github.com/kubeflow/katib/issues/1763. Next steps we could do in parallel would be exposing e

[2022-01-24 18:36] MasterofBisaster opened #1790 "Example YAMLs runs failing"
/kind bug

**What steps did you take and what happened:**

Whenever I try to use one of the examples YAMLs (random, bayesian, etc) found in this repository, none of the runs succeded. All training containers related to the runs show errors, no output in logs. Most of the metrics-collector-container-logs show similiar outputs to the image below:
![image](https://user-images.githubusercontent.com/40

[2022-01-25 02:37] javen218 commented on #1789
Thank you for your reply! That's great. @kimwnasptd
I'm looking forward to seeing you guys complete these features soon! Thanks!

[2022-01-25 11:23] ashissharma97 opened #1792 "GPU is not utilising while running Katib NAS example"
Hi,
I am running [Katib NAS example](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/nas/enas-gpu.yaml) I have noticed that it is running but it is not able to utilise the GPU of the machine. So I went inside the pod and try to call tensorflow from the pod then I am getting the following error:-

[code]

Please help with this

Thanks

[2022-01-25 20:56] ccastro-pedro opened #1795 "Trial job is succeeded but metrics are not reported, reconcile requeued"
/kind bug

**What steps did you take and what happened:**
I just tried to run the random experiment example, through the Katib UI (I also tried creating an experiment using python, but the same error occurs).

Following the experiment creation with the UI, I only changed the trial template (YAML), with this:

[code]

After a couple of minutes, the pods created by the job terminated, with the statu

[2022-01-29 02:15] anencore94 commented on #1790
![image](https://user-images.githubusercontent.com/37469330/151643279-5ac608eb-cb24-4ea4-a762-165b6bfc883b.png)

I've tested several examples just now, However, It goes well in my test environments.

Could you exmplain more about your os, kubernetes, kubeflow installation ?
It seems to be you may use your cluster in wsl2 in windows from the screenshots.

I've tested with katib v0.12.0, kubeflow v1

[2022-01-31 13:28] valeneiko opened #1799 "NAS Experiment creation generates invalid Experiment YAML (missing numLayers)"
/kind bug

**What steps did you take and what happened:**
- Create Experiment
- Choose `Neural Architecture Search` in `Section 4: Search Algorithm`
- Click `Edit YAML` link at the bottom of the page
- Observe `spec.nasConfig.graphConfig` - it has an invalid `layers` property
- If you sumbit this experiment it will fail to start with an error in the logs `missing property numLayers`

**What did yo

[2022-02-02 14:34] anencore94 commented on #1795
I'm suspicious about any other sidecar was injected or the katib-mysql pod was not healthy.

1. Could you print the result of `kubectl get pod -o wide -n kubeflow-user-example-com` when the pod was running and completed ?

2. Could you print the status and logs of `katib-mysql` in `kubeflow` namespace ?

[2022-02-04 11:52] d-gol commented on #1792
@ashissharma97 you need to mount the nvidia driver and set appropriate environment variables in the YAML.
You can check a full example here: https://github.com/d-gol/kubeflow-examples/blob/main/katib_job_gpu.yaml

Have a look at the lines:
[131](https://github.com/d-gol/kubeflow-examples/blob/main/katib_job_gpu.yaml#L131) - nvidia-driver volume
[153](https://github.com/d-gol/kubeflow-examples/blob

[2022-02-04 15:51] d-gol commented on #1764
@kimwnasptd thank you for creating this issue and organizing the effort!

Let me try to answer your questions to the best of my knowledge:

Yes. There is a label `job-name` in every pod which belongs to a specific trial - https://github.com/kubeflow/common/blob/v0.4.1/pkg/apis/common/v1/interface.go#L30

`job-name` is equal to the `trial-name` - https://github.com/kubeflow/katib/blob/release-0.13/

[2022-02-06 15:09] mgiessing opened #1800 "error when creating "tfjob-example.yaml": admission webhook "validator.experiment.katib.kubeflow.org" denied the reques"
/kind bug

**What steps did you take and what happened:**
Downloaded the `tfjob` example from branch v0.12.0 adjusted it to my user namespace, added section to remove  applied it and got this error:

[code]

**What did you expect to happen:**
I'd expect that the job will be created

**Anything else you would like to add:**

Katbi seems to be running:

[code]

tfjob-example:

[code]

**Environment:

[2022-02-06 18:42] ashissharma97 commented on #1792
@d-gol Thanks for the reply.
I added the above values in the YAML file but getting following error

`Error: failed to generate container "72eba45dbb0be7f31d3894c2bded5cbeafaeabd26852017ebc2b09e6634ed754" spec: failed to generate spec: failed to mkdir "/opt/nvidia-driver": mkdir /opt/nvidia-driver: read-only file system`

[2022-02-07 00:16] mgiessing commented on #1800
Found the issue:
I changed to configmap to point to ppc64le architecture images, but accidentally put too much curly braces there. Adjusting that fixed the issue👍

[2022-02-07 00:16] #1800 closed

[2022-02-07 10:00] d-gol commented on #1792
@ashissharma97  hm, maybe your driver is not installed in `/opt/nvidia-driver`
To debug you could do:

Get k8s nodes:

`kubectl get nodes`

ssh into a GPU node:

`ssh USERNAME@GPU_NODE_NAME`

Make sure the nvidia driver is installed with: `nvidia-smi`
Try to run the training script directly in the node.
Check `PATH` and `LD_LIBRARY_PATH` envs, find where is the driver installed in the node.

Set v

[2022-02-07 14:53] iantowey opened #1801 "trails succeed but"
/kind bug

**What steps did you take and what happened:**
created an experiment with stdout metrics collector, the trail container completes, i see the reqauired metrics printed to stdout, but it looks like the metrics collector sidecar is not injected and experiment hangs on the first n trails

**What did you expect to happen:**
the trials would complete, the metrics would be collected and report

[2022-02-07 16:36] ashissharma97 commented on #1792
Hi @d-gol,
As per this doc https://cloud.google.com/container-optimized-os/docs/how-to/run-gpus even after mounting getting the same error.

I changed "/opt/nvidia-driver" to "/usr/local/nvidia" and changed env variables respectively.

I have one question why do I need to mount the drivers whereas I am installing all Nvidia drivers inside the container. "nvidia-smi" is running inside the pod but i

[2022-02-08 08:00] moey920 opened #1802 "docker run is work. but katib trial don't work"
/kind bug

`Error: failed to start container "tensorflow": Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "--df_me=df_me.pkl": executable file not found in $PATH: unknown`

**What steps did you take and what happened:**
**1. docker build**
[code]

**2. `docker run -it moey920/train_predict_model:latest --df_me df_me.pkl --inp

[2022-02-08 08:02] moey920 commented on #1802
my containerOps's some code about argument:

[code]

[2022-02-08 08:03] moey920 commented on #1802
my pipeline's some code about argument

[code]

[2022-02-08 08:26] moey920 commented on #1802
It seems to be a docker problem, not a katab problem. Sorry for taking your time. If you have any good comments, please leave a comment or close the issue!

[2022-02-08 08:35] moey920 commented on #1802
Container command exec; It was my mistake not to put python. haha sorry ^^;;

[code]

[2022-02-08 08:35] #1802 closed

[2022-02-08 11:03] anencore94 commented on #1801
How did you find the metrics collector sidecar was not injected? If you don't mind, could you share the stdout result of `kubectl get pod` on your namespace ?

Also, could you check the label of your experiment and namespace if they have `katib-metricscollector-injection: enabled`?

[2022-02-08 16:37] d-gol commented on #1792
@ashissharma97, so you are using GCP. In our on-premise cluster, we have drivers installed on the nodes, so we mount them.

On the link you sent (https://cloud.google.com/container-optimized-os/docs/how-to/run-gpus) there is a note:
`NVIDIA GPU drivers: You must install NVIDIA GPU drivers by yourself on your Container-Optimized OS VM instances. This section explains how to install the drivers on C

[2022-02-08 17:29] ashissharma97 commented on #1792
No problem @d-gol, BTW thanks for your help I'll surely check the links you have shared.

[2022-02-08 22:25] iantowey commented on #1801
hey, thanks for getting back

[code]

Added both   "katib-metrics-collector-injection": "enabled", "katib-metricscollector-injection": "enabled" as i seen both around in places

[code]

[2022-02-09 01:56] anencore94 commented on #1801
Thanks for sharing, it definitely seems to be sidecar is not injected well.
Could you print if there is an `katib-metricscollector-injection: enabled` label in your running namespace(`kubeflow`)?
![image](https://user-images.githubusercontent.com/37469330/153107123-bf9b8f38-82b1-4c37-85d1-0ea96f08d90c.png)

Also, could you check if there is an mutatingwebhookconfiguration for metricscollector inje

[2022-02-09 13:02] iantowey commented on #1801
Hey, thanks for the tips (i install everything away and started again)

[code]

[code]

[code]

ran exp described below, still no luck (i run for a few combinations of these values)

[code]

[code]

[2022-02-11 02:03] Tomcli opened #1803 "Webhook mutation and validation is not sending pod events back to Katib controller on OCP 4.8+"
/kind feature

**Describe the solution you'd like**
When deploying Kubeflow 1.4 with Openshift overlays, the Katib webhook mutation and validation is not sending any pod events to the Katib controller. So the metrics collectors are not injected to the trial worker pods. This makes the Trial keep running forever despite the tfjob is finished.

It could be related to https://github.com/kubeflow/kati

[2022-02-11 06:03] maanur commented on #1803
There's a common practice of setting NetworkPolicies that disable inter-namespace communications. Most likely, you are facing that setup.

Try adding these NetworkPolicies to controller's namespace:
[code]
And another one to the "user" namespace (where Experiments are to be created):
[code]

[2022-02-11 17:28] Tomcli commented on #1803
Thanks @maanur, the `NetworkPolicy` helped us to bypass this issue. Now we probably need to find an open source solution to automated this process as part of our Kubeflow install.

[2022-02-11 18:04] andreyvelich commented on #1434
/priority p2

[2022-02-11 18:05] andreyvelich commented on #1437
/priority p2

[2022-02-11 18:06] andreyvelich commented on #1440
/priority p2

[2022-02-11 18:06] andreyvelich commented on #1441
/priority p2

[2022-02-11 18:06] andreyvelich commented on #1763
/priority p2

[2022-02-11 18:08] maanur commented on #1803
The suggestion's NetworkPolicy have to be applied to various user-defined namespaces, so it must be resolved during installation, when the list of user namespaces is known.

I think it can be automated by Kubeflow Operator, though I'm much more interested in bundling Katib to Operator Lifecycle Manager package, as it is more suited to enterprise level OpenShift and Kubernetes cluster management.

[2022-02-11 18:08] andreyvelich commented on #1778
If you have any other questions please reopen this issue.

[2022-02-11 18:10] andreyvelich commented on #1737
/priority p2
/help

[2022-02-11 18:11] andreyvelich commented on #1785
Thank you for creating this @moorthy156!
We have the similar request: https://github.com/kubeflow/katib/issues/1737.
Let's track the progress there.

If you want to help us with this feature that would be amazing!

[2022-02-11 18:11] #1785 closed

[2022-02-11 18:13] andreyvelich commented on #1789
Thank you for creating this @javen218.
Let's track the progress in the corresponding issues.

[2022-02-11 18:13] #1789 closed

[2022-02-11 18:18] andreyvelich commented on #1799
Thank you for testing this @valeneiko!
/priority p1
/cc @kimwnasptd

[2022-02-14 12:30] iantowey commented on #1801
[code]

(master branch)

[2022-02-14 15:14] andreyvelich commented on #1801
Can you show your cluster's webhooks ?
[code]

[2022-02-14 16:20] iantowey commented on #1801
[code]

[2022-02-15 07:52] johnugeorge commented on #1737
I think, this is a valid ask for many deployments. We can provide this as an option. If AlgorithmSpec is provided in Experiment, it is picked up. Else, defaults will be used(like the current)

[2022-02-15 08:07] johnugeorge commented on #1666
Closing this as no update is provided

[2022-02-15 08:07] #1666 closed

[2022-02-15 09:59] johnugeorge commented on #1566
related: #1633

[2022-02-15 09:59] johnugeorge commented on #842
related: https://github.com/kubeflow/katib/pull/1633

[2022-02-15 10:40] johnugeorge commented on #1742
Yes. you could use volumes as in https://github.com/kubeflow/katib/blob/master/examples/v1beta1/kubeflow-training-operator/mxjob-byteps.yaml#L82

[2022-02-15 14:51] #842 closed

[2022-02-15 21:51] iantowey commented on #1801
cluster does not have Istio installed, but still no luck

experiment def

[code]

pod log shows expected output to STDIO

[code]

[2022-02-16 03:06] haoxins opened #1816 "Proposal: change the image tags in the manifests from latest to special versions"
/kind feature

See here, https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/installs/katib-with-kubeflow/kustomization.yaml#L9-L18
I think we should change the image tags to special versions, such as `v0.13.rc.0` and update the tags when we are releasing.
It will break the users' clusters if they deploy their clusters with Argo CD and import the resource from the GitHub url.

---

Lov

[2022-02-16 14:15] andreyvelich commented on #1816
@haoxins We did this for our users who want to deploy the latest Katib changes.
For Argo CD, they can use the release branches, where images have the specific version.
For example, [`release-0.12`](https://github.com/kubeflow/katib/blob/release-0.12/manifests/v1beta1/installs/katib-standalone/kustomization.yaml#L21-L33).

cc @kubeflow/wg-automl-leads

[2022-02-16 14:22] andreyvelich commented on #1801
@iantowey Try to specify `imagePullPolicy: Always` in the [Katib controller](https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/controller/controller.yaml#L25) and redeploy the controller.
Maybe the image has been cached on your cluster.

I believe the defaulter webhook is working, because I can see metrics collector spec in your Experiment:
[code]

[2022-02-16 17:00] haoxins commented on #1816
oh, thanks a lot!

[2022-03-01 13:02] maanur commented on #1639
We use Katib with customized RBAC in a desperate attempt to fit in corporate information security requirements.
Our ClusterRoles are separated: the first declares cluster-level common resources access, the second declares kubeflow.org-only cluster-level access, and the third declares namespace-level rules.

I've never posted it here, because I believe that RBAC manifests should be autogenerated fr

[2022-03-01 16:38] johnugeorge commented on #1639
@maanur Can you create a PR which would be easy to review?

[2022-03-01 18:09] maanur commented on #1639
Ok, I'll create PR after adding some comments to the yaml, but I really see it as a temporary solution.

[2022-03-01 18:22] johnugeorge commented on #1639
I meant,  Do you have a narrowed set of RBAC rules?

[2022-03-02 11:58] #1322 closed

[2022-03-02 11:58] #1536 closed

[2022-03-02 11:58] #1472 closed

[2022-03-02 11:58] #1586 closed

[2022-03-02 11:58] #1587 closed

[2022-03-02 11:58] #1598 closed

[2022-03-02 11:58] #1589 closed

[2022-03-02 11:58] #1607 closed

[2022-03-02 11:58] #1643 closed

[2022-03-02 11:58] #1646 closed

[2022-03-02 11:58] #1673 closed

[2022-03-02 11:58] #1548 closed

[2022-03-02 11:58] #1540 closed

[2022-03-02 15:48] alexec commented on #1698
This was done - thank you!

[2022-03-02 15:48] #1698 closed

[2022-03-02 16:12] tenzen-y commented on #1756
/lifecycle frozen

[2022-03-02 16:13] tenzen-y commented on #1734
/lifecycle frozen

[2022-03-02 16:14] tenzen-y commented on #1664
/lifecycle frozen

[2022-03-02 16:15] tenzen-y commented on #1697
/lifecycle frozen

[2022-03-02 16:44] nbren12 commented on #1536
Has this been fixed? This was the main reason I stopped using katib.

[2022-03-07 01:46] henrysecond1 opened #1830 "Trials are unrecoverable forever when randomly removes them"
/kind bug

**What steps did you take and what happened:**

Created any kind of experiment and run it.
When I randomly removed the trial created by katib controller, it was unrecoverable forever.

Since the experiment controller reconciles trial assignments by only comparing the number of running trials and desired trials, removed trials can not be recovered.
- https://github.com/kubeflow/katib/blo

[2022-03-14 10:35] maanur commented on #1639
Yes, I have, but I'd better suggest a more sustainable solution.

[2022-03-17 22:18] charlescurt commented on #1160
Could you repost this link I have the same issue

[2022-03-21 07:41] sporterman opened #1836 "katib UI cannot collect training results and display, still stop at first 3 trails, (kubeflow 1.5, katib master)"
/kind bug

**What steps did you take and what happened:**
curl https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1beta1/hp-tuning/random.yaml --output random.yaml

download file,  download images, but i can not apply according to the example, because it cannot download datasets in container itself, so i enter the container and download datasets and commit a new imaegs kubeflowkatib

[2022-03-22 00:01] charlescurt opened #1837 "AWS EKS Kubeflow Katib Examples stuck in running (2/3 Ready)"
/kind bug

**What steps did you take and what happened:**
I have been installing and uninstalling kubeflow multiple times now in different ways trying to get Katib to function on the basic examples. I am simply running the base examples, I tried multiple and all have the same issue. This most recent try was with the newer versions of k8 and kubeflow.

My error is something related to the worker po

[2022-03-22 18:19] johnugeorge commented on #1837
Can you try disabling istio for the katib job?

https://www.kubeflow.org/docs/components/katib/hyperparameter/#example-using-random-search-algorithm

[2022-03-22 19:22] johnugeorge commented on #1837
can you provide

`kubectl get experiment -n kubeflow-user-example-com`

`kubectl get trials -n kubeflow-user-example-com`

`kubectl get pods -n kubeflow-user-example-com`

[2022-03-22 19:25] charlescurt commented on #1837
Sure!
<img width="574" alt="Screen Shot 2022-03-22 at 12 24 15 PM" src="https://user-images.githubusercontent.com/98784768/159559614-349cec20-979f-4703-8a75-95037508aede.png">

I also looked into the logs and saw this issue in master on both pytorch and example:
<img width="888" alt="Screen Shot 2022-03-22 at 12 24 58 PM" src="https://user-images.githubusercontent.com/98784768/159559794-d9bad1f6-f

[2022-03-22 19:31] charlescurt commented on #1837
Here is the completed pods and master still running.
<img width="638" alt="Screen Shot 2022-03-22 at 12 31 15 PM" src="https://user-images.githubusercontent.com/98784768/159560798-5427221d-bec2-4153-9fe8-60d3107812eb.png">

[2022-03-22 19:46] charlescurt commented on #1837
PyTorch example addition:
<img width="567" alt="Screen Shot 2022-03-22 at 12 45 57 PM" src="https://user-images.githubusercontent.com/98784768/159563303-b255a111-3c21-480c-9873-f60095b35f94.png">

[2022-03-22 19:58] charlescurt commented on #1836
Same issue, any luck?

I would like to add the log files out of my master pod stuck in the running state.
<img width="888" alt="Screen Shot 2022-03-22 at 12 23 44 PM" src="https://user-images.githubusercontent.com/98784768/159565269-a93e0ecd-d89a-4616-a3d0-88cb6c01ca84.png">

[2022-03-22 20:07] charlescurt commented on #1795
This seems to be the same issue as multiple people. Here is my output from your request as I have the same results as above.

Are these issues all the same problem?
https://github.com/kubeflow/katib/issues/1837
https://github.com/kubeflow/katib/issues/1836
https://github.com/kubeflow/katib/issues/1830

<img width="1199" alt="Screen Shot 2022-03-22 at 1 02 25 PM" src="https://user-images.githubuser

[2022-03-22 20:38] charlescurt commented on #1801
@andreyvelich  @iantowey
Hi is this the same issue as these? This issue is pretty old has there been anyone that has found a solution to this?

https://github.com/kubeflow/katib/issues/1795
https://github.com/kubeflow/katib/issues/1837
https://github.com/kubeflow/katib/issues/1836
https://github.com/kubeflow/katib/issues/1830

[2022-03-23 02:35] PatrickXYS opened #1838 "Optional-test-infra Deprecation Notice - Katib"
This issue serves as Katib sub-issue of the main issue: https://github.com/kubeflow/testing/issues/993.

TLDR: Katib WG should start to research and choose a preferable testing solution for the E2E testing use case before June 2022.

/cc @kubeflow/wg-automl-leads

[2022-03-23 05:49] johnugeorge commented on #1837
Few things to be noted

Random example is not a distributed job. It is a just a batch job `Job`

Trials are not getting completed but corresponding jobs are completed. The likely reason is that metrics are not reported.

I see that metrics collector container is missing in the training pod(Only 1 container as per your latest comment).However, in your earlier comment  https://github.com/kubeflow/ka

[2022-03-23 05:52] johnugeorge commented on #1836
Please use the same issue to report all status #1837

[2022-03-23 05:54] johnugeorge commented on #1837
Logs that you have provided does not report any error.

To debug,

1. Please check why metrics collector was not created.
2. Please check the status and logs of katib-mysql pod.

[2022-03-23 09:24] wyljpn commented on #1045
I have been using Kubeflow v1.3.0.
In the beginning, I also encountered the same issue.
After changing the image versions of **metrics-collector-sidecar** from v0.11.0 to the latest, Katib works well.
[code]
https://github.com/kubeflow/manifests/blob/v1.3-branch/apps/katib/upstream/components/controller/katib-config.yaml

![image](https://user-images.githubusercontent.com/37242439/159666088-b6b66e

[2022-03-23 09:45] iant04128591 commented on #1801
In my case the issue was due to the networking policies of the network kubernetes on.
https was blocked traffic on the kubernetes subnet. Adding the subnet to the firewall rules resolved issue.

[2022-03-23 09:46] iantowey commented on #1801
In my case the issue was due to the networking policies of the network was deployed kubernetes on.
https was blocked traffic on the kubernetes subnet. Adding the subnet to the firewall rules resolved issue.

[2022-03-23 16:14] johnugeorge commented on #1801
Since the reported issue is unrelated to Katib, closing this issue

/close

[2022-03-24 15:12] charlescurt commented on #1837
I appreciate your help. I am unsure what caused this issue. You are correct that the metrics collector was having problems, as was katib-mysql. I got a lot of errors around TCP timeouts. However, unlike the other comments of a similar situation, I allowed all traffic on my firewalls.

I did a complete reset, and everything started to work this time. I did fall back to k8's 1.19 when I remade the c

[2022-03-25 04:00] johnugeorge commented on #1837
Can you close this PR if issue is resolved?

[2022-03-25 06:55] johnugeorge commented on #1836
@sporterman Can you close this issue as issue is not valid anymore?

[2022-03-25 16:54] #1837 closed

[2022-04-06 09:03] johnugeorge commented on #1836
Closing this issue as it works now

[2022-04-06 09:03] #1836 closed

[2022-04-06 09:21] johnugeorge commented on #1774
Closing this issue as 0.13 is released

[2022-04-06 09:21] #1774 closed

[2022-04-07 22:33] alexeygorobets opened #1844 "Trial name could not be passed to env"
/kind bug

**What steps did you take and what happened:**
I am trying to get access to the trial name from the trial's pod (I need it to build S3 bucket path for trained model).
I follow [this example](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/trial-template/trial-metadata-substitution.yaml#L69).
But I've got an error
[code]

This example itself does not work.

**What did you

[2022-04-10 12:10] wenxinax commented on #1844
same problem...

[2022-04-11 11:45] johnugeorge commented on #1844
This needs to be fixed.

[2022-04-11 11:56] johnugeorge commented on #1844
Validation added in https://github.com/kubeflow/katib/pull/1726 needs to be extended to reserved keywords as well

[2022-04-11 12:03] johnugeorge commented on #1844
/cc @henrysecond1

[2022-04-11 18:09] Efthymios-Stathakis opened #1846 "Data passing to Katib experiments as components of kubeflow pipelines."
/kind feature

**Describe the solution you'd like**
Enable data passing into a Katib component, from previous and/or to later kubeflow pipeline components without the use of persistent volumes, to be able use it as part of a portable Kubeflow pipeline (KFP). This way, the Katib-based component will maintain an isolated functionality namely to do the hyper-parameter tuning, leaving data loading and

[2022-04-12 03:21] henrysecond1 commented on #1844
I'm sorry that I didn't consider the parameter substitution case.

As @alexeygorobets said, I think we can skip parameter reference checking when it's a trial metadata. Please let me know if there's anything I can help with.

[2022-04-12 12:02] nielsmeima opened #1847 "Experiment stuck due to hitting `Suggestion` custom resource size limits"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Submitting a large (i.e. resulting in a large number of trials, in this case ~14500 with 4 hyperparameters with 10/11 values per hyperparameter) experiment results in the `Suggestion` custom resource reaching the size limits of custom resources dictated by Kubernetes due to all suggestio

[2022-04-13 02:56] johnugeorge commented on #1847
Thanks for creating this issue.  Can you provide more info about the experiment yaml and other relevant information for reproducibility?

MaxTrials - 14500
Parameter1, Parameter2, Parameter3, Parameter4 - 11 values each
ParallelTrials - ?

[2022-04-13 07:17] nielsmeima commented on #1847
Yes, please see below for the experiment `yaml` as well as the other dependencies to be able to reproduce the experiment. I create a configmap `k create configmap script --from-file=run.py=run.py` based on a `run.py` file to mock my actual implementation (but this also results in the same issues). The configmap then gets mounted in the main container of the experiment taking in the parameters and

[2022-04-16 07:56] #1750 closed

[2022-04-16 07:56] #1733 closed

[2022-04-16 07:56] #1544 closed

[2022-04-16 07:56] #1551 closed

[2022-04-16 07:56] #1647 closed

[2022-04-16 07:56] #1723 closed

[2022-04-16 07:57] #1693 closed

[2022-04-16 07:57] #1682 closed

[2022-04-16 07:57] #1686 closed

[2022-04-16 07:57] #1736 closed

[2022-04-16 07:57] #1735 closed

[2022-04-16 07:57] #1745 closed

[2022-04-16 07:57] #1748 closed

[2022-04-16 07:57] #1747 closed

[2022-04-17 12:44] #1830 closed

[2022-04-17 12:52] #1844 closed

[2022-04-19 03:23] johnugeorge commented on #1776
/cc @kimwnasptd

[2022-04-20 21:44] knkski opened #1850 "Support Experiment Templates"
/kind feature

**Describe the solution you'd like**

Would it be possible to support Experiment templates? The use case I'm facing is that the new UI is quite slick for defining everything for creating a new experiment. However, it looks like the [default values are hardcoded](https://github.com/kubeflow/katib/blob/master/pkg/new-ui/v1beta1/frontend/src/app/services/experiment-form.service.ts), an

[2022-04-21 05:40] himkt opened #1851 "Upgrading Optuna from v2.x.x to v3.0.0"
/kind feature

(Sorry but it is not a feature request)

Related: optuna/optuna#2941

Thank you for integrating Optuna for the hyperparameter optimization feature. We, Optuna dev-team, are working on the next major version of the library Optuna v3. In Optuna v3, we will deprecate distributions used in:

https://github.com/kubeflow/katib/blob/7f1afbdaa93591baefdc6ef29afe5a5f2ce5e95b/pkg/suggestion/v

[2022-04-21 18:22] johnugeorge commented on #1851
Thanks @himkt for reporting this

[2022-04-21 20:27] ramdootp commented on #1737
@andreyvelich @johnugeorge would need this feature for our deployments. which katib release will have this feature implemented?

[2022-04-23 14:52] hongjunGu2019 commented on #1382
@andreyvelich Hello, I am very interested in this proposal. May I ask when it will be launched and how can I participate

[2022-04-23 18:17] romeokienzler commented on #1382
@ezioliao

[2022-04-24 07:04] johnugeorge commented on #1382
@hongjunGu2019 Please see #1833

[2022-04-25 07:58] zoefyz12 opened #1855 "How to customize/specify Katib namespace in UI"
In katib UI, I want to specify a namespace and don't allow user choose namespace. I can easily remove the namespace selection bar but hard to create a namespace object. I find **namespace** is defined from kubeflow library, if I want to define and create a **namespace** object, how to do it? And if I done create a namespace object, is it possible to use it communicate with backend?

Example:
[code

[2022-04-25 12:01] johnugeorge commented on #1855
Are you using default multi tenant kubeflow installation?

related: https://github.com/kubeflow/kubeflow/issues/5566

[2022-04-25 19:07] hongjunGu2019 commented on #1382
Thanks

[2022-04-25 19:08] hongjunGu2019 commented on #1382
Thanks

[2022-04-27 09:07] haoxins opened #1856 "[Feature] Add Helm supports"
/kind feature

Can we add Helm supports just like what KServe did?

See https://github.com/kserve/kserve/pull/1878

- It will help the users to customize the installation more easier. Such as
  1. The live/ready probes
  2. The MySQL version
  3. Others

---

Love this feature? Give it a 👍 We prioritize the features with the most 👍

[2022-04-27 10:31] gaocegege commented on #1856
/cc @kubeflow/wg-automl-leads

I remember that we maintained a helm chart before. Then we removed it after we migrated to ksonnet in the kubeflow community

[2022-04-27 11:02] johnugeorge commented on #1856
In kubeflow release, plain manifests are used for installation. https://github.com/kubeflow/manifests   In each KF release, katib manifests are synced upstream automatically.

The concern  in having  helm charts  is the overhead in maintaining them in extra to plain manifests

[2022-04-27 12:41] zw0610 commented on #1856
Are you referring the correct issue from training-operator?

[2022-04-27 15:11] haoxins commented on #1856
I deployed the Kubeflow by Argo CD and have a fork version of https://github.com/argoflow/argoflow-gcp inside my company.
I agree that it's overhead if we maintain both the Helm charts and plain manifests so that I open this issue after the KServe community has supported Helm.

I think the Helm is adopted by more and more cloud native components and it will made the kubeflow-manifests project more

[2022-04-29 10:52] Christian-Jansen commented on #1441
Hello and thank you for the great work so far!
Are there currently any plans to implement this feature in the near future?

[2022-05-01 03:38] tenzen-y commented on #1734
I take this issue.
/assign

[2022-05-01 11:31] gaocegege commented on #1734
Thanks for your contribution! :tada: :+1:

[2022-05-02 09:02] johnugeorge commented on #1734
/lgtm

@gaocegege Can you review this as well?

[2022-05-02 16:29] tenzen-y commented on #1734
Thanks, @johnugeorge!
#1857 resolves this issue.

[2022-05-03 01:16] gaocegege commented on #1734
Thanks for your contribution!

I reviewed and merged it. Can we close the issue, or is there anything we should do next?

[2022-05-03 02:42] tenzen-y commented on #1734
Thanks for your review @gaocegege !
I'd like to create another issue to track [this feature](https://github.com/kubeflow/katib/issues/1734#issuecomment-972703530).

[2022-05-03 02:42] tenzen-y commented on #1734
/close

[2022-05-03 02:42] #1734 closed

[2022-05-03 04:34] tenzen-y opened #1858 "Failed to start envtest on Mac with macOS 12 Monterey"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I run `make test`, etcd does not start and the test crashes.

[code]

<details>
<summary>stacktrace</summary>

[code]

</details>

According to the [Go upstream wiki,](https://github.com/golang/go/wiki/MacOS12BSDThreadRegisterIssue#introduction) macOS Monterey has discontinued suppo

[2022-05-03 04:35] tenzen-y commented on #1858
We may have to consider upgrading the kubebuilder version from v2.3.0 to v3.x.y.

/cc @kubeflow/wg-automl-leads

[2022-05-03 13:45] tenzen-y opened #1859 "Add linter for Kubernetes manifests"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As discussed in [this](https://github.com/kubeflow/katib/issues/1734#issuecomment-972703530), it would be better to verify the format of all Kubernetes manifests in this repo by [`yamllint`](https://github.com/stackrox/kube-linter).

**Anything else you would like to add:**
[Miscellan

[2022-05-03 13:46] tenzen-y commented on #1859
/cc @anencore94

[2022-05-03 14:33] deinal opened #1860 "Metrics collector fails for long-running PyTorchJob"
/kind bug

**What steps did you take and what happened:**
When a PyTorchJob trial that takes longer than ~1-2 minutes to run finishes the metrics collector throws `unable to find main pid from the process list` (https://github.com/kubeflow/katib/blob/v0.12.0/pkg/metricscollector/v1beta1/common/pns.go#L108)

[code]

**What did you expect to happen:**
I expected the trial to complete and the next on

[2022-05-03 16:45] tenzen-y commented on #1858
Since kubebuilder supports K8s v1.22 in v3.2.0, I will upgrade kubebuilder version to v3.2.0.

/assign

(go/v3) update deps to use k8s 1.22 (https://github.com/kubernetes-sigs/kubebuilder/pull/2340)
This is only a breaking change if using v1beta1 CRDs or webhook configs

https://github.com/kubernetes-sigs/kubebuilder/releases/tag/v3.2.0

[2022-05-08 16:49] juliusvonkohout commented on #1639
What do you have in mind?

[2022-05-11 19:41] knkski opened #1863 "Support status.phase or similar field"
/kind feature

**Describe the solution you'd like**

I have an Argo Workflow that creates a Katib Experiment and waits for it to finish. I could not figure out how to use Argo's built-in `resource` template to do so, as seen here:

https://github.com/argoproj/argo-workflows/blob/master/examples/k8s-wait-wf.yaml

Specifically, I was trying to set `successCondition` and `failureCondition`, and could

[2022-05-11 20:08] knkski opened #1864 "Support hierarchical hyperparameter combinations"
/kind feature

**Describe the solution you'd like**

I'd like to be able to do hyperparameter tuning over a hierarchical hyperparameter space. Specifically, I'd like to be able to do something like this Optuna example:

https://github.com/optuna/optuna-examples/blob/main/sklearn/sklearn_simple.py#L24-L32

Where first a particular classifier is chosen, and then relevant hyperparameters for the chos

[2022-05-13 16:02] knkski commented on #1769
I'm also getting this error periodically with the default metrics collector image on x86:

[code]

This was with the `StdOut` collector:

[code]

[2022-05-17 12:13] #1856 closed

[2022-05-21 05:33] xwyangjshb commented on #1156
我的情况不太一样，发现有两个版本mysql, 直接把8降低为5.7 ，

[code]

[2022-05-22 09:35] tenzen-y opened #1868 "Remove codes installing Go v1.17 on the `kubeflow-katib-presubmit` env"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

As discussed in https://github.com/kubeflow/katib/pull/1861, we must remove codes installing Go v1.17 on the `kubeflow-katib-presubmit` env after the changes on https://github.com/kubeflow/testing/pull/974 are reflected in the `public.ecr.aws` registry.

https://github.com/kubeflow/ka

[2022-05-22 09:35] tenzen-y commented on #1868
/cc @johnugeorge

[2022-05-22 18:33] #1858 closed

[2022-05-25 06:24] henrysecond1 opened #1873 "additional metric names should not include objective metric name"
/kind bug

**What steps did you take and what happened:**

Deploy an experiment which `spec.objective.additionalMetricNames` contains `spec.objective.objectiveMetricName`.

<img src="https://user-images.githubusercontent.com/16417183/170190160-918894d6-c837-45c2-b8b8-614c1bbef437.png"  height="200" />

The experiment is created, but you can see nothing on the experiment UI, like below.

<img src="

[2022-05-25 11:28] #1873 closed

[2022-05-27 00:04] spatre opened #1876 "metricStrategies doesn't seem to work correctly"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I ran an experiment(random.yaml) with the below metricStrategies. I basically used "latest" value for both Validation-accuracy and Train-accuracy under **metricStrategies**.
<img width="598" alt="image" src="https://user-images.githubusercontent.com/25424489/170597487-e0e0fba0-0ad9-4f47-

[2022-05-30 19:54] tenzen-y opened #1878 "Migrate kubeflow-katib-presubmit to GitHub Actions"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As described in https://github.com/kubeflow/katib/pull/1877#issuecomment-1140715656, we need to migrate our `kubeflow-katib-presubmit` test to Github Actions from kubeflow test-infra since it has been removed from the prow.

/cc @kubeflow/wg-automl-leads

**Anything else you would like

[2022-05-31 09:12] elenzio9 opened #1879 "Recreate the Experiments Parallel Coordinates Graph"
/kind feature

Currently, the code for that graph is unmaintainable and the corresponding script is more than 2000 lines of code, which does not allow us to reuse any of its logic for anything similar.

![image](https://user-images.githubusercontent.com/87971102/171134185-3a952556-2e9b-4d40-a231-929db98e302e.png)

After some discussion with @kimwnasptd we decided to rework this part of the code us

[2022-05-31 11:17] johnugeorge commented on #1878
Related: https://github.com/kserve/kserve/pull/2206

[2022-06-03 20:17] tenzen-y opened #1883 "Upgrade Python and Pytorch version in container image for pytorch-mnist example"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As discussed in https://github.com/kubeflow/katib/pull/1882#discussion_r889196264, we need to upgrade Python and Pytorch version.

/cc @johnugeorge

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

---

Love this feature? Give

[2022-06-03 20:55] #1838 closed

[2022-06-06 04:50] #1878 closed

[2022-06-08 04:22] #1343 closed

[2022-06-10 03:30] a9p opened #1893 "Separate suggestion volume reconcile from resumePolicy"
/kind feature

**Describe the solution you'd like**
Volumes used by Suggestion services (e.g. PBT) currently rely on `resumePolicy` to be `FromVolume` to run properly. As the Suggestion volumes always need to be mounted, it should be independent of the `resumePolicy` field.

**Anything else you would like to add:**
Discussion around requested change: https://github.com/kubeflow/katib/pull/1833#dis

[2022-06-14 04:28] PatrickXYS opened #1896 "Deprecate kubeflow/katib ECR repos"
/kind bug

**What steps did you take and what happened:**
As a post item of deprecating optional-test-infra, we'll deprecate kubeflow/katib ECR repos provided by optional-test-infra.
Serves as sub-issue of https://github.com/kubeflow/testing/issues/1008

**What did you expect to happen:**
Deprecate kubeflow/katib ECR repos provided by optional-test-infra

Repo List:
**kubeflow/katib**: `8092510829

[2022-06-14 17:51] tenzen-y commented on #1649
/reopen

[2022-06-14 18:20] johnugeorge commented on #1649
We need to inspect if we have a better solution with gingko v2

[2022-06-14 18:23] tenzen-y commented on #1649
I agree with you.
We can take it after the next release.

[2022-06-19 16:04] tenzen-y opened #1900 "Support multi CPU architectures (amd64 and arm64) in all container images with one image tag"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As discussed In [this](https://github.com/kubeflow/katib/pull/1898#discussion_r897557325), we need to make all container images compatible with multi-CPU architectures (amd64 and arm64) with one image tag.

ref: https://docs.docker.com/desktop/multi-arch/

**Anything else you would lik

[2022-06-19 23:45] gaocegege commented on #1900
The change is subtle and the benefit is huge!

[2022-06-22 15:50] #1859 closed

[2022-06-22 17:22] tenzen-y opened #1904 "Remove unused `pkg/suggestion/v1beta1/bayesianoptimization`"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
There are Python codes for the bayesian optimization suggestion service in [`pkg/suggestion/v1beta1/bayesianoptimization`](https://github.com/kubeflow/katib/tree/master/pkg/suggestion/v1beta1/bayesianoptimization), but since their codes are unused anywhere, not tested, and no exist Doc

[2022-06-23 06:56] farisfirenze opened #1905 "Metrics not reporting to Katib server - experiment timing out"
I am trying to create an experiment in kubeflow pipeline using python where I can hyperparameter tune an simple script. I want to use Katib to tune the hyper parameter using python (not by applying YAML file). The problem is that I cant report the metrics to katib server. Since the report is not happening, the experiment is timing out. So I need some help from the community.

Here is what I have t

[2022-06-23 09:06] johnugeorge commented on #1905
Can you provide

`kubectl get trials -n kubeflow`
`kubectl get tfjobs -n kubeflow`
`kubectl get pods -n kubeflow`

Can you also provide final experiment config by kubectl get experiment -o yaml ? I can try reproducing it

[2022-06-23 09:21] farisfirenze commented on #1905
[code]

[code]

[code]
[code]

[2022-06-23 19:35] johnugeorge commented on #1905
Your experiment seems to be in the kubeflow namespace. Can you provide `kubectl get experiment -o yaml -n kubeflow`

I see that you use Katib from master branch, while training operator from 1.3 release.
Can you try latest released versions? Katib v0.13.0 and training operator v1.4.0    There were few changes in labels from operator side. https://github.com/kubeflow/katib/releases/tag/v0.13.0

[2022-06-24 04:51] farisfirenze commented on #1905
(base) jupyter@tensorflow-2-6-new:~/katib/boston/sample_gke$ kubectl get experiment -o yaml -n kubeflow
apiVersion: v1
items:
- apiVersion: kubeflow.org/v1beta1
  kind: Experiment
  metadata:
    creationTimestamp: "2022-06-23T05:55:21Z"
    finalizers:
    - update-prometheus-metrics
    generation: 1
    name: tf-test-2
    namespace: kubeflow
    resourceVersion: "6748"
    uid: 31011d70-19b1-4

[2022-06-26 13:09] tenzen-y commented on #1883
Also, we need to upgrade the python and Pytorch versions for darts-cnn-cifar10.

/assign

[2022-06-27 02:56] PatrickXYS commented on #1896
@andreyvelich  Hey Andrey, I believe Katib is not using the above repos since I didn't see any version tags attached to the image, e.g, `v1.1`, `v1.2`, etc.

Could you help confirm on Katib side? Thanks!

[2022-06-28 06:15] farisfirenze opened #1907 "Not getting in to the container - Pod terminating immediately"
/kind bug

I am trying to create a Kubeflow pipeline that needs to run in Google Kubernetes Engine. The main goal of this pipeline is to tune the hyperparameter of a model using katib. The problem is that katib doesnot get into the container [main training code]. The pipeline executes successfully but the best parameter JSON is an empty JSON file. This is because my training container does not get

[2022-06-28 06:19] farisfirenze commented on #1905
The problem was fixed after installing the specified versions. Thank you.

[2022-06-28 06:20] #1905 closed

[2022-06-28 06:41] tenzen-y commented on #1907
Thanks for creating this! @farisfirenze
Could you show me information for Trial Pod with `kubectl describe pods <your trial pod name> -n kubeflow` and Kubeflow Namespace with `kubectl describe namespace kubeflow`?

[2022-06-28 07:39] farisfirenze commented on #1907
mercari-exp-1-random pod details

[code]
main pipeline stage trial pod
[code]

[code]

[2022-06-28 11:41] johnugeorge opened #1908 "Release v0.14.0 tracking"
This PR is tracking new release v0.14.0 and related pending  issues

Related: https://github.com/kubeflow/manifests/issues/2195

[2022-06-28 11:49] johnugeorge commented on #1908
Pending issues for RC0 cut

1.  https://github.com/kubeflow/training-operator/issues/1622
2. https://github.com/kubeflow/katib/pull/1783

[2022-06-28 11:50] #1883 closed

[2022-06-28 11:54] johnugeorge commented on #1908
3. https://github.com/kubeflow/katib/pull/1828

[2022-06-28 13:07] tenzen-y commented on #1907
Thanks, @farisfirenze.
It seems that both of `mercari-exp-1-random` and `mercari-gke-standalone-v1-4sr4v-639169855` are not Trial Pod.
Maybe, your Trial Pod's name starts with `mercari-exp-1` and holds `xgboost` container.

Also, can you show me the condition of the Trial resources with `kubectl get trials -n kubeflow -o wide`?

[2022-06-29 06:02] farisfirenze commented on #1907
Hi, the trial pods keeps terminating and I was able to execute the command before it terminated.

[code]

Also the get trials output
[code]

The pods terminated and this was the output then

[code]

[2022-06-29 06:38] johnugeorge commented on #1907
You can set cleanPodPolicy to Never to keep the pods   https://github.com/kubeflow/training-operator/blob/master/examples/mxnet/train/byteps_dist_gpu_v1.yaml#L8

[2022-06-29 07:44] farisfirenze commented on #1907
I have set the cleanPodPolicy in training job to Never as you suggested.

[code]

and I ran these commands

[code]

The worker pods are still disappearing after sudden termination.

[2022-06-29 08:13] johnugeorge commented on #1908
4. https://github.com/kubeflow/katib/pull/1909

[2022-06-29 12:30] #1763 closed

[2022-06-29 15:55] johnugeorge commented on #1908
3 is not considered for this release

Ref: https://github.com/kubeflow/manifests/issues/2207#issuecomment-1169854274

[2022-06-30 04:23] farisfirenze commented on #1907
The example you provided works for me but the problem is with the katib executing my training container. I fear there is something wrong with the way the dockerfile is created because the katib doesn't get into the container at all. I have tried examples throughout the internet and it works.

Also, please note that, it was working two days ago but now, for some reason, it just stopped working. I a

[2022-06-30 06:18] johnugeorge commented on #1907
The problem is with your container image and not with katib.  You can run XGBoostJob separately and you should be able to reproduce the problem.

[2022-06-30 14:02] johnugeorge commented on #1908
Katib v0.14.0 RC0 is created from release-0.14 branch
https://github.com/kubeflow/katib/releases/tag/v0.14.0-rc.0

Katib SDK v0.14.0 RC0 is out
https://pypi.org/project/kubeflow-katib/0.14.0rc0/

[2022-07-01 05:05] farisfirenze commented on #1907
Can you make out whats wrong with the container because I am not sure what is wrong ?

[2022-07-03 18:59] #1896 closed

[2022-07-07 05:42] farisfirenze opened #1913 "Katib not reporting metrics to Katib Server"
/kind bug

I am trying to create a kubeflow pipeline with just one stage, i.e. Hyperparameter tuning using Katib on a GKE cluster. The problem is that the metrics is not reporting when I add any heavy line of code like downloading a dataset. I am attaching the codes below:

pipeline code :
[code]
hyper_image_uri = gcr.io/........./hptunekatibclient:v3

[code]

hyper_image_uri_train = gcr.io/......

[2022-07-08 02:35] spots107 commented on #1638
/reopen

[2022-07-08 06:55] romeokienzler opened #1914 "Add support for entire kubeflow pipelines as trial target (in addition to containers)"
/kind feature

**Describe the solution you'd like**
Hyper parameters not only affect the training step but also upstream pipeline components like feature transformation for example (e.g. parameters of a normalization transformation). In addition, transformation and training steps should be able to make use of kfp's parallel components (e.g. SparkJob, TFJob, ...). It would be helpful to not only al

[2022-07-11 05:03] spots107 commented on #1638
@anencore94 what do you think about re-opening this feature?

[2022-07-11 05:06] anencore94 commented on #1638
Thanks @spots107
I guess this issue is not resolved yet.
/reopen

[2022-07-11 13:08] farisfirenze opened #1915 "GPU not consuming for Katib experiment - GKE Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory"
/kind bug

**What steps did you take and what happened:**
I am trying to create a kubeflow pipeline that tunes the hyper parameters of a  text classification model in tensorflow using katib on GKE clusters. I created a cluster using the below commands

[code]

I then created a kubeflow pipeline:
[code]

These are my two continers.
1. To launch the katib experiments based on the specified parameter

[2022-07-11 18:31] johnugeorge commented on #1915
The problem is with the image that you have created. It is not with Katib.  Did you use GPU drivers in the image?

[2022-07-12 04:36] farisfirenze commented on #1915
I am able to execute "nvidia-smi" on the image and get the correct output. For this to happen, shouldnt the drivers be installed in the image ? Just to be sure, can you provide me with details on how to use GPU drivers in the image ?

[2022-07-12 17:45] johnugeorge commented on #1915
You can use Nvidia NGC containers based on your framework https://catalog.ngc.nvidia.com/containers

[2022-07-13 02:06] sachdevayash1910 commented on #843
Updating this thread with the right command in case someone lands here from a search:
`kubectl -n ${NAMESPACE} create rolebinding katib-editor --clusterrole=katib-controller --serviceaccount=${NAMESPACE}:default-editor `

[2022-07-13 06:32] farisfirenze commented on #1915
I have tried using the Nvidia NGC containers as mentioned below

[code]
PS : I have pulled the same image in both the containers of my pipeline

but I am still getting this problem
![image](https://user-images.githubusercontent.com/47142325/178665827-60aa5cf4-2e5a-4eb0-be7b-8fc6c1dd7a82.png)

[2022-07-14 10:13] romeokienzler commented on #1914
Just digged in a little more - actually IMHO we need a new [TrialTemplate](https://www.kubeflow.org/docs/components/katib/trial-template/) - as Argo and Tekton are already supported I'll go for one of those initially...

[2022-07-15 11:09] johnugeorge commented on #1915
This is mot specific to Katib. It means that trials could not find a node which satisfies these resource requirements to start the pod
One thing to note:  When you add resource requirements to trial spec, every trial pod will try to request the same set of resources when run in parallel. Eg: If trialSpec has 1 GPU requirement and if experimentSpec allows 3 parallelTrials, then each trial pod will

[2022-07-19 06:19] tenzen-y commented on #1908
@andreyvelich @johnugeorge @gaocegege @anencore94
Maybe, I think that we need to remove the `request_number` gRPC API in our v0.14 release.

ref: https://github.com/kubeflow/katib/pull/1728#issuecomment-959328401

WDYT?

[2022-07-19 06:46] gaocegege commented on #1908
@tenzen-y

LGTM, I think it is a huge tech debt.

[2022-07-19 09:28] anencore94 commented on #1908
@tenzen-y SGTM :) it's time to remove it

[2022-07-19 15:12] johnugeorge commented on #1908
Shall we takeout up in the next release ?

[2022-07-19 16:41] tenzen-y commented on #1908
@johnugeorge I see.
It might be better to postpone removing the deprecated gRPC API since removing it is a breaking change.

[2022-07-26 10:37] ekesken opened #1919 "list_trials function do not respect experiment name filter"
/kind bug

**What steps did you take and what happened:**

`KatibClient.list_trials` function is broken, it no more respects to the experiment name parameter, it returns all the existing trials for all the experiments.  As you'll see `name` parameter is only used in the Exception message now.

**What did you expect to happen:**

I expect it to return the filtered trails of the experiment whose nam

[2022-07-27 06:35] johnugeorge commented on #1919
Thanks for reporting this.

/cc @anencore94

[2022-07-27 06:51] anencore94 commented on #1919
Thanks for checking :+1:  I'll check and fix this soon. @ekesken @johnugeorge

[2022-07-27 06:51] anencore94 commented on #1919
/assign @anencore94

[2022-07-28 01:44] javen218 commented on #915
It is great if katib and pipeline support postgreSQL database! Is there any plan to make database optional? @gaocegege @andreyvelich

[2022-07-28 03:15] Edward-liang commented on #915
MySQL is no longer best choice for many, since purchased by Oracle Company.
The cake of Kubeflow is free, except the MySQL piece. And this makes us hesitate to introduce kubeflow into our project.

[2022-07-28 03:24] gaocegege commented on #915
/cc @johnugeorge

[2022-07-29 04:16] johnugeorge commented on #915
@Edward-liang  @javen218  Katib can be configured to have any backend DB. It can be supported by implementing this interface for any DB- https://github.com/kubeflow/katib/blob/master/pkg/db/v1beta1/common/kdb.go and use the DB in the manifests - https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/db-manager/db-manager.yaml#L26   We can aim it for next release.  It would be g

[2022-07-29 10:55] javen218 commented on #915
Thank you very much for your reply！ @johnugeorge @gaocegege
We are highly looking forward to seeing this new feature in the next release!!!

[2022-07-30 06:16] anencore94 commented on #915
If you guys think it is worth enough. I could try working on supporting Postgres as a katib db-manager's built-in feature.
Even though katib already supports the interface for general DB, it could be some time-consuming job to many users if they should implement for themselves.
WDYT? @kubeflow/wg-automl-leads

[2022-07-30 10:03] #1919 closed

[2022-07-31 00:58] gaocegege commented on #915
@anencore94 Thanks for your contribution! I agree with you.

[2022-08-01 15:38] johnugeorge commented on #915
Thanks @anencore94

[2022-08-04 07:15] pod3275 opened #1922 "Plan to support Java SDK"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I want to put HPO in my own MLOps platform through Katib.
I currently use Java Spring for backend service, but Katib supports only Python SDK.
I know it supports the gRPC API, but it has limitations to use (ex. Creating new experiment).

<br>

**Anything else you would like to add:**

[2022-08-06 20:03] AlexandreBrown opened #1923 "Metrics can go out of view when visualizing experiment metrics"
/kind bug

**What steps did you take and what happened:**
It appears that metrics can go outside the viewport when visualizing katib metrics.
![image](https://user-images.githubusercontent.com/26939775/183264414-7888fd40-f966-4c62-8997-a67cb2baf34f.png)

**What did you expect to happen:**
I expected the metrics to be bounded by the viewport so that they are always visible (we should always be able

[2022-08-07 12:44] tenzen-y commented on #1126
I take this issue about optuna.

[2022-08-08 23:33] AlexandreBrown commented on #1915
You need to use `nvidia.com/gpu: true` instead, here is a working example for me :
[code]

[2022-08-13 18:47] tenzen-y commented on #1126
I take darts.

[2022-08-15 05:31] r-matsuzaka opened #1927 "How to use LightGBM with Katib?"
/kind feature

**Describe the solution you'd like**
I want to use LightGBM with `Katib` and found [this yaml file](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/kubeflow-training-operator/xgboostjob-lightgbm.yaml) and [merged PR](https://github.com/kubeflow/katib/pull/1603).
Can you tell me how  to run LightGBM jobs with this yaml?

**Anything else you would like to add:**
[Miscel

[2022-08-15 06:46] techwolf139 opened #1928 "Try to add a cmd line arg on 'connectTimeout ' to satisfy low performance storage."
/kind feature

When using some old storage, katib-mysql may init fail.
when init kubeflow on some TCP net disk or glusterfs(with TCP).

the mysql.go init connectTimeout  is set to 60 sec.

May add a arg on this timeout setting.

So user can set a longer time on init katib-mysql.

---

Love this feature? Give it a 👍 We prioritize the features with the most 👍

[2022-08-15 06:49] techwolf139 commented on #1928
In my case , i think the
katib-db-manager

will auto exit with in 60 sec, what erver the pod setting.

[2022-08-15 10:00] tenzen-y commented on #1928
Thanks for requesting new feature!
I would like to implement this after #1921 is merged.

[2022-08-17 03:46] johnugeorge commented on #1928
Thanks @tenzen-y

[2022-08-17 04:22] johnugeorge commented on #1927
You need to install kubeflow training operator which supports XGBoostJob

[2022-08-17 04:27] r-matsuzaka commented on #1927
Thank you very much.
So you mean XGBoostJob supports LightGBM, right?

[2022-08-17 06:10] johnugeorge commented on #1795
This is typically a Katib deployment or Experiment config issue.

**Adding steps to debug for future ref**

An experiment spawns multiple trials. For each Trial, a worker Job is created from the TrialSpec of the Experiment Yaml. See
https://github.com/kubeflow/katib/blob/master/examples/v1beta1/hp-tuning/random.yaml#L49.  When worker Job is created, a metrics collector sidecar is created. Once wor

[2022-08-17 07:04] tenzen-y commented on #1795
As described by @johnugeorge, katib-controller adds `MetricsUnavailable` status to your Experiment and Trial resources in the following cases:

1. katib-controller failed to inject metrics-collector as a sidecar container.
2. metrics-collector can not collect any metrics or failed to report katib-db-manager.

If you faced the first case, please check network policies or istio sidecar settings and

[2022-08-17 09:13] johnugeorge commented on #1927
Please see https://github.com/kubeflow/training-operator/tree/master/examples/xgboost/lightgbm-dist

[2022-08-17 10:47] r-matsuzaka commented on #1927
I read but it runs xgboostjob not lightgbmjob.

[2022-08-17 14:01] anencore94 opened #1930 "Implement Readiness/LivenessProbe endpoint for katib-controller"
/kind feature

**Describe the solution you'd like**
Even though katib-controller pod's status became ready. It does not mean that katib-controller is available for all feature.

For example, if user request `/validate-experiment` API to katib-controller, right after katib-controller was just created, It returns 200 response without actually processing the real logic.

First, we need to define how

[2022-08-17 14:01] anencore94 commented on #1930
I'd like to take this issue.

[2022-08-17 15:39] johnugeorge commented on #1927
I didn't get your question. This example shows how to run distributed lightbm(of [example](https://github.com/microsoft/LightGBM/tree/master/examples/parallel_learning))  with XGboost operator.

If you are not using distributed version, you can just use Kubernetes `Job ` to run your container as in https://github.com/kubeflow/katib/blob/master/examples/v1beta1/hp-tuning/random.yaml#L51

[2022-08-17 16:12] tenzen-y commented on #1930
SGTM.
Thanks @anencore94!

[2022-08-17 22:43] r-matsuzaka commented on #1927
Thank you very much, I understood.
Excuse me, I misunderstood.
I will check the Docker image and python  file.

[2022-08-17 22:43] #1927 closed

[2022-08-18 10:16] tenzen-y commented on #1126
From what I can see, we have completed implementing validation for all suggestions.
I think that we can close this issue. What do you think? @kubeflow/wg-automl-leads

[2022-08-18 10:17] johnugeorge commented on #1126
Looks great.

Thanks @tenzen-y and @anencore94

[2022-08-18 10:18] johnugeorge commented on #1126
Closing this issue as validations are added for all algorithms

[2022-08-18 10:18] #1126 closed

[2022-08-19 03:21] anencore94 commented on #1930
/assign @anencore94

[2022-08-19 09:57] johnugeorge commented on #1908
Final release update

Katib v0.14.0 is created from release-0.14 branch
https://github.com/kubeflow/katib/releases/tag/v0.14.0

Katib SDK v0.14.0 is out
https://pypi.org/project/kubeflow-katib/0.14.0/

[2022-08-19 14:40] #915 closed

[2022-08-20 10:16] tenzen-y commented on #1900
I take this issue.
/assign

[2022-08-21 09:18] tenzen-y commented on #1928
/assign

[2022-08-21 11:28] anencore94 opened #1938 "Update documents for using postgres"
Need to update README in katib and documentations in kubeflow website for using postgres

[code]

[2022-08-21 11:36] anencore94 commented on #1938
/assign

[2022-08-22 01:42] oadams commented on #331
What is the current status for integrating Katib into a Kubeflow pipeline?

I have a train pipeline that involves components for (a) fetching data (b) preprocessing the data and (c) training. I would like to do hyperparameter tuning over the train component. From a first look at the Katib documentation it appears not to have a native integration with Pipelines: you specify a container/command that

[2022-08-22 01:55] oadams commented on #1914
What is the current status for integrating Katib into a Kubeflow pipeline?

I've noted issues 1846 and 1914 are along the same lines, but just wanted to know what the current best options are.

I have a train pipeline that involves components for (a) fetching data (b) preprocessing the data and (c) training. I would like to do hyperparameter tuning over the train component. From a first look at th

[2022-08-22 01:55] oadams commented on #1846
What is the current status for integrating Katib into a Kubeflow pipeline?

I've noted issues 1846 and 1914 are along the same lines, but just wanted to know what the current best options are.

I have a train pipeline that involves components for (a) fetching data (b) preprocessing the data and (c) training. I would like to do hyperparameter tuning over the train component. From a first look at th

[2022-08-22 03:15] techwolf139 commented on #1928
cheers
Is there some other hard coded timeout setting?

[2022-08-22 06:11] johnugeorge commented on #1846
See this https://github.com/kubeflow/manifests/tree/master/tests/e2e

Katib experiments are run using Katib launcher and then results are used in TFjob launch

[2022-08-22 06:12] johnugeorge commented on #1938
Thanks @anencore94

[2022-08-22 07:07] Efthymios-Stathakis commented on #1846
Hi,

This solution uses a VolumeOp which makes the pipeline less portable. Ideally, the Katib component could get the data from the previous step in the same manner that Kubeflow pipelines implements [data passing](https://github.com/kubeflow/pipelines/blob/master/samples/tutorials/Data%20passing%20in%20python%20components.ipynb) from one component to another.

[2022-08-22 11:28] #1928 closed

[2022-08-24 19:19] pablofiumara opened #1939 "Issue when upgrading from Kubeflow 1.3 to 1.5"
/kind bug

**What steps did you take and what happened:**
I upgraded from Kubeflow v1.3 to Kubeflow v.15

**What did you expect to happen:**

I expected katib-db-manager and katib-mysql pods to be running. Instead their status is CrashLoopBackOff

**Anything else you would like to add:**

If I execute

`kubectl logs  katib-db-manager -n kubeflow
`
I get

[code]
If I execute

`kubectl describe pod

[2022-08-25 01:23] anencore94 commented on #1939
The reason why katib-db-manager keep being CrashLoopBackOff is because katib-mysql is not ready.
However, the root cause of why your katib-mysql is being CrashLoopBackoff is hard to find with your answer. Could you also upload the `kubectl get deploy katib-mysql -n kubeflow -o yaml` and the k8s secret file if you use it to set `MYSQL_ROOT_PASSWORD` or other values for katib-mysql ? (If the passwor

[2022-08-25 17:21] pablofiumara commented on #1939
@anencore94 Thank you for your answer

[code]

v1_secret_katib-mysql-secrets.yaml

[code]

[2022-08-26 00:02] pablofiumara commented on #1537
@cc-gb2 @andreyvelich I tried changing imagePullPolicy and installing again it but I am getting the same error `(mysqld: Can't open file: 'mysql.ibd' (errno: 0 - )`. What else can I try?

[2022-08-27 03:10] anencore94 commented on #1939
For my k8s environments, with your secret, deployment and another simple pvc yaml works well. (except changing secret's value to some other value encoded by `base64`)

To make sure, does your `onePassword` means that it is just a hidden password, but you can see it is base64-encoded ?
Also, would you mind to tell your k8s cluster's hardware spec ?

[2022-08-27 08:21] anencore94 commented on #1938
Please take a look and leave some reviews for above PR kubeflow/website#3337

[2022-08-28 11:24] tenzen-y opened #1941 "Build CI system for Arm64 images"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As discussed in https://github.com/kubeflow/katib/pull/1935#issuecomment-1221458383, we are currently working on #1900 to support arm64 in all container images, although we don't have any CI systems to verify operations on the arm64 machine.

So, we need to build a CI system to verify

[2022-08-29 10:23] #1851 closed

[2022-08-29 14:19] midhun1998 commented on #1941
@tenzen-y Do you own this issue or are you looking for any help on this? 🙂 I'm willing to help.

[2022-08-29 14:50] tenzen-y commented on #1941
Thanks for your comments. @midhun1998
I don't hold this issue. Although, we can not go ahead with this issue since we have not prepared an AWS account for WG automl yet.

[2022-08-29 15:00] midhun1998 commented on #1941
Got it. Thanks for letting me know @tenzen-y . Let me know if you need help.

[2022-08-29 17:00] pablofiumara commented on #1939
Thanks for your answer. onePassword is base64-encoded

My k8s cluster's hardware spec is: 8vCPUs, 32GiB of Memory

[2022-08-29 17:02] pablofiumara commented on #1939
@midhun1998 Thank you for your answer. Pod is not up and running, it crashes

[2022-08-29 18:11] johnugeorge commented on #1939
@pablofiumara Can you share pod logs?

[2022-08-29 18:19] pablofiumara commented on #1939
@johnugeorge Thanks for your answer. Here they are:

If I execute

`kubectl logs katib-mysql -n kubeflow`

I get

[code]

[2022-08-29 18:46] johnugeorge commented on #1939
This issue is happening because of the mysql version has changed. In 1.3, version used was [mysql:8](https://github.com/kubeflow/manifests/blob/v1.3.1/apps/katib/upstream/components/mysql/mysql.yaml#L25) and 1.5, it is pinned to [mysql:8.0.26](https://github.com/kubeflow/manifests/blob/v1.5.1/apps/katib/upstream/components/mysql/mysql.yaml#L24)

I haven't tried this. But, can you try keeping the s

[2022-08-29 18:56] pablofiumara commented on #1939
@johnugeorge Thanks again.

If I change it to 8.0.30, I get the following messages from the logs

[code]

[2022-08-30 03:46] DnPlas commented on #1795
@johnugeorge @tenzen-y thanks for the explanation. In my case, adding `metricsCollectorSpec:` to the [grid example](https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1beta1/hp-tuning/grid.yaml) solved the issue. I am able to click the Trials/YAML/Details tabs in the Experiment view in the Web UI, and though I am still waiting for the trials to finish, I am positive they will succee

[2022-08-30 09:38] midhun1998 commented on #1939
I think the issue is related to using the same pv which left few residues from the previous installation in `/var/lib/sql`. Can you try the solution in this comment [here](https://discuss.erpnext.com/t/solved-mariadb-10-1-to-mariadb-10-2-upgrade-crash/35048) and let me know if it works for you?
I'm not confident though as i see `innodb_fast_shutdown` set to 2.

Just in case you are wondering how t

[2022-08-30 09:53] johnugeorge commented on #1795
@DnPlas That is bit strange. If metric collector is not specified, it is defaulted to StdOutCollector. https://github.com/kubeflow/katib/blob/3906f8e8e00b5923be05f5b9a07442baa0ada2fa/pkg/apis/controller/experiments/v1beta1/experiment_defaults.go#L131

Are your webhooks working correctly?

[2022-08-30 14:51] DnPlas commented on #1795
@johnugeorge My [webhook](https://hastebin.com/anivaluneq.yaml) is in the cluster, though I am not sure if there is a misconfiguration.

[2022-08-30 16:08] tenzen-y opened #1945 "Drop Kubernetes v1.21 and introduce Kubernetes v1.24"
/kind discussion

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
It seems that Kubernetes v1.21 reached EOL upstream on 2022-06-28 [in this documentation](https://kubernetes.io/releases/).
So, it would be nice to stop supporting v1.21 and start supporting v1.24 since the next katib release. (katib v0.15.0 ?)

What do you think? @kubeflow/wg-autom

[2022-08-30 16:57] johnugeorge commented on #1945
Yes. We should provide a list of supported k8s versions against each Katib release. This should be same as matrix list used in CI

[2022-08-30 17:23] tenzen-y commented on #1945
SGTM

[2022-08-30 17:30] johnugeorge commented on #1795
Once you apply grid example, can you verify if metricsCollectorSpec is populated automatically with `kubectl get experiment  ?  If not, you need to verify why webhooks are not working in your k8s cluster. Are webhooks working for non-katib components?

[2022-08-30 17:35] pablofiumara commented on #1939
@midhun1998 Thanks again. I tried and found no `/var/lib/mysql/ib_logfile*`  files

[2022-08-30 19:13] DnPlas commented on #1795
@johnugeorge my trials' `metricsCollector` is empty, I will check the webhook and try to see what might gone wrong.

[code]

[2022-09-01 10:14] anencore94 commented on #1638
WDYT of this issue ? @kubeflow/wg-automl-leads @tenzen-y
If you think this feature is necessary, I'd like to implement

[2022-09-01 10:46] johnugeorge commented on #1638
This is definitely nice to have.

@anencore94 Thanks for following this issue

[2022-09-01 15:35] tenzen-y commented on #1638
SGTM. Thanks! @anencore94

[2022-09-01 19:26] skliarpawlo commented on #331
@oadams I think the first option is possible and not that complicated, there is an example https://github.com/kubeflow/katib/blob/master/examples/v1beta1/argo/argo-workflow.yaml of such approach. It would allow tuning any part of the pipeline or multiple parts at the same time which is the most elastic approach IMO. However, I struggle to make it work using python dsl, not sure if it was designed

[2022-09-01 19:33] skliarpawlo commented on #1914
Hi @romeokienzler , I'm also very interested in these feature and it's surprising actually that it wasn't provided already as it sounds natural. I have a question though, I see there is an example of integration argo workflows with katib [here](https://github.com/kubeflow/katib/blob/master/examples/v1beta1/argo/argo-workflow.yaml) kubeflow pipelines are implemented via argo workflows aren't they?

[2022-09-02 18:41] ca-scribner commented on #1795
I have the same situation as @dnplas, and the Experiment's `metricsCollectorSpec` is absent (no key), so I suspect the webhook handling the experiment is misbehaving but I'm not sure how

[2022-09-02 20:50] ca-scribner commented on #1795
While debugging this for my case, I noticed the katib mutatingwebhooks are set to `failurePolicy: Ignore`.  Setting that to `Fail` gave me some better hints to go on:

[code]

So it appears I have some other configuration problems around my certs to dig into

[2022-09-02 20:54] ca-scribner opened #1946 "Should MutatingWebhook failurePolicy be `Ignore`?"
/kind feature

**Describe the solution you'd like**
Not sure if this is a bug or a feature request, but the MutatingWebhook `failurePolicy`s are set to `Ignore`, which means it is easy to not notice if your webhook calls are failing.  This was noticed when debugging #1795.

Is this the best configuration?  Are there cases where having the Experiment and Pod mutations fail can still lead to viable

[2022-09-04 14:46] tenzen-y commented on #1900
I have completed support for arm64 in all container images.
Next, I will build a CI to verify that the multi-platform image can be built in each PR.

[2022-09-04 18:55] johnugeorge commented on #1946
/cc @anencore94
/cc @tenzen-y

[2022-09-04 19:00] tenzen-y commented on #1946
Thanks for reminding me! @johnugeorge
I agree with @ca-scribner.

[2022-09-06 18:37] DnPlas commented on #1795
I was able to fix my issue, though I discovered mine was different than @ccastro-pedro, as I was not getting the sidecar metrics container injected in the trials pods due to some missing webhook certs.

In order to further debug (in case anyone runs into similar issues), I suggest to:
* Check the above comments from @johnugeorge and @tenzen-y
* Check the validation and webhook certificates
  * Cha

[2022-09-07 10:32] anencore94 commented on #1946
I agree with you too. It would be better for safe use.

[2022-09-07 13:52] joaquingarciaatos opened #1949 "Trials Pods are completed but never successful neither reused, metrics are not shown"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I have tried to run the Hyperparameter Tuning v1beta1 examples from the official Github of Katib. https://github.com/kubeflow/katib/tree/master/examples/v1beta1/hp-tuning. The only thing I have changed has been the repository name (from kubeflow to joaquin-garcia), and I have tried both

[2022-09-08 19:59] johnugeorge commented on #1949
Can you check https://github.com/kubeflow/katib/issues/1795#issuecomment-1217503522  ?

[2022-09-12 14:50] joaquingarciaatos commented on #1795
Dear @DnPlas :

**Could you please indicate what do you refer exactly with that? In which pod should I change the failurePolicy to fail? I have not found the pod in which I can do it.**

**Could you specify a bit more how I can verify that? Thank you in advance.**

[2022-09-12 15:18] joaquingarciaatos commented on #1949
Dear @johnugeorge, thank you very much for your reply. I have checked the two points of your comment:

1. The status of the katib-db-manager pod is "Running", and I get the following logs:

[code]

So even if the first pings failed, I understand everything is fine with `katib-db-manager`, right?

2. I am not sure if you are referring to the pod `metrics server`. Logging it, it seems like it is not

[2022-09-13 14:05] sjmccorm1993 commented on #1795
@joaquingarciaatos After facing this same issue, I eventually realized the problem was that while the webhook service listens on port 443, the webhook pod listens on port 8443 and network traffic to 8443 was blocked in our infrastructure setup. Opening port 8443 on our system nodes solved the problem.

[2022-09-16 07:25] pod3275 commented on #1128
I have one question about this issue.

We can now control whether the Suggestion deploy is deleted after the experiment is finished by setting `ResumePolicy=never` or `ResumePolicy=FromVolume`.

However, Trial, Suggestion, and Experiment CRs still remain.
If we delete Experiment CR, the results of the experiment will not be displayed on the Katib UI.
Managing the number of CRs could be challenging

[2022-09-17 08:58] tenzen-y commented on #1945
/assign

[2022-09-17 08:59] tenzen-y commented on #1908
@johnugeorge Probably, we can close this.

[2022-09-17 10:46] johnugeorge commented on #1908
/close

[2022-09-17 10:46] #1908 closed

[2022-09-17 12:59] #1945 closed

[2022-09-17 13:05] tenzen-y commented on #1938
@anencore94 It looks like this issue is completed.

[2022-09-18 02:00] anencore94 commented on #1938
Thanks for reminding @tenzen-y
/close

[2022-09-18 02:00] #1938 closed

[2022-09-18 16:03] tenzen-y opened #1957 "Support Kubernetes v1.25"
/kind discussion

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
According to [this](https://kubernetes.io/releases/), It seems that K8s v1.22 will reach EOL on 2022-10-28 and K8s v1.25 was released on 2022-08-23.
Hence, we need to consider which K8s versions to support on the next katib version (v0.15.0?).

Maybe, once the next katib release dat

[2022-09-19 07:59] johnugeorge commented on #1949
Sorry for late reply. Is it a fresh installation? Is it stale web hook configurations?

/cc @tenzen-y

[2022-09-19 09:05] tenzen-y commented on #1949
Maybe, it occurred by the old WebhookConfigurations or Secret embedded certs. As @johnugeorge says, can you re-install katib after running the below commands to clean up the old katib?

[code]

[2022-09-22 14:36] longpi1 commented on #1638
I remember I solved this problem before, if you need, you can chat with me privately, or I will propose a PR。

[2022-09-30 03:07] shaowei-su opened #1967 "Katib experiment detail page 500 error after refresh"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Katib experiment detail page can be accessed after a given namespace (non default one) is chosen, however, upon page refresh or direct access page URL e.g `https://service-name/katib/experiment/exp-name`, UI will throw out 500 error.
<img width="783" alt="Screen Shot 2022-09-29 at 20 02

[2022-09-30 10:34] tenzen-y commented on #1967
@shaowei-su Thanks for reporting this!
Did you get the same error with katib v0.14.0?

[2022-09-30 23:31] shaowei-su commented on #1967
Hi @tenzen-y yeah I just tried `v0.14.0` UI component and it failed with the same error. Are you able to reproduce this on your side?

[2022-10-04 21:11] andreyvelich opened #1968 "[SDK] Improve Validation for Objective Function"
/kind feature

Check this thread: https://github.com/kubeflow/katib/pull/1951#discussion_r970876684.
We need to improve validation for objective function in `tune` API.
For example, validate that user's imports are properly declared in the function.

---

Love this feature? Give it a 👍 We prioritize the features with the most 👍

[2022-10-04 21:15] andreyvelich opened #1969 "[SDK] Generate Enum Types for Katib APIs"
/kind feature

Check this thread: https://github.com/kubeflow/katib/pull/1951#discussion_r970906026.
Currently, we don't generate enum types in Python models for Katib APIs (e.g. [`minimize` and `maximize`](https://github.com/kubeflow/katib/blob/399340418a84b96804a9f304cea841b6497796f4/pkg/apis/controller/common/v1beta1/common_types.go#L120)).
For that, we might need to update `kube-openapi` versi

[2022-10-04 21:19] #1585 closed

[2022-10-05 15:58] moorthy156 opened #1971 "Katib-DB-Manager is not automatically creating katib database in external mysql DB"
/kind bug

**What steps did you take and what happened:**
When we point Katib-DB-manager to AWS RDS MySql Database, it is not automatically creating katib database automatically like pipeline/metadata pods

**What did you expect to happen:**
katib-db-manager to automatically create database in RDS mysql (external-db)

**Anything else you would like to add:**
[Miscellaneous information that will as

[2022-10-05 16:23] johnugeorge commented on #1971
https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/mysql/mysql.yaml#L37  For mysql docker image, MYSQL_DATABASE var value will be automatically created during image startup. See https://hub.docker.com/_/mysql/

For AWS-RDS, I am not sure if there is a way to create DB by default. Else, you have to create it by yourself.

[2022-10-06 06:30] pod3275 opened #1972 "Persist meta data of experiments in DB"
/kind feature

**Describe the solution you'd like**

I have one question about issue #1128.

We can now control whether the Suggestion deploy is deleted after the experiment is finished by setting `ResumePolicy=never` or `ResumePolicy=FromVolume`.

However, Trial, Suggestion, and Experiment CRs still remain.
If we delete Experiment CR, the results of the experiment will not be displayed on the Kat

[2022-10-06 08:48] anencore94 opened #1973 "Detailed check for health check endpoint '/readyz'"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

On #1934, we issue there might need to determine whether the katib controller is ready or not more sophistically.
But, for now, I don't have any idea for what we need to check necessary, and how often we need to check it.

Ref)
- https://github.com/kubeflow/katib/pull/1934#discussion_

[2022-10-06 08:58] johnugeorge commented on #1972
Is this feature for solving the need to persist metadata experiment in DB or for need to delete the Katib CRs?

[2022-10-07 04:17] pod3275 commented on #1972
@johnugeorge Thank you for your reply!

I hope that the results of the experiment will be displayed in the Katib UI even if the Katib CRs for the experiment that has already been completed are deleted.

In fact, the metadata of the experiment does not necessarily have to be stored in DB. I just thought the most convenient way to permanently persist metadata was to store it in DB.

[2022-10-07 05:29] johnugeorge commented on #1972
@pod3275 metrics  are fetched from DB, but other metadata like Experiment. Trials, etc are using k8s storage itself. If we delete CRs, we wil lose these info.

In the previous version, we had a active backup in DB. But, we found that it is difficult to keep them in sync. Hence, we moved to this design to have a single source of truth. We can use DB for archival purposes if we need such a feature.(

[2022-10-07 06:32] pod3275 commented on #1972
@johnugeorge
Thank you for your detailed reply!

From [this previous issue](https://github.com/kubeflow/katib/issues/707), I expected that there was a DB schema for storing experiment meta data, but now I understand why the method of storing has changed.

As you mentioned, in the case of an active experiment, I agree to bring the meta data of the experiment by referring to k8s storage.

But in the

[2022-10-09 09:45] ekesken commented on #1174
I believe we need a solution for Experiment Suggestion's Pod as well, we can't enforce people to remove their taints from their nodes.

For example in our specific case, we are the team providing Katib as a service in customer clusters, we have our own nodes to deploy Katib service which are protected by taints to avoid user workload to be placed in these nodes, and we can't guarantee there will b

[2022-10-09 23:09] votti commented on #1914
I think I have kubeflow pipelines with Katib - almost - working:
Unfortunately I have not a minimal example yet I set out to translate an existing ML example to run as pipeline with Katib - just assuming that this works - before discovering that this was not straight forward.

I followed the Argo/Katib  installation instruction (https://github.com/kubeflow/katib/tree/master/examples/v1beta1/argo).

[2022-10-11 16:50] #1930 closed

[2022-10-17 20:51] votti commented on #1914
Hey all,

Now managed to get the Workflows running:
The workaround complex commands being broken by the adaptation for the metrics collector sidecar, was to write the metrics out into a file and then have a separate, super simple pipeline step to just print the file.

Two issues I run into:
- the container to print was starting faster than the metrics collector sidecar, causing errors. Dirty worka

[2022-10-19 17:20] david-thrower commented on #1382
One enhancement to this which, I propose on this is an addition of a parameter to this, which a user can use to configure the training task to filter out invalid permutations of parameter values from each generation's trials, given rules like `minimum_skip_connection_depth` must be < `maximum_skip_connection_depth` , so as to filter out planned trials that would throw ValueErrors before they are e

[2022-10-19 17:58] johnugeorge commented on #1382
@david-thrower We have an interface to add validation checks per suggestion algorithm. Ref: https://github.com/kubeflow/katib/pull/1924

[2022-10-19 18:14] david-thrower commented on #1382
@johnugeorge , I really appreciate you pointing that out, especiallyat this time of night in your time zone. If I am ever in town, I owe you a coffee drink. Sorry I missed that recent change. I'm glad to see this.  I may get more sleep this week than I thought. I will look into it. To clarify, this removes suggestions, not throws exceptions, right?

[2022-10-19 18:28] johnugeorge commented on #1382
`ValidateAlgorithmSettings` function is a common interface which can be implemented for any suggestion algorithm. If `ValidateAlgorithmSettings` fails, Katib controller changes `Suggestion `and `Experiment` status to `failed`.

https://github.com/kubeflow/katib/issues/1126

[2022-10-19 18:41] david-thrower commented on #1382
@johnugeorge I see. This is where the problem I am faced with lies. When I have a massive parameter space where as many as 1/4 of the values are invalid and may be trunning 1000+ trials on an IPU, TPU, or cluster of A100s, this requires me to set an very large maxFailedTrialCount to escape the run failing. If I do that, then I have to ignore any **other unforeseen** errors. What I had in mind was

[2022-10-19 18:49] johnugeorge commented on #1382
I see. But the what is the real reason for this issue? Is it that the user configures invalid parameter range for an algorithm?

[2022-10-19 19:20] david-thrower commented on #1382
Example:

minimum_skip_connections: [1:10]
maximum_skip_conections: [1:10]

There are both valid and invalid permutations of these in this range (any permutation where minimum... is < maximum ... is valid, and not so, is invalid). Any single range  I could set to preclude invalid permutations: (e.g. setting minimum to [1:5] and maximum to [6:10]), this would eliminate many if not most valid permut

[2022-10-19 21:22] dandawg opened #1976 "Set suggestion resource requests/limits per run"
/kind feature

**Describe the solution you'd like**
When submitting a katib experiment, I would like to be able to set custom suggestion resource requests/limits values that override the default requests/limits set in the config. At present, the suggestion resources are set in the global config, which applies to all runs.

**Anything else you would like to add:**
We have many different use-cases f

[2022-10-26 11:05] tenzen-y commented on #1976
@dandawg Thanks for creating this!
We can overwrite resource requests/limits to suggestion services as shown below:

https://github.com/kubeflow/katib/blob/1c74d6542a6edf5d48216b74aa298b06b9884aa0/manifests/v1beta1/components/controller/katib-config.yaml#L51-L58

[2022-10-26 11:06] tenzen-y commented on #1976
Or, does that mean you'd like to set resource requests/limits to suggestion services per Experiment?

[2022-10-26 12:08] johnugeorge commented on #1976
Per experiment. Also, there are requests to add more fields to be exposed for suggestion deployment. Ref: https://github.com/kubeflow/katib/issues/1737

[2022-10-27 00:51] david-thrower commented on #1382
@johnugeorge, I appreciate the attention to the issue. This is no doubt, a weird issue, but nonetheless, I can foresee this becoming a more common requirement as more complex algorithms become "production material".

[2022-11-02 14:26] johnugeorge commented on #1879
Fixed by #1974

[2022-11-02 14:35] johnugeorge opened #1993 "Katib v0.15.0 Roadmap"
Major features tracked for next Katib release. Few might be a stretch but still tracked for next release.

**Kubeflow Pipelines**

 - [ ] Better data passing for Katib component - ([#1846](https://github.com/kubeflow/katib/issues/1846))
 - [ ] Use Kubeflow Pipelines as Trial target - ([#1914](https://github.com/kubeflow/katib/issues/1914))

**MLFlow Integration**
 - [ ] Support Push based metric c

[2022-11-02 15:31] tenzen-y commented on #1993
/cc @anencore94

[2022-11-02 15:36] johnugeorge commented on #1993
@tenzen-y @anencore94 @andreyvelich Please add to the list if I missed out any.

[2022-11-02 15:49] tenzen-y commented on #1993
@johnugeorge Thanks for creating this!
I would like to add #1207 to the next katib release. WDYT?

[2022-11-02 15:52] tenzen-y commented on #1993
Also, I think that we need to add postponed https://github.com/kubeflow/katib/pull/1728#issuecomment-959328401.

[2022-11-02 19:55] tenzen-y commented on #1967
@shaowei-su Sorry for the late response.
In my local kind cluster, I faced that issue.

<img width="1909" alt="2022-11-03 4 52 36" src="https://user-images.githubusercontent.com/68272500/199589534-8944f43a-7402-497c-bd81-a49a44a84f11.png">

[2022-11-02 19:56] tenzen-y commented on #1967
@kimwnasptd Can you help with fixing this bug?

[2022-11-03 02:56] johnugeorge commented on #1993
Added.

[2022-11-03 13:28] tenzen-y commented on #59
/assign

[2022-11-03 17:42] johnugeorge commented on #1967
/cc @elenzio9

Can you please take a look at this? This seems to be a blocker for new UI

Ref: https://github.com/kubeflow/katib/pull/1982#issuecomment-1300813767

[2022-11-04 10:06] #1957 closed

[2022-11-04 11:40] kimwnasptd commented on #1967
Thanks for the ping!

Yes we'll take a look at this one within the next week.

[2022-11-04 13:28] johnugeorge commented on #1967
Thanks @kimwnasptd

Related: https://github.com/kubeflow/katib/pull/1983

[2022-11-07 06:28] anencore94 commented on #1993
we aim to this features are supposed to be implemented before `Wednesday, Jan 25th 2023: Week 18 - Feature Freeze` right ?

[2022-11-07 13:36] elenzio9 commented on #1967
The problem was that the link itself didn't have information about the selected namespace. To solve this, we added the namespace variable as an extra query parameter to the route: `{ path: 'experiment/:namespace/:experimentName',component: ExperimentDetailsComponent }`. So each time the detail page is initialized both the namespace and the name variables will be set using the information from the

[2022-11-08 06:14] shaowei-su opened #2002 "Duplicated suggestions generated when early stopping is enabled"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When early stopping is enabled with `bayesianoptimization`, duplicated suggestions/trials are generated.
See suggestion service log:
[code]

Here the highlight is **Succeeded Trials didn't change: 4**

**What did you expect to happen:**

Suggestion service should see early stopped trial

[2022-11-08 06:51] kimwnasptd commented on #1967
Small clarification, the above problem only happened in the standalone mode of the UI.

In the app with Kubeflow we don't see this problem, since the CentralDashboard is always propagating the selected namespace in the underlying app.

[2022-11-08 14:18] andreyvelich commented on #1993
I have the following thoughts:

- We need to promote `tune` API: https://github.com/kubeflow/katib/pull/1951 in the new release to simplify Katib usage and attract more users.
- @johnugeorge @kimwnasptd Are we targeting the above UI changes before **Jan 25th** ?
- @tenzen-y @johnugeorge I want to have broader discussion around `log-uniform` and other HPs distributions before starting the API chang

[2022-11-08 20:41] shaowei-su commented on #2002
Found the issue around the converter: https://github.com/kubeflow/katib/pull/2004, PTAL

[2022-11-09 20:30] andreyvelich commented on #1993
@tenzen-y Sure, we are going to share the updates.

If we are going to add distribution to FeasibleSpace, maybe we should deprecate [ParameterType in our APIs](https://github.com/kubeflow/katib/blob/master/pkg/apis/controller/experiments/v1beta1/experiment_types.go#L194), since it's redundant.

e.g. Hyperopt directly set `uniform`, `loguniform`, etc. parameter with min and max value: http://hypero

[2022-11-10 21:21] dandawg opened #2006 "yaml to python sdk submission example needed"
/kind feature

**Describe the solution you'd like**
There is a need for an example that submits an Experiment YAML via the Katib SDK. I have written an example, and I plan to submit it as a PR.

My reasoning is this:

The Katib SDK exposes the power of Python programming to Katib users; however, the code structure is significantly more complex than in the case of direct YAML submission using kubec

[2022-11-10 21:44] dandawg commented on #2006
I just submitted PR https://github.com/kubeflow/katib/pull/2008 to address this issue.

[2022-11-11 02:48] johnugeorge commented on #2006
@dandawg Does this https://github.com/kubeflow/katib/blob/master/examples/v1beta1/sdk/tune-train-from-func.ipynb help you? It takes python function as the argument

[2022-11-11 11:54] elenzio9 commented on #1764
I would like to work on this, if no one else is working on it right now!

[2022-11-11 13:02] johnugeorge commented on #1764
Thanks @elenzio9

/assign @elenzio9

Fixes: #971  as well

[2022-11-14 00:09] tenzen-y commented on #1993
sgtm
This is just a question, in that case, do we handle with `categorical` and `discrete` as distribution?

[2022-11-14 12:52] elenzio9 commented on #1764
We realized with @kimwnasptd that we need to extend the backend by adding a new route for the `LOGS` tab which:
1. Will get a Trial name/namespace
2. Fetch the underlying Pod name based on the `job-name` label
3. Return the logs of that Pod

Also, we saw that if the Trial does not have `retain: true` then the underlying CRs will not be persisted and thus there won't be any Pods to gather logs from

[2022-11-14 13:06] elenzio9 opened #2011 "Dedicated yaml tab for Trials"
/kind feature

**Describe the solution you'd like**
 Our goal is to create a new yaml tab that will show the full YAML as it comes from the backend using the new Editor component introduced in https://github.com/kubeflow/kubeflow/pull/6733.

Related issue: https://github.com/kubeflow/katib/issues/1763

Love this feature? Give it a 👍 We prioritize the features with the most 👍

[2022-11-14 13:07] andreyvelich commented on #1993
I think, we don't need `discrete` at all, since for the suggestion services (at least of one that we used) `categorical` and `discrete` is the same (some frameworks call it `choice`).

[2022-11-14 13:16] d-gol commented on #1764
Hi @elenzio9, thank you for your efforts with this!

I did start some work on it a while ago, but didn't finish. Here you can see the functions for extracting logs from all pods from a specific trial: https://github.com/d-gol/katib/blob/64ac7034d81faeeb7a554417f47a0c7c445c3d72/pkg/new-ui/v1beta1/backend.go#L421 and https://github.com/d-gol/katib/blob/cf7106dfae69e66f39582f1ef981ed65a208732b/pkg/ut

[2022-11-14 18:12] markbluhm commented on #917
I am also running into this with GKE 1.23. Here is the specific `kubectl version` for the server
[code]

[2022-11-15 10:00] d-gol commented on #1764
@johnugeorge sure, we can get logs only from the master. I can implement that, submit a PR, and then later if needed we can obtain logs from all workers.

[2022-11-16 08:08] tenzen-y commented on #1993
@andreyvelich Thanks for clarifying. I agree with your idea.

[2022-11-16 10:33] skgreenstar commented on #1846
When the experiment is completed, it is necessary to store the experiment metadata in the DB and refer to the DB to deliver the results to the Katib UI!

The reason for this is that we are eating up resources in k8s, so we are interfering with resource organization.

[2022-11-16 10:33] skgreenstar commented on #1972
When the experiment is completed, it is necessary to store the experiment metadata in the DB and refer to the DB to deliver the results to the Katib UI!

The reason for this is that we are eating up resources in k8s, so we are interfering with resource organization.

[2022-11-16 10:48] skgreenstar commented on #1949
![image](https://user-images.githubusercontent.com/102745119/202159955-9875a78c-6c0b-471f-8961-3a03bcba1056.png)

I have the same phenomenon. However, I am not a katib-controller problem, even though everything was done normally and the job was done normally, the data does not accumulate on the db.

For your information, I am connecting to a mysql server other than mysql provided by katib. The con

[2022-11-16 12:02] johnugeorge opened #2013 "Bug: Succeeded trials are not loaded in the experiment graph UI"
This issue is track the bug reported in  https://github.com/kubeflow/katib/pull/2001#issuecomment-1306377712

Actually, I found an issue with loading the visualized graph if the experiment is in "running" state (6 out of 10 trials are already succeeded but failed to load) :

/cc @shaowei-su

/assign @elenzio9

[2022-11-16 18:43] johnugeorge commented on #1967
Fixed by https://github.com/kubeflow/katib/pull/2001

Closing this PR

[2022-11-16 18:43] #1967 closed

[2022-11-17 09:48] elenzio9 opened #2016 "Katib image build failed because of Golang version"
/kind bug

**What steps did you take and what happened:**
Trying to build the katib image, I'm getting the following error:
[code]

I also tried `docker build . -f cmd/new-ui/v1beta1/Dockerfile -t ${IMG}:${TAG} --no-cache` in case of having an older golang image cached but the error persists.

Impacted by this bug? Give it a 👍 We prioritize the issues with the most 👍

[2022-11-17 09:56] tenzen-y commented on #2016
@elenzio9 Thanks for creating this!

Can you run the following command?

https://github.com/kubeflow/katib/blob/a5ef2db7df9f77fea1fb75fd9643a440fa46ce30/scripts/v1beta1/build.sh#L65-L66

[2022-11-17 10:30] elenzio9 commented on #2016
@tenzen-y Thank you for your quick response!

I tried it but unfortunately got the same error:
[code]

[2022-11-17 11:08] tenzen-y commented on #2016
hmm.
In my local machine, I could not reproduce that error.

Can you tell me about the commit version? Are you using the master branch?

[2022-11-17 13:37] andreyvelich commented on #1969
/area sdk

[2022-11-17 13:38] andreyvelich commented on #1968
/area sdk

[2022-11-17 19:55] johnugeorge commented on #2016
@elenzio9 This works in CI without any issues. I tried locally as well.

[2022-11-17 20:19] votti commented on #1914
Hi there,
Just an update: I have now a working example that can be run from a notebook that:
1) Defines a Kubeflow Pipeline
2) Runs Katib over the whole pipeline

I am currently re-writing this to a simple MNIST example.
Would it make sense to prepare directly a branch with such a documented Example in the `Example` folder, or would you prefer me to prepare the example in a separate repository?

S

[2022-11-17 20:29] votti opened #2019 "A metrics collector for Kubeflow Pipeline Metrics artifacts"
/kind feature

**Describe the solution you'd like**
Currently a aim is to do parameter tuning over pipelines in katib (#1914, #1993).

Kubeflow pipelines allow for dedicated metrics artifacts:
https://kubeflow-pipelines.readthedocs.io/en/master/source/dsl.html?h=metrics#kfp.dsl.Metrics
https://www.kubeflow.org/docs/components/pipelines/v1/sdk/pipelines-metrics/

Having a dedicated[ Katib sidecar m

[2022-11-17 23:02] votti commented on #1914
I started here a separate repo where I am developing the mnist example:
https://github.com/votti/katib-exploration/blob/main/notebooks/mnist_pipeline_v1.ipynb

Currently I am getting again some permission errors that I need to investigate. The general approach seems to work. Unfortunately I need to adapt things for v2 kubeflow pipeline syntax, thus this is with v1.

[2022-11-18 02:29] tenzen-y commented on #1993
Around next month, I will propose the API design for #1207.

[2022-11-18 02:38] skgreenstar opened #2020 "Problem about katib-db"
![image](https://user-images.githubusercontent.com/102745119/202159955-9875a78c-6c0b-471f-8961-3a03bcba1056.png)

I have the same phenomenon. However, I am not a katib-controller problem, even though everything was done normally and the job was done normally, the data does not accumulate on the db.

For your information, I am connecting to a mysql server other than mysql provided by katib. The con

[2022-11-18 05:04] johnugeorge commented on #2020
Can you check logs of katib-controller , katib-db-manager if there are any errors?

[2022-11-18 05:15] johnugeorge commented on #2016
@tenzen-y Should we do a tagged image of Golang for build? https://github.com/kubeflow/katib/blob/a5ef2db7df9f77fea1fb75fd9643a440fa46ce30/cmd/new-ui/v1beta1/Dockerfile#L38

[2022-11-18 05:28] tenzen-y commented on #2016
@johnugeorge IMO, sounds good. However, since it increases the cost to maintain Dockerfiles, I'd like to hear what other leads have to say.

@andreyvelich @gaocegege wdyt?

[2022-11-18 05:59] johnugeorge commented on #2016
Actually not necessary. I am wondering if this is the reason behind @elenzio9 error. May be docker images cached?

[2022-11-18 08:14] skgreenstar commented on #2020
katib-controller, katib-db-manager logs didn't find anything specific

katib-db-manager
![image](https://user-images.githubusercontent.com/102745119/202653097-b3151142-64ff-4b1f-a0ff-379009bf9741.png)

 katib-controller
`{"level":"info","ts":1668414800.0215728,"logger":"entrypoint","msg":"Config:","experiment-suggestion-name":"default","webhook-port":8443,"metrics-addr":":8080","inject-security-co

[2022-11-18 09:35] johnugeorge commented on #2020
It looks good. Can you check logs of metrics container of the trial pod?

[2022-11-18 09:40] zhixian82 opened #2021 "Katib doesn't support volcanoJob"
/kind bug

**What steps did you take and what happened:**
1. create a configMap contains vcjob configs(https://github.com/volcano-sh/apis/blob/master/pkg/apis/batch/v1alpha1/register.go). the vcjob kind is "Job", same to Kubernetes Job.
2. pod of vcjob cannot be created, because the validator webhook refused: https://github.com/kubeflow/katib/blob/master/pkg/webhook/v1beta1/experiment/validator/va

[2022-11-18 09:41] kimwnasptd commented on #2016
@tenzen-y @johnugeorge thank you very much for you help!

In the end we got to the bottom of it and it was indeed an issue with the cache and `golang:alpine`, but `--no-cache` did not work as we had in mind. The problem was that we had fetch the `golang:alpine` previously, when it didn't have Golang 1.19, and now when building the image it wouldn't re-pull it.

We also misunderstood how `--no-cach

[2022-11-18 09:54] johnugeorge commented on #2016
Thanks for updating @kimwnasptd

[2022-11-18 09:57] tenzen-y commented on #2016
Thanks!

[2022-11-18 10:00] skgreenstar commented on #2020
logs of metrics container of the trial pod..!

There was no particular issue. The log and metric results were also very normal.
Nevertheless, it is strange that metric data is not accumulated in db.

[2022-11-18 10:11] johnugeorge commented on #1914
@votti  This is great start. Thank you for taking this. We can add this MNIST  example to https://github.com/kubeflow/katib/tree/master/examples/v1beta1/kubeflow-pipelines

Few items to be completed before merge

1.  Have a clean solution for #2019
2. v2 kfp support
3. Submit using sdk instead of yaml

[2022-11-18 10:14] johnugeorge commented on #2020
To confirm, are you seeing success message in metric logs once training is completed ?

https://github.com/kubeflow/katib/blob/a5ef2db7df9f77fea1fb75fd9643a440fa46ce30/cmd/metricscollector/v1beta1/file-metricscollector/main.go#L455

[2022-11-18 11:05] skgreenstar commented on #2020
No show  about klog.Infof("Metrics reported. :\n%v", olog)
ㅠㅠ
What's wrong?

`2022-11-18T10:47:18Z INFO     start with arguments Namespace(num_classes=10, num_examples=60000, add_stn=False, image_shape='1, 28, 28', network='mlp', num_layers=2, gpus=None, kv_store='device', num_epochs=10, lr=0.02184738980894598, lr_factor=0.1, lr_step_epochs='10', initializer='default', optimizer='ftrl', mom=0.9, w

[2022-11-18 11:13] andreyvelich opened #2022 "[SDK] Create API to get Trial metrics from Katib DB"
/kind feature
/area sdk

Our Katib Python SDK doesn't have an API to get Trial metrics from Katib DB.
Currently, user can see the Trial metrics only using Katib UI.
We should give an ability to query metrics using [`GetObservationLog` gRPC API](https://github.com/kubeflow/katib/blob/4a2db414d85f29f17bc8ec6ff3462beef29585da/pkg/apis/manager/v1beta1/api.proto#L23) via Katib SDK.

From the security p

[2022-11-18 11:40] tenzen-y commented on #1993
Thanks for letting me know. Looks great!
I will submit a small enhancement proposal!

[2022-11-18 15:46] kimwnasptd commented on #2022
@andreyvelich that's a great feature!

Regarding the authnz part, I think this discussion will revolve around having programmatic client support for the DB Manager API Server. This is the same with how KFP allows Pods from other namespaces to use its API Server to perform CRUD tasks https://github.com/kubeflow/pipelines/issues/5138.

And this is done by:
1. Allowing everyone to talk to the DB Mana

[2022-11-18 16:12] andreyvelich commented on #2022
Thanks for sharing this @kimwnasptd. On the recent Kubeflow summit we also got questions will Katib SDK have the same auth: https://kubeflow.slack.com/archives/C046YTDRABW/p1666199636566639.
Also, maybe we should authenticate all gRPC calls in Katib using ServiceAccountToken as you suggested or/and all gRPC request should go through proxy (e.g. Katib API Server) to verify the requests.

I guess, c

[2022-11-18 16:31] johnugeorge commented on #2022
@kimwnasptd @andreyvelich  We need to think about external access  as well for this feature.  If it just works for in-cluster requests, it will not be a good value add for the SDK.
Adding to https://github.com/kubeflow/katib/issues/2022#issuecomment-1320231727, we haven't discussed the right design for SDKs in KF. Each project handles in a a different way(Pipelines, Kserve etc)

[2022-11-18 18:42] andreyvelich opened #2024 "[Test] Improve Katib CI/CD GitHub Actions"
/kind feature
/area testing

Recently, we switched to GitHub Actions for our CI/CD pipelines, thanks a lot again @tenzen-y for driving this.

Since we have limitations now: 20 concurrent jobs and we haven't set AWS EC2 instances for our workers yet, we need to do some improvements to reduce execution time.

I think, we can try to do the following:
1. Should we run [`postgres` test only for Random

[2022-11-18 21:09] terrytangyuan commented on #2024
One thing that might help is to avoid concurrent builds on the same PR (in case people pushed multiple commits which trigger separate builds). https://github.com/argoproj/argo-workflows/blob/master/.github/workflows/ci-build.yaml#L12-L14

We should utilize the cache on GitHub Actions.

If the image building builds are time-consuming, we should consider pre-building the image cache that Docker can

[2022-11-19 02:02] votti commented on #2019
I think I may give this a go - I would try to build this in Python analogous to the [tfevent-metricscollector](https://github.com/kubeflow/katib/tree/master/pkg/metricscollector/v1beta1/tfevent-metricscollector).
Does this sound like a reasonable approach? I am also happy for any other suggestion.

[2022-11-19 02:03] gaocegege commented on #2022
I think so.

[2022-11-19 02:19] votti commented on #1914
Cool, I am happy to push a bit more on this.
@1  As discussed #2019 I think something analogous to the TFevent metrics collector could work
@2  I need to investigate how the parameters would be passed in v2
@3  This definitely also sounds feasible

[2022-11-21 01:44] anencore94 commented on #2024
I agree with you. Change to test on `postgres` only for one general experiment makes sense.

Also, I think we could seperate the e2e test on two stage, `on.pull_request` and `on pre-release`. It is reasonable to narrow e2e test on pull_requests action, However I think it is more safe to test each possible cases at least one time before release. Since some combination cases makes some unexpected re

[2022-11-22 09:08] elenzio9 commented on #2013
The reason why this happens is because of this [line](https://github.com/kubeflow/katib/blob/b3c38073580e5545d875fd480a4cfdfdd8bf14ec/pkg/new-ui/v1beta1/frontend/src/app/pages/experiment-details/experiment-details.component.ts#L255) and specifically the check: `!response.includes(',,')`, which is responsible for not displaying the graph when the backend response includes `,,`. That is, when a tria

[2022-11-24 08:52] zhixian82 opened #2037 "Set earlyStopping container resource requests/limits"
/kind feature

Describe the solution you'd like:

When submitting a katib experiment, earlyStoppingContainer Container resources should be set.

[2022-11-28 15:49] tenzen-y commented on #2022
@andreyvelich It sounds good.

BTW, I have a question.
In the case of gRPC calls between katib-components (e.g. metrics-collector <-> katib-db-manager), will the gRPC request through the katib API server for authentication? Or is that request direct access to the katib-db-manager, the same as always?

[2022-11-30 18:17] johnugeorge opened #2044 "Conformance tests for Katib"
Add Kubeflow conformance tests for Katib components

Ref: https://github.com/kubeflow/kubeflow/issues/6485

/cc @james-jwu

[2022-11-30 18:19] johnugeorge commented on #2044
Design: https://docs.google.com/document/d/1TRUKUY1zCCMdgF-nJ7QtzRwifsoQop0V8UnRo-GWlpI/edit#

[2022-11-30 19:03] #59 closed