[2018-04-03 19:05] ddutta opened #1 "Rename to hyperparameter-tuning ?"
Would it make sense to rename this repo to hyperparameter-tuning instead of hp-tuning. hp-tuning is less informative as a name :)

[2018-04-03 19:08] ddutta opened #2 "Existing approaches and design for hyperparameter-tuning"
https://github.com/tobegit3hub/advisor
https://github.com/CiscoAI/hyper-advisor-client
https://github.com/mlkube/katib

Please feel free to add ...

[2018-04-03 19:40] jlewi commented on #1
hyperparameter-tuning is kind of long winded.

See kubeflow/community#53

[2018-04-04 08:39] #1 closed

[2018-04-04 10:06] gaocegege opened #5 "[go] Establish vendor dependencies for go"
I am trying to build manager and other binaries from source code but it seems that we do not import all vendors. I think we should use dep or glide to establish vendor dependencies.

[2018-04-04 10:16] gaocegege opened #6 "[API][discussion] Create a CRD for study"
We have some discussions on slack and I have a idea to define a CRD and operator to manage studies, thus we could eliminate the customized CLI `katib-cli` and reuse `kubectl` to do the same thing.

I opened the issue to keep track of the idea.

[2018-04-04 10:20] gaocegege opened #7 "[go] Rename the package from mlkube/katib to this repo"
We used to place the code in https://github.com/mlkube/katib and we contributed to code to Kubeflow community, then I think we should rename the packages in the code.

[2018-04-04 10:26] gaocegege opened #8 "[maintainance] Setup the repository"
We should set up CI and other things according to https://github.com/kubeflow/community/blob/master/repository-setup.md

[2018-04-04 13:09] gaocegege commented on #5
Hi @YujiOshima

Could you please where the dep `vendor/github.com/osrg/dlk` is, I can not find it in GitHub.

[2018-04-04 13:10] YujiOshima commented on #7
Yes, I agree.
I will rename the packages.

[2018-04-04 13:12] gaocegege commented on #7
Thanks！ Then I assign this issue to you :0

[2018-04-05 02:36] #7 closed

[2018-04-05 02:37] gaocegege commented on #5
I reopened the issue since we have no vendor now.

[2018-04-06 07:42] gaocegege opened #14 "[build-release] Reuse the vendor during the image building process"
Now we run `go get xxx` in Dockerfile to get all dependencies for the build and it takes long time and increases the size of image significantly. Thus we think we should build the binary via multiple stage build or out of image building process to accelerate it.

- [x] Manager
- [x] Cli
- [x] Suggesion
- [x] Frontend
- [x] dlk

[2018-04-06 07:54] #5 closed

[2018-04-06 17:00] YujiOshima commented on #8
@gaocegege @jlewi I have read the tests of other repos and tried to use ci-bot and gcr.io/kubeflow-ci.
But I think it is difficult to test with only them.

In my understanding, the run_e2e_workflow script in `gcr.io/kubeflow-ci` deploy some pods defined `test/workflows/components` directory ( the path is defined in prow_config.yaml ) with ksonnet.
So we should rewrite manifests of katib into the k

[2018-04-06 21:41] jlewi commented on #8
Here's how the tests work

- You define an Argo workflow inside the repo
- The Argo workflow specifies a bunch of pods to run
- Its entirely up to you what docker images and what commands to run in each step of the Argo workflow.

- So if you want to run your unittests you would just have a pod that would do "go test ...". We need to do a little bit of extra work to report the failures in the way

[2018-04-07 03:52] gaocegege commented on #8
@YujiOshima There is no need to deploy katib with ksonnet. We use ksonnet and argo to construct the DAG. But you could use docker containers to do whatever you want.

You can refer to https://github.com/kubeflow/pytorch-operator . It uses ksonnet to construct the build graph while it does not use it to install the operator.

[2018-04-07 04:37] gaocegege opened #15 "[suggestion] Implement more algorithms"
katib has a extensible architecture and three search algorithms thanks to YujiOshima@:

- vizier-suggestion-random
- vizier-suggestion-grid
- vizier-suggestion-hyperband

And we could implement more algorithms based on the arch. It helps us to support more scenarios.

ref https://github.com/tobegit3hub/advisor#algorithms

* [x] Random Search Algorithm
* [ ] 2x Random Search Algorithm
* [x] Grid Se

[2018-04-07 04:53] gaocegege opened #16 "[go] Use camel-case instead of underscores"
Some variables in Go file use underscores, but "golint" complains about the underscores. We should avoid them and use camel-case instead.

[2018-04-07 05:57] gaocegege opened #18 "[suggestion] Move the logic about random service to `random` package"
We put the struct `RandomSuggestService` in `suggestion/suggestionService.go`, I think we should move it to `suggestion/random` to improve readability.

[2018-04-08 06:15] gaocegege opened #20 "[copyright] Add copyright headers in all files"
[code]

[2018-04-09 02:30] #18 closed

[2018-04-09 03:15] gaocegege commented on #14
/assign @gaocegege

[2018-04-09 04:26] gaocegege opened #24 "[feature] Support NAS"
We support some parameter search algorithms such as random search as grid search. Personally, I think it is better if we could support neural architecture search based on our system. I am not sure if it is feasible.

@YujiOshima We have some discussion on slack and I am glad to move it here.

/cc @weiweijiuzaizhe

[2018-04-09 07:11] gaocegege opened #26 "[discussion] Find a new way to install CLI"
ref https://github.com/kubeflow/hp-tuning/pull/25#issue-180227251

I think we could find a better way to install the cli.

[2018-04-09 07:49] YujiOshima commented on #24
I agree supporting NAS is great. NAS is so important for architecture search.
But NAS suggestion service needs to return an architecture information.
The architecture may be not as simple as hyperparameter.
We should discuss how to express the architecture.

[2018-04-09 08:02] YujiOshima commented on #24
I'm going to implement POC code for architecture search with NAS.
How about discussing the general architecture search interface with it?

[2018-04-09 08:03] gaocegege commented on #24
SGTM! Thanks!

[2018-04-09 08:04] YujiOshima commented on #24
/assign @YujiOshima

[2018-04-09 08:15] YujiOshima commented on #26
I can come up with at the moment as below.
* With go schema
	* The easiest way, You can simply do `go get github.com/kubeflow/hp-tuning/cli`.
	But it's difficult to specify the version.
	* Build from source. Thanks to your PR, we can build cli without `go get` every package.

* Using GitHub release. Push binary with manually or CI, and download it.

[2018-04-09 08:28] gaocegege commented on #14
It hurts CI deeply thus I set it to p0

[2018-04-09 12:24] jlewi commented on #8
Please try to use ksonnet. We should try to be consistent about how we package things. We want to have a single registry for all our packages and deploy them in a consistent fashion.

[2018-04-10 03:16] #14 closed

[2018-04-10 09:09] gaocegege commented on #26
We released a version, then we could push the binaries to it.

[2018-04-10 09:09] #26 closed

[2018-04-10 09:10] gaocegege opened #31 "[release] Add cli to v0.1.0-alpha"
And we need to update the docs, too.

[2018-04-10 09:41] gaocegege commented on #8
OK, I will open an issue to keep track of the progress.

[2018-04-10 09:43] gaocegege opened #32 "[release] Ksonnet the katib"

[2018-04-11 00:38] libbyandhelen commented on #15
I am implementing the Bayesian Optimization algorithm using python. But I have encountered a question. Since I use the one_hot encoding to deal with the categorical parameters, and embed the integer and discrete parameters to continuous space, the final suggestion is different from the values which need to be used for training. For example:
this is the study config:
[code]
and this is the intermed

[2018-04-11 07:48] YujiOshima commented on #15
@libbyandhelen Cool!
Ideally, the intermediate results should be saved in DB.
But the Katib DB does not have such interface.
So currently suggestions are saved the intermediate information in their memory.
I understand it's big problem because it makes the services stateful.
SuggestTrial is called from `trialIteration` in the manager. https://github.com/kubeflow/hp-tuning/blob/master/manager/main.

[2018-04-11 07:54] YujiOshima opened #33 "[feature] Save temporary data of suggestions to DB."
Currently, suggestions store the intermediate information in their memory.
It makes the services stateful.
We should make DB interface for suggestion services.

[2018-04-11 08:18] gaocegege opened #34 "[feature] Use vitess instead of MySQL"
I think vitness is more appropriate than mysql since it is cloud native. https://github.com/vitessio/vitess

[2018-04-12 07:17] #31 closed

[2018-04-12 08:08] gaocegege commented on #15
@libbyandhelen

Welcome to open a WIP PR (work in progress PR) and let us see your work to guarantee that you are in the right way.

[2018-04-12 08:43] gaocegege commented on #15
FYI I added some possible algorithms in https://github.com/kubeflow/hp-tuning/issues/15#issue-312169818

[2018-04-13 02:27] libbyandhelen commented on #15
I am now trying to add more kernels in Gaussian process and more types of acquisition functions. In this case, the service itself needs some parameters such as kernel type and acquisition function type. Dose the `SetSuggestionParameters` act as setting the parameters of the service itself?
@YujiOshima

[2018-04-13 02:41] gaocegege opened #39 "[feature] Integrate with tf-operator, pytorch-operator"
1. take parameters that control distributed training (e.g. number of replicas)
2. create the appropriate CRD as opposed to K8s job controller

https://kubeflow.slack.com/archives/C9ZLKR73L/p1523553472000001

[2018-04-13 02:46] YujiOshima commented on #15
@libbyandhelen Yes, it is. The `SuggestionParameters` consists of key-value pairs `string Name : string Value`.
And you will parse their parameters like this https://github.com/kubeflow/hp-tuning/blob/master/suggestion/hyperband_service.go#L92

[2018-04-13 03:03] jlewi commented on #32
I added a guide to adding new ksonnet packages [here](https://github.com/kubeflow/kubeflow/blob/master/docs_dev/ksonnet_packages.md).

It should be straightforward assuming you have existing json/yaml K8s manifests.

[2018-04-13 04:53] libbyandhelen commented on #15
@YujiOshima Got it. I just pushed a commit to the pull request with one more GP kernel added and two more acquisition functions added. May I ask what is the next step, and how I should integrate it with the system?

[2018-04-13 05:05] gaocegege opened #40 "[maintainnace] Invite more reviewers"
Now we have 0 reviewer, and it is not a good thing for an open source project.

[2018-04-13 05:07] gaocegege commented on #40
@jose5918 @ddysher @DjangoPeng @mitake @AkihiroSuda @libbyandhelen  Would you please to be the reviewer of katib?

[2018-04-13 05:10] gaocegege commented on #39
#dibs

I will try to integration katib and tf-operator.

[2018-04-13 06:09] YujiOshima opened #42 "[feature] Add test code for each algorithms"
There is no test code for each suggestion and early stop algorithms.
We need to test the algorithms will work as expected.

[2018-04-13 06:43] YujiOshima opened #43 "Upload existing models to modelDB interface"
ModelDB provides nice UI.
Enabled to upload models that are not the Katib managed trail would be nice.
Add model upload API to Katib manager and commands to katib-cli.
In my idea, cli is like below.
[code]

`--parameter` and `--metrics` are optional but you can sort with these parameters in the UI.
Setting pvc and path correctly, katib create TF-board link.

cc @jlewi

[2018-04-13 06:43] YujiOshima commented on #43
/assign @YujiOshima

[2018-04-13 11:40] ddysher commented on #40
sure :)

[2018-04-13 13:54] ddysher opened #44 "Error running katib on latest master (04/13)"
After deploying katib following getting started guide, I've seen the following errors:

[code]

I've managed to get it running; it turns out the command is not correct.  For example, I have to change this:

[code]

to

[code]

However, based on docker file for vizier-core, `vizier-manager` is already set as entrypoint,

[code]

Anything wrong with the above 👆 setup?

/cc @gaocegege @YujiOshima

[2018-04-13 16:55] jose5918 commented on #40
Sure

[2018-04-14 02:52] gaocegege commented on #44
Yeah, we do not push the latest image, thanks for your issue! @ddysher

[2018-04-16 01:49] ddysher commented on #44
@YujiOshima thanks

I pulled latest image but saw the following error while trying to list/create studies. Looks like some protobuf issues.

[code]

[2018-04-16 02:27] YujiOshima commented on #44
@ddysher Thank you for reporting! It looks the API of cli is old.

@gaocegege Are you upload CLI with release version code?
It looks to be built with older commit code.

[2018-04-16 03:11] ddysher commented on #44
@YujiOshima Thanks!  I built from source and it works now.

[2018-04-16 03:15] gaocegege commented on #44
@ddysher Did you use the binary downloaded from the release? I think it works with that version but it can not work with master.

[2018-04-16 05:37] ddysher commented on #44
sure

[2018-04-16 05:37] #44 closed

[2018-04-16 05:44] gaocegege commented on #8
I am going to close the issue. There are one thing to do: #32

[2018-04-16 05:44] #8 closed

[2018-04-16 05:46] gaocegege commented on #2
We are trying to collaborate with @libbyandhelen to implement more algorithms which is in advisor or ciscoAI's client, thus going to close the issue. Feel free to leave comments if you have any thought about it.

[2018-04-16 05:46] #2 closed

[2018-04-16 06:53] ddysher commented on #6
Two random thoughts:

- should we create CRD for trails as well?
- since hyper-tuning system is fairly standalone system, we might also consider using API aggregation, which gives you higher flexibility, e.g. we can keep using mysql as our storage backend but provides the same API interface to katib users

[2018-04-16 06:57] gaocegege commented on #6
Yeah, I think so. API aggregation is more appropriate

[2018-04-16 07:00] gaocegege commented on #6
I am not sure if we should create CRD for trails, since we define it in study config. Thus I think we could treat it as worker/ps in TensorFlow.

[2018-04-16 07:37] ddysher opened #46 "[Discussion] structural refactor to make the source more like 'idiomatic go'"
Right now, we have the components running (excluding modeldb):

- dlk-manager
- vizier-core
- vizier-db
- vizier-suggestion-[algorithm]

These are the binaries I've found after briefly scanning the code structure:

[code]

Personally, I think there are two issues we can fix to improve the code base:
- component naming and source code naming is inconsistent
- structure can be improved to make it co

[2018-04-16 07:47] gaocegege commented on #46
:tada: SGTM

[2018-04-16 09:36] ddysher opened #47 "draft suggestions for better user guide"
I've walked through the getting started guide, here's my suggestions on a few improvements that we can do to improve the overall user experience (fairly low hanging fruit IMO):

- Use minikube (or local cluster). The getting started guide uses a custom cluster with gpu, which is, in most cases, impractical for new comers to setup and try out katib
- Do not use ingress. Similar to the above issue,

[2018-04-16 09:42] gaocegege commented on #47
:tada:

Thanks for your suggestions!

[2018-04-16 15:19] YujiOshima commented on #47
@ddysher Thank you!
I agree with providing an easier example.
How about prepare step-by-step docs? e.g.
1. Use Minikube, CPU, without Ingress, mnist
2. Use GKE, GPU, with Ingress, cifar10 or mnist
3. Use Onpremiss, GPU/CPU, with Ingress, cifar10 or others.

I hope it will solve by this PR #48 . Ofcourse we alse need to implove doc.

[2018-04-17 00:00] YujiOshima commented on #46
Thank you @ddysher ! I agree with current code structure is little confusing.
Your proposal is LGTM.
I think the earlystopping services should be the same layer of suggestions.

[2018-04-17 00:10] jose5918 opened #50 "Reduce time it takes to build all images"
Takes a long time to build all images.  There are several ways to speed up the e2e tests.

The easiest way, with the least benefit, would be to add a `.glcoudignore` file like in the other repos. This will prevent uploading the entire vendor directory every time you submit a docker build to gcloud.

The second would be to run container builds in parallel  using argo rather than sequentially.

Any

[2018-04-17 02:12] gaocegege commented on #46
Agree. I think we should put all suggestions in CLI, too.

[2018-04-18 01:16] ddysher commented on #46
@YujiOshima means we should put earlystopping at top level, similar to suggestion service?

[2018-04-18 01:32] ddysher commented on #47
Sounds like a plan, I'll update the getting started guide for the first item.

[2018-04-18 02:38] YujiOshima commented on #46
Yes, it means to put the ealystoppings at top level.
They should be separated from other go pkgs since they are written not only in go but in python ( maybe others ).
Is my understanding correct? @ddysher

[2018-04-18 02:43] gaocegege commented on #46
Sorry for the misunderstanding. But why don't we put all CLIs in cli package?

[2018-04-18 03:06] #43 closed

[2018-04-18 05:37] gaocegege commented on #46
Yeah, I think so.

[2018-04-18 10:12] gaocegege opened #53 "[test] Add e2e test cases"
I know that it is hard to establish e2e test for katib but we need it :-)

[2018-04-19 02:57] gaocegege commented on #46
@ddysher @YujiOshima Do you think it is appropriate, I could work on the issue.

[2018-04-19 03:04] gaocegege opened #54 "[cli] Use cobra to refactor the cli"
/assign @YujiOshima

/priority p1
/area cli

[2018-04-19 04:24] YujiOshima commented on #46
@gaocegege Thanks! I think it is also a good way.

[2018-04-19 04:25] YujiOshima commented on #46
/assign @gaocegege

[2018-04-19 06:13] ankushagarwal opened #57 "Provide a cli binary for macOS / darwin"
The current alpha release only provides a cli binary for linux-amd64. Would be nice to have a build for macOS / darwin as well

/cc @gaocegege

[2018-04-19 06:43] ankushagarwal commented on #57
You don't need access to macOS to build macOS binaries

You can simply run this in your linux environment

`env GOOS=darwin GOARCH=amd64 go build github.com/kubeflow/hp-tuning/cli`

Reference : https://www.digitalocean.com/community/tutorials/how-to-build-go-executables-for-multiple-platforms-on-ubuntu-16-04

[2018-04-19 06:52] gaocegege commented on #57
OK, thanks.

[2018-04-19 07:41] gaocegege commented on #57
/assign @gaocegege

[2018-04-19 07:45] #57 closed

[2018-04-19 07:46] gaocegege commented on #57
Added, thanks

[2018-04-19 08:50] gaocegege opened #58 "[test] Fix broken unit test cases"
Now our unit test cases are broken.

[2018-04-19 11:30] gaocegege opened #59 "[test] Add verify-mockgen in CI"
Now we do not check if generated code is changed, thus we should do it. Refer to https://github.com/kubeflow/tf-operator/blob/master/hack/verify-codegen.sh

[2018-04-19 14:52] ankushagarwal commented on #57
Thank you!

[2018-04-20 02:08] ddysher commented on #46
@gaocegege Thanks!

As much as I want to fix it, I personally do not have time in near future to work on it :(  Glad that you can take on it!

[2018-04-20 02:13] gaocegege commented on #46
Yeah, I know. :smile:

But if you want to fix it, I can do other tasks.

WDYT?

[2018-04-20 02:18] gaocegege opened #62 "[go] Update the package name, again"
We have the name `katib` now :smile:

[2018-04-20 02:28] gaocegege commented on #40
@wbuchwalter

We have a dashboard based on modeldb. Would you mind reviewing the frontend code for katib? Or do you have any candidate in the community who is familiar with js/css/html?

[2018-04-20 03:00] gaocegege opened #63 "[upstream] Update name in kubernetes/test-infra"
https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L105

/cc @YujiOshima

[2018-04-20 03:00] gaocegege commented on #63
/priority p0

[2018-04-20 03:26] gaocegege commented on #63
/assign @gaocegege

[2018-04-20 03:26] gaocegege commented on #62
@YujiOshima Would you mind doing it?

[2018-04-20 03:27] gaocegege commented on #58
Close by #56

[2018-04-20 03:27] #58 closed

[2018-04-20 03:35] YujiOshima commented on #62
@gaocegege Sure.

[2018-04-20 03:36] YujiOshima commented on #62
/assign @YujiOshima

[2018-04-20 03:37] gaocegege commented on #62
Sorry, I opened a PR for it since it blocks #46 PTAL #64

[2018-04-20 03:53] gaocegege commented on #63
ref https://github.com/kubernetes/test-infra/pull/7802

[2018-04-20 06:07] gaocegege commented on #46
@YujiOshima Will we keep dlk for a long time?

[2018-04-20 06:28] gaocegege commented on #46
I think it is a separate issue, while I agree your idea :smile: I will open an new issue for it.

[2018-04-20 06:28] gaocegege commented on #62
Close by #64

[2018-04-20 06:28] #62 closed

[2018-04-20 06:31] gaocegege opened #66 "[manager & worker] Migrate dlk into worker interface"
https://github.com/kubeflow/katib/issues/46#issuecomment-382991676

* Tensorflow, pytorch.. operator worker interface: Support distributed learning task.
* Kubernetes worker interface:  For frameworks not supported by kubeflow operator. Only manage single machine task.

[2018-04-21 14:09] ddysher commented on #66
This might not be the right place to ask, but I think the question I have is loosely related to this issue.

In google vizier, the API presented looks like this:

[code]

That is, client uses SDK to:
  - query vizier for trial
  - use the trial to run training
  - report metrics back to vizier

In katib, the workflow looks like this:
  - query trial is done through katib manager
  - running a tria

[2018-04-21 14:59] ddysher opened #68 "distributed suggestion service"
suggestion service is inherently stateful, we want to make sure a study is processed by a single suggestion service instance.  For example, in current setup, if we run 2 replicas of grid service, they will both receive requests, thus essentially suggesting the same parameters twice.

The simplest solution would be to change the service affinity to 'ClientIP' in kubernetes.  However, in the long ru

[2018-04-22 02:58] gaocegege commented on #66
Yeah, I met the same problem when I tried to support tf-operator in katib. I find that it is hard to config the tf-job in the current design since we maintain only one configuration file studyconfig.

[2018-04-22 03:10] gaocegege commented on #63
Closed by kubernetes/test-infra#7802

[2018-04-22 03:10] #63 closed

[2018-04-22 04:03] YujiOshima commented on #66
@ddysher Yes.  In Katib, the while loop is in the katib manager (`trialIteration`).
I agree it is not flexible.
IMHO, we won't need to prepare new SDK but enrich grpc API.
Currently, once you will do `CreateStudy`, everything will be done in katib manager.

How about make API more flexible as below?

* CreateStudy: You can select everything will be done in katib (same as now) or only store the stu

[2018-04-22 06:48] ddysher commented on #66
yeah, this looks promising and closely mirrors vizier api.  we can use a 'bottom-up' approach to design the API - start with the lowest api where users are required to call individual functions themselves; then once we have a clearer pictures of how people are using the api, we can provide an ambassador component like what katib does today, to provide higher-level api for users.  WDYT?

[2018-04-22 07:04] ddysher commented on #68
saving all trials to db sounds like a good first step, but once we can support large number of trials per study, and large number of studies, we might need to do more optimizations

[2018-04-22 07:10] YujiOshima commented on #66
@ddysher Great. Then I'm going to try to break down the `CreateStudy` API to lower level API.

[2018-04-23 13:30] gaocegege opened #71 "[docs] Add docs about how to implement a new algorithm"
We have description for it https://github.com/kubeflow/katib/blob/master/docs/developer-guide.md#implement-new-suggestion-algorithm but it is outdated and does not show how to write it in Python.

[2018-04-24 04:00] YujiOshima opened #72 "Make low-level API for using katib flexibly"
Discussde #66
This is the APIs I'm going to refactor and add.

| API                       | input                                                       | process                                                    | output             |
|---------------------------|-------------------------------------------------------------|------------------------------------------------------------|-----------

[2018-04-24 13:46] evandekieft opened #73 "CreateStudy RPC error: Objective_Value_Name is required"
When I try to run `Createstudy` as in the example I'm getting:

[code]

Is there a mismatch between the latest CLI [release](https://github.com/kubeflow/katib/releases/tag/v0.1.0-alpha) and the core image in source control? How does one build the CLI from source?

[2018-04-24 14:50] gaocegege commented on #73
Yeah, it is a mismatch. You could build it using `go build -o katib-cli github.com/kubeflow/katib/cmd/cli`

[2018-04-25 04:43] ddysher commented on #73
Should we create a new release or created versioned images ASAP?  @gaocegege

[2018-04-25 04:44] ddysher commented on #72
@YujiOshima thanks for putting this together!  I'm on business travel last two days, will take a look ASAP :)

[2018-04-25 04:48] YujiOshima commented on #73
@evandekieft Sorry for inconvenient.
@gaocegege @gaocegege We are refining API and CLI. I want to release the new version after that.
WDYT?
And we need to automat image building..

[2018-04-25 05:10] gaocegege commented on #73
I agree that we could publish a new pre-release version. Could you do it for us?

[2018-04-25 05:11] gaocegege commented on #72
Personally, LGTM

Thanks for your awesome work!

[2018-04-25 05:57] YujiOshima commented on #73
I can push docker images but I don't have permission to push binary to GitHub repo.

[2018-04-25 06:01] gaocegege commented on #73
OK, I could do it. Could you tell me the commit ID that you used to push the docker images?

[2018-04-25 07:39] gaocegege commented on #73
@evandekieft Does it work for you?

go build -o katib-cli github.com/kubeflow/katib/cmd/cli

[2018-04-26 03:24] gaocegege commented on #73
@jlewi Could we give Yuji the permission to release the version?

[2018-04-26 03:41] gaocegege commented on #73
https://github.com/kubeflow/katib/releases/tag/v0.1.1-alpha

PTAL @evandekieft

[2018-04-26 03:41] #73 closed

[2018-04-26 06:45] ddysher commented on #72
Thanks @YujiOshima, I've listed some of my concerns:

#### For `GetSuggestions` API

- Why do I have to pass `SuggestionAlgorithmName` and `RequestNum` to GetSuggestions if a study already has StudyConfig?  There's also a `SetSuggestionParameter` API, which seems to do a similar task.
- It seems `GetSuggestions` always run synchronously?  is it necessary to provide support from asynchronous trials

[2018-05-02 20:25] libbyandhelen commented on #72
@YujiOshima
So based on your PR and some modifications for supporting CMA-ES and BO, I drew a diagram to illustrate the main workflow.
![untitled diagram](https://user-images.githubusercontent.com/19221298/39543230-83467d72-4dff-11e8-94fb-d4223f41d60b.png)

- A new grpc function `GetTrial` in `api.proto` to get trial by `trial_id`.
Each intermediate result should be correspond to one trial, so I s

[2018-05-03 07:44] YujiOshima commented on #72
@libbyandhelen
Thank you! Cool!

In new API, the Trial is an only parameter set and the Worker is an instance of the evaluation process of a trial.
Then an intermediate result is corresponding to one worker.
And multiple workers can be corresponding to one trial.
So how about get `worker_id` list from trial_id`?
And you can get an intermediate result by calling `GetMetrics` rpc with `worker_id`.
[

[2018-05-06 14:39] YujiOshima opened #77 "Automated build"
@gaocegege @jlewi
Who is the owner of the [kubeflow docker hub repos](https://hub.docker.com/u/kubeflow/)?
Can you setup dockerhub's Automated Build for Katib images?

[2018-05-06 14:53] gaocegege commented on #77
I think Jeremy is the owner, and I have no permission to do it.

[2018-05-07 06:17] YujiOshima commented on #77
@jlewi OK! I will try to build our images with Kaniko.

[2018-05-08 16:46] jlewi opened #78 "Release process for CLI"
It looks like Katib includes a CLI. We'll need a release process for this and a way to distribute releases.

What are the initial platforms for which we want to build and release the CLI?

[2018-05-08 16:47] jlewi opened #79 "Release process for K8s components"
We need a release process for the components that run on the K8s cluster and the associated ksonnet packages.

There is a separate issue (#78) for the CLI.

[2018-05-08 16:50] libbyandhelen commented on #72
@YujiOshima
Thank you!
You said that multiple workers can be correspond to one trial. Then what is the relationship between these workers. Are their metrics the same? Or they are for different objectives? If so, since the current algorithms do not support muti-objectives, can I safely assume that one trial is only correspond to one worker?

[2018-05-09 04:06] gaocegege commented on #78
https://github.com/kubeflow/katib/releases/tag/v0.1.1-alpha

Now we have two supported platform:

- katib-cli-darwin-amd64
- katib-cli-linux-amd64

[2018-05-09 04:07] gaocegege commented on #24
OK, we can set it to p2/p3 since it is hard to implement :thinking:

WDYT @YujiOshima

[2018-05-09 04:15] YujiOshima commented on #24
Yes. In the initial release, I think that support of random, grid, BO, CMA-ES is sufficient.
I'm focusing to refine API now.

[2018-05-09 04:30] YujiOshima commented on #72
@libbyandhelen
In my assumption, when users want to train the same parameter with several initial-values or need the variance of the result, multi workers are created from one Trial.
So the objective and metrics are the same among workers (values of them may be different.)

[2018-05-09 18:54] lluunn opened #80 "cli failed to connect"
I was trying the getting start [guide](https://github.com/kubeflow/katib/blob/master/docs/getting-start.md).
I can see the pod using kubectl.

But
[code]

[code]

Do we need to configure cli somehow?

[2018-05-10 03:29] lluunn commented on #80
download from github, as https://github.com/kubeflow/katib/blob/master/docs/getting-start.md#install-the-system-and-cli

[2018-05-10 03:35] gaocegege commented on #80
Then you need to checkout v0.1.0-alpha to have a try. We do not have a CD process for CLI so it is version specific.

[2018-05-10 03:37] gaocegege commented on #80
Wait a minute, @YujiOshima Does our images have the tag `v0.1.0-alpha` or `v0.1.1-alpha` for test?

[2018-05-10 03:39] gaocegege commented on #77
It seems that Kaniko does not support multiple stage build.

[2018-05-10 03:40] gaocegege commented on #77
But we definitely need CD for CLI and the docker images. There are some issues about it

Ref #80

[2018-05-10 04:33] YujiOshima commented on #77
Hmm, without multi-stage build, the image size will be so large.
But CD build is a high priority since we will probably cause an inconvenience for users.

* Use Kaniko without muti-stage build for now. We wait it will be supported by Kaniko.
* Use another tool (e.g. docker-hub automated build) until muti-stage build is supported by Kaniko.

IMHO, we can use kaniko without muti-stage build for now.

[2018-05-10 05:04] gaocegege commented on #77
Ref https://github.com/GoogleContainerTools/kaniko/issues/175

It works for me, but I think we should ask the kaniko owner if they want to implement the feature in the future.

[2018-05-10 05:07] gaocegege commented on #77
https://github.com/GoogleContainerTools/kaniko/pull/141/

It seems that they are working on it these days.

[2018-05-10 23:57] libbyandhelen commented on #72
@YujiOshima
OK, cool. Then maybe I can use the mean of all the metric values as the objective value.

[2018-05-11 05:40] gaocegege opened #82 "[request] Invite libbyandhelen as reviewer for algorithm support"
libbyandhelen implemented Bayesian Optimization for katib and are implementing Covariance Matrix Adaptation Evolution Strategy these days. His contribution demonstrates his knowledge on katib code base.

@libbyandhelen Then would you like to be an reviewer of katib and help us review the code about suggestion algorithms? I'd appreciate it.

/cc @YujiOshima

[2018-05-11 07:17] libbyandhelen commented on #82
@gaocegege
Sure! Thank you for your invitation. I would love to:)

[2018-05-11 18:43] libbyandhelen commented on #72
@YujiOshima
I still have a question about `get metrics`
the structure of the `getMetricsReply` seems to be like this:
[code]

So the question is what is the "name" and the list of values for? Isn't a worker only has one value?

[2018-05-14 13:46] YujiOshima commented on #72
The metric is not only for objective value.
For example, the objective value is accuracy, but you may want to collect loss, recall etc.
The names of metrics are defined in study config.
And Katib will collect all logs of each metrics value.
So when you want to get the latest objective value, set the name of objective value  to `GetMetricsRequest.metrics_names` and get `getMetricsReply.metrics_log_

[2018-05-14 17:13] jlewi commented on #82
Invite sent.
/close

[2018-05-14 17:13] #82 closed

[2018-05-15 05:08] gaocegege commented on #50
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_katib/83/kubeflow-katib-presubmit/39/
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-katib-presubmit-e2e-83-84b74b0-39-869b?tab=workflow

We spend 40 mins in building and it causes time out in Prow. We need to fix it ASAP.

[2018-05-15 05:33] YujiOshima commented on #50
I will address this right now.

[2018-05-15 06:03] gaocegege commented on #50
Thanks :+1:

:smile:

[2018-05-16 09:12] YujiOshima opened #87 "Study controller - Running HP Jobs without writing code"
I open PR #86
This is for study controller.
Currently, we need to write some code to use Katib in any case.
I want to make users don't need to write any code In a typical usecase,
The study controller is the implementation of logic for how to call services, run worker, and save models.
This is a POC of the study controller https://github.com/YujiOshima/hp-tuning/blob/51d456da58f2a77648290c175491e0

[2018-05-16 09:13] YujiOshima commented on #87
@gaocegege @ddysher @libbyandhelen
I drow an overview of Katib API and resources.
https://docs.google.com/presentation/d/1KEA5vTmpDCDUl_zvnlYq2Fc0yIshzwfW6Tb8t4Zmrt0/edit?usp=sharing
Feel free to comment or edit it!

[2018-05-16 13:57] jlewi opened #88 "Katib UI ambassador route"
Katib should have an ambassador route for accessing the UI

See also #32 (ksonnet component)

[2018-05-16 13:58] jlewi opened #89 "Deploy Katib in dev.kubeflow.org"
We should deploy Katib in dev.kubeflow.org so we can test it out.

Blocked by #32 (ksonnet component for Katib)

[2018-05-16 14:00] jlewi opened #90 "[central ui] Need a link to Katib UI"
central-ui should provide a link to Katib.

This is blocked on a ksonnet component for Katib (#32)

Since Katib isn't always deployed it would be nice if the central UI could convey whether or not Katib was running (e.g. greying out the link if Katib isn't available).

/priority p1
/cc @swiftdiaries

[2018-05-17 12:30] jlewi commented on #66
@ddysher

query vizier for trial
use the trial to run training
report metrics back to vizier

Is the proposal to have trainer code call Katib to get parameters? e.g. launch a TFJob that would call GetSuggestion?

My expectation is that the loop

[code]

Is not part of the TFJob/PyTorch job itself.

Any thought abut how metrics would be reported? A couple of things come to mind

- One of the replic

[2018-05-22 20:32] lluunn commented on #80
I am using v0.1.1-alpha now. Got a different error

[code]

It seems it's trying to find the pool on 127.0.0.1?

[2018-05-22 21:44] lluunn commented on #32
Has anyone started on this? If not, I can pick it up.
@YujiOshima @gaocegege

[2018-05-23 01:36] gaocegege commented on #32
No, we both are not familiar with ksonnet, thanks for your help :tada:

[2018-05-23 01:36] gaocegege commented on #32
/assign @lluunn

[2018-05-23 01:40] YujiOshima commented on #80
It looks problem of DNS setting on your host.
Can you `nslookup gke-test-katib-default-pool-b88188d2-jnvp` from your host?

[2018-05-23 01:43] YujiOshima commented on #32
@lluunn Great! Thank you for your help!

[2018-05-23 07:42] lluunn commented on #80
[code]

To clarify, I am deploying katib to a GKE cluster, and calling katib-cli from my laptop.
Is it expected to work this way?
Do a need to setup anything for my cluster?

[2018-05-24 01:02] lluunn commented on #72
cc @lluunn

[2018-05-24 01:41] YujiOshima commented on #80
You failed to resolve the name `gke-test-katib-default-pool-b88188d2-jnvp`.
Try to use the IP address of the node.
And in GKE, you should add a firewall rule to accessing to port 30678.
e.g. `gcloud compute firewall-rules create katibservice --allow tcp:30678`

[2018-05-24 01:44] YujiOshima commented on #72
@libbyandhelen Oh, I'm sorry for my mistake.
I will open PR to fix it.

[2018-05-25 01:52] #80 closed

[2018-05-25 04:15] lluunn commented on #54
This is done right?

[2018-05-25 04:17] YujiOshima commented on #54
@lluunn Yes, this is done. Thanks!

[2018-05-25 04:17] YujiOshima commented on #54
/clone

[2018-05-25 04:17] YujiOshima commented on #54
/close

[2018-05-25 04:17] #54 closed

[2018-05-25 19:38] lluunn opened #96 "[design] How and which Katib services need to be exposed to users?"
- vizier-core is now a NodePort service. Should we have an ingress / LB?
- modeldb ingress has hard-coded [host](https://github.com/kubeflow/katib/blob/master/manifests/modeldb/frontend/ingress.yaml#L8): k-cluster.example.net.  The endpoint k-cluster.example.net/katib mentioned in getting-start won't work.

[2018-05-25 20:42] jlewi commented on #89
/assign @lluunn

[2018-05-25 20:42] jlewi commented on #88
/assign @lluunn

[2018-05-28 13:06] YujiOshima commented on #96
@lluunn
* Yes. Since the previous version of nginx ingress didn't support GRPC, we didn't use the ingress.
But it is supported now. We should use it.
* It is a problem for easy get starting. Is it able to be solved by ksonnet?

[2018-05-29 12:41] bmenn opened #97 "Segfault when saving study after completion"
I have not looked into why this might be occurring, but I came across this segfault error trying to run `examples/random-cpu.yml` and `examples/mnist-cpu.yml`.

katib checkout at: ecb27de9e7a0d2ffbf8715635c6a7d4517f1602e
katib-cli: katib-cli-darwin-amd64 v0.1.1-alpha

Logs:
[code]

[2018-05-30 07:56] YujiOshima commented on #97
@bmenn Thank you for your report.
There are drastic changes in the manager from v0.1.1-alpha.
We need to release a new version.
I  think this bug is fixed in new version.

[2018-05-31 04:34] bmenn commented on #97
Thanks for the update on the new changes. I will try to rebuild and see if the error has disappeared.

[2018-06-01 10:16] vinaykakade opened #99 "unknown method 'GetSuggestions' error while running MinikubeDemo"
While following instructions for MinikubeDemo, I get the following error:
[code]
Any thoughts on what may be going wrong? Also, I saw a comment regarding drastic changes in manager (https://github.com/kubeflow/katib/issues/97), is this related?

[2018-06-01 11:39] mayankjuneja commented on #99
I am still looking more into this, but it could be because that the images (vizier-core) on dockerhub are not updated.  I was able to fix this error by building images locally, but getting a different error now. I will share more updates soon.

[2018-06-01 15:46] YujiOshima commented on #77
@jlewi @gaocegege
I have some troubles to use kaniko for building images.
* How to send the katib source to kaniko worker(nfsPVC? or GCS?)
* How to send the credentials to kaniko?

But now automated build and release process is the high priority since many user's issues are related to version mismatch.
So I want to use gcloud tool or docker command for now.
Then, which registry should I push to an

[2018-06-04 20:01] #32 closed

[2018-06-05 03:00] gaocegege commented on #87
Sorry for the late reply. These days I am working one tf-operator 0.2 release thus no time to sync katib. I will take a look in two hours.

[2018-06-05 04:56] YujiOshima opened #102 "Release v0.1.2-alpha"
The API of Katib is drastically changed from v0.1.1-alpha.
Though we can't update v0.2 yet, we need to release v0.1.2-alpha, update docker images and update docs.
cc @gaocegege

[2018-06-05 06:43] gaocegege commented on #102
https://github.com/kubeflow/katib/releases/tag/v0.1.2-alpha

Version is created in GitHub, things to do are:

- [ ] Publish Docker images to DockerHub

[2018-06-05 06:44] gaocegege commented on #102
@YujiOshima Could you please push the images? I think I have no permission to push to katib or kubeflow (we are using katib now).

[2018-06-05 06:55] YujiOshima commented on #102
@gaocegege Thank you!

done!

[2018-06-05 07:58] gaocegege commented on #102
I am closing the issue since we have:

- released the new version in GitHub and upload CLI for Linux and Darwin
- published new Docker images
- Updated the docs.

[2018-06-05 07:58] #102 closed

[2018-06-05 07:58] gaocegege commented on #97
We released v0.1.2-alpha, please have a try :smile:

[2018-06-06 07:54] vinaykakade commented on #99
This was fixed in the latest master, after https://github.com/kubeflow/katib/pull/103 was merged. Resolving.

[2018-06-06 07:54] #99 closed

[2018-06-06 08:36] gaocegege opened #106 "Remove dlk from katib"
Ref https://github.com/kubeflow/katib/pull/100#issuecomment-394597946

We don't need dlk deployment in the latest code.

[2018-06-06 08:36] gaocegege commented on #106
@vinaykakade

Would you like to help us to remove the code?

[2018-06-06 11:06] vinaykakade commented on #106
https://github.com/kubeflow/katib/issues/106

[2018-06-07 06:05] #106 closed

[2018-06-07 16:06] vivekbhadouria opened #109 "Error while Running MNIST Example"
Hello All:

I tried to run MNIST example on Google Cloud Kubernetes Cluster using `go run client-example.go -s 192.168.99.100:30678,` following the steps proposed in the documentation, but I am getting the following error:
`./client-example.go:31:27: cannot use conn (type *"google.golang.org/grpc".ClientConn) as type *"github.com/kubeflow/katib/vendor/google.golang.org/grpc".ClientConn in argument

[2018-06-08 02:51] YujiOshima commented on #109
@vivekbhadouria The address of GKE cluster probably not be `192.168.99.100`. Please check the node IP of your cluster.
And GKE cannot access from outside in default config. You need to create Ingress or set ACL like `gcloud compute firewall-rules create katibservice --allow tcp:30678`.

[2018-06-08 16:34] patzhang commented on #109
@YujiOshima I had the same error when running with minikube on Mac today.
[code]
Also, the web UI at http://192.168.99.100:30080/projects can be loaded successfully.
Will the error related go dependencies or go setup?  I installed minikube, go, VM with homebrew.
Any ideas? Thanks.

[2018-06-08 17:05] YujiOshima commented on #109
@patzhang Could you show me the result of `minikube service list` and `kubectl -n katib get pod` ?

[2018-06-08 20:19] patzhang commented on #109
@YujiOshima Sure.
[code]

[2018-06-09 07:38] YujiOshima commented on #109
Hmm... It looks katib components are correctly running.
Which version are you using?  Latest master branch or `v0.1.2-alpha`? And using vendored packages?
That error isn't seen in my environment.

[2018-06-09 07:42] YujiOshima opened #112 "Enrich logging"
Currently, the logs of Katib components are so poor.
We need enrich logs in the debug, verbose, and info level.
Maybe we should introduce `glog` pkg.

[2018-06-10 05:06] gaocegege commented on #112
We prefer logrus in the community, I think. Since it supports structured logging.

[2018-06-11 21:39] patzhang commented on #109
Hi @YujiOshima, I think the problem I had is related to vendored packages. I am new to Go Lang, so I do not know how to use the vendor package. I am using `go version go1.10.3 darwin/amd64`.

I cloned the katib repo and run .deploy. Then I run the following commands:
[code]
However, if I go to my $GOPATH and run from there, it works.
[code]
1) Do I need to use `go get` to install the dependencies?

[2018-06-12 02:50] YujiOshima commented on #109
You should source in $GOPATH.
And you don't need to go get all depended packages.
Go will search packages in vendor directory when the source is in $GOPATH.
https://golang.org/cmd/go/#hdr-Vendor_Directories

Oh, sorry. I will fix it.

[2018-06-12 10:48] vinaykakade opened #115 "hyperband example"
Katib readme mentions hyperband as a supported algorithm, but there isn't an example in the repository. Is it possible to provide an example that uses hyperband?

[2018-06-12 11:12] vinaykakade commented on #115
And the code here is commented out: https://github.com/kubeflow/katib/blob/master/pkg/suggestion/hyperband_service.go. Please let us know where we can take a look at the source as well.

[2018-06-12 13:49] patzhang commented on #109
Thanks, @YujiOshima  I checked out the code under ~/go/src, so Go can pick up packages from the vendor directory now. However, I still a problem with the api package.
[code]
Do I need to build the api package?

[2018-06-12 14:28] YujiOshima commented on #115
@vinaykakade Hyperband needs some fix for new version API.
I will update it and add an example!

[2018-06-12 14:29] YujiOshima commented on #115
/assign @YujiOshima

[2018-06-12 14:38] vinaykakade commented on #115
Thank you. Appreciate it @YujiOshima !

[2018-06-12 19:16] patzhang commented on #109
@YujiOshima, thanks a lot for all the detailed commands. I finally got the example (`release v0.1.2-alpha`) running successfully. Because I am not familiar with Go, I did not expect to create the directory `~/go/src/github.com/kubeflow` and check out the code there. It is worth adding these commands to MinikubeDemo.md, because it is useful to people who just want to run the demo.

I also tried the

[2018-06-12 22:11] lluunn commented on #89
It's deployed. Verifying in https://github.com/kubeflow/kubeflow/issues/973

[2018-06-12 22:11] #89 closed

[2018-06-13 10:22] #53 closed

[2018-06-13 10:59] #77 closed

[2018-06-14 05:23] jlewi opened #116 "Create a basic example for using Katib"
Do we have a simple example that walks through using Katib with a simple model (e.g. mnist)?

I'd like a simple example that we can ask folks to follow to provide a friction log.

/cc @YujiOshima

[2018-06-14 06:03] lluunn commented on #116
I was using https://github.com/kubeflow/katib/blob/master/examples/client-example.go

[2018-06-14 15:56] vinaykakade opened #117 "REST api"
Is there any plan to provide REST api, in addition to grpc? We have a use-case for REST and could write one using, say grpc-gateway. Will that be something useful to the community here?

cc @YujiOshima

[2018-06-14 16:41] jlewi commented on #116
I think I'm looking for something higher level. I'd like instructions that walk people through using Katib. So the goal would be to show how customers can use Katib to do hyperparameter tuning for a simple problem (e.g. mnist). The algorithm could also be very simple (e.g. grid search). This example might refer to the pieces mentioned above. So my expectation is that the instructions would be some

[2018-06-14 17:41] lluunn commented on #117
cc @lluunn

[2018-06-15 16:54] lluunn opened #118 "Make Katib work with reverse proxy and ambassador"
- ModelDB UI is now only accessible by port-forwarding. We should make it work with reverse proxy and ambassador.
- vizier-core is also used via port-forwarding. It's a gRPC service, so need the ingress that supports gRPC.

[2018-06-18 07:32] YujiOshima commented on #117
It would be easy to add by using grpc-gateway.
@lluunn Does it will be useful for your issue #117?
If the CLI will use REST, you won't need to care about grpc.

[2018-06-18 18:20] lluunn commented on #117
I guess you mean https://github.com/kubeflow/katib/issues/118.
Yes I think so.

[2018-06-19 00:59] lluunn commented on #42
Does it mean adding unit test, like grid_service_test.go, in https://github.com/kubeflow/katib/tree/master/pkg/suggestion?

[2018-06-19 09:55] vinaykakade opened #122 "Getting optimal parameters after a study is complete"
Is there a recommended way of getting the optimal parameters when a study is complete? For example, it would be useful to get the parameters that have the maximum (or minimum) value for a the objective metric once the study is complete, so that the model could be further trained with those parameters.

[2018-06-20 10:28] #115 closed

[2018-06-20 13:05] swiftdiaries commented on #90
Will take this up.

[2018-06-20 13:55] swiftdiaries commented on #118
Would like to take this up if someone isn't already working on this.

[2018-06-20 17:30] lluunn commented on #118
@swiftdiaries You can take it if you want, I haven't started.
But for vizier-core, it might depend on #117

[2018-06-20 17:33] swiftdiaries commented on #118
Oh ok I'll wait on this.

[2018-06-22 21:32] jlewi commented on #116
@ankushagarwal Will investigate to see what we can do in the next sprint to integrate with TFJob and create an example.

[2018-06-22 21:51] lluunn commented on #39
cc @ankushagarwal

[2018-06-25 21:13] ankushagarwal commented on #39
@gaocegege Any ideas on how we would go about doing this?

[2018-06-26 02:31] gaocegege commented on #39
@ankushagarwal We need to create workers for the operator. Then use the new worker instead of k8s worker.

[2018-06-26 02:33] YujiOshima opened #126 "Is releaser working?"
The releasing workflow was added #113.
I expect to push images to `gcr.io/kubeflow-ci/vizier-core`, `gcr.io/kubeflow-ci/suggestion-random` etc.
But I can't find the images.
@jlewi @gaocegege How to check the releasing workflow status? Do we need to do something for building releasing?

[2018-06-26 02:37] gaocegege commented on #126
/cc @ankushagarwal

[2018-06-29 00:24] jlewi opened #128 "Add a link to Katib to the Central UI"
We should add a link to  Katib in the central UI.

Ideally we would either

1. Always deploy Katib so the link would always work
1. Only show the link if Katib is deployed.

1 Is probably simpler.

[2018-06-29 00:31] kunmingg commented on #126
@YujiOshima
Workflow defined [here](https://github.com/kubeflow/katib/blob/master/releasing/prow_config_release.yaml) duplicate with release workflows defined in [kubeflow repo config file](https://github.com/kubeflow/kubeflow/blob/master/releasing/prow_config_release.yaml)
Can we migrate katib release workflow's ksonnet app to kubeflow repo?
I think [pytorch](https://github.com/kubeflow/kubeflow/

[2018-06-29 00:34] kunmingg commented on #126
I can help reviewing the PR and keep eye on image registry. Thanks!

[2018-06-29 03:47] jlewi commented on #118
The result is the same with Ambassador so doesn't seem to be an issue with IAP.

[2018-06-29 04:03] jlewi commented on #118
I had some success changing the Ambassador route from

      ---
      apiVersion: ambassador/v0
      kind:  Mapping
      name: modeldb-mapping
      prefix: /modeldb/
      rewrite: /
      method: GET
      service: modeldb-frontend.kubeflow:3000

to
  ---
      apiVersion: ambassador/v0
      kind:  Mapping
      name: modeldb-mapping
      prefix: /katib/
      rewrite: /katib/
      method:

[2018-06-29 04:52] YujiOshima commented on #126
@kunmingg Thank you for your help! I will open PR on kubeflow repp.

[2018-06-29 09:14] YujiOshima commented on #126
@kunmingg I opened PR! https://github.com/kubeflow/kubeflow/pull/1102

[2018-06-29 12:02] jlewi commented on #47
The Kubeflow getting started guide now includes instructions for minikube & GKE
https://www.kubeflow.org/docs/started/getting-started/

Katib isn't included by default so users need to manually install Katib or we would need to change it to include Katib by default.

There is an open issue kubeflow/website#72 to move the Katib documentation to the Kubeflow website

kubeflow/kubeflow#989 added some

[2018-06-29 12:06] jlewi commented on #116
https://github.com/kubeflow/kubeflow/pull/989/files

Describes running  `client-example.go`.

A simple thing to do would be to turn that into a K8s job and include that as a prototype within the Katib package.

An advantage of running it on cluster should be that we don't have to port-forward any ports to make the client work.

[2018-06-29 15:58] #118 closed

[2018-06-29 22:55] jlewi commented on #116
The GKE demo is actually using our GitHub issue summarization example
https://github.com/kubeflow/katib/blob/master/examples/GKEDemo/GKE-Demo.md

Looks like the code for the model is actually being duplicated to that location.

[2018-06-30 01:24] jlewi opened #131 "Katib prototype needs to pin docker images"
Our 0.2. prototype
https://github.com/kubeflow/kubeflow/blob/v0.2-branch/kubeflow/katib/prototypes/all.jsonnet

Is currently using "latest" images which according to @YujiOshima our outdated.

We should be pinning our docker images to specific versions.

We should include this in 0.2.1

Blocked by #126

[2018-06-30 01:36] jlewi opened #132 "Katib prototype image parameters should include the tag"
Currently the Katib prototype constructs the docker images from two different parameters. This was done in kubeflow/kubeflow#1085
e.g. there is a separate katibImageTag that is combined with the image parameters.

I think we should follow the pattern consistently of having image parameters be full paths (i.e. include the tag).

@inc0 Can you fix this please?

/assign @inc0

[2018-06-30 01:43] jlewi opened #133 "Katib images in 0.2.0-rc.1 are too old"
Images are using images tagged latest and these are two old.

I was getting error

[code]

We will want to fix this in 0.2.1.

Related issues
#131 Pin docker images in prototype
#132 Images should include the tag and not use a separate parameter for the image tags.

[2018-06-30 16:17] jlewi opened #134 "Namespace for workers is hardcoded"
It looks like the namespace used to launch jobs is hardcoded here
https://github.com/kubeflow/katib/blob/master/pkg/manager/worker/kubernetes/kubernetes.go#L212

This was causing my HP job to fail with

[code]

It would probably make more sense to make the namespace configurable.

I think this is part of a larger issue about how much control users have over the "Job spec" used to train individual

[2018-07-01 23:57] jlewi commented on #132
/unassign @inc0
/assign @jlewi

I put together a fix in kubeflow/kubeflow#1113  as part of other critical fixes that we need to fix Katib in 0.2.

[2018-07-02 00:46] ddutta opened #136 "Naming convention: Katib or Vizier?"
I see too many references to Vizier while the project is called Katib. Would be good to converge.

[2018-07-02 01:45] gaocegege commented on #136
I think we should use katib since vizier is the system in Google.

[2018-07-02 17:58] #131 closed

[2018-07-02 17:58] #132 closed

[2018-07-03 11:22] jlewi commented on #90
@swiftdiaries #118 is fixed.

[2018-07-03 11:27] jlewi opened #137 "Katib needs to use durable storage that outlives the pod."
Katib uses two databases
- MySQL (for Katib)
- MongoDB (for ModelDB)

It doesn't look like we are using any sort of durable storage for either one.

Here's the MySQL deployment it doesn't look like its using a persistent volume
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/vizier.libsonnet#L185

Here's the MongoDB deployment:
https://github.com/kubeflow/kubeflow/blob/master/kubef

[2018-07-03 11:37] gaocegege commented on #137
No, I don't think so.

[2018-07-03 12:14] YujiOshima commented on #137
@jlewi @gaocegege I agree we need PVC.
For Katib, adding PVC for MySQL is enough for persistence.
But for ModelDB, adding it for only Mongo may be not enough.
The ModelDB's backend component (ModelDB has frontend, backend, and DB) also has state.
We probably need to add PVC for both of ModelDB's backend and DB.

[2018-07-03 19:17] ddutta commented on #136
what should we do if we align NAS stuff? Does Vizier do NAS?

[2018-07-04 00:31] YujiOshima commented on #137
@gaocegege Sorry I don't understand ModelDB backend perfectly. But I couldn't persistent model data by only DB.
I think it is not good design. We should make the DB the only stateful component.

[2018-07-07 01:03] jlewi opened #138 "Design Doc For Katib"
A design doc explaining the architecture of Katib would be extremely useful.

There are a number of components in Katib e.g.

  - Multiple databases
  - Frontend
  - CLI
  - Controller programs

Understanding how all these elements fit together would be extremely useful. A number of issues have come up where I think a design doc would be useful; e.g.

- Ensuring durable storage #137
- How to run H

[2018-07-07 01:03] jlewi commented on #138
/assign @YujiOshima

[2018-07-07 01:05] jlewi commented on #122
@YujiOshima @gaocegege Do you know the answer?

[2018-07-07 01:09] jlewi commented on #112
@YujiOshima can we make this issue more specific this will make it easier to get help from the community?

Here are some questions for you:

1. Which microservices within Katib should we start logging using logrus
1. What metadata should be included in log entries?
    * In logrus log entries are json records with key-value pairs for metadata
    * So we can attach metadata that is useful for filt

[2018-07-07 01:09] jlewi commented on #97
Closing this bug since we have a much newer version so this bug is presumably no longer relevant.

[2018-07-07 01:09] #97 closed

[2018-07-07 01:21] jlewi commented on #96
I don't think we just want to use an ingress/LB that would potentially be very insecure. Unless we can somehow use gRPC to control authorization and access.

We need a way to secure it; e.g. some secure proxy as discussed in: kubeflow/kubeflow#11.

I think before we can begin to answer this there are a couple design questions that need to be understood

1. Which services need to be accessed from o

[2018-07-07 01:29] jlewi commented on #68
@ddysher @YujiOshima @gaocegege Is there specific work related to this issue for 0.3? If so what is the priority?

[2018-07-07 01:31] jlewi commented on #46
@gaocegege @YujiOshima Update? What do we want to do for 0.3?

[2018-07-07 01:36] jlewi commented on #39
Hopefully the requested design doc (#138) will make this clear.

@gaocegege Not sure I follow what you mean by creating workers for the operator. I'd hope the design would be flexibly enough that we wouldn't have to write new code to support different types of resources.  I think #138 will go a long way to clearing thi sup.

Related issues:
#66 Manager & Worker API
#87 StudyController - Running HP

[2018-07-07 01:46] jlewi commented on #34
Why not make the storage backend pluggable?

See this [comment](https://github.com/kubeflow/katib/pull/119#issuecomment-401562779)

See also #138 requesting a design doc.

[2018-07-07 01:52] jlewi commented on #33
@YujiOshima @gaocegege Should we try to fix this in 0.3.0? How important and how hard is it?

[2018-07-07 01:53] ddysher commented on #46
I believe this is done? @gaocegege

[2018-07-07 01:54] jlewi commented on #6
Duplicate of #87

[2018-07-07 01:54] #6 closed

[2018-07-08 12:28] gaocegege commented on #68
It is similar to #33 at the beginning, thus we do not need to add it into 0.3

[2018-07-09 03:57] YujiOshima commented on #33
It's already supported in random, gird, and hyperband. @libbyandhelen how about BO?

[2018-07-09 04:02] YujiOshima commented on #68
I think we can solve this by solving #33 . But we need a test.
I agree we do not need to add this into 0.3. This is a little advanced.

[2018-07-09 04:04] YujiOshima commented on #66
We already fixed this issue.
/close

[2018-07-09 04:04] #66 closed

[2018-07-09 08:14] ddysher commented on #138
@YujiOshima  any progress on this?  I think this is probably the highest priority for now :)

/cc @gaocegege

[2018-07-09 08:16] gaocegege commented on #138
Yeah, I also think it is necessary. While if @YujiOshima does not have time I can write the first version.

[2018-07-09 08:18] ddysher commented on #66
@jlewi sorry for late reply

The usage above is copied from vizier paper, but I agree that trainer code shouldn't be aware of such low level API.  Ideally, launching pod and reporting metrics should be done in some other places (haven't had time to think through this yet).  As you've already mentioned, I do think a design doc should come first before we dive into the details.

[2018-07-11 02:30] YujiOshima commented on #112
Logging Component:
* vizier-core
* SuggestionService
  * Random
  * Grid
  * HyperBand
* EarlyStoppping
  * Median

BayseOpt Suggestion is implemented with python. I don't know which log liberally is better for python.

Metadata:
`StudyID`, `TrialID`, `WorkerID`  or `System`
`System` means the error is not related any study, trial or worker. It is occurred around the component itself.

Integration

[2018-07-11 02:39] gaocegege commented on #112
I love zap, while we are using logrus now. I think we could use zap in katib if you like as a feasibility research.

[2018-07-11 02:44] YujiOshima commented on #112
@gaocegege Thanks! Lets's try zap for Katib. As zap is also structured with key-value, we can migrate logrus easily when we need.

[2018-07-11 02:46] gaocegege commented on #112
Yeah, I opened an issue here: https://github.com/kubeflow/tf-operator/issues/534

I closed it because I think the performance of the logging is not the bottleneck. If the migration is painless, I am glad to use zap.

[2018-07-11 17:19] swiftdiaries commented on #90
Thanks @jlewi, I'll get this in.

[2018-07-11 22:42] lluunn commented on #116
Now that we have https://github.com/kubeflow/examples/tree/master/github_issue_summarization/hp-tune, what's the TODO here?

[2018-07-16 01:52] gaocegege commented on #136
Vizier is not designed to support NAS while katib is inspired by it while it may have different functionalities

[2018-07-18 04:48] jlewi commented on #116
@lluunn it doesn't actually work.

See for example kubeflow/examples#163 and kubeflow/examples#162

The go program you indicated doesn't successfully create the jobs for training (I think the issue was not supplying GCP credentials as a volume) and not extracting the metrics.

[2018-07-23 23:15] lluunn opened #140 "Error with example"
From mgyong:

I am running Katib on gke in namespace katib

When i try to run the mnist example, i checked that the port forwarding for 3000 & 6789 are both working yet when i try to run the client-example.go
I keep getting the rpc error
[code]

[2018-07-24 07:01] gaocegege commented on #39
@jlewi Is the doc clear?

[2018-07-25 09:32] Nidhidamodaran commented on #140
@lluunn @YujiOshima is there any workaround to get this program running ?

[2018-07-25 13:38] YujiOshima commented on #140
@Nidhidamodaran Please try to use automate built image : `gcr.io/kubeflow-images-public/{vizier-core, suggestion-random...}`

[2018-07-25 18:55] mgyong commented on #140
@YujiOshima What's the difference between the automated built images? & the github code repository for katib?

[2018-07-26 00:42] lluunn commented on #140
@mgyong
I can still run the script:

[code]

[2018-07-26 00:43] Nidhidamodaran commented on #140
Thanks @YujiOshima . That worked.

[2018-07-26 00:46] #140 closed

[2018-07-26 01:41] mgyong commented on #140
@YujiOshima @lluunn
When i installed Katib and had the errors as reported by lluunn, i used the method of running the deploy.sh script from
https://github.com/kubeflow/katib/blob/master/examples/MinikubeDemo/deploy.sh

As advised by lluunn, i instead used the ks apply approach to install as detailed here
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/katib

I am now able to run go run c

[2018-07-26 18:38] lluunn commented on #140
Did you use http://localhost:3000/katib?

https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/README.md

[2018-07-26 18:43] mgyong commented on #140
@lluunn My mistake. I didn't do  http://localhost:3000/katib
It works

[2018-07-30 12:30] jlewi commented on #39
@gaocegege The [doc](
https://docs.google.com/document/d/1ZEKhou4z1utFTOgjzhSsnvysJFNEJmygllgDCBnYvm8/edit#heading=h.4xeaz4l3pt2y) still doesn't answer my questions.

The section on TF-Job worker still isn't filled out.

In particular,

1. Is it the study controller that launches/waits for the jobs?
1. Can we allow users to use any type of job?

     * Can users provide the study controller with a

[2018-08-02 11:58] wukong1992 commented on #116
@jlewi
Now I want to test other examples. When I m going to write an example of a training model, I don't know how to define its log format, and katib is based on log to get accuracy.

[2018-08-02 17:58] YujiOshima commented on #116
@wukong1992 Currently Yes Katib will collect metrics from stdout.
You should print logs {metrics name}={value} style.
For example when your objective value name is `loss` and the metrics are `recall` and `precision`, your training code should print like this.

[code]

Katib will collect all log of metrics.

[2018-08-06 12:44] jlewi commented on #128
@swiftdiaries Do you want to pick this up?

[2018-08-06 13:47] jlewi commented on #128
Is there an easy way to add a flag to the central UI that controls whether a link is shown or not? Then we could just add a ksonnet parameter to control whether or not to enable the link

[2018-08-07 15:11] swiftdiaries commented on #128
https://github.com/kubeflow/kubeflow/pull/1242.
Let me look at adding a ksonnet param to enable or disable the link.

[2018-08-09 01:58] wukong1992 opened #143 "katib-cli problem"
when i used katib-cli stop study {studyid/studyname} -s {server},  it returned :StopStudy failed: rpc error: code = Unimplemented desc = unknown method GetStudies. Who know how to solve it?

[2018-08-09 07:00] nidhidamodaran opened #144 "Katib imagePullPolicy is by default "Always" in given sample code"
imagePullPolicy of Image specified in worker-config.yml is by default being set as Always.

As such I am unable to use locally available docker images for running tests.
Even if "imagePullPolicy: Never" is specified in worker-config.yml, during  client execution, it is still trying to pull image from public repo.

Is there any other option to be set for this ?

[2018-08-10 14:05] swiftdiaries commented on #128
It doesn’t add a ksonnet parameter though.

On Fri, Aug 10, 2018 at 6:23 AM Jeremy Lewi <notifications@github.com>
wrote:

[2018-08-10 14:07] jlewi commented on #126
@YujiOshima is this fixed?

[2018-08-10 14:29] jlewi commented on #128
So does that mean we just always have the link?

[2018-08-10 14:30] jlewi commented on #90
Duplicate of #128

[2018-08-10 14:30] #90 closed

[2018-08-10 14:31] swiftdiaries commented on #128
It checks if the katib pods are deployed and enables/disables the link now.

On Fri, Aug 10, 2018 at 7:30 AM Jeremy Lewi <notifications@github.com>
wrote:

[2018-08-10 15:49] YujiOshima commented on #126
Yes, we can close this.

[2018-08-10 15:49] YujiOshima commented on #126
/close

[2018-08-10 15:49] #126 closed

[2018-08-13 18:35] jlewi commented on #128
That's great.

@swiftdiaries Can we mark this issue as fixed or is there more work to be done?

[2018-08-13 19:12] swiftdiaries commented on #128
It's done. We can close this.
/close

[2018-08-13 19:12] #128 closed

[2018-08-15 03:44] nidhidamodaran commented on #144
mxnet image used to validate hyperparameters with. Even if the image is available, it is still pulled everytime.

[2018-08-15 03:46] nidhidamodaran commented on #144
Is there a way to specify local images in worker-config.yml so that local images are picked ?

[2018-08-15 08:33] YujiOshima commented on #144
Sorry, there is no way to specify image pull policy for worker pod.
We will improve that probrem in this PR https://github.com/kubeflow/katib/pull/141 .
After that, you can use any manifests for workers.

[2018-08-17 12:07] wukong1992 opened #145 "the error about the bayesianoptimization"
when i want to run katib/cmd/suggestion/bayesianoptimization/main.py  it throwed error :AttributeError: 'module' object has no attribute 'GenerateTrialsRequest'.  and there "module" refers to the pkg.api.python.api_pb2. and it indeed didn't has method GenerateTrialsRequest.

[2018-08-17 14:05] YujiOshima commented on #145
@wukong1992 Thank you for reporting.
Bayse optimization probably uses outdated API.

[2018-08-19 07:46] cheyang opened #147 "Why is this project named katib?"
I'm just wondering what katib stands for? I guess it's Kubernetes automatic tunning ...?

[2018-08-19 11:41] cheyang opened #149 "Failed to run the Minikube example"
I'm trying to run the latest code of the Minikube example:

[code]
Can you help me with it? thanks.

[2018-08-19 12:33] YujiOshima commented on #147
https://github.com/kubeflow/katib/blob/master/README.md

[2018-08-19 12:39] YujiOshima commented on #149
@cheyang It is probably mismatch the API version between server and client.
You may resolve it by using `:master` tagged images for the katib components.
We are preparing more simple getting start demo in #141 .
Sorry for inconvenient.

[2018-08-19 22:29] cheyang commented on #147
Thank you!

[2018-08-19 22:42] cheyang commented on #149
I've tried to change to `:master`.

But I also see

[code]

[2018-08-20 02:33] #147 closed

[2018-08-20 03:40] wukong1992 commented on #145
how to get the latest code @YujiOshima

[2018-08-20 03:55] YujiOshima commented on #145
@wukong1992 Sorry for confusing you.
Currently, Bayse optimization looks broken. And it is not tested in CI. We should fix it.

[2018-08-20 18:28] jlewi opened #150 "Katib API Needs Documentation"
Documenting the API in the proto file would be very helpful to understanding how Katib works.
https://github.com/kubeflow/katib/blob/master/pkg/api/api.proto

[2018-08-20 19:14] YujiOshima opened #151 "Store vendor code or not"
Including vendor code in this repo makes difficult to review.
https://github.com/kubeflow/katib/pull/142#issuecomment-410673179
https://github.com/kubeflow/katib/pull/141#issuecomment-414420252

https://github.com/golang/dep/blob/master/docs/FAQ.md#should-i-commit-my-vendor-directory

* Pros

It's the only way to get truly reproducible builds, as it guards against upstream renames, deletes and com

[2018-08-21 02:37] jlewi commented on #151
Including vendor is making it really difficult to review the PRs. I'd be in favor of removing vendor at least for now just for that reason.

[2018-08-21 06:03] vinaykakade commented on #151
I am supportive of removing the vendor code from Katib. Agree that it is much easier to review the PRs without vendor folder.

[2018-08-21 06:05] gaocegege commented on #151
I think if we use dep, and we definitely can remove vendor from git.

[2018-08-21 06:37] nidhidamodaran commented on #149
@cheyang , #140  workaround for the same.

[2018-08-22 07:58] wukong1992 opened #154 "wrong about the latest example"
when i apply from manfiest folder，and the pod/vizier-core‘s state is always crashloopbackoff，and this is the result of kubectl logs -n katib deploy/vizier-core:flag provided but not defined: -w
Usage of ./vizier-manager:
  -i string
    	Ingress host (default "kube-cluster.example.net")

i don't know how to solve

[2018-08-22 12:50] wukong1992 opened #155 "the create about StudyJob object"
I want to create StudyJob object, I want to know wether the pykube can chieve , I know this question shouldn't be here ,but i still want to know anyone knows, thanks.

[2018-08-23 04:16] #155 closed

[2018-08-24 06:05] wukong1992 opened #157 "the state about StudyJob crd"
when i create a crd studyjob ，and check its state through kubectl，  there are name and created  attributes，i want to know wether there is a state such as ：running ，completed ..
thank you

[2018-08-24 08:48] wukong1992 opened #158 "the resource about studyjob"
now the studyjob cann't support resource’s configuration,  I want to know if there has a plan to it,  and I think it's a key feature

[2018-08-24 13:26] jlewi commented on #87
@YujiOshima can you provide an update please? Do you think that by mid September people will be able to submit HP jobs without having to write any code?

I see that:

#141 containing the initial CRD was merged

#152 is open to do some additional refactoring

[2018-08-24 13:55] YujiOshima commented on #157
You can check the state of studyjob with kubectl describe.
Is it enough?

[code]

[2018-08-27 00:53] YujiOshima commented on #158
@wukong1992 Please tell me for more detail.
What do you mean the resource’s configuration?

[2018-08-27 02:11] wukong1992 commented on #158
cpu limit,memory limit and gpu limit

[2018-08-27 02:17] YujiOshima commented on #158
You can set these limits for each worker by setting it to [their template](https://github.com/kubeflow/katib/blob/master/examples/workerConfigMap.yaml).
Is it not enough for you?

[2018-08-27 03:50] #157 closed

[2018-08-27 03:50] #158 closed

[2018-08-31 01:59] wukong1992 opened #160 "the 缺失体哦你"

[2018-08-31 01:59] #160 closed

[2018-08-31 02:03] wukong1992 opened #161 "the question about the requestNumber"
I create a studyjobs, and it continue create pods, and I configure the requestNumber  "3", I didn't know the specfic implementation in the katib,

[2018-08-31 12:59] wukong1992 commented on #161
I didn't exactly know the meaning of requestNmber，the number of workers at the same time?

[2018-08-31 14:08] jlewi opened #162 "Does Katib need Cluster level scope?"
See #1213

We'd like to be able to scope Kubeflow to a particular namespace to better support multi-tenant environments.

It looks like Katib  is creating a ClusterRole; is this necessary? I suspect its needed if user wants to be able to launch jobs in other namespaces.

Could we add an option though where we restrict Katib to one or more namespaces?

[2018-08-31 14:13] jlewi opened #163 "Can we scope SeldonCore to a namespace"
See kubeflow/kubeflow#1213
and kubeflow/tf-operator#759

We'd like to be able to scope Kubeflow to a particular namespace to better support multi-tenant environments.

It looks like SeldonCore is using ClusterRoles; could we add options to our ksonnet package to scope it to a particular namespace and use namespace scoped Roles?

/cc @cliveseldon

[2018-08-31 14:14] jlewi commented on #163
Duplicate of kubeflow/kubeflow#1452

Filed this in the wrong repo.

[2018-08-31 14:14] #163 closed

[2018-09-03 22:51] jlewi commented on #87
@YujiOshima How are we looking for 0.3.0? Where will we be after the next two weeks since we would like to cut 0.3.0 then.

[2018-09-03 22:59] jlewi commented on #39
@ankushagarwal @YujiOshima can we get this done in time for 0.3? I think the CRD now supports templates so adding support for TFJob should be doable.

Here is sample code for using the K8s rest API to create/get/delete K8s objects.
https://github.com/kubeflow/tf-operator/blob/db5c875455bc323a8215785053e792d3206c4c4a/pkg/util/k8sutil/tf_job_client.go

This should allow you to manipulate objects wit

[2018-09-04 04:14] YujiOshima commented on #161
@wukong1992 Yes.  The meaning of requestNmber is the maximum number of workers in parallel.

[2018-09-04 06:02] gaocegege commented on #39
I am afraid that it is the only way to achieve it. I have no good idea.

[2018-09-05 05:25] #40 closed

[2018-09-10 12:31] wukong1992 opened #165 "the error about random-example"
when i create one studyjobs , it continuously create job.batch，but already reached the optimizationgoal. and this is the studyjob-controller logs:ERROR: 2018/09/10 12:12:25 pickfirstBalancer: failed to NewSubConn: rpc error: code = Canceled desc = grpc: the client connection is closing

[2018-09-10 12:36] wukong1992 commented on #165
Fail to check status Suggestion count mismatched. May be duplicate suggestion request

[2018-09-10 15:14] YujiOshima commented on #165
@wukong1992

This error is probably from kubernetes-sigs/controller-runtime library and I'm not sure why it has occurred.

This is not a critical error. StudyJob controller will check suggestion count to prevent duplicate suggestion request.

I think these messages are not related to your problem.
Could you show me the `kubectl describe` of the studyjob?

[2018-09-11 01:27] wukong1992 commented on #165
@YujiOshima
![2018-09-11 09-12-12](https://user-images.githubusercontent.com/13702081/45332734-e3728f80-b5a4-11e8-9121-11b9cc4c264f.png)

[2018-09-11 08:00] wukong1992 commented on #165
when i describe studyjob-controller:Fail to Update StudyJob y063105a54c32f6b : Operation cannot be fulfilled on studyjobs.kubeflow.org "random-example": the object has been modified; please apply your changes to the latest version and try again

[2018-09-12 02:49] gaocegege commented on #39
I will write a design proposal for the issue, maybe those days.

[2018-09-13 06:45] AnberLu commented on #165
@wukong1992  how to solve it ?

[2018-09-13 07:48] AnberLu opened #166 "grid-example failed"
i canot  see metrics in UI; and the log is like ：
[code]

[2018-09-13 12:52] AnberLu opened #167 "v0.2 client-example failed"
pickfirstBalancer: failed to NewSubConn: rpc error: code = Canceled desc = grpc: the client connection is closing

[2018-09-14 08:13] xieydd opened #168 "Katib model-frontend Error"
These is no err log when i deployment katib, but whey i try the [demo](https://github.com/kubeflow/katib/blob/master/examples/MinikubeDemo.md) ,When i curl ip:3000,here is my log

[code]

[2018-09-14 08:14] xieydd commented on #168
@YujiOshima Can you help me?

[2018-09-14 08:17] gaocegege opened #169 "[discussion] Is Katibctl necessary now?"
It seems that we already use CRD to define the study job, then should we delete the customized cli?

/cc @YujiOshima

[2018-09-14 09:09] YujiOshima commented on #168
@xieydd Hmm, do you have any problems on model-db-backend?
If not, please try to access `http://127.0.0.1:3000/projects`

[2018-09-14 09:42] YujiOshima commented on #168
Oh, please try `http://127.0.0.1:3000/katib`.
It may be a mistake on demo doc.
If you use this [manifest](https://github.com/kubeflow/katib/blob/master/manifests/modeldb/frontend/deployment.yaml), the `ROOT_PATH` was set.

[2018-09-14 09:46] xieydd commented on #168
@YujiOshima Thanks a lot  ,  it works;
[code]

[2018-09-14 10:12] xieydd commented on #168
Tensorboard is nou support yet in this demo?

[code]

[2018-09-17 08:39] YujiOshima commented on #39
@gaocegege Thanks!

We have only template for worker in studyjob manifest.
https://github.com/kubeflow/katib/blob/master/examples/random-example.yaml#L37-L57
How about set TfJob manifest here?
And the studyjob controller detects a kind of worker automatically from manifest.
https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjobcontroller/studyjob_controller.go#L673
Do you need more

[2018-09-17 11:55] YujiOshima commented on #39
@gaocegege I think it will. It purse manifest and get `Kind` from it. (https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjobcontroller/studyjob_controller.go#L720)
And then, you can add process for each frameworks.
e.g.
* https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjobcontroller/studyjob_controller.go#L738
* https://github.com/kubeflow/katib/blob/master/pkg/co

[2018-09-17 12:07] gaocegege commented on #39
Oh Gotcha

[2018-09-17 13:15] jlewi commented on #138
Going to close this issue since we have the initial doc.

[2018-09-17 13:15] #138 closed

[2018-09-17 13:28] jlewi commented on #87
@YujiOshima What is the status of this issue?

[2018-09-17 13:36] jlewi commented on #39
Any chance we could get a POC done this week so that we could have something for 0.3?

If I understand correctly there are two items that need to be addressed

1. We need to update the controller to be able to create TFJobs based on the manifest
1. We need a metrics collector that can read TF Events files and report the metrics using the metrics API

Should we split this into separate work issues

[2018-09-17 13:37] YujiOshima commented on #87
@jlewi Sorry for the late reply.
I have several issues with StudyjobController #165 #166 .
I fixed them in this PR #170 .
I think we can close this since StudyjobController is stable now.

TF-Job or other frameworks will be supported in next release.

[2018-09-17 13:39] YujiOshima commented on #134
@jlewi Yes, we can close this. It is fixed, we can use a flexible template.
/close

[2018-09-17 13:39] #134 closed

[2018-09-17 13:46] YujiOshima commented on #137
@jlewi we need to persistent data of ModelDB. Maybe we need to do something. I will work on this.

[2018-09-17 13:46] YujiOshima commented on #137
/assign @YujiOshima

[2018-09-17 13:47] YujiOshima commented on #116
Since we have a simple example of random, grid and hyperband, we can close this.
/close

[2018-09-17 13:47] #116 closed

[2018-09-17 13:55] #87 closed

[2018-09-18 02:08] gaocegege commented on #39
@jlewi I think PoC is hard to implement this week since I have other works should be done.

Yeah sure, I will work on the first one, while I think there is no one except Yuji Oshima and me is interested in these two issues.

[2018-09-19 07:43] wukong1992 opened #172 "the deploy.sh in the example folder is different from in the script folder"
it miss "kubectl apply -f manifests/studyjobcontroller/mcrbac.yaml"

[2018-09-20 01:13] jlewi opened #173 "Collect metrics from TF Events files"
Relevant issues
   #87 Study Job CRD; Don't require users to write code to do HP tuning.
   #39 support TFJob and other frameworks

We'd like to be able to collect metrics from a TF.Events file produced by a TensorFlow training job.

So at a high level what we need is

1. A reusable binary/job that can ready a TF.Events file and report specified metrics via Katib metrics API
1. In the StudyJobCRD

[2018-09-20 02:46] gaocegege commented on #173
I cannot figure out a better solution than PVC. We need help from the community

/cc @YujiOshima @ChanYiLin @ddysher

[2018-09-20 12:49] xieydd commented on #168
@YujiOshima I am sorry to distrub you , but the problem is not solved yet.

[2018-09-21 02:48] YujiOshima commented on #168
@xieydd Sorry for a late reply.
Yes, the Tensorboard is not supported yet.. sorry.
I have a plan to integrate tensorboard. I understand it is useful and important.

[2018-09-21 02:50] YujiOshima commented on #172
@wukong1992 You are right, Thanks! It needs to fix.

[2018-09-21 02:50] xieydd commented on #168
Thanks for your reply😝

[2018-09-21 02:50] #168 closed

[2018-09-21 04:20] jlewi commented on #173
Can you explain the issue? Is this just a question of making the events file accessible by two processes e.g.
1. The trainer which writes the TF.events file
1. The metrics collector which reads it.

Using a PVC to share the TF.events file seems perfectly reasonable. We can also support object stores (S3, HDFS, GCS) since TF can read/write those directly.

[2018-09-21 04:40] jlewi commented on #79
It looks like Katib has this older releaser defined
https://github.com/kubeflow/katib/tree/master/releasing

We could potentially reuse that; looks like it has a single workflow to build all the images.
It might be out of date. Looks like its much older than the workflows defined in kubeflow/kubeflow

[2018-09-21 06:25] jlewi opened #175 "Remove code duplication in Dockerfile"
All the Dockerfiles for the different binaries are nearly identical

e.g.
https://github.com/kubeflow/katib/blob/master/cmd/metricscollector/Dockerfile
https://github.com/kubeflow/katib/blob/master/cmd/studyjobcontroller/Dockerfile

Instead of duplicating the Dockerfiles can we just have a single Dockerfile that takes a BuildArg specifying the binary?

[2018-09-21 13:21] jlewi commented on #79
There are two issues with pushing to gcr.io/kubeflow-images-public

1. It looks like scripts are still pushing to gcr.io/kubeflow-ci in the postsubmit
1. We will not to grant permission to the service account used by GCB in kubeflow-ci to push to kubeflow-images-public because the scripts use GCB.

[2018-09-24 10:08] YujiOshima commented on #137
@jlewi Sorry, I need more time since ModelDB-backend app stores sqlite data and it looks to resets at beginning of its process. We need to fix it.

[2018-09-24 14:50] YujiOshima commented on #137
We should fix [this]( https://github.com/mitdbg/modeldb/issues/221 ) at first.

[2018-09-24 17:28] jlewi commented on #137
@YujiOshima What would it take to make Katib (but not ModelDB) robust to pod failure? For example, if its true that ModelDB is only used for long term storage and not during actual hyperparameter searches; what needs to happen so that if pods are preempted during the HP tuning job, the job can complete successfully, even if not all of the data is successfully persisted in ModelDB?

[2018-09-25 02:35] YujiOshima commented on #117
fixed by #142
/close

[2018-09-25 02:35] #117 closed

[2018-09-26 01:31] wukong1992 opened #179 "the error about the modeldb for the latest version"
The studyjob's name disappear in the frontend,there is only one entry. Different studyjob merged into one entry.

[2018-09-26 04:02] YujiOshima commented on #179
@wukong1992 Did you use a different `studyname` for studyjob? not `studyjob/name`
https://github.com/kubeflow/katib/blob/master/examples/random-example.yaml#L9

We defined the study name independently from studyjobname. It enables you to run multi studyjobs for one study simultaneously.

[2018-09-26 04:09] YujiOshima opened #180 "Katib logo"
I want to create a logo for Katib.
Though Katib is a component of KubeFLow, it can work independently.
So we can have a logo! I heard requests from some users.
WDYT? @gaocegege @jlewi

[2018-09-26 04:12] gaocegege commented on #180
SGTM! I also think that we need a logo for katib.

[2018-09-26 04:13] YujiOshima commented on #180
![logo_transparent](https://user-images.githubusercontent.com/10014831/46056813-67c03780-c18d-11e8-8272-b5f0ad638faa.png)
This is one of a candidate.
the telescope means finding the best hyperparameter from massive parameters (stars).

[2018-09-26 04:37] wukong1992 commented on #179
I just use the example in this project, and didn't change anything: kubectl apply -f random-example.yaml

[2018-09-26 04:37] wukong1992 commented on #179
@YujiOshima

[2018-09-26 04:40] YujiOshima commented on #179
Sorry, I'm not sure about your problem.
Could you explain more details?

[2018-09-26 06:00] wukong1992 commented on #179
I didn't know if it's about the latest update, before is okey.
![_001](https://user-images.githubusercontent.com/13702081/46060040-3bf48000-c194-11e8-997d-721d433ba4a8.png)
there is no studyname, and the yaml file is okey.  when i create another stuydjob, it also merged into this entry.

[2018-09-26 06:00] wukong1992 commented on #179
@YujiOshima

[2018-09-26 07:33] YujiOshima commented on #179
I understood. I can see the same problem in my environment.
 I'm not sure about the reason but I will fix. Thank you for reporting!

[2018-09-27 02:20] AnberLu opened #182 "dose katib support Multi-tenant?"
if many user use katib,how to manager it?

[2018-09-27 12:22] inc0 opened #183 "Add schema migration mechanism to Katib"
This is critical pre-1.0.

Since we're using relational db, we will have schema, and schema will change as project evolves. For that reason, we will need upgrade path and migration path between version. We need mechanism that will allow storing migrations in code and run them as necessary, something like Alembic in python world.

Quick google shows https://github.com/golang-migrate/migrate and it

[2018-09-28 10:16] wukong1992 opened #184 "the suggestion number"
Now,  katib now only supports request_num and no longer supports suggectionnum, will katib support in the future?

[2018-09-28 12:33] jlewi commented on #137
For #178, we will need ot get those changes into our Katib prototype
https://github.com/kubeflow/kubeflow/tree/master/kubeflow/katib

I think for experiment / model tracking we need a database not an operator. Users could have 1000's of models but most of those will just be entries in a DB with data attached to them.

[2018-09-28 16:38] YujiOshima commented on #137
@jlewi >we will need ot get those changes into our Katib prototype
I will try it.

 OK, but experiment tracking and model management are extremely needed from Katib/KubeFlow users.
So I want to switch ModelDB to MLFlow and enrich the model management API of Katib the users can use model management without hp-tuning in v0.04.
WDYT?

[2018-09-30 13:59] YujiOshima commented on #180
![katib](https://user-images.githubusercontent.com/10014831/46258347-0b01ab80-c504-11e8-98e1-eeaf91eb734d.png)

I updated the logo.
* use heptagon like k8s and KubeFlow.
* make more easy to understand the icon is a telescope.

@gaocegege WDYT?  If it is OK, I want to use this for Katib logo!

[2018-10-01 01:31] YujiOshima commented on #184
@wukong1992 Do suggectionnum mean the max number for suggestions?
We can support max suggestion num or max request count.
These are essentially same since  max request count * request num = max suggestion num.
Which is more suitable for your use-case?

[2018-10-01 01:34] YujiOshima commented on #182
Katib cannot separate users.
You can set owner for job but all users can touch other users job.
If you need to strict Multi-tenant, please separate namespace and deploy katib for each space.
I think a policy of kubeflow is the same.

[2018-10-01 01:36] YujiOshima commented on #183
@inc0 Thank you for a nice advice! I agree we need it.
I want to support this by v0.04.

[2018-10-01 02:47] #179 closed

[2018-10-01 12:51] jlewi commented on #137
@YujiOshima Why MLFLow? When I last looked it didn't look like it was using a DB to track models. It looked like it was just using a filesystem. I'm not sure that's the best solution.

How about writing up a proposal and considering the various options?

[2018-10-01 13:30] jlewi commented on #78
@YujiOshima @gaocegege Do we need to release an updated CLI?

[2018-10-01 13:35] jlewi commented on #79
Instructions are here:
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#katib

[2018-10-01 13:35] #79 closed

[2018-10-04 12:01] mayankjuneja commented on #184
Hi @YujiOshima, I had a similar question on this. By default, will Katib continue to run trials indefinitely, until stopped? Is there a way to specify max iterations/trials? This seems different from the older version (prior to CRD implementation).

[2018-10-08 03:41] wukong1992 commented on #184
@YujiOshima Both are okey, as long as you can control the number of suggestions.

[2018-10-08 22:24] jlewi commented on #137
@inc0 Is this fixed?

[2018-10-08 22:27] jlewi commented on #184
Is this something that needs to be fixed in 0.4.0? If so lets add the tag area/0.4.0.

[2018-10-08 22:28] jlewi commented on #166
/priorit /p1

[2018-10-08 22:28] jlewi commented on #166
/priority p1

[2018-10-08 22:28] jlewi commented on #166
/area 0.4.0

[2018-10-08 22:29] jlewi commented on #166
@YujiOshima do we have any tests or other verification to ensure examples are working?

/cc @inc0 @gaocegege

[2018-10-08 22:29] jlewi commented on #162
/priority p1

[2018-10-09 12:28] wukong1992 opened #197 "Question about storage"
At present, Katib stores data in k8s (instance), and also stores data in a local database. The content of both is basically repeated. Has Katib considered storing all the data in k8s except the metrics log, I don't know if it works?

[2018-10-09 12:28] jlewi commented on #149
Has this issue been resolved?

[2018-10-09 12:34] jlewi commented on #145
Do we have issues tracking fixing Bayes Optimization and adding tests?
Will this be fixed by #188?

[2018-10-09 12:35] YujiOshima commented on #149
Yes, please use studyjob crd.
/close

[2018-10-09 12:35] #149 closed

[2018-10-09 12:35] jlewi commented on #137
/area 0.4.0

[2018-10-09 12:36] YujiOshima commented on #145
@jlewi I hope so.

[2018-10-09 12:36] jlewi commented on #122
@YujiOshima ping?

[2018-10-09 12:38] jlewi commented on #109
@YujiOshima Now that we use the StudyController and users no longer need to write and run go code; does that address the issues in this issue?

[2018-10-09 12:39] jlewi commented on #143
Should we close this issue now that the StudyJob CRD has been committed?

[2018-10-09 12:40] jlewi commented on #96
What should we do in 0.4.0 about this issue?

[2018-10-09 12:43] jlewi commented on #72
/area 0.4.0

Can we close this issue? Is there more work to be done?

[2018-10-09 12:45] jlewi commented on #33
Are we going to try to fix this in 0.4.0? Should we open up specific issues to track this for specific algorithms?

[2018-10-09 12:46] jlewi commented on #47
/label area/0.4.0

[2018-10-09 12:47] jlewi commented on #42
Should we split this issue up into multiple issues?

[2018-10-09 12:48] jlewi commented on #33
/label 0.4.0

[2018-10-09 12:51] jlewi opened #198 "Use kfctl for E2E tests"
Right now the E2E tests in kubeflow/katib are using their own custom scripts to deploy
https://github.com/kubeflow/katib/tree/master/test/scripts

Should we switch to using kfctl like we do in kubeflow/kubeflow
https://github.com/kubeflow/kubeflow/blob/70c13c6fe77cd96dcad9ebc5a081e1c5d1a1f1e2/testing/workflows/components/workflows.libsonnet#L245

So we can reuse logic for creating clusters as well

[2018-10-09 12:52] jlewi commented on #198
This might also help debug failed tests e.g
https://github.com/kubeflow/kubeflow/blob/70c13c6fe77cd96dcad9ebc5a081e1c5d1a1f1e2/testing/workflows/components/workflows.libsonnet#L245

Because contributors could just spin up their own instance.

[2018-10-09 13:09] inc0 commented on #137
PVC is fixed. For Model tracking please, include your feedback here: https://github.com/kubeflow/community/pull/195 let's design this thing properly

[2018-10-10 04:48] YujiOshima commented on #143
Yes, the katib-cli no longer needed.

[2018-10-10 04:48] YujiOshima commented on #143
/close

[2018-10-10 04:48] #143 closed

[2018-10-10 05:00] YujiOshima commented on #122
@vinaykakade Do you mean retrain or fine-tuning?
If you mean retrain,  the Hyperparameters are needed.
It is store Katib DB and you can find in KatibUI or get Katib API.

For fine-tuning, the trained weight parameters are needed.
It is not managed in Katib now.
It is exactly the experimental tracking area. (discussed here https://github.com/kubeflow/community/pull/195 )
Katib will integrate Model

[2018-10-10 05:01] YujiOshima commented on #109
We can close this.
/close

[2018-10-10 05:01] #109 closed

[2018-10-10 05:01] YujiOshima commented on #72
This is completed.
/close

[2018-10-10 05:01] #72 closed

[2018-10-10 05:17] YujiOshima opened #199 "Not use ModelDB as Default UI for Katib"
Currently, Katib uses ModelDB as Default UI.
But There is some issue on ModelDB.

* It uses Mongo and sqlite and cannot persistent datas
* The community is not active

We try to distinguish management data between long term and short term.
Long-term: For Experimental tracking. It contains the path of Model data and Training Data. etc
Short-term: For Hyper-parameter tuning. It contains Study, Trial

[2018-10-12 02:49] wukong1992 commented on #197
@YujiOshima

[2018-10-14 15:59] leoncamel opened #206 "suggestion-bayesianoptimization can not start"
I tried `kubeflow` with bayesianoptimization suggestion, but it seems the image is not work.

The images I am using(same error from `cmd/suggestion/bayesianoptimization/Dockerfile`):
[code]

The logs shows:
[code]

[2018-10-14 16:00] leoncamel commented on #206
@YujiOshima Any idea?

[2018-10-14 21:14] jlewi commented on #137
@inc0 Does that mean there's no way to make model tracking work reliably with ModelDB? We have to go and build a whole new model tracking system?

[2018-10-14 21:57] jlewi commented on #199
Are you suggesting building a whole new UI for Katib?

Do we have the resources to do this right now?

I'd be very happy if we just made ModelDB work well. The animated GiF on the Katib web page seems to show that ModelDB provides most of the features mentioned in
kubeflow/community#195

For Katib, I'd really like to see Katib working E2E and integrated with some of our examples like GitHub Issue

[2018-10-14 21:58] jlewi commented on #199
@YujiOshima Can tag this issue with a release and priority please?

[2018-10-15 03:33] YujiOshima commented on #197
The data stored CR is not persistent. It is a status of an ephemeral job.
We should store data of Trial, Worker after even the Job is completed and deleted.

[2018-10-15 03:37] YujiOshima commented on #122
@vinaykakade I agree. Easy to retraining is very useful.
How about introducing a one-shot job API.
We can specify a Trial ID or parameters directly, and it will be evaluated without any suggestion service.

[2018-10-15 03:45] YujiOshima commented on #206
@leoncamel I hope this is fixed by #188

[2018-10-15 05:08] YujiOshima commented on #199
@jlewi Model DB has its own data scheme and DB.
And since it is not an active community, we need to fork it and develop for working well.
I made a new simple UI for Katib #208  it completely depends only Katib API.
When we need more rich UI for Experimental Tracking, integrate an Experimental Tracking tool (MLFlow or StudioML) loosely  with its API.

![katibui](https://user-images.githubuserconten

[2018-10-15 06:35] leoncamel commented on #206
@YujiOshima Cool.

Just confirmed this on [latest image](gcr.io/kubeflow-images-public/katib/suggestion-bayesianoptimization:v0.1.2-alpha-45-g3dce496), it works now.

Thanks!

[2018-10-15 06:36] #206 closed

[2018-10-15 16:58] YujiOshima commented on #180
/close

[2018-10-15 16:58] #180 closed

[2018-10-15 17:01] YujiOshima commented on #167
@AnberLu StudyJobController is more stable now. Please check latest version.
If you still have any problem, feel free to reopen.
/close

[2018-10-15 17:01] #167 closed

[2018-10-15 17:01] YujiOshima commented on #145
Fixed by #188
/close

[2018-10-15 17:01] #145 closed

[2018-10-15 17:04] YujiOshima commented on #166
I think this problem is fixed in latest version.
But we need test for algorithms ( #42 )
/close

[2018-10-15 17:04] #166 closed

[2018-10-15 17:08] YujiOshima commented on #137
I propose new UI #208 for Katib and want to remove ModelDB.
When we will introduce another tool(MLFlow or StudioML etc), let's open a new issue.

[2018-10-16 03:06] AnberLu opened #209 "support distribute tfoperator?"
katib support distribute tfoperator?

[2018-10-16 03:13] AnberLu opened #210 "studyjobcontroller build failed"
[code]

[2018-10-16 03:27] YujiOshima commented on #210
@AnberLu You are using old version of `sigs.k8s.io/controller-runtime`.  Please update vendored packages.

[2018-10-16 03:38] AnberLu commented on #210
@YujiOshima   thk u

[2018-10-16 04:08] AnberLu commented on #210
@YujiOshima   i   got new issue, which version of sigs.k8s.io can be use,  can we add vendor in project?
[code]

[2018-10-16 05:14] YujiOshima commented on #210
@AnberLu Could you try clean vendor `rm -r vendor` and reinstall `dep ensure` all packages?

[2018-10-16 10:26] AnberLu opened #211 "random example failed"
i change mysql address in interface.go
[code]
then i got some message in vizier-core:
[code]

[2018-10-16 11:38] AnberLu opened #212 "How many users can use frontend at the same time"
How many users can use frontend at the same time？

[2018-10-16 11:47] AnberLu commented on #210
@YujiOshima   thk u ,it is work !

[2018-10-17 03:38] YujiOshima commented on #210
/close

[2018-10-17 03:42] YujiOshima commented on #211
Did you set `objectivevaluename:` to studyjob manifest?

[2018-10-17 03:51] YujiOshima commented on #212
I didn't do a strict test.
I don't know the best way to test for a scalability of a frontend.

[2018-10-17 09:23] cheyang opened #215 "Failed to run Grid search example"
Hi,

I'm running the grid studyconfig with the latest docker image as below:

[code]

It's failed, and here is the log of studyjob-controller

[code]

Here is the log of vizier-suggestion-grid

[code]

Here is the log of `vizier-core`
[code]

Any suggestions?

[2018-10-17 11:24] AnberLu opened #216 "does katib support spark?"
does katib support spark?

[2018-10-17 11:34] AnberLu commented on #211
@YujiOshima
1) i only changed the 'db_name' in interface.go
[code]
2) i can query it in mysql, but “objective_value_name”  not be Assigned value in code.

[code]

any suggestions?

[2018-10-17 16:20] YujiOshima commented on #211
Could you show me your studyjob manifest?

[2018-10-17 16:29] YujiOshima commented on #215
Please try to set `suggestionParameters` like below.

[code]

[2018-10-17 16:31] YujiOshima commented on #216
Katib only depends on commands and stdout of a pod.
You can use any library in your pod.

[2018-10-18 00:06] cheyang commented on #215
Thanks, yeah! I'm wondering why it's failed, and how to debug it. Please let me know when you have time.

[2018-10-18 07:31] mayankjuneja opened #217 "bayesian example"
Hi @YujiOshima, @libbyandhelen I am trying to try bayesian algorithm and running into errors. Do you have an example?

I am getting an error while trying to get suggestions - `{u'code': 12, u'error': u'Method not implemented!'}`. My guess is that is because of the difference in interfaces for getting suggestions: `GenerateTrials` (in bayesian) vs `GetSuggestions` (in all other algorithms).

[2018-10-18 16:46] yeahydq opened #218 "studyjob job fail"
after run the random-example.yaml,  and I get below error: do you know how to fix it. Thanks.

# command I run:
cat random-example.yaml | sed 's/namespace: katib/namespace: kubeflow/g' > random-example_rename.yaml
kubectl apply -f random-example_rename.yaml

# Error show:
kubectl logs studyjob-controller-68f5948984-q72ng  -n kubeflow
2018/10/18 16:03:39 Registering Components.
2018/10/18 16:03:39

[2018-10-19 06:51] YujiOshima commented on #218
@yeahydq It looks the `metricscollector-template` is not created correctly.
 Could you tell me the result of these commads?
[code]

[2018-10-19 06:52] YujiOshima commented on #217
@mayankjuneja Oh, Thank you for reporting it. I will check it.

[2018-10-19 13:03] yeahydq commented on #218
Here is my file:
[ec2-user@ip-172-31-48-134 kfapp]$ kubectl -n kubeflow get configmap
NAME                            DATA   AGE
jupyterhub-config               1      28s
metricscollector-template       1      12s
tf-job-operator-config          1      21s
worker-template                 1      9s
workflow-controller-configmap   1      16s
[ec2-user@ip-172-31-48-134 kfapp]$ kubectl -n kubeflow de

[2018-10-19 13:10] yeahydq commented on #218
I notices there is a pull request on https://github.com/kubeflow/katib/commit/eb122124ba7526b7bba49a39f8e48c7a5438754e#diff-bd733bca385627b876a330ef6a2587f5

Changing the 'Id' into 'ID', is it related? Btw, as i'm new to it, do you know where is the parm file to assign value for 'StudyId', or 'TrialId'?

[2018-10-19 14:53] #218 closed

[2018-10-20 08:31] YujiOshima opened #220 "Scheme of DB will be changed"
There are several requirements and bugs that needs to modify the scheme of DB

* Include StudyName to workerID #196
* Include the StudyJob Info to study
* Duplication of Worker Log Bug

So v0.4 will not be compatible with v0.3 and before.

cc @vinaykakade @shibuiwilliam @mayankjuneja @wukong1992

[2018-10-20 14:34] YujiOshima commented on #173
I heard @gaocegege will make a WIP PR for TFJob support first in the next week.
I wrote down a rough design of a metrics collector for TF Event.

![metricscollectordesign](https://user-images.githubusercontent.com/10014831/47256754-e32cb480-d4bf-11e8-98e9-4bbec562ad75.png)

We can implement the metrics collector for TF Event independent from TFJob support.
I will make TF Event metrics collector PR

[2018-10-20 14:40] YujiOshima opened #221 "RoadMap for v0.4"
Katib RoadMap for v0.4

- [ ] Support TFJob @gaocegege #39
- [ ] Support TFEvent Metrics @YujiOshima #173
- [ ] Renew UI @YujiOshima  #208
- [ ] Fix BayseOpt #217
- [ ] Add Test for suggestion Algorithms #42
- [ ] Fix Duplication bug of Metrics and refactor DB @toshiiw  #222

cc @jlewi @gaocegege

[2018-10-22 02:12] wukong1992 commented on #220
@YujiOshima What's the second and third bugs? and what to do now?

[2018-10-22 08:36] YujiOshima commented on #220
@wukong1992
Second is not a bug. Currently, any information about StudyJob is not stored in Katib DB. For UI, It is better to store a status of Studyjob in DB.
The third is my colleague found it and he is fixing it now.
I expect Katib DB check the timestamp of metrics and avoid duplicating the Metrics even if a metrics is reported several times.
But it is not working correctly now.

[2018-10-22 16:13] mayankjuneja commented on #217
@YujiOshima Did you get a chance to look at this? Is it because of the difference in the interfaces? Is it possible to get a fix for this before 0.4?

[2018-10-23 04:03] YujiOshima commented on #217
@mayankjuneja Yes, I will fix it before v0.4.

[2018-10-23 05:28] jlewi commented on #199
The ModelDB folks just chimed in on Slack. They formed a company around ModelDB. Here's there RoadMap
https://docs.google.com/document/d/1ZRNgqDENw7QE1jOVkJcdxHbH8dZID88e5KmQ-nkcTwo/edit

[2018-10-23 06:58] YujiOshima commented on #217
/area 0.4.0

[2018-10-23 07:15] YujiOshima opened #223 "Asynchronous suggestion request"
Random and grid suggestion does not need to pending next suggestion request until all running workers are completed.

Currently: Request 3 suggestions and run 3 worker -> all workers are completed -> Request 3 suggestions and run 3 worker ->

Desired: Request 3 suggestions and run 3 worker -> 1 worker is completed -> Request 1 suggestions and run 1 worker ->

[2018-10-23 07:18] YujiOshima opened #224 "Support log scaled grid in Grid Suggestion"
There is a big demand for Supporting the log scaled grid.

[2018-10-23 09:01] johnugeorge commented on #173
@YujiOshima how will this be compatible with PyTorch job?

[2018-10-24 05:53] YujiOshima commented on #173
@johnugeorge I will parse a tf.Event file with [event.proto](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/util/event.proto).
I'm not familiar with the PyTorch log format or ONNIX format.
Could you tell me how we can parse them?

[2018-10-24 09:40] johnugeorge commented on #173
@YujiOshima  I am not aware of equivalent official one in pytorch.  What are the other options to support it?

[2018-10-24 19:04] garganubhav commented on #42
@jlewi @YujiOshima is someone already doing this, or I should start working on this?

[2018-10-25 03:14] YujiOshima commented on #42
@garganubhav Thanks. My colleague is working on random, grid, and hyperband.
I'm so happy if you try to add tests to the Bayesian opt algorithm,

[2018-10-25 07:03] YujiOshima commented on #173
@johnugeorge I think there is two way.
* Use the tensorboardX library on your worker. I think the logs are formatted TF.Events format.
* Print log to stdout and use default metrics collector. The default metrics collector will parse stdout of your worker.
WDYT?

[2018-10-25 07:46] johnugeorge commented on #173
The problem is that we are forcing the workers to use a particular library or particular format.  Currently, I think this is the only way.

[2018-10-25 17:19] chrisheecho commented on #96
/remove area 0.3.0

[2018-10-25 17:20] chrisheecho commented on #96
/remove-area 0.3.0

[2018-10-25 17:20] jlewi commented on #221
/priority p1

Lets use this issue to track getting issues filed for all the items we want done in 0.4 and then close it out.

[2018-10-29 03:29] gaocegege opened #228 "[api] Add defaulter for studyjob api"
Ref https://github.com/kubeflow/tf-operator/blob/master/hack/update-codegen.sh#L39

We will use it to set default framework to raw (tensorflow/pytorch/raw).

[2018-10-29 15:39] chrisheecho commented on #71
/priority p2

[2018-10-29 15:58] chrisheecho commented on #221
/priority p0
/remove-priority p1

[2018-10-29 15:58] chrisheecho commented on #221
We NEED to do this for this cycle

[2018-10-29 17:21] jlewi commented on #42
@garganubhav @YujiOshima per my comment above can we file individual issues for adding tests for specific algorithms and assign them to individual owners?

[2018-10-29 17:29] garganubhav commented on #42
@jlewi ok. I will file for Bayesian opt algorithm and work on it.

[2018-10-29 17:40] garganubhav opened #230 "Test for Bayesian Optimization Algo"
I am working on this

[2018-10-29 18:15] jlewi commented on #173
@johnugeorge I don't think we are forcing users to do things a particular way; the idea is to make Katib pluggable with respect to how metrics are collected. Support for TF.Events is just one of the methods that we want to be well supported in order to support TF,

[2018-10-29 22:19] jlewi commented on #39
I think #173 covers the missing pieces to integrate with TensorFlow and TFJobs.

I think there's an open question about what to do about collecting metrics from PyTorch jobs.

We can probably file a separate issue for collecting metrics from PyTorch jobs and then close this issue.

[2018-10-30 02:32] gaocegege commented on #39
I think we should not close the issue until #227 merged because we do not implement the feature although we have a design for it.

[2018-10-30 04:00] gaocegege opened #232 "[feasibility research] Investigate implementation sharing of algorithms between advisor and katib"
https://github.com/tobegit3hub/advisor is yet another system similar to Google Vizier, katib and advisor has different use cases while we could share the same algorithm libraries. Thus we should investigate if we could unity the API in suggestion level and share the implementation.

/cc @tobegit3hub @YujiOshima

[2018-10-30 04:48] jlewi commented on #137
kubeflow/kubeflow#1678 added the PVC for MySql for Katib.

[2018-11-02 21:44] jbottum commented on #71
/remove-priority p2

[2018-11-02 21:53] jbottum commented on #96
area /0.5.0

[2018-11-03 17:08] jbottum commented on #162
/area 0.5.0

/priority p2

[2018-11-05 18:36] jlewi commented on #217
Is someone planning on working on this?

@mayankjuneja any interest?

[2018-11-05 18:45] jlewi commented on #221
@YujiOshima I'm closing this issue because it looks like we have individual issues already filed and added to the 0.4 project.

[2018-11-05 18:45] #221 closed

[2018-11-06 00:12] chrisheecho commented on #162
/remove-priority p1

No eng resource

[2018-11-11 20:15] cwbeitel opened #240 "Provide python or CL interface to generate StudyJob yaml and/or StudyJob"
It would be convenient if users could define and create a katib StudyJob YAML from a Python interface. It would also be nice to be able to submit and poll for the status of this from python as well.

In the case of https://github.com/kubeflow/examples/pull/322 it looks like we can easily launch a [kubeflow/pipelines](https://github.com/kubeflow/pipelines) pipeline for a single [train_mnist call](h

[2018-11-11 20:22] cwbeitel opened #241 "Support for tensor2tensor ranged_hparams"
[Tensor2tensor](https://github.com/tensorflow/tensor2tensor) is an increasingly popular ML research framework built on top of tensorflow that has built-in support for ranged hparams, e.g.

[code]

also [here](https://github.com/tensorflow/tensor2tensor/blob/b5dea9e25b5b03e41c86b82a4a8dd18b41e68b34/tensor2tensor/rl/trainer_model_based_params.py#L497).

In https://github.com/kubeflow/katib/issues/24

[2018-11-12 09:56] wukong1992 opened #244 "Please update the docker hub"
@YujiOshima The latest image is a month ago and seems to have some problems

[2018-11-12 16:42] YujiOshima commented on #244
@wukong1992 I pushed the latest images!

[2018-11-14 04:15] texasmichelle opened #245 "Change namespace to kubeflow"
Related to [kubeflow-1903](https://github.com/kubeflow/kubeflow/issues/1903)

The [examples](https://github.com/kubeflow/katib/blob/master/examples/random-example.yaml#L4) and katib manifests are using namespace `katib`, which does not match the default core deploy namespace `kubeflow`. Update all manifests so that users following the [public docs](https://www.kubeflow.org/docs/guides/components/h

[2018-11-16 02:38] richardsliu opened #248 "Katib UI should allow sorting by column value"
For longer studies with lots of workers, this will allow the user to find the configuration with best results easier.

Workaround is to download the csv and edit it in a spreadsheet.

[2018-11-16 02:40] richardsliu opened #249 "Create a generic template for TF event metric collector"
Allow the user to import a template TF event metric collector. This will reduce the verbosity of the study job yaml file.

[2018-11-17 01:30] andreyvelich opened #250 "Access to KatibUI svc in Minikube example"
I tried to follow [Minikube](https://github.com/kubeflow/katib/blob/master/examples/MinikubeDemo.md) example for Katib and can't get access to KatibUI svc:
[code]
I believe we should add this line to [deploy.sh](https://github.com/kubeflow/katib/blob/master/examples/MinikubeDemo/deploy.sh) file in Minikube example:
[code]
Like we have in this [deploy.sh](https://github.com/kubeflow/katib/blob/mast

[2018-11-17 15:07] xyhuang commented on #217
i can take this up unless it's been done elsewhere @YujiOshima @jlewi.
/assign

[2018-11-17 15:41] YujiOshima commented on #217
@xychu Oh, sorry I already work on this.. I will open PR soon. Then, could you review my PR?

[2018-11-17 15:53] YujiOshima commented on #217
@xyhuang Oh, sorry I already work on this.. I will open PR soon. Then, could you review my PR?

[2018-11-17 18:02] johnugeorge commented on #39
@richardsliu  did you start on this? Else, I can work on it.

[2018-11-17 22:39] richardsliu commented on #39
@johnugeorge Yes, I will hopefully have something by next week. It would be great if you can take on the PyTorch part of this afterwards.

[2018-11-18 01:54] xyhuang commented on #217
@YujiOshima  sure:)

[2018-11-18 07:07] johnugeorge commented on #39
@richardsliu Sure

[2018-11-19 05:11] YujiOshima commented on #245
/close

[2018-11-19 05:11] #245 closed

[2018-11-19 05:12] YujiOshima commented on #244
/close

[2018-11-19 05:12] #244 closed

[2018-11-19 15:07] jlewi commented on #96
Closing this issue because our docs cover how to use kubectl port-forward and this seems sufficient for now.
https://www.kubeflow.org/docs/guides/components/hyperparameter/

[2018-11-19 15:07] #96 closed

[2018-11-19 15:08] jlewi commented on #78
Do we still use the CLI @gaocegege @YujiOshima ?

There is no mention of the CLI in the docs?
https://www.kubeflow.org/docs/guides/components/hyperparameter/

[2018-11-20 08:19] #250 closed

[2018-11-20 19:56] Svendegroote91 commented on #218
I had the same issue and added the metricsCollectorSpec mentioned by @YujiOshima in the random-example.yaml. After adding this, the job seems to run well but there is a disconnect for sending the metrics so they can be reported and visualised in the kubeflow modeldb-frontend endpoint.
<img width="1297" alt="error_message" src="https://user-images.githubusercontent.com/33965133/48799085-90d0f480-ed

[2018-11-20 23:44] YujiOshima commented on #218
@Svendegroote91 Thank you for reporting this.
I have recognized this error. I'm not sure about the result of this but it looks not a critical problem.
In my environment, work well even it is printed.
Could you try the master branch of kubeflow?

[2018-11-20 23:49] YujiOshima commented on #78
@jlewi We don't use it now.
We could remove it in this release.

[2018-11-20 23:57] #248 closed

[2018-11-21 00:12] YujiOshima commented on #173
Tf event metrics collector was added by #235 .
/close

[2018-11-21 00:12] #173 closed

[2018-11-21 09:34] Svendegroote91 commented on #218
@YujiOshima I tried with kubeflow master branch as well but still the same error is occurring. Let me know if you would encounter a fix for this example.

[2018-11-21 18:24] johnugeorge opened #257 "[Feature] AutoML/NAS support in Katib"
We have an early design arch of AutoML/NAS support in Katib.

Doc link: https://docs.google.com/document/d/1fE5yKG4d1eOC8vXvxNoAiTHErLfkVbvC-i_cArZp9Jo/edit

Please review the design

Related issues:
https://github.com/kubeflow/kubeflow/issues/1074
#24

Contributed by @Akado2009 @DeeperMind @garganubhav @andreyvelich @tremblerz

/cc @YujiOshima @gaocegege @jlewi

[2018-11-22 00:32] lkpdn opened #258 "Add CI"
Let's enrich CI. As a first thought, I suggest the following TODOs. All seems not to take much effort:

- [ ] activate this repo on Travis CI
- [ ] add this repo to Coveralls.io
- [ ] add .travis.yml to run (a). unit tests maybe + (b). goveralls
- [ ] don't forget to add badges

[2018-11-22 03:46] gaocegege commented on #257
/cc @ddutta

[2018-11-22 06:46] toshiiw opened #259 "Secure the service"
Unless there is some other security measure such as NetworkPolicy, anyone on the Pod network can
tweak the grpc server and mysql DB backend (unless strong password is explicitly set).

[2018-11-26 17:55] jlewi commented on #42
@garganubhav any progress? Did you open up an issue for Bayesian optimization?

[2018-11-26 17:59] jlewi commented on #39
@richardsliu Any update? Can you provide more detail on what your upcoming PR will provide?

[2018-11-27 10:11] janvdvegt opened #263 "Metrics collected but not shown on katib-ui"
When creating a StudyJob it spins up the correct number of pods, it collects the metrics properly (when using kubectl describe to describe the StudyJob), I can see the StudyJob in the UI however it does not show the metrics in the UI. After inspecting some logs the vizier-core shows a lot of the following errors:

`Cannot get objective_value_name or metrics: sql: no rows in result set`

When inspe

[2018-11-28 10:51] johnugeorge commented on #184
Closing this issue as #193 is merged
/close

[2018-11-28 10:51] #184 closed

[2018-11-28 10:57] johnugeorge commented on #223
/assign @johnugeorge

[2018-11-28 22:03] DeeperMind opened #266 "About the system design of Katib-NAS"
We just came up with a new system design for Katib-NAS: https://drive.google.com/file/d/1WjJbuUro0BQY1VW-iHs-ir9uxeQcywVl/view?usp=sharing
Compared with the previous one (https://docs.google.com/document/d/1fE5yKG4d1eOC8vXvxNoAiTHErLfkVbvC-i_cArZp9Jo/edit), we made NAS algorithm part of Katib suggestion. In this way, it can utilize the current components of Katib more. Also, we corrected the error

[2018-11-28 23:33] andreyvelich commented on #266
@DeeperMind Should we change ModelDB to mySQL DB?

[2018-11-28 23:37] DeeperMind commented on #266
Changed

[2018-11-29 13:09] lkpdn opened #268 "Add readiness/liveness probes to vizier-core"
Currently we don't make much use of readiness/liveness probe, though there are major cases where if those are to be installed, it would help cluster admins or users recognize and diagnose what is going on when some component goes bad. Let me write some down as my first thought.

- [ ] 1). When vizier-db takes tens of seconds to boot up, which is quite normal especially if the components are cleanl

[2018-12-01 04:20] mickeyh commented on #224
Would you accept a PR for log scaling in Random/Hyperopt suggestion (but not Grid search)?

[2018-12-02 02:32] sarahmaddox commented on #47
/close

[2018-12-02 02:32] #47 closed

[2018-12-03 18:43] jlewi commented on #39
@richardsliu What did you decide on the path forward?

[2018-12-03 19:18] richardsliu commented on #39
Short term plan: downgrade katib requirements to kubernetes 1.10.1. This is the version that's compatible with tf-operator and pytorch-operator, as well as the controller-runtime libraries that katib uses.

The POC is working now, see the linked PR.

[2018-12-03 19:49] jlewi commented on #150
@YujiOshima @gaocegege Any progress on this? Do you think we can get it done in time for 0.4 which we want to cut on Dec 17?

[2018-12-03 20:33] garganubhav commented on #42
yes, working on it

[2018-12-03 22:48] andreyvelich opened #272 "CLI for Katib-NAS system"
We should create CLI for Katib-NAS system.
Related to https://github.com/kubeflow/katib/issues/257

[2018-12-03 22:48] andreyvelich commented on #272
/assign

[2018-12-04 00:37] jlewi commented on #78
Great. Thanks.

[2018-12-04 00:38] jlewi opened #273 "[cleanup] delete CLI code"
According to: https://github.com/kubeflow/katib/issues/78#issuecomment-440470532

We no longer use the CLI and we could delete the code for it.

[2018-12-04 00:39] jlewi commented on #78
Created a separate issue to delete the CLI code.

[2018-12-04 00:39] #78 closed

[2018-12-04 00:39] jlewi commented on #71
@gaocegege @YujiOshima Think we will get this done for 0.4.0 or should we move to 0.5?

[2018-12-04 00:47] YujiOshima commented on #240
@janvdvegt That's great! I'm so interested in your project. Very welcome to contribute!
We can make two level IF.
A high level IF is manage StudyJob with your project.
A low level iF is calling Katib API directly.

[2018-12-04 01:58] YujiOshima commented on #224
@mickeyh Of course! Very welcome!

[2018-12-04 02:55] YujiOshima commented on #150
@jlewi This is important. I will do this in this week.
/assign

[2018-12-04 05:42] johnugeorge commented on #71
@jlwei I can help with it.

[2018-12-04 05:43] johnugeorge commented on #71
/assign

[2018-12-04 05:50] johnugeorge commented on #39
Once this merged, I will add the pytorch support

[2018-12-04 16:07] YujiOshima commented on #224
@mickeyh Great thank you for your code base suggestion! Can I fork from your PR?

[2018-12-04 19:02] mickeyh commented on #224
Sure

[2018-12-05 00:32] #266 closed

[2018-12-05 00:34] DeeperMind commented on #257
A presentation of our work cab be found in https://docs.google.com/presentation/d/1SfcKy7fzHFJZMChodCR1uBN44yX6p6QEkb0gRO0w_JI/edit?usp=sharing

[2018-12-05 07:02] #215 closed

[2018-12-05 10:11] janvdvegt opened #276 "Vizier core rest GetWorkers not working"
According to the Swagger definitions, GetWorkers should be a Get method where I pass study_id, trial_id and/or worker_id. No matter how I pass these it will return the following 500 response:

    {
        "error": "worker_id, trial_id or study_id must be set",
        "code": 2
    }

I looked in the source code (although my Go is abysmal) and I tried different naming conventions as well. Exampl

[2018-12-05 18:44] johnugeorge commented on #276
It looks like study_id field is empty when received at the server.   The problem should be the way you send the Get parameters.

Try a simple curl
curl localhost:8001/api/Manager/GetWorkers?study_id= f9d4365bb7d3241a

[2018-12-06 00:50] YujiOshima commented on #272
What kind of CLI? Please tell me a detail of the CLI.

[2018-12-06 01:22] andreyvelich commented on #272
@YujiOshima We want to create simple CLI for users who don't want to use our UI.
In first release we want to add this commands to CLI: create, delete NAS job from yaml file, list of all NAS jobs, describe current NAS job.
That will be binary file which you need to install in your cluster.
Pretty much the same what you did here [Katib CLI](https://github.com/kubeflow/katib/tree/master/cmd/cli).
And

[2018-12-06 08:55] janvdvegt commented on #276
I have no idea what is wrong with me, I spent a few hours on this. Thank you and sorry for wasting your time.

[2018-12-06 08:55] #276 closed

[2018-12-12 06:52] hougangliu opened #285 "studyJob should fail when specifying invalid worker kind"
When I specify an invalid WorkerSpec kind (saying TFJobx as below), no worker will be created, and the studyJob status keeps running with trials attached.

# kubectl get studyjob tfjob-example -n kubeflow -o yaml
apiVersion: kubeflow.org/v1alpha1
kind: StudyJob
metadata:
  creationTimestamp: 2018-12-12T06:12:21Z
  generation: 1
  labels:
    controller-tools.k8s.io: "1.0"
  name: tfjob-example
  n

[2018-12-12 06:52] hougangliu commented on #285
/assign @hougangliu

[2018-12-12 06:54] hougangliu commented on #285
I will submit a PR to fix it

[2018-12-13 05:15] hougangliu opened #289 "confusing studyJob.status.suggestionCount value"
studyJob.status.suggestionCount should record how many times this studyJobs had called suggestion, but now it seems this filed doesn't match what it should record as below:

**$ kubectl get studyjob random-example3 -o yaml -n kubeflow**
apiVersion: kubeflow.org/v1alpha1
kind: StudyJob
metadata:
  creationTimestamp: 2018-12-12T13:52:18Z
  generation: 1
  labels:
    controller-tools.k8s.io: "1.0"

[2018-12-13 05:15] hougangliu commented on #289
/assign

[2018-12-13 06:01] hougangliu opened #291 "studyJob cannot recover once Completed or Failed"
Now studyJob cannot recover once **Completed or Failed.**
When a studyJob CRD created, I can update it by "kubectl apply" or else, but if the studyJob condition is  Completed or Failed, we never start next suggestion schedule.
For example, a user creates a studyJob with an invalid workerSpec, which would lead to spawnWorker return error and studyJob goes to **Failed**. Then the user can correct wo

[2018-12-13 22:46] andreyvelich opened #293 "Extend studyjob structure for NAS jobs"
We should extend current studyjob structure to parse yaml file for NAS jobs.
Current yaml file for NAS job should be like this: https://github.com/DeeperMind/katib/blob/patch-1/examples/NAS-example.yaml.
Related to: https://github.com/kubeflow/katib/issues/257.

[2018-12-13 22:47] andreyvelich commented on #293
/asssign

[2018-12-13 22:47] andreyvelich commented on #293
/assign

[2018-12-14 01:18] #285 closed

[2018-12-14 05:08] johnugeorge commented on #39
@jlewi tf job & pytorch job integration is completed.
we can close this PR

[2018-12-14 05:16] johnugeorge opened #294 "Better support for distributed tfjob/pytorch job"
Default metric collector collects and parses metrics emitted from stdout.
In case of tfjob and pytorch job, the default metric collector looks for pods that have labels 'tf_job_name" and "pytorch_job_name" respectively
https://github.com/kubeflow/katib/blob/master/pkg/manager/metricscollector/meticscollector.go#L42

How should we handle when there are multiple pods per tfjob/pytorchjob?

In case o

[2018-12-14 15:14] #289 closed

[2018-12-15 16:11] hougangliu commented on #291
/help

[2018-12-17 14:32] jlewi commented on #42
@garganubhav Any update on this? What is the remaining work? Do we have an estimate for when it will be completed?

[2018-12-17 15:05] jlewi commented on #150
@YujiOshima Any progress on this? Do you think we could get it done this week as part of our 0.4 release?

[2018-12-17 15:06] jlewi commented on #137
@YujiOshima What's the status of this? It looks like you removed ModelDB. Is Katib now deployed with Durable storage?

/cc @richardsliu

[2018-12-17 15:59] YujiOshima commented on #137
/close

[2018-12-17 15:59] #137 closed

[2018-12-17 16:00] YujiOshima commented on #39
Great thank you @johnugeorge @richardsliu
/close

[2018-12-17 16:00] #39 closed

[2018-12-18 08:36] hougangliu opened #297 "name of workerspec and metricsCollectorspec template must follow rule"
for a studyJob, in its workerSpec and metricsCollectorSpec tempalte, the k8s resource (Job, PytorchJob or TFJob for worker, and CronJob for metricsCollector) metadata.name value must be specified with `{{.WorkerID}}`. In Katib source code, this name rule is followed to manage worker and  metricsCollector k8s resource.

Solution:
1. doc that in studyJob workerSpec and metricsCollectorSpec tempalte,

[2018-12-18 08:37] hougangliu commented on #297
@YujiOshima any comment?

[2018-12-18 09:59] hougangliu opened #298 "If fail to create metricsCollector, trails worker state cannot update"
When create a studyjob with wrong format meticsCollector template, the  studyjob changes to Failed as expected. But worker job already created and run will not be deleted even it completed. And the studyJob.status.trails.workeridlist says that the worker condition is running

[code]

[2018-12-18 09:59] hougangliu commented on #298
/assing

[2018-12-18 10:01] hougangliu commented on #298
/assign

[2018-12-18 14:21] YujiOshima commented on #297
@hougangliu I'm not sure about the second one.
In another way, we can dismiss metadata.name  in a template and overwrite it with `{{.WorkerID}}`. Of course, need to explain in a doc.

[2018-12-18 15:40] jlewi commented on #150
Here's how Kubernetes generates its docs
https://kubernetes.io/docs/contribute/generate-ref-docs/kubernetes-api/

[2018-12-18 19:32] johnugeorge commented on #294
/area 0.4.0

[2018-12-19 02:02] johnugeorge commented on #294
New master role label has been added to pod(in TFJob/PyTorchJob) which acts as the master.  If there is no master in a TFJob, label is added to the first worker .

For logging, the default metric collector can look for the pod that contain this master label

[2018-12-19 03:17] hougangliu commented on #297
namespace of workerspec and metricsCollectorspec must keep same with the studyJob

[2018-12-19 03:37] hougangliu commented on #297
we can dismiss metadata.name in a template and overwrite it with {{.WorkerID}}. but for namespace, if overwrite with studyJob namespace, something maybe go wrong. for example, default secret role the Pod mount may change, or even the pod may mount a PVC (which is namespaced).

@YujiOshima  So should we make a constraint that workerspec and metricsCollectorspec must keep same namespace with its stu

[2018-12-19 03:59] johnugeorge commented on #297
Please document it if we are planning to change the behavior.

If we are planning to override name and namespace, One solution can be  changing job template to PodSpec(like in TFJob/PytorchJob).

[2018-12-19 06:06] hougangliu commented on #297
In sum, for current source code, we must make sure worker and metricsCollector template with  {{.WorkerID}} name and same namespace as the studyJob. Here, we need decide the behavior when the two metadata attributions don't follow this constraint respectively.

P.S I notice that default workerTemplate and metricsCollectorTemplate hard-code namespace as `kubeflow`

[2018-12-19 12:58] hougangliu opened #301 "studyjob cannot work if its namespace is not kubeflow"
When I create a studyjob with default namespace, the job will be stuck in `Running`
[code]

[2018-12-19 12:58] hougangliu commented on #301
/assign

[2018-12-19 15:03] #294 closed

[2018-12-19 18:02] #301 closed

[2018-12-19 23:41] hougangliu opened #305 "add GRPC/rest API to return best suggestion trial result"
After a studyJob completed, we need expose API to get best suggestion trial result so that 3rd-party can use the result to train model.

[code]

[2018-12-19 23:41] hougangliu commented on #305
@YujiOshima @richardsliu Any comment?

[2018-12-20 00:36] hougangliu commented on #291
/remove-help

[2018-12-20 04:09] johnugeorge opened #306 "GetMetrics API returns empty result if workers ids are not passed"
GetMetrics API  returns empty results for a studyId if worker ids are not passed. The api should return metric logs for all workers of a study id or output error message if it is not supported

[2018-12-20 04:11] richardsliu commented on #297
For now I would prefer to document the `{{ .WorkerID }}` usage more clearly (option 1). Replacing the name introduces an inconsistent behavior that can confuse users.

In our future (v1beta) API, we can discuss the longer term plan.

[2018-12-20 04:17] hougangliu commented on #297
@richardsliu Then I think we should mark stutdyJob Failed if user doesn't follow the guideline, right?

[2018-12-20 04:34] johnugeorge commented on #305
Isn't this a very resource intensive process? we need get all metric logs of all workers to compute it.  Is there a better way?

[2018-12-20 04:38] richardsliu commented on #297
Yes, we need to validate the studyjob (and add tests to verify this).

[2018-12-20 04:43] hougangliu commented on #297
@richardsliu thanks! get it

[2018-12-20 04:53] #298 closed

[2018-12-20 05:15] hougangliu commented on #305
@johnugeorge In fact, all trial info had been stored in DB. It just need return the best trials by querying DB. No need to get all metric logs of all workers to compute it again when run this API.

[2018-12-20 05:57] johnugeorge commented on #305
Yes.  I was asking if this db query would span across all metric logs of all workers of this study. Currently, are we storing the best values of each trial in DB now?

Please correct me if I am wrong.

[2018-12-20 07:03] lkpdn commented on #258
This Issue now seems useless so let me close this.

[2018-12-20 07:03] #258 closed

[2018-12-22 00:19] hougangliu opened #311 "clean obsolete data in db"
When we delete a studyJob, we should clean obsolete data of the studyjob in db

[2018-12-22 00:19] hougangliu commented on #311
/assign

[2018-12-23 02:11] #297 closed

[2018-12-24 07:46] hougangliu commented on #305
We can add bestTrialId in studyjob.status and user can get the trial detail by calling GetTrial gRPC api

[2018-12-25 09:28] YujiOshima opened #313 "Add example doc for TFJob and PytorchJob"
To run examples for  TFJob or PytorchJob, we should install corresponding job-operators by kfctl.
@richardsliu @johnugeorge Could you add docs for it?

[2018-12-25 17:44] johnugeorge commented on #305
Sorry for late response because of holidays.
I agree with @YujiOshima .  We can reduce unnecessary compute by adding best(max/min) value to DB  and updating it during every report.

While digging deep, I saw one assumption in the current code.
https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/studyjob_controller.go#L251
Is  this assumption correct?   Can we assume that last tim

[2019-01-03 03:42] #305 closed

[2019-01-03 12:16] hougangliu opened #314 "studyJob controller is blocked by bad CR manifests"
refer to [same root cause ](https://github.com/kubernetes/kubernetes/issues/57705) . we can follow the recommendation in [this comment](https://github.com/kubernetes/kubernetes/issues/57705#issuecomment-354552314)

[code]

[2019-01-03 13:01] johnugeorge commented on #314
Job Operators have solved it using unstructured implementation

[2019-01-04 02:16] hougangliu commented on #314
@johnugeorge do you mean [this PR](https://github.com/kubeflow/tf-operator/pull/610) for tfjob?
Katib should follow this PR to fix this issue.

[2019-01-04 02:53] hougangliu commented on #122
I think #312 solved this requirement.
After studyJob completed, user can get bestTrialId from studyJob.Status.BestTrialID. Then call grpc api GetTrial to get trial detail which includes optimal parameters. For example:
[code]

[2019-01-04 03:06] johnugeorge commented on #314
Yes. However, katib uses controller-runtime for controller implementation. Need to see how can it be adapted.

@gaocegege  Thoughts?

[2019-01-04 18:59] johnugeorge commented on #313
Docs are added in the package Readme https://github.com/kubeflow/kubeflow/tree/master/kubeflow/katib

[2019-01-04 19:07] richardsliu commented on #313
We should add the documentation to https://github.com/kubeflow/katib/blob/master/README.md as well, and reference the TF/Pytorch examples.

[2019-01-04 20:07] TimZaman opened #316 "Katib StudyInfo UI always shows horizontal scrollbar."
On Kubeflow 0.4.0-rc3; GKE CLI. Google Chrome Version 71.0.3578.98 (Official Build) (64-bit).

See title. Quite pedantic UI issue: total P4.

I think the ui always takes into account some horizontal space for a vertical scrollbar, and therefore offsets. Even on large view the UI is _always_ larger than your display:

![image](https://user-images.githubusercontent.com/7721540/50708379-f4925100-1018

[2019-01-05 13:49] YujiOshima commented on #122
@hougangliu I think it is not enough. We need to add a one-shot job API for specific trial ID. I will work on it.
/assign @YujiOshima

[2019-01-07 01:40] jlewi opened #317 "StudyJob controller shouldn't crash if PyTorch (or other job operators not installed)"
See: kubeflow/kubeflow#2212

User reports that the StudyJob controller crashes if pytorch operator isn't installed on the cluster.

Logs for StudyJobController

[code]

This seems like a bug. If a particular job controller isn't installed I would still expect katib and StudyJobs to work with other types of job controllers.

[2019-01-07 01:47] jlewi opened #318 "ROADMAP for 2019 Katib"
Can we get a ROADMAP for Katib? This can be fairly high level like the overall Kubeflow ROADMAP

https://github.com/kubeflow/kubeflow/blob/master/ROADMAP.md

/cc @johnugeorge @YujiOshima @gaocegege

[2019-01-07 01:51] jlewi opened #319 "Plans for Katib in v0.5"
Opening this issue to track planning for Katib in v0.5?

Do we want to define a minimal critical user journey (CUJ) for Katib and then create a backlog of issues to deliver it?

For me the priority would be enabling users to easily walk through doing a hyperparameter search using Katib. It would be great to get Katib integrated into one of our E2E examples such as

* mnist
* GitHub issue summariza

[2019-01-07 02:11] johnugeorge commented on #319
Currently, mnist example is already added in katib repo
https://github.com/kubeflow/katib/pull/309

@jlewi  you mean, adding the same to the examples repository?

[2019-01-07 02:53] johnugeorge commented on #317
it should be happening because schemes of job operators(tfjob and pytorch) are added during init.

https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/addtoscheme_tfjob_v1beta1.go#L21

Operator deployments are not needed if corresponding workers are not needed in Katib. However, there is a requirement of having operator crds to be installed.

https://github.com/kubeflow/katib/blob

[2019-01-07 14:10] jlewi commented on #42
@garganubhav @johnugeorge @YujiOshima @gaocegege

What's the current status of this issue?

It looks like there is #230 for a test for bayesian optimization. Can we close out this issue since that issue exists?

/cc @richardsliu

[2019-01-07 14:12] jlewi commented on #230
@garganubhav What is the current status of this? Can you provide more information about what you are planning to deliver and when?

For example, will the test just verify that the bayesian algorithm generates suggestions without errors, or will it also check correctness?

[2019-01-07 14:59] jlewi commented on #317
@johnugeorge Can you elaborate? Why does linking in the spec for TFJob (https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/addtoscheme_tfjob_v1beta1.go#L21) create a runtime dependency on the CRD being installed in the cluster? I would have thought that just creates a compile time dependency?

I guess my bigger question is; what's the long term plan here for Katib in terms of how

[2019-01-07 15:18] YujiOshima commented on #318
@jlewi my plan for the next step of Katib is

* Katib-NAS (cc @DeeperMind
* Enrich UI for not specialist of k8s CRD.
* Enforce reproducibility: Integrate Model management, experimental tracking.

@johnugeorge @gaocegege WDYT?

[2019-01-07 15:22] #311 closed

[2019-01-07 16:14] johnugeorge commented on #317
@jlewi  Runtime error should be where we do a watch on the jobs during init

https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/studyjob_controller.go#L114

can you elaborate more on "to fire off K8s resources to do the actual training" ?

[2019-01-07 22:05] garganubhav commented on #230
Currently, I am not working on this. I started but then the BO algo was not working in Katib.

[2019-01-08 16:33] johnugeorge commented on #318
Agree. We should break these down into multiple issues and tag them into upcoming releases

Related #319

[2019-01-09 02:43] gaocegege commented on #318
SGTM, I am looking forward to joining the development of Katib again in March. I am going to finish my studies in February :smile:

[2019-01-11 07:34] johnugeorge commented on #313
/assign @andreyvelich

[2019-01-13 16:54] pdmack opened #322 "vizier-core stuck in CrashLoopBackoff due to failed pod checks"
#270 implemented gRPC health checking but I'm trying to make sense of why vizier-core (0.4.0) falls into CLB due to the failed readiness/liveness checks in my master+3 compute node deployment.

[code]

[code]

[2019-01-13 17:32] johnugeorge commented on #322
@pdmack My deployment looks ok with 0.4.0.  Did you change anything in your environment? Btw, are other Katib pods up?

[2019-01-13 21:08] pdmack commented on #322
Yes the other vizier pods are running. Is this a local check within the pod that the `vizier-manager` is up and running?

[2019-01-14 00:09] jlewi commented on #319
@johnugeorge I think the example is a good start. However, I think the question is do we have a good E2E story for how users go from building a model to doing a hyperparameter search to identify the best model?

I think a big piece we are missing is a CUJ defining what the experience should look like. I think @richardsliu is going to start putting together an initial draft.

It looks like the inst

[2019-01-14 00:54] jlewi commented on #317
@johnugeorge

Why is there a requirement to have operator CRDs to be installed if they aren't being used? This seems like a limitation of the current implementation.

The StudyJob CRD takes a template for the K8s resource (PyTorchJob, TFJob, ChainerJob, Job, ....) that will be used to train the model. Why does Katib need to have explict support for any of these resources?

Do you agree that Katib

[2019-01-14 01:31] hougangliu commented on #314
/assign

[2019-01-14 02:13] xyhuang opened #323 "Studyjob controller fails to resolve vizier-core's DNS name when running katib in custom namespace"
looks like this is caused by a hard-coded namespace:
https://github.com/kubeflow/katib/blob/bca0b58789845225b3127d9f555521ea100e3ebe/pkg/types.go#L4

[2019-01-14 02:56] johnugeorge commented on #319
@jlewi  Yes. I agree with you. E2E experience is not described well enough. I talked with @richardsliu and he is working on the CUJ . One the CUJ is out, we will fix all the missing pieces for a good E2E story.

[2019-01-14 06:02] hougangliu commented on #323
now all katib components must be deployed in same namespace, and the namespace is now hard-code
 by `kubeflow`. also katib manifests hard-code namespace by `kubeflow`.

@YujiOshima @richardsliu do you think we should remove the constraint?

[2019-01-14 06:39] johnugeorge commented on #323
Katib manifests in this repo are just examples. User can install the manifests in any namespace.

I had pointed out in an earlier comment

https://github.com/kubeflow/katib/pull/302#discussion_r243148029

[2019-01-14 07:11] hougangliu commented on #323
@johnugeorge sorry, I missed your comment.

Then I think we should make rule as below:
1. all Katib components must be deployed in same namespace.
2. since metric-collector (which may be deployed in another namespace, same with studyJob) also need call vizer-core api to get study, we can pass katib namespace to metric-collector to compose vizor-core service dns name.

@richardsliu @YujiOshima any

[2019-01-14 07:15] hougangliu commented on #323
/assign

[2019-01-14 07:32] johnugeorge commented on #323
@hougangliu

If Katib is deployed via kubeflow package, all components are automatically deployed in the same namespace.
 Also what is the use case for a situation where katib components are installed across multiple namespaces?  Do we really need to support it?

Namespace is already passed to metric-collector as a flag.

[2019-01-14 07:44] johnugeorge commented on #317
@jlewi I agree with you that Katib shouldn't crash if the user hasn't installed these CRs in the cluster .  Ideally, users have to install CRs only when they need to.

However as @gaocegege told,  it is difficult to implement dynamic registration of resource watch in the controller.

Eg:  During the init,  we can skip the resource watch(TFjob/PyTorchJob) if CRDs are not installed.  This will avoid

[2019-01-14 07:59] hougangliu commented on #323
for 2, what Namespace passed to metric-collector as a flag is metric-collector pod's namespace, not vizier-manager deployment's namespace

[2019-01-14 11:04] johnugeorge commented on #322
@pdmack
Yes. This is to check if the katib manager is ready to accept requests. https://github.com/kubeflow/katib/blob/master/cmd/manager/main.go#L346

1. Can you verify if vizier-db pod is up and active? I have seen a similar situation when the db pod was pending due to pvc issues
2. Can you check the logs of vizier-core pod?  Can you see this print - https://github.com/kubeflow/katib/blob/master

[2019-01-14 15:01] pdmack commented on #322
This is OpenShift 3.11 with generous permissions, but I'm thinking there's something subtle I'm missing. A standalone 3.11 env (AIO) doesn't exhibit this problem.

[2019-01-15 02:32] #323 closed

[2019-01-15 18:41] jlewi commented on #317
The GoClient libraries provide a REST interface
https://github.com/kubernetes/client-go/blob/master/rest/client.go

That allow us to perform the basic rest operations without linking in any CRD specific client side generated client generated libraries.

Here's some sample code from the early days of TFOperator.
https://github.com/kubeflow/tf-operator/blob/e4a436da92e198dcb88c89c33010608e0c8a23bf/p

[2019-01-15 22:51] andreyvelich opened #325 "Delete StudyJob failed"
I tried to create my own image for StudyJob controller and deployed Katib in cluster.
I submitted [random-example](https://github.com/kubeflow/katib/blob/master/examples/random-example.yaml) to my deployment. After finishing this example I tried to delete studyjob and got this errors in logs of study-job-controller:
[code]

In that case I have only one way to delete StudyJobs:
[code]

[2019-01-16 03:42] johnugeorge commented on #325
@andreyvelich which vizier-core image are you using?. This api was added in https://github.com/kubeflow/katib/pull/315

[2019-01-16 03:47] andreyvelich commented on #325
@johnugeorge gcr.io/kubeflow-images-public/katib/vizier-core:v0.4.0

[2019-01-16 03:55] johnugeorge commented on #325
i am not sure if 0.4.0 has the api updated. Can you try using the latest image gcr.io/kubeflow-images-public/katib/vizier-core:v0.1.2-alpha-111-g0ed361c

[2019-01-16 04:15] andreyvelich commented on #325
Thanks a lot, it helped!

[2019-01-16 04:15] #325 closed

[2019-01-16 15:30] #313 closed, assigned to andreyvelich

[2019-01-17 01:34] andreyvelich commented on #293
This is new Yaml file structure
https://github.com/andreyvelich/katib/blob/293-extend-sj-structure/examples/nasjob-example-RL.yaml

[2019-01-17 07:14] andreyvelich commented on #257
A final Katib-NAS design doc can be found here
https://docs.google.com/document/d/1qGWy-C5XSQmh82XYoMcJ_JWLHwmyvdMRjCkFMfkO0vE/edit

[2019-01-18 19:20] richardsliu commented on #319
CUJ: https://docs.google.com/presentation/d/1S_dqk84rKGQpRNRagqiqykMrdjGO3_uG7e5nrtzW6tM/edit#slide=id.g4b349cd762_0_151

[2019-01-21 08:36] gyliu513 commented on #317
FYI @hougangliu @jinchihe

[2019-01-21 08:46] gyliu513 opened #331 "Pipeline and Katib Integration"
Katib is used for hyperparameter tuning, and Pipeline is used for end-to-end ML workflows, and the Pipeline do need some parameters provided by Katib to improve the efficiency, such as enabling Pipeline get the best parameters provided by Katib etc, any document or best practise for how Pipeline can get the parameters generated by Katib?

FYI @hougangliu @jinchihe

[2019-01-21 09:19] johnugeorge commented on #317
Few  solutions that I can think of
1. Start a watch of TFJob/PyTorch Job using rest api. When watch events are received, call the reconcile method of the current controller run time.   [We are not calling the controller-runtime watch api https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/studyjob_controller.go#L113 . Instead our custom function is responsible for the watch]
2. S

[2019-01-21 09:39] gyliu513 opened #332 "Katib install does not include ModelDB"
Based on the document here https://github.com/kubeflow/katib#components-in-katib , the Katib should include `ModelDB`, but after Kubeflow 0.4.0 was installed, I found that `ModelDB` was not enabled. Am I missing anything?

[code]

FYI @hougangliu @jinchihe

[2019-01-21 12:18] hougangliu commented on #332
katib 0.4 disables modelDB for some reason.
@YujiOshima @richardsliu can you explain it?

[2019-01-21 13:17] gyliu513 commented on #332
Thanks @hougangliu , I also want to get more detail after ModelDB was disabled, how to manage machine learning models? @YujiOshima @richardsliu

[2019-01-21 14:40] pdmack opened #334 "vizier-db needs enhanced liveness/readiness checks"
vizier-db pod is shown as "Running" after deployment but it actually is not fully configured if there was a problem with the katib-mysql PV not being writable.

OpenShift 3.11

[code]

[2019-01-21 14:48] hougangliu commented on #332
maybe because katib UI can work well to replace modeldb

[2019-01-21 18:12] johnugeorge commented on #317
@jlewi @richardsliu WDYT?

[2019-01-21 23:07] hougangliu commented on #317
/assign

[2019-01-22 01:51] johnugeorge commented on #317
@hougangliu I am not sure if it is the right solution. This will force the user to reinstall katib if it needs to create study job with TFJob/PyTorch Job in the future(which should be the usual case)

I feel that we need to support dynamic watch on them at runtime so that behavior remains the same

[2019-01-22 02:04] jlewi commented on #317
@johnugeorge regarding the options listed in
https://github.com/kubeflow/katib/issues/317#issuecomment-456001768

What's the difference between options 1 & 2? Does 1 require the supported job types to be explicitly enumerated whereas 2 doesn't?

Which of these options if any allow us to immediately support new operators e.g. (chainer, mpi, etc...) without having to change Katib code?

[2019-01-22 03:12] hougangliu commented on #317
studyJob controller is implemented by controller-runtime now, and controller-runtime cannot support dynamic watch. replacing  controller-runtime maybe take some time.
I think this is a critical issue since once user doesn't install tfjob or pytorch job when install kubeflow, katib fails to work. we can provide a short-term solution for katib 0.4.0 (as mentioned: when TFJob/PyTorch CRDs does not in

[2019-01-22 16:37] jlewi commented on #332
I believe Katib now uses MySQL and no longer has a dependency on ModelDB.

@YujiOshima what's the current thinking in terms of how users see the results of their experiments? Is the MySQL DB intended for internal usage by Katib only or is it intended for storing the results of the HP tuning job for consumption by users.

[2019-01-22 16:42] jlewi commented on #331
An example of using Pipelines to orchestrate hyperparameter tuning would be great.

You can take a look at the TFJob launcher to get some sense of what a component for Katib might look like
https://github.com/kubeflow/pipelines/tree/master/components/kubeflow/launcher

There is an open issue to figure out best practices with respect to integrating pipelines with K8s resources; see kubeflow/pipelin

[2019-01-23 02:45] DeeperMind opened #338 "Suggestion for Neural Architecture Search with Reinforcement Learning"
Create a suggestion for Neural Architecture Search.

Related to: https://github.com/kubeflow/katib/issues/257

[2019-01-23 02:50] hougangliu commented on #317
Sound good! However for long-term solution, I think dynamic watch is better for a good UE

[2019-01-23 05:35] hougangliu commented on #291
1. At least, for Failed studyJob, we should try to rehandle it when updated.
2. For completed studyJob, we should reject updating it by (webhook)[https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/webhook] (we need upgrade controller-runtime, and webhook can validate studyJob to fix #317).

[2019-01-23 07:28] jax79sg opened #340 "vizier-db issue with readiness check"
I am currently experiencing an issue with vizier-db pod whereby the readiness probe failed.

Is the database vizier supposed to be created when the pod is created or am I supposed to create it myself?

The following steps are my troubleshooting process:

Output from `kubectl describe pod -n kubeflow vizier-db-5b59cc744-nh8tp`:
[code]
I have noticed that the readiness check for vizier-db pod is by

[2019-01-23 07:48] hougangliu commented on #340
the database vizier will be created automatically. Can you paste `kubectl logs -n kubeflow vizier-db-5b59cc744-nh8tp` here?

[2019-01-23 08:01] jax79sg commented on #340
@hougangliu you are right! the vizier-core pod is not ready.
Here is the output from `kubectl describe pod vizier-core-6d65bc84c9-hrnnt -n kubeflow`:
[code]
I'm assuming if I manage to solve this issue, vizier-db pod would be working?

[2019-01-23 08:15] hougangliu commented on #340
Yes, I think so. Maybe you can paste `kubectl -n kubeflow logs vizier-core-6d65bc84c9-hrnnt`

[2019-01-23 14:39] YujiOshima commented on #332
@gyliu513 Thank you for pointing it. I removed ModelDB since it was difficult to persistent data.
My current thinking, MySQL DB store results of the HP tuning and NAS job. And Kaitb UI will provide it to users.

I will update documents but we probably integrate with the new version of ModelDB in the future.

[2019-01-23 16:38] jlewi commented on #317
@hougangliu Can you elaborate on the dynamic watch? Can you provide a reference to the code where the StudyJob controller sets up a watch on TFJob and PyTorch resources?

It looks like the current implementation is just polling for job status
https://github.com/kubeflow/katib/blob/85459705db0a839e2e2e704b34545ea4bab7b646/pkg/controller/studyjob/studyjob_controller.go#L404

Can we update that code

[2019-01-23 19:01] johnugeorge opened #341 "Make Katib generic for operator support"
Currently in order to support custom K8s to Katib,  explicit support has to be added.  There are explicit checks for each resource in the current code.  Remove such checks so that it is generic to support new operators.

eg:  In getJobWorkerStatus,  https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/studyjob_controller.go#L421

Related PRs:
- [x]  StudyJob controller shouldn't c

[2019-01-23 20:05] johnugeorge commented on #317
resources are watched in https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/studyjob_controller.go#L113

can you explain more on "for each type of resource the first time it sees a resource of a given type?"

controller-runtime

[2019-01-23 23:54] richardsliu commented on #341
StudyJobController currently implements different logic for each worker type to check if the worker has completed: https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/studyjob_controller.go#L413

BatchJob also supports the "last condition" format, so in theory we should be able to make this code generic: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/

[2019-01-24 00:05] hougangliu commented on #317
I will consider using unstructured informer, but I wonder if unstructured informer can reduce load on the APIServer.
And why controller-runtime cannot support dynamic watch is that once controller-runtime started, a lock created so that we cannot Watch the new resource in need.

[2019-01-24 02:35] hougangliu commented on #340
when vizier-core-6d65bc84c9-hrnnt  not ready, vizier-core service cannot be routed to an available pod.

I have no idea why vizier-core-6d65bc84c9-hrnnt log is empty. Do you do any change to  vizier-core deployment?

[2019-01-24 02:40] hougangliu opened #343 "Katib job and Katib services cannot be in different namespaces due to metrics collector service account"
just copy https://github.com/kubeflow/kubeflow/issues/2311 here to trace

[2019-01-24 19:44] richardsliu opened #344 "Katib job status should contain all conditions, not just the latest one"
Current katib job status: https://github.com/kubeflow/katib/blob/master/pkg/api/operators/apis/studyjob/v1alpha1/studyjob_types.go#L60

Compare that with TFJob status, which has more details such as Reason and Message:
https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/common/v1beta1/common_types.go#L83

We should consider using the latter model in the next version of the API.

[2019-01-25 01:55] richardsliu commented on #161
@YujiOshima I think in future versions of the katib API we should make this clearer. For example, "requestCount" and "requestNumber" are both present in the schema, and it is not obvious what they mean.

[2019-01-25 01:56] #216 closed

[2019-01-25 09:13] jax79sg commented on #340
@hougangliu okay i ran `kubectl delete po vizier-core-6d65bc84c9-hrnnt -n kubeflow` and the problem still persists.

I suspect the problem lies with vizier-db not working which leads to vizier-core's issues.

[2019-01-25 09:23] johnugeorge commented on #340
@jax79sg Can you try with higher initialDelaySeconds for vizier-db deployment? Currently, it is 5. Can you try changing to 15 and see if you still see the issue?

[2019-01-25 15:19] jlewi commented on #317
Thanks @johnugeorge for the pointers and @hougangliu for the short term fix.

Regardling long term solution

@johnugeorge @hougangliu @richardsliu It it possible  to make Watch work in a dynamic fashion?

It looks like StudyJob controller creates the manager here:
https://github.com/kubeflow/katib/blob/f4026e4a2f9b7cde2104f2f072abb1d53e99ec86/cmd/studyjobcontroller/main.go#L45

It looks like the m

[2019-01-26 04:34] johnugeorge commented on #340
@jax79sg you can make change in the https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/vizier.libsonnet#L299 and redeploy.

Also please post  output of `kubectl describe pod`  on vizier db pd?

[2019-01-27 23:33] hougangliu commented on #340
maybe you can try to delete vizier-db and vizier-core pod at the same time to recovery

[2019-01-28 08:40] janvdvegt opened #346 "Extending StudyJob API by adding more trials to finished StudyJob"
For our usecase we would like to be able to extend finished studyjobs by adding more trials to it even after it is finished. If we would submit a new one instead they are seen as a completely new instance which means it's more difficult to compare the results and it cannot leverage the previous results for smarter hyperparameter search.

[2019-01-28 18:26] andreyvelich opened #347 "Pytorch example doesn't work"
I tried to run [Pytorch example](https://github.com/kubeflow/katib/blob/master/examples/pytorchjob-example.yaml) in the Katib and got the problem.
Inside training container I got this error:
[code]
It can be a problem with this image: gcr.io/kubeflow-ci/pytorch-dist-mnist-test:1.0.
I tried to create my own image, using instruction from [here](https://github.com/kubeflow/pytorch-operator/tree/maste

[2019-01-29 02:19] hougangliu opened #349 "support worker/metricsCollector template from specified configmap + path"
For now, when specify worker and  metricsCollector by TemplatePath, this path must exist in kubeflow/configmaps/worker-template for worker and kubeflow/configmaps/metricscollector-template for metrics collector.

we should cover a use case: a user who can only create/update studyjob and configmap in  non-kubeflow namespace , but he wants to persist his worker/metricscollector template in configmap

[2019-01-29 02:20] hougangliu commented on #349
/assign

[2019-01-29 02:23] hougangliu commented on #349
I plan refactor GoTemplate as below
[code]
@richardsliu @YujiOshima @gaocegege @johnugeorge  any comments?

[2019-01-29 02:31] gaocegege commented on #346
Thanks for the issue. Do you mean we need to support creating new trials for the finished studies?

[2019-01-29 23:36] richardsliu commented on #349
Maybe call the field and type TemplateSpec instead of TemplateFromConfigmap/TemplatePath? Otherwise sounds ok to me.

[2019-01-30 00:10] richardsliu commented on #346
This is interesting. I think @janvdvegt is asking for a way to resubmit a StudyJob that has already completed, to continue off the results from the previous trials. This brings up some additional questions:

- Do we want to allow resubmitting study jobs with different parameter search spaces?
- What about adding/removing hyperparameters?
- Changing the suggestion algorithm/parameters?

[2019-01-30 02:32] hougangliu opened #351 "unify studyjob json tag"
studyjob json tag should keep unified style, but now camelcase and  lowercase mix as below, which leads to bad UE when a user write a studyjob yaml/json file. I suggest to keep camelcase.

[code]

[2019-01-30 03:01] YujiOshima commented on #346
@janvdvegt I think my PR #352 is related your use-case. Maybe not enough yet.

[2019-01-30 04:33] YujiOshima commented on #230
@garganubhav What is the current status of this? BO can work now.

[2019-01-30 05:11] jax79sg commented on #340
Update:
I managed to resolve the problem by changing vizier-db's deployment image from mysql:8.0.3 to mariadb.
Apparently when deploying using mysql:8.0.3, the environment variables declared is not being used at all and after changing to mariadb it is working fine.
Thanks for the help guys!

[2019-01-30 05:11] #340 closed

[2019-01-30 06:13] garganubhav commented on #230
@YujiOshima I don't plan to work on this in near future.

[2019-01-30 07:49] johnugeorge commented on #340
@jax79sg Can you explain what you meant by "the environment variables declared is not being used at all"

[2019-01-30 13:02] janvdvegt commented on #346
I'm not 100% sure @YujiOshima how related it is. Unfortunately my Go is not enough to disect your PR.

@gaocegege Yeah I guess. Maybe my proposal is not the best way to do it, but I would like to be able to continue a StudyJob after the initially submitted amount of suggestions.

@richardsliu In my case I would not necessarily need to allow the first two options but it would not hurt either. The t

[2019-01-30 15:34] llegolas opened #353 "katib-ui is blank"
when navigate to katib-ui via ambassador or via direct route the browser page is blank.
Blank as white with nothing on it.
it is kubeflow 0.4.1 on openshift 3.11
in katib-ui pod logs i can see errors like:
[code]
The same error can be seen in the logs of pod running random-example study job

[2019-01-30 15:43] janvdvegt opened #354 "Fail to initialize Invalid metricsCollector template."
When starting my custom studyjobs or the examples in the repository I get this error in the logs of the studyjob-controller:

`2019/01/30 15:36:48 Fail to initialize Invalid metricsCollector template.`

This is when using the default template. There are a few differences to the basic kubeflow usage I guess. First of all I am using newer images (currently the latest one), second of all I'm not usin

[2019-01-30 15:46] janvdvegt commented on #354
Sorry, it's because I'm using Helm to deploy Katib and I didn't escape the template properly.

[2019-01-30 15:46] #354 closed

[2019-01-30 23:33] andreyvelich commented on #353
Hello @llegolas,
Try to delete Katib deployment and deploy it again.
As well, can you show me all of your pods from your deployment and logs from vizier-core pod?

[2019-01-31 01:13] richardsliu opened #355 "Integrate katib with Jupyter notebooks and fairing"
Allow data scientists to take a training job on fairing and easily configure a katib HP tuning job - without having to write a CRD.

[2019-01-31 01:27] richardsliu opened #356 "Katib status should return optimal parameters values"
Enhance Katib StudyJob status to have more info, e.g.
- Successful/Pending/Failed trials
- best hyper parameters till now
- etc.

Currently, output of “kubectl describe studyjob” gives very limited view of status. Looking at the output status, we can't really tell what is going on with the algorithm right now, how many iterations have passed. It would be interesting to see how far are we  from the

[2019-01-31 01:56] hougangliu commented on #346
#291 is about how we should consider update for `completed` and `failed` studyjob. Maybe if we want to trigger new trial by updating requestCount

[2019-01-31 02:34] jax79sg commented on #340
@johnugeorge Hi, I am referring to the env under https://github.com/kubeflow/katib/blob/master/manifests/vizier/db/deployment.yaml,
[code]
Strangely enough, even though the environment variables have been declared, it is not deployed with it. By changing the image from mysql:8.0.3 to mariadb, everything has been working fine so far.

[2019-01-31 05:38] YujiOshima commented on #344
Should we use Events field of Studyjob?

[2019-01-31 08:02] llegolas commented on #353
I recreated the whole project.
Here are the pods:
[code]
and the logs from vizier-core pod
[code]

[2019-01-31 10:03] johnugeorge commented on #344
@YujiOshima Yes.  Adding events will be also helpful to users like in TFJob

[2019-01-31 12:33] llegolas commented on #353
It looks that the problem stems from the fact that I run kubeflow in namespace kubeflow41x.
Is there any config option so  katib-ui knows where to look for vizier-core etc?

[2019-01-31 16:43] rummens opened #358 "StudyJob won't start and StudyJob Controller keeps crashing (invalid memory address)"
Hello,

we are expriementing with Katib but cannot get it to work. The random-example from the website is working but nothing else. We can create the job (using the UI) and the resource appears in the cluster but it wont start, keeps sitting there for ages. Resoruces (CPU, GPU, Memory) are avialable in the cluster. The job's image is on docker hub, so no authentication issues should appear.

Here

[2019-01-31 17:38] johnugeorge commented on #358
I doubt, it is a problem with template parsing.  See ConfigMap example in https://github.com/kubeflow/katib/blob/master/examples/grid-example.yaml and usage in https://github.com/kubeflow/katib/blob/master/examples/grid-example.yaml

To debug, can you also try by directly pasting template code using RawTemplate field and run StudyJob again ?

[2019-01-31 19:41] andreyvelich commented on #353
@llegolas For me it works on kubeflow41x namespace.
What kind of images are you using for vizier and ui? It was fix 2 weeks ago.

[2019-01-31 19:43] richardsliu commented on #319
Roadmap: https://github.com/kubeflow/katib/pull/348
Issues for 0.5: https://github.com/kubeflow/katib/issues?utf8=%E2%9C%93&q=+label%3Aarea%2F0.5.0+

For 0.5, I think the P0 goals should be:
- enhance the status fields
- enable running katib jobs in different namespaces

The P1 goal is to explore integration with fairing.

@johnugeorge @YujiOshima @gaocegege @hougangliu WDYT?

[2019-02-01 05:38] YujiOshima commented on #319
@richardsliu Thanks, I agree with P0 goals.

Does it mean integration with jupyter? pipeline? or both?

[2019-02-01 07:10] llegolas commented on #353
[code]

[2019-02-01 07:32] toshiiw opened #359 "CI seems to be running on somewhere else than $CLUSTER_NAME"
test/scripts/unit-test.sh creates a mysql pod for testing. During #352 it was found to contain some older DB schema, resulting a failed unit test.
I created #357 to investigate the issue. As I changed the kubeconfig set up script to just use "gcloud container clusters get-credentials ${CLUSTER_NAME}", I got this error

[code]

I think the mysql pod used to run on the cluster where argo ran.

[2019-02-01 07:33] toshiiw commented on #359
Just using the default namespace and also modifing run-test.sh seems to be the way to go.
Am I right?

[2019-02-01 07:37] YujiOshima commented on #359
@richardsliu @jlewi do you have any ideas?

[2019-02-01 08:04] llegolas commented on #353
using katib-ui:v0.1.2-alpha-119-gf11c13e now and it works it seem.

[2019-02-01 14:45] juan-sv commented on #358
Hello,

I'm using same installation as Marcel and the command line isn't working either.
   kubectl create -f https://raw.githubusercontent.com/kubeflow/katib/master/examples/random-example.yaml -n kubeflow
I get the message:
   studyjob.jubeflow.org "random-example" created

but nothing shows in Study List.

Thanks for your help,
Juan

[2019-02-01 18:59] richardsliu commented on #359
It is probably running under the kubeflow-testing cluster. I will look at your fix.

[2019-02-02 01:02] andreyvelich commented on #353
@llegolas Yes. Please use the same image as here:
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/katib/prototypes/all.jsonnet#L10

[2019-02-03 01:06] hougangliu commented on #358
do you mean `kubectl get studyjob -n kubeflow` show nothing?

[2019-02-04 09:34] juan-sv commented on #358
Hello,

`kubectl get studyjob -n kubeflow` displays the job but seems that it took several hours to create (AGE is one day less than other tests we tried some minutes before). There are four studyjobs listed, but only one is displayed on the Katib UI.

Is there any way to check the status of these jobs?

Thanks,

[2019-02-04 09:50] johnugeorge commented on #358
For status: `kubectl get studyjob <studyjobname> -n kubeflow -o yaml`

[2019-02-04 14:50] jlewi commented on #319
@richardsliu @johnugeorge Can we file issues related to all the work we want to get done in 0.5 for this CUJ and label them for 0.5 (and ideally add a cuj/hp-tuning label)?

Once we do that I think we can close this issue out.

Looks like there are currently 9 issues tagged in the kanban board for 0.5.
https://github.com/orgs/kubeflow/projects/4

[2019-02-04 22:44] richardsliu commented on #318
I believe this can be closed now.

[2019-02-04 22:54] YujiOshima commented on #318
We add the roadmap by #348. Thanks @richardliu!

/close

[2019-02-04 22:54] #318 closed

[2019-02-04 22:55] richardsliu commented on #319
I added an area/cuj label and put a bunch of additional issues to the kanban board. Closing this issue for now.

[2019-02-04 22:55] #319 closed

[2019-02-05 01:18] xyhuang commented on #351
/assign

[2019-02-06 03:16] toshiiw commented on #359
@richardsliu As I wrote in a comment in #360 , I'm having trouble getting a working kubeconfig.
The kubeconfig seems to lack a proper admin priviledge to create clusterrole things. Could you help?

[2019-02-07 02:39] anilreddyv commented on #340
@jax79sg can you share your deployment file please? I am running exactly same issue as you described **"[Note] Access denied for user 'UNKNOWN_USER'@'localhost' (using password: YES)"** with mysql:8.0.3 version . If I try using mariadb it is failing with following error, not sure what version mariadb you have tried it thou?

2019-02-07  2:25:25 0 [Note] InnoDB: If the mysqld execution user is auth

[2019-02-07 03:45] anilreddyv opened #361 "vizier-db fails to come up with readiness check failing"
There is something seems to be strange with mysql:8.0.3 version, pod readiness check fails with "Access denied for user 'UNKNOWN_USER'@'localhost' (using password: YES)":

We are using NFS volume and other mysql db is coming up fine with no issue, it is only vizier-db having trouble

vizier-db-6775d579b7-5rkgp                                0/1       Error              5          2m

2019-02-07T03

[2019-02-07 08:30] YujiOshima commented on #361
@anilreddyv Which are you using [this manufest](https://github.com/kubeflow/katib/blob/master/manifests/vizier/db/deployment.yaml)? or `ks pkg` [like this](https://www.kubeflow.org/docs/components/hyperparameter/) ?
Did you set up [the secrets manufest](https://github.com/kubeflow/katib/blob/master/manifests/vizier/db/secret.yaml)?

[2019-02-07 10:16] johnugeorge commented on #344
/assign

[2019-02-07 10:16] johnugeorge commented on #341
/assign

[2019-02-07 10:18] johnugeorge commented on #341
/area 0.5.0

[2019-02-07 10:19] johnugeorge commented on #347
/area 0.5.0
/assign

[2019-02-07 13:04] anilreddyv commented on #361
@YujiOshima I am using ks pkg (${KUBEFLOW_SRC}/scripts/kfctl.sh apply k8s) but I can always edit the deployment (deployment vizier-db) afterwards , for now I left the secrets to default.

[2019-02-08 21:53] epa095 opened #365 "Pass on resource limit/request"
I attempted to add resource limitation/request to the workerSpec by adding it to the spec.containers as show below, but this seems to be pruned somewhere on the way to k8s, because when I look at the generated jobs(and pods) they have empty resource limits/requests.

This is a bit unfortunate, as these limits are good way to limit the load on the cluster.

[code]

[2019-02-09 03:57] johnugeorge commented on #365
This is not expected. Did you verify the config of the generated workers?

[2019-02-09 11:30] epa095 commented on #365
I don't know exactly what you mean by that, but I have the following observations:
When I look at the studyjob by `kubectl  get studyjobs myjob -o yaml` the `resources` key is inside the `rawTemplate` with the correct values. When I look at a generated job by `kubectl  get jobs z7fa669d193714ea -o yaml` I see
under spec.template.spec.containers:
[code]
And this empty resources definition is then r

[2019-02-11 02:06] jlewi commented on #42
@garganubhav @johnugeorge @YujiOshima @gaocegege  Ping?

[2019-02-11 02:14] jlewi commented on #319
Renamed the label to [cuj/hp-tuning](https://github.com/kubeflow/katib/labels/cuj%2Fhp-tuning) to match other cuj labels.

[2019-02-11 04:37] gaocegege commented on #42
We do not have sufficient test coverage for algos, IMO. And it is hard to import tools to show the coverage since we allow different languages to write suggestions.

[2019-02-11 07:20] hougangliu commented on #358
/assign

[2019-02-12 01:32] YujiOshima commented on #365
@epa095 Indent of your yaml looks invalid.
The resources shuold be the same indent of image and command.

[2019-02-12 02:47] #358 closed

[2019-02-12 08:42] johnugeorge opened #370 "StudyJob v1alpha2 API version"
There are couple of changes that are suggested. We can incorporate all these changes in the next API version.

 - [x]  Consistent field naming #351 , #371
 - [x]  Extending Status fields to contain all conditions #344
 - [x]  Extending Status fields to have detailed info #356 #122
 - [x]  Renaming RequestNumber, RequestCount #161
 - [x] Custom TemplateSpec for workers/metrics #349
 - [x] StudyName

[2019-02-12 12:56] hougangliu commented on #370
@johnugeorge  please also add #349

[2019-02-12 13:41] epa095 commented on #365
Sigh, how embarrassing :-s Thanks @YujiOshima , what is indeed it, and now it works:-)

[2019-02-12 13:41] #365 closed

[2019-02-12 14:09] johnugeorge commented on #370
@hougangliu can you create an issue ?

[2019-02-12 14:18] hougangliu opened #371 "unify name style of api/studyjob field whose type is array in v1alpha2 API version"
now we have some API/filed whose type is array, some of them are named with plural type and some are named with List-suffix (such as below). I think we should name them with same style in v1alpha2 API.

rpc GetStudyList(GetStudyListRequest) returns (GetStudyListReply)
rpc GetTrials(GetTrialsRequest) returns (GetTrialsReply)

type StudyJobStatus struct {
...
**Trials []TrialSet `json:"trials,omitem

[2019-02-12 14:18] hougangliu commented on #370
@johnugeorge Done #371

[2019-02-12 14:27] johnugeorge commented on #370
It would be better if  all other current bigger PRs are reviewed and merged before moving to v1alpha2.  Else, PRs need be modified for newer version too.

PRs which should be reviewed and merged:

@YujiOshima  #362 #352
@DeeperMind #339 #345
@Akado2009  #328

[2019-02-12 20:28] richardsliu commented on #370
How about #346 ? It might require some API changes too.

#341 is not API related but would require controller side changes, and would be good to add as well.

[2019-02-13 01:29] YujiOshima commented on #370
https://github.com/kubeflow/katib/issues/291 is also a big change for the logic of controller.
It would be good to add.

[2019-02-13 02:13] johnugeorge commented on #370
@YujiOshima @richardsliu i was listing out issues that need API changes. Except  #346(not finalized yet), other mentioned issues are already tagged with 0.5.0 which can be tracked separately.  Other than issues included in https://github.com/kubeflow/katib/issues/370#issuecomment-462779691,  we will get all new controller changes in v1alpha2.

[2019-02-13 02:24] YujiOshima commented on #370
@johnugeorge OK, Thanks.

Every PRs include changes of DB scheme are blocked by https://github.com/kubeflow/katib/issues/359 .
First of all, we should fix this. See https://github.com/kubeflow/katib/pull/360

[2019-02-13 05:51] hougangliu opened #372 "need validate nasConfig"
Now for a studyjob, we never check if a nasConfig is valid or not.
#339 is nasrl suggestion service, which always expects graphConfig (numlayers, input size,outputsize) and operations field present. we need validate nasconfig filed before store studyjob info into db.

@andreyvelich WDYT?

[2019-02-13 05:55] hougangliu commented on #372
/cc @DeeperMind

[2019-02-13 18:50] andreyvelich commented on #372
@hougangliu
This is a good point!
Do you think, we should check it in the controller step?
For example, if something wrong with nasConfig structure, studyJob status should be Failed and controller should stop the job?

[2019-02-13 19:04] andreyvelich commented on #257
/area nas

[2019-02-13 19:04] andreyvelich commented on #272
/area nas

[2019-02-13 19:05] andreyvelich commented on #338
/area nas

[2019-02-13 19:05] andreyvelich commented on #266
/area nas

[2019-02-13 19:06] andreyvelich commented on #293
/area nas

[2019-02-13 19:12] andreyvelich commented on #372
/area nas

[2019-02-13 19:27] andreyvelich opened #373 "UI for Katib-NAS system"
We should create UI for Katib-NAS system. Right now, Katib UI supports only HP jobs. We should divide it in two different pages (for NAS jobs and for HP jobs).
/assign @Akado2009
/area nas
Related to: https://github.com/kubeflow/katib/issues/257

[2019-02-13 19:32] johnugeorge commented on #372
See validateStudy  in https://github.com/kubeflow/katib/blob/f11c13e8c65a9236afe2878e5c915a1c769ad52b/pkg/controller/studyjob/katib_api_util.go#L28

[2019-02-13 19:36] andreyvelich commented on #372
@johnugeorge
Thats cool!
Should I add a part there for the NAS job ?

[2019-02-13 19:48] alexandraj777 opened #374 "Don't run full testing suite for docs/ changes"
PR #369 added a few links to [docs/developer-guide.md](https://github.com/kubeflow/katib/blob/master/docs/developer-guide.md), and was not expected to have any effects on katib code. However, a full test suite was required to pass before merging the PR. Due to repeated test failures, the suite needed to be run three times before passing.

Blocking docs changes on full test failures may discourage

[2019-02-13 19:51] johnugeorge commented on #374
/cc @jlewi

[2019-02-13 23:39] richardsliu commented on #341
I looked a bit into this, seems like we are dependent on other operator binaries in a few ways:

1. Watch on resources. Currently we are doing:
[code]
Instead, can we do something like:
[code]

2. Get/Delete resources at runtime, e.g. https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/studyjob_controller.go#L313

Seems like these calls just need a pointer to a runtime.Object, an

[2019-02-14 00:36] jlewi commented on #374
You can use include_dirs in the prow_config to only trigger an E2E test if files in certain directories are changed.
https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml#L24

[2019-02-14 01:19] alexandraj777 commented on #374
Excuse me for not knowing, but what is an E2E test? End-to-end?

[2019-02-14 01:52] YujiOshima commented on #356
/assign

[2019-02-14 01:58] YujiOshima commented on #136
/area 0.5.0

[2019-02-14 01:58] YujiOshima commented on #136
/assigm

[2019-02-14 01:59] YujiOshima commented on #136
We should unify the name of components to katib.

[2019-02-14 04:01] johnugeorge commented on #341
I had a look at this earlier.
From my quick code walk,
1,2,3 can solved using unstructured.   It needs higher controller-runtime version. It is now possible as we had upgraded k8s version of operators.

Can you explain your solution for 4? Unstructured might work for 4. Not sure about it.

 I will raise a PR this week wrt to version upgrade in katib which is a pre requisite and then take this up.

[2019-02-14 04:08] YujiOshima commented on #341
For 1, Do we need to watch each job type with unstructured?

[code]

then

[code]

and for Job, CronJob?

For 4, I agree with @johnugeorge .

[2019-02-14 05:30] richardsliu commented on #341
For 4, we are trying to decode the yaml into a specific job instance, and raise an error if the decoding fails. Another place where we use this is https://github.com/kubeflow/katib/blob/master/pkg/controller/studyjob/utils.go#L83.

What if katib skips this altogether and just use unstructured to create the job instance? Then just let the specific operator handle marshalling errors. Does that work?

[2019-02-14 05:32] #359 closed

[2019-02-14 07:48] YujiOshima commented on #341
@richardsliu Thanks. Though I haven't checked, we may be able to use `UnstructuredJSONScheme` of `k8s.io/apimachinery/pkg/apis/meta/v1/unstructured` for decoding unstructed obj.

[2019-02-14 08:14] johnugeorge commented on #341
Agree.

[2019-02-14 12:09] YujiOshima opened #377 "Usability for datascientists"
@johnugeorge pointed https://github.com/kubeflow/katib/pull/375#issuecomment-463566604

I agree that writing StudyJob CR is difficult for data scientists.
IMO, data scientist will use Katib from WebUI or Jupyter integration instead of writing complex yamls.
The API of StudyJob CRD is for k8s specialists who develop and manage an infra system for ML.
So it should be flexible and customizable for th

[2019-02-15 00:50] hougangliu opened #380 "StudyName field is unnecessary"
When create a studyJob, we need specify its name in metadata.name. But we have studyName filed in studyJob.spec, too. I think .spec.StudyName is unnecessary. We can remove it.

[code]

[2019-02-15 02:00] andreyvelich opened #382 "Support parallel StudyJobs in the NAS job"
Currently RL Suggestion for the NAS tasks doesn't support more than one StudyJob in the same time. We should change this suggestion to make it possible.
/assign @DeeperMind
/area nas

[2019-02-15 02:41] johnugeorge commented on #380
@YujiOshima Was there some discussion about this before?

[2019-02-15 03:17] YujiOshima commented on #380
@johnugeorge @hougangliu We have discussed this here https://github.com/kubeflow/katib/pull/152#discussion_r212744338 .
In this PR https://github.com/kubeflow/katib/pull/352 I try to add `reusestudyid` field.
From this PR, we will use `StudyName` only when creating study and use `reusestudyid` in a studyjob for an existing study.
If we merge metadata.name and .spec.StudyName, I worry about a situa

[2019-02-15 04:12] hougangliu commented on #380
@YujiOshima As you say, when we create a studyjob with `reusestudyid`. It will use an existing study. If we don't remove  spec.StudyName. the metadata.name of the studyjob and the name of study corresponding to the studyjob will be different (this is really confusing).

for now, I have no idea what we can use spec.StudyName for.

[2019-02-15 05:08] johnugeorge commented on #380
i agree with @hougangliu. as in the comment, do we really need to support "You can create multiple StudyJob for the same Study."

[2019-02-15 05:19] gaocegege commented on #377
I agree with @YujiOshima , I think the design of API should be flexible and we can use UI to hide some details of the system, just like what tf-operator does.

[2019-02-15 05:26] gaocegege commented on #346
I am thinking if we could implement trial as a CRD. Then we could have two CRDs: StudyJob and Trial. And the relation of the two resources is similar to Job and Pod. In this way, we could fix this issue natively. Besides this, there are some other benefits:

- Make managing resources of katib easier
- Easy to implement the UI (Just CRUD two Kubernetes CRs)
- More K8s native

/cc @YujiOshima @johnu

[2019-02-15 05:29] YujiOshima commented on #380
@johnugeorge I think it is needed.

The use cases are
* To get initial values for bayesian opt, running random or manual studyjob. After that, run bayesian opt job reusing the StudyID.
* Want to retry or try another algorithm after a job is completed. And need to see all results on the same graph in UI
* Add a trail manually during job running since the algorithm doesn't search near the trial.

Ho

[2019-02-15 05:42] johnugeorge commented on #380
I see.  I didn't realize that you meant reuseStudy by that comment.

[2019-02-15 05:53] hougangliu commented on #380
@YujiOshima
I think moving `.spec.StudyName` to `.status.StudyName` is ok, which is filled by studyjob controller automatically.
I just wonder if we even drop .status.StudyName, is there any problem? or when we keep .status.StudyName, what this field we plan to use for?

[2019-02-15 06:08] YujiOshima commented on #380
@johnugeorge @hougangliu I expected that users can know which study the job working for easily by `.status.StudyName`.  But we can get it by `.status.StudyId` and it is enough.
We can drop `.status.StudyName`.

[2019-02-15 07:42] gaocegege commented on #136
/assign @YujiOshima

[2019-02-15 07:43] gaocegege commented on #374
@alexandraj777 Yeah, End to end.

[2019-02-15 08:17] gaocegege commented on #272
Could we define NAS Job as a CRD to make use of kubectl as our CLI?

@andreyvelich

[2019-02-15 08:32] johnugeorge commented on #346
Interesting idea. Can you create a proposal with more details?

[2019-02-15 16:50] jayunit100 opened #384 "Reintroduce vendoring"
# Why vendoring is critical

- Airgapped places and people building release candidates need all the dependencies, and cant rely on the internet (even if its available - see the next bullet
- In upstream kubernetes, we were burnt pretty bad with https://github.com/kubernetes/kubernetes/issues/65871 , so, as we move to more stable , independently runnable katib releases, we'll definetly want a herme

[2019-02-15 19:23] bjones325 commented on #71
Has there been any progress on this? I am looking to attach a python algorithm and am running into difficulties with the new suggestion spec being recognized. Thanks :)

[2019-02-15 21:46] andreyvelich commented on #272
@gaocegege
Right now, yes we can.
But, if we want to implement some other functionality to NAS Job, that kubectl can't provide, we should create our own CLI.

[2019-02-17 04:22] jayunit100 opened #386 "More metadata and object updates for trials."
1. How can we get a list of all the trials along with the objective values?
- Can't use GetTrials, Get Study .  obj values arent in there
related...
2. Should we be using the grpc or rest api (i.e are some fields only available from one or the other endpoint type)   ?

[2019-02-17 04:23] jayunit100 commented on #386
cc @johnugeorge

[2019-02-17 06:31] johnugeorge commented on #386
Looks like 'objective_value' field in 'trials' table (https://github.com/kubeflow/katib/blob/master/pkg/db/db_init.go#L38) is not updated.

[2019-02-17 19:19] jdplatt commented on #386
Our response looks like this

[code]

[2019-02-17 19:25] jdplatt commented on #386
One other issue we ran into here when trying to create a plot of how the best value of the metric we are tuning for increases over time was that it's not clear how the trials are ordered. Are they in order of when they were started, when they finished, or some other order? It might be worth adding an extra field to clarify the order the trials were generated in

[2019-02-17 19:43] jdplatt commented on #230
Can I get a few more details on what is required here? I'm not sure if you are looking for a set of unit tests to make sure the BO code runs correctly, or more of a benchmark on a standard ML tasks to compare the performance of BO with something simpler like random search. Either way I am happy to help out.

[2019-02-18 01:44] hougangliu opened #388 "[feature] Use zip as log package"
now katib uses golang log package `log`, which doesn’t have leveled logs and  a way to turn these various levels on or off.
maybe (glog)[https://github.com/golang/glog] is a good candidate

[2019-02-18 02:54] johnugeorge commented on #230
Thanks @jdplatt   This issue is to track unit tests for BO algo. See unit tests for other algos https://github.com/kubeflow/katib/tree/master/pkg/suggestion

[2019-02-18 03:00] johnugeorge commented on #386
Currently, order is not specified in the getTrials query. https://github.com/kubeflow/katib/blob/master/pkg/db/interface.go#L348

[2019-02-18 13:37] jdplatt commented on #386
Ok. I think we need to add this to make it possible to analyze the study and decide when to stop it. I'll raise in the other issue discussing the new API specs.

[2019-02-18 14:01] jdplatt commented on #230
I took a look at the code and have a few questions:

1. Do you have any existing unit tests for python code in the repo? I couldn’t find any but wanted to double check. If there are I’ll make sure to follow the existing workflow.
2. I have a few questions about the structure (e.g. why do each of the other algorithms get their own service while the BO service contains multiple algorithms) and what

[2019-02-18 15:09] johnugeorge commented on #230
/cc @YujiOshima

[2019-02-19 02:24] andreyvelich commented on #372
/assign

[2019-02-19 04:01] YujiOshima commented on #230
@jdplatt Thank you!
Unfortunately, we don't have a test with python in the repo.  We want a function level unit test for BO. Please use some libraries like  `unittest`.
The algorithm level test will be defined [here](https://github.com/kubeflow/katib/blob/master/test/e2e/test-client.go). This code will call API and test end to end algorithms. It is an advanced task.

You are right. It would be bet

[2019-02-19 07:13] YujiOshima commented on #388
We planned to use [zap](https://github.com/uber-go/zap) https://github.com/kubeflow/katib/issues/112 .
/assign

[2019-02-19 07:40] hougangliu opened #390 "tolerate a worker fails"
now when a worker failed, we mark studyjob failed, too. But for some case, if we re-create another worker, everything may work well (for example, the worker is killed by eviction policy or node error, if the worker is scheduled to other node, everything can work). Maybe for a trial, when a worker failed, we can re-create another one until max-fail-time to mark  studyjob `Failed`. So in this case,

[2019-02-19 13:23] jlewi commented on #317
@johnugeorge @richardsliu is the long term fix #341? Can we close this issue?

[2019-02-19 18:44] jlewi commented on #384
Are you proposing this just for Katib or more generally?

/cc @richardsliu @johnugeorge

[2019-02-19 19:19] johnugeorge commented on #384
Yeah. we haven't followed consistent style across packages. eg: TF/Pytorch operators are vendored. But, MPI-operator, Katib are not vendored currently.

[2019-02-20 01:44] DeeperMind opened #395 "Store the checkpoint of suggestion in PVC"
Currently the reinforcement learning suggestion stores the checkpoint inside the pod. In this way, however, all the job information will be lost if the suggestion pod is terminated unexpectedly. Therefore, it is more advisable to store the checkpoint in PVC.

/assign @DeeperMind
/area nas

[2019-02-20 01:47] DeeperMind opened #396 "Add support for multiple trials"
Currently the reinforcement learning suggestion only spawns one trails each time. It is necessary to integrate the support for multiple trials so that the training can be parallelized.

/assign @DeeperMind
/area nas

[2019-02-20 01:52] DeeperMind commented on #338
/assign

[2019-02-20 01:59] andreyvelich opened #397 "Add time to Trial API"
After this PR https://github.com/kubeflow/katib/pull/394 we will store create time in the Trial table.
We should modify Katib API to be able to get this time through gRPC server.
See comment: https://github.com/kubeflow/katib/pull/328#discussion_r257864354
/assign
/area nas

[2019-02-20 17:40] #314 closed

[2019-02-20 17:45] richardsliu commented on #384
I agree, we should follow a consistent standard across our operators and introduce proper vendoring.

[2019-02-21 00:53] #338 closed

[2019-02-21 01:01] andreyvelich opened #400 "Build image for RL Suggestion"
We should add script to automatically build image for RL Suggestion.
/area nas
/assign

[2019-02-21 23:45] opus111 opened #403 "Help Wanted: Example code for StudyJob"
This is not a bug, but perhaps missing documentation

I want to use do basic HyperParameter optimization with Katib.  I did the tutorials, and read all the docs.  Unfortunately, the tutorials just load existing Docker images.  They do not explain how to implement your own StudyJob.

I could not find any example code that explains how a StudyJob interacts with Katib.  How does it get its parameters

[2019-02-22 02:59] johnugeorge commented on #403
Please follow the doc at https://www.kubeflow.org/docs/components/hyperparameter/

[2019-02-22 03:01] johnugeorge commented on #403
One sample example that is using random algorithm: https://github.com/kubeflow/katib/blob/master/examples/random-example.yaml

[2019-02-22 04:01] johnugeorge commented on #390
Doesn't this depend on the worker type? Eg: TF/Pytorch has restartPolicy field. If Onfailure is set, job is restarted when failure occurs. With backofflimit(https://github.com/kubeflow/tf-operator/issues/550), we should be able to limit the restart limit for a failing job.

[2019-02-22 19:51] opus111 commented on #403
Thank you Johnu.  Yes, those are the documents I read, and the instructions I followed.

Perhaps I am missing it, but nowhere in those docs are instructions for how to write your own StudyJob.  They show how to install Katib, and then run several pre-built examples.  It does not have any links to the code that created those examples, or documentation on how the code works.

There must be the equiv

[2019-02-22 20:33] opus111 commented on #403
OK.  I found this...

https://github.com/kubeflow/katib/blob/master/docs/developer-guide.md

In which is says this...

Implement new suggestion algorithm
Suggestion API is defined as GRPC service at API/api.proto. You can attach new algorithm easily.

    implement suggestion API

    make k8s service named vizier-suggestion-{ algorithm-name } and expose port 6789
    And to add new suggestion ser

[2019-02-23 00:00] jdplatt opened #407 "Move all suggestion algorithms to python"
What do you think of moving all of the code in pkg/suggestion used to generate suggestions to python? Right now three of the algorithms (grid, random, hyperband) are in go while two (rf + gp) are in python. I think the advantages of a single language would be:

1. It would open up the option of using combinations of the algorithms. For example, with the the gp algorithm it is common to use somethi

[2019-02-23 15:26] anilreddyv commented on #361
I was able to get around by adding "-u root" to mysql readinessProbe.

- mysql -u root -D $$MYSQL_DATABASE -p$$MYSQL_ROOT_PASSWORD -e 'SELECT 1'

[2019-02-23 15:26] #361 closed

[2019-02-25 08:19] YujiOshima commented on #403
@opus111 The `api.proto` is [this](https://github.com/kubeflow/katib/blob/master/pkg/api/api.proto)
Thank you for pointing it. We should fix `API/api.proto` to `pkg/api/api.proto`.

[2019-02-26 00:37] andreyvelich commented on #400
We can close it, since PR https://github.com/kubeflow/katib/pull/401 was merged.

[2019-02-26 00:37] #400 closed

[2019-02-26 20:09] opus111 opened #412 "HELP WANTED: Starting Katib StudyJob"
Hello I am having trouble starting a StudyJob.  I think I am creating the Docker and YAML properly, and there are no complaints when it is created
[code]
However, the job does not appear in my Katib UI StudyJob List.  I am also not finding any associated logs or errors in the Kubernetes UI

How do I debug this?

Many thanks
P

[2019-02-27 00:32] #397 closed

[2019-02-27 00:39] hougangliu commented on #412
please  share content of katib-test.yaml

[2019-02-27 00:48] opus111 commented on #412
Thanks.  Here you go
[code]
And here is the trivial code I am running in my Docker
[code]
And my Dockerfile
[code]

[2019-02-27 01:09] hougangliu commented on #412
show me `kubectl -n kubeflow studyjob katib-pw6 -o yaml`

[2019-02-27 01:16] andreyvelich opened #413 "Add StopSuggestion service in Katib API"
Right now, we don't have service to stop Suggestion. We should create new API, called ```StopSuggestion```. For example, if after complete one StudyJob session we have to clear something inside Suggestion service. In NAS RL service we have to clear dictionary after StudyJob is finished.
See commentary: https://github.com/kubeflow/katib/pull/404#discussion_r260087490.
What do you think? @YujiOshima

[2019-02-27 02:46] johnugeorge commented on #413
API name is confusing. StopSuggestion term gives idea of stopping algorithm service

In general, are we moving to a stateful API design? Can this be solved in a different way?

[2019-02-27 02:59] opus111 commented on #412
[code]

[2019-02-27 03:05] #382 closed

[2019-02-27 03:08] hougangliu commented on #412
sorry, typo error, please run `kubectl -n kubeflow get studyjob katib-pw6 -o yaml`

[2019-02-27 03:12] opus111 commented on #412
Ahh..
[code]

[2019-02-27 03:15] opus111 commented on #412
Running the Docker on my laptop
[code]

[2019-02-27 03:20] hougangliu commented on #412
it seems that studyjob-controller pod doesn't work, please show me 'kubectl get po -n kubeflow'
if studyjob-controller-xxxx pod status is not `Running`, also show me `kubectl logs studyjob-controller-xxxx -n kubeflow`

[2019-02-27 03:26] opus111 commented on #412
Here is the line
[code]
and
[code]
How could you tell studyjob-controller was broken from the YAML dumped above?

[2019-02-27 03:33] opus111 commented on #412
The other possibly interesting thing is that some of the errors refer the metric "foo" and some "z".  I had a metric "foo" earlier in the day but replaced it with "z" many hours ago
[code]

[2019-02-27 03:37] hougangliu commented on #412
I see. There is an issue of studyjob (which has been fixed in latest code) in kubeflow 0.4.0. as a workaround, please delete all existing studyjob. and re-run ` kubectl create -f katib-test.yaml`

Note: an invalid studyjob manifest will trigger the issue

[2019-02-27 03:51] opus111 commented on #412
Thank you very very much!

What is the correct way to delete all the study jobs?

[2019-02-27 04:16] hougangliu commented on #412
kubectl get studyjob -n kubeflow |awk '{print $1}' | kubectl -n kubeflow delete studyjobb

[2019-02-27 13:57] opus111 commented on #412
Terrific, that worked!

I fixed my YAML.  The problem was
[code]
should be
[code]
Now it work :-D

Thank you again for all your help!

[2019-02-27 22:37] opus111 opened #414 "Katib Jupyter notebook crash caused by argparse"
Got the following when I tried to run some code in a cell.  Code used argsparse.  All args are using default values

[code]

[2019-02-27 23:29] hougangliu commented on #412
I see, In fact, you only need quote y (y is too special in yaml world, yaml will take it as true, which is bool type, however objectivevaluename should be string)

[2019-02-28 05:21] andreyvelich commented on #413
@johnugeorge We can name it EndSuggestion or something else. The problem is, right now, Controller doesn't run GetSuggestion method after last Trial finished. It is not possible to make some changes in suggestion service after creating last Trial.

[2019-02-28 09:42] johnugeorge commented on #414
Please provide more details on environment and on what you are trying to do

[2019-03-01 02:08] YujiOshima commented on #407
Thanks @jdplatt.

I don’t want to merge suggestion services because of robustoness for whole system.
In currently archtecture, a failure of a service won't affect other services.
And user can add thier custom algorithm service without restarting any services.

But we have big motivation to move python. We can reuse code in several algorithm and enrich algorithm with many liblaries in python.

[2019-03-01 02:54] #403 closed

[2019-03-01 12:56] jdplatt commented on #407
That makes sense. I'll aim to migrate the suggestion code to python but make sure it's possible to run each of the suggestion algorithms in a separate service.

[2019-03-01 19:04] richardsliu commented on #407
Makes sense to me.
@gaocegege @johnugeorge

[2019-03-02 05:06] johnugeorge commented on #407
@YujiOshima What failures do you anticipate?

With the current design, I see the advantage of adding custom algorithm service without restarting the service. However, I agree with @jdplatt Point 2.  I feel that It is not a scalable solution to add wide range of algorithms. Eg: In https://github.com/tobegit3hub/advisor, 17 algorithms are listed which would need 17 pods in our case.  What do you thi